Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

Factor out common formats strings in LogFormatter, LogFormatterExponent.
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

Privatize axis.converter attribute
  lib/matplotlib/axis.py
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_units.py
Labels: GUI: Qt, topic: ticks axis labels

[doc] fix references to new API
  doc/api/axis_api.rst
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

Add marimo to interactive.rst
  galleries/users_explain/figure/interactive.rst
Labels: none

Fix video codecs for some formats with ffmpeg
  lib/matplotlib/animation.py
Labels: topic: animation

anim: Only pre-composite formats that are opaque
  lib/matplotlib/animation.py
Labels: topic: animation

Enables setting hatch linewidth in Patches and Collections, also fixes setting hatch linewidth by rcParams (#28048)
  doc/api/next_api_changes/deprecations/28048-PR.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_patches.py
Labels: backend: pdf, backend: ps, backend: svg, topic: canvas and figure manager, topic: collections and mappables

Add explicit converter setting to Axis (#28970)
  doc/api/axis_api.rst
  lib/matplotlib/axis.py
  lib/matplotlib/axis.pyi
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_units.py
Labels: GUI: Qt, topic: ticks axis labels

lock numpy<2.1 for environment.yml
  environment.yml
Labels: none

Add support for selecting/de-selecting polygon
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

Cleanup converter docs and StrCategoryConverter behavior
  galleries/users_explain/axes/axes_units.py
  lib/matplotlib/category.py
  lib/matplotlib/tests/test_category.py
Labels: topic: categorical

[DOC] Update missing-references.json
  doc/missing-references.json
Labels: none

Cleanup converter docs and StrCategoryConverter behavior (#29059)
  galleries/users_explain/axes/axes_units.py
  lib/matplotlib/category.py
  lib/matplotlib/tests/test_category.py
Labels: topic: categorical

Github stats v3.10.0rc1
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.9.0.rst
  doc/users/prev_whats_new/github_stats_3.9.2.rst
Labels: none

Backport PR #29024: Fix saving animations to transparent formats
  lib/matplotlib/animation.py
Labels: topic: animation

implemented MarkerStyle.register and relative tests
  lib/matplotlib/markers.py
  lib/matplotlib/markers.pyi
  lib/matplotlib/tests/test_marker.py
Labels: topic: markers

DOC: Update docstring of triplot()
  lib/matplotlib/tri/_tripcolor.py
Labels: topic: tri

integrated pr workflow from contributing guide into install and workflow
  doc/devel/contribute.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/devel/pr_guide.rst
Labels: Documentation: devdocs

[DOC] Fix indentation in sync_cmaps example
  galleries/examples/images_contours_and_fields/multi_image.py
Labels: Documentation: examples

Backport PR #29068: [DOC] Fix indentation in sync_cmaps example
  galleries/examples/images_contours_and_fields/multi_image.py
Labels: Documentation: examples

Backport PR #29048: DOC: integrated pr workflow from contributing guide into install and workflow
  doc/devel/contribute.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/devel/pr_guide.rst
Labels: Documentation: devdocs

Update galleries/examples/subplots_axes_and_figures/secondary_axis.py
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

DOC: Replaced green with blue
  galleries/examples/widgets/check_buttons.py
Labels: Documentation: examples

contribution to strint issue in artist.py
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

Added casses I missed to fix
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

Document how to discourage API
  doc/devel/api_changes.rst
Labels: Documentation: devdocs

DOC: Replaced colormap for colorblindness
  galleries/examples/images_contours_and_fields/image_demo.py
Labels: Documentation: examples

Document "none" as color value
  galleries/users_explain/colors/colors.py
Labels: none

Backport PR #29081: Document "none" as color value
  galleries/users_explain/colors/colors.py
Labels: none

FIX: Update GTK3Agg backend export name for consistency
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: GUI: gtk

Updates galleries/user_explain/figure/ files in response to issue #28920
  galleries/users_explain/figure/event_handling.rst
  galleries/users_explain/figure/interactive.rst
  galleries/users_explain/figure/interactive_guide.rst
Labels: none

DOC: escape broken cross links
  galleries/users_explain/figure/event_handling.rst
Labels: none

Backport PR #29065: DOC: Update docstring of triplot()
  lib/matplotlib/tri/_tripcolor.py
Labels: topic: tri

DOC: Format aliases in kwargs tables
  lib/matplotlib/artist.py
Labels: none

Backport PR #29085: FIX: Update GTK3Agg backend export name for consistency
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: GUI: gtk

Backport PR #29088: DOC: Format aliases in kwargs tables
  lib/matplotlib/artist.py
Labels: none

DOC: fix link in See Also section of axes.violin
  lib/matplotlib/axes/_axes.py
Labels: none

remove explicit targets and ~
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

Backport PR #29071: Bump pypa/gh-action-pypi-publish from 1.10.3 to 1.11.0 in the actions group
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel

Backport PR #29094: DOC: fix link in See Also section of axes.violin
  lib/matplotlib/axes/_axes.py
Labels: none

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'
