Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'

ENH: add back/forward buttons to osx backend move
  src/_macosx.m
Labels: GUI: MacOSX

Backport PR #29097: ENH: add back/forward buttons to osx backend move
  src/_macosx.m
Labels: GUI: MacOSX

MNT: remove _ttconv.pyi
  lib/matplotlib/_ttconv.pyi
  lib/matplotlib/meson.build
Labels: none

Backport PR #29099: MNT: remove _ttconv.pyi
  lib/matplotlib/_ttconv.pyi
  lib/matplotlib/meson.build
Labels: none

Modify Axes.clear() to remove data while preserving layout and formatting
  lib/matplotlib/axes/_base.py
Labels: topic: axes

Add documentation for view_init() angles
  galleries/examples/mplot3d/2dcollections3d.py
  galleries/examples/mplot3d/box3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: Documentation: examples, topic: mplot3d

Use old stride_windows implementation on 32-bit builds
  lib/matplotlib/mlab.py
Labels: none

Add "standard" Axes wrapper getters/setters for Axis invertedness.
  doc/api/axes_api.rst
  doc/api/toolkits/mplot3d/axes3d.rst
  doc/users/next_whats_new/axis_inversion.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.pyi
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: axes, topic: mplot3d

Fixed #24617 and #25091-Fixed pre commit issues in getter setter for subplot param and figsize
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/tests/test_figure.py
Labels: topic: figures and subfigures

Convert RGBA array to list if it is a numpy ndarray in Colormap class
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

DOC: Switch nested pie example from cmaps to color_sequences
  galleries/examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation: examples

Backport PR #29120: DOC: Switch nested pie example from cmaps to color_sequences
  galleries/examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation: examples

Backport PR #29120: DOC: Switch nested pie example from cmaps to color_sequences
  galleries/examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation: examples

MNT: Refactor from_levels_and_colors()
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

Tweak AutoMinorLocator docstring.
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

Make ListedColormap.monochrome a property
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps

Raise warning if both c and facecolors are used in scatter plot. In the future we may implement c as edgecolors in that case or cause plot to fail.
  lib/matplotlib/axes/_axes.py
Labels: none

Corrected flake8 formatting warnings.
  lib/matplotlib/axes/_axes.py
Labels: none

Removed offending whitespace and extra line.
  lib/matplotlib/axes/_axes.py
Labels: none

Backport PR #29128: Tweak AutoMinorLocator docstring.
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

Consistent color parameters for bar()
  lib/matplotlib/axes/_axes.py
Labels: none

MNT: Debug fig_size change after window close
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

MNT: Temporarily skip failing test to unbreak CI
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

Update cbook.py
  lib/matplotlib/cbook.py
Labels: none

enhanced docs and added note for follow-up PR
  doc/users/next_whats_new/separated_hatchcolor.rst
  lib/matplotlib/collections.py
Labels: topic: collections and mappables

Update cbook.py
  lib/matplotlib/cbook.py
Labels: none

Uptade fix number of levels with log contour
  lib/matplotlib/contour.py
Labels: topic: contour

Corrected old test that qualified for the new warning.
  lib/matplotlib/tests/test_legend.py
Labels: none

Check pressed mouse buttons in pan/zoom drag handlers.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/tests/test_backend_bases.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: canvas and figure manager, topic: mplot3d

Backport PR #29134: MNT: Temporarily skip failing test to unbreak CI
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

added default param for subplotparams in figure.pyi
  lib/matplotlib/figure.pyi
Labels: topic: figures and subfigures

Added tests for 100 percent coverage
  lib/matplotlib/tests/test_figure.py
Labels: none

Added tests for get/set subplot params
  lib/matplotlib/tests/test_figure.py
Labels: none

Fix trailing whitespace.
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

Backport PR #29080: Updates the `galleries/tutorials/artists.py` file in response to issue #28920
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

Deprecate ListedColormap(..., N=...) parameter
  doc/api/next_api_changes/deprecations/29135-TH.rst
  lib/matplotlib/cbook.py
  lib/matplotlib/cbook.pyi
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, topic: contour

Fix static issue
  lib/matplotlib/axes/_axes.py
Labels: none

Addition of algorithm to populate the segment mid-point with the segment number created by 'skimage.segmentation.quickshift(...)': --------------------------------------------------
  lib/matplotlib/axes/_axes.py
  seg_numbering.py
Labels: none

Use both TCL_SETVAR and TCL_SETVAR2 for tcl 9 support
  src/_tkagg.cpp
  src/_tkmini.h
Labels: GUI: tk

DOC: word choice in error message
  src/_tkagg.cpp
Labels: GUI: tk
