Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'

Fix polar error bar cap orientation
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_errorbar.png
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
  lib/matplotlib/transforms.pyi
Labels: topic: transforms and scales

Backport PR #28925: TST: handle change in pytest.importorskip behavior
  lib/matplotlib/tests/test_rcparams.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

improved documentation of quvier plot
  lib/matplotlib/quiver.py
Labels: none

FIX: macos: remove our custom PyOS_InputHook after our runloop stops
  src/_macosx.m
Labels: GUI: MacOSX

Update lib/matplotlib/tests/test_quiver.py
  lib/matplotlib/tests/test_quiver.py
Labels: none

Update lib/matplotlib/quiver.py
  lib/matplotlib/quiver.py
Labels: none

Colorizer class
  lib/matplotlib/artist.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/image.py
Labels: topic: collections and mappables, topic: color/color & colormaps, topic: images

changes to keyword parameter ordering
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
Labels: topic: collections and mappables, topic: images, topic: pyplot API

adjustments based on code review
  lib/matplotlib/colorbar.py
  lib/matplotlib/colorizer.py
Labels: topic: color/color & colormaps

colorizer keyword on plotting functions with typing
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/cm.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/colorbar.pyi
  lib/matplotlib/colorizer.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/contour.py
  lib/matplotlib/contour.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/image.py
  lib/matplotlib/image.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/use_colorizer_keyword.png
  lib/matplotlib/tests/test_axes.py
  tools/boilerplate.py
Labels: topic: axes, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: figures and subfigures, topic: images, topic: pyplot API

updates to colorizer pipeline based on feedback from @QuLogic
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/collections.pyi
  lib/matplotlib/colorbar.py
  lib/matplotlib/colorizer.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/meson.build
  lib/matplotlib/pyplot.py
Labels: topic: collections and mappables, topic: color/color & colormaps, topic: figures and subfigures, topic: pyplot API

Creation of colorizer.py
  lib/matplotlib/artist.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorizer.py
  lib/matplotlib/image.py
  lib/matplotlib/meson.build
Labels: topic: collections and mappables, topic: color/color & colormaps, topic: images

MNT: adjust inheritance so isinstance(..., cm.ScalarMappable) works
  lib/matplotlib/cm.py
  lib/matplotlib/cm.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/colorizer.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/image.py
Labels: topic: collections and mappables, topic: color/color & colormaps, topic: images

updated ColorizingArtist.__init__
  lib/matplotlib/artist.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorizer.py
  lib/matplotlib/image.py
Labels: topic: collections and mappables, topic: images

updated docs with colorizer changes
  doc/api/colorizer_api.rst
  doc/api/index.rst
  lib/matplotlib/colorizer.py
  lib/matplotlib/tests/test_axes.py
Labels: none

simplify to_rgba() by extracting the part relating to RGBA data
  lib/matplotlib/artist.py
  lib/matplotlib/cm.py
  lib/matplotlib/colorizer.py
Labels: topic: color/color & colormaps

updated class hierarchy for Colorizer
  lib/matplotlib/artist.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorizer.py
  lib/matplotlib/image.py
Labels: topic: collections and mappables, topic: color/color & colormaps, topic: images

DOC: fix unrelated xref issues
  doc/missing-references.json
  lib/matplotlib/contour.py
Labels: topic: contour

DOC: add multivariate colormaps to the docs
  doc/api/colors_api.rst
Labels: none

MNT: Touch up rebase to use 'register' for docstring interpolations
  lib/matplotlib/colorizer.py
Labels: none

DOC: auto-generate ScalarMappable in conf.py
  doc/api/.gitignore
  doc/api/cm_api.rst
  doc/conf.py
Labels: Documentation: build

Corrections based on feedback from @QuLogic
  lib/matplotlib/colorizer.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: contour

DOC: fix colorizer related xrefs
  doc/api/cm_api.rst
  lib/matplotlib/colorizer.py
Labels: none

Fix polar error bar cap orientation (#28966)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_errorbar.png
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
  lib/matplotlib/transforms.pyi
Labels: topic: transforms and scales

Rename output-base-name to image-basename
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
  lib/matplotlib/tests/tinypages/some_plots.rst
Labels: topic: sphinx extension

Improve ft2font documentation
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

Shorten PyFT2Font.get_charmap a bit
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

ft2font: Convert kerning mode into an enum
  doc/api/next_api_changes/deprecations/28842-ES.rst
  galleries/examples/misc/font_indexing.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_ft2font.py
  src/_enums.h
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
  src/meson.build
Labels: backend: pdf, Documentation: examples, topic: text/fonts, topic: text/mathtext

ft2font: Convert loading flags into an enum
  doc/api/next_api_changes/deprecations/28842-ES.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/textpath.py
  src/ft2font_wrapper.cpp
Labels: backend: agg, backend: pdf, backend: ps, topic: text, topic: text/fonts, topic: text/mathtext

ft2font: Convert flag properties to enums
  doc/api/next_api_changes/deprecations/28842-ES.rst
  galleries/examples/misc/ftface_props.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_ft2font.py
  src/ft2font_wrapper.cpp
Labels: backend: pdf, Documentation: examples, topic: text/fonts

Add Quiverkey zorder option (#28354)
  doc/api/next_api_changes/behavior/28354-YN.rst
  lib/matplotlib/quiver.py
  lib/matplotlib/quiver.pyi
  lib/matplotlib/tests/test_quiver.py
Labels: none

Rework stdin handling on macos objective C
  src/_macosx.m
Labels: GUI: MacOSX

DOC: Refresh transform tree example
  doc/_static/transforms.png
  doc/api/transforms.dot
  doc/conf.py
  lib/matplotlib/transforms.py
Labels: Documentation: build, topic: transforms and scales

engformatter_offset.rst: fix title
  doc/users/next_whats_new/engformatter_offset.rst
Labels: none

FIX: contourf hatches use multiple edgecolors
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contourf_hatch_colors.png
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

Implement xtick and ytick rotation_mode
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_text/text_xtick_ytick_rotation_modes.png
  lib/matplotlib/tests/test_axis.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
Labels: topic: text, topic: ticks axis labels

undid the improper commit
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
Labels: Documentation: devdocs

additional grammar edits & updated checklist in contribute.rst
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
Labels: Documentation: devdocs

Adjusting 3D limit data
  lib/matplotlib/artist.py
Labels: none

Add get_data_limits method to Artist class
  lib/matplotlib/artist.py
Labels: none
