Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'

ci: Fix Python version export from AppVeyor to Codecov
  .appveyor.yml
Labels: none

test 'figure points' coordinate system
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: none

uses axes in connection patch to convert points Modifies string convertor to return a scaler when value is only one value, as with datetime
  lib/matplotlib/category.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_units.py
Labels: topic: categorical

Backport PR #29182: Update backend_qt.py: parent not passed to __init__ on subplottool
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

DOC: manually placing images example
  galleries/examples/images_contours_and_fields/image_exact_placement.py
Labels: Documentation: examples

Fixed issue #29183 such that imsave() handled list-of-list-of-list and saved the correct image.
  build.out
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
Labels: topic: images

Removed debugging lines and prints.
  lib/matplotlib/axes/_axes.py
Labels: none

Added one roundtrip unit test case for imsave() together with imread().
  lib/matplotlib/tests/test_image.py
Labels: none

Changed functions names and added comment, also ran flake8 linter locally to ensure it passes checks on github.
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: images

TST: Skip wx tests when on pure Wayland
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

TST: Skip cross-Qt checks if no X/Wayland display is available
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

Backport PR #29169: Minor fixes to text intro explainer
  galleries/users_explain/text/text_intro.py
Labels: none

DOC: Create release notes for 3.9.3
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.9.2.rst
  doc/users/release_notes.rst
Labels: none

FIX: fix error with pcolormesh with no x y args and nearest interpolation
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

Minor change "blue" to "yellow"
  lib/matplotlib/axes/_axes.py
Labels: none

Fix axes
  lib/matplotlib/axes/_axes.py
Labels: none

Minor change "blue" to "yellow"
  lib/matplotlib/tests/test_axes.py
Labels: none

Backport PR #29209: FIX: pcolormesh with no x y args and nearest interp
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

Creating_parse_bar_color_args to unify color handling in plt.bar with precedence and sequence support for facecolor and edgecolor
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

Backport PR #29133: Creating_parse_bar_color_args to unify color handling in plt.bar with precedence and sequence support for facecolor and edgecolor
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

Multivariate plots for imshow, pcolor and pcolormesh
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorizer.py
  lib/matplotlib/image.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/bivar_cmap_from_image.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/bivariate_cmap_call.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/bivariate_cmap_shapes.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/bivariate_masked_data.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/bivariate_visualizations.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivar_cmap_call.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_figimage.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_imshow_alpha.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_imshow_complex_data.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_imshow_norm.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_pcolormesh_alpha.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_pcolormesh_norm.png
  lib/matplotlib/tests/baseline_images/test_multivariate_axes/multivariate_visualizations.png
  lib/matplotlib/tests/test_multivariate_axes.py
Labels: topic: collections and mappables, topic: color/color & colormaps, topic: images

DOC: Add Zenodo DOI for 3.9.3
  doc/_static/zenodo_cache/14249941.svg
  doc/project/citing.rst
  tools/cache_zenodo_svg.py
Labels: none

avoid-unnecessary-warning-in-_pcolorargs-function
  lib/matplotlib/axes/_axes.py
Labels: none

delete whitespace
  lib/matplotlib/axes/_axes.py
Labels: none

Fix typo in _LazyTickList class comment (lis -> list)
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

added envs and venv to gitignore
  .gitignore
Labels: none

Removed envs from previous commit
  .gitignore
Labels: none

add require_monotonicity to if condition
  lib/matplotlib/axes/_axes.py
Labels: none

Update table.py
  lib/matplotlib/table.py
Labels: topic: table

Fix building freetype 2.6.1 on macOS clang 18
  subprojects/packagefiles/freetype-2.6.1-meson/src/gzip/zconf.h
Labels: none

DOC: Set stable version to 3.9.3
  doc/_static/switcher.json
Labels: none

Improve fallback font export tests
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/__init__.pyi
  lib/matplotlib/tests/baseline_images/test_backend_pdf/multi_font_type3.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/multi_font_type42.pdf
  lib/matplotlib/tests/baseline_images/test_backend_ps/multi_font_type3.eps
  lib/matplotlib/tests/baseline_images/test_backend_ps/multi_font_type42.eps
  lib/matplotlib/tests/baseline_images/test_backend_svg/multi_font_aspath.svg
  lib/matplotlib/tests/baseline_images/test_backend_svg/multi_font_astext.svg
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_ft2font.py
Labels: none

TST: Remove duplicate font tests
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_ft2font.py
Labels: none

TST: Always use UTF-8 when reading SVG for image comparisons
  lib/matplotlib/testing/compare.py
Labels: none

adding type hint for table.pyi
  lib/matplotlib/table.pyi
Labels: topic: table

added the test for font size given as argument in table
  lib/matplotlib/tests/test_table.py
Labels: none

Update table.py
  lib/matplotlib/table.py
Labels: topic: table

add a test
  lib/matplotlib/tests/test_axes.py
Labels: none

format added code
  lib/matplotlib/tests/test_axes.py
Labels: none

aligned indentation
  lib/matplotlib/tests/test_axes.py
Labels: none
