Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'

TYP:
  lib/matplotlib/colorbar.pyi
Labels: topic: color/color & colormaps

DOC: fix doc
  lib/matplotlib/colorbar.py
Labels: topic: color/color & colormaps

MNT: remove _long_axis
  lib/matplotlib/colorbar.py
Labels: topic: color/color & colormaps

FIX/ENH: macos: dispatch timer tasks asynchronously to the main loop
  src/_macosx.m
Labels: GUI: MacOSX

initial tags for statistics section of gallery
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples

DOC: Fix copy-paste typo in ColorSequenceRegistry
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

Update galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
Labels: Documentation: examples

Return filename from save_figure (#27766)
  doc/api/next_api_changes/behavior/27744-FM.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backend_gtk3.py
  lib/matplotlib/tests/test_backend_macosx.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_backend_tk.py
Labels: GUI: gtk, GUI: MacOSX, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, topic: canvas and figure manager

DOC: initial tags for statistics section of gallery (#27569)
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples

Backport PR #27569: DOC: initial tags for statistics section of gallery
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples

Backport PR #27569: DOC: initial tags for statistics section of gallery
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples

Backport PR #29031: DOC: Fix copy-paste typo in ColorSequenceRegistry
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

Apply suggestions from code review
  doc/users/next_whats_new/pass_pandasDataFrame_into_table.rst
  lib/matplotlib/table.pyi
Labels: topic: table

Fix code link
  doc/users/next_whats_new/pass_pandasDataFrame_into_table.rst
Labels: none

FIX: Don't set_wmclass on GTK3
  lib/matplotlib/backends/_backend_gtk.py
Labels: GUI: gtk

Don't pass redundant inline=True to example clabel() calls.
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_label_demo.py
  galleries/examples/misc/demo_agg_filter.py
Labels: Documentation: examples

Backport PR #29036: Don't pass redundant inline=True to example clabel() calls.
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_label_demo.py
  galleries/examples/misc/demo_agg_filter.py
Labels: Documentation: examples

Backport PR #29036: Don't pass redundant inline=True to example clabel() calls.
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_label_demo.py
  galleries/examples/misc/demo_agg_filter.py
Labels: Documentation: examples

Feature: Support passing DataFrames to table.table (#28830)
  doc/users/next_whats_new/pass_pandasDataFrame_into_table.rst
  lib/matplotlib/cbook.py
  lib/matplotlib/table.py
  lib/matplotlib/table.pyi
  lib/matplotlib/tests/test_table.py
Labels: topic: table

Backport PR #29035: FIX: Don't set_wmclass on GTK3
  lib/matplotlib/backends/_backend_gtk.py
Labels: GUI: gtk

updates to format and wording
  doc/devel/contribute.rst
Labels: Documentation: devdocs

Short circuit input hook when no windows are open
  src/_macosx.m
Labels: GUI: MacOSX

MNT: Add provisional get_backend(resolve=False) flag
  lib/matplotlib/__init__.py
  lib/matplotlib/__init__.pyi
  lib/matplotlib/tests/test_rcparams.py
Labels: none

Add anologous tests for LogFormatter_call_big
  lib/matplotlib/tests/test_ticker.py
Labels: none

test_ticker: add a parameter set for np.inf in LogFormatterMathtext
  lib/matplotlib/tests/test_ticker.py
Labels: none

ticker.py: fix possible np.inf issue with LogFormatter{,Mathtext}
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

add function to compute (signed) area of path
  doc/users/next_whats_new/path-size-methods.rst
  lib/matplotlib/bezier.py
  lib/matplotlib/bezier.pyi
  lib/matplotlib/path.py
  lib/matplotlib/path.pyi
  lib/matplotlib/tests/test_bezier.py
  lib/matplotlib/tests/test_path.py
Labels: topic: path handling

code to compute bezier segment / path lengths
  lib/matplotlib/bezier.py
  lib/matplotlib/bezier.pyi
  lib/matplotlib/path.py
  lib/matplotlib/path.pyi
  lib/matplotlib/tests/test_bezier.py
  lib/matplotlib/tests/test_path.py
Labels: topic: path handling

add function to compute (signed) area of path
  doc/users/next_whats_new/path-size-methods.rst
  lib/matplotlib/bezier.py
  lib/matplotlib/bezier.pyi
  lib/matplotlib/path.py
  lib/matplotlib/path.pyi
  lib/matplotlib/tests/test_bezier.py
  lib/matplotlib/tests/test_path.py
Labels: topic: path handling

Add test for LogFormatter with very big numbers
  lib/matplotlib/tests/test_ticker.py
Labels: none

Review comments
  src/_macosx.m
Labels: GUI: MacOSX

ticker.EngFormatter: allow offset (#28495)
  doc/users/next_whats_new/engformatter_offset.rst
  doc/users/next_whats_new/update_features.rst
  galleries/examples/ticks/engformatter_offset.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
  lib/matplotlib/ticker.pyi
Labels: Documentation: examples, topic: ticks axis labels

Backport PR #28981: FIX: macos: Use standard NSApp run loop in our input hook
  src/_macosx.m
Labels: GUI: MacOSX

FIX: Only call timer updates when things change on the timer
  lib/matplotlib/backend_bases.py
Labels: topic: canvas and figure manager

TST: Add backend bases test
  lib/matplotlib/tests/test_backend_bases.py
Labels: none

FIX: Avoid drift in Tk's repeating timer
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI: tk

TST: Add test for timer drift in interactive backends
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

updated contribution doc #28476 (#28871)
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
  doc/devel/index.rst
Labels: Documentation: devdocs

Passed linewidth instead of gc while creating hatches
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps

Dropped recurring linewidth parameter
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps
