Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

Minor Fixes
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/hatch.py
Labels: backend: ps, topic: canvas and figure manager, topic: hatch

Add test for collections setter and getter
  lib/matplotlib/tests/test_collections.py
Labels: none

Rollback unwanted changes
  lib/matplotlib/backends/backend_pdf.py
Labels: backend: pdf

Deprecation warning for setting linewidths in non-PDF,PS,SVG backends
  lib/matplotlib/hatch.py
Labels: topic: hatch

Add test for patches setter and getter
  lib/matplotlib/collections.pyi
  lib/matplotlib/tests/test_patches.py
Labels: topic: collections and mappables

Backport PR #29014: FIX: fake out setuptools scm in tox on ci
  tox.ini
Labels: none

DOC: Better explain suptitle / supxlabel / supylabel naming
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures

DOC: Document preferred figure size for examples
  doc/devel/document.rst
Labels: Documentation: devdocs

Update doc/devel/document.rst
  doc/devel/document.rst
Labels: Documentation: devdocs

improved documentation of quvier plot
  lib/matplotlib/quiver.py
Labels: none

New data → color pipeline (#28658)
  doc/api/.gitignore
  doc/api/cm_api.rst
  doc/api/colorizer_api.rst
  doc/api/colors_api.rst
  doc/api/index.rst
  doc/conf.py
  doc/missing-references.json
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/cm.py
  lib/matplotlib/cm.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/colorbar.py
  lib/matplotlib/colorbar.pyi
  lib/matplotlib/colorizer.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/contour.py
  lib/matplotlib/contour.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/image.py
  lib/matplotlib/image.pyi
  lib/matplotlib/meson.build
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/use_colorizer_keyword.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
  tools/boilerplate.py
Labels: Documentation: build, topic: axes, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: figures and subfigures, topic: images, topic: pyplot API

EMH: add ability to return just data from _plot_var_args
  lib/matplotlib/axes/_base.py
Labels: topic: axes

ENH: thread kwarg to return kwargs through __call__
  lib/matplotlib/axes/_base.py
Labels: topic: axes

Restructure _process_plot_varargs
  lib/matplotlib/axes/_base.py
Labels: topic: axes

Remove unused parameter in TriContourGenerator::find_interior_lines
  src/tri/_tri.cpp
  src/tri/_tri.h
Labels: topic: tri

Deprecate passing floats to FT2Image
  doc/api/next_api_changes/deprecations/28967-ES.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/ft2font.pyi
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts, topic: text/mathtext

Make some casts in Agg usage explicit
  src/_backend_agg.h
  src/_image_resample.h
Labels: backend: agg, topic: images

Deprecate passing floats to RendererAgg.draw_text_image
  doc/api/next_api_changes/deprecations/28967-ES.rst
  src/_backend_agg_wrapper.cpp
Labels: backend: agg

FIX: Add update capability to interval/singleshot timer properties
  lib/matplotlib/tests/test_backends_interactive.py
  src/_macosx.m
Labels: GUI: MacOSX

Update requirements to add PyStemmer to doc-requirements and environment
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: none

Update minimum pybind11 to 2.13.2
  .github/workflows/tests.yml
  doc/install/dependencies.rst
  environment.yml
  meson.build
  pyproject.toml
  requirements/dev/build-requirements.txt
Labels: none

Fixes AIX internal CI build break.
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

Apply suggestions from code review
  lib/matplotlib/quiver.py
Labels: none

Fix typo
  lib/matplotlib/quiver.py
Labels: none

Update requirements to add PyStemmer to doc-requirements and environment
  environment.yml
Labels: none

Update requirements to add PyStemmer to doc-requirements and environment (#29019)
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: none

FIX: Add update capability to interval/singleshot timer properties
  lib/matplotlib/tests/test_backends_interactive.py
  src/_macosx.m
Labels: GUI: MacOSX

MNT/TST: Refactor test-interactive-timers to reduce test time
  lib/matplotlib/tests/test_backends_interactive.py
Labels: none

FIX: Event loop timers should only run for the specified time
  lib/matplotlib/backend_bases.py
Labels: topic: canvas and figure manager

FIX: Add single shot update capability to TimerWx
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: GUI: wx

Fix missing references
  doc/missing-references.json
Labels: none

Update doc/missing-references.json
  doc/missing-references.json
Labels: none

Improved documentation for quiver (#28863)
  doc/missing-references.json
  lib/matplotlib/quiver.py
Labels: none

updated structure, used literal include, updated content
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
  doc/devel/index.rst
Labels: Documentation: devdocs

Update minimum pybind11 to 2.13.2 (#29021)
  .github/workflows/tests.yml
  doc/install/dependencies.rst
  environment.yml
  meson.build
  pyproject.toml
  requirements/dev/build-requirements.txt
Labels: none

Move polygon only when the pointer is on the polygon
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

minor tweaks to content and dropdown inplace of note
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
Labels: Documentation: devdocs

DOC: Document preferred figure size for examples
  doc/devel/document.rst
Labels: Documentation: devdocs

MNT: Deprecate plt.polar() with an existing non-polar Axes
  doc/api/next_api_changes/deprecations/28946-TH.rst
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

ENH: add long_axis property to colorbar
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/color & colormaps

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'
