Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

Cycler signature format fix
  lib/matplotlib/axes/_base.py
Labels: topic: axes

Modified implementation to follow Pandas tools.py
  lib/matplotlib/table.py
Labels: topic: table

Use a better variable name
  lib/matplotlib/sphinxext/plot_directive.py
Labels: topic: sphinx extension

Simplify logic in merge_other
  lib/matplotlib/sphinxext/plot_directive.py
Labels: topic: sphinx extension

FIX: contourf hatches use multiple edgecolors (#28993)
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contourf_hatch_colors.png
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

DOC: Update meson-python intersphinx link
  doc/conf.py
Labels: Documentation: build

Backport PR #28993: FIX: contourf hatches use multiple edgecolors
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contourf_hatch_colors.png
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

FIX: intersphinx URL changed for meson-python
  doc/conf.py
Labels: Documentation: build

Backport PR #29005: DOC: Update meson-python intersphinx link
  doc/conf.py
Labels: Documentation: build

Cycler signature format update rcsetup.py
  lib/matplotlib/rcsetup.py
Labels: topic: rcparams

Cycler signature code format fix (#29001)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/rcsetup.py
Labels: topic: axes, topic: rcparams

Fix nan-handling within `PathSimplifier` for closepoly
  lib/matplotlib/tests/test_simplification.py
  src/path_converters.h
Labels: topic: path handling

test_ticker.py: small cleanups after review
  lib/matplotlib/tests/test_ticker.py
Labels: none

Small comment fixups from review
  galleries/examples/ticks/engformatter_offset.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: Documentation: examples, topic: ticks axis labels

ticker.EngFormatter: base upon ScalarFormatter
  doc/users/next_whats_new/engformatter_offset.rst
  galleries/examples/ticks/engformatter_offset.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
  lib/matplotlib/ticker.pyi
Labels: Documentation: examples, topic: ticks axis labels

ticker.ScalarFormatter: Fix type hints & document new attributes
  doc/users/next_whats_new/update_features.rst
  lib/matplotlib/ticker.pyi
Labels: topic: ticks axis labels

engformatter_offset.rst: fix title
  doc/users/next_whats_new/engformatter_offset.rst
Labels: none

ticker.py: small cleanups after review
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

test_engformatter_offset_oom: parametrize center & noise directly
  lib/matplotlib/tests/test_ticker.py
Labels: none

engformatter related small fixes
  galleries/examples/ticks/engformatter_offset.py
  lib/matplotlib/tests/test_ticker.py
Labels: Documentation: examples

Fix small documentation issues from QuLogic's review
  doc/users/next_whats_new/engformatter_offset.rst
  galleries/examples/ticks/engformatter_offset.py
  lib/matplotlib/ticker.py
Labels: Documentation: examples, topic: ticks axis labels

ticker.ScalarFormatter: allow changing usetex like in EngFormatter
  lib/matplotlib/ticker.py
  lib/matplotlib/ticker.pyi
Labels: topic: ticks axis labels

Stop relying on dead-reckoning mouse buttons for motion_notify_event.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/web_backend/js/mpl.js
  src/_macosx.m
Labels: GUI: gtk, GUI: MacOSX, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, topic: canvas and figure manager

MNT: Deprecate changing Figure.number
  doc/api/next_api_changes/deprecations/28007-TH.rst
  lib/matplotlib/_pylab_helpers.py
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/tests/test_figure.py
Labels: topic: figures and subfigures, topic: pyplot API

Update lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.py
Labels: topic: axes

Bump required pybind11 to 2.13
  doc/install/dependencies.rst
  environment.yml
  meson.build
  pyproject.toml
Labels: none

Break Artist._remove_method reference cycle (#28861)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: axes

Review comments
  lib/matplotlib/axis.py
  lib/matplotlib/axis.pyi
Labels: topic: ticks axis labels

fix missing refererence linenos
  doc/missing-references.json
Labels: none

FIX: fake out setuptools scm in tox on ci
  tox.ini
Labels: none

FIX: auto_fmtxdate for constrained layout
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: figures and subfigures

Add linewidth parameter to hatch style in PDF, PS and SVG backends
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
Labels: backend: pdf, backend: ps, backend: svg

Add hatch linewidth setter in Graphics Context Base
  lib/matplotlib/backend_bases.py
Labels: topic: canvas and figure manager

Add linewidht setter and getter methods to Collections
  lib/matplotlib/collections.py
Labels: topic: collections and mappables

Moved _set_hatch_linewidth to backend_bases
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/patches.py
Labels: topic: canvas and figure manager, topic: collections and mappables

Made suggested changes
  doc/api/next_api_changes/deprecations/28048-PR.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/collections.py
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_patches.py
Labels: backend: pdf, topic: collections and mappables

Added API change note
  doc/api/next_api_changes/deprecations/28048-PR.rst
  lib/matplotlib/backends/backend_pdf.py
Labels: backend: pdf

Add setter and getter methods for hatch linewidth in Patch
  lib/matplotlib/patches.py
Labels: none

Resolved merge problems
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/collections.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_collections.py
Labels: backend: pdf, backend: ps, topic: collections and mappables

Fixed wrong linewidth get
  lib/matplotlib/backends/backend_svg.py
Labels: backend: svg

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'
