Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'

Backport PR #29073: Update secondary_axis tutorial
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

Minor fixes to text intro explainer
  galleries/users_explain/text/text_intro.py
Labels: none

DOC: do not posting LLM output as your own work
  doc/devel/contribute.rst
Labels: Documentation: devdocs

Backport PR #29163: ci: Remove outdated pkg-config package on macOS (#29164)
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: none

Backport PR #29153: Bump codecov/codecov-action from 4 to 5 in the actions group (#29165)
  .github/workflows/tests.yml
Labels: none

Backport PR #29153: Bump codecov/codecov-action from 4 to 5 in the actions group (#29166)
  .github/workflows/tests.yml
Labels: none

Backport PR #29154: Relax conditions for warning on updating converters
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_units.py
Labels: topic: ticks axis labels

DOC: add links to this is PR and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

MultiNorm class
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
Labels: topic: color/color & colormaps

Delay warning for deprecated parameter 'vert' of box and violin on 3.10
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

converted ps to array before slicing
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: topic: mplot3d

Backport PR #29148: Don't fail on equal-but-differently-named cmaps in qt figureoptions.
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI: Qt

Backport PR #29148: Don't fail on equal-but-differently-named cmaps in qt figureoptions.
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI: Qt

Backport PR #29163: ci: Remove outdated pkg-config package on macOS
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: none

indicate_inset transform support
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/inset.py
  lib/matplotlib/tests/baseline_images/test_inset/zoom_inset_transform.png
  lib/matplotlib/tests/test_inset.py
Labels: none

Minor cleanups to docstrings, comments, and error messages.
  galleries/examples/text_labels_and_annotations/dfrac_demo.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/ticker.py
Labels: Documentation: examples, topic: pyplot API, topic: ticks axis labels

added test cases for the modification to art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
Labels: topic: mplot3d

nearest is changed to flat
  lib/matplotlib/axes/_axes.py
Labels: none

Update backend_qt.py: parent not passed to __init__
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

Added test_bar_color_precedence
  lib/matplotlib/tests/test_axes.py
Labels: none

Fix
  lib/matplotlib/tests/test_axes.py
Labels: none

Minor tweaks to image docs.
  lib/matplotlib/image.py
Labels: topic: images

Fix argument style
  galleries/users_explain/text/text_intro.py
Labels: none

Backport PR #28335: DOC: do not posting LLM output as your own work
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
Labels: Documentation: devdocs

ci: Unpin micromamba again
  .appveyor.yml
Labels: none

Backport PR #28934: ci: Unpin micromamba again
  .appveyor.yml
Labels: none

ci: Simplify 3.13t test setup
  .github/workflows/tests.yml
Labels: none

Fix DeprecationWarning: __array__ implementation doesn't accept a copy keyword, so passing copy=False failed. __array__ must implement 'dtype' and 'copy' keyword arguments.
  lib/matplotlib/cbook.py
Labels: none

Update cbook.py
  lib/matplotlib/cbook.py
Labels: none

Backport PR #29191: ci: Simplify 3.13t test setup
  .github/workflows/tests.yml
Labels: none

Backport PR #29191: ci: Simplify 3.13t test setup
  .github/workflows/tests.yml
Labels: none

Refactored test_bar_color_precedence
  lib/matplotlib/tests/test_axes.py
Labels: none

Update bar
  lib/matplotlib/axes/_axes.py
Labels: none

Update lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

Update test_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: none

DOC: verify your changes
  doc/devel/contribute.rst
  doc/devel/development_workflow.rst
  doc/devel/document.rst
  doc/devel/testing.rst
Labels: Documentation: devdocs

add itemboxalign option to legend
  lib/matplotlib/legend.py
Labels: topic: legend

added docstring, remove rcparam, and added announcement rst
  doc/users/next_whats_new/legend_itemboxalign.rst
  lib/matplotlib/legend.py
Labels: topic: legend

ci: Remove Linux & macOS from Azure
  azure-pipelines.yml
Labels: none

ci: Add extra dependencies from Azure to GitHub Actions
  .github/workflows/tests.yml
Labels: none
