Repository matplotlib/matplotlib, changes with the labels that .github/labeler.yml gives for each.
All labels: CI: Run cibuildwheel, CI: Run cygwin, backend: agg, backend: cairo, backend: pdf, backend: pgf, backend: ps, backend: svg, GUI: gtk, GUI: MacOSX, GUI: nbagg, GUI: Qt, GUI: tk, GUI: webagg, GUI: wx, Documentation: build, Documentation: devdocs, Documentation: examples, Documentation: plot types, Documentation: tutorials, topic: animation, topic: axes, topic: canvas and figure manager, topic: categorical, topic: collections and mappables, topic: color/color & colormaps, topic: contour, topic: date handling, topic: figures and subfigures, topic: geometry manager, topic: hatch, topic: images, topic: legend, topic: markers, topic: mplot3d, topic: path handling, topic: polar, topic: pyplot API, topic: rcparams, topic: sankey, topic: sphinx extension, topic: styles, topic: table, topic: text, topic: text/fonts, topic: text/mathtext, topic: ticks axis labels, topic: toolbar, topic: transforms and scales, topic: tri, topic: units and array ducktypes, topic: widgets/UI

.github/labeler.yml:

---
"CI: Run cibuildwheel":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cibuildwheel.yml']
"CI: Run cygwin":
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/cygwin.yml']

"backend: agg":
  - changed-files:
      - any-glob-to-any-file:
          - 'extern/agg24-svn/'
          - 'lib/matplotlib/backends/_backend_agg.pyi'
          - 'lib/matplotlib/backends/backend_agg.py*'
          - 'src/_backend_agg*'
"backend: cairo":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_*cairo.py*'
"backend: pdf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_pdf.py'
"backend: pgf":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_pgf.py'
"backend: ps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_pdf_ps.py'
          - 'lib/matplotlib/backends/backend_ps.py'
"backend: svg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_svg.py'

"GUI: gtk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/_backend_gtk.py*'
          - 'lib/matplotlib/backends/backend_gtk*'
"GUI: MacOSX":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_macosx.py*'
          - 'src/_macosx.m'
"GUI: nbagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_nbagg*.py*'
          - 'lib/matplotlib/backends/web_backend/js/nbagg_mpl.js'
"GUI: Qt":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_qt*'
          - 'lib/matplotlib/backends/qt_compat.py'
          - 'lib/matplotlib/backends/qt_editor/**'
"GUI: tk":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*backend_tk*'
          - 'lib/matplotlib/backends/_tkagg.pyi'
          - 'src/_tkagg.cpp'
          - 'src/_tkmini.h'
"GUI: webagg":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/*_webagg*.py*'
          - 'lib/matplotlib/backends/web_backend/**'
"GUI: wx":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backends/backend_wx*.py*'

"Documentation: API":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              # Also files in lib/**, but we can't be sure those are only documentation.
              - 'doc/api/**'
          - all-globs-to-all-files:
              - '!doc/api/next_api_changes/**'

"Documentation: build":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/conf.py'
          - 'doc/Makefile'
          - 'doc/make.bat'
          - 'doc/sphinxext/**'
"Documentation: devdocs":
  - changed-files:
      - any-glob-to-any-file:
          - 'doc/devel/**'
"Documentation: examples":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/examples/**'
"Documentation: plot types":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/plot_types/**'
"Documentation: tutorials":
  - changed-files:
      - any-glob-to-any-file:
          - 'galleries/tutorials/**'
"Documentation: user guide":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'doc/users/**'
              - 'galleries/users_explain/**'
          - all-globs-to-all-files:
              - '!doc/users/next_whats_new/**'

"topic: animation":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/animation.py*'
          - 'lib/matplotlib/_animation_data.py*'
"topic: axes":
  - changed-files:
      - any-glob-to-any-file:
          # Note, axes.py is not included here because it contains many plotting
          # methods, for which changes would not be considered on topic.
          - 'lib/matplotlib/axes/_base.py*'
"topic: canvas and figure manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_bases.py*'
"topic: categorical":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/category.py*'
"topic: collections and mappables":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/collections.py*'
"topic: color/color & colormaps":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/colorbar.py*'
          - 'lib/matplotlib/colors.py*'
          - 'lib/matplotlib/_color_data.py*'
          - 'lib/matplotlib/cm.py*'
          - 'lib/matplotlib/_cm.py*'
          - 'lib/matplotlib/_cm_listed.py*'
"topic: contour":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/contour.py*'
          - 'src/_qhull_wrapper.cpp'
"topic: date handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/dates.py*'
"topic: figures and subfigures":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/figure.py*'
"topic: geometry manager":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/_constrained_layout.py*'
          - 'lib/matplotlib/_layoutgrid.py*'
          - 'lib/matplotlib/_tight_bbox.py*'
          - 'lib/matplotlib/_tight_layout.py*'
          - 'lib/matplotlib/gridspec.py*'
          - 'lib/matplotlib/layout_engine.py*'
"topic: hatch":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/hatch.py*'
"topic: images":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/image.py*'
          - 'lib/matplotlib/_image.pyi'
          - 'src/_image_*'
"topic: legend":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/legend.py*'
          - 'lib/matplotlib/legend_handler.py*'
"topic: markers":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/markers.py*'
"topic: mpl_toolkit":
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - 'lib/mpl_toolkits/**'
          - all-globs-to-all-files:
              - '!lib/mpl_toolkits/mplot3d/**'
"topic: mplot3d":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/mpl_toolkits/mplot3d/**'
"topic: path handling":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/path.py*'
          - 'lib/matplotlib/patheffects.py*'
          - 'lib/matplotlib/_path.pyi'
          - 'src/*path*'
"topic: polar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/projections/polar.py*'
"topic: pyplot API":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/pyplot.py'
          - 'lib/matplotlib/_pylab_helpers.py*'
"topic: rcparams":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/rcsetup.py*'
"topic: sankey":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sankey.py*'
"topic: sphinx extension":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/sphinxext/**'
"topic: styles":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mpl-data/stylelib/**'
          - 'lib/matplotlib/style/**'
"topic: table":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/table.py*'
"topic: text":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/text.py*'
          - 'lib/matplotlib/textpath.py*'
"topic: text/fonts":
  - changed-files:
      - any-glob-to-any-file:
          - 'src/checkdep_freetype2.c'
          - 'src/ft2font*'
"topic: text/mathtext":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/mathtext.py*'
          - 'lib/matplotlib/_mathtext.py*'
          - 'lib/matplotlib/_mathtext_data.py*'
"topic: ticks axis labels":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/axis.py*'
          - 'lib/matplotlib/ticker.py*'
"topic: toolbar":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/backend_managers.py*'
          - 'lib/matplotlib/backend_tools.py*'
"topic: transforms and scales":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/scale.py*'
          - 'lib/matplotlib/transforms.py*'
"topic: tri":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/tri/**'
          - 'src/tri/**'
"topic: units and array ducktypes":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/units.py*'
"topic: widgets/UI":
  - changed-files:
      - any-glob-to-any-file:
          - 'lib/matplotlib/widgets.py*'

Backport PR #29144: Use both TCL_SETVAR and TCL_SETVAR2 for tcl 9 support
  src/_tkagg.cpp
  src/_tkmini.h
Labels: GUI: tk

Simplify synthetic event generation in interactive pan/zoom tests.
  lib/matplotlib/tests/test_backend_bases.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

Don't fail on equal-but-differently-named cmaps in qt figureoptions.
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI: Qt

Add error handling around install_repl_displayhook
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: pyplot API

Add new narrows option to streamplot
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_startpoints.png
  lib/matplotlib/tests/test_streamplot.py
Labels: topic: pyplot API

Add multiple arrows example
  galleries/examples/images_contours_and_fields/plot_streamplot.py
Labels: Documentation: examples

Tidy up alt text in what's new example
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
Labels: none

narrows > n_arrows
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
  galleries/examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/tests/test_streamplot.py
Labels: Documentation: examples, topic: pyplot API

Fix new streamplot type stub
  lib/matplotlib/streamplot.pyi
Labels: none

Rename n_arrows to num_arrows
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
  galleries/examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/tests/test_streamplot.py
Labels: Documentation: examples, topic: pyplot API

Fix handling of stream line width with multiple arrows
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
  galleries/examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.svg
  lib/matplotlib/tests/test_streamplot.py
Labels: Documentation: examples

Backport CI config updates to v3.9.x
  .github/workflows/cibuildwheel.yml
  .github/workflows/cygwin.yml
  .github/workflows/tests.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin

TST: Run macosx backends in a subprocess
  lib/matplotlib/tests/test_backend_macosx.py
Labels: none

Update lib/matplotlib/colors.py
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

ENH: add option to label pie charts with absolute values
  doc/api/next_api_changes/deprecations/29152-REC.rst
  doc/users/next_whats_new/pie_abs_labels.rst
  galleries/examples/pie_and_polar_charts/pie_and_donut_labels.py
  galleries/examples/pie_and_polar_charts/pie_features.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: Documentation: examples, topic: pyplot API

Made message more concise, and straightened old test, to fulfill @timhoffm's points.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_legend.py
Labels: none

Added test.
  lib/matplotlib/tests/test_axes.py
Labels: none

Corrected flake8 linting objections.
  lib/matplotlib/tests/test_axes.py
Labels: none

Added direct test of _parse method to attempt to make Codecov happy.
  lib/matplotlib/tests/test_axes.py
Labels: none

Relax conditions for warning on updating converters
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

fix test for relaxed warning condition
  lib/matplotlib/tests/test_units.py
Labels: none

Delay warning for deprecated parameter 'vert' of box and violin
  lib/matplotlib/axes/_axes.py
Labels: none

Removed unnecessary to_rgba_array()
  lib/matplotlib/axes/_axes.py
Labels: none

Fixed flake8
  lib/matplotlib/axes/_axes.py
Labels: none

Update path.py
  lib/matplotlib/path.py
Labels: topic: path handling

Removed edgecolor inheritance
  lib/matplotlib/axes/_axes.py
Labels: none

Update galleries/examples/subplots_axes_and_figures/secondary_axis.py
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

Update galleries/examples/subplots_axes_and_figures/secondary_axis.py
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

Deprecate ListedColormap(..., N=...) parameter (#29135)
  doc/api/next_api_changes/deprecations/29135-TH.rst
  lib/matplotlib/cbook.py
  lib/matplotlib/cbook.pyi
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, topic: contour

Backport CI config updates to v3.9.x (#29149)
  .github/workflows/cibuildwheel.yml
  .github/workflows/cygwin.yml
  .github/workflows/tests.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin

remove pending from warning
  lib/matplotlib/axes/_axes.py
Labels: none

Fix violin test
  lib/matplotlib/tests/test_axes.py
Labels: none

Fix violin test, change version number in match
  lib/matplotlib/tests/test_axes.py
Labels: none

ci: Remove outdated pkg-config package on macOS
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: none

Add new num_arrows option to streamplot (#27617)
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
  galleries/examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.svg
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_startpoints.png
  lib/matplotlib/tests/test_streamplot.py
Labels: Documentation: examples, topic: pyplot API

Modified subplotparams function definitions
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
Labels: topic: figures and subfigures

Update galleries/examples/subplots_axes_and_figures/secondary_axis.py
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

Backport PR #29163: ci: Remove outdated pkg-config package on macOS
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: none

Backport PR #29153: Bump codecov/codecov-action from 4 to 5 in the actions group
  .github/workflows/tests.yml
Labels: none

Backport PR #29153: Bump codecov/codecov-action from 4 to 5 in the actions group
  .github/workflows/tests.yml
Labels: none
