Repository matplotlib/matplotlib, pull requests merged in 2018-04, with the labels that each got.

#10898 Replace "matplotlibrc" by "rcParams" in the docs where applicable.
  doc/matplotlibrc
  examples/api/sankey_basics.py
  examples/api/unicode_minus.py
  examples/ticks_and_spines/tick_xlabel_top.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/tricontour.py
Labels: Documentation

#10858 FIX: ioerror font cache, second try
  lib/matplotlib/font_manager.py
Labels: Needs review, Release critical

#10935 FIX: Postscript allow empty markers
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#10780 Fix scaling of RadioButtons
  lib/matplotlib/tests/baseline_images/test_widgets/check_bunch_of_radio_buttons.png
  lib/matplotlib/tests/baseline_images/test_widgets/check_radio_buttons.png
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: widgets/UI

#9498 Move title up if x-axis is on the top of the figure
  doc/users/next_whats_new/title_will_not_overlap_xaxis.rst
  examples/ticks_and_spines/tick_xlabel_top.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_axes/titletwiny.png
  lib/matplotlib/tests/test_axes.py
Labels: Needs review

#10951 fix wx rubberband: correctly ensure x0<=x1
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#10680 Rewrite the tk C blitting code
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_tkagg.py
  lib/matplotlib/backends/backend_tkcairo.py
  lib/matplotlib/backends/tkagg.py
  src/_tkagg.cpp
Labels: GUI/tk

#10955 Py3fy cbook, compare_backend_driver_results
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/pyplot.py
  unit/compare_backend_driver_results.py
Labels: Py3k

#10215 Test timers and (a bit) key_press_event for interactive backends.
  .travis.yml
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Testing

#10508 Deprecate FigureCanvasQT.keyAutoRepeat.
  doc/api/next_api_changes/2018-02-16-AL-deprecations.rst
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#10953 update nested-pie example with donut
  examples/pie_and_polar_charts/nested_pie.py
  examples/pie_and_polar_charts/pie_and_donut_labels.py
Labels: Documentation

#10962 Clean up zorder example
  examples/misc/zorder_demo.py
Labels: Documentation

#10971 Skip pillow animation test if pillow not importable
  lib/matplotlib/tests/test_animation.py
Labels: Testing

#10978 Remove to-be-deprecated NumPy imports.
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_colors.py
Labels: Testing

#10983 Simplfy zorder_demo example for individual order
  examples/misc/zorder_demo.py
Labels: Documentation

#10910 FIX: return proper legend window extent
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: Needs review

#10987 DOC: better document the MEP process
  doc/devel/MEP/MEP08.rst
  doc/devel/MEP/MEP09.rst
  doc/devel/MEP/MEP10.rst
  doc/devel/MEP/MEP19.rst
  doc/devel/MEP/MEP26.rst
  doc/devel/MEP/MEP27.rst
  doc/devel/MEP/README.rst
  doc/devel/MEP/index.rst
  doc/devel/MEP/template.rst
Labels: Documentation

#10992 Rewrite dashes example
  examples/lines_bars_and_markers/line_demo_dash_control.py
Labels: Documentation

#10991 Improve docstring of Axes.matshow
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#10995 Fix layout of Other Parameters in docs
  doc/_static/mpl.css
  doc/docutils.conf
Labels: Documentation

#9987 MNT: hist2d now uses pcolormesh instead of pcolorfast
  doc/api/next_api_changes/2017-12-12-JMK.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/hist2d.pdf
  lib/matplotlib/tests/baseline_images/test_axes/hist2d.png
  lib/matplotlib/tests/baseline_images/test_axes/hist2d.svg
  lib/matplotlib/tests/baseline_images/test_axes/hist2d_transpose.pdf
  lib/matplotlib/tests/baseline_images/test_axes/hist2d_transpose.png
  lib/matplotlib/tests/baseline_images/test_axes/hist2d_transpose.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_image.py
Labels: API Changes

#11018 Add link to developer discussions...
  README.rst
Labels: Documentation

#10435 Pathlibify font_manager (only internally, doesn't change the API).
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: Py3k

#11019 DOC: add links to examples for a few examples
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/lines_bars_and_markers/simple_plot.py
  examples/shapes_and_collections/scatter.py
  examples/statistics/histogram_features.py
Labels: Documentation

#11030 Update doc string for get_yticklabels
  lib/matplotlib/axes/_base.py
Labels: Documentation

#11028 Add note concerning python2 support on doc start page
  doc/_static/mpl.css
  doc/_templates/sidebar_announcement.html
  doc/conf.py
Labels: Documentation

#11043 Doc: unreference specific axis for get_ticklabels() in axis.py
  lib/matplotlib/axis.py
Labels: Documentation

#11052 Fix CircleCI build.
  .circleci/config.yml
Labels: Release critical, build

#11064 Minor docstring format cleanup
  lib/matplotlib/artist.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
Labels: Documentation

#11067 Remove unnecessary shebang.
  lib/matplotlib/backends/wx_compat.py
Labels: GUI/wx

#11061 Changed tight_layout doc strings
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#11071 Add note about hist2d resetting axis limits
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#11073 py3fication of some tests.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  doc/api/next_api_changes/2018-02-16-AL-deprecations.rst
  lib/matplotlib/testing/compare.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_compare_images.py
  lib/matplotlib/tests/test_dviread.py
Labels: Py3k, Testing

#11076 Don't create texput.{aux,log} in rootdir everytime tests are run.
  .gitignore
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Testing, backend/pgf

#11045 Help tool.
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/mpl-data/images/help.pdf
  lib/matplotlib/mpl-data/images/help.png
  lib/matplotlib/mpl-data/images/help.ppm
  lib/matplotlib/mpl-data/images/help.svg
  lib/matplotlib/mpl-data/images/help_large.png
  lib/matplotlib/mpl-data/images/help_large.ppm
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_backend_tools.py
  matplotlibrc.template
  tools/make_icons.py
Labels: MEP22

#11075 Drop alpha channel when saving comparison failure diff image.
  lib/matplotlib/testing/compare.py
Labels: Testing

#11063 Enable sphinx.ext.viewcode
  doc/_static/mpl.css
  doc/conf.py
Labels: Documentation, Needs review

#10899 Update cycler docstrings and favor kwarg over two-args form
  doc/conf.py
  examples/api/filled_step.py
  examples/color/color_cycler.py
  examples/lines_bars_and_markers/markevery_prop_cycle.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/stackplot.py
  tutorials/intermediate/color_cycle.py
Labels: Documentation, Needs review

#10211 Doc add sha to footer
  doc/_templates/layout.html
  doc/conf.py
Labels: Documentation

#10967 updated the pyplot fill_between example to elucidate the premise;maki…
  examples/pyplots/whats_new_98_4_fill_between.py
Labels: Documentation

#11083 Update Pie Demo2
  examples/pie_and_polar_charts/pie_demo2.py
Labels: Documentation

#11080 Py3fy backend_qt5 + other cleanups to the backend.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/backends/backend_qt5.py
Labels: Py3k

#11090 Clean docstring of CountourSet
  lib/matplotlib/contour.py
Labels: Documentation

#11085 Use GtkShortcutsWindow for Help tool.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#11107 Pin sphinx to 1.7.2 to unbreak the doc build.
  .travis.yml
  doc-requirements.txt
Labels: build

#11106 py3fy art3d.
  lib/mpl_toolkits/mplot3d/art3d.py
  pytest.ini
Labels: Py3k

#10950 Actually ignore invalid log-axis limit setting
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_scale.py
Labels: Needs review

#10792 Fixed not being able to set vertical/horizontal alignments in polar graphs
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/baseline_images/test_axes/polar_alignment.png
  lib/matplotlib/tests/test_axes.py
Labels: polar

#10545 Change manual kwargs popping to kwonly arguments.
  examples/api/radar_chart.py
  examples/images_contours_and_fields/contour_demo.py
  examples/scales/custom_scale.py
  examples/subplots_axes_and_figures/custom_figure_class.py
  examples/text_labels_and_annotations/usetex_baseline_test.py
  examples/user_interfaces/toolmanager_sgskip.py
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/projections/__init__.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_figure.py
  lib/mpl_toolkits/axes_grid/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axes_grid.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Py3k

#9454 Batch ghostscript converter.
  lib/matplotlib/__init__.py
  lib/matplotlib/testing/compare.py
Labels: Testing, backend/pdf, backend/ps

#9131 FIX: prevent the canvas from jump sizes due to DPI changes
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt, Needs review

#10981 Document change of label visibility on shared axes
  doc/api/api_changes.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#11132 pillow-dependency update
  INSTALL.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
Labels: Documentation

#10968 Improve docstring of contour
  lib/matplotlib/contour.py
Labels: Documentation, Needs review

#11093 DOC: Fixup to AnchoredArtist examples in the gallery
  examples/axes_grid1/simple_anchored_artists.py
  examples/misc/anchored_artists.py
  tutorials/text/annotations.py
Labels: Documentation

#11130 Don't include the postscript title if it is not latin-1 encodable.
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps
