Repository matplotlib/matplotlib, pull requests merged in 2018-08, with the labels that each got.

#11785 Add missing API changes
  doc/api/api_changes.rst
Labels: Documentation

#11734 Small cleanups to backend_agg.
  .flake8
  lib/matplotlib/backends/backend_agg.py
  src/_backend_agg.cpp
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
Labels: backend/agg

#11811 Backport: resolve conflict to get this into v2.2.3
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_layoutbox.py
  lib/matplotlib/tests/test_axes.py
Labels: geometry manager

#11801 update annotations
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: Release critical

#11533 MNT: updates for python 3.7
  .travis.yml
  INSTALL.rst
  doc/devel/testing.rst
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout4.svg
  lib/matplotlib/tests/test_figure.py
  setup.py
Labels: Release critical

#11819 DOC: fix minor typo in figure example
  lib/matplotlib/figure.py
Labels: Documentation

#11829 func animation warning changes
  lib/matplotlib/animation.py
Labels: Animation, Release critical

#11831 animation api documentation changes
  doc/_templates/autosummary_inher.rst
  doc/api/animation_api.rst
Labels: Animation, Documentation

#11828 changed warning in animation
  lib/matplotlib/animation.py
Labels: Animation

#11600 backend switching -- don't create a public fallback API
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  doc/users/whats_new.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/__init__.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_backend_qt4.py
  lib/matplotlib/tests/test_backend_qt5.py
  lib/matplotlib/tests/test_backends_interactive.py
  matplotlibrc.template
  setup.py
  src/_macosx.m
Labels: Release critical

#11762 fix minor grid overlapping
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: Needs review

#11843 Remove unnecessary use of nose.
  lib/matplotlib/tests/test_text.py
Labels: Testing

#11845 Use Format_ARGB32_Premultiplied instead of RGBA8888 for Qt backends.
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/cbook/__init__.py
Labels: Release critical

#11866 Typo fix in Usage Guide
  tutorials/introductory/usage.py
Labels: Documentation

#11865 example file for making a bar of pie chart
  .flake8
  examples/pie_and_polar_charts/bar_of_pie.py
Labels: Documentation

#11874 Remove some remnants of Py2-handling in test_rcparams.
  lib/matplotlib/tests/test_rcparams.py
Labels: Testing

#11862 Fix NumPy FutureWarning for non-tuple indexing.
  lib/matplotlib/mlab.py
Labels: Testing

#11875 Backport PR #11871 on branch v2.2.3-doc
  doc/devel/MEP/MEP24.rst
  lib/matplotlib/ticker.py
Labels: Documentation

#11799 DOC: Update link to IBM's colormap selection paper
  tutorials/colors/colormaps.py
Labels: Documentation

#11884 Deprecate the tk_window_focus function.
  doc/api/api_changes/2018-08-17-AL-deprecations.rst
  lib/matplotlib/__init__.py
Labels: GUI/tk

#11883 Backport PR #11862 on branch v3.0.x
  lib/matplotlib/mlab.py
Labels: Testing

#11850 FIX: macosx framework check
  src/_macosx.m
Labels: GUI/osx, Release critical

#11881 DOC: make ibm link go to doi not ieee site
  tutorials/colors/colormaps.py
Labels: Documentation

#11900 Allow args to pass through _allow_super_init
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#11906 fix format of bar_of_pie example
  examples/pie_and_polar_charts/bar_of_pie.py
Labels: Documentation

#11907 Move TOC back to top in axes documentation
  doc/api/axes_api.rst
Labels: Documentation

#11502 FIX: move title(s) up if subscripts hang too low.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_text/large_subscript_title.png
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout1.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout1.png
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout1.svg
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout7.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout7.png
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout7.svg
  lib/matplotlib/tests/test_text.py
Labels: Needs review

#11591 BUG: correct the scaling in the floating-point slop test.
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: Needs review

#11897 HTMLWriter, put initialisation of frames in setup
  lib/matplotlib/animation.py
Labels: Animation

#11912 BLD: update PR template for flake8
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build

#11926 Minor fix to ginput_demo.
  examples/event_handling/ginput_demo_sgskip.py
Labels: Documentation

#11924 Minor formatting update on alias docstrings
  lib/matplotlib/artist.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/mlab.py
  lib/matplotlib/text.py
Labels: Documentation

#11905 DOC: colormap-manipulation tutorial
  .flake8
  examples/color/custom_cmap.py
  lib/matplotlib/cm.py
  lib/matplotlib/colors.py
  tutorials/colors/colormap-manipulation.py
Labels: Documentation

#11922 Improve docstrings of Line2D
  lib/matplotlib/lines.py
Labels: Documentation

#11938 More docstring cleanup of Line2D.
  lib/matplotlib/artist.py
  lib/matplotlib/lines.py
Labels: Documentation

#11925 Increase the width of property tables in class docs
  doc/_static/mpl.css
Labels: Documentation

#11939 Improve alias signatures
  lib/matplotlib/cbook/__init__.py
Labels: API consistency

#11942 Deprecate Artist.aname and Axes.aname
  doc/api/next_api_changes/2018-07-22-AL-deprecations.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
Labels: API Changes

#11934 Suppress the "non-GUI backend" warning from the .. plot:: directive...
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/sphinxext/tests/test_tinypages.py
Labels: sphinx extension

#11961 Downgrade backend_version log to DEBUG level.
  lib/matplotlib/pyplot.py
Labels: Release critical

#11965 Move the removal of the -Wstrict-prototypes flag to setup.py.
  setup.py
  setupext.py
Labels: build
