Repository matplotlib/matplotlib, pull requests merged in 2018-03, with the labels that each got.

#10623 Fix for failing bar plot w/ units
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/testing/jpl_units/EpochConverter.py
  lib/matplotlib/testing/jpl_units/__init__.py
  lib/matplotlib/tests/baseline_images/test_units/jpl_bar_units.png
  lib/matplotlib/tests/baseline_images/test_units/jpl_barh_units.png
  lib/matplotlib/tests/test_units.py
Labels: units

#10645 Add mplcairo to 3rdparty docs.
  doc/thirdpartypackages/index.rst
Labels: Documentation

#10558 Remove if six.PY2 code paths from boilerplate.py
  tools/boilerplate.py
Labels: Py3k

#10635 Simplify setupext by using globs.
  setup.py
  setupext.py
Labels: build

#10629 FIX/ENH CL: Allow single parent colorbar w/ gridspec layout
  lib/matplotlib/colorbar.py
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Release critical, geometry manager

#10595 Improve Figure docstrings
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
Labels: Documentation

#10638 WIP: ENH: autodecode pandas timestamps
  lib/matplotlib/dates.py
  lib/matplotlib/units.py
Labels: date handling, third-party integration, units

#10613 FIX: resolution of imshow for floats and 2-D greyscale PIL images
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_image/imshow_bignumbers_real.png
  lib/matplotlib/tests/test_image.py
Labels: Release critical

#10661 Homebrew python is now python 3
  .travis.yml
Labels: Testing

#10364 Workaround property list indent
  lib/matplotlib/artist.py
Labels: Documentation

#10603 Remove workarounds for numpy<1.10.
  examples/api/custom_projection_example.py
  examples/misc/demo_ribbon_box.py
  examples/mplot3d/hist3d.py
  examples/mplot3d/trisurf3d.py
  examples/pyplots/boxplot_demo_pyplot.py
  examples/shapes_and_collections/ellipse_collection.py
  examples/shapes_and_collections/line_collection.py
  examples/specialty_plots/mri_with_eeg.py
  examples/statistics/boxplot_demo.py
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/category.py
  lib/matplotlib/cbook/_backports.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/lines.py
  lib/matplotlib/path.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/tripcolor.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
  pytest.ini
Labels: Py3k

#10653 Mock is in stdlib in Py3.
  .appveyor.yml
  .travis.yml
  INSTALL.rst
  README.rst
  doc-requirements.txt
  doc/conf.py
  doc/devel/contributing.rst
  doc/devel/documenting_mpl.rst
  doc/devel/testing.rst
  doc/sphinxext/mock_gui_toolkits.py
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_backend_qt4.py
  lib/matplotlib/tests/test_backend_qt5.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_units.py
  lib/matplotlib/tests/test_widgets.py
  tests.py
  tox.ini
Labels: Py3k, Testing

#10665 Highlight deprecations in the docs
  doc/_static/mpl.css
  lib/matplotlib/axes/_base.py
Labels: Documentation

#10599 Axes doc updates
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#9918 Remove old nose testing code
  doc/api/next_api_changes/2018-02-15-DS.rst
  lib/matplotlib/testing/_nose/__init__.py
  lib/matplotlib/testing/_nose/decorators.py
  lib/matplotlib/testing/_nose/exceptions.py
  lib/matplotlib/testing/_nose/plugins/__init__.py
  lib/matplotlib/testing/_nose/plugins/knownfailure.py
  lib/matplotlib/testing/_nose/plugins/performgc.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/testing/noseclasses.py
  lib/matplotlib/tests/test_compare_images.py
Labels: Needs review, Testing

#10658 FIX Speed up constrained layout
  lib/matplotlib/_constrained_layout.py
Labels: geometry manager

#9814 figure_enter_event uses now LocationEvent instead of Event. Fix issue #9812.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/Qt, GUI/gtk, GUI/nbagg, GUI/osx, GUI/tk, GUI/webagg, GUI/wx

#10507 Remove Python 2 code from C extensions
  lib/matplotlib/tri/_tri.h
  lib/matplotlib/tri/_tri_wrapper.cpp
  src/_backend_agg.h
  src/_backend_agg_basic_types.h
  src/_backend_agg_wrapper.cpp
  src/_contour.h
  src/_contour_wrapper.cpp
  src/_image.h
  src/_image_resample.h
  src/_image_wrapper.cpp
  src/_macosx.m
  src/_path.h
  src/_path_wrapper.cpp
  src/_png.cpp
  src/_tkagg.cpp
  src/_ttconv.cpp
  src/_windowing.cpp
  src/agg_workaround.h
  src/array.h
  src/file_compat.h
  src/ft2font.h
  src/ft2font_wrapper.cpp
  src/mplutils.h
  src/numpy_cpp.h
  src/path_cleanup.h
  src/path_converters.h
  src/py_adaptors.h
  src/py_converters.h
  src/py_exceptions.h
  src/qhull_wrap.c
Labels: Py3k

#10666 More figure-related doc updates
  lib/matplotlib/figure.py
Labels: Documentation

#10522 Py3fy font_manager.
  doc/api/next_api_changes/2018-02-18-AL-removals.rst
  lib/matplotlib/font_manager.py
Labels: Py3k

#10652 Some py3fication for matplotlib/__init__, setupext.
  lib/matplotlib/__init__.py
  setupext.py
Labels: Py3k

#10532 Py3fy backend_pgf.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/mpl-data/stylelib/_classic_test.mplstyle
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  matplotlibrc.template
Labels: Py3k

#10681 Fix tk icon loading.
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#10480 Filter out invalid value warnings in log scaling
  lib/matplotlib/scale.py
Labels: Needs review

#10564 Nested classes and instancemethods are directly picklable on Py3.5+.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/markers.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/transforms.py
Labels: Py3k

#10683 Convert Tick attributes to numpydoc
  lib/matplotlib/axis.py
Labels: Documentation

#10703 Fix signature docstring in _png extension.
  src/_png.cpp
Labels: Documentation

#10710 BUG: Fix UnboundLocalError in contour labelling
  lib/matplotlib/contour.py
Labels: Release critical

#10721 sanitize norm extrema to be floats
  lib/matplotlib/cm.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Release critical

#10731 Corrected mistitling on the annotation tutorial page
  tutorials/text/annotations.py
Labels: Documentation

#10636 Remove some wx version checks.
  .travis.yml
  doc/sphinxext/mock_gui_toolkits.py
  lib/matplotlib/backends/wx_compat.py
  setupext.py
  tutorials/introductory/usage.py
Labels: GUI/wx, build

#10714 sys.platform is normalized to "linux" on Py3.
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/cbook/__init__.py
  setupext.py
Labels: Py3k

#10742 FIX: reorder linewidth setting before linestyle
  lib/matplotlib/lines.py
Labels: API consistency

#10726 FIX: re-instate verbose alias
  lib/matplotlib/__init__.py
Labels: Release critical

#10739 FIX: ffmpeg logging level
  lib/matplotlib/animation.py
Labels: Release critical

#10771 FIX/TST OS X builds
  .travis.yml
Labels: Testing

#10772 API: check locator and formatter args when passed
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_ticker.py
Labels: Argument Checking

#10775 Fix new warnings with gcc8
  MANIFEST.in
  src/_path_wrapper.cpp
  src/py_converters.cpp
  src/py_exceptions.h
Labels: build

#10793 A hodgepodge of Py3 & style fixes.
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_simplification.py
  tools/triage_tests.py
Labels: Py3k

#10592 Rely on generalized * and ** unpackings where possible.
  examples/api/filled_step.py
  examples/images_contours_and_fields/custom_cmap.py
  examples/mplot3d/polys3d.py
  examples/showcase/integral.py
  examples/subplots_axes_and_figures/axes_zoom_effect.py
  examples/tests/backend_driver_sgskip.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/qt_editor/formlayout.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/lines.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/quiver.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/style/core.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/triplot.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  tools/boilerplate.py
  tools/gh_api.py
Labels: Py3k

#10723 repr style fixes.
  examples/lines_bars_and_markers/line_styles_reference.py
  examples/lines_bars_and_markers/marker_fillstyle_reference.py
  examples/lines_bars_and_markers/marker_reference.py
  examples/units/basic_units.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/transforms.py
Labels: Py3k

#10400 numpydoc-ify art3d docstrings
  lib/mpl_toolkits/mplot3d/art3d.py
  setupext.py
Labels: Documentation, Needs review

#10278 improve docstring of Axes.loglog, Axes.semilogx, Axes.semilogy
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/scale.py
Labels: Documentation, Needs review

#10296 Improve docstrings of pyplot axis-related functions
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
Labels: Documentation, Needs review

#10725 FIX/TST constrained_layout remove test8 duplication
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: Testing, geometry manager

#10804 Rev lru cache
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/colors.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/path.py
  lib/matplotlib/textpath.py
Labels: Release critical

#10724 Py3fication of unicode.
  examples/misc/multipage_pdf.py
  examples/pyplots/text_commands.py
  lib/matplotlib/sphinxext/tests/tinypages/conf.py
  lib/matplotlib/testing/determinism.py
  lib/matplotlib/tests/test_afm.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/widgets.py
  tutorials/text/text_intro.py
Labels: Py3k

#10696 Simplify venv docs.
  doc/faq/osx_framework.rst
  doc/faq/virtualenv_faq.rst
Labels: Documentation

#10816 FIX: restore verbose attribute at top level
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_basic.py
Labels: Release critical

#10817 Add test to imread from url.
  lib/matplotlib/tests/test_image.py
Labels: Testing

#10799 DOC: make legend docstring interpolated
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: Documentation

#10374 Update layout of sidebar in documentation
  doc/_static/mpl.css
  doc/_templates/donate_sidebar.html
  doc/_templates/pagesource.html
  doc/conf.py
Labels: Documentation

#10829 Use long color names for default rcParams
  lib/matplotlib/rcsetup.py
  matplotlibrc.template
Labels: Documentation, rcparams

#10824 DOC: add minimum dependency version policy in writing
  doc/devel/index.rst
  doc/devel/min_dep_policy.rst
Labels: Documentation

#10828 Add print_rgba to backend_cairo.
  lib/matplotlib/backends/backend_cairo.py
Labels: backend/cairo

#10823 Add some basic smoketesting for webagg (and wx).
  .travis.yml
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Testing

#10835 DOC: Make colorbar tutorial examples look like colorbars.
  tutorials/colors/colorbar_only.py
Labels: Documentation

#10838 Don't use private attribute in tk example. Fix Toolbar class rename.
  examples/user_interfaces/embedding_in_tk_sgskip.py
Labels: Documentation, Release critical

#10837 Correctly display error when running setup.py test.
  setup.py
Labels: build

#10826 Py3fy dates.py.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/dates.py
Labels: Py3k

#10822 DOC: change branch and backport guidelines
  doc/devel/coding_guide.rst
Labels: Documentation

#10609 More wx cleanup.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#10778 wx_compat is no more.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  examples/user_interfaces/mathtext_wx_sgskip.py
  examples/user_interfaces/wxcursor_demo_sgskip.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
  lib/matplotlib/backends/wx_compat.py
Labels: GUI/wx, Py3k

#10849 DOC: CL make pcolormesh calls consistent
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#10834 Minor docstring updates on spectral plot functions
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/mlab.py
Labels: Documentation

#10662 Update docs on Axes.set_prop_cycle
  lib/matplotlib/axes/_base.py
  lib/matplotlib/rcsetup.py
Labels: Documentation

#10847 Py3fy axis.py.
  lib/matplotlib/axis.py
Labels: Py3k

#10852 Update docs re: pygobject in venv.
  doc/faq/virtualenv_faq.rst
Labels: Documentation, GUI/gtk

#10801 Fix undefined name. Add animation tests.
  .appveyor.yml
  .travis.yml
  doc/devel/contributing.rst
  doc/devel/testing.rst
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
  setupext.py
Labels: Needs rebase, Release critical

#10686 fix BboxConnectorPatch does not show facecolor
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/fill_facecolor.png
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: Needs rebase, Needs review

#10097 Reset extents in RectangleSelector when not interactive on press.
  lib/matplotlib/widgets.py
Labels: widgets/UI

#9571 Remove LaTeX checking in setup.py.
  setup.py
  setupext.py
Labels: build

#10831 Minor docstring updates on binning related plot functions
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#10867 MNT: move bz2 back to function level
  lib/matplotlib/cbook/__init__.py
Labels: Release critical

#10870 Restore main doc page <title>.
  doc/index.rst
Labels: Documentation

#10708 Py3fy webagg/nbagg.
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: Py3k

#10877 Fix invalid escape sequence in docstring.
  lib/matplotlib/axes/_axes.py
Labels: Documentation, Release critical

#10871 Rely on rglob support rather than os.walk.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  doc/api/next_api_changes/2018-03-23-AL.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/font_manager.py
  tools/triage_tests.py
Labels: Py3k

#10158 Allow mplot3d rasterization; adjacent cleanups.
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Needs review, mplot3d

#8479 [MRG+1] FIX markerfacecolor / mfc not in rcparams
  lib/matplotlib/lines.py
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
  matplotlibrc.template
Labels: Needs review, rcparams

#10865 DOC: use OO-ish interface in image, contour, field examples
  examples/images_contours_and_fields/barb_demo.py
  examples/images_contours_and_fields/barcode_demo.py
  examples/images_contours_and_fields/contour_corner_mask.py
  examples/images_contours_and_fields/contour_demo.py
  examples/images_contours_and_fields/contour_image.py
  examples/images_contours_and_fields/contour_label_demo.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/contourf_hatching.py
  examples/images_contours_and_fields/demo_bboximage.py
  examples/images_contours_and_fields/figimage_demo.py
  examples/images_contours_and_fields/image_demo.py
  examples/images_contours_and_fields/image_masked.py
  examples/images_contours_and_fields/interpolation_methods.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/images_contours_and_fields/quiver_demo.py
  examples/images_contours_and_fields/shading_example.py
  examples/images_contours_and_fields/specgram_demo.py
  examples/images_contours_and_fields/tricontour_demo.py
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/images_contours_and_fields/tricontour_smooth_user.py
  examples/images_contours_and_fields/triinterp_demo.py
  examples/images_contours_and_fields/tripcolor_demo.py
  examples/images_contours_and_fields/triplot_demo.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#10884 Style fixes to setupext.py.
  setupext.py
Labels: build

#10892 Replace suggested labels with good first issue label
  doc/devel/contributing.rst
Labels: Documentation

#10894 Update install instructions for win
  INSTALL.rst
Labels: Documentation, OS/Microsoft, build

#10902 Kill some Py2 docs.
  doc/faq/installing_faq.rst
Labels: Documentation, Py3k

#10901 Remove Py2/3 portable code guide.
  doc/devel/index.rst
  doc/devel/portable_code.rst
Labels: Documentation, Py3k

#10903 Py3fy testing machinery.
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/testing/decorators.py
Labels: Py3k

#10905 Inline knownfailureif.
  lib/matplotlib/testing/decorators.py
Labels: Testing

#10896 Update INSTALL.rst.
  INSTALL.rst
  build_alllocal.cmd
Labels: Documentation

#10692 Update afm docs and internal data structures
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/afm.py
  lib/matplotlib/tests/test_afm.py
Labels: Documentation, Needs review, text

#10906 Deprecate ImageComparisonTest.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/testing/decorators.py
Labels: Testing

#10299 Invalidate texmanager cache when any text.latex.* rc changes.
  lib/matplotlib/texmanager.py
Labels: text/usetex

#10459 Move some examples out of examples/api
  examples/color/colorbar_basics.py
  examples/images_contours_and_fields/affine_image.py
  examples/lines_bars_and_markers/barchart.py
  examples/misc/bbox_intersect.py
  examples/misc/custom_projection.py
  examples/scales/custom_scale.py
  examples/shapes_and_collections/collections.py
  examples/shapes_and_collections/compound_path.py
  examples/shapes_and_collections/donut.py
  examples/subplots_axes_and_figures/axes_margins.py
  examples/text_labels_and_annotations/date.py
  examples/text_labels_and_annotations/date_index_formatter.py
  examples/text_labels_and_annotations/engineering_formatter.py
  examples/units/bar_unit_demo.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/introductory/sample_plots.py
Labels: Documentation, Needs review

#10798 FIX: axes limits reverting to automatic when sharing
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Needs review

#10864 ENH: Stop mangling default figure file name if file exists
  doc/users/next_whats_new/default_filename_suffix.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: API Changes

#10929 Fix rctemplate tests when user config file exists.
  lib/matplotlib/tests/test_rcparams.py
  pytest.ini
Labels: Testing, rcparams
