Repository matplotlib/matplotlib, pull requests merged in 2018-11, with the labels that each got.

#12440 Make arguments to @deprecated/warn_deprecated keyword-only.
  doc/api/next_api_changes/2018-09-18-AL-deprecation-machinery.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/afm.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/tkagg.py
  lib/matplotlib/backends/wx_compat.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/collections.py
  lib/matplotlib/figure.py
  lib/matplotlib/markers.py
  lib/matplotlib/patches.py
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: Needs review

#11974 Make code match comment in sankey.
  doc/api/next_api_changes/2018-08-29-AL-sankey.rst
  lib/matplotlib/sankey.py
Labels: Needs review

#12684 Change ipython block to code-block
  doc/users/prev_whats_new/whats_new_1.5.rst
Labels: Documentation

#12691 DOC: Link to "How to make a PR" tutorials as badge and in contributing
  README.rst
  doc/devel/contributing.rst
Labels: Documentation

#12685 Make ticks in demo_axes_rgb.py visible
  examples/axes_grid1/demo_axes_rgb.py
Labels: Documentation

#12481 Warn if plot_surface Z values contain NaN
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Argument Checking, Needs review

#12706 Extend sphinx Makefile to cleanup completely
  doc/Makefile
Labels: Documentation

#12705 Improve docs on Axes limits and direction
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#12676 Doc: document textpath module
  doc/api/api_overview.rst
  doc/api/index.rst
  doc/api/textpath_api.rst
  examples/text_labels_and_annotations/demo_text_path.py
  lib/matplotlib/textpath.py
Labels: Documentation

#12719 Backport PR #12705 on branch v3.0.x
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#12537 Improve error message on failing test_pyplot_up_to_date
  lib/matplotlib/tests/test_pyplot.py
Labels: Needs review

#12726 Fix test_non_gui_warning for Azure (and mplcairo).
  lib/matplotlib/tests/test_backend_bases.py
Labels: Testing

#12704 Rename tkinter import from Tk to tk.
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/tkagg.py
Labels: GUI/tk

#11663 Refactor color parsing of Axes.scatter
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Needs review

#12740 DOC: constrained layout guide (fix: Spacing with colorbars)
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation, geometry manager

#12727 Reorder API docs: separate file per module
  doc/api/afm_api.rst
  doc/api/animation_api.rst
  doc/api/artist_api.rst
  doc/api/axes_api.rst
  doc/api/axis_api.rst
  doc/api/blocking_input_api.rst
  doc/api/cbook_api.rst
  doc/api/cm_api.rst
  doc/api/collections_api.rst
  doc/api/colorbar_api.rst
  doc/api/colors_api.rst
  doc/api/container_api.rst
  doc/api/contour_api.rst
  doc/api/dates_api.rst
  doc/api/dviread.rst
  doc/api/figure_api.rst
  doc/api/font_manager_api.rst
  doc/api/fontconfig_pattern_api.rst
  doc/api/gridspec_api.rst
  doc/api/image_api.rst
  doc/api/index.rst
  doc/api/index_backend_api.rst
  doc/api/legend_api.rst
  doc/api/legend_handler_api.rst
  doc/api/lines_api.rst
  doc/api/markers_api.rst
  doc/api/mathtext_api.rst
  doc/api/matplotlib_configuration_api.rst
  doc/api/mlab_api.rst
  doc/api/offsetbox_api.rst
  doc/api/patches_api.rst
  doc/api/path_api.rst
  doc/api/patheffects_api.rst
  doc/api/projections_api.rst
  doc/api/pyplot_summary.rst
  doc/api/rcsetup_api.rst
  doc/api/sankey_api.rst
  doc/api/scale_api.rst
  doc/api/spines_api.rst
  doc/api/style_api.rst
  doc/api/table_api.rst
  doc/api/text_api.rst
  doc/api/textpath_api.rst
  doc/api/ticker_api.rst
  doc/api/tight_layout_api.rst
  doc/api/transformations.rst
  doc/api/tri_api.rst
  doc/api/type1font.rst
  doc/api/units_api.rst
  doc/api/widgets_api.rst
Labels: Documentation

#12693 Workaround Text3D breaking tight_layout()
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#12598 Support Cn colors with n>=10.
  doc/api/next_api_changes/2018-10-23-AL.rst
  examples/color/color_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_rcparams.py
  tutorials/colors/colors.py
Labels: API Changes

#12737 Improve docstring of Arc
  lib/matplotlib/patches.py
Labels: Documentation

#12708 Run flake8 in a separate travis environment
  .travis.yml
  requirements/testing/travis36.txt
  requirements/testing/travis_flake8.txt
Labels: Testing

#11753 FIX: Apply aspect before drawing starts
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_axes/annotate_across_transforms.png
  lib/matplotlib/tests/test_axes.py
Labels: geometry manager

#12746 Use skipif, not xfail, for uncomparable image formats.
  doc/api/next_api_changes/2018-11-05-AL.rst
  lib/matplotlib/testing/decorators.py
Labels: Testing

#12552 Update docs for writing image comparison tests.
  doc/devel/testing.rst
  lib/matplotlib/testing/decorators.py
Labels: Documentation, Testing

#12526 Rename jquery files
  examples/user_interfaces/embedding_webagg_sgskip.py
  lib/matplotlib/backends/web_backend/all_figures.html
  lib/matplotlib/backends/web_backend/jquery/js/jquery.js
  lib/matplotlib/backends/web_backend/jquery/js/jquery.min.js
  lib/matplotlib/backends/web_backend/single_figure.html
Labels: Needs review

#12776 Fix typo in example (on-borad -> on-board).
  examples/images_contours_and_fields/irregulardatagrid.py
Labels: Documentation

#12785 Use level kwargs in irregular contour example
  examples/images_contours_and_fields/irregulardatagrid.py
Labels: Documentation

#12643 Allow unit input to FancyArrowPatch
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: Needs review

#12674 Allow "real" LaTeX code for pgf.preamble in matplotlibrc
  doc/api/next_api_changes/2018-10-30-rcparams-pgf.preamble-full-LaTeX-support.rst
  doc/users/next_whats_new/2018-10-30-rcparams-pgf.preamble-full-LaTeX-support.rst
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/rcsetup.py
  matplotlibrc.template
Labels: API Changes, backend/pgf, rcparams, text/usetex

#12565 Make FontManager.score_weight less lenient.
  doc/api/next_api_changes/2018-10-19-AL.rst
  lib/matplotlib/font_manager.py
Labels: text

#12259 BUG: Fix face orientations of bar3d
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_notshaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_shaded.png
Labels: Needs review, mplot3d

#12796 Simplifications to quiver3d.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#12633 Added support for MacOSX backend for PyPy
  doc/users/next_whats_new/2018-10-26-DM.rst
  src/_macosx.m
Labels: GUI/osx, Needs review, OS/Apple

#12799 Reword some colorbar docs.
  lib/matplotlib/colorbar.py
Labels: Documentation

#12764 Cleanup Renderer/GraphicsContext docs.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/patheffects.py
Labels: Documentation

#12805 Don't insert spurious newlines by joining tex.preamble.
  doc/api/next_api_changes/2018-10-30-rcparams-pgf.preamble-full-LaTeX-support.rst
  lib/matplotlib/rcsetup.py
  lib/matplotlib/texmanager.py
Labels: Release critical, text/usetex

#12824 Add missing datestr2num to docs
  lib/matplotlib/dates.py
Labels: Documentation

#12795 Fix Bezier degree elevation formula in backend_cairo.
  lib/matplotlib/backends/backend_cairo.py
Labels: backend/cairo

#12835 Don't fail tests if cairo dependency is not installed.
  lib/matplotlib/testing/conftest.py
Labels: Testing

#12218 Improve table docs
  lib/matplotlib/table.py
Labels: Documentation

#12867 Drop compat code for outdated MSVC.
  src/mplutils.h
Labels: OS/Microsoft, build

#12869 Fix latin-1-ization of Title in eps.
  lib/matplotlib/backends/backend_ps.py
Labels: Release critical

#12800 documenting dtype of hist counts
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#12872 Inline references to RendererPS in backend_ps.
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#12739 make Axes._parse_scatter_color_args static
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Needs review

#12878 Pin pytest to <3.8 (for 3.0.x)
  .appveyor.yml
  requirements/testing/travis_all.txt
Labels: Testing

#12886 Properly enable forward/backward buttons on Qt
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#12898 Validate rcParams["image.origin"].
  lib/matplotlib/contour.py
  lib/matplotlib/rcsetup.py
Labels: Argument Checking, rcparams

#12897 Reword a bit the contour docs.
  lib/matplotlib/contour.py
  lib/matplotlib/tri/tricontour.py
Labels: Documentation

#12881 Fix string comparison
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI/Qt, Needs review

#12888 Properly enable forward/backward buttons on GTK3
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#12774 Cairo backend: Fix alpha render of collections
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/tests/test_backend_cairo.py
Labels: backend/cairo

#12906 Backport PR #12774 on branch v3.0.x
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/tests/test_backend_cairo.py
Labels: backend/cairo

#12885 Improve margins in formlayout
  lib/matplotlib/backends/qt_editor/_formlayout.py
Labels: GUI/Qt
