Repository matplotlib/matplotlib, pull requests merged in 2018-07, with the labels that each got.

#10297 Fix gtk3agg alpha channel.
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: GUI/gtk

#10298 Apply gtk3 background.
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
Labels: GUI/gtk

#10336 Use Integral and Real in typechecks rather than explicit types.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/qt_editor/formlayout.py
  lib/matplotlib/blocking_input.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/lines.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: Py3k

#11495 Update the documentation guidelines
  doc/_static/mpl.css
  doc/devel/documenting_mpl.rst
Labels: Documentation

#11060 Fix inset_axes + doc
  examples/axes_grid1/inset_locator_demo.py
  examples/axes_grid1/inset_locator_demo2.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: Documentation, Needs review, Release critical, mpl_toolkit

#11455 Fixing the issue where right column and top row generate wrong stream…
  doc/api/next_api_changes/2018-06-24-PM-JMK.rst
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/baseline_images/test_pickle/multi_pickle.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_colormap.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_colormap.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_colormap.svg
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_direction.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.svg
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_masks_and_nans.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_masks_and_nans.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_masks_and_nans.svg
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_maxlength.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_startpoints.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_startpoints.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_startpoints.svg
  lib/matplotlib/tests/baseline_images/test_transforms/pre_transform_data.pdf
  lib/matplotlib/tests/baseline_images/test_transforms/pre_transform_data.png
  lib/matplotlib/tests/baseline_images/test_transforms/pre_transform_data.svg
  lib/matplotlib/tests/test_streamplot.py
  lib/matplotlib/tests/test_transforms.py
Labels: Needs review, Release critical

#11547 Fix example links
  doc/devel/add_new_projection.rst
  doc/devel/documenting_mpl.rst
  lib/matplotlib/collections.py
  lib/matplotlib/dates.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#11549 Some docstring cleanup in ticker
  lib/matplotlib/ticker.py
Labels: Documentation

#11548 Use numpydoc-style parameter lists for choices
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/collections.py
  lib/matplotlib/legend.py
  lib/matplotlib/patches.py
  lib/matplotlib/scale.py
  lib/matplotlib/stackplot.py
Labels: Documentation

#11494 Fix CI install of wxpython.
  .travis.yml
Labels: Testing

#11248 Simplify FreeType Windows build.
  setup_external_compile.py
  setupext.py
Labels: OS/Microsoft, build

#11520 Add private API retrieving the current event loop and backend GUI info.
  doc/api/next_api_changes/2018-06-27-AL.rst
  lib/matplotlib/backends/__init__.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt4.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
  src/_macosx.m
Labels: Release critical

#11401 Some py3fications.
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/type1font.py
Labels: Py3k

#11570 More simplifications to FreeType setup on Windows.
  setup_external_compile.py
  setupext.py
Labels: OS/Microsoft, build

#9801 ENH: Change default Autodatelocator *interval_multiples*
  doc/api/next_api_changes/2018-07-02-JMK.rst
  lib/matplotlib/dates.py
  lib/matplotlib/tests/baseline_images/test_axes/pcolor_datetime_axis.png
  lib/matplotlib/tests/baseline_images/test_axes/pcolormesh_datetime_axis.png
  lib/matplotlib/tests/baseline_images/test_axes/single_date.pdf
  lib/matplotlib/tests/baseline_images/test_axes/single_date.png
  lib/matplotlib/tests/baseline_images/test_axes/single_date.svg
  lib/matplotlib/tests/baseline_images/test_contour/contour_datetime_axis.png
  lib/matplotlib/tests/baseline_images/test_dates/date_axhline.png
  lib/matplotlib/tests/baseline_images/test_dates/date_axhspan.png
  lib/matplotlib/tests/baseline_images/test_dates/date_axvline.png
  lib/matplotlib/tests/baseline_images/test_dates/date_inverted_limit.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_dates.py
  setup.cfg.template
Labels: Needs review, date handling, default changes

#11565 Update docstring of pyplot.matshow()
  lib/matplotlib/pyplot.py
Labels: Documentation

#11571 Cleanup stix_fonts_demo example.
  examples/text_labels_and_annotations/stix_fonts_demo.py
Labels: Documentation

#11573 Inline setup_external_compile into setupext.
  pytest.ini
  setup_external_compile.py
  setupext.py
Labels: OS/Microsoft, build

#11576 Add parameter doc to save_diff_image
  lib/matplotlib/testing/compare.py
Labels: Documentation

#11370 Sorting drawn artists by their zorder when blitting using FuncAnimation
  doc/api/next_api_changes/2018-06-03-JD-funcani-zorder.rst
  lib/matplotlib/animation.py
Labels: Animation

#11240 Deprecate the examples.directory rcParam.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_rcparams.py
  matplotlibrc.template
Labels: build

#10474 Use TemporaryDirectory instead of mkdtemp in a few places.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_backend_bases.py
  lib/matplotlib/tests/test_style.py
Labels: Needs rebase, Py3k

#11585 Some doc cleanup of Triangulation
  lib/matplotlib/tri/triangulation.py
Labels: Documentation

#11593 Skip wx interactive tests on OSX.
  lib/matplotlib/tests/test_backends_interactive.py
Labels: GUI/osx, GUI/wx, Testing

#11588 DOC: warn if user is using constrained layout and use subplots_adjust
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: Documentation

#11579 DOC update some examples to use constrained_layout=True
  examples/color/color_cycler.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/image_nonuniform.py
  examples/lines_bars_and_markers/psd_demo.py
  examples/subplots_axes_and_figures/figure_title.py
  examples/text_labels_and_annotations/legend_demo.py
Labels: Documentation

#11451 Cleanup Matplotlib API docs
  doc/_templates/layout.html
  doc/api/api_overview.rst
  doc/api/index.rst
  doc/api/pyplot_summary.rst
  doc/contents.rst
  doc/users/index.rst
Labels: Documentation, Needs review

#11584 ENH: fix colorbar bad minor ticks
  doc/users/next_whats_new/colorbar_minor_ticks.rst
  examples/color/colorbar_basics.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: Work in progress

#11165 Fix figure window icon
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#11477 Enable flake8 and re-enable it everywhere
  .flake8
  .travis.yml
  doc/conf.py
  doc/sphinxext/gallery_order.py
  doc/users/generate_credits.py
  examples/lines_bars_and_markers/marker_reference.py
  examples/recipes/fill_between_alpha.py
  examples/recipes/placing_text_boxes.py
  examples/scales/power_norm.py
  examples/text_labels_and_annotations/arrow_demo.py
  examples/ticks_and_spines/spines_bounds.py
  examples/units/basic_units.py
  lib/matplotlib/__init__.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/patches.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/tests/test_pickle.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  pytest.ini
  requirements/testing/travis36.txt
  setupext.py
  tests.py
  tools/memleak.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/text/annotations.py
  tutorials/text/pgf.py
  tutorials/text/usetex.py
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
Labels: Release critical, Testing

#11412 Make contour and contourf color assignments consistent.
  doc/api/next_api_changes/2018-06-09-EF-contour_levels.rst
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.pdf
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.png
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.svg
  lib/matplotlib/tests/baseline_images/test_axes/contour_hatching.pdf
  lib/matplotlib/tests/baseline_images/test_axes/contour_hatching.png
  lib/matplotlib/tests/baseline_images/test_axes/contour_hatching.svg
  lib/matplotlib/tests/baseline_images/test_contour/contour_datetime_axis.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_labels_size_color.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_log_extension.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_manual_labels.pdf
  lib/matplotlib/tests/baseline_images/test_contour/contour_manual_labels.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_manual_labels.svg
  lib/matplotlib/tests/baseline_images/test_contour/contour_test_label_transforms.png
  lib/matplotlib/tests/baseline_images/test_lines/line_collection_dashes.pdf
  lib/matplotlib/tests/baseline_images/test_lines/line_collection_dashes.png
  lib/matplotlib/tests/baseline_images/test_lines/line_collection_dashes.svg
  lib/matplotlib/tests/baseline_images/test_patheffects/collection.pdf
  lib/matplotlib/tests/baseline_images/test_patheffects/collection.png
  lib/matplotlib/tests/baseline_images/test_patheffects/collection.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_patheffects.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/tricontour.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: API consistency

#9175 Warn on freetype missing glyphs.
  src/ft2font.cpp
  src/ft2font_wrapper.cpp
Labels: Release critical, text

#9426 Don't mark a patch transform as set if the parent transform is not set.
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: Release critical

#10851 Wx Toolbar for ToolManager
  doc/sphinxext/mock_gui_toolkits.py
  examples/user_interfaces/toolmanager_sgskip.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#11081 Help tool for Wx backends
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, MEP22

#11605 Suppress a spurious missing-glyph warning with ft2font.
  src/ft2font.cpp
Labels: Release critical

#11604 TST: Place animation files in a temp dir.
  lib/matplotlib/tests/test_animation.py
Labels: Animation, Testing

#11608 Remove some conditional branches in examples for wx<4.
  examples/user_interfaces/embedding_in_wx4_sgskip.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
Labels: Documentation, GUI/wx

#11609 Remove _macosx.NavigationToolbar.
  src/_macosx.m
Labels: GUI/osx

#10245 Cache paths of fonts shipped with mpl relative to the mpl data path.
  .flake8
  lib/matplotlib/font_manager.py
Labels: Release critical, text

#11590 Don't associate Wx timers with the parent frame.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, Release critical

#10682 ENH have ax.get_tightbbox have a bbox around all artists attached to axes.
  doc/api/next_api_changes/2018-04-29-JMK.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_figure.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/tight_layout_guide.py
Labels: API Changes, API consistency, Release critical, geometry manager

#10234 PowerNorm: do not clip negative values
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: API Changes

#10001 MAINT/BUG: Don't use 5-sided quadrilaterals in Axes3D.plot_surface
  lib/matplotlib/cbook/__init__.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d_shaded.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#11615 Revert glyph warnings
  src/ft2font.cpp
  src/ft2font_wrapper.cpp
Labels: Release critical

#11617 Clean up what's new
  doc/users/whats_new.rst
Labels: Documentation, Release critical

#10872 Cleanup _plot_args_replacer logic
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
Labels: Release critical

#11562 Deactivate smartquotes
  doc/conf.py
Labels: Documentation

#11616 Fix some doctest issues
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/dviread.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
Labels: Documentation

#11622 FIX: be forgiving about the event for enterEvent not having a pos
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt, Release critical

#11636 Don't flush file object opened for reading
  src/file_compat.h
Labels: Release critical

#9223 Set norm to log if bins=='log' in hexbin
  doc/api/api_changes.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/hexbin_log.png
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#11642 Fix gitter badge; remove depsy badge.
  README.rst
Labels: Documentation

#11643 Fix deprecation messages.
  lib/matplotlib/__init__.py
  lib/matplotlib/cbook/deprecation.py
Labels: Release critical

#11633 Clean up next api_changes
  doc/api/api_changes.rst
Labels: Documentation, Release critical

#11651 Remove unused imports in examples
  examples/event_handling/ginput_manual_clabel_sgskip.py
  examples/frontpage/3D.py
  examples/images_contours_and_fields/contour_label_demo.py
  examples/images_contours_and_fields/figimage_demo.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/images_contours_and_fields/quiver_demo.py
  examples/lines_bars_and_markers/scatter_symbol.py
  examples/misc/load_converter.py
  examples/misc/plotfile_demo.py
  examples/misc/transoffset.py
  examples/mplot3d/2dcollections3d.py
  examples/mplot3d/3d_bars.py
  examples/mplot3d/bars3d.py
  examples/mplot3d/custom_shaded_3d_surface.py
  examples/mplot3d/hist3d.py
  examples/mplot3d/lines3d.py
  examples/mplot3d/lorenz_attractor.py
  examples/mplot3d/mixed_subplots.py
  examples/mplot3d/offset.py
  examples/mplot3d/pathpatch3d.py
  examples/mplot3d/polys3d.py
  examples/mplot3d/quiver3d.py
  examples/mplot3d/scatter3d.py
  examples/mplot3d/subplot3d.py
  examples/mplot3d/surface3d.py
  examples/mplot3d/surface3d_2.py
  examples/mplot3d/surface3d_3.py
  examples/mplot3d/surface3d_radial.py
  examples/mplot3d/text3d.py
  examples/mplot3d/tricontour3d.py
  examples/mplot3d/tricontourf3d.py
  examples/mplot3d/trisurf3d.py
  examples/mplot3d/trisurf3d_2.py
  examples/mplot3d/voxels.py
  examples/mplot3d/voxels_numpy_logo.py
  examples/mplot3d/voxels_rgb.py
  examples/mplot3d/voxels_torus.py
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/pyplots/fig_axes_customize_simple.py
  examples/pyplots/fig_x.py
  examples/pyplots/whats_new_1_subplot3d.py
  examples/shapes_and_collections/patch_collection.py
  examples/specialty_plots/sankey_basics.py
  examples/specialty_plots/sankey_links.py
  examples/statistics/violinplot.py
  examples/subplots_axes_and_figures/figure_title.py
  examples/tests/backend_driver_sgskip.py
  examples/text_labels_and_annotations/date.py
  examples/text_labels_and_annotations/fonts_demo_kw.py
  examples/text_labels_and_annotations/mathtext_examples.py
  examples/text_labels_and_annotations/text_alignment.py
  examples/text_labels_and_annotations/usetex_baseline_test.py
  examples/units/basic_units.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/mpl_with_glade3_sgskip.py
  examples/userdemo/connectionstyle_demo.py
  examples/widgets/menu.py
Labels: Documentation

#11631 DOC: better tight_layout error handling
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/tight_layout.py
Labels: Documentation

#11619 DOC: move a couple of GridSpec examples into subplots gallery
  .flake8
  examples/subplots_axes_and_figures/demo_constrained_layout.py
  examples/subplots_axes_and_figures/demo_tight_layout.py
  examples/subplots_axes_and_figures/gridspec_multicolumn.py
  examples/subplots_axes_and_figures/gridspec_nested.py
  examples/userdemo/demo_gridspec02.py
Labels: Documentation

#11626 Minor docstring fixes
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/stackplot.py
  lib/matplotlib/streamplot.py
Labels: Documentation

#11443 changed paths in kwdocs
  lib/matplotlib/artist.py
Labels: Documentation

#11650 Add CircleCI cache of user fonts.
  .circleci/config.yml
Labels: Documentation, Testing

#11504 Bump pgi requirement to 0.0.11.2.
  .travis.yml
  INSTALL.rst
  lib/matplotlib/backends/_gtk3_compat.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Testing

#11658 Sort named colors example vertically for easier comparison of similar colors
  examples/color/named_colors.py
Labels: Documentation

#11659 Backport PR #11658 on branch v2.2.2-doc
  examples/color/named_colors.py
Labels: Documentation

#11627 FIX: CL avoid fully collapsed axes
  lib/matplotlib/_constrained_layout.py
Labels: Release critical, geometry manager

#11383 FIX: Improve *c* (color) kwarg checking in scatter and the related exceptions
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Argument Checking, Needs review

#11378 SVG Backend gouraud_triangle Correction
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/baseline_images/test_axes/pcolormesh.svg
Labels: backend/svg

#10936 Simplify tkagg C extension.
  src/_tkagg.cpp
Labels: GUI/tk

#9150 Don't update style-blacklisted rcparams in rc_* functions
  doc/api/api_changes/2017-09-02-AL-rc-blacklist.rst
  lib/matplotlib/__init__.py
Labels: rcparams

#11010 ENH: Add gridspec method to figure, and subplotspecs
  doc/users/whats_new.rst
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/tests/test_constrainedlayout.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/gridspec.py
Labels: API Changes, Needs review, geometry manager

#11679 Remove pointless draw() at the end of static examples.
  examples/axes_grid1/demo_axes_divider.py
  examples/axes_grid1/demo_axes_grid.py
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/demo_colorbar_with_inset_locator.py
  examples/axes_grid1/demo_edge_colorbar.py
  examples/axes_grid1/parasite_simple2.py
  examples/axes_grid1/scatter_hist_locatable_axes.py
  examples/axes_grid1/simple_axesgrid2.py
  examples/axes_grid1/simple_axisline4.py
  examples/axisartist/demo_curvelinear_grid.py
  examples/axisartist/demo_parasite_axes2.py
  examples/pyplots/whats_new_99_axes_grid.py
  examples/scales/aspect_loglog.py
  examples/shapes_and_collections/fancybox_demo.py
  examples/text_labels_and_annotations/arrow_demo.py
  examples/text_labels_and_annotations/demo_text_path.py
  examples/text_labels_and_annotations/fancyarrow_demo.py
  examples/text_labels_and_annotations/fancytextbox_demo.py
  examples/text_labels_and_annotations/multiline.py
  examples/text_labels_and_annotations/usetex_baseline_test.py
Labels: Documentation

#11678 Use super() instead of manually fetching supermethods for parasite axes.
  .flake8
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: mpl_toolkit

#11685 DOC: link brokenaxes package in third part
  doc/_static/brokenaxes.png
  doc/thirdpartypackages/index.rst
Labels: Documentation

#11687 Update venv docs.
  doc/faq/virtualenv_faq.rst
Labels: Documentation

#11690 Avoid using private APIs in examples.
  examples/specialty_plots/radar_chart.py
  examples/text_labels_and_annotations/demo_text_path.py
  examples/text_labels_and_annotations/rainbow_text.py
  examples/widgets/menu.py
Labels: Documentation

#11696 Don't force backend in toolmanager example.
  examples/user_interfaces/toolmanager_sgskip.py
Labels: Documentation

#11694 moving toolmanager initialization up before toolbar
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#11700 Don't use pytest -rw now that pytest-warnings is builtin.
  .appveyor.yml
  .travis.yml
Labels: Testing

#11701 Use skipif instead of xfail when test dependencies are missing.
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_backend_qt4.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_text.py
Labels: Testing

#11699 Dedent overindented rst bullet lists.
  doc/devel/add_new_projection.rst
  doc/devel/testing.rst
  doc/users/dflt_style_changes.rst
Labels: Documentation

#10403 Deprecate LocatableAxes from toolkits
  .flake8
  doc/api/next_api_changes/2018-02-09-ES.rst
  lib/mpl_toolkits/axes_grid/ChangeLog
  lib/mpl_toolkits/axes_grid/axes_divider.py
  lib/mpl_toolkits/axes_grid/axes_grid.py
  lib/mpl_toolkits/axes_grid/axes_rgb.py
  lib/mpl_toolkits/axes_grid/parasite_axes.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axisartist/axes_divider.py
  lib/mpl_toolkits/axisartist/axes_grid.py
Labels: mpl_toolkit

#11637 Split API changes into individual pages
  doc/api/api_changes.rst
  doc/api/api_changes_old.rst
  doc/api/prev_api_changes/api_changes_0.40.rst
  doc/api/prev_api_changes/api_changes_0.42.rst
  doc/api/prev_api_changes/api_changes_0.50.rst
  doc/api/prev_api_changes/api_changes_0.54.3.rst
  doc/api/prev_api_changes/api_changes_0.54.rst
  doc/api/prev_api_changes/api_changes_0.60.rst
  doc/api/prev_api_changes/api_changes_0.61.rst
  doc/api/prev_api_changes/api_changes_0.63.rst
  doc/api/prev_api_changes/api_changes_0.65.1.rst
  doc/api/prev_api_changes/api_changes_0.65.rst
  doc/api/prev_api_changes/api_changes_0.70.rst
  doc/api/prev_api_changes/api_changes_0.71.rst
  doc/api/prev_api_changes/api_changes_0.72.rst
  doc/api/prev_api_changes/api_changes_0.73.rst
  doc/api/prev_api_changes/api_changes_0.80.rst
  doc/api/prev_api_changes/api_changes_0.81.rst
  doc/api/prev_api_changes/api_changes_0.82.rst
  doc/api/prev_api_changes/api_changes_0.83.rst
  doc/api/prev_api_changes/api_changes_0.84.rst
  doc/api/prev_api_changes/api_changes_0.85.rst
  doc/api/prev_api_changes/api_changes_0.86.rst
  doc/api/prev_api_changes/api_changes_0.87.7.rst
  doc/api/prev_api_changes/api_changes_0.90.0.rst
  doc/api/prev_api_changes/api_changes_0.90.1.rst
  doc/api/prev_api_changes/api_changes_0.91.0.rst
  doc/api/prev_api_changes/api_changes_0.91.2.rst
  doc/api/prev_api_changes/api_changes_0.98.0.rst
  doc/api/prev_api_changes/api_changes_0.98.1.rst
  doc/api/prev_api_changes/api_changes_0.98.x.rst
  doc/api/prev_api_changes/api_changes_0.99.rst
  doc/api/prev_api_changes/api_changes_0.99.x.rst
  doc/api/prev_api_changes/api_changes_1.1.x.rst
  doc/api/prev_api_changes/api_changes_1.2.x.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_1.5.0.rst
  doc/api/prev_api_changes/api_changes_1.5.2.rst
  doc/api/prev_api_changes/api_changes_1.5.3.rst
  doc/api/prev_api_changes/api_changes_2.0.0.rst
  doc/api/prev_api_changes/api_changes_2.0.1.rst
  doc/api/prev_api_changes/api_changes_2.1.0.rst
  doc/api/prev_api_changes/api_changes_2.1.1.rst
  doc/api/prev_api_changes/api_changes_2.1.2.rst
  doc/api/prev_api_changes/api_changes_2.2.0.rst
Labels: Documentation

#11677 DOC : Improves Documentation for stem_plot.py
  examples/lines_bars_and_markers/stem_plot.py
Labels: Documentation

#11234 Add fig.add_artist method
  doc/users/whats_new.rst
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: Needs review, Release critical

#8951 Let QPaintEvent tell us what region to repaint.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_qt5cairo.py
Labels: GUI/Qt

#11714 docstring for Figure.tight_layout don't include renderer parameter
  lib/matplotlib/figure.py
Labels: Documentation

#11713 Don't assume cwd in test_ipynb.
  lib/matplotlib/tests/test_backend_nbagg.py
Labels: Release critical, Testing

#11717 DOC: fix broken link in inset-locator example
  examples/axes_grid1/inset_locator_demo.py
Labels: Documentation

#11731 Directly get the size of the renderer buffer from the renderer.
  lib/matplotlib/backends/backend_qt5agg.py
Labels: GUI/Qt, Release critical

#11744 minor doc update on axes_grid1's inset_axes
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Documentation

#10513 Replace most uses of getfilesystemencoding by os.fs{en,de}code.
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/dviread.py
Labels: Py3k

#11752 Fix section level of Previous Whats New
  doc/users/whats_new.rst
Labels: Documentation, Release critical

#9084 Require calling a _BoundMethodProxy to get the underlying callable.
  doc/api/next_api_changes/2018-05-06-AL-callbackregistry.rst
  lib/matplotlib/cbook/__init__.py
Labels: Py3k

#11751 Remove the unused 'verbose' option from setupext.
  setup.py
  setupext.py
Labels: build

#11757 PGF backend output text color even if black
  doc/api/api_changes.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#11705 Suppress/fix some test warnings.
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_rcparams.py
Labels: Testing

#11760 Switch grid documentation to numpydoc style
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
Labels: Documentation

#11778 Unpin pandas in the CI.
  requirements/testing/travis36.txt
Labels: pandas integration

#11770 Correct errors in documentation
  doc/api/animation_api.rst
  doc/api/api_changes.rst
Labels: Documentation

#11779 Remove unused attribute in tests.
  lib/matplotlib/tests/test_animation.py
Labels: Animation, Testing

#11754 FIX: update spine positions before get extents
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#11726 Consolidate agg-buffer examples.
  .flake8
  doc/faq/howto_faq.rst
  examples/misc/agg_buffer.py
  examples/misc/agg_oo_sgskip.py
  examples/misc/webapp_demo_sgskip.py
  examples/user_interfaces/canvasagg.py
  examples/user_interfaces/histogram_demo_canvasagg_sgskip.py
Labels: Documentation

#11724 Fix cairo's image inversion and alpha misapplication.
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: backend/cairo

#11765 DOC: reorder examples and fix top level heading
  doc/sphinxext/gallery_order.py
  examples/README.txt
Labels: Documentation

#11755 Add description for metadata argument of savefig
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/figure.py
  src/_png.cpp
Labels: Documentation

#9993 Rewrite and greatly simplify qt_compat.py.
  INSTALL.rst
  doc/api/backend_qt4agg_api.rst
  doc/api/backend_qt4cairo_api.rst
  doc/api/backend_qt5agg_api.rst
  doc/api/backend_qt5cairo_api.rst
  doc/sphinxext/mock_gui_toolkits.py
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt, Needs review, Release critical
