Repository matplotlib/matplotlib, pull requests merged in 2018-05, with the labels that each got.

#11079 Resurrecting axes_grid1 documentation
  doc/_templates/automodule.rst
  doc/_templates/autosummary.rst
  doc/api/api_changes.rst
  doc/api/index.rst
  doc/api/toolkits/axes_grid.rst
  doc/api/toolkits/axes_grid1.rst
  doc/api/toolkits/axisartist.rst
  doc/api/toolkits/index.rst
  doc/api/toolkits/mplot3d/faq.rst
  doc/api/toolkits/mplot3d/index.rst
  doc/contents.rst
  doc/index.rst
  doc/mpl_toolkits/axes_grid1/index.rst
  doc/mpl_toolkits/axisartist/index.rst
  examples/ticks_and_spines/date_index_formatter2.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/pyplot.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/text/text_intro.py
Labels: Documentation, Needs review

#9078 New anchored direction arrows
  doc/users/next_whats_new/anchored_direction_arrows.rst
  examples/axes_grid1/demo_anchored_direction_arrows.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/anchored_direction_arrows.png
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/anchored_direction_arrows_many_args.png
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: Needs rebase, mpl_toolkit

#11119 PGF: Get unitless positions from Text elements (fix #11116)
  lib/matplotlib/backends/backend_pgf.py
Labels: Needs tests

#11157 Fix contour return link
  lib/matplotlib/contour.py
Labels: Documentation

#10947 DOC: add tutorial explaining imshow *origin* and *extent*
  doc/_static/mpl.css
  tutorials/intermediate/imshow_extent.py
Labels: Documentation, Needs review

#11161 DOC: small-doc-improvements1
  doc/_static/mpl.css
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/stackplot.py
Labels: Documentation

#9298 Cleanup blocking_input.
  doc/api/artist_api.rst
  doc/api/blocking_input_api.rst
  doc/api/index.rst
  doc/api/transformations.rst
  lib/matplotlib/blocking_input.py
Labels: Documentation, Needs review

#10339 Pass explicit font paths to fontspec in backend_pgf.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#8787 Faster path drawing for the cairo backend (cairocffi only)
  lib/matplotlib/backends/backend_cairo.py
Labels: backend/cairo

#11035 FIX: constrained_layout and repeated calls to suptitle
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: geometry manager

#11185 Fix undefined name error in backend_pgf.
  lib/matplotlib/backends/backend_pgf.py
Labels: Release critical, backend/pgf

#11188 Fix image size in interpolation example
  examples/images_contours_and_fields/interpolation_methods.py
Labels: Documentation

#10982 Improve docstring of Axes.imshow
  lib/matplotlib/axes/_axes.py
Labels: Documentation, Needs review

#11197 Simplify demo_ribbon_box.py.
  examples/misc/demo_ribbon_box.py
Labels: Documentation

#11192 Don't use deprecated get_texcommand in backend_pgf.
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#11191 DOC: Adding example references for Images,contours,fields section
  examples/images_contours_and_fields/affine_image.py
  examples/images_contours_and_fields/barb_demo.py
  examples/images_contours_and_fields/barcode_demo.py
  examples/images_contours_and_fields/contour_corner_mask.py
  examples/images_contours_and_fields/contour_demo.py
  examples/images_contours_and_fields/contour_image.py
  examples/images_contours_and_fields/contour_label_demo.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/contourf_hatching.py
  examples/images_contours_and_fields/contourf_log.py
  examples/images_contours_and_fields/custom_cmap.py
  examples/images_contours_and_fields/demo_bboximage.py
  examples/images_contours_and_fields/figimage_demo.py
  examples/images_contours_and_fields/image_clip_path.py
  examples/images_contours_and_fields/image_demo.py
  examples/images_contours_and_fields/image_masked.py
  examples/images_contours_and_fields/image_transparency_blend.py
  examples/images_contours_and_fields/interpolation_methods.py
  examples/images_contours_and_fields/layer_images.py
  examples/images_contours_and_fields/matshow.py
  examples/images_contours_and_fields/multi_image.py
  examples/images_contours_and_fields/pcolor_demo.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/images_contours_and_fields/plot_streamplot.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/images_contours_and_fields/quiver_demo.py
  examples/images_contours_and_fields/quiver_simple_demo.py
  examples/images_contours_and_fields/shading_example.py
  examples/images_contours_and_fields/specgram_demo.py
  examples/images_contours_and_fields/spy_demos.py
  examples/images_contours_and_fields/tricontour_demo.py
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/images_contours_and_fields/tricontour_smooth_user.py
  examples/images_contours_and_fields/trigradient_demo.py
  examples/images_contours_and_fields/triinterp_demo.py
  examples/images_contours_and_fields/tripcolor_demo.py
  examples/images_contours_and_fields/triplot_demo.py
  tutorials/advanced/transforms_tutorial.py
Labels: Documentation

#11208 Don't crash qt figure options on unknown marker styles.
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI/Qt

#11174 Replace numeric loc by position string
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  examples/api/sankey_basics.py
  examples/axes_grid1/demo_anchored_direction_arrows.py
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/demo_colorbar_of_inset_axes.py
  examples/axes_grid1/demo_colorbar_with_inset_locator.py
  examples/axes_grid1/inset_locator_demo.py
  examples/axes_grid1/inset_locator_demo2.py
  examples/axes_grid1/simple_anchored_artists.py
  examples/lines_bars_and_markers/markevery_prop_cycle.py
  examples/lines_bars_and_markers/scatter_symbol.py
  examples/lines_bars_and_markers/stackplot_demo.py
  examples/misc/anchored_artists.py
  examples/misc/patheffect_demo.py
  examples/recipes/transparent_legends.py
  examples/text_labels_and_annotations/demo_text_path.py
  examples/userdemo/anchored_box01.py
  examples/userdemo/anchored_box02.py
  examples/userdemo/anchored_box03.py
  examples/userdemo/anchored_box04.py
  examples/userdemo/simple_legend01.py
  examples/userdemo/simple_legend02.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_offsetbox.py
  lib/matplotlib/tests/test_patheffects.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
  tutorials/intermediate/legend_guide.py
  tutorials/text/annotations.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation

#11056 Simplify travis setup a bit.
  .appveyor.yml
  .travis.yml
  ci/silence
  ci/travis/matplotlibDeployKey.enc
  ci/travis/setup.cfg
  ci/travis/test_script.sh
Labels: Testing, build

#11212 Fix CirclePolygon __str__ + adding tests
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: Testing

#11209 DOC: Adding example references for Shapes,Pie&Polar,Color sections
  examples/color/color_by_yvalue.py
  examples/color/color_cycle_default.py
  examples/color/color_cycler.py
  examples/color/color_demo.py
  examples/color/colorbar_basics.py
  examples/color/colormap_reference.py
  examples/color/named_colors.py
  examples/pie_and_polar_charts/nested_pie.py
  examples/pie_and_polar_charts/pie_and_donut_labels.py
  examples/pie_and_polar_charts/pie_demo2.py
  examples/pie_and_polar_charts/pie_features.py
  examples/pie_and_polar_charts/polar_bar.py
  examples/pie_and_polar_charts/polar_demo.py
  examples/pie_and_polar_charts/polar_legend.py
  examples/pie_and_polar_charts/polar_scatter.py
  examples/shapes_and_collections/artist_reference.py
  examples/shapes_and_collections/collections.py
  examples/shapes_and_collections/compound_path.py
  examples/shapes_and_collections/dolphin.py
  examples/shapes_and_collections/donut.py
  examples/shapes_and_collections/ellipse_collection.py
  examples/shapes_and_collections/ellipse_demo.py
  examples/shapes_and_collections/ellipse_rotated.py
  examples/shapes_and_collections/fancybox_demo.py
  examples/shapes_and_collections/hatch_demo.py
  examples/shapes_and_collections/line_collection.py
  examples/shapes_and_collections/marker_path.py
  examples/shapes_and_collections/path_patch.py
Labels: Documentation

#11047 FIX: image respect norm limits w/ None
  lib/matplotlib/image.py
Labels: API consistency

#11236 Minor cleanups to setupext.
  setupext.py
Labels: build

#11207 Update venv gui docs wrt availability of PySide2.
  doc/faq/virtualenv_faq.rst
Labels: Documentation

#11228 Don't bother checking luatex's version.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#11251 Re-run boilerplate.py.
  lib/matplotlib/pyplot.py
  tools/boilerplate.py
Labels: build

#11062 FIX: call constrained_layout twice
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout10.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout11.png
Labels: Needs review, geometry manager

#11258 Removed comment in AGG backend that is no longer applicable
  src/_backend_agg.h
Labels: Documentation

#11001 DOC: improve legend bbox_to_anchor description
  lib/matplotlib/legend.py
Labels: Documentation, Needs review

#11257 DOC: Sort gallery subsections by explicit list then by filename
  doc-requirements.txt
  doc/conf.py
  doc/devel/documenting_mpl.rst
  doc/sphinxext/gallery_order.py
Labels: Documentation

#11273 Include template matplotlibrc in package_data.
  setupext.py
Labels: build

#10514 Cleanup/update cairo + gtk compatibility matrix.
  doc/sphinxext/mock_gui_toolkits.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  tutorials/introductory/usage.py
Labels: GUI/gtk, backend/cairo

#11254 Update INSTALL.rst.
  INSTALL.rst
Labels: Documentation

#11304 Re-remove six from INSTALL.rst.
  INSTALL.rst
Labels: Documentation

#11295 Use sphinx builtin only directive instead of custom one.
  doc/api/index.rst
  doc/conf.py
  doc/contents.rst
  doc/devel/MEP/index.rst
  doc/devel/index.rst
  doc/faq/howto_faq.rst
  doc/faq/index.rst
  doc/users/index.rst
  lib/matplotlib/image.py
  lib/matplotlib/sphinxext/only_directives.py
  lib/matplotlib/sphinxext/plot_directive.py
  tutorials/text/mathtext.py
  tutorials/text/pgf.py
Labels: Documentation

#11277 Avoid using MacRoman encoding.
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/textpath.py
Labels: text

#11300 Start replacing ACCEPTS table by parsing numpydoc.
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_artist.py
Labels: Documentation

#11268 DOC: Sanitize some internal documentation links
  examples/lines_bars_and_markers/markevery_prop_cycle.py
  examples/text_labels_and_annotations/annotation_demo.py
  examples/text_labels_and_annotations/tex_demo.py
  examples/ticks_and_spines/custom_ticker1.py
  tutorials/colors/colorbar_only.py
  tutorials/colors/colors.py
  tutorials/introductory/customizing.py
  tutorials/introductory/images.py
  tutorials/introductory/pyplot.py
  tutorials/text/pgf.py
  tutorials/text/text_intro.py
Labels: Documentation

#6254 adds two new cyclic color schemes
  doc/users/next_whats_new/cyclic_colormaps.rst
  examples/color/colormap_reference.py
  lib/matplotlib/_cm_listed.py
  lib/matplotlib/pyplot.py
  tutorials/colors/colormaps.py
Labels: Needs review

#11320 Py3fy multiprocess example.
  examples/misc/multiprocess_sgskip.py
Labels: Py3k

#11314 API changes: use the heading format defined in README.txt
  doc/api/api_changes/2017-12-20-TH.rst
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  doc/api/next_api_changes/2018-02-15-ES.rst
  doc/api/next_api_changes/2018-02-21-AL.rst
  doc/api/next_api_changes/2018-02-26-AL-removals.rst
  doc/api/next_api_changes/2018-03-23-AL.rst
  doc/api/next_api_changes/2018-04-20-AL.rst
  doc/api/next_api_changes/2018-04-22-AL.rst
  doc/api/next_api_changes/2018-04-30-AL.rst
Labels: Documentation

#11313 Add changelog entry for removal of proprietary sphinx directives.
  doc/api/next_api_changes/2018-05-26-TH.rst
Labels: Documentation

#11318 Improve docstring of imread() and imsave()
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#11329 Minor docstring update of thumbnail
  lib/matplotlib/image.py
Labels: Documentation

#11312 Replace :ref:`sphx_glr_...` by :doc:`/...`.
  doc/api/api_changes.rst
  doc/api/pyplot_summary.rst
  doc/api/toolkits/index.rst
  doc/api/toolkits/mplot3d/index.rst
  doc/devel/contributing.rst
  doc/faq/howto_faq.rst
  doc/faq/installing_faq.rst
  doc/faq/troubleshooting_faq.rst
  doc/users/dflt_style_changes.rst
  doc/users/prev_whats_new/whats_new_0.98.4.rst
  doc/users/prev_whats_new/whats_new_0.99.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/shell.rst
  examples/axes_grid1/simple_anchored_artists.py
  examples/color/color_cycle_default.py
  examples/color/color_cycler.py
  examples/color/color_demo.py
  examples/color/named_colors.py
  examples/images_contours_and_fields/contour_demo.py
  examples/images_contours_and_fields/contour_image.py
  examples/images_contours_and_fields/contour_label_demo.py
  examples/images_contours_and_fields/custom_cmap.py
  examples/images_contours_and_fields/image_demo.py
  examples/images_contours_and_fields/interpolation_methods.py
  examples/images_contours_and_fields/quiver_demo.py
  examples/images_contours_and_fields/quiver_simple_demo.py
  examples/lines_bars_and_markers/line_demo_dash_control.py
  examples/misc/anchored_artists.py
  examples/recipes/fill_between_alpha.py
  examples/recipes/placing_text_boxes.py
  examples/shapes_and_collections/ellipse_demo.py
  examples/subplots_axes_and_figures/subplot_demo.py
  examples/text_labels_and_annotations/custom_legends.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/introductory/lifecycle.py
  tutorials/introductory/pyplot.py
  tutorials/introductory/sample_plots.py
  tutorials/introductory/usage.py
  tutorials/text/annotations.py
  tutorials/text/mathtext.py
  tutorials/text/text_props.py
  tutorials/text/usetex.py
Labels: Documentation

#11338 Fix typos
  examples/pie_and_polar_charts/pie_and_donut_labels.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/category.py
  tutorials/intermediate/imshow_extent.py
Labels: Documentation

#11339 Convert Ellipse docstring to numpydoc
  lib/matplotlib/patches.py
Labels: Documentation

#11223 Add an arrow tutorial
  examples/shapes_and_collections/arrow_guide.py
Labels: Documentation

#11344 Improve docstring of Axes.pcolormesh
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#11348 Make OSX's blit() have a consistent signature with other backends.
  lib/matplotlib/backends/backend_macosx.py
Labels: GUI/osx
