Repository matplotlib/matplotlib, pull requests merged in 2018-09, with the labels that each got.

#11975 Derive plt.figlegend.__doc__ from Figure.legend.__doc__.
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#11993 DOC: fixed typos
  doc/devel/gitwash/set_up_fork.rst
  doc/devel/testing.rst
Labels: Documentation

#11999 Do not use an explicit fignum plt.figure(1) in simple cases
  examples/axes_grid1/demo_imagegrid_aspect.py
  examples/axes_grid1/simple_rgb.py
  examples/axisartist/demo_axisline_style.py
  examples/axisartist/demo_parasite_axes.py
  examples/axisartist/simple_axisartist1.py
  examples/axisartist/simple_axisline.py
  examples/lines_bars_and_markers/errorbar_limits_simple.py
  examples/pyplots/pyplot_scales.py
  examples/pyplots/pyplot_two_subplots.py
  examples/pyplots/whats_new_99_axes_grid.py
  examples/text_labels_and_annotations/demo_text_path.py
  lib/matplotlib/figure.py
  lib/matplotlib/offsetbox.py
  tutorials/introductory/pyplot.py
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
Labels: Documentation

#11998 No clf() needed after creating a figure
  examples/axisartist/demo_axis_direction.py
  examples/axisartist/demo_curvelinear_grid.py
  examples/axisartist/demo_curvelinear_grid2.py
  examples/axisartist/demo_floating_axis.py
  examples/axisartist/simple_axis_pad.py
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
  lib/matplotlib/offsetbox.py
  lib/mpl_toolkits/tests/test_axisartist_floating_axes.py
Labels: Documentation

#12004 Update acorr and xcorr docs to match numpy docs
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#11989 Remove support for ghostscript 8.60.
  doc/api/next_api_changes/2018-08-17-AL-deprecations.rst
  doc/api/next_api_changes/2018-08-31-AL-gs.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#12016 Fix AttributeError in GTK3Agg backend
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: Release critical

#12023 Fix deprecation check in wx Timer.
  lib/matplotlib/backends/backend_wx.py
Labels: Release critical

#12034 Doc markup fixes.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#12047 Remove asserting about current backend at the end of mpl_test_settings.
  lib/matplotlib/testing/conftest.py
Labels: Release critical, Testing

#12055 Fix invalid escape in docstring.
  lib/matplotlib/artist.py
Labels: Release critical

#12036 Interactive tests update
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Testing

#11971 FIX: use cached renderer on Legend.get_window_extent
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: Release critical

#12049 Make Poly3DCollection.set_zsort less lenient.
  doc/api/next_api_changes/2018-09-07-AL.rst
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: mplot3d

#11931 Remove separate autosummary_inher template.
  doc/_templates/autosummary_inher.rst
  doc/api/animation_api.rst
Labels: Documentation

#11928 Update doc/conf.py to avoid warnings with (future) sphinx 1.8.
  doc/conf.py
  doc/sphinxext/github.py
Labels: Documentation

#12066 fix indentation in docstring interpolation for spy.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#12067 DOC: make Line2D docstring definition easier to find
  doc/devel/documenting_mpl.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/lines.py
Labels: Documentation

#11499 FIX: layout for mixed descent multiline text objects
  doc/api/next_api_changes/2018-06-24-JMK.rst
  lib/matplotlib/tests/baseline_images/test_text/multiline2.pdf
  lib/matplotlib/tests/baseline_images/test_text/multiline2.png
  lib/matplotlib/tests/baseline_images/test_text/multiline2.svg
  lib/matplotlib/tests/baseline_images/test_text/text_alignment.pdf
  lib/matplotlib/tests/baseline_images/test_text/text_alignment.png
  lib/matplotlib/tests/baseline_images/test_text/text_alignment.svg
  lib/matplotlib/tests/baseline_images/test_text/text_contains.png
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.svg
Labels: text

#12053 Fix up some OSX backend issues
  src/_macosx.m
Labels: GUI/osx, Release critical

#12037 Fix ArtistInspector.get_aliases.
  doc/users/next_whats_new/2018-09-06-AL.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axis.py
Labels: Release critical

#12094 Fine-tune logging notes in contributing.rst.
  doc/devel/contributing.rst
Labels: Documentation

#12091 Respect QT_API even when the backend is not Qt{4,5}{Agg,Cairo}.
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt

#12084 DOC: link palettable
  lib/matplotlib/colors.py
  tutorials/colors/colormap-manipulation.py
  tutorials/colors/colormaps.py
Labels: Documentation

#12098 Improve layout of HTML animation
  lib/matplotlib/_animation_data.py
  lib/matplotlib/animation.py
Labels: Animation

#12109 Pin to sphinx<1.8; unremove sphinxext.mathmpl.
  doc-requirements.txt
  doc/conf.py
Labels: Release critical

#12112 Reword the LockDraw docstring.
  lib/matplotlib/widgets.py
Labels: Documentation

#11997 Cleanup some axes_grid1 examples
  examples/axes_grid1/demo_axes_grid.py
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/demo_edge_colorbar.py
  examples/axes_grid1/simple_axesgrid.py
  examples/axes_grid1/simple_axesgrid2.py
Labels: Documentation, Needs review

#12093 Correct the removal of -Wstrict-prototypes from compiler flags.
  setup.py
Labels: build

#12122 MNT: re-add cbook import art3d
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: Release critical

#11994 Cleanup unused variables and imports
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/dviread.py
  lib/matplotlib/figure.py
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/image.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/quiver.py
  lib/matplotlib/stackplot.py
  lib/matplotlib/textpath.py
  setupext.py
  tools/make_icons.py
  tools/memleak.py
Labels: Needs rebase

#12128 Unbreak the Sphinx 1.8 build by renaming :math: to :mathmpl:.
  doc-requirements.txt
  doc/users/next_whats_new/2018-09-15-AL.rst
  lib/matplotlib/sphinxext/mathmpl.py
  tutorials/text/mathtext.py
Labels: Documentation

#11962 Propagate changes to backend loading to setup/setupext.
  .flake8
  setup.cfg.template
  setup.py
  setupext.py
Labels: Release critical, build

#12099 FIX: make sure all ticks show up for colorbar minor tick
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: ticks and axis

#12129 Backports for 3.0
  .flake8
  doc-requirements.txt
  doc/conf.py
  doc/sphinxext/github.py
  doc/users/next_whats_new/2018-09-06-AL.rst
  doc/users/whats_new.rst
  lib/matplotlib/colorbar.py
  lib/matplotlib/sphinxext/mathmpl.py
  lib/matplotlib/tests/test_colorbar.py
  setup.cfg.template
  setup.py
  setupext.py
  tutorials/text/mathtext.py
Labels: Release critical

#12124 Correctly infer units from emtpy arrays
  lib/matplotlib/tests/test_units.py
  lib/matplotlib/units.py
Labels: units

#12131 Fixes currently release version of cartopy
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#9990 Fix and document lightsource argument in mplot3d
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Needs review, mplot3d

#12139 Unbreak build re: mplot3d style.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#12142 Unbreak formlayout for image edits.
  lib/matplotlib/backends/qt_editor/formlayout.py
Labels: Release critical

#12156 Cleanup the GridSpec demos.
  doc/users/prev_whats_new/whats_new_1.0.rst
  examples/userdemo/demo_gridspec01.py
  examples/userdemo/demo_gridspec03.py
  examples/userdemo/demo_gridspec05.py
  examples/userdemo/demo_gridspec06.py
Labels: Documentation

#12154 Avoid triggering deprecation warnings with pytest 3.8.
  doc/devel/contributing.rst
  doc/devel/testing.rst
  lib/matplotlib/testing/conftest.py
  requirements/testing/travis35.txt
  requirements/testing/travis_all.txt
  setupext.py
Labels: Testing

#12166 Document preference order for backend auto selection
  matplotlibrc.template
Labels: Documentation

#12183 Doc: Don't use Sphinx 1.8
  doc-requirements.txt
Labels: Documentation

#12164 Fix Annotation.contains.
  lib/matplotlib/text.py
Labels: Release critical

#12203 Document legend best slowness
  lib/matplotlib/legend.py
  tutorials/introductory/usage.py
Labels: Documentation

#11688 Don't draw axis (spines, ticks, labels) twice when using parasite axes.
  doc/users/next_whats_new/2018-07-18-AL.rst
  doc/users/whats_new.rst
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_axislines/Subplot.png
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_axislines/SubplotZero.png
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_floating_axes/curvelinear3.png
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_floating_axes/curvelinear4.png
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_grid_helper_curvelinear/axis_direction.png
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_grid_helper_curvelinear/custom_transform.png
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_grid_helper_curvelinear/polar_box.png
Labels: Needs review, mpl_toolkit

#12213 Change win32InstalledFonts return value
  doc/api/next_api_changes/2018-09-22-TH-win32InstalledFonts.rst
  lib/matplotlib/font_manager.py
Labels: API Changes

#12227 Use (float, float) as paramter type for 2D positions
  doc/devel/documenting_mpl.rst
Labels: Documentation

#12228 Fix trivial typo in docs.
  doc/devel/documenting_mpl.rst
Labels: Documentation

#12238 Typo in docs
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#12209 Doc: Sort named colors example by palette
  examples/color/named_colors.py
  tutorials/colors/colors.py
Labels: Documentation

#12229 Less ACCEPTS, more numpydoc.
  doc/api/next_api_changes/2018-09-22-AL.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/figure.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_artist.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: Documentation

#12137 MAINT: Vectorize bar3d
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#12254 Improve docstrings of Animations
  lib/matplotlib/animation.py
  lib/matplotlib/legend_handler.py
Labels: Documentation

#12269 Add some param docs to BlockingInput methods
  lib/matplotlib/blocking_input.py
Labels: Documentation

#12262 Simplify empty-rasterized pdf test.
  lib/matplotlib/tests/test_backend_pdf.py
Labels: backend/pdf

#12278 Document inheriting docstrings
  doc/devel/documenting_mpl.rst
Labels: Documentation

#12261 FIX: parasite axis2 demo
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
Labels: mpl_toolkit

#12292 TST: Modify the bar3d test to show three more angles
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_shaded.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Testing, mplot3d

#12313 BUG: Fix typo in view_limits() for MultipleLocator
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: Release critical

#12296 Make FooConverter inherit from ConversionInterface in examples
  examples/units/evans_test.py
Labels: Documentation

#12326 fixed minor spelling error in docstring
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#12268 FIX: remove unnecessary `self` in `super_`-calls, fixes #12265
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_axislines/ParasiteAxesAuxTrans_meshplot.png
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
Labels: Release critical

#12340 Catch test deprecation warnings for mlab.demean
  lib/matplotlib/tests/test_mlab.py
Labels: Testing

#12321 maint: setupext.py for freetype had a Catch case for missing ft2build.h
  setupext.py
Labels: build

#12304 TST: Merge Qt tests into one file.
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_backend_qt4.py
Labels: GUI/Qt, Testing

#12347 DOC: add_child_axes to axes_api.rst
  doc/api/axes_api.rst
Labels: Documentation

#12214 Improve docstring of Annoation
  lib/matplotlib/text.py
Labels: Documentation
