Repository matplotlib/matplotlib, pull requests merged in 2018-02, with the labels that each got.

#10405 Minor updates to unit doc
  lib/matplotlib/units.py
Labels: Documentation, units

#10385 Fix deprecations in examples
  examples/axes_grid1/demo_new_colorbar.py
  examples/axes_grid1/make_room_for_ylabel_using_axesgrid.py
  examples/images_contours_and_fields/image_transparency_blend.py
  examples/showcase/bachelors_degrees_by_gender.py
  examples/statistics/hist.py
  examples/subplots_axes_and_figures/broken_axis.py
  examples/ticks_and_spines/date_index_formatter.py
  lib/matplotlib/pyplot.py
  tutorials/introductory/pyplot.py
Labels: Release critical

#10409 Remove unused _is_list_like. Move six import up.
  lib/matplotlib/testing/__init__.py
Labels: Testing

#10407 TST/FIX twinx and twiny w/ constrainedlayout
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: Release critical, geometry manager

#10413 DOC: Fix typos in section names.
  lib/matplotlib/figure.py
Labels: Documentation

#10399 Avoid double draw in qt5cairo.
  lib/matplotlib/backends/backend_qt5cairo.py
Labels: GUI/Qt, backend/cairo

#10377 FigureCanvasWx/Agg fixed size
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#10352 Explicitely destroy created wx PaintDC
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#10415 fix bug #3690: don't call evt.Skip() when window has just been destroyed
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#10395 WxCairo backend.
  doc/users/next_whats_new/more-cairo.rst
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
  lib/matplotlib/backends/backend_wxcairo.py
  lib/matplotlib/rcsetup.py
Labels: GUI/wx

#10420 Fix some broken links
  INSTALL.rst
  doc/api/api_changes.rst
  doc/devel/testing.rst
  doc/faq/howto_faq.rst
  doc/index.rst
  doc/users/history.rst
  doc/users/prev_whats_new/changelog.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  examples/images_contours_and_fields/shading_example.py
  tutorials/introductory/images.py
Labels: Documentation

#9783 Categorical: Unsorted, String only, fix overwrite bug
  .appveyor.yml
  .travis.yml
  doc/api/next_api_changes/2018-02-10-HA.rst
  lib/matplotlib/axis.py
  lib/matplotlib/category.py
  lib/matplotlib/tests/test_category.py
Labels: Release critical, categorical

#10421 remove string escapes from matplotlibrc.template
  matplotlibrc.template
Labels: Documentation

#10274 doc: fix layout of tables within parameter lists
  doc/_static/mpl.css
  lib/matplotlib/artist.py
Labels: Documentation

#9074 Don't abort on FT2Font weakref.
  src/file_compat.h
Labels: needs_review

#9114 Fix PdfPages+cairo.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf

#10208 Add some wx specific tools for ToolManager
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#10423 DOC/STY: whitespace and docstring fixes
  lib/matplotlib/category.py
Labels: Release critical

#10416 Update some wx examples
  examples/user_interfaces/embedding_in_wx2_sgskip.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/embedding_in_wx4_sgskip.py
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  examples/user_interfaces/wxcursor_demo_sgskip.py
Labels: Documentation, GUI/wx

#10414 Doc merge up api whats new
  INSTALL.rst
  doc/api/api_changes.rst
  doc/api/api_changes/2017-09-29_JMK_constrained_layout_api.rst
  doc/api/api_changes/2018-01-26-ZHD.rst
  doc/api/api_changes/2018-02-04-AL.rst
  doc/api/api_changes/2018-02-10-ES.rst
  doc/api/next_api_changes/01-11-2017-DS.rst
  doc/api/next_api_changes/171225-AL-tickbools.rst
  doc/api/next_api_changes/2017-09-22-AL-contour.rst
  doc/api/next_api_changes/2017-09-22-AL-removal-of-deprecated-features.rst
  doc/api/next_api_changes/2017-11-07-JMK.rst
  doc/api/next_api_changes/2017-11-19_svg_size.rst
  doc/api/next_api_changes/2017-11-23-AL.rst
  doc/api/next_api_changes/2017-11-24-AL.rst
  doc/api/next_api_changes/2017-11-31-AL.rst
  doc/api/next_api_changes/2017-12-01-AL.rst
  doc/api/next_api_changes/2017-12-02-AL.rst
  doc/api/next_api_changes/2017-12-06-imports-AL.rst
  doc/api/next_api_changes/2017-12-10-TH.rst
  doc/api/next_api_changes/2017-12-14-JMK.rst
  doc/api/next_api_changes/2017-12-15-AL.rst
  doc/api/next_api_changes/2017-12-17-AL.rst
  doc/api/next_api_changes/2017-12-26-AL.rst
  doc/api/next_api_changes/2018-01-29-AL.rst
  doc/api/next_api_changes/2018-02-03-AL.rst
  doc/api/next_api_changes/README.rst
  doc/api/next_api_changes/removed-attributes.rst
  doc/users/github_stats.rst
  doc/users/next_whats_new/180112-AL-pillowanim.rst
  doc/users/next_whats_new/2017-08-31_discrete-sliders.rst
  doc/users/next_whats_new/2017-10-19_axes_legend_in_tightbbox.rst
  doc/users/next_whats_new/2017-10_capstyle.rst
  doc/users/next_whats_new/2017-11-1_figure_align_labels.rst
  doc/users/next_whats_new/2017-12-04-AL-pgi.rst
  doc/users/next_whats_new/2017-12-05_cividis_colormap.rst
  doc/users/next_whats_new/20171119-transforms-repr.rst
  doc/users/next_whats_new/2017_10_10_logging.rst
  doc/users/next_whats_new/2017_11_15_datetime64.rst
  doc/users/next_whats_new/2017_11_19_title_pad.rst
  doc/users/next_whats_new/2017_12_17_compare_colors.rst
  doc/users/next_whats_new/2017_12_27_sticky_polar_origin.rst
  doc/users/next_whats_new/2018-01-10-AL-pathlike.rst
  doc/users/next_whats_new/2018_01_07_tick_params_gridlines.rst
  doc/users/next_whats_new/2018_01_10_pypy_tkagg_support.rst
  doc/users/next_whats_new/2018_01_26_imshow-rgb-clipping.rst
  doc/users/next_whats_new/2018_01_30_tick_label_positions.rst
  doc/users/next_whats_new/README.rst
  doc/users/next_whats_new/constrained_layout.rst
  doc/users/next_whats_new/more-cairo.rst
  doc/users/next_whats_new/new_color_cycle.rst
  doc/users/next_whats_new/qt-toolmanager.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/whats_new.rst
Labels: Documentation, Release critical

#10427 Cleanup old print statements
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/dviread.py
  lib/matplotlib/lines.py
  lib/mpl_toolkits/axisartist/angle_helper.py
  tutorials/intermediate/artists.py
Labels: Documentation

#10437 Add docstring to set_interpolation
  lib/matplotlib/image.py
Labels: Documentation

#10441 Fix doc build error.
  lib/matplotlib/image.py
Labels: Documentation

#10444 DOC: s/xasis/xaxis/ in whats_new.rst
  doc/users/whats_new.rst
Labels: Documentation

#10440 Add canonical link to webpages
  doc/_templates/layout.html
Labels: Documentation

#10425 API: only support python 3.5+
  .appveyor.yml
  .circleci/config.yml
  .travis.yml
  INSTALL.rst
  ci/travis/test_script.sh
  doc/faq/installing_faq.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/dates.py
  setup.py
  setupext.py
Labels: API Changes

#10450 DOC: add active state to install docs
  INSTALL.rst
Labels: Documentation

#10392 FIX: make set_text(None) keep string empty instead of "None"
  doc/api/next_api_changes/2018-02-07-JMK.rst
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/text.py
Labels: API consistency

#10463 DOC: Add cividis to the tutorial about colormaps
  tutorials/colors/colormaps.py
Labels: Documentation

#10460 DOC: remove sphinx markup that confsed SG
  examples/recipes/create_subplots.py
Labels: Documentation

#10431 Some font-related numpydoc changes
  lib/matplotlib/font_manager.py
  lib/matplotlib/type1font.py
Labels: Documentation

#10490 DOC: added bounds and more description to margins
  lib/matplotlib/axes/_base.py
Labels: Documentation

#10473 DOC: Expending a bit about the "tableau-colorblind10" entry in What's new
  doc/users/whats_new.rst
Labels: Documentation

#10451 renaming duplicated file names
  .gitignore
  doc/api/animation_api.rst
  doc/index.rst
  examples/animation/animated_histogram.py
  examples/api/custom_index_formatter.py
  examples/axes_grid1/scatter_hist_locatable_axes.py
  examples/color/color_cycler.py
  examples/lines_bars_and_markers/errorbar_limits_simple.py
  examples/pyplots/boxplot_demo_pyplot.py
  pytest.ini
  tutorials/toolkits/axes_grid.py
Labels: Documentation

#10486 BUG: sscanf did not parse arguments in _tkagg.cpp
  lib/matplotlib/backends/tkagg.py
  lib/matplotlib/tests/test_backends_interactive.py
  src/_tkagg.cpp
Labels: Release critical

#10478 Separate plots using #### in xkcd.py
  examples/showcase/xkcd.py
Labels: Documentation

#10475 Use HTTP Secure for matplotlib.org
  lib/matplotlib/backends/backend_svg.py
Labels: backend/svg

#10527 Switch to argumentless (py3) super().
  examples/api/radar_chart.py
  examples/api/skewt.py
  examples/misc/anchored_artists.py
  examples/user_interfaces/embedding_in_qt_sgskip.py
  examples/user_interfaces/embedding_webagg_sgskip.py
  examples/userdemo/custom_boxstyle02.py
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_gtk.py
  lib/matplotlib/backends/backend_gtkagg.py
  lib/matplotlib/backends/backend_gtkcairo.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_qt5cairo.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/qt_editor/formsubplottool.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/image.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_compare_images.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_skew.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axes_grid/axes_grid.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axes_grid1/mpl_axes.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axes_grid.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axisline_style.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  setupext.py
  tools/triage_tests.py
Labels: Py3k

#10520 Py3fy mathtext.py.
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  lib/matplotlib/mathtext.py
Labels: Py3k

#10528 py3fy examples
  examples/api/custom_index_formatter.py
  examples/api/custom_projection_example.py
  examples/api/custom_scale_example.py
  examples/api/engineering_formatter.py
  examples/api/filled_step.py
  examples/api/skewt.py
  examples/api/watermark_image.py
  examples/color/named_colors.py
  examples/event_handling/close_event.py
  examples/event_handling/coords_demo.py
  examples/event_handling/figure_axes_enter_leave.py
  examples/event_handling/ginput_demo_sgskip.py
  examples/event_handling/ginput_manual_clabel_sgskip.py
  examples/event_handling/image_slices_viewer.py
  examples/event_handling/keypress_demo.py
  examples/event_handling/pick_event_demo.py
  examples/event_handling/pipong.py
  examples/event_handling/pong_sgskip.py
  examples/images_contours_and_fields/image_demo.py
  examples/images_contours_and_fields/layer_images.py
  examples/lines_bars_and_markers/marker_reference.py
  examples/lines_bars_and_markers/markevery_demo.py
  examples/misc/cursor_demo_sgskip.py
  examples/misc/font_indexing.py
  examples/misc/ftface_props.py
  examples/misc/image_thumbnail_sgskip.py
  examples/misc/load_converter.py
  examples/misc/multiprocess_sgskip.py
  examples/misc/print_stdout_sgskip.py
  examples/misc/set_and_get.py
  examples/misc/svg_filter_line.py
  examples/misc/tight_bbox_test.py
  examples/mplot3d/wire3d_animation.py
  examples/pyplots/text_commands.py
  examples/specialty_plots/anscombe.py
  examples/specialty_plots/mri_with_eeg.py
  examples/tests/backend_driver_sgskip.py
  examples/text_labels_and_annotations/accented_text.py
  examples/text_labels_and_annotations/font_table_ttf_sgskip.py
  examples/text_labels_and_annotations/legend_demo.py
  examples/text_labels_and_annotations/mathtext_examples.py
  examples/text_labels_and_annotations/rainbow_text.py
  examples/text_labels_and_annotations/stix_fonts_demo.py
  examples/text_labels_and_annotations/tex_demo.py
  examples/ticks_and_spines/date_index_formatter.py
  examples/units/basic_units.py
  examples/user_interfaces/embedding_in_tk_canvas_sgskip.py
  examples/user_interfaces/embedding_in_tk_sgskip.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/mpl_with_glade_sgskip.py
  examples/user_interfaces/pylab_with_gtk_sgskip.py
  examples/user_interfaces/toolmanager_sgskip.py
  examples/userdemo/pgf_fonts.py
  examples/userdemo/pgf_preamble_sgskip.py
  examples/userdemo/pgf_texsystem.py
  examples/widgets/lasso_selector_demo_sgskip.py
  examples/widgets/menu.py
  examples/widgets/rectangle_selector.py
  tutorials/text/pgf.py
Labels: Documentation, Py3k

#10509 Move some logging calls down to DEBUG level.
  lib/matplotlib/backends/__init__.py
  lib/matplotlib/font_manager.py
Labels: Release critical

#10484 Add libm when building Qhull.
  setupext.py
Labels: build

#10462 Fix add_subplot documentation regarding args
  lib/matplotlib/figure.py
Labels: Documentation

#10429 Fix wxcairo byteorder.
  lib/matplotlib/backends/backend_wxcairo.py
Labels: GUI/wx

#10436 tkcairo backend
  doc/users/next_whats_new/more-cairo.rst
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_tkagg.py
  lib/matplotlib/backends/backend_tkcairo.py
  lib/matplotlib/rcsetup.py
  pytest.ini
Labels: GUI/tk, backend/cairo

#10470 Remove Python 2 code from setup
  lib/matplotlib/__init__.py
  setup.py
  setupext.py
Labels: Py3k, build

#10539 TST: Replace assert_equal with plain asserts.
  lib/matplotlib/tests/test_backend_qt5.py
  lib/matplotlib/tests/test_collections.py
Labels: Testing

#10541 More argumentless (py3) super()
  lib/matplotlib/backends/backend_gtk3.py
  lib/mpl_toolkits/axes_grid1/mpl_axes.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: Py3k

#10525 Convert six.moves.xrange() to range() for Python 3
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/hatch.py
  lib/matplotlib/markers.py
  lib/matplotlib/mlab.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/stackplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/table.py
  lib/matplotlib/testing/jpl_units/StrConverter.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tri/triinterpolate.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Py3k

#10552 Fix issue with clf not clearing constrainedlayout
  lib/matplotlib/figure.py
Labels: Release critical, geometry manager

#10428 Fix wx canvas type injection.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, Release critical

#10518 Fix Wx inconsistencies
  examples/user_interfaces/embedding_in_wx2_sgskip.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/embedding_in_wx4_sgskip.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
  lib/matplotlib/backends/backend_wxcairo.py
Labels: GUI/wx, Release critical

#10588 Bugfix in axes3d not raising an exception
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#10581 Might be `figure.constrained_layout.use`
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#10570 Fix check_shared in test_subplots.
  lib/matplotlib/tests/test_subplots.py
Labels: Testing

#10594 FIX: colorbar check for constrained layout
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: Release critical

#10554 Make ax3d.get_xlim() return a tuple, as 2D axes do.
  doc/api/next_api_changes/2018-02-21-AL.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Release critical

#10598 Backport of PR #10581
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#10605 Bump a tolerance in test_axisartist_floating_axes.
  lib/mpl_toolkits/tests/test_axisartist_floating_axes.py
Labels: Testing

#10565 Strip python 2 code from subprocess.py
  doc/api/next_api_changes/2018-02-15-AL-deprecations.rst
  examples/tests/backend_driver_sgskip.py
  lib/matplotlib/__init__.py
  lib/matplotlib/animation.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/compat/subprocess.py
  lib/matplotlib/dviread.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/texmanager.py
Labels: Py3k

#10531 Update matplotlibrc.template
  lib/matplotlib/tests/test_rcparams.py
  matplotlibrc.template
Labels: rcparams

#10621 Cleanup and py3fy backend_gtk3.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk, Py3k

#10625 Fixes to constrainedlayout tutorial markup.
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#10624 Some trivial py3fications.
  lib/matplotlib/backends/_gtk3_compat.py
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_qt4.py
  lib/matplotlib/backends/backend_qt4agg.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_qt5cairo.py
  lib/matplotlib/backends/backend_tkagg.py
  lib/matplotlib/backends/backend_tkcairo.py
  lib/matplotlib/backends/backend_wxcairo.py
  lib/matplotlib/pylab.py
Labels: Py3k
