Repository matplotlib/matplotlib, pull requests merged in 2019-05, with the labels that each got.

#14110 Simplify scatter_piecharts example.
  examples/lines_bars_and_markers/scatter_piecharts.py
Labels: Documentation

#14112 Remove old code path in layout.html
  doc/_templates/layout.html
Labels: Documentation

#13879 Clarify handling of "extreme" values in FloatingAxisArtistHelper.
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: mpl_toolkit

#14108 Deprecate FigureCanvasMac.invalidate in favor of draw_idle.
  doc/api/next_api_changes/2019-05-01-AL.rst
  lib/matplotlib/backends/backend_macosx.py
  src/_macosx.m
Labels: GUI/osx

#13878 Style fixes for floating_axes.
  .flake8
  lib/mpl_toolkits/axisartist/floating_axes.py
Labels: mpl_toolkit

#14119 Add ridge_map to third party packages documentation
  doc/_static/ridge_map_white_mountains.png
  doc/thirdpartypackages/index.rst
Labels: Documentation

#14114 Allow SVG Text-as-Text to Use Data Coordinates
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: backend/svg, text

#14125 Remove extra keyword from pytest.skip call.
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/Qt, Testing

#14002 Allow pandas DataFrames through norms
  lib/matplotlib/colors.py
Labels: Needs review

#14057 Improve Gradient bar example
  examples/lines_bars_and_markers/gradient_bar.py
Labels: Documentation

#14117 Simplify ribbon_box example.
  examples/misc/demo_ribbon_box.py
Labels: Documentation

#14075 Remove uninformative entries from glossary.
  INSTALL.rst
  doc/glossary/index.rst
  tutorials/introductory/usage.py
Labels: Documentation

#13980 Don't let margins expand polar plots to negative radii by default.
  doc/api/next_api_changes/2019-04-17-AL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_streamplot.py
Labels: polar

#14109 Some simple pyplot doc improvements
  lib/matplotlib/pyplot.py
Labels: Documentation

#13593 Only autoscale_view() when needed, not after every plotting call.
  doc/api/next_api_changes/2019-03-04-AL.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/collections.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_simplification.py
  lib/matplotlib/ticker.py
Labels: performance

#14131 Make test suite fail on warnings.
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_cbook.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  pytest.ini
Labels: Testing

#14145 Remove warnings handling for fixed bugs.
  lib/matplotlib/tests/test_axes.py
Labels: Build

#14147 Dedent overindented list in example docstring.
  examples/images_contours_and_fields/plot_streamplot.py
Labels: Documentation

#14150 Fix deprecation of withdash for figtext().
  lib/matplotlib/figure.py
Labels: Release critical

#14156 Fix glyph loading in textpath.
  lib/matplotlib/textpath.py
Labels: Release critical, backend/svg, text/usetex

#14158 Fix test_lazy_imports in presence of $MPLBACKEND or matplotlibrc.
  lib/matplotlib/tests/test_basic.py
Labels: Testing

#14172 Remove check_requirements from setupext.
  setupext.py
Labels: Build

#13169 Add example code for current logo
  .circleci/config.yml
  doc/users/credits.rst
  doc/users/generate_credits.py
  doc/users/history.rst
  examples/misc/logos2.py
Labels: Documentation, Needs review

#14186 Update FancyBboxPatch docs to numpydoc style
  lib/matplotlib/patches.py
Labels: Documentation

#14176 Merge doc/api/api_overview and doc/api/index.
  doc/_templates/layout.html
  doc/api/api_overview.rst
  doc/api/index.rst
Labels: Documentation

#14167 Fix backend_pgf header.
  lib/matplotlib/backends/backend_pgf.py
Labels: Release critical, backend/pgf

#14164 Fix regexp for dvipng version detection
  lib/matplotlib/__init__.py
Labels: Testing

#14151 Clarify error with usetex when cm-super is not installed.
  lib/matplotlib/texmanager.py
Labels: text/usetex

#14188 Clarify scope of MouseEvent attributes
  lib/matplotlib/backend_bases.py
Labels: Documentation

#13738 Fix TypeError when plotting stacked bar chart with decimal
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/units.py
Labels: student project, units

#14149 Avoid using `axis([xlo, xhi, ylo, yhi])` in examples.
  examples/axes_grid1/inset_locator_demo.py
  examples/event_handling/ginput_manual_clabel_sgskip.py
  examples/event_handling/pick_event_demo.py
  examples/images_contours_and_fields/irregulardatagrid.py
  examples/images_contours_and_fields/pcolor_demo.py
  examples/images_contours_and_fields/plot_streamplot.py
  examples/misc/contour_manual.py
  examples/pyplots/pyplot_formatstr.py
  examples/pyplots/pyplot_text.py
  examples/pyplots/text_commands.py
  examples/specialty_plots/anscombe.py
  examples/statistics/hexbin_demo.py
  examples/subplots_axes_and_figures/axes_demo.py
  examples/subplots_axes_and_figures/axhspan_demo.py
  examples/subplots_axes_and_figures/axis_equal_demo.py
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
  examples/text_labels_and_annotations/fonts_demo.py
  examples/text_labels_and_annotations/fonts_demo_kw.py
  examples/units/units_scatter.py
  examples/widgets/slider_demo.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#14173 Prepare to change the default pad for AxesDivider.append_axes.
  doc/api/next_api_changes/2019-05-08-AL.rst
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: mpl_toolkit

#14202 Fix docstring of Line2D.set_data.
  lib/matplotlib/lines.py
Labels: Documentation, Release critical

#14197 Minor cleanup of acorr/xcoor docs
  .flake8
  examples/lines_bars_and_markers/xcorr_acorr_demo.py
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#14210 Make intro tutorial less jargony.
  tutorials/introductory/usage.py
Labels: Documentation

#14096 Consistently use axs to refer to a set of Axes
  examples/color/colormap_reference.py
  examples/lines_bars_and_markers/marker_reference.py
  examples/lines_bars_and_markers/spectrum_demo.py
  examples/scales/power_norm.py
  examples/shapes_and_collections/collections.py
  examples/specialty_plots/radar_chart.py
  examples/specialty_plots/topographic_hillshading.py
  examples/statistics/boxplot.py
  examples/statistics/boxplot_color.py
  examples/statistics/boxplot_vs_violin.py
  examples/statistics/bxp.py
  examples/statistics/histogram_multihist.py
  examples/statistics/violinplot.py
  examples/style_sheets/ggplot.py
  examples/style_sheets/style_sheets_reference.py
  examples/subplots_axes_and_figures/demo_tight_layout.py
  examples/text_labels_and_annotations/date_index_formatter.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_arrow_patches.py
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_subplots.py
  lib/matplotlib/tests/test_table.py
Labels: API consistency, Documentation

#14212 DOC: update ghstats and credit.rst
  doc/users/credits.rst
  doc/users/github_stats.rst
Labels: Documentation

#14214 Fix some docstring style issues.
  .flake8
  doc/sphinxext/gallery_order.py
  lib/matplotlib/__init__.py
  lib/matplotlib/_layoutbox.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/bezier.py
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_mlab.py
  lib/matplotlib/tests/test_preprocess_data.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Documentation

#14084 Check number of positional arguments passed to quiver()
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_quiver.py
Labels: Argument Checking

#14135 Improve docs on Axes quiver
  lib/matplotlib/quiver.py
Labels: Documentation

#14082 In tk backend, don't try to update mouse position after resize.
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#14098 Improve Errorbar limits example
  examples/lines_bars_and_markers/errorbar_limits_simple.py
Labels: Documentation

#14218 Use stdlib mimetypes instead of hardcoding them.
  examples/user_interfaces/embedding_webagg_sgskip.py
  lib/matplotlib/backends/backend_webagg.py
Labels: GUI/webagg

#14224 Update plt.show() doc
  lib/matplotlib/pyplot.py
Labels: Documentation

#9672 Only set the wait cursor if the last draw was >1s ago.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
Labels: widgets/UI

#14229 Add missing space in warning message
  lib/matplotlib/patches.py
Labels: Documentation

#14228 DOC: fix parameters line in Axes.axis docstring
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Documentation

#14243 Update docstring of makeMappingArray
  lib/matplotlib/colors.py
Labels: Documentation

#14242 Avoid a buffer copy in PillowWriter.
  lib/matplotlib/animation.py
Labels: Animation

#14241 Fix linear segmented colormap with one element
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: confirmed bug

#14248 Fix TextBox not respecting eventson
  lib/matplotlib/widgets.py
Labels: widgets/UI

#14250 Backport PR #14149 on branch v3.1.x
  examples/axes_grid1/inset_locator_demo.py
  examples/event_handling/ginput_manual_clabel_sgskip.py
  examples/event_handling/pick_event_demo.py
  examples/images_contours_and_fields/irregulardatagrid.py
  examples/images_contours_and_fields/pcolor_demo.py
  examples/images_contours_and_fields/plot_streamplot.py
  examples/misc/contour_manual.py
  examples/pyplots/pyplot_formatstr.py
  examples/pyplots/pyplot_text.py
  examples/pyplots/text_commands.py
  examples/specialty_plots/anscombe.py
  examples/statistics/hexbin_demo.py
  examples/subplots_axes_and_figures/axes_demo.py
  examples/subplots_axes_and_figures/axhspan_demo.py
  examples/subplots_axes_and_figures/axis_equal_demo.py
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
  examples/text_labels_and_annotations/fonts_demo.py
  examples/text_labels_and_annotations/fonts_demo_kw.py
  examples/units/units_scatter.py
  examples/widgets/slider_demo.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#14260 Remove old OSX FAQ page
  INSTALL.rst
  doc/faq/index.rst
  doc/faq/osx_framework.rst
  doc/faq/virtualenv_faq.rst
Labels: Documentation

#14166 Shorten usage of `@image_comparison`.
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_agg.py
  lib/matplotlib/tests/test_arrow_patches.py
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_cycles.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_offsetbox.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_path.py
  lib/matplotlib/tests/test_patheffects.py
  lib/matplotlib/tests/test_pickle.py
  lib/matplotlib/tests/test_png.py
  lib/matplotlib/tests/test_quiver.py
  lib/matplotlib/tests/test_scale.py
  lib/matplotlib/tests/test_simplification.py
  lib/matplotlib/tests/test_skew.py
  lib/matplotlib/tests/test_spines.py
  lib/matplotlib/tests/test_streamplot.py
  lib/matplotlib/tests/test_subplots.py
  lib/matplotlib/tests/test_table.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tests/test_ttconv.py
  lib/matplotlib/tests/test_units.py
  lib/matplotlib/tests/test_widgets.py
  lib/mpl_toolkits/tests/test_axes_grid.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
  lib/mpl_toolkits/tests/test_axisartist_axis_artist.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
  lib/mpl_toolkits/tests/test_axisartist_clip_path.py
  lib/mpl_toolkits/tests/test_axisartist_floating_axes.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Testing

#14266 Make matplotlib.figure.AxesStack private
  doc/api/next_api_changes/2019-05-20-TH.rst
  lib/matplotlib/figure.py
Labels: API Changes

#14261 Updated polar documentation
  lib/matplotlib/projections/polar.py
Labels: Documentation, polar

#13506 Change colorbar for contour to have the proper axes limits...
  doc/api/next_api_changes/2019-02-24-JMK.rst
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_log_extension.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_uneven.png
  lib/matplotlib/tests/test_contour.py
Labels: colorbar

#14259 Deprecate string as color sequence
  doc/api/next_api_changes/2019-05-19-TH.rst
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
Labels: API Changes, color and colormaps

#14286 fix minor typo
  doc/users/prev_whats_new/whats_new_3.1.0.rst
Labels: Documentation

#14289 BUG: Fix performance regression when plotting values from Numpy array sub-classes
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
Labels: Release critical, units

#14282 Fix toolmanager's destroy subplots in tk
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk, toolbar

#14280 Simplify validate_markevery logic.
  lib/matplotlib/rcsetup.py
Labels: rcparams

#13711 Deprecate NavigationToolbar2Tk.set_active.
  doc/api/next_api_changes/2019-03-19-AL.rst
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#14068 Alternative fix for passing iterator as frames to FuncAnimation
  lib/matplotlib/animation.py
Labels: Animation

#14255 Improve docsstring of Axes.streamplot
  lib/matplotlib/streamplot.py
Labels: Documentation

#14216 Walk the artist tree when preparing for saving with tight bbox.
  lib/matplotlib/backend_bases.py
Labels: Release critical

#14321 Backport PR #14313 on branch v3.1.x
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Release critical

#14290 Convert SymmetricalLogScale to numpydoc
  lib/matplotlib/scale.py
Labels: Documentation

#14139 TST: be more explicit about identifying qt4/qt5 imports
  lib/matplotlib/tests/test_backend_qt.py
Labels: Testing

#14126 Simplify grouped bar chart example
  examples/lines_bars_and_markers/barchart.py
Labels: Documentation

#14236 Simplify StixFonts.get_sized_alternatives_for_symbol.
  lib/matplotlib/mathtext.py
Labels: text/mathtext

#13542 Move {setup,install}_requires from setupext.py to setup.py.
  setup.py
  setupext.py
Labels: Build

#14035 Improve properties formatting in interpolated docstrings.
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/spines.py
  lib/matplotlib/table.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Documentation

#14337 Docstring cleanup
  lib/matplotlib/axis.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/spines.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: Documentation

#14332 Use raw docstrings instead of escaping backslashes
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/colors.py
  lib/matplotlib/docstring.py
  lib/matplotlib/markers.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mlab.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/text.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: Documentation

#14326 Correctly apply PNG palette when building ImageBase through Pillow.
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical

#14170 In setup.py, inline the packages that need to be installed into setup().
  setup.py
  setupext.py
Labels: Build

#14345 Use importorskip for tests depending on pytz.
  lib/matplotlib/tests/test_dates.py
Labels: Testing

#14014 Disallow figure argument for pyplot.subplot() and Figure.add_subplot()
  doc/api/next_api_changes/2019-04-23-TH.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Argument Checking, Needs review

#14358 DOC boxplot `whis` parameter
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#13067 Simplify generation of error messages for missing libpng/freetype.
  setup.py
  setupext.py
  src/checkdep_freetype2.c
  src/checkdep_libpng.c
Labels: Build

#13663 Kill the PkgConfig singleton in setupext.
  setupext.py
Labels: Build

#14330 Remove remaining unittest.TestCase uses
  lib/matplotlib/tests/test_transforms.py
Labels: Testing

#14363 Make is_natively_supported private.
  lib/matplotlib/axis.py
  lib/matplotlib/units.py
Labels: units

#14374 Check that the figure patch is in bbox_artists before trying to remove.
  lib/matplotlib/figure.py
Labels: confirmed bug

#14368 Finish removing jquery from the repo.
  lib/matplotlib/backends/web_backend/jquery/js/jquery.js
  lib/matplotlib/backends/web_backend/jquery/js/jquery.min.js
Labels: GUI/webagg

#14378 Remove setup_method
  lib/matplotlib/tests/test_cbook.py
Labels: Testing

#14369 Don't use deprecated mathcircled in docs.
  examples/lines_bars_and_markers/marker_reference.py
Labels: Documentation

#14316 Improve error message for kiwisolver import error (DLL load failed)
  lib/matplotlib/__init__.py
Labels: Release critical

#14373 Properly hide __has_include to support C++<17 compilers.
  src/checkdep_freetype2.c
  src/checkdep_libpng.c
Labels: Release critical

#14353 Register flaky pytest marker.
  pytest.ini
Labels: Testing

#14388 Fixed one little spelling error
  lib/matplotlib/text.py
Labels: Documentation

#14343 acquiring and releaseing keypresslock when textbox is being activated
  lib/matplotlib/widgets.py
Labels: widgets/UI

#14394 Update link to "MathML torture test".
  lib/matplotlib/tests/test_mathtext.py
Labels: Documentation

#14311 travis: add c code coverage measurements
  .travis.yml
  requirements/testing/travis_all.txt
Labels: Testing
