Repository matplotlib/matplotlib, pull requests merged in 2019-12, with the labels that each got.

#15795 Remove incorrect statement re: colorbars in image tutorial.
  tutorials/introductory/images.py
Labels: Documentation

#15801 Cleanup some references to rcParams in docs.
  doc/faq/howto_faq.rst
  doc/users/dflt_style_changes.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/ticker.py
  tutorials/text/mathtext.py
  tutorials/text/usetex.py
Labels: Documentation

#15792 Cleanup dviread docs.
  lib/matplotlib/dviread.py
Labels: Documentation

#15790 Update docs of PolyCollection
  lib/matplotlib/artist.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/patches.py
Labels: Documentation

#15791 Cleanup backend_bases docstrings.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#15513 Separate plots using #### in make_room_for_ylabel_using_axesgrid.py
  examples/axes_grid1/make_room_for_ylabel_using_axesgrid.py
Labels: Documentation

#15809 Exclude artists from legend using label attributte
  tutorials/intermediate/legend_guide.py
Labels: Documentation

#15804 Cleanup many docstrings.
  examples/lines_bars_and_markers/filled_step.py
  lib/matplotlib/_cm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/scale.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  lib/matplotlib/ticker.py
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/trirefine.py
  lib/matplotlib/tri/tritools.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#15619 Improve zorder demo
  examples/misc/zorder_demo.py
Labels: Documentation, Needs review

#15812 Cleanup defaults in docstrings
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
  lib/matplotlib/patches.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/ticker.py
Labels: Documentation

#15601 Fix FontProperties conversion to/from strings
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/tests/test_fontconfig_pattern.py
Labels: text/fonts

#15805 Improve docs on figure size
  lib/matplotlib/figure.py
Labels: Documentation

#15829 In C extensions, use FutureWarning, not DeprecationWarning.
  src/ft2font_wrapper.cpp
Labels: Release critical

#15830 Allow failure on nightly builds.
  .travis.yml
Labels: Build

#15834 Optimize colors.to_rgba.
  lib/matplotlib/colors.py
Labels: Performance

#15799 Improve display of author names on PDF titlepage of matplotlib own docs
  doc/conf.py
Labels: Documentation

#15841 DOC: specify the expected shape in the Collection.set_offset
  lib/matplotlib/collections.py
Labels: Documentation

#15848 Cleanup environment variables FAQ.
  doc/faq/environment_variables_faq.rst
Labels: Documentation

#15822 More cleanup defaults in docstrings
  lib/matplotlib/_cm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/table.py
  lib/matplotlib/textpath.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/trirefine.py
  lib/matplotlib/tri/tritools.py
  lib/matplotlib/widgets.py
Labels: Documentation

#15851 ffmpeg is available on default ubuntu packages now.
  .travis.yml
  azure-pipelines.yml
Labels: Build

#15854 Simplify Axes3D init.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: maintenance, mplot3d

#15862 Backport PR #15851 on branch v3.2.x (ffmpeg is available on default ubuntu packages now)
  .travis.yml
Labels: Build

#15789 Cleanup xticks/yticks docstrings.
  lib/matplotlib/pyplot.py
Labels: Documentation

#15860 Backport PR #15851 on branch v3.1.x (ffmpeg is available on default ubuntu packages now)
  .travis.yml
Labels: Build

#15865 Fix a typo
  tutorials/colors/colormapnorms.py
Labels: Documentation

#15824 Document doc style for default values
  doc/devel/documenting_mpl.rst
Labels: Documentation

#15871 Backport PR #15824 on branch v3.2.x (Document doc style for default values)
  doc/devel/documenting_mpl.rst
Labels: Documentation

#15853 np.abs -> (builtins).abs
  examples/event_handling/resample.py
  examples/specialty_plots/hinton_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/bezier.py
  lib/matplotlib/markers.py
  lib/matplotlib/sankey.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: Performance

#15869 Update markers docs.
  lib/matplotlib/markers.py
Labels: Documentation

#15872 Backport PR #15869 on branch v3.2.x (Update markers docs.)
  lib/matplotlib/markers.py
Labels: Documentation

#15868 Backport PR #15848 on branch v3.2.x: Cleanup environment variables FAQ
  doc/faq/environment_variables_faq.rst
Labels: Documentation

#15850 Docstrings cleanup in matplotlib.axes
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#15827 Fix validation of linestyle in rcparams and cycler.
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: rcparams

#15880 Use True/False instead of 0/1 as booleans in backend_ps.
  lib/matplotlib/backends/backend_ps.py
Labels: maintenance

#15877 Suppress exception chaining on rc validator failure.
  lib/matplotlib/__init__.py
Labels: rcparams

#15874 Cleanup backend_bases docs
  lib/matplotlib/backend_bases.py
Labels: Documentation

#15859 Doc: Move search field into nav bar
  doc/_static/mpl.css
  doc/_templates/layout.html
  doc/conf.py
Labels: Documentation

#15873 Standardize parameter types in docs
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/mlab.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tri/tricontour.py
  tutorials/text/text_props.py
Labels: Documentation

#15858 Avoid some uses of len-1 tuples.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
Labels: maintenance

#15863 Backport PR #15244 on branch v3.1.x: Change documentation format of rcParams defaults
  doc/sphinxext/custom_roles.py
Labels: Documentation

#15887 Fix AnnotationBbox docstring.
  lib/matplotlib/offsetbox.py
Labels: Documentation

#15888 Cleanup backend_bases docs.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#15885 Cleanup text.py docstrings.
  lib/matplotlib/text.py
Labels: Documentation

#15875 Deprecate implicit creation of colormaps in register_cmap()
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/cm.py
Labels: API Changes, color and colormaps

#15891 Mark self.* expressions in docstrings as literal
  examples/widgets/rectangle_selector.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/colors.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/triinterpolate.py
Labels: Documentation

#15763 Skip webagg test if tornado is not available.
  lib/matplotlib/tests/test_backend_webagg.py
Labels: GUI/webagg, Testing

#15904 Deemphasize ACCEPTS blocks in documenting_mpl docs.
  doc/devel/documenting_mpl.rst
Labels: Documentation

#15776 Improve doc for data kwarg.
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_preprocess_data.py
Labels: Documentation

#15857 LassoSelection shouldn't useblit on canvas not supporting blitting.
  lib/matplotlib/widgets.py
Labels: widgets/UI

#15906 Cleanup legend docstrings.
  lib/matplotlib/legend.py
Labels: Documentation

#15907 More docstrings cleanup.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/stackplot.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#15903 Correctly handle non-affine transData in Collection.get_datalim.
  lib/matplotlib/collections.py
Labels: Release critical

#15919 Remove mod_python specific code.
  lib/matplotlib/__init__.py
Labels: maintenance

#14659 Update some widget docstrings.
  lib/matplotlib/widgets.py
Labels: Documentation, widgets/UI

#15925 Optimize setting units to None when they're already None.
  lib/matplotlib/axis.py
Labels: units

#15930 Backport PR #15925 on branch v3.2.x (Optimize setting units to None when they're already None.)
  lib/matplotlib/axis.py
Labels: units

#15928 DOC: use markers as slanted breaks in broken axis example
  examples/subplots_axes_and_figures/broken_axis.py
Labels: Documentation

#15878 Remove API deprecated in 3.1
  doc/api/next_api_changes/removals.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  examples/misc/plotfile_demo_sgskip.py
  lib/matplotlib/__init__.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/bezier.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/image.py
  lib/matplotlib/lines.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/sphinxext/plot_directive.py
Labels: API Changes, maintenance

#15892 Update docs of backend_manager
  lib/matplotlib/backend_managers.py
Labels: Documentation

#15900 Rewrite test_cycles to avoid image comparison tests.
  lib/matplotlib/tests/baseline_images/test_cycles/color_cycle_basic.png
  lib/matplotlib/tests/baseline_images/test_cycles/fill_cycle_basic.png
  lib/matplotlib/tests/baseline_images/test_cycles/fill_cycle_ignore.png
  lib/matplotlib/tests/baseline_images/test_cycles/lineprop_cycle_basic.png
  lib/matplotlib/tests/baseline_images/test_cycles/marker_cycle.png
  lib/matplotlib/tests/baseline_images/test_cycles/property_collision_fill.png
  lib/matplotlib/tests/baseline_images/test_cycles/property_collision_plot.png
  lib/matplotlib/tests/test_cycles.py
Labels: Testing

#15695 Define \mathdefault as a noop in the usetex preamble.
  lib/matplotlib/tests/test_usetex.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/ticker.py
Labels: text/usetex

#15895 Deprecate unused illegal_s attribute.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/dates.py
Labels: maintenance

#15935 Raise an ValueError when Axes.pie accepts negative values #15923
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Argument Checking

#15929 Remove unused cbook._lockstr.
  lib/matplotlib/cbook/__init__.py
Labels: maintenance

#15777 Don't bother disconnecting idle_draw at gtk shutdown.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#15897 Cleanup TriAnalyzer docs
  lib/matplotlib/tri/tritools.py
Labels: Documentation

#15945 Do not use "object" or "instance" when documenting types
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/textpath.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/trirefine.py
  lib/matplotlib/widgets.py
  tutorials/text/text_props.py
Labels: Documentation

#15944 Minor doc cleanups
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#15927 Trying to set the labels without setting ticks through pyplot now raises TypeError*
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/pyplot.py
Labels: API Changes, Argument Checking

#15942 Update docs of type1font
  lib/matplotlib/type1font.py
Labels: Documentation

#15950 Remove deprecated TextWithDash
  doc/api/artist_api.rst
  doc/api/next_api_changes/removals.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  examples/text_labels_and_annotations/dashpointlabel.py
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/text.py
Labels: API Changes, maintenance

#15914 Example for sigmoid function with horizontal lines
  .flake8
  examples/pyplots/axline.py
Labels: Documentation

#15901 Update backend_nbagg for removal of Gcf._activeQue.
  lib/matplotlib/backends/backend_nbagg.py
Labels: Release critical

#15953 Update donation link
  doc/index.rst
Labels: Documentation

#15937 Don't hide exceptions in FontManager.addfont.
  lib/matplotlib/font_manager.py
Labels: Release critical, text/fonts

#15965 Test registering cmaps
  lib/matplotlib/tests/test_colors.py
Labels: Testing, color and colormaps

#15962 Add tests for IndexFormatter
  lib/matplotlib/tests/test_ticker.py
Labels: Testing, ticks and axis

#15948 Use rc_context more.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/animation.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/widgets.py
Labels: maintenance

#15939 Exceptions should start with a capital letter
  examples/specialty_plots/radar_chart.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/cm.py
  lib/matplotlib/dviread.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/patches.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_ticker.py
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: API consistency, Documentation

#15947 Merge the two usetex demos.
  examples/text_labels_and_annotations/tex_demo.py
  examples/text_labels_and_annotations/usetex_demo.py
Labels: Documentation

#15966 FIX: check subplot kwargs
  lib/matplotlib/axes/_base.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_pyplot.py
Labels: API consistency

#15969 Restart pgf's latex instance after bad latex inputs.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#15979 Remove references to scipy cookbook.
  doc/users/event_handling.rst
  matplotlibrc.template
Labels: Documentation

#15983 Fix some examples docstrings.
  examples/images_contours_and_fields/affine_image.py
  examples/images_contours_and_fields/demo_bboximage.py
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/lines_bars_and_markers/scatter_with_legend.py
  examples/misc/keyword_plotting.py
  examples/pie_and_polar_charts/pie_and_donut_labels.py
  examples/recipes/placing_text_boxes.py
  examples/shapes_and_collections/line_collection.py
  examples/shapes_and_collections/patch_collection.py
  examples/text_labels_and_annotations/date.py
  examples/ticks_and_spines/multiple_yaxis_with_spines.py
  examples/widgets/lasso_selector_demo_sgskip.py
  examples/widgets/polygon_selector_demo.py
Labels: Documentation

#15970 Process clip paths the same way as regular Paths.
  lib/matplotlib/tests/baseline_images/test_axes/imshow_clip.png
  lib/matplotlib/tests/baseline_images/test_offsetbox/offsetbox_clipping.png
  src/_backend_agg.cpp
  src/_backend_agg.h
Labels: Path handling, backend/agg

#15985 Remove unnecessary :func:, :meth: from examples markup.
  examples/color/custom_cmap.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/images_contours_and_fields/image_demo.py
  examples/images_contours_and_fields/image_transparency_blend.py
  examples/images_contours_and_fields/interpolation_methods.py
  examples/images_contours_and_fields/pcolor_demo.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/images_contours_and_fields/plot_streamplot.py
  examples/lines_bars_and_markers/scatter_with_legend.py
  examples/lines_bars_and_markers/span_regions.py
  examples/pie_and_polar_charts/nested_pie.py
  examples/pie_and_polar_charts/pie_and_donut_labels.py
  examples/pie_and_polar_charts/pie_demo2.py
  examples/recipes/create_subplots.py
  examples/recipes/fill_between_alpha.py
  examples/recipes/share_axis_lims_views.py
  examples/subplots_axes_and_figures/subplots_adjust.py
  examples/subplots_axes_and_figures/two_scales.py
Labels: Documentation

#15886 Fix Annotation using different units and different coords on x/y.
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: text, units

#15991 Avoid setting dtypes as strings...
  examples/axes_grid1/demo_axes_rgb.py
  examples/axes_grid1/inset_locator_demo2.py
  examples/subplots_axes_and_figures/zoom_inset_axes.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/tests/test_units.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: maintenance

#15961 Be more opinionated for setting up a dev env.
  INSTALL.rst
  doc/devel/contributing.rst
Labels: Documentation

#15992 Avoid using np.matrix.
  examples/axes_grid1/demo_axes_hbox_divider.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: maintenance, mpl_toolkit

#15684 Avoid RuntimeError at wx exit.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#16000 De-deprecate *min/*max parameters to set_x/y/zlim()
  doc/api/next_api_changes/deprecations.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: API Changes, API consistency

#16007 Fix search on nested pages
  doc/_templates/layout.html
Labels: Documentation, Release critical

#15995 Remove toolkit functions deprecated in 3.1
  doc/api/next_api_changes/removals.rst
  doc/api/prev_api_changes/api_changes_1.2.x.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/toolkits/mplot3d.rst
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: API Changes, maintenance

#16011 Replace axes_size.Fraction by multiplication.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
Labels: maintenance, mpl_toolkit

#16015 Some small extension cleanups
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
  src/_contour_wrapper.cpp
  src/_image_wrapper.cpp
  src/_path_wrapper.cpp
  src/ft2font_wrapper.cpp
  src/py_converters.h
  src/tri/_tri.cpp
  src/tri/_tri_wrapper.cpp
Labels: maintenance

#15989 Simplify Artist.update.
  lib/matplotlib/artist.py
  lib/matplotlib/text.py
Labels: maintenance

#15993 Style fixes for axes_divider.
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: maintenance, mpl_toolkit

#15997 Shorten wx _onMouseWheel.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, maintenance

#16012 Normalize aspect="equal" to aspect=1 in the setter.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
Labels: maintenance

#16014 Simplify calls to AxesGrid/ImageGrid.
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/simple_axesgrid2.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: maintenance, mpl_toolkit

#16017 Document support for no-args plt.subplot() call.
  lib/matplotlib/pyplot.py
Labels: Documentation

#16010 Inherit the Artist.draw docstring in subclasses.
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: Documentation

#16013 Relayout some conditions in axes_grid.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: maintenance, mpl_toolkit

#15836 Compactify a bit the EventCollection tests.
  lib/matplotlib/tests/baseline_images/test_collections/EventCollection_plot__set_ls_dash.pdf
  lib/matplotlib/tests/baseline_images/test_collections/EventCollection_plot__set_ls_dash.png
  lib/matplotlib/tests/baseline_images/test_collections/EventCollection_plot__set_ls_dash.svg
  lib/matplotlib/tests/test_collections.py
Labels: Testing

#15940 Some unicode-support related cleanups.
  examples/text_labels_and_annotations/tex_demo.py
  lib/matplotlib/_layoutbox.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_animation.py
Labels: Documentation, maintenance

#15990 Remove deprecated support for setting single property via multiple aliases
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
Labels: maintenance

#15976 Cleanup span_where.
  lib/matplotlib/collections.py
Labels: maintenance

#16028 Prevent FigureCanvasQT_draw_idle recursively calling itself.
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#15998 Join marker reference and marker fiillstyle reference
  examples/lines_bars_and_markers/marker_fillstyle_reference.py
  examples/lines_bars_and_markers/marker_reference.py
  lib/matplotlib/lines.py
  lib/matplotlib/markers.py
Labels: Documentation

#16038 Cleanup contour_demo.
  examples/images_contours_and_fields/contour_demo.py
Labels: Documentation

#16031 Fix docstring of hillshade().
  lib/matplotlib/colors.py
Labels: Documentation

#15734 Fix home/forward/backward buttons for 3d plots.
  doc/users/next_whats_new/2017-12-29-3dhome.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#16036 Rely on pytest to record warnings, rather than doing it manually.
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_quiver.py
Labels: Testing, maintenance

#16008 Remove unused imports
  .flake8
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/text.py
Labels: maintenance

#15507 Use FixedFormatter only with FixedLocator
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/ticker.py
Labels: API consistency, Needs review

#16004 Improve documentation of text module
  lib/matplotlib/text.py
Labels: Documentation

#15798 Better default behavior for boxplots when rcParams['lines.marker'] is set
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: rcparams

#16035 Make eventplot use the standard alias resolution mechanism.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_axes.py
Labels: maintenance

#16034 Update comments re: colors._vector_magnitude.
  lib/matplotlib/colors.py
Labels: Documentation, color and colormaps

#16050 Unbreak CI.
  lib/matplotlib/tests/test_axes.py
Labels: Build

#16048 Document that colorbar() takes a label kwarg.
  lib/matplotlib/colorbar.py
Labels: Documentation

#16037 Doc: use empty ScalarMappable for colorbars with no associated image.
  examples/specialty_plots/leftventricle_bulleye.py
  tutorials/colors/colorbar_only.py
Labels: Documentation, colorbar

#15864 [Add the info of 'sviewgui' in thirdparty package]
  doc/_static/sviewgui_sample.png
  doc/thirdpartypackages/index.rst
Labels: Documentation

#16044 Code style cleanup
  examples/images_contours_and_fields/contourf_log.py
  examples/images_contours_and_fields/pcolor_demo.py
  examples/text_labels_and_annotations/mathtext_examples.py
  examples/userdemo/colormap_normalizations.py
  examples/userdemo/colormap_normalizations_power.py
  lib/matplotlib/_layoutbox.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/hatch.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/ticker.py
  lib/matplotlib/tri/triinterpolate.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  tutorials/colors/colormapnorms.py
Labels: maintenance
