Repository matplotlib/matplotlib, pull requests merged in 2019-09, with the labels that each got.

#13775 Doc: Scatter Hist example update
  .flake8
  examples/axes_grid1/scatter_hist_locatable_axes.py
  examples/lines_bars_and_markers/scatter_hist.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation, Needs review

#15166 FIX: indexed pandas bar
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical, third-party integration, units

#15027 More readability improvements on axis3d.
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: mplot3d

#14888 Replace some polar baseline images by check_figures_equal.
  lib/matplotlib/tests/baseline_images/test_axes/polar_units.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_units.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_units.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_units_2.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_units_2.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_units_2.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_wrap_180.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_wrap_180.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_wrap_180.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_wrap_360.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_wrap_360.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_wrap_360.svg
  lib/matplotlib/tests/test_axes.py
Labels: Testing, polar

#15169 TST: verify warnings fail the test suite
  lib/matplotlib/tests/test_testing.py
Labels: Testing

#15176 What's new for 3.2.0
  doc/users/next_whats_new/2019-02-27-AL.rst
  doc/users/next_whats_new/2019-04-05-AL.rst
  doc/users/next_whats_new/2019-04-17-AL.rst
  doc/users/next_whats_new/2019-05-31-AL.rst
  doc/users/next_whats_new/2019-06-05-pdf-gouraud-alpha.rst
  doc/users/next_whats_new/2019-08-14-ES.rst
  doc/users/next_whats_new/bar3d_lightsource.rst
  doc/users/next_whats_new/errorbar_offsets.rst
  doc/users/next_whats_new/logit_scale_stuff.rst
  doc/users/next_whats_new/rcparam-axes-title-location-color.rst
  doc/users/next_whats_new/shorthand_hex_colors.rst
  doc/users/prev_whats_new/whats_new_3.2.0.rst
  doc/users/whats_new.rst
Labels: Documentation, Release critical

#15181 FIX: proper call to zero_formats
  lib/matplotlib/dates.py
Labels: Date handling, Release critical

#15150 Autodetect whether pgf can use \includegraphics[interpolate].
  doc/api/next_api_changes/2019-08-28-AL.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#15184 Mark missing_references extension as parallel read safe
  doc/sphinxext/missing_references.py
Labels: Documentation

#13510 Change Locator MAXTICKS checking to emitting a log at WARNING level.
  doc/api/next_api_changes/2019-02-25-AL.rst
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/ticker.py
Labels: API Changes

#15180 Add some more internal links to 3.2.0 what's new
  doc/users/prev_whats_new/whats_new_3.2.0.rst
Labels: Documentation

#15197 Remove mention of now-removed basedir setup option.
  INSTALL.rst
Labels: Documentation

#15195 Fix integers being passed as length to quiver3d.
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Release critical

#15196 Force html4 writer for sphinx 2
  doc/_static/mpl.css
  doc/_templates/search.html
  doc/conf.py
  doc/missing-references.json
  requirements/doc/doc-requirements.txt
Labels: Documentation

#15216 Update docstrings of contains_point(s) methods
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
Labels: Documentation

#15217 Doc: Add `plt.show()` to horizontal bar chart example
  examples/lines_bars_and_markers/horizontal_barchart_distribution.py
Labels: Documentation

#15220 Correctly format floats passed to pgf backend.
  lib/matplotlib/backends/backend_pgf.py
Labels: Release critical, backend/pgf

#15230 Doc: Remove hard-documented rcParams defaults
  examples/images_contours_and_fields/interpolation_methods.py
  examples/text_labels_and_annotations/unicode_minus.py
  examples/ticks_and_spines/tick_xlabel_top.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
Labels: Documentation

#15224 Avoid infinite loop when switching actions in qt backend.
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt, Release critical

#15234 Drop mention of msinttypes in Windows build.
  .appveyor.yml
  INSTALL.rst
Labels: Build, OS/Microsoft

#15235 Kill FigureManagerTk._num.
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#15229 Doc: Fix Bbox and BboxBase links
  doc/missing-references.json
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/legend.py
  lib/matplotlib/text.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Documentation

#15237 Cleanup widgets.py.
  lib/matplotlib/widgets.py
Labels: widgets/UI

#15228 Minor docstring style cleanup
  lib/matplotlib/patches.py
Labels: Documentation

#15231 Doc: Do not write default for non-existing rcParams
  doc/sphinxext/custom_roles.py
Labels: Documentation, Release critical

#14889 Support pixel-by-pixel alpha in imshow.
  examples/images_contours_and_fields/image_transparency_blend.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical, color/alpha

#15242 Cleanup widgets docstrings.
  lib/matplotlib/widgets.py
Labels: Documentation, widgets/UI

#15227 contains_point() docstring fixes
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
Labels: Documentation

#15243 Move some new API changes to the correct place
  doc/api/next_api_changes/2018-09-06-AL.rst
  doc/api/next_api_changes/2019-02-25-AL.rst
  doc/api/next_api_changes/2019-02-28-AL.rst
  doc/api/next_api_changes/2019-08-28-AL.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
Labels: Documentation, Release critical

#15175 Simplify pdf image output.
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf

#15266 Embedding in Tk example: Fix toolbar being clipped.
  examples/user_interfaces/embedding_in_tk_sgskip.py
Labels: Documentation, GUI/tk

#15267 added multi-letter example to mathtext tutorial
  tutorials/text/mathtext.py
Labels: Documentation

#15226 Turn gtk3 pan/zoom button into togglable buttons.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#15263 Correctly setup comparisons in test_compare_images.
  lib/matplotlib/testing/compare.py
  lib/matplotlib/tests/test_compare_images.py
Labels: Testing

#15273 DOC: don't use term units in transform tutorial
  tutorials/advanced/transforms_tutorial.py
Labels: Documentation

#15271 Fix font weight validation
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: Needs review, Release critical, rcparams

#15252 Mention labels and milestones in PR review guidelines
  doc/devel/coding_guide.rst
Labels: Documentation

#15278 Backport PR #15271 on branch v3.1.x (Fix font weight validation)
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: rcparams

#15250 Cleanup font_manager.
  lib/matplotlib/font_manager.py
Labels: text/fonts

#15286 throw deprecation warning on empty call to fig.add_axes()
  doc/api/next_api_changes/deprecated_empty_add_axes.rst
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: API Changes, API consistency, Argument Checking

#15296 Fix typo/bug from 18cecf7
  lib/matplotlib/rcsetup.py
Labels: Release critical

#15294 Replace custom logging in wx by stdlib logging.
  doc/api/next_api_changes/2018-09-18-AL.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#15305 Autogenerate footer Copyright year
  doc/conf.py
Labels: Documentation

#15307 DOC: center footer
  doc/_static/mpl.css
Labels: Documentation

#15308 Doc: Add close event to list of events
  doc/users/event_handling.rst
Labels: Documentation

#15309 Simplify sca().
  lib/matplotlib/pyplot.py
Labels: pyplot API

#15283 Don't default axes_grid colorbar locator to MaxNLocator.
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/tests/test_axes_grid.py
Labels: Release critical, colorbar, mpl_toolkit

#15291 Remove error_msg_qt from backend_qt4.
  lib/matplotlib/backends/backend_qt4.py
Labels: GUI/Qt, Release critical

#15321 Sort missing_references.json.
  doc/missing-references.json
  doc/sphinxext/missing_references.py
Labels: Documentation

#15297 Document How-to figure empty
  doc/faq/howto_faq.rst
Labels: Documentation

#15326 List of minimal versions of dependencies
  doc/devel/min_dep_policy.rst
Labels: Documentation

#15319 Make validate_movie_writer actually check registered writers.
  lib/matplotlib/animation.py
  lib/matplotlib/rcsetup.py
Labels: Animation, rcparams

#15301 Update colorbar docs
  lib/matplotlib/colorbar.py
Labels: Documentation

#15324 Update PR guidelines
  doc/devel/coding_guide.rst
Labels: Documentation

#15293 Fixes for wx savefig dialog.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#15335 Add discourse link to readme
  README.rst
Labels: Documentation
