Repository matplotlib/matplotlib, pull requests merged in 2019-02, with the labels that each got.

#13336 Update imshow docs.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#12398 CI: Don't run AppVeyor/Travis for doc backport branches.
  .appveyor.yml
  .travis.yml
Labels: Testing

#13342 Update some (mostly internal) docstrings in image.py.
  lib/matplotlib/image.py
Labels: Documentation

#13322 Update Axis docs
  lib/matplotlib/axis.py
Labels: Documentation

#13324 Cleanup ScalarFormatter; preparatory to moving it to format_ticks.
  lib/matplotlib/ticker.py
Labels: ticks and axis

#13335 Update and factor out Axis.get_tick_positions.
  lib/matplotlib/axis.py
Labels: Release critical

#13117 Cleanup matplotlib.use
  doc/api/next_api_changes/2019-01-06-TH-use-param.rst
  lib/matplotlib/__init__.py
Labels: Needs review

#13356 More spelling fixes.
  doc/sphinxext/gallery_order.py
  examples/images_contours_and_fields/image_masked.py
  examples/ticks_and_spines/date_concise_formatter.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/bezier.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/legend.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/pylab.py
  lib/matplotlib/testing/jpl_units/Epoch.py
  lib/matplotlib/testing/jpl_units/UnitDbl.py
  lib/matplotlib/tests/baseline_images/test_axes/twin_axis_locators_formatters.pdf
  lib/matplotlib/tests/baseline_images/test_axes/twin_axis_locators_formatters.png
  lib/matplotlib/tests/baseline_images/test_axes/twin_axis_locators_formatters.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/textpath.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  tutorials/toolkits/axisartist.py
Labels: Documentation

#12772 Improve plot() docstring.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#13362 Kill the unused, private _get_pixel_distance_along_axis.
  lib/matplotlib/axis.py
Labels: ticks and axis

#13373 Deprecate axis3d.Axis.get_tick_positions.
  doc/api/next_api_changes/2018-02-06-AL.rst
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: mplot3d

#13376 Undeprecate case-insensitive "long" colornames.
  doc/api/next_api_changes/2019-01-19-AL.rst
  examples/statistics/barchart_demo.py
  lib/matplotlib/colors.py
  tutorials/colors/colors.py
Labels: Release critical, colormaps and colors

#13262 Shorten setupext and remove uninformative build log entries.
  setup.py
  setupext.py
Labels: build

#13380 Minor simplifications to scatter3d.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#13379 Remove citation entry from FAQ.
  doc/citing.rst
  doc/faq/howto_faq.rst
  lib/matplotlib/__init__.py
Labels: Documentation

#13354 Properly deprecate non-1D inputs to pie().
  doc/api/next_api_changes/2018-02-03-AL.rst
  lib/matplotlib/axes/_axes.py
Labels: Argument Checking

#13387 Fix regression in docstring.dedent_interpd.
  lib/matplotlib/docstring.py
Labels: Release critical

#13389 Inherit more docstrings.
  examples/misc/custom_projection.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#13391 Remove colour specification from some examples
  examples/event_handling/legend_picking.py
  examples/misc/bbox_intersect.py
  examples/misc/demo_ribbon_box.py
  examples/mplot3d/hist3d.py
  examples/mplot3d/scatter3d.py
  examples/mplot3d/surface3d_2.py
  examples/pyplots/fig_axes_labels_simple.py
  examples/pyplots/fig_x.py
  examples/pyplots/whats_new_1_subplot3d.py
  examples/shapes_and_collections/artist_reference.py
  examples/statistics/barchart_demo.py
  examples/statistics/histogram_multihist.py
  examples/subplots_axes_and_figures/axes_margins.py
  examples/text_labels_and_annotations/mathtext_demo.py
  examples/text_labels_and_annotations/rainbow_text.py
  examples/text_labels_and_annotations/usetex_demo.py
  examples/ticks_and_spines/spines_bounds.py
  examples/ticks_and_spines/ticklabels_rotation.py
  examples/units/bar_unit_demo.py
  examples/widgets/slider_demo.py
Labels: Documentation

#13396 mpl_toolkits style fixes.
  .flake8
  lib/mpl_toolkits/axes_grid/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: mpl_toolkit

#9845 Add inaxes method to FigureCanvas to check whether point is in an axes.
  doc/users/next_whats_new/2017-11-24_figurecanvas_inaxes.rst
  lib/matplotlib/backend_bases.py
Labels: Needs rebase

#13402 Fix empty reshape2d
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
Labels: Release critical

#13069 5 minor divisions when major ticks are 2.5 units apart
  doc/users/next_whats_new/2019-01-25-AH-modify-minor-tick-spacing.rst
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: ticks and axis

#13403 FIX: remove idle_event
  lib/matplotlib/backend_bases.py
Labels: Release critical, build

#13235 Vectorize mplot3d.art3d.zalpha.
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: mplot3d

#11859 ENH: add secondary x/y axis
  .flake8
  doc/api/axes_api.rst
  doc/users/next_whats_new/2018-09-08-JMK.rst
  examples/subplots_axes_and_figures/secondary_axis.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/dates.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/baseline_images/test_axes/secondary_xy.png
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Needs review, Release critical, ticks and axis

#11127 Legend for Scatter
  .flake8
  doc/users/next_whats_new/legend_for_scatter.rst
  examples/lines_bars_and_markers/scatter_with_legend.py
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: Needs review, Release critical

#13418 Backport PR #13412 and #13337 on branch v3.0.x
  .flake8
  .travis.yml
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/mlab.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_preprocess_data.py
  lib/matplotlib/widgets.py
  requirements/testing/travis_flake8.txt
Labels: Testing

#13420 Doc backports
  doc-requirements.txt
  doc/conf.py
  doc/sphinxext/github.py
  doc/users/next_whats_new/2018-09-15-AL.rst
  lib/matplotlib/sphinxext/mathmpl.py
  tutorials/text/mathtext.py
Labels: Documentation

#13030 Deprecate internal functions exposed in the public API of mplot3d
  doc/api/api_changes/2018-12-20-AL-deprecations.rst
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Release critical, mplot3d

#13020 Deprecate proj3d.mod.
  lib/matplotlib/quiver.py
  lib/matplotlib/tri/triinterpolate.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
Labels: mplot3d

#13399 Doc: examples update
  examples/images_contours_and_fields/interpolation_methods.py
  examples/lines_bars_and_markers/barchart.py
  examples/pie_and_polar_charts/polar_bar.py
  examples/statistics/barchart_demo.py
  examples/units/bar_unit_demo.py
Labels: Documentation

#13419 FIX: secondary_axis resize
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#13411 Deemphasize numeric locations for legend() in docs.
  lib/matplotlib/legend.py
Labels: Documentation

#13395 Cleanup demo_curvelinear_grid.
  examples/axisartist/demo_curvelinear_grid.py
Labels: Documentation, mpl_toolkit

#13434 More smoketesting of pcolorfast.
  lib/matplotlib/tests/test_axes.py
Labels: Testing

#13436 Add get/set_in_layout to artist API docs.
  doc/api/artist_api.rst
  lib/matplotlib/artist.py
Labels: Documentation

#13323 Move the call to Formatter.set_locs into Formatter.format_ticks.
  doc/api/next_api_changes/2018-01-28-AL.rst
  lib/matplotlib/axis.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Release critical, ticks and axis

#5590 [mpl_toolkits] Fix picking for things drawn on parasite axes
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: Needs review, mpl_toolkit, widgets/UI

#13368 FIX: Fix shape of hist output when input is multidimensional empty list
  doc/api/next_api_changes/2019-02-07-AH.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Argument Checking

#12380 Stem speedup2
  doc/api/next_api_changes/2017-10-24-DS.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/container.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/stem.png
  lib/matplotlib/tests/test_axes.py
Labels: Needs review, Release critical

#13357 Inherit some docstrings in backend code.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
Labels: Documentation

#13443 Remove some outdated comments from rcsetup.py.
  lib/matplotlib/rcsetup.py
Labels: rcparams

#11246 Download jquery during build.
  .gitignore
  examples/user_interfaces/embedding_webagg_sgskip.py
  lib/matplotlib/backends/web_backend/all_figures.html
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_diagonals-thick_18_b81900_40x40.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_diagonals-thick_20_666666_40x40.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_flat_10_000000_40x100.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_glass_100_f6f6f6_1x400.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_glass_100_fdf5ce_1x400.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_gloss-wave_35_f6a828_500x100.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_highlight-soft_100_eeeeee_1x100.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-bg_highlight-soft_75_ffe45c_1x100.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-icons_222222_256x240.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-icons_228ef1_256x240.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-icons_ef8c08_256x240.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-icons_ffd27a_256x240.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/images/ui-icons_ffffff_256x240.png
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/jquery-ui.css
  lib/matplotlib/backends/web_backend/jquery/css/themes/base/jquery-ui.min.css
  lib/matplotlib/backends/web_backend/jquery/js/jquery-ui.js
  lib/matplotlib/backends/web_backend/jquery/js/jquery-ui.min.js
  lib/matplotlib/backends/web_backend/single_figure.html
  setup.py
  setupext.py
Labels: build

#13455 BLD: only try to get freetype src if src does not exist
  setupext.py
Labels: build

#13275 Simple logging interface.
  doc/devel/contributing.rst
  doc/faq/troubleshooting_faq.rst
  doc/users/next_whats_new/2019-01-24-AL-set_loglevel.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/pyplot.py
Labels: Release critical

#13421 DOC: update release guide
  doc/api/api_changes.rst
  doc/devel/release_guide.rst
Labels: Documentation

#13375 Improve Axes selection in Qt figure options.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/colorbar.py
Labels: GUI/Qt, Needs review

#13398 FIX: let pandas IndexInt64 work for boxplot
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Needs review, date handling, pandas integration

#13469 Add explanatory comments for text rotation example
  .flake8
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
Labels: Documentation

#13467 Add "c" shorthand for "color" for the Text class.
  doc/api/next_api_changes/2019-02-20-AL.rst
  lib/matplotlib/text.py
Labels: API consistency

#13475 Cleanup titles of embedding examples.
  examples/user_interfaces/embedding_in_gtk3_panzoom_sgskip.py
  examples/user_interfaces/embedding_in_gtk3_sgskip.py
  examples/user_interfaces/embedding_in_tk_sgskip.py
  examples/user_interfaces/embedding_in_wx2_sgskip.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/embedding_in_wx4_sgskip.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
Labels: Documentation

#13474 Raise NotImplementedError with equal aspect on 3D axes
  doc/api/next_api_changes/2019-02-20-DS.rst
  lib/matplotlib/axes/_base.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#13473 Deprecate backend_wx.IDLE_DELAY.
  doc/api/next_api_changes/2019-02-21-AL.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#13447 Update axes_grid docs
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: Documentation

#13425 API: un-deprecate keyword only args to set_xlim, set_ylim
  doc/api/api_changes.rst
  doc/api/next_api_changes/2018-01-28_tac.rst
  lib/matplotlib/axes/_base.py
Labels: Release critical

#12150 Deprecate \stackrel.
  doc/api/next_api_changes/2018-08-19-AL-deprecations.rst
  examples/text_labels_and_annotations/mathtext_examples.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/mathtext.py
  tutorials/text/mathtext.py
Labels: text

#12904 Support forward/backward mouse buttons
  doc/users/next_whats_new/2019-02-17-TH.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/rcsetup.py
  matplotlibrc.template
Labels: GUI/Qt, Needs review

#13062 Update FAQ re: batch/webserver use.
  doc/faq/howto_faq.rst
Labels: Documentation

#12232 Add helper function to check that an argument is in a list of strings.
  doc/api/next_api_changes/2019-01-22-AL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/axis.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/lines.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/quiver.py
  lib/matplotlib/scale.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/tripcolor.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Needs review

#13465 FIX: polar set_rlim allow bottom-only call
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical, polar

#13057 Simplify callable(self._contains) checks
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/collections.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/patches.py
  lib/matplotlib/table.py
  lib/matplotlib/text.py
Labels: Needs review

#13314 Move major/minor tick overstrike logic to Axis.
  doc/api/next_api_changes/2018-01-30-AL.rst
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_axes/symlog.png
  lib/matplotlib/tests/baseline_images/test_axes/symlog.svg
  lib/matplotlib/tests/baseline_images/test_axes/symlog2.png
  lib/matplotlib/tests/baseline_images/test_axes/symlog2.svg
  lib/matplotlib/tests/baseline_images/test_scale/log_scales.pdf
  lib/matplotlib/tests/baseline_images/test_scale/log_scales.png
  lib/matplotlib/tests/baseline_images/test_scale/log_scales.svg
  lib/matplotlib/tests/baseline_images/test_tightlayout/outward_ticks.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/outward_ticks.png
  lib/matplotlib/tests/baseline_images/test_tightlayout/outward_ticks.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_scale.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/ticker.py
Labels: ticks and axis

#13123 Add shading to Axes3D.voxels, and enable it by default
  doc/api/next_api_changes/2019-02-EW.rst
  doc/users/next_whats_new/2019-01-06-shaded-voxels.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-alpha.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-edge-style.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-named-colors.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-rgb-data.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-simple.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-xyz.png
Labels: Release critical, mplot3d

#13459 Document histogramming pre-binned data.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#13488 Animation: interactive zoom/pan with blitting does not work
  lib/matplotlib/animation.py
Labels: Animation

#13492 Doc more release updates
  doc/devel/release_guide.rst
  tools/github_stats.py
Labels: Documentation

#13511 Add missing plt.show() at end of example.
  examples/subplots_axes_and_figures/subplots_demo.py
Labels: Documentation

#13514 Add missing show() at end of example.
  examples/subplots_axes_and_figures/gridspec_and_subplots.py
Labels: Documentation

#13517 Fix heading hierarchy in annotation tutorial.
  tutorials/text/annotations.py
Labels: Documentation

#12839 BUG: Prevent Tick params calls from overwriting visibility without being told to
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_axes/retain_tick_visibility.png
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#12716 FIX: return the actual ax.get_window_extent
  doc/api/next_api_changes/2018-11-04-JMK.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/baseline_images/test_axes/secondary_xy.png
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_bbox_inches.pdf
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/test_colorbar_location.png
  lib/matplotlib/tests/baseline_images/test_table/table_auto_column.png
  lib/matplotlib/tests/baseline_images/test_table/table_cell_manipulation.png
  lib/matplotlib/tests/baseline_images/test_table/table_labels.png
  lib/matplotlib/tests/baseline_images/test_table/table_zorder.png
  lib/matplotlib/tests/baseline_images/test_text/large_subscript_title.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/image_grid.png
Labels: Needs review, Release critical, geometry manager

#13521 Small cleanup to headings of 3d examples.
  examples/mplot3d/3d_bars.py
  examples/mplot3d/lorenz_attractor.py
  examples/mplot3d/voxels_rgb.py
Labels: Documentation

#13526 DOC: fix Subplot calls
  examples/subplots_axes_and_figures/gridspec_nested.py
  tutorials/intermediate/gridspec.py
Labels: Documentation

#13525 Move some links in rst out of running text.
  lib/matplotlib/dates.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/image.py
Labels: Documentation

#13394 Deduplicate some code between floating_axes and grid_helper_curvelinear.
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: mpl_toolkit

#11964 Simplify extension setup.
  setup.py
  setupext.py
Labels: Needs review, Release critical, build

#13520 Register 3d projection by default.
  doc/api/next_api_changes/2019-02-26-AL.rst
  doc/users/next_whats_new/2019-01-06-shaded-voxels.rst
  examples/frontpage/3D.py
  examples/mplot3d/2dcollections3d.py
  examples/mplot3d/3d_bars.py
  examples/mplot3d/bars3d.py
  examples/mplot3d/custom_shaded_3d_surface.py
  examples/mplot3d/hist3d.py
  examples/mplot3d/lines3d.py
  examples/mplot3d/lorenz_attractor.py
  examples/mplot3d/mixed_subplots.py
  examples/mplot3d/offset.py
  examples/mplot3d/pathpatch3d.py
  examples/mplot3d/polys3d.py
  examples/mplot3d/quiver3d.py
  examples/mplot3d/scatter3d.py
  examples/mplot3d/subplot3d.py
  examples/mplot3d/surface3d.py
  examples/mplot3d/surface3d_2.py
  examples/mplot3d/surface3d_3.py
  examples/mplot3d/surface3d_radial.py
  examples/mplot3d/text3d.py
  examples/mplot3d/tricontour3d.py
  examples/mplot3d/tricontourf3d.py
  examples/mplot3d/trisurf3d.py
  examples/mplot3d/trisurf3d_2.py
  examples/mplot3d/voxels.py
  examples/mplot3d/voxels_numpy_logo.py
  examples/mplot3d/voxels_rgb.py
  examples/mplot3d/voxels_torus.py
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/pyplots/whats_new_1_subplot3d.py
  lib/matplotlib/projections/__init__.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#12748 Use the builtin GTK3 FileChooser rather than our custom subclass.
  .flake8
  doc/api/next_api_changes/2018-08-17-AL-deprecations.rst
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/cbook/deprecation.py
Labels: GUI/gtk, Needs review

#13541 DOC: Remove mention of 'complex' mode in specgram docstring
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#9314 Simplify units.Registry.get_converter.
  lib/matplotlib/units.py
Labels: units

#13534 More followup to autoregistering 3d axes.
  examples/animation/random_walk.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation, mplot3d
