Repository matplotlib/matplotlib, pull requests merged in 2019-04, with the labels that each got.

#13821 Remove \mathcircled from mathtext docs following its deprecation.
  tutorials/text/mathtext.py
Labels: text/mathtext

#13829 numpydoc IndexFormatter
  lib/matplotlib/ticker.py
Labels: Documentation

#13780 numpydoc ListedColormap parameters
  lib/matplotlib/colors.py
Labels: Documentation

#13570 Add new example for plotting a confidence_ellipse
  examples/statistics/confidence_ellipse.py
Labels: Documentation, Needs review

#13815 Numpydocify FontManager.findfont()
  lib/matplotlib/font_manager.py
Labels: Documentation

#13834 Cleanup FancyArrowPatch docstring
  lib/matplotlib/patches.py
Labels: Documentation

#12928 textpath encoding
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/textpath.py
Labels: backend/svg, text/usetex

#13827 Better MovieWriter init error message
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: Animation

#13845 Fix some broken documentation links
  doc/faq/howto_faq.rst
  doc/thirdpartypackages/index.rst
  tutorials/introductory/customizing.py
Labels: Documentation

#13782 Don't access internet during tests.
  .appveyor.yml
  doc/api/next_api_changes/2019-04-01-AL.rst
  doc/devel/testing.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_style.py
  pytest.ini
  tests.py
Labels: Testing

#13861 Fix remaining links in docs
  INSTALL.rst
  doc/devel/MEP/MEP14.rst
  doc/devel/contributing.rst
  doc/devel/documenting_mpl.rst
  doc/faq/installing_faq.rst
  doc/faq/troubleshooting_faq.rst
  doc/glossary/index.rst
  doc/resources/index.rst
  doc/users/prev_whats_new/whats_new_2.2.rst
  examples/style_sheets/ggplot.py
Labels: Documentation

#13873 Style fixes to grid_finder.
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: mpl_toolkit

#13875 Style fixes for grid_helper_curvelinear.
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: mpl_toolkit

#13867 Rename "docs" to "contents" in navigation bar
  doc/_templates/layout.html
Labels: Documentation

#13862 Move 3.x API changes to prev_api_changes
  doc/api/api_changes.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/prev_api_changes/api_changes_3.0.1.rst
Labels: Documentation, Release critical

#13890 rst seealso -> numpydoc "See Also".
  lib/matplotlib/axes/_base.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/sankey.py
  lib/matplotlib/spines.py
  lib/matplotlib/ticker.py
Labels: Documentation

#13896 Fix cbook.boxplot_stats docstring
  lib/matplotlib/cbook/__init__.py
Labels: Documentation

#13895 Remove unused setupext.is_min_version.
  setupext.py
Labels: build

#13894 Check for positive number of rows and cols
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/tests/test_figure.py
Labels: Argument Checking

#13835 Improve Conectionstyle Demo
  .flake8
  examples/userdemo/connectionstyle_demo.py
Labels: Documentation

#13850 Cleanup STIX Font Demo
  examples/text_labels_and_annotations/stix_fonts_demo.py
Labels: Documentation

#13918 Make matplotlib.testing assume pytest by default, not nose.
  doc/api/next_api_changes/2019-04-09-AL.rst
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/testing/decorators.py
Labels: Testing

#13917 Faster categorical tick formatter.
  lib/matplotlib/category.py
Labels: categorical, performance

#13911 Fix joinstyles example
  examples/lines_bars_and_markers/joinstyle.py
Labels: Documentation

#13889 Shorten docstrings by removing unneeded :class:/:func: + rewordings.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/patches.py
  lib/matplotlib/spines.py
  lib/matplotlib/transforms.py
Labels: Documentation

#13920 Style fixes for category.py.
  lib/matplotlib/category.py
Labels: categorical

#13926 Suppress warnings in tests.
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_basic.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_container.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_mlab.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/tests/test_ttconv.py
Labels: Testing

#13923 Correctly handle invalid PNG metadata.
  src/_png.cpp
Labels: images

#13802 New rcparam to set default axes title location
  doc/users/next_whats_new/2019-03-29-rcparam-axes-titlelocation.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_axes.py
  matplotlibrc.template
Labels: rcparams

#13924 Followup to deprecation of usetex parameter in get_text_path.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/textpath.py
Labels: Release critical

#13897 numpydocification.
  lib/matplotlib/__init__.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/lines.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/path.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_triangulation.py
Labels: Documentation

#13944 Document how to support unicode minus in pgf backend.
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#13939 Bunch of docstring cleanups.
  doc/sphinxext/gallery_order.py
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/images_contours_and_fields/tricontour_smooth_user.py
  examples/images_contours_and_fields/trigradient_demo.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/bezier.py
  lib/matplotlib/colors.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_mlab.py
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Documentation

#13925 Fix passing Path to ps backend when text.usetex rc is True.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend/ps, text/usetex

#13949 DOC: Add documentation to Text.set_fontfamily
  lib/matplotlib/text.py
Labels: Documentation

#13953 Unxfail a now fixed test in test_category.
  lib/matplotlib/tests/test_category.py
Labels: Testing, categorical

#13908 Enh control tick deconflict2
  doc/api/axis_api.rst
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_ticker.py
Labels: Release critical

#13952 Cleanup animation tests.
  lib/matplotlib/tests/test_animation.py
Labels: Animation, Testing

#13935 Deprecate the useless switch_backend_warn parameter to matplotlib.test.
  doc/api/next_api_changes/2019-04-12-AL.rst
  lib/matplotlib/__init__.py
  tests.py
Labels: Testing

#13913 Fix string numbers in to_rgba() and is_color_like()
  doc/api/next_api_changes/2019-04-13-TH.rst
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Argument Checking

#13958 Remove transparent fancy legend example
  examples/recipes/transparent_legends.py
Labels: Documentation

#13914 Improve Rainbow text example
  examples/text_labels_and_annotations/rainbow_text.py
Labels: Documentation

#13962 Fix typo in code example in docstring.
  lib/matplotlib/colorbar.py
Labels: Documentation

#13950 confidence_ellipse_markup
  examples/statistics/confidence_ellipse.py
Labels: Documentation

#13885 Deprecate axisartist.grid_finder.GridFinderBase.
  doc/api/next_api_changes/2019-04-04-AL.rst
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: mpl_toolkit

#13795 Make _warn_external correctly report warnings arising from tests.
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
Labels: Testing

#13856 Whats new page for 3.1
  doc/api/animation_api.rst
  doc/api/api_changes.rst
  doc/api/matplotlib_configuration_api.rst
  doc/conf.py
  doc/users/index.rst
  doc/users/next_whats_new/2017-11-24_figurecanvas_inaxes.rst
  doc/users/next_whats_new/2018-01-03-AL.rst
  doc/users/next_whats_new/2018-02-01-AL.rst
  doc/users/next_whats_new/2018-07-18-AL-deprecations.rst
  doc/users/next_whats_new/2018-07-18-AL.rst
  doc/users/next_whats_new/2018-08-15-AL.rst
  doc/users/next_whats_new/2018-09-06-AL.rst
  doc/users/next_whats_new/2018-09-08-JMK.rst
  doc/users/next_whats_new/2018-09-15-AL.rst
  doc/users/next_whats_new/2018-10-08-TH.rst
  doc/users/next_whats_new/2018-10-10-AL.rst
  doc/users/next_whats_new/2018-10-26-AL.rst
  doc/users/next_whats_new/2018-10-26-DM.rst
  doc/users/next_whats_new/2018-10-30-rcparams-pgf.preamble-full-LaTeX-support.rst
  doc/users/next_whats_new/2018-11-25-JMK.rst
  doc/users/next_whats_new/2018-12-30-add-cache_frame_data-kwarg-to-FuncAnimation.rst
  doc/users/next_whats_new/2018_01_02_line3d_get_set_data.rst
  doc/users/next_whats_new/2019-01-06-pycairo-default.rst
  doc/users/next_whats_new/2019-01-06-shaded-voxels.rst
  doc/users/next_whats_new/2019-01-24-AL-set_loglevel.rst
  doc/users/next_whats_new/2019-01-25-AH-modify-minor-tick-spacing.rst
  doc/users/next_whats_new/2019-02-17-TH.rst
  doc/users/next_whats_new/2019-03-18-SB.rst
  doc/users/next_whats_new/ConnectionPatch_accepts_arbitrary_transforms.rst
  doc/users/next_whats_new/concise_date_formatter.rst
  doc/users/next_whats_new/endless_gif.rst
  doc/users/next_whats_new/engformatter_usetex_usemathtext.rst
  doc/users/next_whats_new/legend_for_scatter.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  doc/users/whats_new.rst
  doc/users/whats_new_old.rst
Labels: Documentation, Release critical

#13981 Test cleanups.
  lib/matplotlib/tests/test_mlab.py
  lib/matplotlib/tests/test_png.py
  lib/matplotlib/tests/test_triangulation.py
Labels: Testing

#13989 FIX: update not replace hist_kwargs when density is passed
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#13957 Remove many unused variables in tests.
  lib/matplotlib/tests/test_agg.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_cycles.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_mlab.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_pickle.py
  lib/matplotlib/tests/test_png.py
  lib/matplotlib/tests/test_quiver.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_scale.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/tests/test_triangulation.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Testing

#13984 Allow setting tick colour on 3D axes
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#13938 numpydocify quiverkey.
  doc/api/index.rst
  doc/api/next_api_changes/2019-04-14-AL.rst
  doc/api/quiver_api.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/quiver.py
Labels: Documentation

#13995 DOC: explain zorder for gridlines in grid docstring
  lib/matplotlib/axes/_base.py
Labels: Documentation

#13992 FIX: undeprecate MaxNLocator default_params
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  lib/matplotlib/ticker.py
Labels: Release critical

#13876 Deprecate factor=None in axisartist.
  doc/api/next_api_changes/2019-04-16-AL.rst
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: mpl_toolkit

#13945 Make unicode_minus example more focused.
  examples/text_labels_and_annotations/unicode_minus.py
Labels: Documentation

#13998 Fix patch contains logic for patches that don't have any codes
  lib/matplotlib/patches.py
Labels: Release critical

#14008 Don't install tests by default.
  setupext.py
Labels: Release critical, build

#14015 Fix docstring of pyplot.clim()
  lib/matplotlib/pyplot.py
Labels: Documentation

#14026 Fix bug in plot_directive that caused links to plots in different formats to be missing
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Release critical, sphinx extension

#14021 Fix ax.legend Returns markup
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#14030 Update colorcet link
  tutorials/colors/colormaps.py
Labels: Documentation

#14033 Reword add_subplot docstring.
  lib/matplotlib/figure.py
Labels: Documentation

#14038 Cleanup path.py docstrings.
  lib/matplotlib/path.py
Labels: Documentation

#14047 Remove references to "Draws" in matplotlib.patches
  lib/matplotlib/patches.py
Labels: Documentation

#14048 Fix Animation.save
  lib/matplotlib/animation.py
Labels: Animation, Release critical

#14051 Add Yellowbrick to third party packages
  doc/_static/yellowbrick.png
  doc/thirdpartypackages/index.rst
Labels: Documentation

#14023 Improve Unicode minus example
  examples/text_labels_and_annotations/unicode_minus.py
Labels: Documentation

#14059 Improve Scatter hist example
  examples/lines_bars_and_markers/scatter_hist.py
Labels: Documentation

#14053 Improve fill() example
  .flake8
  examples/lines_bars_and_markers/fill.py
Labels: Documentation

#14062 Improve advanced quiver example
  examples/images_contours_and_fields/quiver_demo.py
Labels: Documentation

#6280 Added ability to offset errorbars when using errorevery.
  doc/users/next_whats_new/errorbar_offsets.rst
  examples/lines_bars_and_markers/errorbar_subsample.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#14070 Cleanup some pyplot docstrings.
  lib/matplotlib/pyplot.py
Labels: Documentation

#14019 Update docstring of locator_params()
  lib/matplotlib/axes/_base.py
Labels: Documentation

#14069 Don't try to use the colorbar formatter to format RGBA data.
  lib/matplotlib/image.py
Labels: Release critical

#14077 Fix tick label wobbling in animated Qt example
  examples/user_interfaces/embedding_in_qt_sgskip.py
Labels: Documentation

#14078 Minor fix in multiple subplots example
  examples/subplots_axes_and_figures/subplots_demo.py
Labels: Documentation

#14063 Add pydocstyle checks to flake8
  .flake8
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axis.py
  lib/matplotlib/bezier.py
  lib/matplotlib/image.py
  lib/matplotlib/widgets.py
  requirements/testing/travis_flake8.txt
Labels: Documentation

#14089 Cleanup bar_stacked, bar_unit_demo examples.
  examples/lines_bars_and_markers/bar_stacked.py
  examples/units/bar_unit_demo.py
Labels: Documentation

#14056 FIX: do not try to manage the visibility of un-drawn ticks
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_ticker.py
Labels: Release critical

#14052 Check axes identity in image.contains.
  lib/matplotlib/image.py
Labels: Needs tests

#14029 Fix doc building with numpydoc 0.9
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/deprecation.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#14087 Cleanup date example.
  examples/text_labels_and_annotations/date.py
Labels: Documentation, date handling

#14079 Consistently use axs.flat instead of axs.flatten()
  examples/specialty_plots/radar_chart.py
  examples/statistics/boxplot.py
  examples/statistics/bxp.py
  examples/statistics/violinplot.py
  examples/subplots_axes_and_figures/demo_constrained_layout.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_figure.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/text/text_intro.py
Labels: Documentation

#14090 Pep8ify some variable names in examples.
  examples/misc/demo_agg_filter.py
  examples/specialty_plots/leftventricle_bulleye.py
Labels: Documentation

#14088 Cleanup major_minor_demo.
  examples/ticks_and_spines/major_minor_demo.py
Labels: Documentation

#14100 Improve docstring of axes_zoom_effect example.
  examples/subplots_axes_and_figures/axes_zoom_effect.py
Labels: Documentation

#14099 Backport PR #14090 on branch v3.1.x (Pep8ify some variable names in examples.)
  examples/misc/demo_agg_filter.py
  examples/specialty_plots/leftventricle_bulleye.py
Labels: Documentation
