Repository matplotlib/matplotlib, pull requests merged in 2019-11, with the labels that each got.

#15090 Coerce MxNx1 images into MxN images for imshow
  doc/users/next_whats_new/imshow_m_n_1.rst
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical

#15582 Backport PR #15512 on branch v3.1.x
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backend_webagg.py
Labels: GUI/nbagg, GUI/webagg

#15583 Backport PR #15512 on branch v3.2.x
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backend_webagg.py
Labels: GUI/nbagg, GUI/webagg

#15465 Validate and simplify set_tick_params(which=...)
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/axis.py
Labels: Argument Checking, Needs review

#15478 Make ConciseDateFormatter obey timezone
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: Date handling, Needs review

#15589 Make sure that figures are closed when check_figures_equal finishes
  lib/matplotlib/testing/decorators.py
Labels: Testing

#15569 Allow linking against a system qhull as well.
  INSTALL.rst
  setup.cfg.template
  setupext.py
Labels: Build

#15292 Shorten RendererWx.get_wx_font.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#15262 Declare qt figureoptions tool in toolitems.
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#13075 Remove logic for optionally building Agg and TkAgg.
  setup.cfg.template
  setupext.py
Labels: Build

#15613 Revert "Don't bother with manually resizing the Qt main window."
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt, Release critical

#15627 Make it easier to test various animation writers in examples.
  examples/animation/dynamic_image.py
  examples/animation/simple_anim.py
Labels: Animation, Documentation

#15462 Simplify azure setup.
  azure-pipelines.yml
  ci/azure-pipelines-steps.yml
Labels: Build

#15563 In backend_pgf, directly open subprocess in utf8 mode.
  doc/api/next_api_changes/behaviour.rst
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#15632 Backport PR #15627 on branch v3.2.x (Make it easier to test various animation writers in examples.)
  examples/animation/dynamic_image.py
  examples/animation/simple_anim.py
Labels: Documentation

#15626 Note minimum supported version for fontconfig.
  INSTALL.rst
  lib/matplotlib/font_manager.py
Labels: text/fonts

#15461 Fix invalid checks for axes_class parameter in ImageGrid.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: maintenance, mpl_toolkit

#15375 Add note to hist docstring about speed
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#15643 Fix examples claiming matplotlib can't plot np.datetime64.
  examples/recipes/common_date_problems.py
  examples/recipes/fill_between_alpha.py
  examples/text_labels_and_annotations/date_index_formatter.py
  examples/ticks_and_spines/centered_ticklabels.py
Labels: Date handling, Documentation

#15640 Remove some commented-out code from axes_grid.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: mpl_toolkit

#15639 Simplify axes_grid.Grid/axes_grid.ImageGrid construction.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: maintenance, mpl_toolkit

#15623 Docstring for Artist.mouseover
  lib/matplotlib/artist.py
Labels: Documentation

#15652 Remove mention of Enthought Canopy from the docs.
  INSTALL.rst
  doc/faq/installing_faq.rst
  doc/faq/troubleshooting_faq.rst
Labels: Documentation

#15647 Update some links
  doc/index.rst
Labels: Documentation

#15654 Fix some broken links.
  doc/devel/MEP/MEP19.rst
  doc/devel/MEP/MEP29.rst
  doc/users/prev_whats_new/changelog.rst
  examples/style_sheets/plot_solarizedlight2.py
Labels: Documentation

#15651 Simplify axes_pad handling in axes_grid.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: maintenance, mpl_toolkit

#15607 Simplify tk loader.
  src/_tkagg.cpp
  src/_tkmini.h
Labels: GUI/tk, maintenance

#15671 Don't mention tcl in tkagg commments anymore.
  src/_tkagg.cpp
Labels: Documentation, GUI/tk

#15642 Remove interpolation="nearest" from most examples.
  examples/axes_grid1/demo_axes_divider.py
  examples/axes_grid1/demo_axes_grid.py
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/demo_axes_hbox_divider.py
  examples/axes_grid1/demo_axes_rgb.py
  examples/axes_grid1/demo_colorbar_of_inset_axes.py
  examples/axes_grid1/demo_edge_colorbar.py
  examples/axes_grid1/inset_locator_demo2.py
  examples/axes_grid1/simple_axesgrid2.py
  examples/axes_grid1/simple_rgb.py
  examples/axisartist/demo_curvelinear_grid2.py
  examples/color/custom_cmap.py
  examples/images_contours_and_fields/image_zcoord.py
  examples/images_contours_and_fields/plot_streamplot.py
  examples/pyplots/whats_new_99_axes_grid.py
  examples/subplots_axes_and_figures/zoom_inset_axes.py
  examples/ticks_and_spines/colorbar_tick_labelling_demo.py
  examples/ticks_and_spines/spines_dropped.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
Labels: Documentation

#15646 Hide sphinx-gallery config comments
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#15682 Make histogram_bin_edges private.
  lib/matplotlib/axes/_axes.py
Labels: Release critical

#15691 Correctly handle high dpi in Pillow animation writer.
  doc/missing-references.json
  lib/matplotlib/animation.py
Labels: Animation

#15694 Handle upcoming deprecation of np.float.
  lib/matplotlib/projections/polar.py
  lib/matplotlib/transforms.py
  lib/matplotlib/units.py
Labels: maintenance

#15700 Parametrize some spectral tests.
  lib/matplotlib/tests/test_mlab.py
Labels: Testing

#15697 Fix some broken doc refs.
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/devel/MEP/MEP11.rst
  doc/devel/MEP/MEP12.rst
  doc/devel/MEP/MEP23.rst
  doc/devel/MEP/MEP26.rst
  doc/devel/documenting_mpl.rst
  doc/missing-references.json
  doc/users/dflt_style_changes.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/shell.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/colors.py
  lib/matplotlib/dviread.py
  lib/matplotlib/mlab.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/ticker.py
Labels: Documentation

#15592 Offset text position
  doc/users/next_whats_new/2019-11-13-offset-text-position.rst
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: hackathon, ticks and axis

#15687 Add tooltips to HTML animation controls
  lib/matplotlib/_animation_data.py
Labels: Animation

#15704 Fix more broken refs.
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.1.1.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/devel/MEP/MEP11.rst
  doc/devel/contributing.rst
  doc/missing-references.json
  doc/users/prev_whats_new/changelog.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_2.2.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/lines.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mlab.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/tricontour.py
Labels: Documentation

#15701 Tried to solve Issue #15650: Print URL when webbrowser.open Fails
  lib/matplotlib/backends/backend_webagg.py
Labels: GUI/webagg

#15693 Also test PySide2 on CI.
  .travis.yml
  lib/matplotlib/tests/test_backends_interactive.py
Labels: GUI/Qt, Testing

#14948 Simplify Tick and Axis initialization.
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_axes.py
Labels: ticks and axis

#15711 Don't explicitly list scalez kwarg in Axes3D constructor and docs.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, mplot3d

#15709 Make 3d plot accept scalars as arguments.
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#15683 Cleanup dates.py docstrings.
  lib/matplotlib/dates.py
Labels: Date handling, Documentation

#15720 Suppress triage_tests warning on Py3.8.
  tools/triage_tests.py
Labels: GUI/Qt, Testing

#15718 Update donation link
  doc/_templates/donate_sidebar.html
Labels: Documentation

#15696 Improve mathtext.fontset docs and fix :mathmpl: cache bug.
  doc/_static/cm_fontset.png
  doc/_static/stix_fontset.png
  doc/_static/stixsans_fontset.png
  lib/matplotlib/mathtext.py
  lib/matplotlib/sphinxext/mathmpl.py
  tutorials/text/mathtext.py
Labels: Documentation, text/mathtext

#15591 Remove FAQ on 'Search' -- already referenced in search file
  doc/_templates/search.html
  doc/faq/howto_faq.rst
Labels: Documentation, hackathon

#15737 Fix env override in WebAgg backend test.
  lib/matplotlib/tests/test_backend_webagg.py
Labels: Testing

#15739 ImageMagick animators now can use extra_args
  lib/matplotlib/animation.py
Labels: Animation

#15729 Catch correct parse errror type for dateutil >= 2.8.1
  lib/matplotlib/category.py
Labels: Date handling, Release critical

#15740 Small animation cleanup.
  lib/matplotlib/animation.py
Labels: Animation, maintenance

#15673 Rely on findfont autofallback-to-default in pdf/ps backends.
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf, backend/ps, maintenance, text/fonts

#15749 Fix travis links in README
  README.rst
Labels: Documentation

#15661 Document scope of 3D scatter depthshading.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, mplot3d

#15751 Modernize FAQ entry for plt.show().
  doc/faq/howto_faq.rst
Labels: Documentation

#15752 Update boxplot/violinplot faq.
  doc/faq/howto_faq.rst
Labels: Documentation

#15735 Cleanup some mplot3d docstrings.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, mplot3d

#15686 Simplify and unify character tracking in pdf and ps backends (with linked fonts)
  doc/api/next_api_changes/deprecations.rst
  doc/missing-references.json
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/mathtext.py
Labels: backend/pdf

#15765 Reword some docstrings.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/mlab.py
  lib/matplotlib/quiver.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/transforms.py
Labels: Documentation

#15748 Fix incorrect macro in FT2Font setup.
  src/ft2font_wrapper.cpp
Labels: text/fonts

#15772 Directly dedent the spectral parameter docs.
  lib/matplotlib/mlab.py
Labels: Documentation

#15775 Some pathlibification.
  examples/misc/image_thumbnail_sgskip.py
  examples/tests/backend_driver_sgskip.py
  examples/user_interfaces/mpl_with_glade3_sgskip.py
  lib/matplotlib/afm.py
  lib/matplotlib/dviread.py
  lib/matplotlib/image.py
  lib/matplotlib/sphinxext/mathmpl.py
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/tests/test_png.py
  lib/mpl_toolkits/tests/__init__.py
Labels: maintenance

#15778 Fix typos and comma splices in legend guide
  tutorials/intermediate/legend_guide.py
Labels: Documentation

#15767 Update badges in README.rst
  README.rst
Labels: Documentation

#15786 Slightly clarify the implementation of safe_masked_invalid.
  lib/matplotlib/cbook/__init__.py
Labels: maintenance

#15766 Shorten description on search page
  doc/_templates/search.html
Labels: Documentation

#15787 Cleanup `Colormap.__call__`.
  lib/matplotlib/colors.py
Labels: maintenance

#15793 fix a couple typos in tutorials
  tutorials/intermediate/imshow_extent.py
  tutorials/introductory/images.py
Labels: Documentation
