Repository matplotlib/matplotlib, pull requests merged in 2019-06, with the labels that each got.

#14406 Remove extra \iint in math_symbol_table for document
  doc/sphinxext/math_symbol_table.py
Labels: Documentation

#14403 Revert "Preserve whitespace in svg output."
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/baseline_images/test_backend_svg/white_space_pre.svg
  lib/matplotlib/tests/test_backend_svg.py
Labels: Release critical, backend/svg

#14400 Fix to_rgba_array() for empty input
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: color and colormaps

#14390 Cleanup docs of bezier
  lib/matplotlib/bezier.py
Labels: Documentation

#14377 Rewrite assert np.* tests to use numpy.testing
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_path.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_ticker.py
Labels: Testing

#14335 Add explanation of animation.embed_limit to matplotlibrc.template
  matplotlibrc.template
Labels: Documentation

#14410 Use aspect=1, not aspect=True.
  lib/matplotlib/tests/test_arrow_patches.py
Labels: Testing

#14285 DOC: add note to example about keeping hard-ref to SpanSelector
  examples/widgets/span_selector.py
Labels: Documentation

#14397 Correctly set clip_path on pcolorfast return artist.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_bbox_tight.py
Labels: Images

#14423 Fix docstring of subplots().
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#14422 Fix ReST note in span selector example
  examples/widgets/span_selector.py
Labels: Documentation

#14425 Lic restore license paint
  LICENSE/LICENSE_PAINT
  src/_png.cpp
Labels: Release critical

#14387 Fix clearing rubberband on nbagg
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI/nbagg

#14440 Interpolations example
  examples/images_contours_and_fields/interpolation_methods.py
Labels: Documentation

#14441 Misc. docstring cleanups.
  examples/animation/random_walk.py
  examples/animation/strip_chart.py
  examples/axisartist/demo_axis_direction.py
  examples/axisartist/demo_curvelinear_grid2.py
  examples/axisartist/simple_axis_pad.py
  examples/event_handling/pick_event_demo2.py
Labels: Documentation

#14380 Inline $MPLLOCALFREETYPE/$PYTEST_ADDOPTS/$NPROC in .travis.yml.
  .travis.yml
Labels: Testing

#14448 Misc doc style cleanup
  lib/matplotlib/backend_bases.py
Labels: Documentation

#13901 Only test png output for mplot3d.
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_ortho.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_ortho.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d_fill.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d_fill.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/lines3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/lines3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/poly3dcollection_closed.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/poly3dcollection_closed.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_empty.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_empty.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_masked.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_masked.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/trisurf3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/trisurf3d.svg
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3d.pdf
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3d.svg
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Testing, mplot3d

#13659 Clarify behavior of the 'tight' kwarg to autoscale/autoscale_view.
  lib/matplotlib/axes/_base.py
  matplotlibrc.template
Labels: Documentation

#14449 Improve docs on gridspec
  lib/matplotlib/gridspec.py
  lib/matplotlib/tight_layout.py
Labels: Documentation

#14462 Register timeout pytest marker.
  pytest.ini
Labels: Testing

#14472 Fix NameError in example code for setting label via method
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#14461 Fix out of bounds read in backend_tk.
  lib/matplotlib/backends/_backend_tk.py
Labels: Release critical

#14475 change ginoput docstring to match behavior
  lib/matplotlib/figure.py
Labels: Documentation

#14419 Fix test_imshow_pil on Windows.
  lib/matplotlib/tests/test_image.py
Labels: Testing

#14429 FIX: if the first elements of an array are masked keep checking
  lib/matplotlib/tests/test_units.py
  lib/matplotlib/units.py
Labels: units

#14483 Improve font weight guessing.
  doc/api/next_api_changes/2019-06-09-AL.rst
  lib/matplotlib/font_manager.py
Labels: text/fonts

#14379 Remove unnecessary uses of unittest.mock.
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_widgets.py
Labels: Testing

#14459 Cleanup docstring of DraggableBase.
  lib/matplotlib/offsetbox.py
Labels: Documentation

#14490 Fix links of parameter types
  lib/matplotlib/axis.py
Labels: Documentation

#14465 Docstrings cleanups.
  doc/README.txt
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/misc/transoffset.py
  examples/text_labels_and_annotations/mathtext_examples.py
  examples/user_interfaces/pylab_with_gtk_sgskip.py
  lib/matplotlib/afm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/dates.py
  lib/matplotlib/dviread.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/legend.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_dates.py
  lib/mpl_toolkits/axisartist/axisline_style.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/text/text_props.py
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
Labels: Documentation

#14484 Support unicode minus with ps.useafm.
  lib/matplotlib/afm.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend/ps

#14479 fstringify backend_ps more.
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#14454 Simplify implementation of svg.image_inline.
  doc/api/next_api_changes/2019-06-10-AL.rst
  lib/matplotlib/backends/backend_svg.py
Labels: backend/svg

#14445 FIX: fastpath clipped artists
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
Labels: geometry manager

#14366 Move test_rcparams test files inline into test_rcparams.py.
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_rcparams.rc
  lib/matplotlib/tests/test_utf32_be_rcparams.rc
  setupext.py
Labels: Testing, rcparams

#14346 Simplify various validators in rcsetup.
  lib/matplotlib/rcsetup.py
Labels: rcparams

#14383 Remove the ``package_data.dlls`` setup.cfg entry.
  INSTALL.rst
  doc/api/next_api_changes/2019-05-30-AL.rst
  setup.cfg.template
  setup.py
  setupext.py
Labels: Build, OS/Microsoft

#14347 Deprecate rcsetup.validate_path_exists.
  doc/api/next_api_changes/2019-05-27-AL.rst
  lib/matplotlib/rcsetup.py
Labels: rcparams

#14496 Fix pydocstyle D208 (Docstring is over-indented)
  .flake8
  lib/matplotlib/__init__.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/spines.py
  lib/matplotlib/testing/jpl_units/EpochConverter.py
  lib/matplotlib/testing/jpl_units/UnitDblConverter.py
  lib/matplotlib/testing/jpl_units/UnitDblFormatter.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axisartist/axisline_style.py
Labels: Documentation

#14513 More fixes to pydocstyle D403 (First word capitalization)
  lib/matplotlib/__init__.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axis.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/dates.py
  lib/matplotlib/image.py
  lib/matplotlib/patches.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/ticker.py
Labels: Documentation

#14256 Improve docstring of Axes.barbs
  lib/matplotlib/quiver.py
Labels: Documentation

#14506 Simplify Qt tests.
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/Qt, Testing

#14509 Fix too large icon spacing in Qt5 on non-HiDPI screens
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#14500 Fix pydocstyle D403 (First word of the first line should be properly capitalized) in examples
  examples/event_handling/path_editor.py
  examples/event_handling/pick_event_demo.py
  examples/event_handling/poly_editor.py
  examples/lines_bars_and_markers/filled_step.py
  examples/lines_bars_and_markers/markevery_demo.py
  examples/statistics/barchart_demo.py
  examples/subplots_axes_and_figures/secondary_axis.py
  examples/tests/backend_driver_sgskip.py
  examples/text_labels_and_annotations/demo_text_path.py
  examples/units/basic_units.py
  examples/units/evans_test.py
  examples/widgets/menu.py
  examples/widgets/rectangle_selector.py
  tutorials/colors/colormap-manipulation.py
Labels: Documentation

#13536 Make unit converters also handle instances of subclasses.
  doc/users/next_whats_new/2019-02-27-AL.rst
  lib/matplotlib/tests/test_units.py
  lib/matplotlib/units.py
Labels: units

#14529 mpl_toolkits style fixes.
  .flake8
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
  lib/mpl_toolkits/axisartist/clip_path.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: mpl_toolkit

#14495 Numpydocify axes_artist.py
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: Documentation

#14223 Rewrite intro to usage guide.
  tutorials/introductory/usage.py
Labels: Documentation

#14535 Invalidate FT2Font cache when fork()ing.
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: text/fonts

#14539 Don't overindent enumerated list in plot_directive docstring.
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Documentation, sphinx extension

#14540 Simplify backend switching in plot_directive.
  lib/matplotlib/sphinxext/plot_directive.py
Labels: sphinx extension

#14543 Remove the "Developing a new backend" section from contributing guide.
  doc/devel/contributing.rst
Labels: Documentation

#14499 Improve custom figure example
  .flake8
  examples/subplots_axes_and_figures/custom_figure_class.py
Labels: Documentation

#14542 Move plot_directive doc to main API index.
  doc/api/index.rst
  doc/api/sphinxext_plot_directive_api.rst
  doc/devel/documenting_mpl.rst
  doc/devel/index.rst
  doc/devel/plot_directive.rst
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Documentation

#14557 Clarify how to work with threads.
  doc/faq/howto_faq.rst
Labels: Documentation

#14556 Improve @deprecated's docstring.
  lib/matplotlib/cbook/deprecation.py
Labels: Documentation

#14561 Update testing docs
  doc/devel/testing.rst
  doc/thirdpartypackages/index.rst
Labels: Documentation

#14525 improve documentation of OffsetBox
  lib/matplotlib/axes/_base.py
  lib/matplotlib/offsetbox.py
Labels: Documentation

#14267 cbook docs cleanup
  lib/matplotlib/cbook/__init__.py
Labels: Documentation

#10222 Use symlinks instead of copies for test result_images.
  lib/matplotlib/testing/decorators.py
Labels: Needs confirmation

#14566 Move setting of AA_EnableHighDpiScaling before creating QApplication.
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#14550 Restore thumbnail of usage guide
  tutorials/introductory/usage.py
Labels: Documentation

#14351 Remove some redundant check_in_list calls.
  lib/matplotlib/scale.py
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: Argument Checking

#14568 Don't assume tk canvas have a manager attached.
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk, Release critical

#14567 Fix unicode_minus + usetex.
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_usetex.py
  lib/matplotlib/texmanager.py
Labels: text/usetex

#14447 FIX: allow secondary axes minor locators to be set
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: ticks and axis

#14594 DOC: Make temperature scale example use a closure for easier reusability
  examples/subplots_axes_and_figures/fahrenheit_celsius_scales.py
Labels: Documentation

#14590 Try to fix 2.2.x travis building
  .travis.yml
  doc-requirements.txt
Labels: Needs review, Testing

#14588 Remove [status] suppress from setup.cfg.
  setup.cfg.template
  setup.py
  setupext.py
Labels: Build

#14573 Cleanup jpl_units.
  doc/api/next_api_changes/2019-06-18-AL.rst
  lib/matplotlib/testing/jpl_units/Duration.py
  lib/matplotlib/testing/jpl_units/Epoch.py
  lib/matplotlib/testing/jpl_units/EpochConverter.py
  lib/matplotlib/testing/jpl_units/UnitDbl.py
  lib/matplotlib/testing/jpl_units/UnitDblConverter.py
  lib/matplotlib/units.py
Labels: Testing, units

#13685 Remove What's new fancy example
  .flake8
  doc/users/prev_whats_new/whats_new_0.98.4.rst
  examples/pyplots/whats_new_98_4_fancy.py
  examples/shapes_and_collections/fancybox_demo.py
  examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation

#13084 When linking against libpng/zlib on Windows, use upstream lib names.
  .appveyor.yml
  build_alllocal.cmd
  doc/api/next_api_changes/2019-01-02-AL.rst
  setupext.py
Labels: Build, OS/Microsoft

#14579 Fix inversion of 3d axis.
  lib/matplotlib/axis.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Release critical, mplot3d

#14605 Update hist2d() docstring.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#14598 Fix inversion of shared axes.
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#14617 Remove a Py2.4(!) backcompat fix.
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf

#14613 Cleanup DateFormatter docstring.
  lib/matplotlib/dates.py
Labels: Date handling, Documentation

#14611 Update some axis docstrings.
  lib/matplotlib/axis.py
Labels: Documentation

#14612 Update some mplot3d docs.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, mplot3d

#14628 matplotlib > Matplotlib in devel docs
  doc/devel/add_new_projection.rst
  doc/devel/documenting_mpl.rst
  doc/devel/license.rst
  doc/devel/release_guide.rst
  doc/devel/testing.rst
Labels: Documentation

#14516 Document and test _get_packed_offsets()
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: Documentation, Testing

#14555 Coding guidelines concerning the API
  doc/devel/contributing.rst
Labels: Documentation

#14623 Fix axis inversion with loglocator and logitlocator.
  doc/api/next_api_changes/2019-06-25-AL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Release critical

#14643 Second attempt at fixing axis inversion (for mpl3.1).
  lib/matplotlib/axes/_base.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Release critical

#14640 FIX: allow secondary axes to be non-linear
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/secondary_xy.png
Labels: Release critical

#14630 Remove the private Tick._name attribute.
  lib/matplotlib/axis.py
Labels: ticks and axis

#14604 Update hist() docstring following removal of normed kwarg.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#14649 Fix appveyor conda py37
  .appveyor.yml
Labels: Testing

#12554 backend_template docs and fixes
  doc/api/backend_template_api.rst
  doc/api/index_backend_api.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/patheffects.py
Labels: Documentation

#14658 Fix numpydoc formatting
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/widgets.py
Labels: Documentation

#14636 Don't capture stderr in _check_and_log_subprocess.
  lib/matplotlib/cbook/__init__.py
Labels: Release critical
