Repository matplotlib/matplotlib, pull requests merged in 2019-10, with the labels that each got.

#14917 ENH: box aspect for axes
  doc/api/axes_api.rst
  doc/users/next_whats_new/2019-07-31_axes-box-aspect.rst
  examples/subplots_axes_and_figures/axes_box_aspect.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Needs review, geometry manager, ticks and axis

#15348 Some figure and related docs cleanup
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#15356 Fix broken imports.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_compare_images.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical

#15158 Change the way API changes are documented
  doc/api/api_changes.rst
  doc/api/next_api_changes/behaviour.rst
  doc/api/next_api_changes/deprecations.rst
  doc/api/next_api_changes/development.rst
  doc/api/next_api_changes/removals.rst
  doc/devel/coding_guide.rst
  doc/devel/contributing.rst
Labels: Documentation

#15350 Don't generate double-reversed cmaps ("viridis_r_r", ...).
  lib/matplotlib/_cm_listed.py
Labels: color and colormaps

#15274 NavigationToolbar2Tk: make packing optional.
  examples/user_interfaces/embedding_in_tk_sgskip.py
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#15361 Update next API changes to new structure
  doc/api/next_api_changes/2018-09-18-AL.rst
  doc/api/next_api_changes/2018-09-25-AL.rst
  doc/api/next_api_changes/2019-08-01-AL.rst
  doc/api/next_api_changes/behaviour.rst
  doc/api/next_api_changes/deprecated_empty_add_axes.rst
  doc/api/next_api_changes/deprecations.rst
Labels: Documentation

#15364 DOC: fix typo in colormap docs
  tutorials/colors/colormapnorms.py
Labels: Documentation

#15370 Backport PR #15364 on branch v3.1.1-doc
  tutorials/colors/colormapnorms.py
Labels: Documentation

#15346 vectorized calc_arrow loop in quiver
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#15357 Add 'step' and 'barstacked' to histogram_histtypes demo
  examples/statistics/histogram_histtypes.py
Labels: Documentation

#15199 MNT/TST: generalize check_figures_equal to work with pytest.marks
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_testing.py
Labels: Testing

#15385 Reword hist() doc.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#15367 Update the readme on providing API changes
  doc/api/next_api_changes/README.rst
Labels: Documentation

#15379 Document formatting strings in the docs
  doc/devel/documenting_mpl.rst
Labels: Documentation

#15391 Increase fontsize in inheritance graphs
  doc/conf.py
Labels: Documentation

#15347 Fix axes.hist bins units
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: units

#15403 Fix DeprecationWarning in nightly testing
  lib/matplotlib/axes/_base.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Release critical

#15380 Update docs of BoxStyle
  lib/matplotlib/patches.py
Labels: Documentation

#15422 FIX: typo in attribute lookup
  lib/matplotlib/backends/backend_qt5.py
Labels: Release critical

#15390 Simplify implementation of vectorized date operations.
  lib/matplotlib/dates.py
Labels: Date handling

#15439 DOC: mention discourse main page
  doc/index.rst
Labels: Documentation

#15447 Move testing of Py3.8 to Travis.
  .travis.yml
  ci/azure-pipelines-steps.yml
Labels: Testing

#15449 DOC: fix build
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.1.0.rst
  doc/users/prev_whats_new/github_stats_3.1.1.rst
Labels: Documentation

#15434 In imsave, let pnginfo have precedence over metadata.
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/image.py
Labels: Release critical

#15453 Improve example for tick locators
  examples/ticks_and_spines/tick-locators.py
Labels: Documentation

#15450 API: rename DivergingNorm to TwoSlopeNorm
  doc/api/colors_api.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  examples/userdemo/colormap_normalizations_diverging.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  tutorials/colors/colormapnorms.py
Labels: Release critical

#15378 Don't link ft2font to zlib by default.
  .appveyor.yml
  INSTALL.rst
  ci/azure-pipelines-steps.yml
  doc/faq/environment_variables_faq.rst
  doc/faq/installing_faq.rst
  setupext.py
Labels: Build

#15463 Remove staticbuild option from setup.cfg.template.
  setup.cfg.template
Labels: Build

#15460 Fix incorrect value check in axes_grid.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: mpl_toolkit

#15466 Update tick_params() docs
  lib/matplotlib/axes/_base.py
Labels: Documentation

#15464 Remove unused code (remainder from #15453)
  examples/ticks_and_spines/tick-locators.py
Labels: Documentation

#15418 Use correct pip/pytest on azure
  ci/azure-pipelines-steps.yml
Labels: Needs rebase, Testing

#15454 Rewrite Anscombe's quartet example
  examples/specialty_plots/anscombe.py
Labels: Documentation

#15482 Trivial style fixes to constrained_layout.
  lib/matplotlib/_constrained_layout.py
Labels: maintenance

#15372 Add example for drawstyle
  examples/lines_bars_and_markers/step_demo.py
  lib/matplotlib/lines.py
Labels: Documentation

#15487 Fix window not always raised in Qt example
  examples/user_interfaces/embedding_in_qt_sgskip.py
Labels: Documentation

#15467 Validate locator_params(axis=...)
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/axes/_base.py
Labels: Argument Checking

#15486 Fixes an error in the documentation of Ellipse
  lib/matplotlib/patches.py
Labels: Documentation

#15484 Cleanup docs regarding compilers.
  INSTALL.rst
  doc/faq/installing_faq.rst
Labels: Documentation

#15506 Rename locator.den to the clearer locator.nbins in mpl_toolkits.
  doc/api/next_api_changes/deprecations.rst
  lib/mpl_toolkits/axisartist/angle_helper.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
Labels: API consistency, mpl_toolkit

#15519 FIX: fix anti-aliasing zoom bug
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: Images, Release critical

#15511 DOC: fix nav location
  doc/_templates/layout.html
Labels: Release critical

#15500 Improve antialiasing example
  examples/images_contours_and_fields/image_antialiasing.py
Labels: Documentation

#15499 Do not show path in font table example
  examples/text_labels_and_annotations/font_table.py
Labels: Documentation

#15498 Simplify matshow example
  examples/images_contours_and_fields/matshow.py
Labels: Documentation

#15505 Cleanup axisartist tutorial.
  tutorials/toolkits/axisartist.py
Labels: Documentation, mpl_toolkit

#15527 Clarify imshow() docs concerning scaling and grayscale images
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#15427 Separate plots using #### in demo_fixed_size_axes.py
  examples/axes_grid1/demo_fixed_size_axes.py
Labels: Documentation

#15535 Avoid really long lines in event handling docs.
  doc/users/event_handling.rst
Labels: Documentation

#15540 axisartist tutorial fixes.
  tutorials/toolkits/axisartist.py
Labels: Documentation

#15539 Small cleanups to backend docs.
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
Labels: Documentation

#15543 Backport PR #15539 on branch v3.2.x (Small cleanups to backend docs.)
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
Labels: Documentation

#15516 Add logo like font
  LICENSE/LICENSE_CARLOGO.txt
  doc/_static/fonts/Carlogo-bold.ttf
  doc/_static/fonts/Carlogo-boldItalic.ttf
  doc/_static/fonts/Carlogo-italic.ttf
  doc/_static/fonts/Carlogo-regular.ttf
  doc/_static/fonts/carlogo-bold.woff
  doc/_static/fonts/carlogo-bold.woff2
  doc/_static/fonts/carlogo-bolditalic.woff
  doc/_static/fonts/carlogo-bolditalic.woff2
  doc/_static/fonts/carlogo-italic.woff
  doc/_static/fonts/carlogo-italic.woff2
  doc/_static/fonts/carlogo-regular.woff
  doc/_static/fonts/carlogo-regular.woff2
  doc/_static/mpl.css
Labels: Documentation

#15528 Declutter home page
  doc/index.rst
Labels: Documentation

#15523 numpydoc AxesImage
  lib/matplotlib/image.py
Labels: Documentation

#15555 Add pgf to list of builtin backends in docs.
  tutorials/introductory/usage.py
Labels: Documentation

#15553 DOC: add cache-buster query string to css path
  doc/conf.py
Labels: Documentation

#15556 Fix test suite compat with ghostscript 9.50.
  lib/matplotlib/testing/compare.py
Labels: Testing

#15557 Skip failing pgf test when sfmath.sty is not present.
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Testing, backend/pgf

#15562 Improve docsting of AxesImage
  lib/matplotlib/image.py
Labels: Documentation

#15476 Default to local_freetype builds.
  .appveyor.yml
  .travis.yml
  INSTALL.rst
  ci/azure-pipelines-steps.yml
  doc/devel/contributing.rst
  doc/devel/testing.rst
  doc/faq/environment_variables_faq.rst
  doc/faq/installing_faq.rst
  lib/matplotlib/__init__.py
  setup.cfg.template
  setupext.py
  src/checkdep_freetype2.c
  tox.ini
Labels: Build

#15561 Update thirdparty scalebar
  doc/_static/gold_on_carbon.jpg
  doc/_static/gold_on_carbon.png
  doc/thirdpartypackages/index.rst
Labels: Documentation

#15452 Improve example for tick formatters
  examples/ticks_and_spines/tick-formatters.py
Labels: Documentation, Needs review

#15571 Cleanup following using Pillow as universal image reader
  INSTALL.rst
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_agg.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_image.py
Labels: Documentation

#15564 Use True instead of 1 as filternorm default
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/pyplot.py
Labels: API consistency

#14705 Correctly size non-ASCII characters in agg backend.
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/tests/test_text.py
Labels: backend/agg, text/unicode

#15512 FIX: do not consider webagg and nbagg "interactive" for fallback
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backend_webagg.py
Labels: Release critical
