Repository matplotlib/matplotlib, pull requests merged in 2020-02, with the labels that each got.

#16372 Dedupe ImageGrid doc from tutorial and docstring.
  doc/missing-references.json
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation, mpl_toolkit

#16385 Backport PR #16226 on branch v3.2.x: Reorganize intro section on main page
  doc/_static/mpl.css
  doc/index.rst
Labels: Documentation

#16326 Cleanup stack
  lib/matplotlib/cbook/__init__.py
Labels: maintenance

#16394 Mark inkscape 1.0 as unsupported (at least for now).
  doc/devel/testing.rst
  lib/matplotlib/__init__.py
Labels: Testing, backend/svg

#16396 font_manager docs cleanup.
  lib/matplotlib/font_manager.py
Labels: Documentation

#16406 Don't import rcParams but rather use mpl.rcParams.
  doc/devel/contributing.rst
  lib/matplotlib/path.py
  lib/matplotlib/scale.py
  lib/matplotlib/ticker.py
Labels: maintenance

#16408 Deprecate avconv animation writers.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/animation.py
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  matplotlibrc.template
Labels: Animation

#16414 DOC: Fix `axes:plot` method docstring verb tense
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16423 Slightly improve streamplot code legibility.
  lib/matplotlib/streamplot.py
Labels: maintenance

#16427 Style-fix some examples and update .flake8 per-file-ignores.
  .flake8
  examples/axes_grid1/scatter_hist_locatable_axes.py
  examples/pyplots/text_commands.py
  examples/pyplots/whats_new_98_4_fill_between.py
  examples/pyplots/whats_new_98_4_legend.py
Labels: Documentation

#16415 Expire some APIs deprecated in mpl3.1.
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/qt_editor/formlayout.py
Labels: maintenance

#16431 CI: add py38 to azure matrix
  azure-pipelines.yml
Labels: Testing

#16336 Include axline() in infinite lines example
  examples/pyplots/axline.py
Labels: Documentation

#16225 Cleanup animation examples.
  examples/animation/animate_decay.py
  examples/animation/bayes_update.py
  examples/animation/double_pendulum_sgskip.py
  examples/animation/simple_anim.py
Labels: Animation, Documentation

#16407 Remove outdated comment re: PYTHONHASHSEED and pytest.
  doc/devel/testing.rst
Labels: Documentation, Testing

#16435 Reword intro to colors api docs.
  doc/api/colors_api.rst
Labels: Documentation

#16430 Remove unnecessary calls to np.array in examples.
  examples/animation/animated_histogram.py
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/lines_bars_and_markers/eventplot_demo.py
  examples/lines_bars_and_markers/scatter_star_poly.py
  examples/lines_bars_and_markers/timeline.py
  examples/misc/histogram_path.py
  examples/pie_and_polar_charts/nested_pie.py
  examples/scales/logit_demo.py
  examples/shapes_and_collections/artist_reference.py
  examples/shapes_and_collections/compound_path.py
  examples/shapes_and_collections/patch_collection.py
  examples/specialty_plots/leftventricle_bulleye.py
  examples/statistics/boxplot_demo.py
  examples/statistics/confidence_ellipse.py
  examples/statistics/errorbar_limits.py
  examples/subplots_axes_and_figures/axes_box_aspect.py
  examples/text_labels_and_annotations/custom_legends.py
  examples/text_labels_and_annotations/text_rotation_relative_to_line.py
  examples/ticks_and_spines/date_concise_formatter.py
  examples/units/ellipse_with_units.py
Labels: Documentation

#8896 Fix mplot3d projection
  doc/users/next_whats_new/2019-03-25-mplot3d-projection.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_collections/polycollection_close.png
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_cla.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_labelpad.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_ortho.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_rotated.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_notshaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_shaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d_fill.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/lines3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/plot_3d_from_2d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/poly3dcollection_alpha.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/poly3dcollection_closed.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_empty.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_masked.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_pivot_middle.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_pivot_tail.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d_color.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d_shaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/tricontour.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/trisurf3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/trisurf3d_shaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-alpha.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-edge-style.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-named-colors.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-rgb-data.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-simple.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-xyz.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3dzerocstride.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3dzerorstride.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Needs review, mplot3d

#16437 Rework pylab docstring.
  doc/api/index.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/devel/MEP/MEP12.rst
  doc/missing-references.json
  doc/users/history.rst
  lib/matplotlib/pylab.py
Labels: Documentation

#16206 Expire deprecation of \stackrel
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_69.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: API Changes, maintenance, text/mathtext

#16365 TST: test_acorr (replaced image comparison with figure comparion)
  lib/matplotlib/tests/baseline_images/test_axes/acorr.png
  lib/matplotlib/tests/test_axes.py
Labels: Testing

#16439 Rework pylab docstring.
  doc/api/index.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/devel/MEP/MEP12.rst
  doc/missing-references.json
  doc/users/history.rst
  lib/matplotlib/pylab.py
Labels: Documentation

#16440 Expire deprecation of \stackrel.
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_69.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_69.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_69.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_69.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: API Changes, maintenance, text/mathtext

#16445 Remove a bunch of imports-within-tests.
  lib/matplotlib/tests/test_arrow_patches.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_pickle.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/tests/test_triangulation.py
Labels: Testing, maintenance

#16228 Allow directly passing explicit font paths.
  doc/users/next_whats_new/2020-02-03-fontpath.rst
  examples/text_labels_and_annotations/font_file.py
  examples/text_labels_and_annotations/font_table.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/legend.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_ttconv.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  tools/make_icons.py
Labels: text/fonts

#16258 ENH: add shading='nearest' and 'auto' to `pcolormesh`
  doc/users/next_whats_new/2020-01-18-pcolorshadingoptions.rst
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_transforms.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
  matplotlibrc.template
Labels: API Changes

#16454 Use pytest.raises(match=...)
  lib/matplotlib/tests/test_dviread.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_triangulation.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Testing, maintenance

#16418 Backend timer simplifications.
  doc/api/next_api_changes/removals.rst
  examples/event_handling/pong_sgskip.py
  examples/user_interfaces/embedding_in_qt_sgskip.py
  lib/matplotlib/animation.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
Labels: maintenance

#16446 Replace matshow baseline test by check_figures_equal.
  lib/matplotlib/tests/baseline_images/test_axes/matshow.png
  lib/matplotlib/tests/test_axes.py
Labels: Testing, maintenance

#16204 Expire deprecation of \mathcircled
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_23.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_24.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_25.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_26.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_27.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_28.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_29.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_31.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_23.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_24.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_25.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_26.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_27.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_28.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_29.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_31.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_23.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_24.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_25.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_26.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_27.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_28.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_29.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_31.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_23.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_24.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_25.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_26.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_27.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_28.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_29.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_31.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_23.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_24.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_25.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_26.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_27.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_28.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_29.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_31.png
  lib/matplotlib/tests/test_mathtext.py
Labels: API Changes, maintenance, text/mathtext

#16443 Parametrize some spectral tests.
  lib/matplotlib/tests/test_mlab.py
Labels: Testing, maintenance

#16460 Remove some mentions of avconv, following its deprecation.
  .appveyor.yml
  INSTALL.rst
Labels: Animation, Documentation

#16444 Dedupe spectral plotting tests.
  lib/matplotlib/tests/test_axes.py
Labels: Testing, maintenance

#16450 Fix interaction between sticky_edges and shared axes.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#16392 FIX colorbars for Norms that do not have a scale.
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: Release critical, colorbar

#16459 Update backend dependency docs.
  INSTALL.rst
  tutorials/introductory/usage.py
Labels: Documentation

#16466 Backport PR #16392: FIX colorbars for Norms that do not have a scale.
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: Release critical

#16456 Enable more font_manager tests to be run locally.
  lib/matplotlib/tests/test_font_manager.py
Labels: Testing, text/fonts

#16455 Update some docstrings in colors.py
  lib/matplotlib/colors.py
Labels: Documentation, color and colormaps

#13390 Make sure that scatter3d copies its inputs.
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#16401 BLD: Auto-detect PlatformToolset
  setupext.py
Labels: Build, OS/Microsoft

#16469 FIX: colorbar minorticks when rcParams['x/ytick.minor.visible'] = True
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: colorbar

#13535 Validate inputs to ScalarMappable constructor
  lib/matplotlib/cm.py
Labels: Argument Checking

#15023 Simplify formatting of matplotlibrc.template.
  matplotlibrc.template
  setup.py
Labels: rcparams

#15504 Warn when trying to start a GUI event loop out of the main thread.
  lib/matplotlib/pyplot.py
Labels: maintenance

#16092 Deprecate clear_temp param/attr of FileMovieWriter.
  doc/api/next_api_changes/deprecations.rst
  doc/missing-references.json
  lib/matplotlib/animation.py
Labels: Animation

#16472 Fix mplot3d projection
  doc/users/next_whats_new/2019-03-25-mplot3d-projection.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_collections/polycollection_close.png
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_cla.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_labelpad.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_ortho.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_rotated.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_notshaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/bar3d_shaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contourf3d_fill.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/lines3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/mixedsubplot.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/plot_3d_from_2d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/poly3dcollection_alpha.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/poly3dcollection_closed.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_empty.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_masked.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_pivot_middle.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_pivot_tail.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d_color.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d_shaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/text3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/tricontour.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/trisurf3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/trisurf3d_shaded.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-alpha.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-edge-style.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-named-colors.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-rgb-data.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-simple.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/voxels-xyz.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3d.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3dzerocstride.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/wireframe3dzerorstride.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#16433 Simplify demo_curvelinear_grid2.
  examples/axisartist/demo_curvelinear_grid2.py
Labels: Documentation, mpl_toolkit

#16373 Fix usetex_baseline_test.
  examples/text_labels_and_annotations/usetex_baseline_test.py
Labels: Documentation, text/usetex

#16047 Remove more API deprecated in 3.1
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/dates.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/mlab.py
  lib/matplotlib/path.py
  lib/matplotlib/projections/__init__.py
  lib/matplotlib/pylab.py
  lib/matplotlib/sphinxext/mathmpl.py
  lib/matplotlib/tests/test_mlab.py
Labels: API Changes, Needs review, maintenance

#16467 Convert named_colors example to use Rectangle
  examples/color/named_colors.py
Labels: Documentation

#16474 Switch default of stem(use_line_collection=...) to True.
  doc/api/next_api_changes/behaviour.rst
  examples/lines_bars_and_markers/stem_plot.py
  examples/lines_bars_and_markers/timeline.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_container.py
Labels: maintenance

#16475 Use vlines() and plot(), not stem(), in timeline example.
  examples/lines_bars_and_markers/timeline.py
Labels: Documentation

#16477 Remove some APIs deprecated in mpl3.1.
  doc/api/next_api_changes/removals.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  lib/matplotlib/dates.py
  lib/matplotlib/pylab.py
  lib/matplotlib/rcsetup.py
Labels: maintenance

#16099 Consistently name callback arguments event instead of evt
  examples/event_handling/close_event.py
  examples/event_handling/pipong.py
  examples/event_handling/timers.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/embedding_in_wx4_sgskip.py
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  examples/user_interfaces/svg_tooltip_sgskip.py
  lib/matplotlib/animation.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_wx.py
  tools/triage_tests.py
Labels: API consistency, Needs review

#16432 Prefer geomspace() to logspace().
  examples/text_labels_and_annotations/custom_legends.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
  tutorials/introductory/usage.py
Labels: maintenance

#16246 Avoid using FontProperties when not needed.
  lib/matplotlib/axis.py
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: maintenance, text/fonts

#16486 Simplify validate_color, and make it slightly stricter.
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: maintenance, rcparams

#16484 Don't forget to set stretch when exporting font as svg reference.
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: backend/svg

#16490 Fix some typos on the front page
  doc/index.rst
Labels: Documentation

#16495 Deemphasize basemap in user-facing docs.
  doc/index.rst
  examples/misc/custom_projection.py
  examples/subplots_axes_and_figures/geo_demo.py
  lib/matplotlib/projections/geo.py
Labels: Documentation

#16480 Re-phrase doc for bottom kwarg to hist
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16503 DOC: suppress warning on pcolor demo
  examples/images_contours_and_fields/pcolor_demo.py
Labels: Documentation

#16500 Dedupe timer attribute docs.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
Labels: Documentation

#16505 Add link to blog to front page
  doc/index.rst
Labels: Documentation

#16510 Doc markup cleanups.
  doc/users/dflt_style_changes.rst
  doc/users/next_whats_new/2019-10-18_rcParams-for-raise-window-behavior.rst
  examples/color/color_demo.py
  examples/pyplots/fig_axes_customize_simple.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/colors/colors.py
  tutorials/intermediate/color_cycle.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/introductory/usage.py
  tutorials/text/annotations.py
Labels: Documentation

#16512 Fix a bunch of random typos.
  doc/api/next_api_changes/removals.rst
  doc/users/next_whats_new/2019-12-20-set_xy_position
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/misc/cursor_demo.py
  examples/widgets/rectangle_selector.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_mathtext.py
  matplotlibrc.template
  tutorials/advanced/patheffects_guide.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/gridspec.py
Labels: Documentation

#16502 Document theta getters/setters
  lib/matplotlib/projections/polar.py
Labels: Documentation, polar

#16513 Add more FreeType tarball hashes.
  setupext.py
Labels: Build

#16507 Factor out common parts of `__str__` for Transform subclasses.
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
Labels: maintenance

#16508 Multi-dim transforms are non-separable by default.
  examples/misc/custom_projection.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
Labels: maintenance

#16516 Fixes to boxplot() docstring & error messages.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16515 Fix doc for set_{x,y}label, and then some more.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_secondary_axes.py
Labels: Documentation

#16520 Update a comment re: minimum version of numpy working around bug.
  lib/matplotlib/transforms.py
Labels: maintenance

#16523 Reorder mathtext rcparams in matplotlibrc template.
  matplotlibrc.template
Labels: Documentation

#16404 FIX: add base kwarg to symlognor
  doc/api/next_api_changes/behaviour.rst
  examples/userdemo/colormap_normalizations.py
  examples/userdemo/colormap_normalizations_symlognorm.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
  tutorials/colors/colormapnorms.py
Labels: Release critical, color and colormaps

#16483 Deprecate most ValidateInStrings validators.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/rcsetup.py
Labels: maintenance, rcparams

#16526 Backport PR #16480 on v.3.2.x: Re-phrase doc for bottom kwarg to hist
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16393 Shorten PyFT2Font_get_charmap.
  src/ft2font_wrapper.cpp
Labels: maintenance, text

#16528 Improve test failure messages on warnings.
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_quiver.py
  lib/matplotlib/tests/test_rcparams.py
Labels: Testing

#16525 Don't import rcParams but rather use mpl.rcParams (part 2)
  lib/matplotlib/artist.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
Labels: maintenance

#16488 Backport PR #16272 on branch v3.1.3-doc
  doc/api/prev_api_changes/api_changes_3.1.0.rst
Labels: Documentation

#16532 Document default value of save_count parameter in FuncAnimation
  lib/matplotlib/animation.py
Labels: Animation, Documentation

#16531 Also deprecate ignorecase ValidateInStrings.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/rcsetup.py
Labels: maintenance, rcparams

#16533 Recommend to amend pull requests
  doc/devel/coding_guide.rst
Labels: Documentation

#16429 CI: update codecov
  .travis.yml
  azure-pipelines.yml
  ci/codecov.yml
Labels: Testing

#16540 Cleanup imports
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/offsetbox.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  setupext.py
Labels: maintenance

#16524 Cleanup docstrings
  lib/matplotlib/backend_tools.py
  lib/matplotlib/dviread.py
  lib/matplotlib/hatch.py
  lib/matplotlib/patches.py
  lib/matplotlib/patheffects.py
Labels: Documentation

#16481 Update set_thetalim documentation
  lib/matplotlib/projections/polar.py
Labels: Documentation

#16521 Remove more API deprecated in 3.1.
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/docstring.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_scale.py
  lib/matplotlib/ticker.py
Labels: API Changes, maintenance

#16545 Add a smoketest for ps.usedistiller="xpdf".
  azure-pipelines.yml
  lib/matplotlib/tests/test_backend_ps.py
Labels: Testing, backend/ps

#16547 Reformat/reword mathtext docstrings.
  lib/matplotlib/mathtext.py
Labels: Documentation, text/mathtext

#16535 Clarify docs of num parameter of plt.figure()
  lib/matplotlib/pyplot.py
Labels: Documentation

#16553 DOC: clarify the expected shapes of eventplot input
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16292 More edits to Normalize docstrings.
  lib/matplotlib/colors.py
Labels: Documentation

#16560 Update URL to pyparsing.
  INSTALL.rst
  lib/matplotlib/mathtext.py
Labels: Documentation

#16549 Improve documentation for examples/widgets/textbox.py
  .flake8
  examples/widgets/textbox.py
Labels: Documentation

#16541 Merge pull request #16404 from jklymak/fix-add-base-symlognorm
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  examples/userdemo/colormap_normalizations.py
  examples/userdemo/colormap_normalizations_symlognorm.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
  tutorials/colors/colormapnorms.py
Labels: Release critical

#16279 STY: Fix underindented continuation lines.
  .flake8
  doc/sphinxext/missing_references.py
  examples/color/custom_cmap.py
  examples/images_contours_and_fields/contour_image.py
  examples/images_contours_and_fields/plot_streamplot.py
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/lines_bars_and_markers/markevery_demo.py
  examples/statistics/barchart_demo.py
  examples/statistics/confidence_ellipse.py
  examples/subplots_axes_and_figures/axes_box_aspect.py
  examples/ticks_and_spines/date_concise_formatter.py
  examples/userdemo/colormap_normalizations_diverging.py
  examples/userdemo/demo_gridspec06.py
  lib/matplotlib/_cm.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_layoutbox.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/figure.py
  lib/matplotlib/hatch.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_patheffects.py
  lib/matplotlib/tests/test_quiver.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_table.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/tests/test_type1font.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
  tests.py
  tools/boilerplate.py
  tools/subset.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/colors/colormapnorms.py
  tutorials/intermediate/constrainedlayout_guide.py
Labels: maintenance

#16491 Expire the _rename_parameters API changes.
  doc/api/bezier_api.rst
  doc/api/index.rst
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/bezier.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/text.py
Labels: maintenance

#16572 Remove some remnants of hist{,2d}(normed=...).
  examples/statistics/histogram_features.py
  lib/matplotlib/axes/_axes.py
Labels: maintenance

#16578 Use rc() less often in examples/tutorials.
  examples/misc/multipage_pdf.py
  examples/text_labels_and_annotations/mathtext_asarray.py
  examples/text_labels_and_annotations/usetex_fonteffects.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  tutorials/text/usetex.py
Labels: Documentation

#16579 Update usetex_fonteffects example.
  examples/text_labels_and_annotations/usetex_fonteffects.py
Labels: Documentation, text/usetex

#16595 Minor docstring/references update.
  doc/devel/MEP/MEP22.rst
  doc/missing-references.json
  lib/matplotlib/__init__.py
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/quiver.py
Labels: Documentation

#16586 Deprecate recursionlimit kwarg to matplotlib.test().
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/__init__.py
  tests.py
Labels: Testing

#16599 Cleanup dolphin example.
  examples/shapes_and_collections/dolphin.py
Labels: Documentation

#16587 Remove warnings control from tests.py.
  tests.py
Labels: Testing

#16575 Style fix for dynamic axes subclass generation in mpl_toolkits.
  lib/mpl_toolkits/axes_grid/parasite_axes.py
  lib/mpl_toolkits/axisartist/__init__.py
  lib/mpl_toolkits/axisartist/parasite_axes.py
Labels: maintenance, mpl_toolkit

#16602 Cleanup testing.compare.
  lib/matplotlib/testing/compare.py
Labels: Testing, maintenance

#16556 Make backend_ps test robust against timestamp changes in ghostscript.
  lib/matplotlib/tests/test_backend_ps.py
Labels: Testing, backend/ps
