Repository matplotlib/matplotlib, pull requests merged in 2020-12, with the labels that each got.

#19050 Better validate tick direction.
  lib/matplotlib/axis.py
  lib/matplotlib/rcsetup.py
Labels: Argument Checking, rcparams

#19046 Prepare inlining MovieWriter.cleanup() into MovieWriter.finish().
  doc/api/next_api_changes/deprecations/19046-AL.rst
  doc/missing-references.json
  lib/matplotlib/animation.py
Labels: Animation

#19045 Inline MovieWriter._frame_sink.
  lib/matplotlib/animation.py
Labels: Animation, Maintenance

#19041 Reword docs for exception_handler in CallbackRegistry.
  lib/matplotlib/cbook/__init__.py
Labels: Documentation

#18569 More generic value snapping for Slider widgets
  .flake8
  doc/users/next_whats_new/slider_snap_to_array.rst
  examples/widgets/buttons.py
  examples/widgets/check_buttons.py
  examples/widgets/cursor.py
  examples/widgets/lasso_selector_demo_sgskip.py
  examples/widgets/multicursor.py
  examples/widgets/polygon_selector_demo.py
  examples/widgets/radio_buttons.py
  examples/widgets/rectangle_selector.py
  examples/widgets/slider_demo.py
  examples/widgets/slider_snap_demo.py
  examples/widgets/span_selector.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: New feature, widgets/UI

#19060 Fix broken link in Readme
  README.rst
Labels: Documentation

#18802 Add code of conduct
  .github/CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  doc/devel/contributing.rst
  doc/index.rst
Labels: governance

#19036 Start testing using GitHub Actions
  .github/workflows/tests.yml
  requirements/testing/minver.txt
Labels: Testing, status: needs review

#18983 Pass norm argument to spy
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_image.py
Labels: status: needs review

#19048 Remove _draw_{ticks2,label2}; skip extents computation in _update_ticks.
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: Maintenance, mpl_toolkit

#19042 Simplify GridHelper invalidation.
  doc/api/next_api_changes/deprecations/19042-AL.rst
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: Maintenance, mpl_toolkit

#18840 Add tutorial about autoscaling
  tutorials/intermediate/autoscale.py
Labels: Documentation

#17524 ENH: add supxlabel and supylabel
  doc/users/next_whats_new/suplabels.rst
  examples/subplots_axes_and_figures/figure_title.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure.png
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_double.png
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_ss.png
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tight_layout.py
Labels: geometry manager, status: needs review

#19071 DOC: Add 'blackman' to list of imshow interpolations
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
Labels: Documentation

#19079 Remove incorrect statement about `hist(..., log=True)`.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#19073 Mention in a few more places that artists default to not-pickable.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#19086 FIX: add a default scale to Normalize
  lib/matplotlib/colors.py
Labels: color and colormaps, colorbar

#19062 Backport PR #19036 on branch v3.3.x
  .github/workflows/tests.yml
  .travis.yml
  requirements/testing/minver.txt
  requirements/testing/travis36minver.txt
Labels: Testing

#19089 ENH: allow passing a scale instance to set_scale
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_scale.py
Labels: transforms and scales

#19074 correct reference to 68-95-99.7% rule
  examples/statistics/confidence_ellipse.py
Labels: Documentation

#19097 DOC: add FuncScale to set_x/yscale
  lib/matplotlib/axes/_base.py
Labels: Documentation

#19092 Fix use transform mplot3d
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#19094 Suppress -Wunused-function about _import_array when compiling tkagg.cpp.
  src/_tkagg.cpp
Labels: Build, Maintenance

#19087 FIX/TST: recursively remove ticks
  lib/matplotlib/testing/decorators.py
Labels: Testing

#19044 Cleanup Animation frame_formats.
  doc/missing-references.json
  lib/matplotlib/animation.py
Labels: Animation, Maintenance

#19108 Fix failing animation test with pytest 6.2.
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_image.py
Labels: Animation, Testing

#19059 Support blitting in webagg backend
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/web_backend/nbagg_uat.ipynb
Labels: status: needs review

#16220 Fix interaction with unpickled 3d plots.
  doc/api/next_api_changes/behavior/16220-AL.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/figure.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#18647 Axes.axline: implement support transform argument (for points but not slope)
  doc/users/next_whats_new/axline_transform.rst
  examples/pyplots/axline.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_axes.py
Labels: New feature, status: needs review

#19117 Rename a confusing variable.
  lib/matplotlib/backends/backend_webagg_core.py
Labels: GUI/webagg, Maintenance

#19085 FIX: update a transfrom from transFigure to transSubfigure
  lib/matplotlib/axes/_base.py
Labels: status: needs review, transforms and scales

#19106 Support setting rcParams["image.cmap"] to Colormap instances.
  doc/users/next_whats_new/2019-06-28-AL.rst
  lib/matplotlib/rcsetup.py
Labels: color and colormaps, rcparams

#19122 FIX/DOC - make Text doscstring interp more easily searchable
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/table.py
  lib/matplotlib/text.py
Labels: Documentation

#19127 Cleanups to webagg & friends.
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: GUI/nbagg, GUI/webagg, Maintenance

#19083 Fix headless tests on Wayland.
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_rcparams.py
Labels: Testing

#19052 Always pass integers to wx.Size.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#18753 Remove several more deprecations
  doc/api/axes_api.rst
  doc/api/axis_api.rst
  doc/api/next_api_changes/removals/18747-ES.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.2.0/removals.rst
  doc/api/toolkits/axes_grid1.rst
  doc/missing-references.json
  examples/axes_grid1/demo_axes_grid.py
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/demo_edge_colorbar.py
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/axis.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/pylab.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axes_grid/colorbar.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
  lib/mpl_toolkits/tests/test_axes_grid.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
  matplotlibrc.template
Labels: Maintenance, Release critical

#18948 DOC: Fix latexpdf build
  doc/conf.py
  doc/sphinxext/math_symbol_table.py
  tutorials/text/mathtext.py
Labels: Documentation

#19125 DOC: contributor incubator
  doc/devel/contributing.rst
Labels: Documentation

#19002 DOC: Add note about locators at top of ticker docs
  lib/matplotlib/ticker.py
Labels: Documentation

#19138 Added non-code contributions to incubator docs
  doc/devel/contributing.rst
Labels: Documentation

#19136 Backport PR #19002 on branch v3.3.3-doc (DOC: Add note about locators at top of ticker docs)
  lib/matplotlib/ticker.py
Labels: Documentation

#19137 Backport latexpdf fixes to v3.3.3-doc
  doc/conf.py
  tutorials/text/mathtext.py
Labels: Documentation

#19134 Switch internal API function calls from cbook to _api
  lib/matplotlib/__init__.py
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_api.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_pyplot.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axisartist/angle_helper.py
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: Maintenance

#19132 Normalize docstring interpolation label for kwdoc() property lists
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/collections.py
  lib/matplotlib/figure.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/sankey.py
  lib/matplotlib/spines.py
  lib/matplotlib/table.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, Maintenance

#19131 Fix WebAgg initialization
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI/webagg, Release critical

#19140 Fix the docstring of suptitle/subxlabel/supylabel.
  lib/matplotlib/figure.py
Labels: Documentation

#19056 Support raw/rgba frame format in FFMpegFileWriter
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: Animation, third-party integration

#19123 Use Qt events to refresh pixel ratio.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_qt5cairo.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/Qt

#19145 Move from cbook._deprecate_*() to _api.deprecate_*()
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/animation.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cm.py
  lib/matplotlib/image.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: Maintenance

#19119 Don't lose unit change handlers when pickling/unpickling.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/lines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: units

#19144 Move from cbook._warn_external() to _api.warn_external()
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/bezier.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/sphinxext/mathmpl.py
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/text.py
  lib/matplotlib/ticker.py
  lib/matplotlib/tight_layout.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/triinterpolate.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/clip_path.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#19150 Move from @cbook._classproperty to @_api.classproperty
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/cbook/__init__.py
Labels: Maintenance

#19141 FIX: suppress offset text in ConciseDateFormatter when largest scale is in years
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: Date handling, status: needs review

#19161 Simplify test_backend_pdf::test_multipage_properfinalize.
  lib/matplotlib/tests/test_backend_pdf.py
Labels: Maintenance, Testing

#19164 docs: fix simple typo, backslahes -> backslashes
  doc/conf.py
  doc/users/prev_whats_new/github_stats_3.3.0.rst
Labels: Documentation

#15602 Add an auto-labeling helper function for bar charts
  doc/api/axes_api.rst
  doc/users/next_whats_new/2019-11-06_auto-labeling-for-bar-charts.rst
  doc/users/next_whats_new/2019-11-12_bar_container_accepts_orientation.rst
  examples/lines_bars_and_markers/bar_label_demo.py
  examples/lines_bars_and_markers/barchart.py
  examples/lines_bars_and_markers/horizontal_barchart_distribution.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/container.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  tools/boilerplate.py
Labels: New feature, status: needs review

#19163 Ignore missing _FancyAxislineStyle doc targets.
  doc/missing-references.json
Labels: Documentation

#19124 GOV/DOC: add section to docs on triaging and triage team
  doc/devel/index.rst
  doc/devel/triage.rst
Labels: Documentation, governance

#19151 Deprecate @cbook.deprecated and move internal calls to @_api.deprecated
  lib/matplotlib/_mathtext.py
  lib/matplotlib/animation.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/contour.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance, status: needs review

#16178 Add multiple label support for Axes.plot()
  doc/users/next_whats_new/multiple_labels_for_Axes_plot.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_legend.py
Labels: status: needs revision

#18127 Implement lazy autoscaling in mplot3d.
  doc/api/next_api_changes/behavior/18127-ES.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#18310 Add 3D stem plot
  doc/users/next_whats_new/stem3d.rst
  examples/mplot3d/stem3d_demo.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/stem3d.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: New feature, mplot3d

#19170 Clarify meaning of facecolors for LineCollection
  lib/matplotlib/collections.py
Labels: Documentation

#19173 Ensure backend tests are skipped if unavailable
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_determinism.py
  lib/matplotlib/tests/test_matplotlib.py
  lib/matplotlib/tests/test_sphinxext.py
Labels: Testing

#19172 Fix 3D surface example bug for non-square grid
  examples/mplot3d/surface3d_3.py
Labels: Documentation

#19175 Fix axes direction for a floating axisartist
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/tests/test_axisartist_floating_axes.py
Labels: mpl_toolkit

#18829 Create a RangeSlider widget
  doc/users/next_whats_new/range_slider.rst
  examples/widgets/range_slider.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: New feature, status: needs review, widgets/UI

#17107 Add Spines class as a container for all Axes spines
  doc/users/next_whats_new/2020-04-12-spines.rst
  examples/axes_grid1/demo_axes_rgb.py
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/lines_bars_and_markers/linestyles.py
  examples/lines_bars_and_markers/timeline.py
  examples/showcase/bachelors_degrees_by_gender.py
  examples/showcase/integral.py
  examples/showcase/xkcd.py
  examples/specialty_plots/skewt.py
  examples/subplots_axes_and_figures/broken_axis.py
  examples/ticks_and_spines/centered_spines_with_arrows.py
  examples/ticks_and_spines/multiple_yaxis_with_spines.py
  examples/ticks_and_spines/spine_placement_demo.py
  examples/ticks_and_spines/spines.py
  examples/ticks_and_spines/spines_bounds.py
  examples/ticks_and_spines/spines_dropped.py
  examples/ticks_and_spines/tick-formatters.py
  examples/ticks_and_spines/tick-locators.py
  examples/userdemo/demo_gridspec06.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_skew.py
  lib/matplotlib/tests/test_spines.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  tutorials/intermediate/gridspec.py
Labels: API Changes

#19093 DOCS: Specifying Colors tutorial format & arrange
  doc/_static/color_zorder_A.png
  doc/_static/color_zorder_B.png
  tutorials/colors/colors.py
Labels: Documentation

#19184 Minor doc cleanup
  lib/matplotlib/widgets.py
Labels: Documentation

#19179 Check that no new figures are created in image comparison tests
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_testing.py
Labels: Testing

#19192 Fixed part of Issue - #19100, changed documentation for axisartist
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: Documentation, mpl_toolkit

#19194 Fix trivial quiver doc typo.
  lib/matplotlib/quiver.py
Labels: Documentation

#19188 Cleanup comparision between X11/CSS4 and xkcd colors
  tutorials/colors/colors.py
Labels: Documentation

#19198 Fix link in contrbuting docs
  doc/devel/contributing.rst
Labels: Documentation

#19200 Fix incorrect statement regarding test images cache size.
  lib/matplotlib/testing/compare.py
Labels: Documentation, Testing

#19207 Fix Grouper example code
  lib/matplotlib/cbook/__init__.py
Labels: Documentation

#19181 Remove unused imports
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/image.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance
