Repository matplotlib/matplotlib, pull requests merged in 2020-03, with the labels that each got.

#16585 Fix _preprocess_data for Py3.9.
  lib/matplotlib/__init__.py
Labels: maintenance

#16614 Cleanup quiver3d examples.
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/quiver3d_empty.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Testing, mplot3d

#16608 Stricter validation of rcParams["axes.axisbelow"].
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/rcsetup.py
Labels: maintenance, rcparams

#16610 Added graphviz_docs to conf.py
  doc/conf.py
Labels: Documentation

#16564 Fix documentation to change cycler instead of lines.color.
  tutorials/introductory/customizing.py
Labels: Documentation

#16615 Update custom boxstyles example.
  examples/userdemo/custom_boxstyle01.py
  examples/userdemo/custom_boxstyle02.py
  tutorials/text/annotations.py
Labels: Documentation

#16597 close #16593: setting ecolor turns off color cycling
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Confirmed bug

#16534 DOC: MaxNLocator and contour/contourf doc update (replaces #16428)
  lib/matplotlib/contour.py
  lib/matplotlib/ticker.py
Labels: Documentation

#16637 Update docstrings in figure.py.
  lib/matplotlib/figure.py
Labels: Documentation

#16509 Add custom math fallback [WIP]
  doc/users/next_whats_new/2020-02-24-mathtext-fallback.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_mathtext.py
  matplotlibrc.template
  tutorials/text/mathtext.py
Labels: text/mathtext

#16626 Updated Readme + Setup.py for PyPa
  .github/CONTRIBUTING.md
  README.rst
  doc/_static/readme_preview.png
  setup.py
Labels: Documentation

#16649 Fix typo in docs
  lib/matplotlib/patches.py
Labels: Documentation

#16638 Remove unused, outdated division operators on jpl_units.
  lib/matplotlib/testing/jpl_units/Duration.py
  lib/matplotlib/testing/jpl_units/UnitDbl.py
Labels: Testing, units

#16647 Update annotation tutorial.
  tutorials/text/annotations.py
Labels: Documentation

#16658 In docs, add multi-axes connectionpatches to Figure, not Axes.
  examples/userdemo/connect_simple01.py
  tutorials/text/annotations.py
Labels: Documentation

#16563 Parametrize imshow antialiased tests.
  lib/matplotlib/tests/test_image.py
Labels: Testing

#16661 added Framework :: Matplotlib to setup
  setup.py
Labels: Documentation

#16669 DOC: update doc release guide
  doc/devel/release_guide.rst
Labels: Documentation

#16673 DOC: correct title_fontsize docstring
  lib/matplotlib/legend.py
Labels: Documentation

#16676 Cleanup animation docstrings.
  lib/matplotlib/animation.py
Labels: Documentation

#16682 Avoid floating point rounding causing bezier.get_parallels to fail
  lib/matplotlib/bezier.py
Labels: Path handling

#16691 Clarify tiny comment re: AnnotationBbox constructor.
  lib/matplotlib/offsetbox.py
Labels: Documentation

#16660 Cleanup fancybox_demo.
  examples/shapes_and_collections/fancybox_demo.py
Labels: Documentation

#16683 Turn mathtext.GlueSpec into a (private) namedtuple.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/mathtext.py
Labels: maintenance, text/mathtext

#16674 Docstring + import cleanups to legend.py.
  lib/matplotlib/legend.py
Labels: legend

#16672 Update CircleCI and add direct artifact link
  .circleci/config.yml
  .github/workflows/circleci.yml
Labels: Documentation

#16697 Update docstrings for plot_directive.
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Documentation, sphinx extension

#16653 Tutorials: make path/URL option clearer in matplotlibrc tutorial
  tutorials/introductory/customizing.py
Labels: Documentation

#16656 Make test_imagegrid_cbar_mode_edge less flaky.
  lib/mpl_toolkits/tests/test_axes_grid.py
Labels: Testing, mpl_toolkit

#16511 Add more detailed kwargs docstrings to Axes methods.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#16694 Lower Text's FontProperties priority when updating
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: text

#15430 Simplify setupext.download_or_cache.
  setupext.py
Labels: Build, maintenance

#16671 Fix some readme bits
  README.rst
  setup.py
Labels: Build, Documentation

#16698 Small edits to toolkits docs.
  doc/api/index.rst
  doc/api/toolkits/index.rst
  doc/api/toolkits/mplot3d.rst
Labels: Documentation, mpl_toolkit

#16695 Restart pgf's latex instance after bad latex inputs.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Release critical, backend/pgf

#16709 Fix saving PNGs to file objects in some places
  lib/matplotlib/image.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: text/mathtext

#16177 Further simplify setupext.
  setup.cfg.template
  setup.py
  setupext.py
Labels: Build

#16063 Make the signature of Axes.draw() consistent with Artist.draw().
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/projections/polar.py
Labels: API consistency

#16219 Simplify CallbackRegistry pickling.
  lib/matplotlib/cbook/__init__.py
Labels: maintenance

#15855 Simplify 3d axes callback setup.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#16108 Deprecate DraggableBase.on_motion_blit.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/offsetbox.py
Labels: maintenance

#15996 Cleanup axes_size.
  lib/mpl_toolkits/axes_grid1/axes_size.py
Labels: maintenance, mpl_toolkit

#16504 DOC: more pcolor fixes
  examples/specialty_plots/leftventricle_bulleye.py
  examples/subplots_axes_and_figures/axes_margins.py
  examples/userdemo/colormap_normalizations_bounds.py
  examples/userdemo/colormap_normalizations_custom.py
  examples/userdemo/colormap_normalizations_diverging.py
  examples/userdemo/colormap_normalizations_lognorm.py
  examples/userdemo/colormap_normalizations_power.py
  tutorials/colors/colormapnorms.py
Labels: Documentation

#16338 Document SymmetricalLogLocator parameters.
  lib/matplotlib/ticker.py
Labels: Documentation

#15828 Deprecate support for dash-offset = None.
  doc/api/next_api_changes/deprecations.rst
  examples/text_labels_and_annotations/legend_demo.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
  lib/matplotlib/lines.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_rcparams.py
  src/py_converters.cpp
Labels: Needs rebase

#16421 Shorten the type1-to-unicode name table.
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/afm.py
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#15988 Refactor Annotation properties.
  lib/matplotlib/text.py
Labels: maintenance, text

#16351 Group all init of Legend.legendPatch together.
  lib/matplotlib/legend.py
Labels: legend, maintenance

#16537 Delay checking for existence of postscript distillers.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/rcsetup.py
Labels: backend/ps, rcparams

#16285 Deprecate RendererCairo.font{weights,angles}
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/backends/backend_cairo.py
Labels: backend/cairo, maintenance

#16485 Simplify validate_color_for_prop_cycle.
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/rcsetup.py
Labels: maintenance, rcparams

#16023 Dedupe implementations of fill_between & fill_betweenx.
  lib/matplotlib/axes/_axes.py
Labels: maintenance

#16584 Rename font_bunch to psfont in textpath.
  lib/matplotlib/textpath.py
Labels: maintenance, text/fonts

#16601 Small unrelated cleanups.
  doc/sphinxext/missing_references.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/rcsetup.py
Labels: maintenance

#16604 Deprecate more rc validators.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: maintenance, rcparams

#15233 backend_ps cleanup.
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps, maintenance

#16619 Fix overindented lines.
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/images_contours_and_fields/tricontour_smooth_user.py
  lib/matplotlib/_cm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/figure.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_arrow_patches.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_nbagg.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/axisartist/angle_helper.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: maintenance

#16644 Deprecate validate_webagg_address.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/rcsetup.py
Labels: GUI/webagg, rcparams

#16636 Deprecate autofmt_xdate(which=None) to mean which="major".
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: maintenance

#16596 Deprecate dviread.Encoding.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/dviread.py
Labels: backend/pdf, text/usetex

#16652 Deprecate {Locator,Axis}.{pan,zoom}.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/ticker.py
Labels: maintenance

#16576 Deprecate arg-less calls to subplot_class_factory (and similar factories)
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/axes/_subplots.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: maintenance

#16681 Simplify docstring interpolation for Box/Arrow/ConnectionStyles.
  lib/matplotlib/patches.py
Labels: Documentation, maintenance

#16710 Make format_coord messagebox resize with the window and the content in osx backend
  src/_macosx.m
Labels: GUI/osx, OS/Apple

#16742 nbagg: Don't send events if manager is disconnected.
  lib/matplotlib/backends/backend_webagg_core.py
Labels: GUI/nbagg

#16617 Use Path(..., closed=True) more.
  examples/animation/animated_histogram.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
  lib/matplotlib/markers.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_transforms.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Path handling, maintenance

#15479 Cleanup axes_rgb.
  doc/api/next_api_changes/deprecations.rst
  lib/mpl_toolkits/axes_grid/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axisartist/axes_rgb.py
Labels: mpl_toolkit

#14606 Generic cleanup to hist().
  lib/matplotlib/axes/_axes.py
Labels: maintenance

#16752 ci: Disallow pytest 5.4.0, which is crashing.
  requirements/testing/travis_all.txt
Labels: Release critical, Testing

#16753 Backport #16752 to v3.2.x
  requirements/testing/travis_all.txt
Labels: Release critical, Testing

#16754 Cleanup image.py.
  lib/matplotlib/image.py
Labels: Images, maintenance

#16749 Document behavior of savefig("extensionless-name").
  lib/matplotlib/figure.py
Labels: Documentation

#16755 Reword docstring of panning callbacks, and pass them a MouseButton.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
Labels: maintenance

#16741 Dedupe RGBAxes examples.
  examples/axes_grid1/demo_axes_rgb.py
  examples/axes_grid1/simple_rgb.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation, mpl_toolkit

#16740 Fix type of `dpi` in docstrings.
  doc/devel/documenting_mpl.rst
  lib/matplotlib/animation.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#16675 Vectorize patch extraction in Axes3D.plot_surface
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#16686 Deprecate Substitution.from_params.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/docstring.py
Labels: maintenance

#14852 Use Path.arc() to interpolate polar arcs.
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/baseline_images/test_axes/markevery_polar.pdf
  lib/matplotlib/tests/baseline_images/test_axes/markevery_polar.png
  lib/matplotlib/tests/baseline_images/test_axes/markevery_polar.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_alignment.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_axes.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_axes.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_axes.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_invertedylim.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_invertedylim_rorigin.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_negative_rmin.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_negative_rmin.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_negative_rmin.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_rlabel_position.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_rlabel_position.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_rlabel_position.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_rmin.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_rmin.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_rmin.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_rorigin.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_rorigin.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_rorigin.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_theta_position.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_theta_position.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_theta_position.svg
  lib/matplotlib/tests/baseline_images/test_axes/polar_theta_wedge.pdf
  lib/matplotlib/tests/baseline_images/test_axes/polar_theta_wedge.png
  lib/matplotlib/tests/baseline_images/test_axes/polar_theta_wedge.svg
  lib/matplotlib/tests/test_axes.py
Labels: polar

#16735 Make test_stem less flaky.
  lib/matplotlib/tests/test_axes.py
Labels: Testing

#16745 Allow numbers to set uvc for all arrows in quiver.set_UVC, fixes #16743
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_quiver.py
Labels: Release critical

#16648 Document filling of Poly3DCollection
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: Documentation, mplot3d

#16736 xpdf: Set AutoRotatePages to None, not false.
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#16764 Backport PR #16672 on branch v3.2.0-doc
  .circleci/config.yml
  .github/workflows/circleci.yml
Labels: Documentation

#16734 Disable draw_foo methods on renderer used to estimate tight extents.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Release critical

#15685 Avoid a RuntimeError at animation shutdown with PySide2.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt

#16725 TST/CI: also try to run test_user_fonts_win32 on azure
  lib/matplotlib/tests/test_font_manager.py
Labels: Testing

#15981 Reuse colorbar outline and patch when updating the colorbar.
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: colorbar

#15977 pgf backend cleanups.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf, maintenance

#15515 Combine withEffect PathEffect definitions.
  lib/matplotlib/patheffects.py
Labels: maintenance

#16757 Simplify interactive zoom handling.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_wx.py
Labels: maintenance

#16746 Reword colorbar-with-axes-divider example.
  examples/axes_grid1/demo_colorbar_with_axes_divider.py
Labels: Documentation, mpl_toolkit

#16744 Reword axes_divider tutorial.
  tutorials/toolkits/axes_grid.py
Labels: Documentation, mpl_toolkit

#15622 Cleanup mpl_toolkits locators.
  doc/api/next_api_changes/deprecations.rst
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: maintenance, mpl_toolkit

#16527 Validate positional parameters of add_subplot()
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_figure.py
Labels: Argument Checking

#14869 Deduplicate code for text-to-path conversion in svg backend.
  lib/matplotlib/backends/backend_svg.py
Labels: backend/svg

#15949 Simplify implementation of SubplotTool.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/widgets.py
Labels: maintenance, widgets/UI

#16775 Cleanup axes_divider examples.
  examples/axes_grid1/demo_fixed_size_axes.py
  examples/axes_grid1/simple_axes_divider1.py
  examples/axes_grid1/simple_axes_divider2.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation, mpl_toolkit

#16780 Don't import rcParams but rather use mpl.rcParams (part 3)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/sankey.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: maintenance

#15373 Further shorten quiver3d computation...
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: mplot3d

#16784 Update CircleCI URL for downloading humor-sans.ttf.
  .circleci/config.yml
Labels: Build, Release critical

#16689 Add a fast path for NumPy arrays to Collection.set_verts
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: Performance

#16770 Fix tuple markers
  lib/matplotlib/markers.py
  lib/matplotlib/tests/test_marker.py
Labels: Release critical

#16787 Avoid vstack() when possible.
  lib/matplotlib/path.py
  lib/matplotlib/transforms.py
Labels: Performance

#16781 Update image tutorial wrt. removal of native png handler.
  tutorials/introductory/images.py
Labels: Documentation

#16789 Update markup for collections docstrings.
  lib/matplotlib/collections.py
Labels: Documentation

#16693 TST: use pytest name in naming files for check_figures_equal
  lib/matplotlib/testing/decorators.py
Labels: Testing

#16794 DOC: Don't mention drawstyle in `set_linestyle` docs.
  lib/matplotlib/lines.py
Labels: Documentation

#16800 Fix check_figures_equal for tests that use its fixtures.
  lib/matplotlib/testing/decorators.py
Labels: Testing

#16797 Backport #15589 and #16693, fixes for check_figures_equal
  lib/matplotlib/testing/decorators.py
Labels: Testing

#16802 Fix incorrect super class of VCentered.
  lib/matplotlib/mathtext.py
Labels: text/mathtext

#16803 Fix some doc issues
  examples/scales/log_bar.py
  examples/text_labels_and_annotations/text_rotation.py
  tutorials/colors/colormaps.py
Labels: Documentation

#16722 Deprecate rcParams["datapath"] in favor of mpl.get_data_path().
  doc/api/matplotlib_configuration_api.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/cbook/__init__.py
  matplotlibrc.template
Labels: Release critical

#16808 One more instance of check_in_list.
  lib/matplotlib/tri/triinterpolate.py
Labels: maintenance

#16804 Deprecate some mathtext glue helper classes.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/mathtext.py
Labels: maintenance, text/mathtext

#16807 Update barchart_demo.
  examples/statistics/barchart_demo.py
Labels: Documentation

#16817 DOC: Fix references to SymmetricalLogScale.
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  doc/missing-references.json
Labels: Documentation

#16786 Simple cleanups to formatters.
  lib/matplotlib/ticker.py
Labels: maintenance

#16816 Merge v3.2.x into master
  README.rst
  azure-pipelines.yml
  doc/api/matplotlib_configuration_api.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  doc/citing.rst
  doc/devel/documenting_mpl.rst
  doc/index.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.1.2.rst
  doc/users/prev_whats_new/github_stats_3.2.0.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/colors.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_mathtext.py
  matplotlibrc.template
  setup.py
Labels: maintenance

#16826 DOC: GSOC and JHEP banners
  doc/_static/mpl.css
  doc/_templates/layout.html
Labels: Documentation

#16825 Don't use deprecated Gtk add_with_viewport.
  examples/user_interfaces/embedding_in_gtk3_sgskip.py
  examples/user_interfaces/mpl_with_glade3_sgskip.py
Labels: Documentation, GUI/gtk

#16824 Deprecate NavigationToolbar2QT.parent.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#16772 Remove more API deprecated in 3.1
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/spines.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  lib/matplotlib/widgets.py
Labels: API Changes, maintenance

#16835 Don't forget to export isdeleted on Qt4.
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt, Release critical

#16827 Fix warnings in doc examples
  examples/color/custom_cmap.py
  examples/event_handling/data_browser.py
  examples/event_handling/pick_event_demo.py
  examples/event_handling/pick_event_demo2.py
  examples/userdemo/pgf_preamble_sgskip.py
  examples/userdemo/pgf_texsystem.py
Labels: Documentation

#16844 fix example hist(density=...)
  examples/statistics/histogram_features.py
Labels: Documentation

#16839 spines doc cleanup
  lib/matplotlib/spines.py
  lib/matplotlib/transforms.py
Labels: Documentation

#16841 Cleanup errorbar subsampling example
  examples/lines_bars_and_markers/errorbar_subsample.py
Labels: Documentation

#16838 Inline some more kwargs into setup.py's setup() call.
  setup.py
Labels: Build, maintenance

#14199 Deprecate Path helpers in bezier.py
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/bezier.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_artist.py
Labels: Path handling

#16845 Fix checking of X11 builds with PySide2.
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#16851 DOC: Fix docstring of Axes.secondary_yaxis.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16848 Cleanup CI setup
  .circleci/config.yml
  azure-pipelines.yml
Labels: Build

#16858 Fix various numpydoc style issues
  lib/matplotlib/__init__.py
  lib/matplotlib/afm.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/category.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/dviread.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/stackplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/table.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/tritools.py
  lib/matplotlib/type1font.py
  lib/matplotlib/widgets.py
Labels: Documentation

#16866 Cleanup/update deprecations.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/bezier.py
Labels: Release critical

#14442 In the build, declare all (compulsory) extension modules together.
  setup.py
  setupext.py
Labels: Build

#16867 BLD: Auto-trigger macOS/Linux wheels on tags.
  .github/workflows/wheels.yml
Labels: Build

#16868 Update release guide
  doc/devel/release_guide.rst
  doc/devel/testing.rst
Labels: Build, Documentation

#14044 Remove font preamble caching in TexManager.
  doc/api/next_api_changes/2019-04-25-AL.rst
  lib/matplotlib/texmanager.py
Labels: maintenance, text/usetex

#16874 Fix pydocstyle D209 (Multi-line docstring closing separate line)
  .flake8
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_mlab.py
Labels: Documentation

#16882 Fix trivial docstring typos.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#16880 Backport PR #16870: Unbreak CI by xfailing wxAgg test on macOS
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Testing

#16778 Remove more API deprecated in 3.1(part 7)
  doc/api/next_api_changes/removals.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/pylab.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_cbook.py
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: API Changes, maintenance

#15679 np.concatenate cleanups.
  examples/specialty_plots/radar_chart.py
  lib/matplotlib/bezier.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_ticker.py
  lib/mpl_toolkits/axisartist/angle_helper.py
Labels: maintenance

#15747 Move Text init to end of Annotation init.
  lib/matplotlib/text.py
Labels: text

#16098 Deprecate parameter props of Shadow
  doc/api/next_api_changes/deprecations.rst
  examples/text_labels_and_annotations/demo_text_path.py
  lib/matplotlib/patches.py
Labels: API consistency, Needs review

#16892 Warn in the docs that MouseEvent.key can be wrong.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#16871 Shorter Path import in setupext.
  setupext.py
Labels: Build

#16846 Disconnect manager when resizing figure for animation saving.
  lib/matplotlib/animation.py
Labels: Animation

#16887 Shorter event mocking in tests.
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_collections.py
Labels: Testing, maintenance

#16890 Enables hatch alpha on SVG
  doc/users/next_whats_new/2020-03-24-svg-hatch-alpha.rst
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/baseline_images/test_artist/clip_path_clipping.svg
Labels: backend/svg
