Repository matplotlib/matplotlib, pull requests merged in 2020-11, with the labels that each got.

#18858 Remove "Demo" from example titles
  examples/axes_grid1/demo_anchored_direction_arrows.py
  examples/axes_grid1/demo_axes_divider.py
  examples/axes_grid1/demo_axes_grid2.py
  examples/axes_grid1/demo_axes_rgb.py
  examples/images_contours_and_fields/barb_demo.py
  examples/text_labels_and_annotations/demo_text_path.py
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
  examples/text_labels_and_annotations/fancyarrow_demo.py
  examples/text_labels_and_annotations/fancytextbox_demo.py
  examples/text_labels_and_annotations/mathtext_demo.py
  examples/text_labels_and_annotations/stix_fonts_demo.py
  examples/ticks_and_spines/colorbar_tick_labelling_demo.py
  examples/ticks_and_spines/date_demo_rrule.py
  examples/ticks_and_spines/spine_placement_demo.py
  examples/user_interfaces/wxcursor_demo_sgskip.py
  examples/userdemo/connectionstyle_demo.py
  examples/widgets/lasso_selector_demo_sgskip.py
  examples/widgets/polygon_selector_demo.py
  examples/widgets/slider_demo.py
Labels: Documentation

#18565 Make Tkagg blit thread safe
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_tkagg.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: GUI/tk

#18874 Slightly compress down the pgf tests.
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Maintenance, Testing, backend/pgf

#18866 Fix RGBAxes docs markup.
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
Labels: Documentation, mpl_toolkit

#18863 Reword FontProperties docstring.
  lib/matplotlib/font_manager.py
Labels: Documentation, text/fonts

#18860 FIX: stop deprecation message colorbar
  lib/matplotlib/colorbar.py
Labels: colorbar

#18867 Remove "Demo" from example titles (part 2)
  examples/axisartist/demo_ticklabel_alignment.py
  examples/axisartist/demo_ticklabel_direction.py
  examples/event_handling/coords_demo.py
  examples/event_handling/figure_axes_enter_leave.py
  examples/event_handling/keypress_demo.py
  examples/misc/demo_agg_filter.py
  examples/pie_and_polar_charts/polar_demo.py
  examples/subplots_axes_and_figures/axis_equal_demo.py
  examples/subplots_axes_and_figures/multiple_figs_demo.py
  examples/subplots_axes_and_figures/shared_axis_demo.py
Labels: Documentation

#18886 Backport #18860 on branch v3.3.x
  lib/matplotlib/colorbar.py
Labels: colorbar

#18889 Switch Tk to using PNG files for buttons
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/mpl-data/images/back.gif
  lib/matplotlib/mpl-data/images/back_large.gif
  lib/matplotlib/mpl-data/images/filesave.gif
  lib/matplotlib/mpl-data/images/filesave_large.gif
  lib/matplotlib/mpl-data/images/forward.gif
  lib/matplotlib/mpl-data/images/forward_large.gif
  lib/matplotlib/mpl-data/images/hand.gif
  lib/matplotlib/mpl-data/images/hand_large.gif
  lib/matplotlib/mpl-data/images/help.gif
  lib/matplotlib/mpl-data/images/help.ppm
  lib/matplotlib/mpl-data/images/help_large.ppm
  lib/matplotlib/mpl-data/images/home.gif
  lib/matplotlib/mpl-data/images/home_large.gif
  lib/matplotlib/mpl-data/images/move.gif
  lib/matplotlib/mpl-data/images/move_large.gif
  lib/matplotlib/mpl-data/images/subplots.gif
  lib/matplotlib/mpl-data/images/subplots_large.gif
  lib/matplotlib/mpl-data/images/zoom_to_rect.gif
  lib/matplotlib/mpl-data/images/zoom_to_rect_large.gif
Labels: GUI/tk

#18823 Move from @cbook.deprecated to @_api.deprecated
  .flake8
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/bezier.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/dates.py
  lib/matplotlib/docstring.py
  lib/matplotlib/dviread.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/quiver.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/scale.py
  lib/matplotlib/spines.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/angle_helper.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: Maintenance

#18877 Remove fallback to nonexistent setDevicePixelRatioF.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_qt5cairo.py
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt, Maintenance

#18872 Add dependency on ucs for pgf tests using [utf8x]{inputenc}.
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Testing, backend/pgf

#18862 Resolve mathtext.fontset at FontProperties creation time.
  lib/matplotlib/font_manager.py
Labels: Release critical, text/mathtext

#18896 Add note on keeping a reference to animation docstrings
  lib/matplotlib/animation.py
Labels: Documentation

#18907 Unmark wx-threading-test-failure as strict xfail.
  lib/matplotlib/tests/test_backends_interactive.py
Labels: GUI/wx, Testing

#18817 MAINT: deprecate validCap, validJoin
  doc/api/next_api_changes/deprecations/18817-BGB.rst
  doc/conf.py
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_api.py
Labels: Maintenance

#18908 Rework interactive backends tests.
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Maintenance, Testing

#18532 Consistent behavior of draw_if_interactive across interactive backends.
  doc/api/next_api_changes/behavior/18532-AL.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
Labels: API Changes, API consistency

#18914 Fix typo in error message: interable -> iterable.
  lib/matplotlib/axes/_base.py
Labels: Maintenance

#18915 Remove hard-coded API removal version mapping.
  lib/matplotlib/_api/deprecation.py
Labels: Maintenance

#18902 Move ImageMagick version exclusion to _get_executable_info.
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_animation.py
Labels: Animation, Maintenance

#18905 Make docs fail on Warning (and fix all existing warnings)
  doc/conf.py
  doc/devel/documenting_mpl.rst
  examples/animation/rain.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/specialty_plots/advanced_hillshading.py
  examples/style_sheets/style_sheets_reference.py
  examples/subplots_axes_and_figures/secondary_axis.py
  examples/text_labels_and_annotations/usetex_baseline_test.py
  examples/ticks_and_spines/date_precision_and_epochs.py
  examples/userdemo/colormap_normalizations.py
  examples/userdemo/colormap_normalizations_symlognorm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/deprecation.py
  tutorials/intermediate/tight_layout_guide.py
Labels: Documentation, status: needs review

#18919 DOCS: fix contourf hatch demo legend
  examples/images_contours_and_fields/contourf_hatching.py
Labels: Documentation, status: needs review

#18912 Use CallbackRegistry for {Artist,Collection}.add_callback.
  lib/matplotlib/artist.py
  lib/matplotlib/container.py
Labels: Maintenance

#18913 Factor out common functionality in HostAxes.twin{,x,y}.
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: Maintenance, mpl_toolkit

#18732 Add a ponyfill for ResizeObserver on older browsers.
  LICENSE/LICENSE_JSXTOOLS_RESIZE_OBSERVER
  lib/matplotlib/backends/web_backend/js/mpl.js
  lib/matplotlib/backends/web_backend/js/nbagg_mpl.js
  lib/matplotlib/backends/web_backend/package.json
  tools/embed_js.py
Labels: GUI/nbagg, GUI/webagg, status: needs review

#18911 Added Aria-Labels to all inputs with tooltips for generated HTML animations: issue #17910
  .flake8
  lib/matplotlib/_animation_data.py
Labels: Animation

#18901 Simplify repeat_delay and fix support for it when using iterable frames.
  lib/matplotlib/animation.py
Labels: Animation

#18842 Add CPython 3.9 wheels.
  .github/workflows/cibuildwheel.yml
Labels: Build

#18923 Use lambdas to prevent gc'ing and deduplication of widget callbacks.
  doc/api/next_api_changes/behavior/18226-ES.rst
  lib/matplotlib/widgets.py
Labels: widgets/UI

#18936 Backport PR #18929 on branch v3.3.x
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: mplot3d

#18938 Edit usetex docs.
  lib/matplotlib/texmanager.py
  tutorials/text/usetex.py
Labels: Documentation, text/usetex

#18892 Fixes MIME type for svg frame_format in HTMLWriter.
  lib/matplotlib/animation.py
Labels: Animation, backend/svg

#18930 Document limitations of Path.contains_point() and clarify its semantics
  lib/matplotlib/path.py
Labels: Documentation

#18927 Improve warning message for missing font family specified via alias.
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: text/fonts

#18895 Introduce variable since which mpl version the minimal python version
  setup.py
Labels: Maintenance, status: needs review

#18943 Small cleanup to StepPatch._update_path.
  lib/matplotlib/patches.py
Labels: Maintenance

#18857 Improve hat graph example
  examples/lines_bars_and_markers/hat_graph.py
Labels: Documentation, status: needs review

#18961 Replace sphinx-gallery-specific references by standard :doc: refs.
  doc/users/interactive.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  lib/matplotlib/gridspec.py
Labels: Documentation

#18964 Remove special-casing for PostScript dpi in pyplot.py.
  lib/matplotlib/pyplot.py
Labels: Maintenance, backend/ps

#18910 Remove Artist.eventson and Container.eventson
  doc/api/next_api_changes/removals/18909-TH.rst
  lib/matplotlib/artist.py
  lib/matplotlib/container.py
Labels: Maintenance, status: needs review

#18967 Remove unnecessary calls to lower().
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/blocking_input.py
Labels: Maintenance

#18830 Pgf plotting
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#18949 Deprecate AxisArtist.ZORDER
  doc/api/next_api_changes/deprecations/18949-TH.rst
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: API consistency, Maintenance

#18968 Fix clabel() for backends without canvas.get_renderer()
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: Release critical

#18956 Document rasterized parameter in pcolormesh() explicitly
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#18976 Simplify contour_label_demo.
  examples/images_contours_and_fields/contour_label_demo.py
Labels: Documentation

#18876 Support fully-fractional HiDPI added in Qt 5.14.
  lib/matplotlib/backends/backend_qt5.py
Labels: GUI/Qt

#18969 Improve documentation on rasterization
  .flake8
  examples/misc/rasterization_demo.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#18981 Cleanup Firefox SVG example.
  examples/showcase/firefox.py
Labels: Documentation

#18947 Strictly increasing check with test coverage for streamplot grid
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/test_streamplot.py
Labels: Argument Checking

#18990 Minor cleanup of categorical example
  examples/lines_bars_and_markers/categorical_variables.py
Labels: Documentation

#18894 Use selectfont instead of findfont + scalefont + setfont in PostScript.
  doc/api/next_api_changes/behavior/18894-AL.rst
  lib/matplotlib/backends/backend_ps.py
Labels: Maintenance, backend/ps

#18987 Fix punctuation in doc.
  tutorials/introductory/usage.py
Labels: Documentation

#18989 The Artist property rasterized cannot be None anymore
  doc/api/next_api_changes/behavior/18988-TH.rst
  lib/matplotlib/artist.py
Labels: API Changes, Maintenance

#18980 DOC: fix typos
  LICENSE/LICENSE_BAKOMA
  doc/_static/fa/LICENSE
  doc/thirdpartypackages/index.rst
  examples/animation/animated_histogram.py
  examples/axisartist/demo_curvelinear_grid2.py
  examples/images_contours_and_fields/contour_label_demo.py
  examples/misc/packed_bubbles.py
  examples/shapes_and_collections/hatch_demo.py
  examples/shapes_and_collections/hatch_style_reference.py
  examples/statistics/time_series_histogram.py
  examples/subplots_axes_and_figures/subfigures.py
  examples/text_labels_and_annotations/titles_demo.py
  examples/ticks_and_spines/date_concise_formatter.py
  lib/matplotlib/__init__.py
  lib/matplotlib/_animation_data.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/tests/test_table.py
  matplotlibrc.template
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/toolkits/axisartist.py
  versioneer.py
Labels: Maintenance

#18993 Don't access private renderer attributes in tkagg blit.
  lib/matplotlib/backends/backend_tkagg.py
Labels: GUI/tk

#18996 Fix API change message from #18989
  doc/api/next_api_changes/behavior/18988-TH.rst
  doc/api/next_api_changes/behavior/18989-TH.rst
Labels: Documentation

#18995 Fix the doc of GraphicsContextBase.set_clip_rectangle.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#18997 Micro-optimize check_isinstance.
  lib/matplotlib/cbook/__init__.py
Labels: Performance

#18903 Move cbook._suppress_matplotlib_deprecation_warning() from cbook to _api
  lib/matplotlib/__init__.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/style/core.py
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid/parasite_axes.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/__init__.py
  lib/mpl_toolkits/axisartist/parasite_axes.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
Labels: Maintenance, status: needs review

#18868 Expire _make_keyword_only deprecations from 3.2
  doc/api/next_api_changes/removals/18868-TH.rst
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
Labels: API Changes

#18847 Cleanup interactive pan/zoom.
  lib/matplotlib/backend_bases.py
Labels: Maintenance, status: needs review

#19003 Remove reference to unicode-math in pgf preamble.
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#19010 Inline _print_pdf_to_fh, _print_png_to_fh.
  lib/matplotlib/backends/backend_pgf.py
Labels: Maintenance, backend/pgf

#19014 Support normalize_kwargs(None) (== {}).
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/widgets.py
Labels: Maintenance

#19012 Common `__init__` for VPacker and HPacker.
  lib/matplotlib/offsetbox.py
Labels: Maintenance

#19009 Compactify the implementation of ContourLabeler.add_label_near.
  lib/matplotlib/contour.py
Labels: Maintenance

#19013 Improve docs of _get_packed_offsets, _get_aligned_offsets.
  lib/matplotlib/offsetbox.py
Labels: Documentation

#19024 Dedupe docs of GridSpec.subplots.
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
Labels: Documentation

#19020 Replace mathtext assertions by unpacking.
  lib/matplotlib/_mathtext.py
Labels: Maintenance, text/mathtext

#19023 Cleanup comments/docs in backend_macosx, backend_pdf.
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_pdf.py
Labels: Documentation

#19019 Deprecate never used `resize_callback` param to FigureCanvasTk.
  doc/api/next_api_changes/deprecations/19019-AL.rst
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk, Maintenance

#19018 Inline and optimize ContourLabeler.get_label_coords.
  doc/api/next_api_changes/deprecations/19018-AL.rst
  lib/matplotlib/contour.py
Labels: Maintenance, Performance

#19025 Remove individual doc entries for some methods Axes inherits from Artist
  doc/api/axes_api.rst
Labels: Documentation

#19022 Update event handling docs.
  doc/missing-references.json
  doc/users/event_handling.rst
Labels: Documentation

#19035 grid_helper_curvelinear cleanups.
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
Labels: Maintenance, mpl_toolkit

#19038 Fix markup in interactive figures doc.
  doc/users/interactive.rst
Labels: Documentation
