Repository matplotlib/matplotlib, pull requests merged in 2020-01, with the labels that each got.

#16043 Simplify some comparisons
  examples/images_contours_and_fields/image_zcoord.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/streamplot.py
Labels: maintenance

#16057 Trivial docstring fix for cbook.deprecated.
  lib/matplotlib/cbook/deprecation.py
Labels: Documentation

#16060 Cleanup pcolor_demo.
  examples/images_contours_and_fields/pcolor_demo.py
Labels: Documentation

#15769 scatter() should not rescale if norm is given
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cm.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tri/tripcolor.py
Labels: color and colormaps

#16006 Ignore pos in StrCategoryFormatter.__call__ to display correct label in the preview window
  lib/matplotlib/category.py
  lib/matplotlib/tests/test_category.py
Labels: categorical

#16072 Cleanup category.py docstrings.
  lib/matplotlib/category.py
Labels: Documentation

#16059 Simplify colorbar test.
  lib/matplotlib/tests/test_colorbar.py
Labels: Testing

#16076 Cleanup path_editor example.
  examples/event_handling/path_editor.py
Labels: Documentation

#16051 Deprecate parameters to colorbar which have no effect.
  doc/api/next_api_changes/deprecations.rst
  examples/images_contours_and_fields/contour_demo.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: colorbar

#16080 Cleanup docstrings in backend_bases.py
  lib/matplotlib/backend_bases.py
Labels: Documentation

#16079 Fix restuctured text formatting
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/dviread.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#16077 Fix some typos
  doc/api/prev_api_changes/api_changes_0.54.rst
  doc/devel/color_changes.rst
  doc/devel/contributing.rst
Labels: Documentation

#16086 FIX: use supported attribute to check pillow version
  lib/matplotlib/backend_bases.py
Labels: Release critical

#16070 Make animation blit cache robust against 3d viewpoint changes.
  lib/matplotlib/animation.py
Labels: Animation

#16082 Defaut to writing animation frames to a temporary directory.
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/animation.py
Labels: Animation

#16088 Use C++ true/false in ttconv.
  extern/ttconv/global_defines.h
  extern/ttconv/pprdrv_tt.cpp
  extern/ttconv/pprdrv_tt2.cpp
  extern/ttconv/ttutil.cpp
Labels: text/fonts

#16094 Backport PR #16080 on branch v3.2.x (Cleanup docstrings in backend_bases.py)
  lib/matplotlib/backend_bases.py
Labels: Documentation

#16093 Backport PR #16079 on branch v3.2.x (Fix restuctured text formatting)
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#16081 Delay resolution of animation extra_args.
  lib/matplotlib/animation.py
Labels: Animation

#16078 Refactor a bit animation start/save interaction.
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: Animation, maintenance

#16095 Deprecate MovieWriter.{exec,args}_key, making them private.
  doc/api/next_api_changes/deprecations.rst
  doc/missing-references.json
  lib/matplotlib/animation.py
Labels: Animation

#16101 Fix incorrect doc regarding projections.
  doc/devel/add_new_projection.rst
Labels: Documentation

#16065 Nicer formatting of community aspects on front page
  doc/_static/fa/LICENSE
  doc/_static/fa/discourse-brands.svg
  doc/_static/fa/envelope-regular.svg
  doc/_static/fa/github-brands.svg
  doc/_static/fa/gitter-brands.svg
  doc/_static/fa/hashtag-solid.svg
  doc/_static/fa/plus-square-regular.svg
  doc/_static/fa/question-circle-regular.svg
  doc/_static/fa/stack-overflow-brands.svg
  doc/_static/mpl.css
  doc/index.rst
Labels: Documentation

#16097 Cleanup unused variables
  examples/text_labels_and_annotations/arrow_demo.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/contour.py
  lib/matplotlib/tight_layout.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/type1font.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
Labels: maintenance

#16085 Improve docstrings in offsetbox.py
  doc/api/offsetbox_api.rst
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/legend.py
  lib/matplotlib/offsetbox.py
  lib/mpl_toolkits/axisartist/axisline_style.py
Labels: Documentation

#16113 Renderer Graphviz inheritance diagrams as svg
  doc/conf.py
Labels: Documentation

#16096 Deprecate unused parameters
  doc/api/next_api_changes/deprecations.rst
  examples/specialty_plots/skewt.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/path.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/test_skew.py
Labels: API Changes, maintenance

#16109 Name Axes variables ax instead of a
  examples/misc/hyperlinks_sgskip.py
  examples/shapes_and_collections/ellipse_demo.py
  examples/subplots_axes_and_figures/gridspec_nested.py
  examples/user_interfaces/embedding_in_gtk3_panzoom_sgskip.py
  examples/user_interfaces/embedding_in_gtk3_sgskip.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/embedding_webagg_sgskip.py
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_image.py
  tutorials/introductory/images.py
Labels: maintenance

#16106 In DraggableLegend, inherit DraggableBase.artist_picker.
  lib/matplotlib/legend.py
Labels: maintenance

#16105 Fix legend dragging.
  lib/matplotlib/legend.py
Labels: Release critical

#16100 Consistently name event callbacks on_[event]
  examples/event_handling/data_browser.py
  examples/event_handling/figure_axes_enter_leave.py
  examples/event_handling/image_slices_viewer.py
  examples/event_handling/keypress_demo.py
  examples/event_handling/lasso_demo.py
  examples/event_handling/legend_picking.py
  examples/event_handling/looking_glass.py
  examples/event_handling/path_editor.py
  examples/event_handling/pipong.py
  examples/event_handling/poly_editor.py
  examples/event_handling/pong_sgskip.py
  examples/event_handling/trifinder_event_demo.py
  examples/event_handling/zoom_window.py
  examples/misc/cursor_demo_sgskip.py
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: maintenance

#16001 Remove parameters deprecated in 3.1
  doc/api/next_api_changes/removals.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/textpath.py
Labels: API Changes, maintenance

#16025 Deprecate update_datalim_bounds.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/axes/_base.py
Labels: maintenance

#15670 Reuse Grid.__init__ in ImageGrid.__init__.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: maintenance, mpl_toolkit

#16126 TST: test_fork: Missing join
  lib/matplotlib/tests/test_font_manager.py
Labels: Testing, text/fonts

#16120 Minor fontproperty fixes.
  lib/matplotlib/font_manager.py
  lib/matplotlib/text.py
Labels: maintenance, text/fonts

#16133 Reword docstring of Line2D.contains.
  lib/matplotlib/lines.py
Labels: Documentation

#16053 Fix v_interval setter
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Confirmed bug, Needs tests

#16128 CI: Do not use nbformat 5.0.0/5.0.1 for testing
  requirements/testing/travis36.txt
Labels: Testing

#16142 Avoid using np.r_, np.c_.
  examples/lines_bars_and_markers/filled_step.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/transforms.py
Labels: maintenance

#16134 Validate Line2D pickradius when setting it, not when reading it.
  lib/matplotlib/lines.py
Labels: Argument Checking

#16102 Rework example "Scatter Star Poly" to "Marker examples"
  examples/lines_bars_and_markers/marker_reference.py
  examples/lines_bars_and_markers/scatter_star_poly.py
  lib/matplotlib/markers.py
Labels: Documentation

#16149 DOC: reword density desc in `ax.hist`
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16160 Cleanup hist() docstring.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16164 Fix trivial typo in deprecation warning message.
  lib/matplotlib/rcsetup.py
Labels: Release critical

#16159 Simple cleanups for contour.py.
  lib/matplotlib/contour.py
Labels: maintenance

#16162 (Mostly) avoid the term "command" in the docs.
  examples/images_contours_and_fields/contourf_demo.py
  examples/misc/transoffset.py
  lib/matplotlib/__init__.py
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tight_bbox.py
  lib/mpl_toolkits/axisartist/axislines.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/introductory/customizing.py
  tutorials/introductory/pyplot.py
  tutorials/introductory/usage.py
  tutorials/text/annotations.py
  tutorials/text/text_props.py
Labels: Documentation

#16129 Deprecate some Transform aliases in scale.py.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_transforms.py
Labels: maintenance

#16166 Add badge for citing 3.1.2
  doc/citing.rst
Labels: Documentation

#16152 Inline _init_axes_pad into Grid.__init__.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: maintenance, mpl_toolkit

#16150 Simplify transforms addition.
  lib/matplotlib/projections/polar.py
  lib/matplotlib/transforms.py
Labels: API consistency, transforms and scales

#16125 Fix more missing references again.
  doc/api/index.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  doc/api/texmanager_api.rst
  doc/api/toolkits/mplot3d.rst
  doc/api/toolkits/mplot3d/faq.rst
  doc/conf.py
  doc/devel/MEP/MEP10.rst
  doc/devel/MEP/MEP14.rst
  doc/devel/MEP/MEP15.rst
  doc/devel/MEP/MEP22.rst
  doc/devel/coding_guide.rst
  doc/devel/contributing.rst
  doc/devel/testing.rst
  doc/missing-references.json
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/prev_whats_new/whats_new_2.2.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/blocking_input.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/container.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/image.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/spines.py
  lib/matplotlib/textpath.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#15847 Remove some dead branches from texmanager code.
  doc/api/matplotlib_configuration_api.rst
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/texmanager.py
Labels: maintenance, text/usetex

#16169 Add missing spaces after commas.
  examples/color/custom_cmap.py
  examples/images_contours_and_fields/irregulardatagrid.py
  examples/pyplots/whats_new_99_spines.py
  examples/text_labels_and_annotations/accented_text.py
  examples/text_labels_and_annotations/font_family_rc_sgskip.py
  examples/user_interfaces/svg_tooltip_sgskip.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
  lib/matplotlib/spines.py
  lib/matplotlib/textpath.py
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/triinterpolate.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  tutorials/colors/colormap-manipulation.py
  tutorials/colors/colormapnorms.py
  tutorials/introductory/usage.py
  tutorials/text/pgf.py
  tutorials/text/usetex.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation

#16143 Unblock CI on v2.2.x branch
  .travis.yml
Labels: Testing

#16141 Update _base.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#16165 Remove rcParams deprecated in mpl3.0/3.1.
  doc/api/next_api_changes/removals.rst
  examples/misc/custom_projection.py
  lib/matplotlib/__init__.py
  lib/matplotlib/figure.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/ticker.py
Labels: API Changes, maintenance

#16174 Numpydocify artist.getp().
  lib/matplotlib/artist.py
Labels: Documentation

#16121 Backport PR #16065 on branch v2.2.x (Nicer formatting of community aspects on front page)
  doc/_static/fa/LICENSE
  doc/_static/fa/discourse-brands.svg
  doc/_static/fa/envelope-regular.svg
  doc/_static/fa/github-brands.svg
  doc/_static/fa/gitter-brands.svg
  doc/_static/fa/hashtag-solid.svg
  doc/_static/fa/plus-square-regular.svg
  doc/_static/fa/question-circle-regular.svg
  doc/_static/fa/stack-overflow-brands.svg
  doc/_static/mpl.css
  doc/index.rst
Labels: Documentation

#16175 FIX: ignore axes that aren't visible
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical, geometry manager

#15982 Colorbar cleanup.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/colorbar.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
Labels: colorbar

#16187 Fix overly long lines in examples & tutorials.
  .flake8
  examples/event_handling/data_browser.py
  examples/event_handling/viewlims.py
  examples/images_contours_and_fields/shading_example.py
  examples/images_contours_and_fields/specgram_demo.py
  examples/misc/anchored_artists.py
  examples/misc/ftface_props.py
  examples/misc/svg_filter_line.py
  examples/misc/svg_filter_pie.py
  examples/mplot3d/voxels.py
  examples/mplot3d/wire3d_zero_stride.py
  examples/pyplots/annotate_transform.py
  examples/shapes_and_collections/dolphin.py
  examples/shapes_and_collections/path_patch.py
  examples/specialty_plots/sankey_basics.py
  examples/statistics/boxplot_demo.py
  examples/tests/backend_driver_sgskip.py
  examples/text_labels_and_annotations/annotation_demo.py
  examples/ticks_and_spines/auto_ticks.py
  examples/user_interfaces/embedding_in_wx2_sgskip.py
  examples/user_interfaces/embedding_in_wx3_sgskip.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
  examples/user_interfaces/embedding_webagg_sgskip.py
  examples/user_interfaces/mathtext_wx_sgskip.py
  examples/userdemo/simple_annotate01.py
  examples/widgets/rectangle_selector.py
  tutorials/advanced/path_tutorial.py
  tutorials/advanced/patheffects_guide.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/gridspec.py
  tutorials/intermediate/legend_guide.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/introductory/customizing.py
  tutorials/text/pgf.py
Labels: Documentation

#16170 Deprecate old and little used formatters.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: maintenance

#16188 Remove ref. to non-existent method in animation tests.
  lib/matplotlib/tests/test_animation.py
Labels: Animation, Testing

#16196 Cleanup patches docstrings.
  lib/matplotlib/patches.py
Labels: Documentation

#15644 Rewrite cursor example to include speedup possibilities
  examples/misc/cursor_demo.py
  examples/misc/cursor_demo_sgskip.py
Labels: Documentation

#16199 Do not use camel case for variables in examples
  examples/animation/random_walk.py
  examples/axisartist/demo_parasite_axes2.py
  examples/axisartist/simple_axisartist1.py
  examples/misc/patheffect_demo.py
  examples/statistics/barchart_demo.py
  examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation

#16198 Remove em dash
  lib/matplotlib/patches.py
  lib/matplotlib/transforms.py
  tutorials/colors/colormaps.py
Labels: Documentation

#16195 Numpydoc ContourSet.find_nearest_contour.
  lib/matplotlib/contour.py
Labels: Documentation

#16194 Numpydoc ticklabel_format.
  lib/matplotlib/axes/_base.py
Labels: Documentation

#16201 UnCamelCase examples.
  examples/event_handling/pipong.py
  examples/statistics/boxplot_demo.py
  examples/statistics/customized_violin.py
  examples/units/basic_units.py
Labels: Documentation

#16202 Remove outdated statement in tight_layout guide.
  tutorials/intermediate/tight_layout_guide.py
Labels: Documentation

#16039 Deprecate unused features of normalize_kwargs.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
Labels: maintenance

#15943 Deprecate the TTFPATH & AFMPATH environment variables.
  doc/api/next_api_changes/deprecations.rst
  lib/matplotlib/font_manager.py
Labels: text/fonts

#16212 Fix deprecation from #13544
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/backends/backend_pgf.py
Labels: Confirmed bug, Release critical

#16214 Fix overindented line in AnchoredOffsetbox doc.
  lib/matplotlib/offsetbox.py
Labels: Documentation

#16223 Added DNA Features Viewer description + screenshot in docs/thirdparty/
  doc/_static/dna_features_viewer_screenshot.png
  doc/thirdpartypackages/index.rst
Labels: Documentation

#16172 And more missing references.
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/missing-references.json
  doc/users/dflt_style_changes.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  lib/matplotlib/artist.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#16218 Cleanup animation docs.
  lib/matplotlib/animation.py
Labels: Animation, Documentation

#16233 Reword ScalarFormatter docstrings.
  lib/matplotlib/ticker.py
Labels: Documentation

#16229 And more missing refs.
  doc/api/prev_api_changes/api_changes_2.0.0.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/deprecations.rst
  doc/devel/MEP/MEP10.rst
  doc/devel/MEP/MEP12.rst
  doc/devel/MEP/MEP26.rst
  doc/devel/contributing.rst
  doc/index.rst
  doc/missing-references.json
  doc/users/prev_whats_new/whats_new_1.1.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_3.2.0.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/dates.py
  lib/matplotlib/dviread.py
  lib/matplotlib/figure.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#16183 Remove some baseline images for plot() tests.
  lib/matplotlib/tests/baseline_images/test_axes/const_xy.pdf
  lib/matplotlib/tests/baseline_images/test_axes/const_xy.png
  lib/matplotlib/tests/baseline_images/test_axes/const_xy.svg
  lib/matplotlib/tests/baseline_images/test_axes/shaped_data.pdf
  lib/matplotlib/tests/baseline_images/test_axes/shaped_data.png
  lib/matplotlib/tests/baseline_images/test_axes/shaped_data.svg
  lib/matplotlib/tests/test_axes.py
Labels: Testing

#16242 CI: Remove PYTHONUNBUFFERED=1 on Appveyor
  .appveyor.yml
Labels: Testing

#16227 Make Animation.repeat_delay an int, not an int-or-None.
  lib/matplotlib/animation.py
Labels: Animation

#16240 Cleanup custom_scale example.
  examples/scales/custom_scale.py
Labels: Documentation

#16117 Merge pull request #16117 from Kojoley/ci-appveyor-unify-reqs
  .appveyor.yml
  .travis.yml
Labels: Testing

#16245 Cleanup image docs
  lib/matplotlib/image.py
Labels: Documentation

#16254 DOC: pdf.preamble --> pgf.preamble
  lib/matplotlib/rcsetup.py
Labels: Documentation

#16256 Update Python 2 EOL message on 2.2.x
  doc/_templates/sidebar_announcement.html
Labels: Documentation

#16257 Backport donation links to 2.2.x
  doc/_templates/donate_sidebar.html
Labels: Documentation

#16262 Dedupe update of rcParams["backend"] in use() and in switch_backend()
  lib/matplotlib/__init__.py
  lib/matplotlib/pyplot.py
Labels: maintenance

#16248 Update matplotlib.__doc__.
  lib/matplotlib/__init__.py
Labels: Documentation

#15974 Enable set_{x|y|}label(loc={'left'|'right'|'center'}...)
  doc/users/next_whats_new/2019-12-20-set_xy_position
  examples/subplots_axes_and_figures/axis_labels_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_axes.py
  matplotlibrc.template
Labels: New feature

#16273 DOC: Changing the spelling of co-ordinates.
  examples/subplots_axes_and_figures/secondary_axis.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/collections.py
  lib/matplotlib/legend.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_axes.py
Labels: Documentation

#16272 Move mplot3d autoregistration api changes to 3.2.
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
Labels: Documentation, Release critical

#16270 numpydoc-ify SymLogNorm
  lib/matplotlib/colors.py
Labels: Documentation

#16277 Prefer using MouseButton to numeric values in docs and defaults.
  lib/matplotlib/blocking_input.py
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/widgets.py
  tools/boilerplate.py
Labels: Documentation

#16276 Cleanup docstring of print_figure, savefig.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
Labels: Documentation

#16290 Fix doc CI by pointing to dev version of scipy docs.
  doc/conf.py
Labels: Build, Documentation

#16271 Clean up and clarify Normalize docs
  lib/matplotlib/colors.py
Labels: Documentation

#16287 Improve markup for rcParams in docs.
  doc/devel/testing.rst
  examples/color/color_cycler.py
  examples/misc/customize_rc.py
  examples/style_sheets/grayscale.py
  lib/matplotlib/__init__.py
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/figure.py
  tutorials/intermediate/color_cycle.py
  tutorials/introductory/usage.py
Labels: Documentation

#16293 Revert "Fix doc CI by pointing to dev version of scipy docs."
  doc/conf.py
Labels: Documentation

#16289 axisartist tutorial markup fixes.
  tutorials/toolkits/axisartist.py
Labels: Documentation, mpl_toolkit

#16282 Replace "unicode" by "str" in docs, messages when referring to the type.
  lib/matplotlib/category.py
  src/ft2font_wrapper.cpp
  src/py_converters.cpp
Labels: Documentation

#16283 Cleanup backend_agg docstrings.
  lib/matplotlib/backends/backend_agg.py
Labels: Documentation

#16281 Update/cleanup pgf tutorial.
  tutorials/text/pgf.py
Labels: Documentation

#16297 DOC: fix description of vmin/vmax in scatter
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#16261 TST: move the Qt-specific handling to conftest
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_backend_qt.py
  requirements/testing/travis_all.txt
Labels: Testing

#16250 Fix zerolen intersect
  lib/matplotlib/tests/test_path.py
  src/_path.h
Labels: Release critical

#16300 Don't default to negative radii in polar plot.
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_axes.py
Labels: polar

#16303 Dedupe Legend.draw_frame which is the same as set_frame_on.
  lib/matplotlib/legend.py
Labels: legend, maintenance

#16307 Cleanup axes_demo.
  examples/subplots_axes_and_figures/axes_demo.py
Labels: Documentation

#16312 Remove unnecessary Legend._approx_text_height.
  lib/matplotlib/legend.py
Labels: legend, maintenance

#16313 Cleanup constrainedlayout_guide.
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#16319 Put doc for XAxis befor YAxis and likewise for XTick, YTick.
  doc/api/axis_api.rst
Labels: Documentation

#16309 Remove duplicated computations in Axes.get_tightbbox.
  lib/matplotlib/axes/_base.py
Labels: Performance

#16304 Simplify Legend.get_children.
  lib/matplotlib/legend.py
Labels: legend, maintenance

#16308 CI: Use Ubuntu Bionic compatible package names
  .travis.yml
  azure-pipelines.yml
Labels: maintenance

#16323 Add sphinx doc for Axis.axis_name.
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
Labels: Documentation

#16335 Fix some more missing references.
  doc/api/cbook_api.rst
  doc/api/colors_api.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/devel/contributing.rst
  doc/missing-references.json
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
Labels: Documentation

#16334 Fix doc regarding deprecation of properties.
  lib/matplotlib/cbook/deprecation.py
Labels: Documentation

#16333 Document animation HTML writer.
  doc/api/animation_api.rst
  doc/missing-references.json
  lib/matplotlib/animation.py
Labels: Animation, Documentation

#16265 Fix spy(..., marker=<not-None>, origin="lower")
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_axes/spy.png
  lib/matplotlib/tests/test_axes.py
Labels: API consistency, Argument Checking

#16341 Remove mention of now-removed --verbose-foo flags.
  doc/faq/installing_faq.rst
  doc/faq/troubleshooting_faq.rst
Labels: Documentation

#16298 Don't recursively call draw_idle when updating artists at draw time.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/pyplot.py
Labels: Release critical

#16255 Move version info to sidebar
  doc/_static/mpl.css
  doc/_templates/sidebar_versions.html
  doc/conf.py
  doc/index.rst
Labels: Documentation, Release critical

#16302 Cleanup Legend._auto_legend_data.
  lib/matplotlib/legend.py
Labels: legend, maintenance

#15440 Use rcParams to control default "raise window" behavior (Qt,Gtk,Tk,Wx)
  doc/users/next_whats_new/2019-10-18_rcParams-for-raise-window-behavior.rst
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/style/core.py
  matplotlibrc.template
Labels: rcparams

#16355 typo in `ticker.ScalarFormatter` doc
  lib/matplotlib/ticker.py
Labels: Documentation

#16358 Pin docutils
  doc-requirements.txt
Labels: Documentation

#16347 FIX: catch warnings from pandas in cbook._check_1d
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#16359 Make Text.update_from copy usetex state.
  doc/api/next_api_changes/behaviour.rst
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: text/usetex

#16344 Cast vmin/vmax to floats before nonsingular-expanding them.
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/transforms.py
Labels: colorbar

#16350 TST: Improved test (getting rid of image comparison test for test_titletwiny)
  lib/matplotlib/tests/baseline_images/test_axes/titletwiny.png
  lib/matplotlib/tests/test_axes.py
Labels: Testing

#16366 Special-case usetex minus to zero depth.
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_usetex.py
Labels: text/usetex

#16327 Cleanup list copying
  doc/sphinxext/missing_references.py
  lib/matplotlib/artist.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/patches.py
  lib/matplotlib/widgets.py
Labels: maintenance

#16226 Reorganize intro section on main page
  doc/_static/mpl.css
  doc/index.rst
Labels: Documentation

#16379 FIX: catch on message content, not module
  lib/matplotlib/cbook/__init__.py
Labels: Release critical
