Repository matplotlib/matplotlib, pull requests merged in 2020-10, with the labels that each got.

#18618 Correctly separate two fantasy font names.
  matplotlibrc.template
Labels: rcparams

#18621 Fix singleshot timers in wx.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#18616 Improve instructions for building the docs
  doc/devel/documenting_mpl.rst
Labels: Documentation

#18617 Remove special styling of sidebar heading
  doc/_static/mpl.css
Labels: Documentation

#18591 Deprecate MathTextParser("bitmap") and associated APIs.
  doc/api/next_api_changes/deprecations/18591-AL.rst
  examples/text_labels_and_annotations/mathtext_asarray.py
  examples/user_interfaces/mathtext_wx_sgskip.py
  lib/matplotlib/contour.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/sphinxext/mathmpl.py
  lib/matplotlib/tests/test_mathtext.py
Labels: text

#18628 Remove outdate comment about canvases with no manager attribute.
  lib/matplotlib/backend_bases.py
Labels: Maintenance

#18634 Fix typo in warning message.
  lib/matplotlib/figure.py
Labels: Documentation

#18626 Specify case when parameter is ignored.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#17480 Regenerate background when RectangleSelector active-flag is set back on.
  lib/matplotlib/widgets.py
Labels: widgets/UI

#18527 Fold ColorbarPatch into Colorbar, deprecate colorbar_factory.
  doc/api/next_api_changes/deprecations/18527-AL.rst
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_image.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: colorbar

#18633 Support linestyle='none' in Patch
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: API consistency

#18645 Simplify Colorbar.set_label, inline Colorbar._edges.
  lib/matplotlib/colorbar.py
Labels: Maintenance, colorbar

#18370 Move PostScript Type3 subsetting to pure python.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/baseline_images/test_backend_ps/type3.eps
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_font_manager.py
Labels: backend/ps, text/fonts

#18646 Support activating figures with plt.figure(figure_instance).
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_figure.py
Labels: API consistency

#18511 feat: StepPatch to take array as baseline
  examples/lines_bars_and_markers/stairs_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/baseline_images/test_axes/test_stairs_options.png
  lib/matplotlib/tests/test_axes.py
Labels: New feature

#18639 nbagg: Don't close figures for bubbled events.
  lib/matplotlib/backends/web_backend/js/nbagg_mpl.js
Labels: GUI/nbagg

#18659 Small simplifications to BboxImage.
  lib/matplotlib/image.py
Labels: Maintenance

#18656 Fix some missing references.
  doc/api/axis_api.rst
  doc/api/index.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/tight_bbox_api.rst
  doc/missing-references.json
  doc/users/dflt_style_changes.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/dviread.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/testing/compare.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: Documentation

#18661 Define GridFinder.{,inv_}transform_xy as normal methods.
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: mpl_toolkit

#18672 Created Border for color examples
  examples/color/named_colors.py
Labels: color and colormaps

#18667 TST: Lock cache directory during cleanup.
  lib/matplotlib/testing/compare.py
Labels: Testing

#18536 axes3d panning
  .test_pan.py.kate-swp
  doc/users/next_whats_new/panning_3d.rst
  lib/matplotlib/testing/widgets.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: New feature, mplot3d

#18673 Small cleanups to parasite axes.
  doc/api/next_api_changes/deprecations/18673-AL.rst
  examples/axes_grid1/parasite_simple2.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: Maintenance, mpl_toolkit

#18654 Simplify tmpdir handling in backend_pgf.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Maintenance, backend/pgf

#17832 pdf: Support setting URLs on Text objects
  doc/users/next_whats_new/pdf_urls.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/test_backend_pdf.py
Labels: backend/pdf

#18684 Small simplification to triage_tests.py.
  tools/triage_tests.py
Labels: Maintenance, Testing

#18686 Numpydocify setp.
  lib/matplotlib/artist.py
Labels: Documentation

#18682 Small API cleanups to plot_directive.
  doc/api/next_api_changes/deprecations/18682-AL.rst
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Maintenance, sphinx extension

#18685 Cleanup pgf examples
  examples/userdemo/pgf_fonts.py
  examples/userdemo/pgf_preamble_sgskip.py
  examples/userdemo/pgf_texsystem.py
  tutorials/text/pgf.py
Labels: Documentation, backend/pgf

#18679 Further simplify pgf tmpdir cleanup.
  doc/api/next_api_changes/deprecations/18679-AL.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#17791 More accurate handling of unicode/numpad input in gtk3 backends.
  doc/api/next_api_changes/behavior/17791-AL.rst
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/tests/test_backend_gtk3.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/gtk

#18669 Rework checks for old macosx
  src/_macosx.m
Labels: OS/Apple

#18356 ENH: Subfigures
  doc/api/figure_api.rst
  doc/api/next_api_changes/development/18356-JMK.rst
  doc/users/next_whats_new/subfigures.rst
  examples/subplots_axes_and_figures/gridspec_nested.py
  examples/subplots_axes_and_figures/subfigures.py
  examples/subplots_axes_and_figures/subplots_demo.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure.png
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_ss.png
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axes_grid1/colorbar.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
  tutorials/advanced/transforms_tutorial.py
Labels: geometry manager

#18537 Create security policy
  SECURITY.md
  doc/devel/release_guide.rst
Labels: Documentation, Needs comment/discussion

#18697 Catch TypeError when validating rcParams types.
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: rcparams

#18700 clarify example in plot docstring
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#18701 Backport PR #18700 on branch v3.3.2-doc (clarify example in plot docstring)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#18693 Also fix tk key mapping, following the same strategy as for gtk.
  doc/api/next_api_changes/behavior/17791-AL.rst
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/cbook/__init__.py
Labels: GUI/tk

#18637 BLD: sync build and run time numpy pinning
  .github/workflows/cibuildwheel.yml
  setup.py
Labels: Needs rebase

#18703 Improve documentation of plot() with arrays
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#18671 DOC: fix autoscale docstring
  lib/matplotlib/axes/_base.py
Labels: Documentation

#18599 Simplify wx rubberband drawing.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#18582 Shorten mlab tests.
  lib/matplotlib/tests/test_mlab.py
Labels: Maintenance, Testing

#18655 Sync SubplotDivider API with SubplotBase API changes.
  doc/api/next_api_changes/deprecations/18564-AL.rst
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: mpl_toolkit

#18651 Allow Type3 subsetting of otf fonts in pdf backend.
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf, text/fonts

#18675 Merge ParasiteAxesAuxTransBase into ParasiteAxesBase.
  doc/api/next_api_changes/deprecations/18675-AL.rst
  examples/axisartist/demo_curvelinear_grid.py
  lib/mpl_toolkits/axes_grid/parasite_axes.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/__init__.py
  lib/mpl_toolkits/axisartist/parasite_axes.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
Labels: mpl_toolkit

#18704 Fix docstring of Axes.cla()
  lib/matplotlib/axes/_base.py
  lib/matplotlib/pyplot.py
  tools/boilerplate.py
Labels: Documentation

#18708 Individualize contour and contourf docstrings
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
Labels: Documentation

#18712 Shorten GraphicsContextWx.get_wxcolour.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, Maintenance

#18709 Use attributes Axes.x/yaxis instead of Axes.get_x/yaxis()
  examples/lines_bars_and_markers/timeline.py
  examples/showcase/bachelors_degrees_by_gender.py
  examples/statistics/customized_violin.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/testing/jpl_units/StrConverter.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_subplots.py
  lib/matplotlib/tests/test_ticker.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: API Changes, API consistency

#18680 wx backend API cleanups.
  doc/api/next_api_changes/deprecations/18680-AL.rst
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
  lib/matplotlib/backends/backend_wxcairo.py
Labels: GUI/wx

#18721 Remove the use_cmex font fallback mechanism.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
Labels: text/mathtext

#18696 removed glossary
  doc/_static/mpl.css
  doc/contents.rst
  doc/glossary/index.rst
  tutorials/introductory/usage.py
Labels: Documentation

#18724 Remove extra newlines in contour(f) docs.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
Labels: Documentation

#18725 Backport PR #18533 on branch v3.3.x
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_mathtext.py
  tutorials/text/mathtext.py
Labels: text/mathtext

#18707 Use "Return whether ..." docstring for functions returning bool
  examples/misc/custom_projection.py
  lib/matplotlib/__init__.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/contour.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/streamplot.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#18729 Use ax.add_image rather than ax.images.append in NonUniformImage example
  examples/images_contours_and_fields/image_nonuniform.py
Labels: Documentation, Images

#18719 Added the trace plot of the end point
  examples/animation/double_pendulum.py
Labels: Documentation

#18728 Disable mouseover info for NonUniformImage.
  lib/matplotlib/image.py
Labels: Images

#18583 Support binary comms in nbagg.
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/web_backend/js/mpl.js
  lib/matplotlib/backends/web_backend/js/nbagg_mpl.js
Labels: GUI/nbagg

#18730 TST: skip if known-bad version of imagemagick
  lib/matplotlib/tests/test_animation.py
Labels: Maintenance, Testing

#18493 MEP22 toolmanager set axes navigate_mode
  lib/matplotlib/backend_tools.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: Needs review, toolbar

#18558 Support usetex in date Formatters
  doc/users/next_whats_new/date_usetex.rst
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: Date handling, New feature

#18706 Consistently use 3D, 2D, 1D for dimensionality
  examples/images_contours_and_fields/image_transparency_blend.py
  examples/images_contours_and_fields/pcolor_demo.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/mplot3d/quiver3d.py
  examples/statistics/hexbin_demo.py
  lib/matplotlib/_cm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cm.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/mlab.py
  lib/matplotlib/path.py
  lib/matplotlib/stackplot.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/trirefine.py
  lib/matplotlib/tri/tritools.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
  tutorials/introductory/sample_plots.py
Labels: Documentation

#18687 Deprecate GraphicsContextPS.
  doc/api/next_api_changes/deprecations/18687-AL.rst
  lib/matplotlib/backends/backend_ps.py
Labels: Maintenance, backend/ps

#18744 DOCS: document log locator's `numticks`
  lib/matplotlib/ticker.py
Labels: Documentation

#18575 Colorbar grid position
  examples/color/colorbar_basics.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: colorbar

#18748 Allow dependabot to check GitHub actions daily
  .github/dependabot.yml
Labels: Maintenance, Testing

#18734 Fix deprecation warning in GitHub Actions.
  .github/workflows/reviewdog.yml
Labels: Testing

#18765 Remove some unused tick private attributes.
  lib/matplotlib/axis.py
Labels: Maintenance, ticks axis labels

#18773 Update to latest cibuildwheel release.
  .github/workflows/cibuildwheel.yml
Labels: Maintenance

#18751 Add cheatsheet link to main doc page
  doc/_static/mpl_cheatsheet1.png
  doc/_static/mpl_cheatsheet1_2x.png
  doc/_templates/sidebar_versions.html
Labels: Documentation

#18769 Support `ax.grid(visible=<bool>)`.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: ticks axis labels

#18767 Turn "How to use Matplotlib in a web application server" into a sphinx-gallery example
  doc/faq/howto_faq.rst
  examples/user_interfaces/web_application_server_sgskip.py
Labels: Documentation

#18779 Backport PR #18751 on branch v3.3.2-doc (Add cheatsheet link to main doc page)
  doc/_static/mpl_cheatsheet1.png
  doc/_static/mpl_cheatsheet1_2x.png
  doc/_templates/sidebar_versions.html
Labels: Documentation

#18780 CI: pydocstyle>=5.1.0, flake8-docstrings>=1.4.0 verified to work
  .github/PULL_REQUEST_TEMPLATE.md
  examples/style_sheets/plot_solarizedlight2.py
  examples/text_labels_and_annotations/rainbow_text.py
  lib/matplotlib/backends/backend_agg.py
  requirements/testing/flake8.txt
  tutorials/text/mathtext.py
Labels: Build, Documentation, Maintenance

#17709 Enh: SymNorm for normalizing symmetrical data around a center
  doc/api/colors_api.rst
  doc/users/next_whats_new/centerednorm.rst
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
  tutorials/colors/colormapnorms.py
Labels: color and colormaps

#18787 Backport PR #18769 on branch v3.3.x
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: ticks axis labels

#14645 Add a helper to copy a colormap and set its extreme colors.
  doc/users/next_whats_new/2019-06-28-AL.rst
  examples/images_contours_and_fields/image_masked.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/specialty_plots/leftventricle_bulleye.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_image.py
  tutorials/colors/colorbar_only.py
Labels: color and colormaps

#18791 Fix documentation of edgecolors precedence for scatter()
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#18781 Update description of web application server example.
  doc/faq/howto_faq.rst
  examples/user_interfaces/web_application_server_sgskip.py
  tutorials/introductory/usage.py
Labels: Documentation

#18795 Make inset indicator more visible in the example
  examples/subplots_axes_and_figures/zoom_inset_axes.py
Labels: Documentation

#18302 Remove 3D attributes from renderer
  doc/api/next_api_changes/deprecations/18302-ES.rst
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: mplot3d

#18798 Deprecate ps.useafm for mathtext
  doc/api/next_api_changes/deprecations/18798-JKS.rst
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: Maintenance, backend/ps, text/mathtext

#18792 Cmap cleanup
  doc/users/next_whats_new/2019-06-28-AL.rst
  examples/color/custom_cmap.py
  examples/subplots_axes_and_figures/colorbar_placement.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_image.py
Labels: Maintenance

#18793 Consistently use axs to refer to a set of Axes (v2)
  examples/text_labels_and_annotations/legend_demo.py
  lib/matplotlib/tests/test_legend.py
  tutorials/colors/colormaps.py
Labels: Maintenance

#18799 Remove unused wx private attribute.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, Maintenance

#18806 DOC Use 'Axes' in _axes.py docstrings
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#18814 [Example] update Anscombe's Quartet
  examples/specialty_plots/anscombe.py
Labels: Documentation

#18811 DOC Use 'Axes' instead of 'axes' in figure.py
  lib/matplotlib/figure.py
Labels: Documentation

#18818 Clarify behavior of CallbackRegistry.disconnect with nonexistent cids.
  lib/matplotlib/cbook/__init__.py
Labels: Documentation

#18657 Move cbook.deprecation to _api.deprecation
  .flake8
  doc/api/_api_api.rst
  doc/api/cbook_api.rst
  doc/api/index.rst
  doc/api/next_api_changes/deprecations/18657-TH.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/devel/contributing.rst
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/cm.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_cbook.py
  tools/boilerplate.py
Labels: Maintenance

#18820 Fix axes -> Axes changes in figure.py
  lib/matplotlib/figure.py
Labels: Documentation

#18733 Time series histogram plot example
  examples/statistics/time_series_histogram.py
Labels: Documentation

#18825 Warn in pgf backend when unknown font is requested.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#18827 Update Qt version in event handling docs.
  doc/users/event_handling.rst
Labels: Documentation

#18834 Add cross-references to Artist tutorial
  doc/api/axis_api.rst
  tutorials/intermediate/artists.py
Labels: Documentation

#18756 FIX: improve date performance regression
  lib/matplotlib/dates.py
Labels: Date handling, Performance

#18844 Fix sphinx formatting issues
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/collections.py
  lib/matplotlib/dates.py
  lib/matplotlib/patches.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#18821 Simplification of animated histogram example
  examples/animation/animated_histogram.py
Labels: Documentation

#18845 Backport PR #18839 on branch v3.3.x
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: text

#15177 Bind WX_CHAR_HOOK instead of WX_KEY_DOWN for wx key_press_event.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx
