Repository matplotlib/matplotlib, pull requests merged in 2021-05, with the labels that each got.

#20074 Copy-edit axes_grid tutorial.
  tutorials/toolkits/axes_grid.py
Labels: Documentation, topic: mpl_toolkit

#20003 Bump minimum NumPy to 1.17
  .circleci/config.yml
  .github/workflows/cibuildwheel.yml
  doc/api/next_api_changes/development/20003-ES.rst
  doc/devel/dependencies.rst
  doc/devel/min_dep_policy.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_axes.py
  requirements/testing/minver.txt
  setup.py
Labels: Maintenance

#19538 Speedup pdftex.map parsing.
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/baseline_images/dviread/test.map
  lib/matplotlib/tests/test_dviread.py
Labels: Performance, topic: text/usetex

#20109 Fix trailing text in doctest-syntax plot_directive.
  doc/api/next_api_changes/deprecations/20109-AL.rst
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/tinypages/some_plots.rst
Labels: topic: sphinx extension

#20119 Cleanup flake8 exceptions for examples
  .flake8
  doc/users/prev_whats_new/whats_new_0.98.4.rst
  doc/users/prev_whats_new/whats_new_0.99.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  examples/axes_grid1/inset_locator_demo.py
  examples/lines_bars_and_markers/scatter_with_legend.py
  examples/misc/agg_buffer.py
  examples/misc/svg_filter_line.py
  examples/misc/svg_filter_pie.py
  examples/pyplots/auto_subplots_adjust.py
  examples/pyplots/whats_new_1_subplot3d.py
  examples/pyplots/whats_new_98_4_fill_between.py
  examples/pyplots/whats_new_98_4_legend.py
  examples/pyplots/whats_new_99_axes_grid.py
  examples/pyplots/whats_new_99_mplot3d.py
  examples/pyplots/whats_new_99_spines.py
  examples/shapes_and_collections/ellipse_demo.py
  examples/showcase/firefox.py
  examples/style_sheets/ggplot.py
  examples/subplots_axes_and_figures/axes_zoom_effect.py
  examples/subplots_axes_and_figures/demo_tight_layout.py
  examples/text_labels_and_annotations/font_family_rc_sgskip.py
  examples/text_labels_and_annotations/tex_demo.py
  examples/user_interfaces/canvasagg.py
  examples/user_interfaces/pylab_with_gtk_sgskip.py
Labels: Documentation, Maintenance

#19959 Bugfix Tk start_event_loop
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#20135 Add tricontour/tricontourf arguments(corner_mask, vmin vmax, antialiased, nchunk, hatches) documentation
  lib/matplotlib/tri/tricontour.py
Labels: Documentation

#19660 Allow PolygonSelector points to be removed
  doc/users/next_whats_new/polygons_selector_remove_points.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: widgets/UI

#16368 Improve warning for unsupported scripts.
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/textpath.py
  src/ft2font.cpp
Labels: topic: text/fonts

#20094 Switch _auto_adjust_subplotpars to take rowspan/colspan as input.
  lib/matplotlib/tight_layout.py
Labels: Maintenance, topic: geometry manager

#20129 Cleanup some "variable assigned but not used" lints.
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/afm.py
  lib/matplotlib/animation.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/font_manager.py
Labels: Maintenance

#19363 Create box3d example
  examples/mplot3d/box3d.py
Labels: Documentation

#20145 Fix broken link to ggplot in docs
  doc/index.rst
Labels: Documentation

#19978 fixed bug in CenteredNorm, issue #19972
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Release critical

#20146 Don't clip clip paths to Figure bbox.
  lib/matplotlib/tests/test_artist.py
  src/_backend_agg.cpp
Labels: topic: path handling

#19918 Cleanup some consistency in contour extensions
  src/_contour.cpp
  src/_path.h
  src/ft2font.cpp
  src/mplutils.h
  src/tri/_tri.cpp
Labels: topic: contour

#20155 Fix wheel builds on CI
  .github/workflows/cibuildwheel.yml
  .github/workflows/circleci.yml
Labels: Maintenance

#20140 DOC: make 2x versions of all gallery figures
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Build, Documentation

#15889 Add svg logo icon
  doc/_static/matplotlib-icon.svg
Labels: status: needs review

#19369 Add Artist._cm_set for temporarily setting an Artist property.
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
  lib/matplotlib/widgets.py
Labels: Maintenance

#20150 Rename mosaic layout
  doc/api/next_api_changes/behavior/20150-TAC.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  tutorials/provisional/mosaic.py
Labels: API: changes

#19994 Don't hide shared "x/y"ticklabels for grids of non-rectilinear axes.
  lib/matplotlib/gridspec.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar

#20026 DOC: move third-party packages to new page
  doc/contents.rst
  doc/devel/documenting_mpl.rst
  doc/index.rst
  doc/thirdpartypackages/index.rst
Labels: Documentation/new page

#20177 Fix broken test re: polar tick visibility.
  lib/matplotlib/tests/test_polar.py
Labels: Release critical, topic: polar, topic: testing

#20171 Remove unsupported arguments from tricontourf documentation
  lib/matplotlib/tri/tricontour.py
Labels: Documentation, topic: contour

#20147 DOC: add example of labelling axes
  examples/text_labels_and_annotations/label_subplots.py
Labels: Documentation/new page

#20188 Remove 3.3 deprecations in cbook.
  doc/api/next_api_changes/removals/20188-ES.rst
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_cbook.py
Labels: Maintenance

#20187 Merge v3.4.x up into master
  doc/_static/zenodo_cache/4743323.svg
  doc/api/api_changes.rst
  doc/api/prev_api_changes/api_changes_3.4.2.rst
  doc/citing.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.4.1.rst
  tools/cache_zenodo_svg.py
Labels: Maintenance

#18346 Soft-deprecate Axes.plot_date()
  doc/api/next_api_changes/deprecations/18346-TH.rst
  examples/ticks_and_spines/date_demo_convert.py
  examples/ticks_and_spines/date_demo_rrule.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/dates.py
Labels: Maintenance

#18819 Usage guide edit
  tutorials/introductory/usage.py
Labels: Documentation

#20196 Replaced links to colormap packages with link to third-party packages list in MPL docs
  tutorials/colors/colormaps.py
Labels: Documentation

#19260 Update round fix
  examples/pie_and_polar_charts/pie_and_donut_labels.py
Labels: Documentation

#20105 Shorten Curve arrowstyle implementations.
  lib/matplotlib/patches.py
Labels: topic: path handling

#20144 More tight_layout cleanups
  lib/matplotlib/tight_layout.py
Labels: Maintenance, topic: geometry manager

#20046 Deprecation warning
  doc/api/next_api_changes/behavior/20046-BB.rst
  doc/conf.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/tests/test_figure.py
Labels: status: needs merge

#20198 Fix validation of Line2D color.
  lib/matplotlib/lines.py
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: API: argument checking

#20194 Fix markup on MEP22.
  doc/devel/MEP/MEP22.rst
Labels: Documentation, MEP: MEP22

#20197 Speedup Line2D marker color setting.
  lib/matplotlib/lines.py
Labels: Performance

#20201 Simplify _process_plot_var_args.set_prop_cycle.
  lib/matplotlib/axes/_base.py
Labels: Maintenance

#20199 Make set_marker{edge,face}color(None) more consistent.
  doc/api/next_api_changes/behavior/20199-AL.rst
  lib/matplotlib/lines.py
Labels: API: consistency

#20189 Add tests for ginput and waitforbuttonpress.
  lib/matplotlib/tests/test_figure.py
Labels: topic: testing

#20191 Small simplifications to FloatingAxesBase.
  lib/mpl_toolkits/axisartist/floating_axes.py
Labels: Maintenance, topic: mpl_toolkit

#20206 Cleanup axisartist in preparation for future changes.
  doc/api/next_api_changes/deprecations/20206-AL.rst
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit

#20211 Use check_getitem in legend location resolution.
  lib/matplotlib/legend.py
Labels: Maintenance

#20209 Deprecate cbook.report_memory.
  doc/api/next_api_changes/deprecations/20209-AL.rst
  lib/matplotlib/cbook/__init__.py
Labels: Maintenance

#20073 Support SubFigures in AxesDivider.
  examples/axes_grid1/simple_axes_divider1.py
  examples/axes_grid1/simple_axes_divider3.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  tutorials/toolkits/axes_grid.py
Labels: topic: mpl_toolkit

#18870 Expand ScalarMappable.set_array to accept array-like inputs
  lib/matplotlib/cm.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_collections.py
Labels: status: needs comment/discussion

#20154 ci: Bump Ubuntu to 18.04 LTS.
  .github/workflows/tests.yml
  azure-pipelines.yml
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_mixedmode.pdf
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Maintenance, topic: testing

#19467 Shorten the implementation of violin().
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#20170 SubplotParams.validate-associated fixes.
  doc/api/next_api_changes/deprecations/20170-AL.rst
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_api.py
  lib/matplotlib/widgets.py
Labels: widgets/UI

#18397 fix cmr10 negative sign in cmsy10 (RuntimeWarning: Glyph 8722 missing)
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: status: needs review, topic: text/fonts, topic: text/mathtext

#19167 Add support for HiDPI in TkAgg on Windows
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  setupext.py
  src/_c_internal_utils.c
  src/_tkagg.cpp
  src/_tkmini.h
Labels: GUI/tk

#20118 Convert FontEntry to a data class
  .flake8
  doc/api/font_manager_api.rst
  lib/matplotlib/font_manager.py
Labels: Maintenance, status: needs comment/discussion

#19849 FIX DateFormatter for month names when usetex=True
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: status: needs review, topic: date handling

#20047 Add labels parameter to set_ticks()
  doc/users/next_whats_new/set_ticks_labels.rst
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: API: consistency, status: needs review

#20221 DOC: clarify that savefig(..., transparent=False) has no effect
  lib/matplotlib/figure.py
Labels: Documentation

#20222 Fix C coverage
  setup.py
Labels: Build

#20216 Documentation Style Guide for contributors
  doc/devel/index.rst
  doc/devel/style_guide.rst
Labels: Documentation/new page

#20225 FIX: correctly handle ax.legend(..., legendcolor='none')
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: status: needs review

#20233 Add a Ubuntu 20.04 / Python 3.9 CI run
  .github/workflows/tests.yml
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_pdflatex.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_rcupdate1.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_rcupdate2.pdf
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Maintenance

#19894 Remove deprecated Qt4 backends
  doc/api/backend_qt_api.rst
  doc/api/next_api_changes/removals/19894-ES.rst
  doc/api/prev_api_changes/api_changes_3.3.0/deprecations.rst
  doc/devel/dependencies.rst
  examples/user_interfaces/embedding_in_qt_sgskip.py
  lib/matplotlib/__init__.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_qt4.py
  lib/matplotlib/backends/backend_qt4agg.py
  lib/matplotlib/backends/backend_qt4cairo.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/backends/qt_editor/formsubplottool.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_backend_qt.py
  setup.cfg.template
  tutorials/introductory/usage.py
Labels: GUI/Qt, Maintenance

#20239 Style tables in style guide
  doc/devel/style_guide.rst
Labels: Documentation

#20212 Update span_selector.py
  examples/widgets/span_selector.py
Labels: Documentation

#20238 Clarify docstring of ScalarMappable.set/get_array()
  lib/matplotlib/cm.py
Labels: Documentation

#20217 ci: Export sphinx-gallery run results to CircleCI.
  .circleci/config.yml
  doc/conf.py
Labels: Documentation, Maintenance

#20247 Explicitly reject black autoformatting.
  doc/devel/contributing.rst
Labels: Documentation

#20207 Move axisartist towards using standard Transforms.
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, topic: transforms and scales

#20019 Example: Cursor widget with text
  examples/widgets/annotated_cursor.py
Labels: Documentation/new page, widgets/UI

#20248 Replace pgf image-streaming warning by error.
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#20218 Update Axes showcase in "Embedding in Tk" example
  examples/user_interfaces/embedding_in_tk_sgskip.py
Labels: Documentation

#20245 MAINT: Removing deprecated `offset_position` from Collection
  doc/api/next_api_changes/removals/20245-GL.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/collections.py
  src/_backend_agg.h
  src/_backend_agg_basic_types.h
  src/_backend_agg_wrapper.cpp
  src/_path.h
  src/_path_wrapper.cpp
  src/py_converters.cpp
  src/py_converters.h
Labels: Maintenance

#20265 Legend edgecolor face
  lib/matplotlib/legend_handler.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#20081 Limit documenting special members to __call__
  doc/_templates/autosummary.rst
  doc/devel/documenting_mpl.rst
Labels: Documentation, status: needs review

#20264 Fix blitting selector
  lib/matplotlib/widgets.py
Labels: widgets/UI

#20268 Api pcolorargs deprecation
  doc/api/next_api_changes/behavior/20268-JMK.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/tests/test_axes.py
Labels: API: default changes, Maintenance

#19499 Fully fold overset/underset into _genset.
  lib/matplotlib/_mathtext.py
Labels: Maintenance, topic: text/mathtext

#20173 Rename (with deprecation) first parameter of grid() from b to visible.
  doc/api/next_api_changes/deprecations/20173-AL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/pyplot.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: ticks axis labels

#19869 Factor out x/y lo/hi handling in errorbar.
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#20126 Simplify font_manager font enumeration logic.
  doc/api/next_api_changes/deprecations/20126-AL.rst
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: Maintenance, topic: text/fonts

#19441 Make backend_gtk3foo importable on headless environments.
  doc/api/next_api_changes/deprecations/19441-AL.rst
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#20193 Simplify HostAxes.draw and its interaction with ParasiteAxes.
  doc/api/next_api_changes/deprecations/20193-AL.rst
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: Maintenance, topic: mpl_toolkit

#15604 Deprecate auto-removal of grid by pcolor/pcolormesh.
  doc/api/next_api_changes/deprecations/15604-AL.rst
  lib/matplotlib/axes/_axes.py
Labels: API: changes, status: needs comment/discussion, status: needs review

#20272 De-duplicate fonts in LaTeX preamble.
  lib/matplotlib/texmanager.py
Labels: topic: text/fonts, topic: text/usetex

#20279 Slightly reword intros of mpl_toolkits API docs.
  doc/api/toolkits/axes_grid.rst
  doc/api/toolkits/axes_grid1.rst
  doc/api/toolkits/axisartist.rst
Labels: Documentation, topic: mpl_toolkit

#20190 Simplify handling of uncomparable formats in tests.
  lib/matplotlib/testing/decorators.py
Labels: topic: testing

#19375 Don't composite path-clipped image; forward suppressComposite as needed.
  doc/api/next_api_changes/behavior/19375-AL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#20278 Deprecate public access to certain texmanager attributes.
  doc/api/next_api_changes/deprecations/20278-AL.rst
  lib/matplotlib/texmanager.py
Labels: Documentation, Maintenance, topic: text/usetex

#20275 Fix some examples that are skipped in docs build
  examples/event_handling/pipong.py
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  examples/user_interfaces/svg_histogram_sgskip.py
Labels: Documentation

#19253 Improve font spec for SVG font referencing.
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_mathtext.py
Labels: backend/svg, topic: text/fonts

#20084 Add legend.labelcolor in rcParams
  doc/users/next_whats_new/rcparams_legend.rst
  lib/matplotlib/legend.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_rcparams.py
Labels: New feature, topic: legend, topic: rcparams

#20276 Tiny fixes to mathtext/usetex tutorials.
  tutorials/text/mathtext.py
  tutorials/text/pgf.py
  tutorials/text/usetex.py
Labels: Documentation, topic: text/mathtext, topic: text/usetex

#20288 Small markup fixes in api docs.
  doc/api/index.rst
Labels: Documentation

#20273 Fix cursor with toolmanager on GTK3.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk, MEP: MEP22, topic: toolbar

#20295 Replace text._wrap_text by _cm_set().
  lib/matplotlib/text.py
Labels: Maintenance, topic: text

#14913 Reimplement NonUniformImage, PcolorImage in Python, not C.
  doc/api/next_api_changes/behavior/14913-AL.rst
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_image/nonuniform_and_pcolor.png
  lib/matplotlib/tests/test_image.py
  setupext.py
  src/_image.cpp
  src/_image.h
  src/_image_wrapper.cpp
Labels: PR: bugfix, status: needs review, topic: images

#19677 Convert axis limit units in Qt plot options widget
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: PR: bugfix, status: needs review, topic: widgets/UI

#20164 Auto-generate required kwdoc entries into docstring.interpd.
  doc/devel/documenting_mpl.rst
  doc/missing-references.json
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/collections.py
  lib/matplotlib/docstring.py
  lib/matplotlib/figure.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/sankey.py
  lib/matplotlib/spines.py
  lib/matplotlib/table.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, status: needs comment/discussion

#20054 Enh better colorbar axes
  doc/api/next_api_changes/behavior/20054-JMK.rst
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.pdf
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.png
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.svg
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_change_lim_scale.png
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_closed_patch.pdf
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_closed_patch.png
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_closed_patch.svg
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_extensions_proportional.png
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_extensions_shape_proportional.png
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_extensions_shape_uniform.png
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_extensions_uniform.png
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_single_scatter.png
  lib/matplotlib/tests/baseline_images/test_colorbar/double_cbar.png
  lib/matplotlib/tests/baseline_images/test_colors/levels_and_colors.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout11.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout11rat.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout13.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout14.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout3.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout4.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout5.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout8.png
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout9.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_addlines.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_line_start_on_corner_edge.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_log_extension.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_manual_colors_and_levels.png
  lib/matplotlib/tests/baseline_images/test_image/mask_image_over_under.png
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid/imagegrid_cbar_mode.png
  lib/mpl_toolkits/tests/test_axes_grid.py
Labels: topic: color/colorbar

#20237 Make QuadMesh arguments with defaults keyword_only
  doc/api/next_api_changes/deprecations/20237-TH.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: API: changes

#20235 Warn user when mathtext font is used for ticks
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: text/mathtext

#20301 Clarify the effect of PolygonCollection properties on Quiver
  lib/matplotlib/quiver.py
Labels: Documentation

#19558 Use luatex in --luaonly mode to query kpsewhich.
  doc/api/next_api_changes/deprecations/19558-AL.rst
  lib/matplotlib/dviread.py
  lib/matplotlib/mpl-data/kpsewhich.lua
  lib/matplotlib/texmanager.py
  tutorials/text/usetex.py
Labels: Performance, topic: text/usetex

#19873 Allow changing the vertical axis in 3d plots
  doc/users/next_whats_new/allow_changing_the_vertical_axis_in_3d_plots.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#20303 Remove tilde in code links where not necessary
  examples/axes_grid1/inset_locator_demo2.py
  examples/lines_bars_and_markers/stem_plot.py
  examples/mplot3d/stem3d_demo.py
  examples/scales/custom_scale.py
  examples/ticks_and_spines/date_concise_formatter.py
  examples/ticks_and_spines/date_precision_and_epochs.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/legend.py
  lib/matplotlib/path.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/textpath.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  tutorials/advanced/blitting.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/imshow_extent.py
  tutorials/intermediate/legend_guide.py
Labels: Documentation

#20290 Support imshow(<float16 array>).
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#20299 Simplify tfm parsing.
  lib/matplotlib/dviread.py
Labels: Maintenance, topic: text/usetex

#20101 Fix `Text` class bug when `font` argument is provided without `math_fontfamily`
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/text.py
Labels: status: needs review, topic: text/mathtext

#20302 Further remove use of meshWidth, meshHeight in QuadMesh.
  doc/api/next_api_changes/deprecations/20302-AL.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
Labels: API: changes

#20308 Remove outdated comment re: pgf/windows.
  tutorials/text/pgf.py
Labels: Documentation, OS/Microsoft, backend/pgf

#20304 Don't mention dviread in the PsfontsMap "missing entry" error message.
  lib/matplotlib/dviread.py
Labels: Maintenance, topic: text/usetex

#20032 axvline()/axvspan() should not update r limits in polar plots.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: transforms and scales

#18472 Adding a get_coordinates() method to Quadmesh collections
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: status: needs comment/discussion, status: needs review, topic: collections and mappables

#20311 Warn if a non-str is passed to an rcParam requiring a str.
  doc/api/next_api_changes/deprecations/20311-AL.rst
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: API: argument checking, topic: rcparams

#20306 Document legend(handles=handles) signature
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
Labels: Documentation

#20305 Merge two axisartist examples and point to standard methods.
  examples/axisartist/simple_axisartist1.py
  examples/axisartist/simple_axisline2.py
Labels: Documentation

#20309 DOC: Spell out args/kwargs in examples/tutorials
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/tripcolor_demo.py
  examples/lines_bars_and_markers/filled_step.py
  examples/lines_bars_and_markers/gradient_bar.py
  examples/shapes_and_collections/collections.py
  examples/specialty_plots/topographic_hillshading.py
  examples/statistics/boxplot.py
  examples/statistics/confidence_ellipse.py
  examples/statistics/customized_violin.py
  examples/statistics/errorbars_and_boxes.py
  examples/statistics/hist.py
  examples/statistics/histogram_cumulative.py
  examples/subplots_axes_and_figures/secondary_axis.py
  examples/text_labels_and_annotations/annotation_demo.py
  examples/text_labels_and_annotations/fonts_demo.py
  examples/text_labels_and_annotations/fonts_demo_kw.py
  examples/text_labels_and_annotations/titles_demo.py
  examples/ticks_and_spines/custom_ticker1.py
  examples/ticks_and_spines/date_concise_formatter.py
  examples/units/basic_units.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/imshow_extent.py
  tutorials/introductory/lifecycle.py
  tutorials/introductory/pyplot.py
  tutorials/introductory/usage.py
  tutorials/text/text_intro.py
  tutorials/text/text_props.py
Labels: Documentation

#20208 Rewrite blocking_input to something much simpler.
  doc/api/next_api_changes/deprecations/20208-AL.rst
  lib/matplotlib/_blocking_input.py
  lib/matplotlib/blocking_input.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
Labels: API: changes, topic: widgets/UI

#19348 Make YearLocator a subclass of RRuleLocator
  doc/api/next_api_changes/removals/19348-OE.rst
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: API: changes, status: needs review, topic: date handling

#20310 Add test for font selection by texmanager.
  lib/matplotlib/tests/test_texmanager.py
Labels: topic: testing, topic: text/fonts, topic: text/usetex

#20314 MAINT: Removing deprecated colorbar functions.
  doc/api/next_api_changes/removals/20314-GL.rst
  lib/matplotlib/colorbar.py
Labels: Maintenance, topic: color/colorbar

#19908 Implement get_cursor_data for QuadMesh.
  lib/matplotlib/artist.py
  lib/matplotlib/collections.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_collections.py
Labels: status: needs review, topic: images

#20315 Fix spelling.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#20318 DOC: Fix missing refs in what's new pages
  doc/missing-references.json
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  lib/matplotlib/pyplot.py
Labels: Documentation

#20320 Fix remaining E265 exceptions.
  .flake8
  doc/conf.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/triinterpolate.py
  lib/mpl_toolkits/axes_grid/__init__.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Maintenance

#20333 Better align param comments in `Legend.__init__` signature.
  lib/matplotlib/legend.py
Labels: Maintenance, topic: legend

#20332 Quadmesh's default value of shading is now set to 'flat' instead of False
  doc/api/next_api_changes/deprecations/20237-TH.rst
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: API: argument checking, API: changes, Release critical

#20319 DOC: Tweaks to module API pages
  doc/api/animation_api.rst
  doc/api/colors_api.rst
  doc/api/dates_api.rst
  doc/api/transformations.rst
  lib/matplotlib/afm.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/mlab.py
  lib/matplotlib/table.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/tight_layout.py
  lib/matplotlib/units.py
Labels: Documentation

#20020 For polar plots, report cursor position with correct precision.
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar
