Repository matplotlib/matplotlib, pull requests merged in 2021-08, with the labels that each got.

#20767 Factor out latex ifpackageloaded pattern.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/texmanager.py
Labels: Maintenance, topic: text/usetex

#20659 Add HiDPI-related config for mathmpl
  doc/api/index.rst
  doc/api/sphinxext_mathmpl_api.rst
  doc/conf.py
  doc/users/next_whats_new/mathmpl_hidpi.rst
  lib/matplotlib/sphinxext/mathmpl.py
Labels: Documentation, New feature, topic: sphinx extension

#20775 Remove some remnants of qt4 support.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/style/core.py
Labels: Maintenance

#20749 Cleanup font subsetting code
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
Labels: topic: text/fonts

#20786 Fixed typo in _constrained_layout.py (#20782)
  lib/matplotlib/_constrained_layout.py
Labels: topic: geometry manager

#20787 Backport PR #20786 on branch v3.4.x (Fixed typo in _constrained_layout.py (#20782))
  lib/matplotlib/_constrained_layout.py
Labels: topic: geometry manager

#20778 Dedupe handling of mouse buttons in macos backend.
  src/_macosx.m
Labels: OS/Apple

#20783 Document how to check for the existence of current figure/axes.
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#20772 Implement remove_rubberband rather than release_zoom.
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: Maintenance

#20673 Point [SOURCE] documents to github
  doc/conf.py
Labels: Documentation

#20717 Fix collection offsets
  doc/users/next_whats_new/collection_offsets.rst
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: status: needs comment/discussion, topic: transforms and scales, topic: collections and mappables

#20795 TST/MNT: deprecate unused fixture
  doc/api/next_api_changes/deprecations/20795-TAC.rst
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/conftest.py
  lib/mpl_toolkits/tests/conftest.py
Labels: API: changes

#20788 FIX: Check for colorbar creation with multi-dimensional alpha
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#20733 Deprecate globals using module-level `__getattr__`.
  lib/matplotlib/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/style/core.py
Labels: Maintenance

#17810 FIX: don't fail on first show if animation already exhausted
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: topic: animation

#20803 Re-remove deprecated Qt globals.
  lib/matplotlib/backends/backend_qt.py
Labels: GUI/Qt, Maintenance

#20813 add doc-link to dufte
  examples/showcase/bachelors_degrees_by_gender.py
Labels: Documentation

#20815 circle: Switch to next-gen image.
  .circleci/config.yml
Labels: Documentation, Build

#20771 FIX: tickspacing for subfigures
  lib/matplotlib/axis.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_scatter_size.png
  lib/matplotlib/tests/test_figure.py
Labels: topic: ticks axis labels, topic: figures and subfigures

#20820 Backport PR #20771 on branch v3.4.x (FIX: tickspacing for subfigures)
  lib/matplotlib/axis.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_scatter_size.png
  lib/matplotlib/tests/test_figure.py
Labels: topic: ticks axis labels, topic: figures and subfigures

#20817 Make test_change_epoch more robust.
  lib/matplotlib/tests/test_dates.py
Labels: topic: testing, topic: date handling

#20823 Backport PR #20817 on branch v3.4.x (Make test_change_epoch more robust.)
  lib/matplotlib/tests/test_dates.py
Labels: topic: testing, topic: date handling

#20229 ENH: Only do constrained layout at draw...
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  tutorials/intermediate/constrainedlayout_guide.py
Labels: topic: geometry manager

#20825 Fix image triage tool with Qt6
  tools/triage_tests.py
Labels: topic: testing, Maintenance

#20725 `Axes3D.plot_surface`: Allow masked arrays and `NaN` values
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d_masked.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/surface3d_masked_strides.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, API: consistency

#20816 ENH: Add the ability to block callback signals
  doc/users/next_whats_new/callback_blocking.rst
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_cbook.py
Labels: New feature

#20830 Backport PR #20826 on branch v3.4.x (Fix clear of Axes that are shared.)
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: ticks axis labels

#18782 ENH: allow image to interpolate post RGBA
  doc/users/next_whats_new/image_interpolation_rgbastage.rst
  examples/images_contours_and_fields/image_antialiasing.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_image/rgba_antialias.png
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#20837 Merge branch v3.4.x
  .github/workflows/cibuildwheel.yml
  doc/_static/zenodo_cache/5194481.svg
  doc/citing.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.4.2.rst
  src/_path.h
  tools/cache_zenodo_svg.py
Labels: Maintenance

#20699 FIX/ENH: Introduce a monolithic legend handler for Line2D
  doc/api/next_api_changes/behavior/20699-AFV.rst
  lib/matplotlib/legend_handler.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_legend.py
Labels: API: changes, topic: legend

#20679 Fix selector onselect call when the selector is removed by an "empty" click and add `ignore_event_outside` argument
  doc/users/next_whats_new/widget_ignore_events.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: status: needs review, topic: widgets/UI

#20603 Deprecate unused LassoSelector event handlers.
  doc/api/next_api_changes/deprecations/20603-AL.rst
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#18503 Add a dedicated ColormapRegistry class
  .flake8
  doc/api/matplotlib_configuration_api.rst
  doc/users/next_whats_new/colormaps.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/cm.py
Labels: topic: color/color & colormaps

#20846 Re-re-remove deprecated Qt globals.
  lib/matplotlib/backends/backend_qt5.py
Labels: Release critical, GUI/Qt

#20849 Add external resources to devdoc landing page
  doc/index.rst
Labels: Documentation

#20818 Swap Cap/Cup glyphs when using STIX font.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_71.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_71.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_71.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#20806 Deprecate matplotlib.cm.LUTSIZE
  doc/api/next_api_changes/deprecations/20806-TH.rst
  lib/matplotlib/cm.py
Labels: API: changes

#20444 Delete _Bracket and update the _Curve to be able to ']->' and '<-['
  doc/api/next_api_changes/removals/20444-CE.rst
  doc/users/next_whats_new/arrow_param.rst
  doc/users/next_whats_new/new_arrow_styles.rst
  lib/matplotlib/patches.py
  lib/matplotlib/tests/baseline_images/test_arrow_patches/arrow_styles.png
  lib/matplotlib/tests/baseline_images/test_path/arrow_contains_point.png
  lib/matplotlib/tests/test_arrow_patches.py
Labels: New feature, status: needs review, topic: arrow

#20079 Prepare axes_divider for simpler(?) indexing-based API.
  doc/api/next_api_changes/deprecations/20079-AL.rst
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: topic: mpl_toolkit, status: needs review, API: changes

#20855 BUG: __getattr__ must raise AttributeError if name not found (again)
  lib/matplotlib/cm.py
Labels: Maintenance

#20814 FIX: Avoid copying source script when `plot_html_show_source_link` is False in plot directive
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
Labels: topic: sphinx extension

#20848 Fix PyPy wheels and tests
  .github/workflows/cibuildwheel.yml
  lib/matplotlib/backend_bases.py
  lib/matplotlib/patches.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_quiver.py
  lib/matplotlib/tests/test_style.py
  src/_c_internal_utils.c
Labels: third-party integration, Maintenance

#20859 Allow SubFigure legends
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#20863 new github citation format
  CITATION.bib
  doc/citing.rst
Labels: Maintenance

#20805 Ensure all params are restored after `reset_ticks`.
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: ticks axis labels

#20840 Speed up Tkagg blit with Tk_PhotoPutBlock
  doc/api/next_api_changes/development/20840-RJS.rst
  doc/devel/dependencies.rst
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/tests/test_backend_tk.py
  src/_tkagg.cpp
  src/_tkmini.h
Labels: GUI/tk

#20857 Propose a less error-prone helper for module-level getattrs.
  lib/matplotlib/__init__.py
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_getattr.py
Labels: Release critical, status: needs rebase, Maintenance

#20868 Fix qt key mods
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/Qt, topic: testing

#20869 Ignore errors trying to delete make_release_tree.
  setup.py
Labels: Build

#20871 Move setup.cfg to mplsetup.cfg.
  .github/workflows/cibuildwheel.yml
  .gitignore
  ci/check_wheel_licenses.py
  doc/api/next_api_changes/development/XXXXX-AL.rst
  doc/devel/dependencies.rst
  doc/faq/environment_variables_faq.rst
  doc/users/installing_source.rst
  lib/matplotlib/__init__.py
  mplsetup.cfg.template
  setup.cfg
  setup.py
  setupext.py
  src/checkdep_freetype2.c
Labels: Build

#20872 Remove some boilerplate from C extension inits.
  src/_backend_agg_wrapper.cpp
  src/_c_internal_utils.c
  src/_contour_wrapper.cpp
  src/_image_wrapper.cpp
  src/_macosx.m
  src/_path_wrapper.cpp
  src/_tkagg.cpp
  src/_ttconv.cpp
  src/ft2font_wrapper.cpp
  src/qhull_wrap.cpp
  src/tri/_tri_wrapper.cpp
Labels: Maintenance

#20873 Remove mplutils.cpp; shorten mplutils.h.
  setupext.py
  src/ft2font.cpp
  src/ft2font_wrapper.cpp
  src/mplutils.cpp
  src/mplutils.h
Labels: Maintenance

#20878 Use tables for Locator and Formatter docs
  lib/matplotlib/ticker.py
Labels: Documentation

#20876 DOC: Fix dependency link.
  doc/devel/min_dep_policy.rst
Labels: Documentation

#13306 Qt5: SIGINT kills just the mpl window and not the process itself
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: Release critical, status: needs review, GUI/Qt

#20881 Deprecate some old globals in qt_compat.
  doc/api/next_api_changes/deprecations/20881-AL.rst
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt

#20882 Don't add QtNetwork to the API exported by qt_compat.
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt

#19892 Add Figure parameter layout and discourage tight_layout / constrained_layout
  doc/api/next_api_changes/deprecations/19892-TH.rst
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager, status: needs review, API: changes

#20875 Use mpl.colormaps in examples
  examples/axes_grid1/demo_edge_colorbar.py
  examples/color/colormap_reference.py
  examples/color/custom_cmap.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/demo_bboximage.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/images_contours_and_fields/tricontour_smooth_user.py
  examples/images_contours_and_fields/trigradient_demo.py
  examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation

#20883 Make pywin32 optional in Ctrl+C Qt test.
  lib/matplotlib/tests/test_backend_qt.py
  requirements/testing/extra.txt
Labels: GUI/Qt, topic: testing

#20884 Ensure full environment is passed to headless test.
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing

#20886 Backport PR #20884 on branch v3.5.x (Ensure full environment is passed to headless test.)
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing

#20864 Add Python 3.10 testing.
  .github/workflows/tests.yml
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_sphinxext.py
  setup.py
Labels: topic: testing, PR: dependencies

#20693 Fix setting artists properties of selectors
  doc/api/next_api_changes/deprecations/20693-EP.rst
  doc/users/next_whats_new/setting_artists_properties_selector.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical, status: needs review, topic: widgets/UI

#20892 Label pylab as "discouraged" instead of "disapproved"
  doc/api/index.rst
Labels: Documentation

#20890 Backport PR #20693 on branch v3.5.x (Fix setting artists properties of selectors)
  doc/api/next_api_changes/deprecations/20693-EP.rst
  doc/users/next_whats_new/setting_artists_properties_selector.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical, status: needs review, topic: widgets/UI

#20888 Backport PR #20864 on branch v3.5.x (Add Python 3.10 testing.)
  .github/workflows/tests.yml
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_sphinxext.py
  setup.py
Labels: topic: testing, PR: dependencies

#20891 Add dependency link for 3.5
  doc/devel/min_dep_policy.rst
Labels: Documentation

#20893 Backport PR #20892 on branch v3.5.x (Label pylab as "discouraged" instead of "disapproved")
  doc/api/index.rst
Labels: Documentation

#20894 Backport PR #20891 on branch v3.5.x (Add dependency link for 3.5)
  doc/devel/min_dep_policy.rst
Labels: Documentation

#20885 Fix broken QApplication init in a test.
  lib/matplotlib/tests/test_backend_qt.py
Labels: topic: testing

#20898 Reword BoundaryNorm docs.
  lib/matplotlib/colors.py
Labels: Documentation

#20927 Backport PR #20924 on branch v3.5.x (Improve `path.py` docstrings a bit)
  lib/matplotlib/path.py
Labels: Documentation

#20928 Backport PR #20889 on branch v3.5.x (Fix clearing selector)
  doc/users/next_whats_new/widget_clear.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#20919 Improve various release notes
  doc/api/prev_api_changes/api_changes_1.1.x.rst
  doc/api/prev_api_changes/api_changes_1.2.x.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_1.5.0.rst
  doc/api/prev_api_changes/api_changes_1.5.2.rst
  doc/api/prev_api_changes/api_changes_1.5.3.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/changelog.rst
  doc/users/prev_whats_new/github_stats_3.0.0.rst
  doc/users/prev_whats_new/github_stats_3.0.1.rst
  doc/users/prev_whats_new/github_stats_3.0.2.rst
  doc/users/prev_whats_new/github_stats_3.0.3.rst
  doc/users/prev_whats_new/github_stats_3.1.0.rst
  doc/users/prev_whats_new/github_stats_3.1.1.rst
  doc/users/prev_whats_new/github_stats_3.1.2.rst
  doc/users/prev_whats_new/github_stats_3.1.3.rst
  doc/users/prev_whats_new/github_stats_3.2.0.rst
  doc/users/prev_whats_new/github_stats_3.2.1.rst
  doc/users/prev_whats_new/github_stats_3.2.2.rst
  doc/users/prev_whats_new/github_stats_3.3.0.rst
  doc/users/prev_whats_new/github_stats_3.3.1.rst
  doc/users/prev_whats_new/github_stats_3.3.2.rst
  doc/users/prev_whats_new/github_stats_3.3.3.rst
  doc/users/prev_whats_new/github_stats_3.3.4.rst
  doc/users/prev_whats_new/github_stats_3.4.0.rst
  doc/users/prev_whats_new/github_stats_3.4.1.rst
  doc/users/prev_whats_new/github_stats_3.4.2.rst
  doc/users/prev_whats_new/whats_new_0.98.4.rst
  doc/users/prev_whats_new/whats_new_0.99.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
  doc/users/prev_whats_new/whats_new_1.2.2.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/prev_whats_new/whats_new_2.2.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  doc/users/prev_whats_new/whats_new_3.2.0.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  doc/users/prev_whats_new/whats_new_3.4.0.rst
  doc/users/release_notes.rst
  doc/users/release_notes_next.rst
  tools/github_stats.py
Labels: Documentation

#20937 Fix documented allowed values for Patch.set_edgecolor.
  lib/matplotlib/patches.py
Labels: Documentation

#20938 Fix missorted changelog entry.
  doc/users/release_notes.rst
Labels: Documentation

#20940 Backport PR #20938 on branch v3.5.x (Fix missorted changelog entry.)
  doc/users/release_notes.rst
Labels: Documentation

#20939 Backport PR #20937 on branch v3.5.x (Fix documented allowed values for Patch.set_edgecolor.)
  lib/matplotlib/patches.py
Labels: Documentation

#20941 Fix variable capitalization in plot types headings
  plot_types/basic/pie.py
  plot_types/basic/plot.py
  plot_types/basic/scatter_plot.py
Labels: Documentation

#20947 Backport PR #20941 on branch v3.5.x (Fix variable capitalization in plot types headings)
  plot_types/basic/pie.py
  plot_types/basic/plot.py
  plot_types/basic/scatter_plot.py
Labels: Documentation

#20851 Try to install the Noto Sans CJK font
  .circleci/config.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  lib/matplotlib/tests/test_font_manager.py
Labels: topic: testing, topic: text/fonts

#20944 Switch documented deprecations in mathtext by `__getattr__` deprecations
  lib/matplotlib/mathtext.py
Labels: Maintenance

#20948 Backport PR #20944 on branch v3.5.x (Switch documented deprecations in mathtext by `__getattr__` deprecations)
  lib/matplotlib/mathtext.py
Labels: Maintenance

#20934 Backport PR #20919 on branch v3.5.x (Improve various release notes)"
  doc/api/prev_api_changes/api_changes_1.1.x.rst
  doc/api/prev_api_changes/api_changes_1.2.x.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_1.5.0.rst
  doc/api/prev_api_changes/api_changes_1.5.2.rst
  doc/api/prev_api_changes/api_changes_1.5.3.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/changelog.rst
  doc/users/prev_whats_new/github_stats_3.0.0.rst
  doc/users/prev_whats_new/github_stats_3.0.1.rst
  doc/users/prev_whats_new/github_stats_3.0.2.rst
  doc/users/prev_whats_new/github_stats_3.0.3.rst
  doc/users/prev_whats_new/github_stats_3.1.0.rst
  doc/users/prev_whats_new/github_stats_3.1.1.rst
  doc/users/prev_whats_new/github_stats_3.1.2.rst
  doc/users/prev_whats_new/github_stats_3.1.3.rst
  doc/users/prev_whats_new/github_stats_3.2.0.rst
  doc/users/prev_whats_new/github_stats_3.2.1.rst
  doc/users/prev_whats_new/github_stats_3.2.2.rst
  doc/users/prev_whats_new/github_stats_3.3.0.rst
  doc/users/prev_whats_new/github_stats_3.3.1.rst
  doc/users/prev_whats_new/github_stats_3.3.2.rst
  doc/users/prev_whats_new/github_stats_3.3.3.rst
  doc/users/prev_whats_new/github_stats_3.3.4.rst
  doc/users/prev_whats_new/github_stats_3.4.0.rst
  doc/users/prev_whats_new/github_stats_3.4.1.rst
  doc/users/prev_whats_new/github_stats_3.4.2.rst
  doc/users/prev_whats_new/whats_new_0.98.4.rst
  doc/users/prev_whats_new/whats_new_0.99.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
  doc/users/prev_whats_new/whats_new_1.2.2.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.0.0.rst
  doc/users/prev_whats_new/whats_new_2.1.0.rst
  doc/users/prev_whats_new/whats_new_2.2.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  doc/users/prev_whats_new/whats_new_3.2.0.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  doc/users/prev_whats_new/whats_new_3.4.0.rst
  doc/users/release_notes.rst
  doc/users/release_notes_next.rst
  tools/github_stats.py
Labels: Documentation

#20931 API: rename draw_no_output to draw_without_rendering
  doc/users/next_whats_new/fig_draw_no_output.rst
  doc/users/next_whats_new/fig_draw_without_rendering.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_units.py
Labels: Release critical

#20954 Backport PR #20931 on branch v3.5.x (API: rename draw_no_output to draw_without_rendering)
  doc/users/next_whats_new/fig_draw_no_output.rst
  doc/users/next_whats_new/fig_draw_without_rendering.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_units.py
Labels: Release critical
