Repository matplotlib/matplotlib, pull requests merged in 2021-07, with the labels that each got.

#20558 Rename recently introduced parameters in SpanSelector
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#20465 Remove remaining 3.3 deprecations
  doc/api/animation_api.rst
  doc/api/artist_api.rst
  doc/api/next_api_changes/removals/20465-ES.rst
  doc/api/prev_api_changes/api_changes_0.98.0.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/_enums.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/bezier.py
  lib/matplotlib/docstring.py
  lib/matplotlib/image.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/transforms.py
  lib/matplotlib/widgets.py
Labels: Maintenance, topic: animation, topic: path handling, topic: transforms and scales, topic: widgets/UI

#20527 Factor out DEBUG_TRUETYPE checks in ttconv, & removals of unused defs.
  extern/ttconv/pprdrv.h
  extern/ttconv/pprdrv_tt.cpp
  extern/ttconv/pprdrv_tt2.cpp
  extern/ttconv/ttutil.cpp
Labels: Maintenance, topic: text/fonts

#20547 Raise if passed invalid kwargs to set_constrained_layout_pads.
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: API: argument checking

#20559 Fix deprecation of encoding in plot_directive.
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/tinypages/some_plots.rst
Labels: topic: sphinx extension

#20561 Fix limits in plot types example hist(x)
  plot_types/stats/hist_plot.py
Labels: Documentation

#20563 Expire deprecation of passing nbins to MaxNLocator in two ways
  doc/api/next_api_changes/removals/20563-TH.rst
  lib/matplotlib/ticker.py
Labels: Maintenance

#20570 Reduce vertical margins in property tables
  doc/_static/mpl.css
Labels: Documentation

#20562 More concise how to for subplot adjustment
  doc/faq/howto_faq.rst
  examples/pyplots/auto_subplots_adjust.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/tight_layout_guide.py
Labels: Documentation

#20515 Shorten the implementation of bxp().
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#20538 Show box/arrowstyle parameters in reference examples.
  examples/shapes_and_collections/fancybox_demo.py
  examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation

#20572 Clarify allowable backend switches in matplotlib.use().
  lib/matplotlib/__init__.py
Labels: Documentation

#20573 Move the marker path example into the marker reference
  .flake8
  examples/lines_bars_and_markers/marker_reference.py
  examples/shapes_and_collections/marker_path.py
  lib/matplotlib/markers.py
Labels: Documentation

#20510 Consistent capitalization of section headers
  doc/api/next_api_changes.rst
  doc/devel/coding_guide.rst
  doc/devel/color_changes.rst
  doc/devel/contributing.rst
  doc/devel/min_dep_policy.rst
  doc/devel/release_guide.rst
  doc/devel/style_guide.rst
  doc/devel/triage.rst
  doc/faq/environment_variables_faq.rst
  doc/resources/index.rst
  doc/users/github_stats.rst
  doc/users/index.rst
  doc/users/interactive.rst
  doc/users/interactive_guide.rst
  doc/users/license.rst
  tools/github_stats.py
Labels: Documentation, status: needs review

#20571 Switch default ArrowStyle angle values from None to zero.
  lib/matplotlib/patches.py
Labels: Maintenance

#20511 Fix calls to np.ma.masked_where
  lib/matplotlib/colors.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_quiver.py
Labels: third-party integration

#20514 Fix example for rcParams['autolimit_mode']
  examples/ticks_and_spines/auto_ticks.py
Labels: Documentation

#20578 Backport PR #20511 on branch v3.4.x (Fix calls to np.ma.masked_where)
  lib/matplotlib/colors.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_quiver.py
Labels: third-party integration

#20574 Add tricontourf hatching example
  examples/images_contours_and_fields/tricontour_demo.py
Labels: Documentation

#20374 Check modification times of included RST files
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
  lib/matplotlib/tests/tinypages/included_plot_21.rst
  lib/matplotlib/tests/tinypages/some_plots.rst
Labels: topic: sphinx extension

#20590 Fix class docstrings for Norms created from Scales.
  lib/matplotlib/colors.py
Labels: Documentation

#20594 Backport PR #20590 on branch v3.4.x (Fix class docstrings for Norms created from Scales.)
  lib/matplotlib/colors.py
Labels: Documentation

#19265 Change styling of slider widgets
  doc/users/next_whats_new/slider_styling.rst
  examples/widgets/slider_demo.py
  examples/widgets/slider_snap_demo.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: status: needs review, topic: widgets/UI

#18966 PR: Remove modality of figure options
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI/Qt, status: needs review

#20407 Turn shared_axes, stale_viewlims into {axis_name: value} dicts.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_subplots.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#20501 Colorbar redo again!
  doc/api/next_api_changes/behavior/20054-JMK.rst
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.pdf
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.png
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.svg
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_change_lim_scale.png
  lib/matplotlib/tests/baseline_images/test_colorbar/double_cbar.png
  lib/matplotlib/tests/baseline_images/test_contour/contour_manual_colors_and_levels.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: Release critical, status: needs review, topic: color/colorbar

#19495 Move svg basename detection down to RendererSVG.
  lib/matplotlib/backends/backend_svg.py
Labels: Maintenance, backend/svg

#20598 Don't forget to propagate kwargs from print_svgz to print_svg.
  lib/matplotlib/backends/backend_svg.py
Labels: backend/svg

#20481 Deprecate Colorbar.patch.
  doc/api/next_api_changes/behavior/20054-JMK.rst
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar

#20589 Add directional sizing cursors
  doc/api/next_api_changes/deprecations/19441-AL.rst
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/web_backend/js/mpl.js
  src/_macosx.m
Labels: GUI/Qt, GUI/gtk, GUI/osx, GUI/tk, GUI/wx, New feature

#20600 Inline _print_svg into its only call site (print_svg).
  lib/matplotlib/backends/backend_svg.py
Labels: Maintenance, backend/svg

#20601 Hide some `_SelectorWidget` state internals.
  doc/api/next_api_changes/deprecations/20601-ES.rst
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#20498 Adapt the release guide to the new release notes structure
  doc/api/next_api_changes.rst
  doc/devel/release_guide.rst
  doc/users/next_whats_new.rst
Labels: Documentation

#20621 TST/DOC: just run circle once...
  .circleci/config.yml
  .github/workflows/circleci.yml
Labels: Documentation

#20605 Add \dddot and \ddddot as accents in mathtext
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  tutorials/text/mathtext.py
Labels: topic: text/mathtext

#20582 Fix twoslopenorm colorbar
  lib/matplotlib/colors.py
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_twoslope.png
  lib/matplotlib/tests/test_colorbar.py
  tutorials/colors/colormapnorms.py
Labels: Release critical, topic: color/color & colormaps, topic: color/colorbar

#20450 [Doc] Font Types and Font Subsetting
  doc/users/fonts.rst
  doc/users/index.rst
Labels: Documentation, Documentation/new page, status: needs revision

#20629 Add protection against out-of-bounds read in ttconv
  extern/ttconv/pprdrv_tt.cpp
  lib/matplotlib/tests/baseline_images/test_backend_ps/type42_without_prep.eps
  lib/matplotlib/tests/test_backend_ps.py
Labels: topic: text/fonts

#20643 Backport PR #20597 on branch v3.4.x
  extern/ttconv/pprdrv_tt.cpp
Labels: backend/ps, topic: text/fonts

#20642 Backport PR #20629 on branch v3.4.x (Add protection against out-of-bounds read in ttconv)
  extern/ttconv/pprdrv_tt.cpp
  lib/matplotlib/tests/baseline_images/test_backend_ps/type42_without_prep.eps
  lib/matplotlib/tests/test_backend_ps.py
Labels: topic: text/fonts

#20636 Use set_xticks(ticks, labels) instead of a separate set_xticklabels()
  examples/axes_grid1/make_room_for_ylabel_using_axesgrid.py
  examples/axes_grid1/simple_axisline4.py
  examples/axisartist/demo_ticklabel_alignment.py
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/lines_bars_and_markers/bar_label_demo.py
  examples/lines_bars_and_markers/barchart.py
  examples/lines_bars_and_markers/barh.py
  examples/lines_bars_and_markers/broken_barh.py
  examples/lines_bars_and_markers/hat_graph.py
  examples/pyplots/auto_subplots_adjust.py
  examples/scales/log_bar.py
  examples/showcase/integral.py
  examples/specialty_plots/mri_with_eeg.py
  examples/statistics/barchart_demo.py
  examples/statistics/boxplot_vs_violin.py
  examples/statistics/customized_violin.py
  examples/statistics/multiple_histograms_side_by_side.py
  examples/style_sheets/ggplot.py
  examples/style_sheets/style_sheets_reference.py
  examples/text_labels_and_annotations/multiline.py
  examples/ticks_and_spines/spines_bounds.py
  examples/units/bar_unit_demo.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation

#20615 Font 42 kerning
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_text/text_pdf_font42_kerning.pdf
  lib/matplotlib/tests/test_text.py
Labels: topic: text/fonts

#20626 Simplify curvilinear grid examples.
  examples/axisartist/demo_curvelinear_grid.py
  examples/axisartist/demo_curvelinear_grid2.py
Labels: Documentation, topic: mpl_toolkit

#20638 Small simplifications to FixedAxisArtistHelper.
  doc/api/next_api_changes/deprecations/20638-AL.rst
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: Maintenance, topic: mpl_toolkit

#20663 Document $MPLSETUPCFG.
  doc/faq/environment_variables_faq.rst
Labels: Documentation

#20664 Reword docs about fallbacks on headless linux.
  doc/faq/environment_variables_faq.rst
  tutorials/introductory/usage.py
Labels: Documentation

#20669 Cleanup related to usage of axs
  examples/color/custom_cmap.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/style_sheets/ggplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_image.py
Labels: Maintenance

#20671 Standardize description of kwargs in legend_handler.
  lib/matplotlib/legend_handler.py
Labels: topic: legend

#20585 Rename parameter selectors
  doc/api/next_api_changes/deprecations/20585-EP.rst
  examples/widgets/span_selector.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#20675 Shorten the `@deprecated` docs.
  lib/matplotlib/_api/deprecation.py
Labels: Documentation

#20678 Clarify comment about backend_pgf.writeln.
  lib/matplotlib/backends/backend_pgf.py
Labels: Documentation, backend/pgf

#20676 Fix bounds when initialising `SpanSelector`
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#20546 Improve tutorial figures in the new theme
  examples/axes_grid1/simple_axes_divider1.py
  examples/userdemo/connectionstyle_demo.py
  tutorials/colors/colormap-manipulation.py
  tutorials/colors/colormaps.py
  tutorials/colors/colors.py
  tutorials/introductory/sample_plots.py
  tutorials/text/annotations.py
  tutorials/text/mathtext.py
  tutorials/text/usetex.py
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation

#20555 Fix the way to get xs length in set_3d_properties()
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: PR: bugfix, status: needs review, topic: mplot3d

#20405 ENH: expose make_norm_from_scale
  doc/api/colors_api.rst
  doc/api/next_api_changes/behavior/20405-JMK.rst
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps, topic: color/colorbar

#20645 Fix leak if affine_transform is passed invalid vertices.
  src/_path_wrapper.cpp
Labels: topic: path handling

#20683 Backport PR #20645 on branch v3.4.x (Fix leak if affine_transform is passed invalid vertices.)
  src/_path_wrapper.cpp
Labels: topic: path handling

#20606 Dynamically generate CbarAxes.
  doc/api/next_api_changes/deprecations/20606-AL.rst
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axisartist/axes_grid.py
Labels: topic: mpl_toolkit

#20648 Simplify barchart_demo
  examples/statistics/barchart_demo.py
Labels: Documentation

#20254 Define FloatingAxes boundary patch in data coordinates.
  doc/api/next_api_changes/deprecations/20254-AL.rst
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/tests/test_axisartist_floating_axes.py
Labels: Maintenance, topic: mpl_toolkit

#20689 Fix some very unlikely leaks in extensions.
  src/_backend_agg_wrapper.cpp
  src/_contour_wrapper.cpp
  src/_image_wrapper.cpp
  src/_path_wrapper.cpp
  src/ft2font_wrapper.cpp
  src/qhull_wrap.cpp
  src/tri/_tri_wrapper.cpp
Labels: Maintenance

#18869 Add __version_info__ as a tuple-based version identifier
  doc/users/next_whats_new/version_info.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_matplotlib.py
Labels: New feature

#20702 DOC: add note about contouring algorithm
  lib/matplotlib/contour.py
Labels: Documentation

#20692 Small cleanups to hatch.py.
  doc/api/next_api_changes/behavior/20692-AL.rst
  lib/matplotlib/hatch.py
Labels: Maintenance

#20471 add interactive colorbar example to gallery
  examples/userdemo/colormap_interactive_adjustment.py
Labels: Documentation/new page, topic: color/colorbar

#20680 CI: Build merged version on CircleCI
  .circleci/config.yml
  .github/workflows/circleci.yml
  azure-pipelines.yml
  doc/devel/coding_guide.rst
Labels: Build, Maintenance

#20707 Rename a confusingly named variable in backend_pdf.
  lib/matplotlib/backends/backend_pdf.py
Labels: Maintenance

#20670 Support markevery on figure-level lines.
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_lines.py
Labels: New feature

#20701 Small cleanup to GTK backend
  .github/workflows/tests.yml
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk, Maintenance

#20709 Fix Circle merge on master branch.
  .circleci/config.yml
Labels: Build, Documentation

#20633 Emit non BMP chars as XObjects in PDF
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_text/text_pdf_chars_beyond_bmp.pdf
  lib/matplotlib/tests/test_text.py
Labels: backend/pdf, topic: text/fonts

#20710 Fix tests with Inkscape 1.1.
  lib/matplotlib/tests/test_axes.py
Labels: third-party integration, topic: testing

#20687 Enable PyPy wheels for v3.4.x
  .github/workflows/cibuildwheel.yml
  src/_path.h
Labels: Build

#20713 Backport PR #20710 on branch v3.4.x (Fix tests with Inkscape 1.1.)
  lib/matplotlib/tests/test_axes.py
Labels: third-party integration, topic: testing

#20634 Implement Type-1 decryption
  doc/api/next_api_changes/behavior/20634-JKS.rst
  lib/matplotlib/tests/test_type1font.py
  lib/matplotlib/type1font.py
Labels: topic: text/fonts

#20719 Fix color normalization in plot types scatter
  plot_types/basic/scatter_plot.py
Labels: Documentation

#20727 DOC/TST make circle faster
  doc/conf.py
Labels: Documentation, topic: testing

#20728 Fix broken link in 'Contributing' docs
  doc/devel/contributing.rst
Labels: Documentation

#20620 Move set_cursor from the toolbar to FigureCanvas.
  doc/api/next_api_changes/deprecations/20620-ES.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
Labels: API: changes, status: needs rebase

#20732 Fix style in `assert(x)`.
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_preprocess_data.py
Labels: Maintenance

#20731 Improved implementation of Path.copy and deepcopy
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_path.py
Labels: PR: bugfix

#20686 Fix interaction between make_keyword_only and pyplot generation.
  doc/api/next_api_changes/deprecations/20686-AL.rst
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  tools/boilerplate.py
Labels: Maintenance

#20737 DOC: new index page
  doc/index.rst
Labels: Documentation

#20391 Type42 subsetting in PS/PDF
  .github/workflows/tests.yml
  doc/api/next_api_changes/development/20391-AG.rst
  doc/devel/dependencies.rst
  doc/users/next_whats_new/subsetting.rst
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_ps.py
  requirements/testing/minver.txt
  setup.py
  src/_ttconv.cpp
Labels: topic: text/fonts

#20743 Set the canvas cursor when using a SpanSelector
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#20688 issue form files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.md
  .github/ISSUE_TEMPLATE/maintenance.yml
Labels: Maintenance, status: needs comment/discussion

#20748 Ensure _static directory exists before copying CSS.
  lib/matplotlib/sphinxext/plot_directive.py
Labels: topic: sphinx extension

#20751 Backport PR #20748 on branch v3.4.x (Ensure _static directory exists before copying CSS.)
  lib/matplotlib/sphinxext/plot_directive.py
Labels: topic: sphinx extension

#20756 Add new external resource: Python Graph Gallery
  doc/resources/index.rst
Labels: Documentation

#20759 Modernize mathtext examples
  examples/text_labels_and_annotations/mathtext_asarray.py
  examples/text_labels_and_annotations/mathtext_examples.py
  examples/text_labels_and_annotations/mathtext_fontfamily_example.py
Labels: Documentation, topic: text/mathtext

#20758 FIX: pass colorbar.set_ticklabels down to long_axis
  lib/matplotlib/colorbar.py
Labels: API: consistency, topic: color/colorbar, topic: ticks axis labels

#20761 Fix suplabel autopos
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: topic: geometry manager

#20744 Add an example showing alternate mouse cursors.
  examples/widgets/mouse_cursor.py
Labels: Documentation

#20602 Merge EllipseSelector example together with RectangleSelector.
  examples/widgets/rectangle_selector.py
  lib/matplotlib/widgets.py
Labels: Documentation, topic: widgets/UI

#20763 Backport PR #20761 on branch v3.4.x (Fix suplabel autopos)
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: topic: geometry manager

#20729 Support vmin/vmax with bins='log' in hexbin
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: consistency, status: needs review

#20706 Include `underscore.sty`
  doc/api/next_api_changes/development/20706-AP.rst
  doc/devel/dependencies.rst
  lib/matplotlib/tests/test_usetex.py
  lib/matplotlib/texmanager.py
Labels: topic: text/usetex

#20766 Fix line dash offset format in PS output
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: PR: bugfix, backend/ps

#20768 Avoid using gca() in examples.
  examples/axes_grid1/simple_anchored_artists.py
  examples/scales/custom_scale.py
  examples/text_labels_and_annotations/text_alignment.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
Labels: Documentation

#20769 Simplify backend_ps._nums_to_str.
  lib/matplotlib/backends/backend_ps.py
Labels: Maintenance, backend/ps
