Repository matplotlib/matplotlib, pull requests merged in 2021-03, with the labels that each got.

#19517 Deprecate toplevel is_url, URL_REGEX helpers.
  doc/api/next_api_changes/deprecations/19517-AL.rst
  lib/matplotlib/__init__.py
Labels: Maintenance

#19583 FIX: check for a set during color conversion
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Release critical, topic: color/color & colormaps

#19613 Backport PR #19546 on branch v3.4.x (Move unrendered README.wx to thirdpartypackages/index.rst.)
  doc/thirdpartypackages/index.rst
  examples/user_interfaces/README.wx
Labels: Documentation, GUI/wx

#19566 add docstring to ax.quiver
  lib/matplotlib/quiver.py
Labels: Documentation

#19615 Backport PR #19583 on branch v3.4.x (FIX: check for a set during color conversion)
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Release critical, topic: color/color & colormaps

#19617 Backport PR #19571 on branch v3.4.x (Fail early when setting Text color to a non-colorlike.)
  lib/matplotlib/colors.py
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: API: argument checking, topic: text

#19616 Backport PR #19577 on branch v3.4.x (Fix "return"->"enter" mapping in key names.)
  lib/matplotlib/cbook/__init__.py
Labels: GUI/gtk, GUI/tk, Release critical

#19586 DOC: more improve date example
  examples/text_labels_and_annotations/date.py
Labels: Documentation

#19620 Remove suggestion to remove rk4/rk45 integrators from streamplot.
  lib/matplotlib/streamplot.py
Labels: Documentation, Maintenance

#19606 Remove versionadded notes; correct doc link
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#19548 Increase tolerances for other arches.
  lib/matplotlib/tests/test_arrow_patches.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: testing

#19630 Backport PR #19596 on branch v3.4.x (Fix for issue 17769: wx interactive figure close cause crash)
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#19629 Backport PR #19548 on branch v3.4.x (Increase tolerances for other arches.)
  lib/matplotlib/tests/test_arrow_patches.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: testing

#19600 DOC: better intro for dates.py
  lib/matplotlib/dates.py
Labels: Documentation

#19621 Dedupe docstrings of Figure.{get_axes,axes}.
  lib/matplotlib/figure.py
Labels: Maintenance

#19622 Prefer Axes.remove() over Figure.delaxes() in docs.
  tutorials/intermediate/artists.py
Labels: Documentation

#19582 Add kerning to single-byte strings in PDFs
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_text/text_pdf_kerning.pdf
  lib/matplotlib/tests/test_text.py
Labels: backend/pdf, topic: text

#19626 Clean up E265 in examples.
  examples/axes_grid1/demo_axes_grid2.py
  examples/axisartist/simple_axisline.py
  examples/color/named_colors.py
  examples/event_handling/timers.py
  examples/images_contours_and_fields/irregulardatagrid.py
  examples/images_contours_and_fields/tricontour_smooth_delaunay.py
  examples/images_contours_and_fields/tricontour_smooth_user.py
  examples/images_contours_and_fields/trigradient_demo.py
  examples/mplot3d/subplot3d.py
  examples/mplot3d/trisurf3d_2.py
  examples/pie_and_polar_charts/nested_pie.py
  examples/pyplots/whats_new_1_subplot3d.py
  examples/specialty_plots/topographic_hillshading.py
  examples/text_labels_and_annotations/annotation_demo.py
  examples/text_labels_and_annotations/line_with_text.py
  examples/user_interfaces/embedding_in_wx2_sgskip.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
Labels: Documentation

#19637 Backport PR #19582 on branch v3.4.x (Add kerning to single-byte strings in PDFs)
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_text/text_pdf_kerning.pdf
  lib/matplotlib/tests/test_text.py
Labels: backend/pdf, topic: text

#19611 Fix double picks.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: Release critical

#19645 Fix comment in RectangleSelector
  lib/matplotlib/widgets.py
Labels: Documentation

#19643 Don't turn check_for_pgf into public API.
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/tests/test_backend_bases.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Release critical, topic: testing

#19641 Fix Bbox.frozen() not copying minposx/minposy
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
Labels: topic: transforms and scales

#19625 Restore _AxesStack to track a Figure's Axes order.
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: Release critical

#19618 FIX: make the cache in font_manager._get_font keyed by thread id
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: Release critical

#19649 Use globals() instead of locals() for adding colormaps as names to cm module
  lib/matplotlib/cm.py
Labels: topic: color/color & colormaps

#19659 Improve docs for rgba conversion
  lib/matplotlib/colors.py
Labels: Documentation

#19646 Add angle setter/getter to Rectangle
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: API: consistency

#19661 Fix CoC link
  doc/devel/contributing.rst
Labels: Documentation, Release critical

#19653 deprecate_privatize_attribute also works for privatizing methods.
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_api.py
Labels: Maintenance

#19663 ENH: add a copy method to colormaps
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps

#19668 Backport PR #19663 on branch v3.4.x (ENH: add a copy method to colormaps)
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps

#19655 Deprecate Tick.apply_tickdir.
  doc/api/axis_api.rst
  doc/api/next_api_changes/deprecations/19655-AL.rst
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

#19402 Build aarch64 wheels
  .github/workflows/cibuildwheel.yml
Labels: Build, Release critical

#19654 Dedupe various method implementations using functools.partialmethod.
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/testing/jpl_units/Duration.py
  lib/matplotlib/testing/jpl_units/Epoch.py
  lib/matplotlib/testing/jpl_units/UnitDbl.py
Labels: Maintenance

#19665 Changed FormatStrFormatter documentation to include how to get unicode minus
  lib/matplotlib/ticker.py
Labels: Documentation

#19671 Fix crash in early window raise in gtk3.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#19690 Only warn about existing redirects if content differs.
  doc/sphinxext/redirect_from.py
Labels: Documentation

#19695 DOC: Increase size of headings
  doc/_static/fonts/Carlogo-bolditalic.ttf
  doc/_static/mpl.css
Labels: Documentation

#19636 Correctly check inaxes for multicursor
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: widgets/UI

#19704 Cleanup license page in docs
  doc/users/license.rst
Labels: Documentation

#19707 DOC: fix dx in Arrow guide
  examples/shapes_and_collections/arrow_guide.py
Labels: Documentation

#19709 Fix arrow_guide.py typo
  examples/shapes_and_collections/arrow_guide.py
Labels: Documentation

#19717 Don't sort lexicographially entries in SVG output.
  lib/matplotlib/backends/backend_svg.py
Labels: Maintenance, backend/svg

#19679 Add inheritance diagram to patches docs
  doc/api/patches_api.rst
  lib/matplotlib/patches.py
Labels: Documentation

#19718 Small style fixes to matplotlibrc.template.
  matplotlibrc.template
Labels: Maintenance

#19505 Move some advanced documentation away from Installation Guide
  INSTALL.rst
  doc/api/next_api_changes/deprecations/17662-TAC.rst
  doc/devel/dependencies.rst
  doc/devel/index.rst
  doc/devel/release_guide.rst
Labels: Documentation

#19719 Respect antialiasing settings in cairo backends as well.
  lib/matplotlib/backends/backend_cairo.py
  matplotlibrc.template
Labels: backend/cairo

#19733 Reword AutoDateFormatter docs.
  lib/matplotlib/dates.py
Labels: Documentation, topic: date handling

#19734 Remove unused _fonts attribute in RendererSVG.
  lib/matplotlib/backends/backend_svg.py
Labels: Maintenance, backend/svg

#19732 Reword the axis_artist module docstring.
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: Documentation, topic: mpl_toolkit

#19740 Minor backend docstring fixes.
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_pdf.py
Labels: Documentation

#19741 Only override pickradius when picker is not a bool.
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_lines.py
Labels: Release critical

#19713 DOC: Prepare What's new page for 3.4.0.
  doc/conf.py
  doc/users/next_whats_new/2019-06-28-AL.rst
  doc/users/next_whats_new/2019-08_tac.rst
  doc/users/next_whats_new/2019-11-06_auto-labeling-for-bar-charts.rst
  doc/users/next_whats_new/2019-11-12_bar_container_accepts_orientation.rst
  doc/users/next_whats_new/2019-12-22_transform-rotates-text-direction.rst
  doc/users/next_whats_new/2020-01-09-AL.rst
  doc/users/next_whats_new/2020-04-12-spines.rst
  doc/users/next_whats_new/2020-04-26-merged-rasterizations.rst
  doc/users/next_whats_new/2020-05-26-cl-subplot.rst
  doc/users/next_whats_new/2020-07-15-errorbar-cycling.rst
  doc/users/next_whats_new/alpha_array.rst
  doc/users/next_whats_new/axes_class.rst
  doc/users/next_whats_new/axes_kwargs_collision.rst
  doc/users/next_whats_new/axline_transform.rst
  doc/users/next_whats_new/bar_hatches.rst
  doc/users/next_whats_new/bracket_angle.rst
  doc/users/next_whats_new/callables_for_formatting_sankey_labels.rst
  doc/users/next_whats_new/centerednorm.rst
  doc/users/next_whats_new/collection_color_handling.rst
  doc/users/next_whats_new/colorbar_position.rst
  doc/users/next_whats_new/colormap_get_under_over_bad.rst
  doc/users/next_whats_new/colormap_repr.rst
  doc/users/next_whats_new/date_usetex.rst
  doc/users/next_whats_new/errorbar_errorevery.rst
  doc/users/next_whats_new/errorbars_3d.rst
  doc/users/next_whats_new/mathtext.rst
  doc/users/next_whats_new/mplot3d_modification.rst
  doc/users/next_whats_new/multiple_labels_for_Axes_plot.rst
  doc/users/next_whats_new/panning_3d.rst
  doc/users/next_whats_new/pausing_animations.rst
  doc/users/next_whats_new/pcolormesh_alpha_improvement.rst
  doc/users/next_whats_new/pdf_urls.rst
  doc/users/next_whats_new/range_slider.rst
  doc/users/next_whats_new/rcparams_dates.rst
  doc/users/next_whats_new/set_colors_ticks_and_ticklabels_rcparams.rst
  doc/users/next_whats_new/slider_snap_to_array.rst
  doc/users/next_whats_new/stem3d.rst
  doc/users/next_whats_new/stem_orientation.rst
  doc/users/next_whats_new/steppatch_and_stairs.rst
  doc/users/next_whats_new/subfigures.rst
  doc/users/next_whats_new/suplabels.rst
  doc/users/next_whats_new/top-left-shared-subplots.rst
  doc/users/prev_whats_new/whats_new_3.2.0.rst
  doc/users/prev_whats_new/whats_new_3.4.0.rst
  doc/users/whats_new.rst
Labels: Documentation

#19725 Cleanup installing docs
  INSTALL.rst
  doc/users/installing_source.rst
Labels: Documentation

#19751 Update some matplotlib.lines docstrings.
  lib/matplotlib/lines.py
Labels: Documentation

#19749 Remove unused _find_dedent_regex & _dedent_regex.
  lib/matplotlib/cbook/__init__.py
Labels: Maintenance

#19750 Simplify maxdict implementation.
  lib/matplotlib/cbook/__init__.py
Labels: Maintenance

#19753 Cleanup string formatting in backend_pgf.
  lib/matplotlib/backends/backend_pgf.py
Labels: Maintenance, backend/pgf

#19540 Share subplots() label visibility handling with label_outer().
  lib/matplotlib/axes/_subplots.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/tests/test_subplots.py
Labels: topic: ticks axis labels

#19746 Fix resizing in nbAgg.
  lib/matplotlib/backends/web_backend/js/nbagg_mpl.js
Labels: GUI/nbagg, Release critical

#19758 DOC: fix minor typo from 19725
  INSTALL.rst
Labels: Documentation

#19728 Factor out clip-path attr handling in backend_svg.
  lib/matplotlib/backends/backend_svg.py
Labels: Maintenance, backend/svg

#19752 Cleanup backend_tools docstrings, and minor refactorings.
  lib/matplotlib/backend_tools.py
Labels: Documentation, Maintenance

#19756 Minor cleanup of documentation guide
  doc/devel/documenting_mpl.rst
  doc/users/license.rst
Labels: Documentation

#19762 FIX: do not report that webagg supports blitting
  lib/matplotlib/backends/backend_webagg_core.py
Labels: Release critical

#19760 Speed up _delete_parameter.
  lib/matplotlib/_api/deprecation.py
Labels: Performance

#19727 DOC: simplify API index
  doc/_templates/layout.html
  doc/api/index.rst
Labels: Documentation

#19766 Set colormap modification removal to 3.6.
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#19535 Fix example's BasicUnit array conversion.
  .circleci/config.yml
  examples/units/basic_units.py
Labels: Documentation, topic: units

#18971 Switch to setuptools_scm.
  .flake8
  .git_archival.txt
  .gitattributes
  .github/workflows/tests.yml
  .gitignore
  MANIFEST.in
  doc/conf.py
  doc/devel/contributing.rst
  doc/devel/release_guide.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/_version.py
  lib/matplotlib/figure.py
  setup.py
  setupext.py
  versioneer.py
Labels: Build

#19774 Document how to create sphinx-gallery references to examples
  doc/_static/mpl.css
  doc/devel/documenting_mpl.rst
  examples/lines_bars_and_markers/fill.py
Labels: Documentation

#19790 Small typo fixes to interactive guide.
  doc/users/interactive_guide.rst
Labels: Documentation

#19786 Fix code-of-conduct link on doc homepage.
  doc/index.rst
Labels: Documentation

#19801 Expire deprecation of mathtext.fallback_to_cm.
  doc/api/next_api_changes/removals/19801-AL.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_mathtext.py
Labels: Maintenance

#19806 Remove outdated api changes notes.
  doc/api/next_api_changes/removals/XXXXX-AL.rst
Labels: Documentation

#19796 Expire ``keymap.all_axes``-related deprecations.
  doc/api/next_api_changes/removals/19796-AL.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/rcsetup.py
Labels: Maintenance

#19795 Remove usetex-related APIs deprecated in Matplotlib 3.3.
  doc/api/next_api_changes/deprecations/19795-AL.rst
  doc/api/next_api_changes/removals/19795-AL.rst
  examples/text_labels_and_annotations/usetex_baseline_test.py
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/dviread.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/texmanager.py
Labels: Maintenance, topic: text/usetex

#19793 Fix non existent URI s
  doc/sphinxext/redirect_from.py
Labels: Documentation

#19819 Correct small typos in _axes.py and legend.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/legend.py
Labels: Documentation

#19817 Fix antialiasing with old pycairo/cairocffi.
  lib/matplotlib/backends/backend_cairo.py
Labels: backend/cairo

#19814 Fix positioning of annotation arrow.
  lib/matplotlib/tests/baseline_images/test_axes/pie_center_radius.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/text.py
Labels: topic: text

#19805 Fix suptitle out of layout
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/baseline_images/test_bbox_tight/bbox_inches_tight_suptile_non_default.png
  lib/matplotlib/tests/test_bbox_tight.py
Labels: topic: geometry manager

#19822 Clarify default backend selection doc.
  doc/sphinxext/custom_roles.py
  tutorials/introductory/usage.py
Labels: Documentation

#19824 Access pdf annotations while inside pikepdf.Pdf context manager.
  lib/matplotlib/tests/test_backend_pdf.py
Labels: backend/pdf, topic: testing

#19816 Fix legend of colour-mapped scatter plots.
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#19811 Fix Inkscape cleanup at exit on Windows.
  lib/matplotlib/testing/compare.py
Labels: OS/Microsoft, backend/svg, topic: testing

#19812 FIX: size and color rendering for Path3DCollection
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter_spiral.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: Release critical

#19603 Remove matplotlibrc.template.
  .gitignore
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/tests/test_rcparams.py
  setup.py
  tutorials/introductory/customizing.py
Labels: Build
