Repository matplotlib/matplotlib, pull requests merged in 2021-10, with the labels that each got.

#21237 DOC: Add fill_between to plot_types
  plot_types/basic/fill_between.py
Labels: Documentation

#21241 Backport PR #21237 on branch v3.5.x (DOC: Add fill_between to plot_types)
  plot_types/basic/fill_between.py
Labels: Documentation

#20907 Move sigint tests into subprocesses
  .appveyor.yml
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/Qt, topic: testing

#21226 DOC: Adapt some colors in examples
  examples/lines_bars_and_markers/fill_between_alpha.py
  examples/lines_bars_and_markers/filled_step.py
  examples/lines_bars_and_markers/gradient_bar.py
  examples/lines_bars_and_markers/stackplot_demo.py
Labels: Documentation

#21245 Backport PR #21226 on branch v3.5.x (DOC: Adapt some colors in examples)
  examples/lines_bars_and_markers/fill_between_alpha.py
  examples/lines_bars_and_markers/filled_step.py
  examples/lines_bars_and_markers/gradient_bar.py
  examples/lines_bars_and_markers/stackplot_demo.py
Labels: Documentation

#21244 Backport PR #20907 on branch v3.5.x (Move sigint tests into subprocesses)
  .appveyor.yml
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI/Qt, topic: testing

#21247 Fix release notes typos.
  doc/users/prev_whats_new/whats_new_3.5.0.rst
Labels: Documentation

#21240 DOC: Fix source links and flake8 cleanup
  .flake8
  README.rst
  doc/conf.py
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: Documentation

#21249 Fix some syntax highlights in coding and contributing guide.
  doc/devel/coding_guide.rst
  doc/devel/contributing.rst
Labels: Documentation

#21250 DOC: Remove examples/README
  examples/README
Labels: Documentation

#21254 Backport PR #21249 on branch v3.5.x (Fix some syntax highlights in coding and contributing guide.)
  doc/devel/coding_guide.rst
  doc/devel/contributing.rst
Labels: Documentation

#21248 Backport PR #21247 on branch v3.5.x (Fix release notes typos.)
  doc/users/prev_whats_new/whats_new_3.5.0.rst
Labels: Documentation

#21261 Backport PR #21240: DOC: Fix source links and flake8 cleanup
  .flake8
  README.rst
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#21260 DOC: Fix source links to prereleases
  doc/conf.py
Labels: Documentation

#21262 Backport PR #21250 on branch v3.5.x (DOC: Remove examples/README)
  examples/README
Labels: Documentation

#21236 DOC: Update interactive colormap example
  examples/images_contours_and_fields/colormap_interactive_adjustment.py
Labels: Documentation

#21264 DOC: Fix footnote that breaks PDF builds
  examples/subplots_axes_and_figures/figure_size_units.py
Labels: Documentation

#21265 Backport PR #21264 on branch v3.5.x (DOC: Fix footnote that breaks PDF builds)
  examples/subplots_axes_and_figures/figure_size_units.py
Labels: Documentation

#21269 Don't use pixelDelta() on X11.
  lib/matplotlib/backends/backend_qt.py
Labels: Release critical, GUI/Qt

#21273 Backport PR #21269 on branch v3.5.x (Don't use pixelDelta() on X11.)
  lib/matplotlib/backends/backend_qt.py
Labels: Release critical, GUI/Qt

#20715 Improve Type-1 font parsing
  LICENSE/LICENSE_COURIERTEN
  doc/api/next_api_changes/behavior/20715-JKS.rst
  lib/matplotlib/tests/Courier10PitchBT-Bold.pfb
  lib/matplotlib/tests/test_type1font.py
  lib/matplotlib/type1font.py
Labels: topic: text/fonts

#21263 Ensure internal FreeType matches Python compile
  setupext.py
Labels: Build

#21276 Add language about not assigning issues
  doc/devel/contributing.rst
Labels: Documentation

#20914 19195 rotated markers
  doc/users/next_whats_new/extending_MarkerStyle.rst
  examples/lines_bars_and_markers/marker_reference.py
  examples/lines_bars_and_markers/multivariate_marker_plot.py
  lib/matplotlib/lines.py
  lib/matplotlib/markers.py
  lib/matplotlib/tests/test_marker.py
Labels: New feature, status: needs review, topic: markers

#21275 Fix format_cursor_data for values close to float resolution.
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical, topic: images

#21281 Backport PR #21275 on branch v3.5.x (Fix format_cursor_data for values close to float resolution.)
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical, topic: images

#21266 Fix #21101 Add validator to errorbar method
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: argument checking

#21282 Fix incorrect markup in example.
  examples/axes_grid1/scatter_hist_locatable_axes.py
Labels: Documentation

#21284 Backport PR #21282 on branch v3.5.x (Fix incorrect markup in example.)
  examples/axes_grid1/scatter_hist_locatable_axes.py
Labels: Documentation

#21290 DOC: Fix some lists in animation examples
  examples/animation/animate_decay.py
  examples/animation/pause_resume.py
Labels: Documentation

#21292 Backport PR #21290 on branch v3.5.x (DOC: Fix some lists in animation examples)
  examples/animation/animate_decay.py
  examples/animation/pause_resume.py
Labels: Documentation

#21279 Fix freetype wheel building
  setupext.py
Labels: Build

#21288 Allow macosx thread safety test on macOS11
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing

#21293 Fix snap argument to pcolormesh
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#21297 Backport PR #21293 on branch v3.5.x (Fix snap argument to pcolormesh)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#21291 DOC: Bump to the sphinx-gallery release
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: Documentation, Maintenance

#21486 Backport PR #21478 on branch v3.5.x (Fix GTK4 embedding example)
  lib/matplotlib/backends/_backend_gtk.py
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk4agg.py
Labels: GUI/gtk

#21483 Backport PR #21387 on branch v3.5.x (Fix path simplification of closed loops)
  lib/matplotlib/tests/test_simplification.py
  lib/matplotlib/tests/test_transforms.py
  src/_backend_agg.cpp
  src/_backend_agg.h
  src/_path.h
  src/path_converters.h
  src/py_adaptors.h
Labels: Release critical, topic: path handling

#21481 FIX: spanning subfigures
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager

#21504 Backport PR #21481 on branch v3.5.x (FIX: spanning subfigures)
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager
