Repository matplotlib/matplotlib, pull requests merged in 2021-06, with the labels that each got.

#20334 Remove need for ConversionInterface to support unitless values.
  doc/api/next_api_changes/deprecations/20334-AL.rst
  examples/units/basic_units.py
  examples/units/evans_test.py
  lib/matplotlib/axis.py
  lib/matplotlib/category.py
  lib/matplotlib/testing/jpl_units/EpochConverter.py
  lib/matplotlib/testing/jpl_units/StrConverter.py
  lib/matplotlib/testing/jpl_units/UnitDblConverter.py
  lib/matplotlib/tests/test_category.py
  lib/matplotlib/units.py
Labels: topic: units

#20336 Deduplicate color format specification
  lib/matplotlib/colors.py
  lib/matplotlib/legend_handler.py
  tutorials/colors/colors.py
Labels: Documentation

#20168 FIX: clean up re-limiting hysteresis
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_dates/date_empty.png
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_units.py
Labels: PR: bugfix, status: needs review, topic: units

#20337 Small unit-related cleanups.
  lib/matplotlib/units.py
Labels: Maintenance, topic: units

#20338 Fix some indent-related style lints.
  .flake8
  lib/matplotlib/__init__.py
  lib/matplotlib/_cm.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_mlab.py
  lib/matplotlib/tests/test_type1font.py
  lib/matplotlib/tests/tinypages/conf.py
Labels: Maintenance

#20339 Cleanup autoscale-related docstrings.
  lib/matplotlib/axes/_base.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#20349 Fix missing write in TTStreamWriter::printf.
  extern/ttconv/ttutil.cpp
Labels: backend/ps, topic: text/fonts

#20353 Remove incorrect statement about data-kwarg interface.
  lib/matplotlib/__init__.py
Labels: Documentation

#20362 Add research notice
  README.rst
Labels: Documentation

#20365 Reorganize a bit text-related rcs in matplotlibrc.
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation, topic: rcparams

#20376 Small improvements to canvasagg example.
  examples/user_interfaces/canvasagg.py
Labels: Documentation

#20378 Redirect agg_buffer{,_to_array} examples to canvasagg.
  examples/misc/agg_buffer.py
  examples/misc/agg_buffer_to_array.py
  examples/user_interfaces/canvasagg.py
Labels: Documentation

#20377 Cleanup some examples titles & texts.
  examples/axes_grid1/demo_colorbar_of_inset_axes.py
  examples/axes_grid1/demo_edge_colorbar.py
  examples/axes_grid1/demo_fixed_size_axes.py
  examples/axes_grid1/demo_imagegrid_aspect.py
  examples/axisartist/demo_axis_direction.py
  examples/axisartist/demo_floating_axis.py
  examples/subplots_axes_and_figures/subplot_demo.py
  examples/text_labels_and_annotations/demo_annotation_box.py
Labels: Documentation

#20369 Switch version scheme to release-branch-semver.
  setup.py
Labels: Build

#20381 Prevent corrections and completions in search field
  doc/_templates/layout.html
  doc/_templates/search.html
Labels: Documentation

#20383 Backport PR #20381 on branch v3.4.x (Prevent corrections and completions in search field)
  doc/_templates/layout.html
  doc/_templates/search.html
Labels: Documentation

#20384 Backport PR #20154 on branch v3.4.2-doc (ci: Bump Ubuntu to 18.04 LTS.)
  .github/workflows/tests.yml
  azure-pipelines.yml
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_mixedmode.pdf
  lib/matplotlib/tests/test_backend_pgf.py
Labels: Maintenance, topic: testing

#20382 Backport PR #20381 on branch v3.4.2-doc (Prevent corrections and completions in search field)
  doc/_templates/layout.html
  doc/_templates/search.html
Labels: Documentation

#20393 Remove non-informative figure captions.
  tutorials/toolkits/axisartist.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation

#20394 Remove separate section for support of 3d subplots.
  doc/users/prev_whats_new/whats_new_0.99.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
  tutorials/introductory/sample_plots.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation, topic: mplot3d

#20373 Handle direction="column" in axes_grid.Grid
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit

#20331 Remove Axis, Tick, and Axes deprecations from 3.3
  doc/api/axes_api.rst
  doc/api/next_api_changes/removals/20331-ES.rst
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_axes.py
Labels: Maintenance, topic: axes, topic: ticks axis labels

#20132 Create changelog page
  doc/api/api_changes_old.rst
  doc/api/index.rst
  doc/api/next_api_changes.rst
  doc/conf.py
  doc/users/index.rst
  doc/users/next_whats_new.rst
  doc/users/release_notes.rst
  doc/users/release_notes_next.rst
  doc/users/whats_new_old.rst
Labels: Documentation

#20348 codecs.getwriter has simpler lifetime semantics than TextIOWrapper.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: Maintenance

#20386 Merge arrow_simple_demo into arrow_guide.
  examples/shapes_and_collections/arrow_guide.py
  examples/text_labels_and_annotations/arrow_simple_demo.py
Labels: Documentation

#20293 Simplify font setting in usetex mode
  doc/users/next_whats_new/simplify_font_setting_usetex.rst
  lib/matplotlib/tests/test_texmanager.py
  lib/matplotlib/texmanager.py
  tutorials/text/usetex.py
Labels: topic: text/fonts, topic: text/usetex

#20215 Quadmesh.set_array validates dimensions
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: API: argument checking

#20327 FIX: fix colorbars with no scales
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_twoslope.png
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
Labels: Release critical, topic: color/colorbar

#20408 Remove mention of now-removed Encoding class.
  lib/matplotlib/dviread.py
Labels: Documentation, Maintenance

#20390 Cleanup arrow_demo.
  examples/text_labels_and_annotations/arrow_demo.py
Labels: Documentation

#20165 Slightly improve output of dvi debug utilities, and tiny cleanups.
  lib/matplotlib/dviread.py
Labels: Maintenance, topic: text/usetex

#20244 Inline and simplify SubplotToolQt.
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/qt_editor/_formsubplottool.py
Labels: GUI/Qt, Maintenance, topic: widgets/UI

#20363 Don't disable path clipping on paths with codes.
  lib/matplotlib/tests/test_patheffects.py
  lib/matplotlib/tests/test_simplification.py
  src/_backend_agg.h
  src/_path.h
Labels: topic: path handling

#20410 PGF: Clip lines/markers to maximum LaTeX dimensions.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#20346 Clarify/Improve docs on family-names vs generic-families
  examples/text_labels_and_annotations/font_family_rc_sgskip.py
  tutorials/text/text_props.py
Labels: Documentation, topic: text/fonts

#20427 Fix references in ArrowStyle docstring.
  lib/matplotlib/patches.py
Labels: Documentation, topic: arrow

#20431 Fix indentation of Arrow/Box/Connection styles tables.
  lib/matplotlib/patches.py
Labels: Documentation

#20430 Improve fancyarrow_demo.
  examples/text_labels_and_annotations/fancyarrow_demo.py
  lib/matplotlib/patches.py
Labels: Documentation, topic: arrow

#20397 Improve hexbin() documentation
  examples/statistics/hexbin_demo.py
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#20428 Deprecate public use of get_path_in_displaycoord.
  doc/api/next_api_changes/deprecations/20428-AL.rst
  lib/matplotlib/patches.py
Labels: topic: arrow

#20398 Document Axes.get_aspect()
  lib/matplotlib/axes/_base.py
Labels: Documentation

#20432 Small doc cleanups.
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/markers.py
  tutorials/intermediate/gridspec.py
Labels: Documentation

#20416 Fix missing Patch3DCollection._z_markers_idx
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#20441 Backport PR #20416 on branch v3.4.x (Fix missing Patch3DCollection._z_markers_idx)
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#20399 Improve example for 3D polygons
  examples/mplot3d/polys3d.py
Labels: Documentation

#20445 Small cleanups to backend_ps.
  lib/matplotlib/backends/backend_ps.py
Labels: Maintenance, backend/ps

#20292 Cleanup plot types docs
  plot_types/README.rst
  plot_types/arrays/README.rst
  plot_types/arrays/contourf.py
  plot_types/arrays/imshow.py
  plot_types/arrays/pcolormesh.py
  plot_types/arrays/quiver.py
  plot_types/arrays/streamplot.py
  plot_types/basic/README.rst
  plot_types/basic/bar.py
  plot_types/basic/pie.py
  plot_types/basic/plot.py
  plot_types/basic/scatter_plot.py
  plot_types/basic/stem.py
  plot_types/basic/step.py
  plot_types/stats/README.rst
  plot_types/stats/barbs.py
  plot_types/stats/boxplot_plot.py
  plot_types/stats/errorbar_plot.py
  plot_types/stats/eventplot.py
  plot_types/stats/hexbin.py
  plot_types/stats/hist2d.py
  plot_types/stats/hist_plot.py
  plot_types/stats/violin.py
  plot_types/unstructured/tricontour.py
  plot_types/unstructured/tripcolor.py
  plot_types/unstructured/triplot.py
Labels: Documentation

#20400 Make pdftex.map parsing stricter
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/baseline_images/dviread/test.map
  lib/matplotlib/tests/test_dviread.py
Labels: backend/pdf, topic: text

#20284 Use a GtkApplication in GTK backend.
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#20436 Add missing super __init__ in subclasses
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/textpath.py
Labels: Maintenance

#20414 ENH: add colorbar info to gridspec cbar
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar

#20447 Remove Figure/Axes/Axis deprecations from 3.3
  doc/api/next_api_changes/removals/20447-ES.rst
  doc/api/prev_api_changes/api_changes_3.3.0/deprecations.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_subplots.py
  tools/boilerplate.py
Labels: Maintenance

#20453 Remove `Tick.apply_tickdir` from 3.4 deprecations.
  doc/api/prev_api_changes/api_changes_3.4.0/deprecations.rst
Labels: Documentation

#20446 Make used tex packages consistent between ps and other backends.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/tests/test_backend_ps.py
Labels: topic: text/usetex

#20454 Tell LGTM to use Python 3 explicitly.
  .lgtm.yml
Labels: Maintenance

#20442 Fix dvi baseline detector when `\usepackage{chemformula}` is used.
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_usetex.py
Labels: topic: text/usetex

#20457 Rename data variables in histogram example.
  examples/statistics/hist.py
Labels: Documentation

#20456 Backport PR #20453 on branch v3.4.x (Remove `Tick.apply_tickdir` from 3.4 deprecations.)
  doc/api/prev_api_changes/api_changes_3.4.0/deprecations.rst
Labels: Documentation

#20455 Backport PR #20453 on branch v3.4.2-doc (Remove `Tick.apply_tickdir` from 3.4 deprecations.)
  doc/api/prev_api_changes/api_changes_3.4.0/deprecations.rst
Labels: Documentation

#20438 Fix deprecation of `Tick.apply_tickdir`.
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: ticks axis labels

#20460 Shorten the AnchoredOffsetbox docstring.
  lib/matplotlib/offsetbox.py
Labels: Documentation

#20464 tinypages/conf.py doesn't need to manipulate sys.path.
  lib/matplotlib/tests/tinypages/conf.py
Labels: Maintenance, topic: testing

#20354 Merge Colorbar and ColorbarBase.
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  examples/color/colorbar_basics.py
  examples/images_contours_and_fields/image_masked.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#20437 Use packaging to do version comparisons.
  .github/workflows/tests.yml
  examples/units/basic_units.py
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/tinypages/conf.py
  lib/matplotlib/texmanager.py
  requirements/testing/minver.txt
  setup.py
Labels: Maintenance

#20467 Small cleanups to sphinxext.plot_directive.
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Maintenance, topic: sphinx extension

#20475 Less pyplot, more OO in docs.
  examples/axes_grid1/demo_colorbar_of_inset_axes.py
Labels: Documentation

#19731 DOC: first pass at switching to pydata theme
  doc/_static/fonts/Carlogo-bold.ttf
  doc/_static/fonts/Carlogo-bolditalic.ttf
  doc/_static/fonts/Carlogo-italic.ttf
  doc/_static/fonts/Carlogo-regular.ttf
  doc/_static/fonts/carlogo-bold.woff
  doc/_static/fonts/carlogo-bold.woff2
  doc/_static/fonts/carlogo-bolditalic.woff
  doc/_static/fonts/carlogo-bolditalic.woff2
  doc/_static/fonts/carlogo-italic.woff
  doc/_static/fonts/carlogo-italic.woff2
  doc/_static/fonts/carlogo-regular.woff
  doc/_static/fonts/carlogo-regular.woff2
  doc/_static/mpl.css
  doc/_templates/layout.html
  doc/api/index.rst
  doc/conf.py
  doc/contents.rst
  doc/devel/contributing.rst
  doc/devel/documenting_mpl.rst
  doc/devel/index.rst
  doc/users/index.rst
  requirements/doc/doc-requirements.txt
Labels: Documentation

#20473 _GSConverter: handle stray 'GS' in output gracefully
  lib/matplotlib/testing/compare.py
Labels: topic: testing

#20477 remove _master attribute from FigureCanvasTk
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#20476 give Font a root widget
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#20474 Make lack of support more explicit for non-postscript fonts + usetex.
  doc/api/next_api_changes/deprecations/20474-AL.rst
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_dviread.py
Labels: topic: text/usetex

#20478 Backport PR #20473 on branch v3.4.x (_GSConverter: handle stray 'GS' in output gracefully)
  lib/matplotlib/testing/compare.py
Labels: topic: testing

#20466 Various cleanups to pgf backend.
  doc/api/next_api_changes/deprecations/20466-AL.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: Maintenance, backend/pgf

#20485 DOC: hexbin 'extent' must be 4-tuple of float, not float
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#20497 Remove obsolete footnote on pyside
  doc/devel/dependencies.rst
Labels: Documentation

#20495 Fix shape of Z in contour docs
  lib/matplotlib/contour.py
Labels: Documentation

#20499 Simplify plot types pie()
  plot_types/basic/pie.py
Labels: Documentation

#20500 DOC: Add twitter icon and fix logo link
  doc/conf.py
Labels: Documentation

#20488 FIX: Include 0 when checking lognorm vmin
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: color/color & colormaps

#20503 Backport PR #20488 on branch v3.4.x (FIX: Include 0 when checking lognorm vmin)
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: color/color & colormaps

#20449 Suppress repeated logwarns in postscript output.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend/ps

#20505 Add rc_context to customizing tutorial
  examples/lines_bars_and_markers/linestyles.py
  tutorials/introductory/customizing.py
Labels: Documentation

#20507 Merge subplot_toolbar example into subplots_adjust.
  examples/subplots_axes_and_figures/subplot_toolbar.py
  examples/subplots_axes_and_figures/subplots_adjust.py
Labels: Documentation

#20513 Shorten the bxp docstring.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#20493 Cleanup AnchoredOffsetbox-related demos.
  .flake8
  examples/misc/anchored_artists.py
  examples/userdemo/anchored_box01.py
  examples/userdemo/anchored_box02.py
  examples/userdemo/anchored_box03.py
  tutorials/text/annotations.py
Labels: Documentation

#20528 Merge subplot_demo into subplot example.
  doc/users/prev_whats_new/whats_new_1.0.rst
  examples/subplots_axes_and_figures/subplot.py
  examples/subplots_axes_and_figures/subplot_demo.py
  tutorials/introductory/pyplot.py
Labels: Documentation

#20439 Remove dead code from LGTM alerts.
  lib/matplotlib/axis.py
  lib/matplotlib/backends/web_backend/js/nbagg_mpl.js
  lib/matplotlib/figure.py
  lib/matplotlib/markers.py
  lib/matplotlib/offsetbox.py
Labels: Maintenance

#20536 Make most of annotation tutorial a comment, and remove figure titles.
  tutorials/text/annotations.py
Labels: Documentation

#20539 Document defaults in plot_directive.
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Documentation, topic: sphinx extension

#20541 Minor fix
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#20540 Deprecate :encoding: option to .. plot::, which has no effect since 2011
  doc/api/next_api_changes/deprecations/20540-AL.rst
  lib/matplotlib/sphinxext/plot_directive.py
Labels: topic: sphinx extension

#20533 Rename (N, M) -> (M, N) array-like
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/lines_bars_and_markers/filled_step.py
  lib/matplotlib/contour.py
Labels: Documentation

#20542 Fix ScalarFormatter.format_ticks for non-ordered tick locations.
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

#20509 Cleanup plot types
  plot_types/arrays/contourf.py
  plot_types/arrays/imshow.py
  plot_types/arrays/pcolormesh.py
  plot_types/arrays/quiver.py
  plot_types/basic/bar.py
  plot_types/basic/pie.py
  plot_types/basic/plot.py
  plot_types/basic/scatter_plot.py
  plot_types/basic/stem.py
  plot_types/basic/step.py
  plot_types/stats/barbs.py
  plot_types/stats/errorbar_plot.py
  plot_types/stats/eventplot.py
  plot_types/stats/hexbin.py
  plot_types/stats/hist2d.py
  plot_types/stats/hist_plot.py
  plot_types/stats/violin.py
  plot_types/unstructured/tricontour.py
  plot_types/unstructured/tripcolor.py
  plot_types/unstructured/triplot.py
Labels: Documentation

#20367 Add parse_math in Text and default it False for TextBox
  doc/api/next_api_changes/behavior/20367-AG.rst
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/matplotlib/widgets.py
Labels: topic: text, topic: widgets/UI

#20543 Deprecate `@pytest.mark.style(...)`.
  doc/api/next_api_changes/deprecations/20543-AL.rst
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_category.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_ticker.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: testing

#20451 Add initial TextBox widget testing
  lib/matplotlib/tests/test_widgets.py
Labels: topic: testing, topic: widgets/UI

#20524 Dedupe some box anchoring code between legend.py and offsetbox.py.
  lib/matplotlib/legend.py
  lib/matplotlib/offsetbox.py
Labels: Maintenance

#20113 Interactive span selector improvement
  doc/api/next_api_changes/deprecations/20113-EP.rst
  doc/users/next_whats_new/widget_dragging.rst
  examples/widgets/span_selector.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: New feature, status: needs review, topic: widgets/UI

#20535 Improve the documentation guide
  doc/devel/documenting_mpl.rst
Labels: Documentation
