Repository matplotlib/matplotlib, pull requests merged in 2021-09, with the labels that each got.

#20956 Make warning for no-handles legend more explicit.
  lib/matplotlib/legend.py
Labels: topic: legend

#20955 Remove unused HostAxes._get_legend_handles.
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: topic: legend, Maintenance

#20958 Backport PR #20956 on branch v3.5.x (Make warning for no-handles legend more explicit.)
  lib/matplotlib/legend.py
Labels: topic: legend

#20952 Redirect to new 3rd party packages page
  doc/thirdpartypackages/index.rst
Labels: Documentation: website

#20959 Backport PR #20952 on branch v3.5.x (Redirect to new 3rd party packages page)
  doc/thirdpartypackages/index.rst
Labels: Documentation: website

#20957 legend_handler_map cleanups.
  lib/matplotlib/legend.py
Labels: topic: legend, Maintenance

#20745 Clean up some Event class docs.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#20960 Backport PR #20745 on branch v3.5.x (Clean up some Event class docs.)
  lib/matplotlib/backend_bases.py
Labels: Documentation

#19553 ENH: Adding callbacks to Norms for update signals
  doc/users/next_whats_new/callbacks_on_norms.rst
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_image.py
Labels: New feature, status: needs review, topic: color/color & colormaps

#20965 BUG: Fix f_back is None handling
  lib/matplotlib/backends/backend_qt.py
Labels: Release critical

#20967 Backport PR #20965 on branch v3.5.x (BUG: Fix f_back is None handling)
  lib/matplotlib/backends/backend_qt.py
Labels: Release critical

#20966 Backport PR #19553 on branch v3.5.x (ENH: Adding callbacks to Norms for update signals)
  doc/users/next_whats_new/callbacks_on_norms.rst
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_image.py
Labels: New feature, topic: color/color & colormaps

#20961 Small cleanups to math_to_image.
  lib/matplotlib/mathtext.py
Labels: topic: text/mathtext, Maintenance

#20970 Build wheels for Apple Silicon.
  .github/workflows/cibuildwheel.yml
Labels: OS/Apple, Build

#20971 Backport PR #20970 on branch v3.5.x (Build wheels for Apple Silicon.)
  .github/workflows/cibuildwheel.yml
Labels: OS/Apple, Build

#20973 Docstring cleanups.
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/colors.py
  lib/matplotlib/lines.py
  lib/matplotlib/path.py
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axisartist/axisline_style.py
Labels: Documentation

#20975 Clarify support for 2D coordinate inputs to streamplot.
  lib/matplotlib/streamplot.py
Labels: Documentation

#20972 Cleanup some dviread docstrings.
  lib/matplotlib/dviread.py
Labels: Documentation

#20981 Backport PR #20975 on branch v3.5.x (Clarify support for 2D coordinate inputs to streamplot.)
  lib/matplotlib/streamplot.py
Labels: Documentation

#20942 DOC Use 'Axes' instead of 'axes' in axes._base.py
  lib/matplotlib/axes/_base.py
Labels: Documentation

#20982 Backport PR #20972 on branch v3.5.x (Cleanup some dviread docstrings.)
  lib/matplotlib/dviread.py
Labels: Documentation

#20983 Backport PR #20973 on branch v3.5.x (Docstring cleanups.)
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/colors.py
  lib/matplotlib/lines.py
  lib/matplotlib/path.py
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axisartist/axisline_style.py
Labels: Documentation

#20974 Rename symbol_name to glyph_name where appropriate.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
Labels: Maintenance

#20985 Backport PR #20942 on branch v3.5.x (DOC Use 'Axes' instead of 'axes' in axes._base.py)
  lib/matplotlib/axes/_base.py
Labels: Documentation

#20986 Make HandlerLine2D{,Compound} inherit constructors from HandlerNpoints.
  lib/matplotlib/legend_handler.py
Labels: topic: legend, Maintenance

#20997 Fix ToolManager + TextBox support.
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: MEP: MEP22, topic: widgets/UI

#21000 Backport PR #20997 on branch v3.5.x (Fix ToolManager + TextBox support.)
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: MEP: MEP22, topic: widgets/UI

#20987 FIX: colorbar with boundary norm, proportional, extend
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/proportional_colorbars.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#21002 Backport PR #20987 on branch v3.5.x (FIX: colorbar with boundary norm, proportional, extend)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/proportional_colorbars.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#21003 Deemphasize mpl_toolkits in API docs.
  doc/api/index.rst
  doc/api/toolkits/index.rst
  doc/api/toolkits/mplot3d.rst
  doc/api/toolkits/mplot3d/index.rst
  doc/devel/testing.rst
  doc/index.rst
Labels: Documentation

#21011 Backport PR #21003 on branch v3.5.x (Deemphasize mpl_toolkits in API docs.)
  doc/api/index.rst
  doc/api/toolkits/index.rst
  doc/api/toolkits/mplot3d.rst
  doc/api/toolkits/mplot3d/index.rst
  doc/devel/testing.rst
  doc/index.rst
Labels: Documentation

#21004 Remove now-unused rcParams _deprecated entries.
  lib/matplotlib/__init__.py
Labels: topic: rcparams, Maintenance

#20995 Deprecate some backend_gtk3 helper globals.
  doc/api/next_api_changes/deprecations/20995-AL.rst
  lib/matplotlib/backends/backend_gtk3.py
Labels: GUI/gtk

#21012 Use numpydoc for GridSpecFromSubplotSpec.__init__
  lib/matplotlib/gridspec.py
Labels: Documentation

#20994 Remove unused icon_filename, window_icon globals.
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI/gtk

#21013 Backport PR #21012 on branch v3.5.x (Use numpydoc for GridSpecFromSubplotSpec.__init__)
  lib/matplotlib/gridspec.py
Labels: Documentation

#21014 Backport PR #20994 on branch v3.5.x (Remove unused icon_filename, window_icon globals.)
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI/gtk

#20976 Separate tick and spine examples
  .flake8
  doc/users/prev_whats_new/whats_new_0.99.rst
  examples/axisartist/demo_axisline_style.py
  examples/axisartist/demo_parasite_axes.py
  examples/axisartist/demo_parasite_axes2.py
  examples/axisartist/simple_axisartist1.py
  examples/spines/README.txt
  examples/spines/centered_spines_with_arrows.py
  examples/spines/multiple_yaxis_with_spines.py
  examples/spines/spine_placement_demo.py
  examples/spines/spines.py
  examples/spines/spines_bounds.py
  examples/spines/spines_dropped.py
  examples/text_labels_and_annotations/date.py
  examples/ticks/README.txt
  examples/ticks/auto_ticks.py
  examples/ticks/centered_ticklabels.py
  examples/ticks/colorbar_tick_labelling_demo.py
  examples/ticks/custom_ticker1.py
  examples/ticks/date_concise_formatter.py
  examples/ticks/date_demo_convert.py
  examples/ticks/date_demo_rrule.py
  examples/ticks/date_index_formatter2.py
  examples/ticks/date_precision_and_epochs.py
  examples/ticks/major_minor_demo.py
  examples/ticks/scalarformatter.py
  examples/ticks/tick-formatters.py
  examples/ticks/tick-locators.py
  examples/ticks/tick_label_right.py
  examples/ticks/tick_labels_from_values.py
  examples/ticks/tick_xlabel_top.py
  examples/ticks/ticklabels_rotation.py
  examples/ticks_and_spines/README.txt
  lib/matplotlib/dates.py
  lib/matplotlib/ticker.py
Labels: Documentation

#21018 Backport PR #20976 on branch v3.5.x (Separate tick and spine examples)
  .flake8
  doc/users/prev_whats_new/whats_new_0.99.rst
  examples/axisartist/demo_axisline_style.py
  examples/axisartist/demo_parasite_axes.py
  examples/axisartist/demo_parasite_axes2.py
  examples/axisartist/simple_axisartist1.py
  examples/spines/README.txt
  examples/spines/centered_spines_with_arrows.py
  examples/spines/multiple_yaxis_with_spines.py
  examples/spines/spine_placement_demo.py
  examples/spines/spines.py
  examples/spines/spines_bounds.py
  examples/spines/spines_dropped.py
  examples/text_labels_and_annotations/date.py
  examples/ticks/README.txt
  examples/ticks/auto_ticks.py
  examples/ticks/centered_ticklabels.py
  examples/ticks/colorbar_tick_labelling_demo.py
  examples/ticks/custom_ticker1.py
  examples/ticks/date_concise_formatter.py
  examples/ticks/date_demo_convert.py
  examples/ticks/date_demo_rrule.py
  examples/ticks/date_index_formatter2.py
  examples/ticks/date_precision_and_epochs.py
  examples/ticks/major_minor_demo.py
  examples/ticks/scalarformatter.py
  examples/ticks/tick-formatters.py
  examples/ticks/tick-locators.py
  examples/ticks/tick_label_right.py
  examples/ticks/tick_labels_from_values.py
  examples/ticks/tick_xlabel_top.py
  examples/ticks/ticklabels_rotation.py
  examples/ticks_and_spines/README.txt
  lib/matplotlib/dates.py
  lib/matplotlib/ticker.py
Labels: Documentation

#21019 Reword custom_ticker1 example.
  examples/ticks/custom_ticker1.py
Labels: Documentation, topic: ticks axis labels

#21010 Avoid TransformedBbox where unneeded.
  lib/matplotlib/tight_bbox.py
  lib/matplotlib/tight_layout.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Performance, topic: transforms and scales

#21005 Test the rcParams deprecation machinery.
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: rcparams, topic: testing

#20518 Support sketch_params in pgf backend
  lib/matplotlib/artist.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#21022 Backport PR #20518 on branch v3.5.x ( Support sketch_params in pgf backend)
  lib/matplotlib/artist.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#21023 Inline ToolManager._trigger_tool to its sole call site.
  lib/matplotlib/backend_managers.py
Labels: MEP: MEP22, Maintenance

#21028 Minor homogeneization of markup for MEP titles.
  doc/devel/MEP/MEP15.rst
  doc/devel/MEP/MEP24.rst
  doc/devel/MEP/MEP27.rst
Labels: Documentation

#20980 FIX: remove colorbar from list of colorbars on axes
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#21029 Backport PR #21028 on branch v3.5.x (Minor homogeneization of markup for MEP titles.)
  doc/devel/MEP/MEP15.rst
  doc/devel/MEP/MEP24.rst
  doc/devel/MEP/MEP27.rst
Labels: Documentation

#21030 Backport PR #20980 on branch v3.5.x (FIX: remove colorbar from list of colorbars on axes)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#21021 Factor out for_layout_only backcompat support in get_tightlayout.
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tight_layout.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#21031 Make date.{converter,interval_multiples} rcvalidators side-effect free.
  doc/api/next_api_changes/behavior/21031-AL.rst
  lib/matplotlib/dates.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_dates.py
Labels: topic: rcparams, topic: date handling

#20949 Improve formatting of imshow() cursor data independently of colorbar.
  lib/matplotlib/artist.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/ticker.py
Labels: topic: color/color & colormaps

#21035 Backport PR #21031 on branch v3.5.x (Make date.{converter,interval_multiples} rcvalidators side-effect free.)
  doc/api/next_api_changes/behavior/21031-AL.rst
  lib/matplotlib/dates.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_dates.py
Labels: topic: rcparams, topic: date handling

#21037 Backport PR #20949 on branch v3.5.x (Improve formatting of imshow() cursor data independently of colorbar.)
  lib/matplotlib/artist.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/ticker.py
Labels: topic: color/color & colormaps

#21041 Prefer "none" to "None" in docs, examples and comments.
  examples/axes_grid1/inset_locator_demo.py
  examples/lines_bars_and_markers/marker_reference.py
  examples/shapes_and_collections/compound_path.py
  examples/statistics/errorbars_and_boxes.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#21045 Backport PR #21041 on branch v3.5.x (Prefer "none" to "None" in docs, examples and comments.)
  examples/axes_grid1/inset_locator_demo.py
  examples/lines_bars_and_markers/marker_reference.py
  examples/shapes_and_collections/compound_path.py
  examples/statistics/errorbars_and_boxes.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#21044 Support for forward/back mousebuttons on WX backend
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#20867 "inner" index reorganization
  .github/FUNDING.yml
  doc/_static/mpl.css
  doc/_templates/cheatsheet_sidebar.html
  doc/_templates/donate_sidebar.html
  doc/_templates/mpl_nav_bar.html
  doc/_templates/sidebar_versions.html
  doc/conf.py
  doc/contents.rst
  doc/faq/index.rst
  doc/index.rst
  doc/users/backmatter.rst
  doc/users/explain.rst
  doc/users/fonts.rst
  doc/users/index.rst
  examples/user_interfaces/test.bmp
  requirements/doc/doc-requirements.txt
Labels: Documentation, Documentation: website

#21048 Backport PR #21044 on branch v3.5.x (Support for forward/back mousebuttons on WX backend)
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#21052 Backport PR #20867 on branch v3.5.x ("inner" index reorganization)
  .github/FUNDING.yml
  doc/_static/mpl.css
  doc/_templates/cheatsheet_sidebar.html
  doc/_templates/donate_sidebar.html
  doc/_templates/mpl_nav_bar.html
  doc/_templates/sidebar_versions.html
  doc/conf.py
  doc/contents.rst
  doc/faq/index.rst
  doc/index.rst
  doc/users/backmatter.rst
  doc/users/explain.rst
  doc/users/fonts.rst
  doc/users/index.rst
  examples/user_interfaces/test.bmp
  requirements/doc/doc-requirements.txt
Labels: Documentation, Documentation: website

#21053 Fix validate_markevery docstring markup.
  lib/matplotlib/rcsetup.py
Labels: Documentation

#21058 Backport PR #21053 on branch v3.5.x (Fix validate_markevery docstring markup.)
  lib/matplotlib/rcsetup.py
Labels: Documentation

#21059 Remove dummy test command from setup.py
  setup.py
Labels: Build

#21060 Correct the default for fillstyle parameter in MarkerStyle()
  lib/matplotlib/markers.py
Labels: Documentation

#21062 Fix typo in template of current dev-docs
  doc/_templates/mpl_nav_bar.html
Labels: Documentation

#21063 Backport PR #21062 on branch v3.5.x (Fix typo in template of current dev-docs)
  doc/_templates/mpl_nav_bar.html
Labels: Documentation

#20913 [Doc] colors.to_hex input & output
  lib/matplotlib/colors.py
Labels: Documentation

#21064 Backport PR #20913 on branch v3.5.x ([Doc] colors.to_hex input & output)
  lib/matplotlib/colors.py
Labels: Documentation

#21066 Backport PR #21060 on branch v3.5.x (Correct the default for fillstyle parameter in MarkerStyle())
  lib/matplotlib/markers.py
Labels: Documentation

#21067 Remove generated file accidentally added in #20867
  .gitignore
  examples/user_interfaces/test.bmp
Labels: Maintenance

#21051 set_dashes does not support offset=None anymore.
  lib/matplotlib/backend_bases.py
  src/py_converters.cpp
Labels: Maintenance

#21049 Simplify setting Legend attributes
  lib/matplotlib/legend.py
Labels: Maintenance

#21025 Fix Cairo backends on HiDPI screens
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4cairo.py
  lib/matplotlib/backends/backend_qtcairo.py
  lib/matplotlib/backends/backend_tkcairo.py
  lib/matplotlib/backends/backend_wxcairo.py
  lib/matplotlib/tests/test_figure.py
Labels: backend/cairo

#21068 Backport PR #21067 on branch v3.5.x (Remove generated file accidentally added in #20867)
  .gitignore
  examples/user_interfaces/test.bmp
Labels: Maintenance

#21069 Backport PR #21051 on branch v3.5.x (set_dashes does not support offset=None anymore.)
  lib/matplotlib/backend_bases.py
  src/py_converters.cpp
Labels: Maintenance

#21070 Backport PR #21025 on branch v3.5.x (Fix Cairo backends on HiDPI screens)
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4cairo.py
  lib/matplotlib/backends/backend_qtcairo.py
  lib/matplotlib/backends/backend_tkcairo.py
  lib/matplotlib/backends/backend_wxcairo.py
  lib/matplotlib/tests/test_figure.py
Labels: backend/cairo

#21061 Remove most visible dependencies on distutils.
  setup.py
  setupext.py
Labels: Build

#21071 Backport PR #21061 on branch v3.5.x (Remove most visible dependencies on distutils.)
  setup.py
  setupext.py
Labels: Build

#21072 Use sysconfig directly instead of through distutils
  setupext.py
Labels: Build, Maintenance

#21073 Backport PR #21072 on branch v3.5.x (Use sysconfig directly instead of through distutils)
  setupext.py
Labels: Build, Maintenance

#21055 Support marker="none" to mean "no marker".
  doc/users/next_whats_new/marker_none.rst
  lib/matplotlib/legend_handler.py
  lib/matplotlib/markers.py
  lib/matplotlib/tests/test_axes.py
Labels: API: consistency

#20990 Explicit registration of canvas-specific tool subclasses.
  doc/api/next_api_changes/removals/20990-AL.rst
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/docstring.py
Labels: MEP: MEP22

#21078 Cache build dependencies on Circle
  .circleci/config.yml
  setupext.py
Labels: Build

#21079 Backport PR #21078 on branch v3.5.x (Cache build dependencies on Circle)
  .circleci/config.yml
  setupext.py
Labels: Build

#20988 Add HiDPI support in GTK.
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_gtk4agg.py
  lib/matplotlib/backends/backend_gtk4cairo.py
Labels: GUI/gtk

#21082 Fix layout of sidebar entries
  doc/_static/mpl.css
  doc/_templates/cheatsheet_sidebar.html
  doc/_templates/donate_sidebar.html
Labels: Documentation: website

#21085 Backport PR #21082 on branch v3.5.x (Fix layout of sidebar entries)
  doc/_static/mpl.css
  doc/_templates/cheatsheet_sidebar.html
  doc/_templates/donate_sidebar.html
Labels: Documentation: website

#21084 Backport PR #20988 on branch v3.5.x (Add HiDPI support in GTK.)
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_gtk4agg.py
  lib/matplotlib/backends/backend_gtk4cairo.py
Labels: GUI/gtk

#21088 Fix overindented bullet list in docs.
  doc/users/interactive.rst
Labels: Documentation

#21092 Backport PR #21088 on branch v3.4.x (Fix overindented bullet list in docs.)
  doc/users/interactive.rst
Labels: Documentation

#21089 Update sticky_edges docstring to new behavior.
  lib/matplotlib/artist.py
Labels: Documentation

#20903 Use release-branch version scheme
  lib/matplotlib/__init__.py
Labels: Build

#20935 Add ColormapsRegistry as experimental and add it to pyplot
  doc/api/pyplot_summary.rst
  doc/users/next_whats_new/colormaps.rst
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/demo_bboximage.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/lines_bars_and_markers/horizontal_barchart_distribution.py
  examples/mplot3d/polys3d.py
  examples/pie_and_polar_charts/nested_pie.py
  examples/userdemo/colormap_interactive_adjustment.py
  lib/matplotlib/cm.py
  lib/matplotlib/pyplot.py
Labels: topic: color/color & colormaps

#21098 Backport PR #20903 on branch v3.5.x (Use release-branch version scheme )
  lib/matplotlib/__init__.py
Labels: Build

#21091 Backport PR #21088 on branch v3.4.3-doc (Fix overindented bullet list in docs.)
  doc/users/interactive.rst
Labels: Documentation

#21100 Cleanup demo_tight_layout.
  examples/subplots_axes_and_figures/demo_tight_layout.py
Labels: Documentation

#21099 Backport PR #20935 on branch v3.5.x (Add ColormapsRegistry as experimental and add it to pyplot)
  doc/api/pyplot_summary.rst
  doc/users/next_whats_new/colormaps.rst
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/demo_bboximage.py
  examples/images_contours_and_fields/pcolormesh_levels.py
  examples/images_contours_and_fields/quadmesh_demo.py
  examples/lines_bars_and_markers/horizontal_barchart_distribution.py
  examples/mplot3d/polys3d.py
  examples/pie_and_polar_charts/nested_pie.py
  examples/userdemo/colormap_interactive_adjustment.py
  lib/matplotlib/cm.py
  lib/matplotlib/pyplot.py
Labels: topic: color/color & colormaps

#21083 Fix capitalizations
  doc/_templates/mpl_nav_bar.html
  doc/index.rst
  doc/users/backmatter.rst
  doc/users/index.rst
  doc/users/release_notes_next.rst
Labels: Documentation: website

#21034 Make rcParams["backend"] backend fallback check rcParams identity first.
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: rcparams

#21103 Backport PR #21089 on branch v3.5.x (Update sticky_edges docstring to new behavior.)
  lib/matplotlib/artist.py
Labels: Documentation

#21105 Backport PR #21083 on branch v3.5.x (Fix capitalizations)
  doc/_templates/mpl_nav_bar.html
  doc/index.rst
  doc/users/backmatter.rst
  doc/users/index.rst
  doc/users/release_notes_next.rst
Labels: Documentation: website

#21106 Backport PR #21034 on branch v3.5.x (Make rcParams["backend"] backend fallback check rcParams identity first.)
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: rcparams

#21102 Backport PR #21100 on branch v3.5.x (Cleanup demo_tight_layout.)
  examples/subplots_axes_and_figures/demo_tight_layout.py
Labels: Documentation

#21087 Move colormap examples from userdemo to images_contours_and_fields.
  examples/images_contours_and_fields/colormap_interactive_adjustment.py
  examples/images_contours_and_fields/colormap_normalizations.py
  examples/images_contours_and_fields/colormap_normalizations_symlognorm.py
Labels: Documentation

#21104 Remove the index and module index pages
  doc/conf.py
  doc/contents.rst
Labels: Documentation: website

#21109 Backport PR #21104 on branch v3.5.x (Remove the index and module index pages)
  doc/conf.py
  doc/contents.rst
Labels: Documentation: website

#21115 Improve errorbar plot types example
  plot_types/stats/README.rst
  plot_types/stats/errorbar_plot.py
Labels: Documentation

#20951 [ENH]: data kwarg support for mplot3d #20912
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#21111 Rename section title Gallery -> Examples
  examples/README.txt
Labels: Documentation

#21116 Adapt css so that galleries have four columns
  doc/_static/mpl.css
Labels: Documentation: website

#21119 Backport PR #21116 on branch v3.5.x (Adapt css so that galleries have four columns)
  doc/_static/mpl.css
Labels: Documentation: website

#21120 Backport PR #21115 on branch v3.5.x (Improve errorbar plot types example)
  plot_types/stats/README.rst
  plot_types/stats/errorbar_plot.py
Labels: Documentation

#21086 Capitalization fixes in example section titles.
  examples/axes_grid1/README.txt
  examples/axisartist/README.txt
  examples/pyplots/README.txt
Labels: Documentation

#21121 Backport PR #21111 on branch v3.5.x (Rename section title Gallery -> Examples)
  examples/README.txt
Labels: Documentation

#21123 Simplify/uniformize sample data setup in plot_types examples.
  plot_types/arrays/contourf.py
  plot_types/arrays/imshow.py
  plot_types/arrays/pcolormesh.py
  plot_types/unstructured/tricontour.py
  plot_types/unstructured/tripcolor.py
Labels: Documentation

#21128 Backport PR #21123 on branch v3.5.x (Simplify/uniformize sample data setup in plot_types examples.)
  plot_types/arrays/contourf.py
  plot_types/arrays/imshow.py
  plot_types/arrays/pcolormesh.py
  plot_types/unstructured/tricontour.py
  plot_types/unstructured/tripcolor.py
Labels: Documentation

#21125 Backport PR #21086 on branch v3.5.x (Capitalization fixes in example section titles.)
  examples/axes_grid1/README.txt
  examples/axisartist/README.txt
  examples/pyplots/README.txt
Labels: Documentation

#21129 Fix decenter of image in gallery thumbnails
  doc/_static/mpl.css
Labels: Documentation: website

#21093 DOC: clarify what we mean by object oriented in pyplot api
  lib/matplotlib/pyplot.py
Labels: Documentation

#21130 Backport PR #21129 on branch v3.5.x (Fix decenter of image in gallery thumbnails)
  doc/_static/mpl.css
Labels: Documentation: website

#21124 Tweak streamplot plot_types example.
  plot_types/arrays/streamplot.py
Labels: Documentation

#21132 Backport PR #21093 on branch v3.5.x (DOC: clarify what we mean by object oriented in pyplot api)
  lib/matplotlib/pyplot.py
Labels: Documentation

#21134 Backport PR #21124 on branch v3.5.x (Tweak streamplot plot_types example.)
  plot_types/arrays/streamplot.py
Labels: Documentation

#21131 Fix polar() regression on second call failure
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: Release critical

#21138 Backport PR #21131 on branch v3.5.x (Fix polar() regression on second call failure)
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: Release critical

#21139 Backport PR #21131 on branch v3.4.x (Fix polar() regression on second call failure)
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: Release critical

#21137 Small cleanups to colorbar.
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar, Maintenance

#19515 Colorbar axis zoom and pan
  doc/api/next_api_changes/behavior/19515-GL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: New feature, topic: color/colorbar

#21143 Backport PR #19515 on branch v3.5.x (Colorbar axis zoom and pan)
  doc/api/next_api_changes/behavior/19515-GL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: New feature, topic: color/colorbar

#21146 Fix clim handling for pcolor{,mesh}.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: color/color & colormaps

#21145 Fix format_cursor_data with nans.
  lib/matplotlib/artist.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical, topic: color/color & colormaps

#21141 Fix DATA_PARAMETER_PLACEHOLDER interpolation for quiver&contour{,f}.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
Labels: Documentation

#21150 Backport PR #21145 on branch v3.5.x (Fix format_cursor_data with nans.)
  lib/matplotlib/artist.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical, topic: color/color & colormaps

#21151 Backport PR #21141 on branch v3.5.x (Fix DATA_PARAMETER_PLACEHOLDER interpolation for quiver&contour{,f}.)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
Labels: Documentation

#21149 Backport PR #21146 on branch v3.5.x (Fix clim handling for pcolor{,mesh}.)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: color/color & colormaps

#21154 Increase marker size in double_pendulum example.
  examples/animation/double_pendulum.py
Labels: Documentation, topic: animation

#21153 Improve curve_error_band example.
  examples/lines_bars_and_markers/curve_error_band.py
Labels: Documentation

#21140 Docstring cleanups around DATA_PARAMETER_PLACEHOLDER.
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#21156 Backport PR #21154 on branch v3.5.x (Increase marker size in double_pendulum example.)
  examples/animation/double_pendulum.py
Labels: Documentation, topic: animation

#21152 Rename `**kw` to `**kwargs`.
  lib/matplotlib/axis.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_quiver.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: Maintenance

#17096 Add conda environment.yml for developers
  environment.yml
Labels: Documentation, Build

#21157 Backport PR #21153 on branch v3.5.x (Improve curve_error_band example.)
  examples/lines_bars_and_markers/curve_error_band.py
Labels: Documentation

#21158 Backport PR #21140 on branch v3.5.x (Docstring cleanups around DATA_PARAMETER_PLACEHOLDER.)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#21136 More (minor) plot types gallery fixes.
  doc/sphinxext/gallery_order.py
  lib/matplotlib/mpl-data/stylelib/_mpl-gallery-nogrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/_mpl-gallery.mplstyle
  plot_types/arrays/contour.py
  plot_types/arrays/contourf.py
  plot_types/arrays/imshow.py
  plot_types/arrays/pcolormesh.py
  plot_types/arrays/quiver.py
  plot_types/arrays/streamplot.py
  plot_types/basic/bar.py
  plot_types/basic/pie.py
  plot_types/basic/plot.py
  plot_types/basic/scatter_plot.py
  plot_types/basic/stem.py
  plot_types/basic/step.py
  plot_types/stats/barbs.py
  plot_types/stats/boxplot_plot.py
  plot_types/stats/errorbar_plot.py
  plot_types/stats/eventplot.py
  plot_types/stats/hexbin.py
  plot_types/stats/hist2d.py
  plot_types/stats/hist_plot.py
  plot_types/stats/violin.py
  plot_types/unstructured/tricontour.py
  plot_types/unstructured/tricontourf.py
  plot_types/unstructured/tripcolor.py
  plot_types/unstructured/triplot.py
Labels: Documentation

#21160 Backport PR #21136 on branch v3.5.x (More (minor) plot types gallery fixes.)
  doc/sphinxext/gallery_order.py
  lib/matplotlib/mpl-data/stylelib/_mpl-gallery-nogrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/_mpl-gallery.mplstyle
  plot_types/arrays/contour.py
  plot_types/arrays/contourf.py
  plot_types/arrays/imshow.py
  plot_types/arrays/pcolormesh.py
  plot_types/arrays/quiver.py
  plot_types/arrays/streamplot.py
  plot_types/basic/bar.py
  plot_types/basic/pie.py
  plot_types/basic/plot.py
  plot_types/basic/scatter_plot.py
  plot_types/basic/stem.py
  plot_types/basic/step.py
  plot_types/stats/barbs.py
  plot_types/stats/boxplot_plot.py
  plot_types/stats/errorbar_plot.py
  plot_types/stats/eventplot.py
  plot_types/stats/hexbin.py
  plot_types/stats/hist2d.py
  plot_types/stats/hist_plot.py
  plot_types/stats/violin.py
  plot_types/unstructured/tricontour.py
  plot_types/unstructured/tricontourf.py
  plot_types/unstructured/tripcolor.py
  plot_types/unstructured/triplot.py
Labels: Documentation

#21039 Fix `hexbin` marginals and log scaling
  doc/api/next_api_changes/behavior/21038-DS.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/hexbin_log.png
  lib/matplotlib/tests/test_axes.py
Labels: status: needs review

#21164 Backport PR #21039 on branch v3.5.x (Fix `hexbin` marginals and log scaling)
  doc/api/next_api_changes/behavior/21038-DS.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/hexbin_log.png
  lib/matplotlib/tests/test_axes.py
Labels: status: needs review

#21171 Backport PR #20951 on branch v3.5.x ([ENH]: data kwarg support for mplot3d #20912)
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#21166 Cleanup contour(f)3d examples.
  examples/mplot3d/contour3d.py
  examples/mplot3d/contour3d_2.py
  examples/mplot3d/contour3d_3.py
  examples/mplot3d/contourf3d.py
  examples/mplot3d/contourf3d_2.py
Labels: Documentation, topic: mplot3d

#21180 Remove uninformative `.. figure::` titles in docs.
  doc/faq/howto_faq.rst
  doc/users/prev_whats_new/whats_new_1.0.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  tutorials/introductory/sample_plots.py
Labels: Documentation
