Repository matplotlib/matplotlib, pull requests merged in 2022-07, with the labels that each got.

#22820 [Doc] consolidate `rect` documentation
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/layout_engine.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#23377 Use tick_params more often over tick iteration
  examples/axes_grid1/demo_axes_rgb.py
  examples/images_contours_and_fields/image_masked.py
  examples/lines_bars_and_markers/fill_between_alpha.py
  examples/pyplots/fig_axes_customize_simple.py
  examples/subplots_axes_and_figures/align_labels_demo.py
Labels: Documentation

#22364 Tweak mathtext/tex docs.
  tutorials/text/mathtext.py
  tutorials/text/pgf.py
  tutorials/text/usetex.py
Labels: Documentation, topic: text

#23368 Add a helper to generate closed paths.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/markers.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_path.py
  lib/matplotlib/tests/test_transforms.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Maintenance

#23146 Update cibuildwheel
  .github/workflows/cibuildwheel.yml
  setupext.py
Labels: Build, Maintenance, Run cibuildwheel

#23393 Clean up formatting of custom cmap example
  examples/color/custom_cmap.py
Labels: Documentation

#23401 Upload wheel artifacts from the correct directory
  .github/workflows/cibuildwheel.yml
Labels: Build, Run cibuildwheel

#23402 Link 3D animation examples to one another.
  examples/mplot3d/rotate_axes3d_sgskip.py
  examples/mplot3d/wire3d_animation_sgskip.py
Labels: Documentation, topic: mplot3d, topic: animation

#23407 TST: Add missing warning type to pytest.warns
  lib/matplotlib/tests/test_axes.py
Labels: topic: testing

#23406 DOC: Fix calculation of bin centers in multi-histogram
  examples/statistics/multiple_histograms_side_by_side.py
Labels: Documentation

#23291 In the new/simplified backend API, don't customize draw_if_interactive.
  doc/api/next_api_changes/removals/23291-AL.rst
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backend_template.py
Labels: Release critical, topic: canvas and figure manager

#23413 Combine chunk size tests into one
  lib/matplotlib/tests/test_agg.py
Labels: topic: testing, Performance

#23415 Minor improvements to units_sample example
  examples/units/units_sample.py
Labels: Documentation

#23432 Fixed typo in docs animation api
  doc/api/animation_api.rst
Labels: Documentation

#23427 Tweak pgf escapes.
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#23438 DOC: numpydoc-ify date Locator classes
  lib/matplotlib/dates.py
Labels: Documentation, topic: date handling

#20752 Set norms using scale names.
  doc/users/next_whats_new/strnorm.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tri/tricontour.py
Labels: topic: color/color & colormaps, topic: transforms and scales

#23452 Generalize Axes __repr__ to 3D
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#23233 Default stem marker color follows the linecolor
  doc/api/next_api_changes/behavior/23233-TH.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: stem

#23455 Deprecate properties w_xaxis, w_yaxis, and w_zaxis
  doc/api/next_api_changes/deprecations/23455-OG.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, Maintenance

#23463 Deprecate Tick.label
  doc/api/next_api_changes/deprecations/23463-OG.rst
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels, Maintenance

#23464 Deprecate macos close handler.
  doc/api/next_api_changes/deprecations/23464-AL.rst
  lib/matplotlib/backends/backend_macosx.py
  src/_macosx.m
Labels: GUI/MacOSX

#23466 Update filename in example.
  examples/showcase/stock_prices.py
Labels: Documentation

#23443 Try running the pgf backend off the article class.
  doc/api/next_api_changes/behavior/23443-AL.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#23467 Remove old handling for factor=None in axisartist.
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, Maintenance

#23468 Display grid in floating axes example.
  examples/axisartist/demo_floating_axes.py
Labels: Documentation, topic: mpl_toolkit

#23479 Pin setuptools_scm on v3.5.x
  setup.py
Labels: Build

#23482 Mathtext spaces must be independent of font style.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext

#23498 Fix direct instantiation of webagg_core managers.
  lib/matplotlib/backends/backend_webagg_core.py
Labels: GUI/webagg

#23499 Fix outdated comment re: event handlers in test_backends_interactive.
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing, Maintenance

#23511 supporting IBM i OS
  setupext.py
Labels: Build

#23517 Backport PR #23511 on branch v3.5.x (supporting IBM i OS)
  setupext.py
Labels: Build

#23404 Restore matplotlib.__doc__ in Sphinx docs
  doc/api/index_backend_api.rst
  doc/api/matplotlib_configuration_api.rst
  lib/matplotlib/__init__.py
Labels: Documentation

#23495 Fix sgskip'd examples
  examples/misc/image_thumbnail_sgskip.py
  examples/user_interfaces/embedding_in_gtk3_panzoom_sgskip.py
  examples/user_interfaces/embedding_in_gtk4_panzoom_sgskip.py
  examples/user_interfaces/embedding_in_wx5_sgskip.py
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  examples/user_interfaces/mathtext_wx_sgskip.py
Labels: Documentation
