Repository matplotlib/matplotlib, pull requests merged in 2022-09, with the labels that each got.

#23792 Backport PR #23781 on branch v3.6.x (ci: Add plot types to sphinx-gallery artifacts)
  .circleci/config.yml
Labels: Documentation, Build

#23791 Backport PR #23774 on branch v3.6.x (Correct rcParams-name in AutoDateFormatter doc-string)
  lib/matplotlib/dates.py
Labels: Documentation

#23790 DOC: Add cache busting to all static assets
  doc/conf.py
Labels: Documentation

#23799 Backport PR #23790 on branch v3.6.x (DOC: Add cache busting to all static assets)
  doc/conf.py
Labels: Documentation

#23811 Backport PR #23805 on branch v3.6.x (sphinxext: Do not copy plot_directive.css's metadata)
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Documentation, Build

#23804 Fix TexManager's support for `openin_any = p`
  lib/matplotlib/tests/test_texmanager.py
  lib/matplotlib/texmanager.py
Labels: topic: text/usetex

#23690 Add new-style string formatting option and callable option to `fmt` in `Axes.bar_label()`.
  doc/users/next_whats_new/bar_label_formatting.rst
  examples/lines_bars_and_markers/bar_label_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_cbook.py
Labels: New feature

#23823 [DOC] Improve dev setup description
  doc/devel/development_setup.rst
Labels: Documentation

#23833 Remove search field from sidebar
  doc/conf.py
Labels: Documentation

#23834 Revert "Refactor handling of tick and ticklabel visiblity in Axis.clear"
  lib/matplotlib/axis.py
Labels: Release critical, Maintenance

#23836 Backport PR #23823 on branch v3.6.x ([DOC] Improve dev setup description)
  doc/devel/development_setup.rst
Labels: Documentation

#23837 Backport PR #23833 on branch v3.6.x (Remove search field from sidebar)
  doc/conf.py
Labels: Documentation

#23840 Remove documentation for axes_grid
  doc/api/index.rst
  doc/api/toolkits/axes_grid.rst
  doc/api/toolkits/axes_grid1.rst
  doc/api/toolkits/axisartist.rst
Labels: Documentation, Release critical, topic: mpl_toolkit

#23838 Backport PR #23834 on branch v3.6.x (Revert "Refactor handling of tick and ticklabel visiblity in Axis.clear")
  lib/matplotlib/axis.py
Labels: Release critical, Maintenance

#23842 Backport PR #23840 on branch v3.6.x (Remove documentation for axes_grid)
  doc/api/index.rst
  doc/api/toolkits/axes_grid.rst
  doc/api/toolkits/axes_grid1.rst
  doc/api/toolkits/axisartist.rst
Labels: Documentation, Release critical, topic: mpl_toolkit

#23843 Clarify that pycairo>=1.14.0 is needed.
  doc/devel/dependencies.rst
  lib/matplotlib/backends/backend_cairo.py
Labels: Documentation, GUI: gtk, backend: cairo

#23848 Backport PR #23843 on branch v3.6.x (Clarify that pycairo>=1.14.0 is needed.)
  doc/devel/dependencies.rst
  lib/matplotlib/backends/backend_cairo.py
Labels: Documentation, GUI: gtk, backend: cairo

#23850 removed single word in documenting doc
  doc/devel/documenting_mpl.rst
Labels: Documentation

#23851 Backport PR #23850 on branch v3.6.x (removed single word in documenting doc)
  doc/devel/documenting_mpl.rst
Labels: Documentation

#23830 Start testing on Python 3.11
  .github/workflows/tests.yml
  setup.py
Labels: Maintenance

#23853 Backport PR #23830 on branch v3.6.x (Start testing on Python 3.11)
  .github/workflows/tests.yml
  setup.py
Labels: Maintenance

#23852 Fix cross-compiling internal freetype
  setupext.py
Labels: Build, Run cibuildwheel

#23854 Backport PR #23852 on branch v3.6.x (Fix cross-compiling internal freetype)
  setupext.py
Labels: Build, Run cibuildwheel

#23855 DOC: fix deprecation warnings
  tutorials/intermediate/autoscale.py
  tutorials/introductory/images.py
Labels: Documentation

#23542 Add even more mplot3d tests
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, topic: testing

#23858 Backport PR #23855 on branch v3.6.x (DOC: fix deprecation warnings)
  tutorials/intermediate/autoscale.py
  tutorials/introductory/images.py
Labels: Documentation

#23867 DOC: fix deprecation warnings in examples
  examples/mplot3d/box3d.py
  examples/shapes_and_collections/artist_reference.py
  examples/shapes_and_collections/patch_collection.py
  examples/specialty_plots/leftventricle_bulleye.py
  examples/text_labels_and_annotations/figlegend_demo.py
Labels: Documentation

#23869 Backport PR #23867 on branch v3.6.x (DOC: fix deprecation warnings in examples)
  examples/mplot3d/box3d.py
  examples/shapes_and_collections/artist_reference.py
  examples/shapes_and_collections/patch_collection.py
  examples/specialty_plots/leftventricle_bulleye.py
  examples/text_labels_and_annotations/figlegend_demo.py
Labels: Documentation

#23871 DOC: Fix formatting of pick event demo example
  examples/event_handling/pick_event_demo.py
Labels: Documentation

#23841 clarified that hist computes histogram on unbinned data
  lib/matplotlib/axes/_axes.py
Labels: Documentation, topic: axes

#23872 Backport PR #23871 on branch v3.6.x (DOC: Fix formatting of pick event demo example)
  examples/event_handling/pick_event_demo.py
Labels: Documentation

#23877 Backport PR #23841 on branch v3.6.x (clarified that hist computes histogram on unbinned data)
  lib/matplotlib/axes/_axes.py
Labels: Documentation, topic: axes

#23868 Show errors and warnings in doc CI after build.
  .circleci/config.yml
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/images_contours_and_fields/pcolormesh_levels.py
Labels: Documentation

#23254 Add PathCollection test for ps backend
  lib/matplotlib/backend_bases.py
  lib/matplotlib/tests/baseline_images/test_backend_ps/scatter.eps
  lib/matplotlib/tests/test_backend_ps.py
Labels: topic: testing, backend: ps

#23879 Backport PR #23864 on branch v3.6.x (Correct and improve documentation for anchored artists)
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  tutorials/text/annotations.py
Labels: Documentation, topic: mpl_toolkit, topic: annotation

#23862 Remove triggering of deprecation warning in AnchoredEllipse
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
Labels: topic: mpl_toolkit

#23880 Backport PR #23862 on branch v3.6.x (Remove triggering of deprecation warning in AnchoredEllipse)
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
Labels: topic: mpl_toolkit

#23861 Move axes_grid tests to axes_grid1
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/imagegrid_cbar_mode.png
  lib/mpl_toolkits/tests/test_axes_grid.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit, topic: testing, Maintenance

#23881 Fix Pillow compatibility in example
  tutorials/introductory/images.py
Labels: Documentation

#23889 Update image tutorial.
  tutorials/introductory/images.py
Labels: Documentation, topic: images

#23887 Add missing label argument to barh docs
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#23897 Backport PR #23887 on branch v3.6.x (Add missing label argument to barh docs)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#23894 Backport PR #23881 on branch v3.6.x (Fix Pillow compatibility in example)
  tutorials/introductory/images.py
Labels: Documentation

#23885 DOC: Rearrange navbar-end elements
  doc/conf.py
Labels: Release critical

#23898 Backport PR #23892 on branch v3.6.x (DOC: Fix docs for linestyles in contour)
  lib/matplotlib/contour.py
Labels: Documentation, topic: contour

#23899 Backport PR #23885 on branch v3.6.x (DOC: Rearrange navbar-end elements)
  doc/conf.py
Labels: Release critical

#23896 Inline AnchoredOffsetBox._update_offset_func.
  lib/matplotlib/offsetbox.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Maintenance

#23913 Add draggable as param to Legend init
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#23824 Deprecate draw_gouraud_triangle
  doc/api/next_api_changes/deprecations/23824-OG.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/collections.py
Labels: API: changes

#23925 FIX: use process_event in dpi changes on macosx backend
  src/_macosx.m
Labels: GUI: MacOSX

#23926 Backport PR #23925 on branch v3.6.x (FIX: use process_event in dpi changes on macosx backend)
  src/_macosx.m
Labels: GUI: MacOSX

#23932 DOC: Fix formatting in image tutorial
  tutorials/introductory/images.py
Labels: Documentation

#23933 Backport PR #23932 on branch v3.6.x (DOC: Fix formatting in image tutorial)
  tutorials/introductory/images.py
Labels: Documentation

#23935 DOC: fix versions is doc switcher
  doc/_static/switcher.json
Labels: Documentation: website

#23919 DOC: remove dead "Show Source" links
  doc/conf.py
Labels: Documentation: website

#23936 Backport PR #23935 on branch v3.6.x (DOC: fix versions is doc switcher)
  doc/_static/switcher.json
Labels: Documentation: website

#23940 Fix typos in guthub_stats.rst
  doc/users/github_stats.rst
Labels: Documentation

#23905 made explict that install link is install docs in readme
  README.rst
Labels: Documentation

#23941 consistent notation for minor/patch branches
  doc/devel/coding_guide.rst
Labels: Documentation

#23870 Implement Sphinx-Gallery's `make html-noplot`
  doc/Makefile
  doc/conf.py
  doc/devel/documenting_mpl.rst
Labels: Documentation

#23938 Backport PR #23919 on branch v3.6.x (DOC: remove dead "Show Source" links)
  doc/conf.py
Labels: Documentation: website

#23945 Backport PR #23941 on branch v3.6.x (consistent notation for minor/patch branches)
  doc/devel/coding_guide.rst
Labels: Documentation

#23946 Backport PR #23941 on branch v3.6.0-doc (consistent notation for minor/patch branches)
  doc/devel/coding_guide.rst
Labels: Documentation

#23958 DOC: Remove Adding Animations section
  doc/devel/documenting_mpl.rst
Labels: Documentation

#23961 Backport PR #23958 on branch v3.6.x (DOC: Remove Adding Animations section)
  doc/devel/documenting_mpl.rst
Labels: Documentation

#23950 DOC: Don't import doctest because we're not using it
  doc/conf.py
Labels: Documentation

#23963 Backport PR #23957 on branch v3.6.x (Bump pypa/cibuildwheel from 2.9.0 to 2.10.1)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, Run cibuildwheel

#23906 Edit mplot3d examples for correctness and consistency
  examples/mplot3d/2dcollections3d.py
  examples/mplot3d/contour3d.py
  examples/mplot3d/contour3d_2.py
  examples/mplot3d/contourf3d.py
  examples/mplot3d/hist3d.py
  examples/mplot3d/lines3d.py
  examples/mplot3d/lorenz_attractor.py
  examples/mplot3d/mixed_subplots.py
  examples/mplot3d/offset.py
  examples/mplot3d/rotate_axes3d_sgskip.py
  examples/mplot3d/surface3d.py
  examples/mplot3d/text3d.py
  examples/mplot3d/trisurf3d_2.py
  examples/mplot3d/voxels_numpy_logo.py
  examples/mplot3d/voxels_rgb.py
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/mplot3d/wire3d_zero_stride.py
Labels: Documentation, topic: mplot3d

#23971 Backport PR #23906 on branch v3.6.x (Edit mplot3d examples for correctness and consistency)
  examples/mplot3d/2dcollections3d.py
  examples/mplot3d/contour3d.py
  examples/mplot3d/contour3d_2.py
  examples/mplot3d/contourf3d.py
  examples/mplot3d/hist3d.py
  examples/mplot3d/lines3d.py
  examples/mplot3d/lorenz_attractor.py
  examples/mplot3d/mixed_subplots.py
  examples/mplot3d/offset.py
  examples/mplot3d/rotate_axes3d_sgskip.py
  examples/mplot3d/surface3d.py
  examples/mplot3d/text3d.py
  examples/mplot3d/trisurf3d_2.py
  examples/mplot3d/voxels_numpy_logo.py
  examples/mplot3d/voxels_rgb.py
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/mplot3d/wire3d_zero_stride.py
Labels: Documentation, topic: mplot3d

#23974 Fix repeated word typos
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colorbar.py
  tutorials/introductory/lifecycle.py
Labels: Documentation

#23979 Backport PR #23975 on branch v3.6.x (Reword docstring of reset_position.)
  lib/matplotlib/axes/_base.py
Labels: Documentation

#23982 Backport PR #23980 on branch v3.6.x (DOC: Move Quick Start Tutorial to first position)
  doc/sphinxext/gallery_order.py
Labels: Documentation

#23983 Backport PR #23980 on branch v3.6.0-doc (DOC: Move Quick Start Tutorial to first position)
  doc/sphinxext/gallery_order.py
Labels: Documentation

#23978 DOC: Suppress IPython output in examples and tutorials where not needed
  doc/conf.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/autoscale.py
Labels: Documentation

#23990 Backport PR #23978 on branch v3.6.x (DOC: Suppress IPython output in examples and tutorials where not needed)
  doc/conf.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/autoscale.py
Labels: Documentation

#23904 added a reversing section to colormap reference
  examples/color/colormap_reference.py
  lib/matplotlib/colors.py
  tutorials/colors/colormap-manipulation.py
Labels: Documentation, topic: color/color & colormaps

#23964 Fix issue with empty line in ps backend
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend: ps

#24004 Increase consistency in tutorials and examples
  examples/color/color_demo.py
  examples/color/custom_cmap.py
  examples/lines_bars_and_markers/cohere.py
  examples/lines_bars_and_markers/csd_demo.py
  examples/pyplots/fig_axes_labels_simple.py
  examples/pyplots/pyplot_mathtext.py
  tutorials/advanced/path_tutorial.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/introductory/pyplot.py
  tutorials/text/text_intro.py
Labels: Documentation

#23553 Add tests for ImageGrid
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/image_grid_each_left_label_mode_all.png
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/image_grid_single_bottom_label_mode_1.png
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit, topic: testing

#24007 Backport PR #24004 on branch v3.6.x (Increase consistency in tutorials and examples)
  examples/color/color_demo.py
  examples/color/custom_cmap.py
  examples/lines_bars_and_markers/cohere.py
  examples/lines_bars_and_markers/csd_demo.py
  examples/pyplots/fig_axes_labels_simple.py
  examples/pyplots/pyplot_mathtext.py
  tutorials/advanced/path_tutorial.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/introductory/pyplot.py
  tutorials/text/text_intro.py
Labels: Documentation

#24008 Backport PR #24004 on branch v3.6.0-doc (Increase consistency in tutorials and examples)
  examples/color/color_demo.py
  examples/color/custom_cmap.py
  examples/lines_bars_and_markers/cohere.py
  examples/lines_bars_and_markers/csd_demo.py
  examples/pyplots/fig_axes_labels_simple.py
  examples/pyplots/pyplot_mathtext.py
  tutorials/advanced/path_tutorial.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/introductory/pyplot.py
  tutorials/text/text_intro.py
Labels: Documentation

#24003 Fix wording and links lifecycle tutorial
  tutorials/introductory/lifecycle.py
Labels: Documentation

#23579 Remove direct manipulation of HostAxes.parasites by end users.
  doc/api/next_api_changes/behavior/23579-AL.rst
  examples/axisartist/demo_curvelinear_grid.py
  examples/axisartist/demo_parasite_axes.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
  lib/mpl_toolkits/tests/test_axisartist_grid_helper_curvelinear.py
  tutorials/toolkits/axisartist.py
Labels: topic: mpl_toolkit

#24017 Backport PR #24014 on branch v3.6.x (Bump pypa/cibuildwheel from 2.10.1 to 2.10.2)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, Run cibuildwheel

#24027 Backport PR #23904 on branch v3.6.x (added a reversing section to colormap reference)
  examples/color/colormap_reference.py
  lib/matplotlib/colors.py
  tutorials/colors/colormap-manipulation.py
Labels: Documentation, topic: color/color & colormaps

#24026 Don't modify Axes property cycle in stackplot
  lib/matplotlib/stackplot.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: color/cycle

#23994 Backport PR #23964 on branch v3.6.x (Fix issue with empty line in ps backend)
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend: ps

#24029 Backport PR #24026 on branch v3.6.x (Don't modify Axes property cycle in stackplot)
  lib/matplotlib/stackplot.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: color/cycle

#24032 Reword SpanSelector example.
  examples/widgets/span_selector.py
Labels: Documentation, topic: widgets/UI

#24033 Backport PR #24032 on branch v3.6.x (Reword SpanSelector example.)
  examples/widgets/span_selector.py
Labels: Documentation, topic: widgets/UI

#24034 Backport PR #24032 on branch v3.6.0-doc (Reword SpanSelector example.)
  examples/widgets/span_selector.py
Labels: Documentation, topic: widgets/UI

#24018 When comparing eps images, run ghostscript with -dEPSCrop.
  .github/workflows/tests.yml
  lib/matplotlib/testing/compare.py
Labels: topic: testing, backend: ps

#24040 Backport PR #24018 on branch v3.6.x (When comparing eps images, run ghostscript with -dEPSCrop.)
  .github/workflows/tests.yml
  lib/matplotlib/testing/compare.py
Labels: topic: testing, backend: ps

#24041 DOC: Fix incorrect redirect
  examples/text_labels_and_annotations/font_family_rc.py
Labels: Documentation

#24030 Backport PR #24019 on branch v3.6.x (Don't require FigureCanvas on backend module more)
  lib/matplotlib/pyplot.py
Labels: Release critical

#24044 Backport PR #24041 on branch v3.6.0-doc (DOC: Fix incorrect redirect)
  examples/text_labels_and_annotations/font_family_rc.py
Labels: Documentation

#24043 Backport PR #24041 on branch v3.6.x (DOC: Fix incorrect redirect)
  examples/text_labels_and_annotations/font_family_rc.py
Labels: Documentation

#24045 Fix _FigureManagerGTK.resize on GTK4
  lib/matplotlib/backends/_backend_gtk.py
Labels: GUI: gtk

#24037 [DOC]: make spanselector example codeblock continuous
  examples/widgets/span_selector.py
Labels: Documentation

#24051 Backport PR #24037 on branch v3.6.x ([DOC]: make spanselector example codeblock continuous)
  examples/widgets/span_selector.py
Labels: Documentation

#24046 Ignore 'CFMessagePort: bootstrap_register' messages
  lib/matplotlib/tests/test_backend_tk.py
Labels: OS: Apple, Maintenance

#24055 Backport PR #24046 on branch v3.6.x (Ignore 'CFMessagePort: bootstrap_register' messages)
  lib/matplotlib/tests/test_backend_tk.py
Labels: OS: Apple, Maintenance

#24048 Backport PR #24045 on branch v3.6.x (Fix _FigureManagerGTK.resize on GTK4)
  lib/matplotlib/backends/_backend_gtk.py
Labels: GUI: gtk

#23638 FIX: correctly handle generic font families in svg text-as-text mode
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: backend: svg
