Repository matplotlib/matplotlib, pull requests merged in 2022-06, with the labels that each got.

#23153 Restore accidentally removed pytest.ini and tests.py.
  pytest.ini
  tests.py
Labels: topic: testing

#23180 Improve docstring of triplot() and PatchCollection
  lib/matplotlib/collections.py
  lib/matplotlib/tri/triplot.py
Labels: Documentation

#23174 Make sure SubFigure has _cachedRenderer
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour, topic: figures and subfigures

#23169 DOC: Migrate to sphinx-design
  doc/_static/mpl.css
  doc/_templates/donate_sidebar.html
  doc/conf.py
  doc/devel/index.rst
  doc/index.rst
  doc/users/getting_started/index.rst
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: Documentation

#23168 Corrected docstring for artist.Artist.set_agg_filter
  lib/matplotlib/artist.py
Labels: Documentation

#23170 ENH: update ticks when requesting labels
  doc/api/next_api_changes/behavior/23170-JMK.rst
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: ticks axis labels

#23185 Backport PR #23168 on branch v3.5.x (Corrected docstring for artist.Artist.set_agg_filter)
  lib/matplotlib/artist.py
Labels: Documentation

#22519 fix markevery plot option with nans in data
  lib/matplotlib/lines.py
  lib/matplotlib/tests/baseline_images/test_axes/markevery_linear_scales_nans.pdf
  lib/matplotlib/tests/baseline_images/test_axes/markevery_linear_scales_nans.png
  lib/matplotlib/tests/baseline_images/test_axes/markevery_linear_scales_nans.svg
  lib/matplotlib/tests/test_axes.py
Labels: topic: markers, status: needs workflow approval

#22669 Cleanup documentation generation for pyplot
  doc/api/pyplot_summary.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
  tools/boilerplate.py
Labels: Documentation

#23175 Point the version switcher to a name listed in switcher.json
  doc/conf.py
Labels: Documentation: website

#23181 Init FigureCanvasAgg._lastKey in `__init__`.
  lib/matplotlib/backends/backend_agg.py
Labels: backend/agg, Maintenance

#23182 Simplify webagg blitting.
  lib/matplotlib/backends/backend_webagg_core.py
Labels: GUI/webagg, Maintenance

#23077 MNT: Remove keyword arguments to gca()
  doc/api/next_api_changes/removals/23077-GL.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_pyplot.py
Labels: Maintenance

#22745 MNT: Don't require renderer for window_extent and tightbbox
  doc/api/next_api_changes/behavior/22745-JMK.rst
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/legend.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/table.py
  lib/matplotlib/text.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: geometry manager, status: needs comment/discussion

#23188 Mnt new default dates
  doc/api/next_api_changes/behavior/23188-JMK.rst
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_dates.py
Labels: topic: date handling

#23013 Add tests for date module
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: status: needs review, topic: testing, topic: date handling

#23201 Rework tricontour and tricontourf documentation
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/tripcolor.py
Labels: Documentation

#23215 DOC: link the transforms tutorial from the module
  lib/matplotlib/transforms.py
Labels: Documentation

#23223 Changed offset reference, add small doc
  lib/matplotlib/backend_bases.py
Labels: Documentation

#23225 DOC: Fix version switcher links to documentation
  doc/_static/switcher.json
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation: website

#23209 Fix the vertical alignment of overunder symbols.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext1_dejavusans_02.png
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#23228 Backport PR #23209 on branch v3.5.x (Fix the vertical alignment of overunder symbols.)
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext1_dejavusans_02.png
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#22289 ENH: compressed layout
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/figure.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/tests/test_constrainedlayout.py
  tutorials/intermediate/arranging_axes.py
  tutorials/intermediate/constrainedlayout_guide.py
Labels: topic: geometry manager, status: merge with single review?

#23203 Honour `panchor` keyword for colorbar on subplot
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: PR: bugfix

#23045 MNT: Merge locally defined test marks
  doc/api/next_api_changes/deprecations/23045-OG.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/testing/_markers.py
  lib/matplotlib/tests/test_backend_bases.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_determinism.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_usetex.py
Labels: Maintenance

#23187 Correct docs and use keyword arguments in _mathtext.py
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext

#23242 Backport PR #23203 on branch v3.5.x (Honour `panchor` keyword for colorbar on subplot)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: PR: bugfix

#23241 Fix invalid value in radio buttons example
  examples/widgets/radio_buttons.py
Labels: Documentation

#23144 Only import setuptools_scm when we are in a matplotlib git repo
  .matplotlib-repo
  lib/matplotlib/__init__.py
Labels: Release critical

#23245 Backport PR #23144 on branch v3.5.x (Only import setuptools_scm when we are in a matplotlib git repo)
  .matplotlib-repo
  lib/matplotlib/__init__.py
Labels: Release critical

#23192 Add tests, improve error messages in axis/_base, and code cleanup
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: testing

#22507 Remove *math* parameter of various mathtext internal APIs.
  doc/api/next_api_changes/deprecations/22507-AL.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/tests/baseline_images/test_axes/log_scales.pdf
  lib/matplotlib/tests/baseline_images/test_axes/log_scales.png
  lib/matplotlib/tests/baseline_images/test_axes/log_scales.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: text/mathtext

#23249 Don't allow `r"$\left\\|\right.$"`, as in TeX.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext

#23251 Small simplifications to mathtext tests.
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: testing, topic: text/mathtext, Maintenance

#23198 Rename ncol parameter in legend to ncols
  doc/users/next_whats_new/rename_ncol_keyword_in_legend.rst
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: API: consistency

#22881 Support not embedding glyphs in svg mathtests.
  lib/matplotlib/testing/compare.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: testing, topic: text/mathtext

#23246 Fix argument checking for set_interpolation_stage
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_api.py
Labels: topic: images

#23255 Add a helper to generate mathtext error strings.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext, Maintenance

#23256 DOC: Add note about Inkscape install on Windows
  doc/devel/dependencies.rst
Labels: Documentation

#23243 Fix spacing after mathtext operators with sub/superscripts
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_30.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_30.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_30.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_30.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_30.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_30.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_30.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_30.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_30.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_30.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_30.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#23262 Simplify qt_compat, in particular post-removal of qt4 support.
  lib/matplotlib/backends/qt_compat.py
Labels: GUI/Qt

#23260 Fix Colorbar extend patches to have correct alpha
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar

#23269 MNT: Remove dead code in Colorbar
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar, Maintenance

#23277 MNT: Remove dead code in SVG backend
  lib/matplotlib/backends/backend_svg.py
Labels: backend/svg, Maintenance

#23219 MNT: Rename example files with 'test' in name
  examples/scales/semilogx_demo.py
Labels: Documentation, Maintenance

#23247 Support inverted parentheses in mathtext.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#22865 Fix issue with colorbar extend and drawedges
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#23285 In mathtext, replace manual caching (via `glyphd`) by lru_cache.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#23287 Minor tweaks to pdf Name.
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf, Maintenance

#23177 Deprecate positional passing of most Artist constructor parameters
  doc/api/next_api_changes/deprecations/23166-ES.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/collections.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/text.py
Labels: Maintenance

#23289 Properly make Name.hexify go through a deprecation cycle.
  doc/api/next_api_changes/deprecations/23289-AL.rst
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf

#23232 Fix passing stem markerfmt positionally when locs are not given
  doc/api/next_api_changes/deprecations/23232-TH.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: changes, PR: bugfix, topic: stem

#23276 Add get/set methods for DPI in SubFigure
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: PR: bugfix

#23278 Remove internal use of get/set dpi
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/text.py
Labels: API: consistency

#23284 DOC: Switch to HTML5 and cleanup CSS
  doc/_static/mpl.css
  doc/conf.py
Labels: Documentation

#23294 Simplify binary data handling in ps backend.
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/baseline_images/test_axes/pcolormesh_small.eps
  lib/matplotlib/tests/test_axes.py
Labels: backend/ps, Maintenance

#23286 Refactor URL handling in PDF backend
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf, Maintenance

#23014 Improve consistency in LogLocator and LogFormatter API
  doc/api/next_api_changes/deprecations/23014-OG.rst
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: API: consistency

#23300 Modify example of "Fig Axes Customize Simple"
  examples/pyplots/fig_axes_customize_simple.py
Labels: Documentation

#23295 Replace re.sub by the faster str.translate.
  lib/matplotlib/backends/backend_pdf.py
Labels: backend/pdf, Maintenance

#23312 Pin to an older pydata-sphinx-theme for v3.5.x
  requirements/doc/doc-requirements.txt
Labels: Documentation

#23318 No need to return OrderedDict from _gen_axes_spines.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/projections/polar.py
Labels: Maintenance

#23292 Backport PR #23232 on branch v3.5.x (Fix passing stem markerfmt positionally when locs are not given)
  doc/api/next_api_changes/deprecations/23232-TH.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: changes, PR: bugfix, topic: stem

#23309 Remove front page examples
  doc/_static/.gitignore
  examples/frontpage/3D.py
  examples/frontpage/README.txt
  examples/frontpage/contour_frontpage.py
  examples/frontpage/histogram.py
  examples/frontpage/membrane.py
Labels: Documentation

#23314 Don't draw invisible 3D Axes
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, PR: bugfix

#23313 Drop CSS styles that are in mpl-sphinx-theme
  doc/_static/mpl.css
Labels: Documentation

#23270 Fix handling of nonmath hyphens in mathtext.
  doc/api/next_api_changes/behavior/23270-AL.rst
  doc/api/next_api_changes/deprecations/22507-AL.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext0_cm_00.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext0_dejavusans_00.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: Release critical, topic: text/mathtext

#23321 Tweak examples capitalization/punctuation.
  examples/lines_bars_and_markers/eventcollection_demo.py
  examples/specialty_plots/mri_with_eeg.py
  examples/units/ellipse_with_units.py
  examples/user_interfaces/mpl_with_glade3_sgskip.py
  examples/userdemo/pgf_fonts.py
  examples/userdemo/pgf_preamble_sgskip.py
  examples/userdemo/pgf_texsystem.py
Labels: Documentation

#23322 Cleanup FontProperties examples.
  examples/text_labels_and_annotations/fonts_demo.py
  examples/text_labels_and_annotations/fonts_demo_kw.py
Labels: Documentation, topic: text/fonts

#22167 Deprecate selector `visible` attribute
  doc/api/next_api_changes/deprecations/22167-EP.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: status: needs review, topic: widgets/UI

#23197 Add tests for pan
  lib/matplotlib/tests/test_backend_bases.py
Labels: topic: testing

#23288 Correct URL area with rotated texts in PDFs
  doc/users/next_whats_new/url_active_areas_rotate.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/test_backend_pdf.py
Labels: backend/pdf

#22835 Fix BoundaryNorm cursor data output
  lib/matplotlib/artist.py
  lib/matplotlib/tests/test_artist.py
Labels: topic: collections and mappables

#22004 Make RendererCairo auto-infer surface size.
  doc/api/next_api_changes/deprecations/21981-AL.rst
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4cairo.py
  lib/matplotlib/backends/backend_qtcairo.py
  lib/matplotlib/backends/backend_tkcairo.py
  lib/matplotlib/backends/backend_wxcairo.py
Labels: Release critical, backend/cairo

#23337 Remove now inexistent "datapath" rcParam from style blacklist.
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
Labels: topic: styles

#23333 Fix errorbar handling of nan.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical

#23332 Validate Text linespacing on input.
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: topic: text, API: argument checking

#23266 negative_linestyles kwarg in contour.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: status: needs review, topic: contour

#23100 Remove custom backend_nbagg.show(), putting logic in manager show.
  lib/matplotlib/backends/backend_nbagg.py
Labels: GUI/nbagg, topic: canvas and figure manager

#23316 DOC: improve spines crosslinking
  examples/spines/spines.py
  lib/matplotlib/spines.py
Labels: Documentation

#23347 Simplify/improve check for pycairo in Gtk-based backends.
  lib/matplotlib/backends/_backend_gtk.py
  lib/matplotlib/backends/backend_gtk3agg.py
  lib/matplotlib/backends/backend_gtk4agg.py
Labels: GUI/gtk, backend/cairo

#23060 MNT: Change objective C code to Automatic Reference Counting (ARC)
  setupext.py
  src/_macosx.m
Labels: GUI/MacOSX, status: merge with single review?, Run cibuildwheel

#23191 ENH: add width_ratios and height_ratios to subplots
  doc/users/next_whats_new/width_height_ratios.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_subplots.py
  tutorials/provisional/mosaic.py
Labels: New feature, API: consistency

#23354 MNT: Use list comprehension
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/patches.py
Labels: Maintenance

#23351 DOC/MNT install docs with dev version of sphinx theme
  .circleci/config.yml
  doc/_static/mpl.css
  doc/conf.py
  doc/index.rst
Labels: Documentation: website

#23366 MNT: use devel version of theme
  .circleci/config.yml
Labels: Documentation: website

#23370 Small cleanups to animation.
  lib/matplotlib/animation.py
  lib/matplotlib/mpl-data/matplotlibrc
Labels: topic: animation

#23358 Shorten/clarify definition of extension types.
  src/_backend_agg_wrapper.cpp
  src/_macosx.m
  src/ft2font_wrapper.cpp
  src/mplutils.h
  src/tri/_tri_wrapper.cpp
Labels: Maintenance

#23033 Fix issue with tex-encoding on non-Unicode platforms
  lib/matplotlib/tests/test_texmanager.py
  lib/matplotlib/texmanager.py
Labels: topic: text/unicode, topic: text/usetex

#23371 Default animation.convert_args to ["-layers", "OptimizePlus"].
  doc/api/next_api_changes/behavior/23371-AL.rst
  lib/matplotlib/mpl-data/matplotlibrc
Labels: topic: animation
