Repository matplotlib/matplotlib, pull requests merged in 2022-01, with the labels that each got.

#22075 Remove unnecessary `.figure` qualifier in docs.
  doc/users/explain/interactive.rst
  doc/users/explain/interactive_guide.rst
  examples/color/colorbar_basics.py
  examples/subplots_axes_and_figures/demo_tight_layout.py
  examples/subplots_axes_and_figures/gridspec_nested.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
  tutorials/intermediate/arranging_axes.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/introductory/usage.py
Labels: Documentation

#22061 De-duplicate mplot3D API docs
  doc/api/next_api_changes/behavior/21026-DS.rst
  doc/api/prev_api_changes/api_changes_3.5.0/behaviour.rst
  doc/users/prev_whats_new/whats_new_1.4.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  tutorials/toolkits/mplot3d.py
Labels: Documentation, topic: mplot3d

#22054 MNT: Set CapStyle member names automatically
  lib/matplotlib/_enums.py
Labels: Maintenance

#22083 Fix reference to Matplotlib FAQ in doc/index.rst
  doc/index.rst
Labels: Documentation: website

#22073 DOC: Add new tutorial to external resources.
  doc/users/resources/index.rst
Labels: Documentation: website

#22096 Backport PR #22083 on branch v3.5.1-doc (Fix reference to Matplotlib FAQ in doc/index.rst)
  doc/index.rst
Labels: Documentation: website

#22095 Backport PR #22083 on branch v3.5.x (Fix reference to Matplotlib FAQ in doc/index.rst)
  doc/index.rst
Labels: Documentation: website

#22099 CI: Disable numpy avx512 instructions
  .github/workflows/tests.yml
  azure-pipelines.yml
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_sphinxext.py
Labels: topic: testing

#22101 Backport PR #22099 on branch v3.5.x (CI: Disable numpy avx512 instructions)
  .github/workflows/tests.yml
  azure-pipelines.yml
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_sphinxext.py
Labels: topic: testing

#22089 FIX: squash memory leak in colorbar
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar

#22058 Remove exprired mplot3d deprecations for 3.6
  doc/api/next_api_changes/removals/00001-DS.rst
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#22081 Expire colorbar-related deprecations.
  doc/api/next_api_changes/removals/22081-AL.rst
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
Labels: API: changes

#19228 Validate text rotation in setter
  examples/text_labels_and_annotations/watermark_text.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: API: argument checking

#22102 DOC: rename usage tutorial to quick_start
  .flake8
  doc/devel/documenting_mpl.rst
  doc/index.rst
  doc/users/getting_started/index.rst
  tutorials/introductory/images.py
  tutorials/introductory/pyplot.py
  tutorials/introductory/quick_start.py
Labels: Documentation: website

#22034 Update lines_with_ticks_demo.py
  examples/lines_bars_and_markers/lines_with_ticks_demo.py
Labels: Documentation

#20117 Very soft-deprecate AxesDivider.new_{horizontal,vertical}.
  doc/api/prev_api_changes/api_changes_3.5.0/behaviour.rst
  examples/axes_grid1/demo_axes_divider.py
  examples/axes_grid1/make_room_for_ylabel_using_axesgrid.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
Labels: topic: mpl_toolkit, Maintenance

#22112 Fix a small typo
  lib/matplotlib/axes/_base.py
Labels: Documentation

#21873 DOC: Update and consolidate Custom Tick Formatter for Time Series example
  examples/lines_bars_and_markers/scatter_demo2.py
  examples/text_labels_and_annotations/date.py
  examples/text_labels_and_annotations/date_index_formatter.py
  examples/ticks/date_index_formatter.py
  examples/ticks/date_index_formatter2.py
Labels: Documentation

#22080 Simple style(ish) fixes.
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/mlab.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/floating_axes.py
Labels: Maintenance

#22043 Cleanup differential equations examples.
  examples/animation/double_pendulum.py
  examples/mplot3d/lorenz_attractor.py
Labels: Documentation

#22108 Micro-optimize rotation transform.
  lib/matplotlib/transforms.py
Labels: Performance

#22038 DOC: Include alternatives to deprecations in the documentation
  doc/devel/contributing.rst
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/collections.py
  lib/matplotlib/dates.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_api.py
  lib/matplotlib/ticker.py
Labels: Documentation, status: needs rebase

#22115 Turn _localaxes into a plain list.
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/figure.py
Labels: Maintenance

#21830 Add option of bounding box for PolygonSelector
  doc/users/next_whats_new/polygon_selector_box.rst
  examples/widgets/polygon_selector_demo.py
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: status: needs review, topic: widgets/UI

#21977 Add corner coordinate helper methods to Ellipse/Rectangle
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
Labels: status: needs review, topic: widgets/UI

#21860 DOC: Update style sheet reference
  examples/style_sheets/style_sheets_reference.py
Labels: Documentation

#22109 Remove unnecessary null checks in macosx.m, and some more maintenance
  src/_macosx.m
Labels: OS/Apple, Maintenance

#22117 Backport PR #21860 on branch v3.5.x (DOC: Update style sheet reference)
  examples/style_sheets/style_sheets_reference.py
Labels: Documentation

#22118 Backport PR #21860 on branch v3.5.1-doc (DOC: Update style sheet reference)
  examples/style_sheets/style_sheets_reference.py
Labels: Documentation

#22119 Micro-optimize skew().
  lib/matplotlib/transforms.py
Labels: Performance

#22063 FIX: Autoposition title when yaxis has offset
  doc/api/next_api_changes/behavior/22063-SR.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: geometry manager

#22120 Drop dependency on scipy in the docs.
  environment.yml
  examples/mplot3d/polys3d.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#22123 Deprecate accepting arbitrary parameters in some get_window_extent() methods
  doc/api/next_api_changes/deprecations/22123-TH.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
Labels: API: consistency, API: changes

#22139 FIX: width/height were reversed in macosx rectangle creation
  src/_macosx.m
Labels: GUI/osx

#22107 Expire mathttext-related deprecations
  doc/api/mathtext_api.rst
  doc/api/next_api_changes/removals/22107-OG.rst
  doc/sphinxext/math_symbol_table.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: API: changes

#22147 Fix loading user-defined icons for Tk toolbar
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22078 Prevent tooltips from overlapping buttons in NavigationToolbar2Tk (fixes issue mentioned in #22028)
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22135 Fix loading user-defined icons for Qt plot window
  lib/matplotlib/backends/backend_qt.py
Labels: GUI/Qt

#22151 Backport PR #22078 on branch v3.5.x (Prevent tooltips from overlapping buttons in NavigationToolbar2Tk (fixes issue mentioned in #22028))
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22152 Backport PR #22135 on branch v3.5.x (Fix loading user-defined icons for Qt plot window)
  lib/matplotlib/backends/backend_qt.py
Labels: GUI/Qt

#22153 Backport PR #22147 on branch v3.5.x (Fix loading user-defined icons for Tk toolbar)
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22082 Update both zoom/pan states on wx when triggering from keyboard.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#22155 Backport PR #22082 on branch v3.5.x (Update both zoom/pan states on wx when triggering from keyboard.)
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#22134 Deprecated `tight_bbox` and `tight_layout` modules
  doc/api/next_api_changes/deprecations/22134-OG.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_2.2.0.rst
  doc/api/prev_api_changes/api_changes_3.0.1.rst
  lib/matplotlib/_tight_bbox.py
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/tight_bbox.py
  lib/matplotlib/tight_layout.py
Labels: API: changes, Maintenance

#21342 Fix drawing animated artists changed in selector callback
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: status: needs review, topic: widgets/UI

#22140 Ensure log formatters use Unicode minus
  lib/matplotlib/tests/baseline_images/test_axes/errorbar_mixed.pdf
  lib/matplotlib/tests/baseline_images/test_axes/errorbar_mixed.png
  lib/matplotlib/tests/baseline_images/test_axes/errorbar_mixed.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

#22144 Fix cl subgridspec
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: Release critical, topic: geometry manager

#22168 Backport PR #22144 on branch v3.5.x (Fix cl subgridspec)
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/tests/test_constrainedlayout.py
Labels: Release critical, topic: geometry manager

#21781 Use a fixture to get widget testing axes
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/tests/test_widgets.py
Labels: topic: widgets/UI, Maintenance

#22157 Improved coverage of mathtext and removed unused code
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#21943 DOC: explain too many ticks
  doc/users/faq/howto_faq.rst
  examples/ticks/ticks_too_many.py
Labels: topic: categorical, Documentation: website

#22179 FIX: macosx check case-insensitive app name
  src/_macosx.m
Labels: GUI/osx

#22186 Backport PR #21943 on branch v3.5.x (DOC: explain too many ticks)
  doc/users/faq/howto_faq.rst
  examples/ticks/ticks_too_many.py
Labels: topic: categorical, Documentation: website

#22187 Fix typo in `axhline` docstring
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#22160 Removed unused variables etc.
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/quiver.py
  lib/matplotlib/text.py
  lib/matplotlib/widgets.py
  tools/subset.py
Labels: Maintenance

#22013 Use standard toolbar in wx.
  doc/api/next_api_changes/behavior/22013-AL.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#22098 Expire axes_grid1/axisartist deprecations.
  doc/api/next_api_changes/deprecations/22098-AL.rst
  lib/mpl_toolkits/axes_grid/parasite_axes.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/__init__.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/parasite_axes.py
  lib/mpl_toolkits/tests/test_axisartist_axislines.py
Labels: topic: mpl_toolkit, API: changes, Maintenance

#22084 Clean up 3d plot box_aspect zooming
  doc/api/next_api_changes/deprecations/22084-SS.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#22188 Backport PR #22187 on branch v3.5.x (Fix typo in `axhline` docstring)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#22190 DOC: Fix upstream URL for merge in CircleCI
  .circleci/config.yml
Labels: Documentation

#22193 Backport PR #22190 on branch v3.5.1-doc (DOC: Fix upstream URL for merge in CircleCI)
  .circleci/config.yml
Labels: Documentation

#22192 Backport PR #22190 on branch v3.5.x (DOC: Fix upstream URL for merge in CircleCI)
  .circleci/config.yml
Labels: Documentation

#22195 Backport PR #22179 on branch v3.5.x (FIX: macosx check case-insensitive app name)
  src/_macosx.m
Labels: GUI/osx

#22189 DOC: Add hatch API to reference
  doc/api/hatch_api.rst
  doc/api/index.rst
  doc/api/prev_api_changes/api_changes_3.5.0/behaviour.rst
Labels: Documentation

#22053 DOC: Document default cap styles
  lib/matplotlib/_enums.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
Labels: Documentation

#22201 Backport PR #22053 on branch v3.5.x (DOC: Document default cap styles)
  lib/matplotlib/_enums.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
Labels: Documentation

#22203 Factor out underline-thickness lookups in mathtext.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#22205 Bump minimum NumPy to 1.19
  doc/api/next_api_changes/development/22205-ES.rst
  doc/api/prev_api_changes/api_changes_3.2.0/development.rst
  doc/api/prev_api_changes/api_changes_3.4.0/development.rst
  doc/devel/dependencies.rst
  doc/devel/min_dep_policy.rst
  environment.yml
  lib/matplotlib/__init__.py
  lib/matplotlib/tests/test_axes.py
  requirements/testing/minver.txt
  setup.py
Labels: PR: dependencies

#22208 Stop sorting artists in Figure Options dialog
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI/Qt, topic: toolbar

#22177 Document ArtistList
  doc/api/axes_api.rst
  lib/matplotlib/axes/_base.py
Labels: Documentation

#22215 Backport PR #22177 on branch v3.5.x (Document ArtistList)
  doc/api/axes_api.rst
  lib/matplotlib/axes/_base.py
Labels: Documentation

#22214 Backport PR #22208 on branch v3.5.x (Stop sorting artists in Figure Options dialog)
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI/Qt, topic: toolbar

#22209 DOC: Document default join style
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
Labels: Documentation

#22217 Backport PR #22209 on branch v3.5.x (DOC: Document default join style)
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
Labels: Documentation

#21894 Jointly track x and y in PolygonSelector.
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI, Maintenance

#21833 Enforce backport conditions on v*-doc branches
  .circleci/config.yml
  .github/workflows/clean_pr.yml
Labels: Documentation

#22224 Trivial doc fix to annotations tutorial.
  tutorials/text/annotations.py
Labels: Documentation

#20426 ENH: Layout engine
  doc/api/index.rst
  doc/api/layout_engine_api.rst
  doc/api/next_api_changes/behavior/20426-JK.rst
  doc/users/next_whats_new/layout_engine.rst
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_tight_bbox.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_tightlayout.py
  tutorials/intermediate/constrainedlayout_guide.py
Labels: topic: geometry manager

#22228 Remove some unnecessary getattrs.
  lib/matplotlib/figure.py
Labels: Maintenance

#22206 Improve formatting of "Anatomy of a figure"
  doc/_static/anatomy.png
  examples/showcase/anatomy.py
Labels: Documentation

#22235 Run wheel builds on PRs when requested by a label
  .github/workflows/cibuildwheel.yml
  doc/devel/coding_guide.rst
Labels: Build, Maintenance, Run cibuildwheel

#22239 Fix typos
  lib/matplotlib/axes/_base.py
Labels: Documentation

#22245 Deprecate cleared kwarg to get_renderer.
  doc/api/next_api_changes/deprecations/22245-AL.rst
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: backend/agg

#22213 Improve ft2font error reporting.
  src/ft2font.cpp
Labels: topic: text/fonts

#22021 Ensure that all toolbar (old/new) subclasses can be init'ed consistently
  doc/api/next_api_changes/deprecations/22021-AL.rst
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_wx.py
Labels: topic: toolbar

#22248 Backport PR #22206 on branch v3.5.x (Improve formatting of "Anatomy of a figure")
  doc/_static/anatomy.png
  examples/showcase/anatomy.py
Labels: Documentation

#22249 DOC: More capitalization of Axes
  examples/axes_grid1/demo_colorbar_with_axes_divider.py
  examples/axes_grid1/simple_axes_divider1.py
  examples/axes_grid1/simple_colorbar.py
  examples/lines_bars_and_markers/fill_between_alpha.py
  examples/lines_bars_and_markers/gradient_bar.py
  examples/misc/logos2.py
  examples/spines/spines.py
  examples/subplots_axes_and_figures/axes_box_aspect.py
  examples/subplots_axes_and_figures/shared_axis_demo.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/artist.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/introductory/pyplot.py
  tutorials/text/annotations.py
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
Labels: Documentation

#22133 Deprecated `afm`, `fontconfig_pattern`, and `type1font`
  doc/api/next_api_changes/behavior/20715-JKS.rst
  doc/api/next_api_changes/deprecations/22133-OG.rst
  doc/api/prev_api_changes/api_changes_0.91.0.rst
  doc/api/prev_api_changes/api_changes_0.98.x.rst
  doc/api/prev_api_changes/api_changes_3.5.0/behaviour.rst
  lib/matplotlib/_afm.py
  lib/matplotlib/_fontconfig_pattern.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_type1font.py
  lib/matplotlib/afm.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_afm.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_type1font.py
  lib/matplotlib/type1font.py
Labels: API: changes, Maintenance

#22238 Backport PR #22235 on branch v3.5.x (Run wheel builds on PRs when requested by a label)
  .github/workflows/cibuildwheel.yml
  doc/devel/coding_guide.rst
Labels: Build, Maintenance, Run cibuildwheel

#22246 DOC: add dropdown
  doc/_static/switcher.json
  doc/conf.py
  doc/devel/release_guide.rst
  requirements/doc/doc-requirements.txt
Labels: Documentation, Documentation: website

#22154 Add some tests for minspan{x,y} in RectangleSelector
  lib/matplotlib/tests/test_widgets.py
Labels: status: needs review, topic: widgets/UI

#22256 Skip tests on the -doc branches
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: Maintenance

#22261 DOC: fix switcher json
  doc/_static/switcher.json
Labels: Documentation: website

#22259 Backport PR #22256 on branch v3.5.x (Skip tests on the -doc branches)
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: Maintenance

#22260 Backport PR #22256 on branch v3.5.1-doc (Skip tests on the -doc branches)
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: Maintenance

#22258 DOC: fix version switcher
  doc/conf.py
Labels: Documentation: website

#22265 Fix Qt enum access.
  lib/matplotlib/backends/backend_qt.py
Labels: GUI/Qt

#22269 Backport PR #22265 on branch v3.5.x (Fix Qt enum access.)
  lib/matplotlib/backends/backend_qt.py
Labels: GUI/Qt

#21933 MNT: privatize colorbar attr
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar

#22251 Colorbar docstring reorg
  lib/matplotlib/colorbar.py
Labels: Documentation, topic: color/colorbar

#22046 Add the ability to change the focal length of the camera for 3D plots
  doc/users/next_whats_new/3d_plot_focal_length.rst
  examples/mplot3d/projections.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_focal_length.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#22254 Disable QuadMesh cursor data by default
  doc/api/next_api_changes/behavior/22254-DS.rst
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: Release critical

#22275 Backport PR #22254 on branch v3.5.x (Disable QuadMesh cursor data by default)
  doc/api/next_api_changes/behavior/22254-DS.rst
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: Release critical

#22174 Give the Tk toolbar buttons a flat look
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22280 Simplify FontProperties.copy().
  lib/matplotlib/font_manager.py
Labels: topic: text/fonts, Maintenance

#22270 Expanded documentation of Axis.set_ticks as per discussion in issue #22262
  lib/matplotlib/axis.py
Labels: Documentation, status: needs workflow approval

#22244 MNT: colorbar locators properties
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: API: consistency, topic: color/colorbar

#22295 Display bad format string in error message.
  lib/matplotlib/axes/_base.py
Labels: API: argument checking

#22097 In mpl_toolkits, use the same floating point slop as for standard ticks.
  doc/api/next_api_changes/deprecations/22097-AL.rst
  lib/mpl_toolkits/axisartist/axislines.py
Labels: topic: mpl_toolkit

#22301 FIX: repositioning axes labels: use get_window_extent instead for spines.
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_double.png
Labels: Release critical, topic: color/colorbar

#22309 Backport PR #22301 on branch v3.5.x (FIX: repositioning axes labels: use get_window_extent instead for spines.)
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_figure/test_subfigure_double.png
Labels: Release critical, topic: color/colorbar

#22294 Add set_cursor method to FigureCanvasTk
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22310 Backport PR #22294 on branch v3.5.x (Add set_cursor method to FigureCanvasTk)
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22293 Modify example for x-axis tick labels at the top
  examples/ticks/tick_xlabel_top.py
Labels: Documentation

#22279 Remove Axes sublists from docs
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/pie_and_polar_charts/bar_of_pie.py
  tutorials/intermediate/artists.py
Labels: Documentation

#22290 Respect `position` and `group` argument in Tk toolmanager add_toolitem
  lib/matplotlib/backends/_backend_tk.py
Labels: MEP: MEP22, GUI/tk

#22077 Fix keyboard event routing in Tk backend (fixes #13484, #14081, and #22028)
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/tests/test_backend_tk.py
Labels: GUI/tk, PR: bugfix

#22271 Rework/fix Text layout cache.
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: topic: text

#22320 Backport PR #22279 on branch v3.5.1-doc (Remove Axes sublists from docs)
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/pie_and_polar_charts/bar_of_pie.py
  tutorials/intermediate/artists.py
Labels: Documentation

#22317 Rename outdated seaborn styles.
  doc/api/next_api_changes/deprecations/22317-AL.rst
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-bright.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-colorblind.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-dark-palette.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-dark.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-darkgrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-deep.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-muted.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-notebook.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-paper.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-pastel.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-poster.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-talk.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-ticks.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-white.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8-whitegrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn0.8.mplstyle
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
  tutorials/colors/colors.py
Labels: topic: styles

#20887 Implement a consistent behavior in TkAgg backend for bad blit bbox
  lib/matplotlib/backends/_backend_tk.py
Labels: API: consistency, GUI/tk, API: argument checking, status: needs comment/discussion

#21547 Custom cap widths in box and whisker plots in bxp() and boxplot()
  doc/users/next_whats_new/custom_cap_widths.rst
  examples/statistics/boxplot_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_custom_capwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custom_capwidth.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custom_capwidths.png
  lib/matplotlib/tests/test_axes.py
Labels: New feature, status: needs workflow approval

#21583 Add pre-commit config and dev instructions
  .pre-commit-config.yaml
  doc/devel/development_setup.rst
  environment.yml
Labels: status: needs comment/discussion

#22250 Unify toolbar init across backends.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: topic: toolbar, Maintenance

#22319 Backport PR #22279 on branch v3.5.x (Remove Axes sublists from docs)
  examples/mplot3d/wire3d_animation_sgskip.py
  examples/pie_and_polar_charts/bar_of_pie.py
  tutorials/intermediate/artists.py
Labels: Documentation

#22318 Backport PR #22293 on branch v3.5.x (Modify example for x-axis tick labels at the top)
  examples/ticks/tick_xlabel_top.py
Labels: Documentation

#22321 Backport PR #22290 on branch v3.5.x (Respect `position` and `group` argument in Tk toolmanager add_toolitem)
  lib/matplotlib/backends/_backend_tk.py
Labels: MEP: MEP22, GUI/tk

#22322 Backport PR #22077 on branch v3.5.x (Fix keyboard event routing in Tk backend (fixes #13484, #14081, and #22028))
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/tests/test_backend_tk.py
Labels: GUI/tk, PR: bugfix

#19368 Raise warning and downsample if data given to _image.resample is too large
  doc/api/next_api_changes/behavior/19368-DS.rst
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: status: needs review

#22161 Add box when setting `PolygonSelector.verts`
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: status: needs review, topic: widgets/UI

#22323 Replace sole use of maxdict by lru_cache.
  doc/api/next_api_changes/deprecations/22323-GL.rst
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: Maintenance

#22337 DOC: More cleanup axes -> Axes
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
Labels: Documentation

#22315 More standardization of floating point slop in mpl_toolkits.
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, Maintenance

#22339 wx.App() should be init'ed in new_figure_manager_given_figure
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#22292 Cleanup Axis._translate_tick_kw
  lib/matplotlib/axis.py
Labels: Maintenance

#22332 Let TransformedPatchPath inherit most functionality from TransformedPath.
  lib/matplotlib/transforms.py
Labels: topic: path handling, Maintenance, topic: transforms and scales

#22114 Rewrite AxesStack independently of cbook.Stack.
  lib/matplotlib/figure.py
Labels: Maintenance

#21962 Privatize various internal APIs of backend_pgf.
  doc/api/next_api_changes/deprecations/21962-AL.rst
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend/pgf

#21836 Slightly shorten ft2font init.
  src/ft2font_wrapper.cpp
Labels: Maintenance

#22342 Docstrings for _qhull.
  src/qhull_wrap.cpp
Labels: Documentation

#22351 Fix "trailing" whitespace in C docstrings.
  src/_c_internal_utils.c
  src/_path_wrapper.cpp
  src/qhull_wrap.cpp
Labels: Documentation

#22026 Simplify wxframe deletion.
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx, Maintenance

#21391 Reuse imsave()'s background-blending code in FigureCanvasAgg.print_jpeg.
  lib/matplotlib/backends/backend_agg.py
Labels: backend/agg, Maintenance

#22025 Deprecate various custom FigureFrameWx attributes/methods.
  doc/api/next_api_changes/deprecations/22025-AL.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI/wx

#22349 Use latex as the program name for kpsewhich
  lib/matplotlib/mpl-data/kpsewhich.lua
Labels: topic: text/usetex

#22358 Backport PR #22349 on branch v3.5.x (Use latex as the program name for kpsewhich)
  lib/matplotlib/mpl-data/kpsewhich.lua
Labels: topic: text/usetex

#22363 Properly capitalize "Unicode".
  examples/pyplots/text_commands.py
  examples/text_labels_and_annotations/accented_text.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/qt_editor/_formlayout.py
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/textpath.py
  lib/matplotlib/ticker.py
  tools/create_DejaVuDisplay.sh
  tools/gh_api.py
  tools/subset.py
  tutorials/text/README.txt
  tutorials/text/text_intro.py
Labels: Documentation

#22365 Remove deprecated `MovieWriter.cleanup`
  doc/api/next_api_changes/removals/22365-OG.rst
  lib/matplotlib/animation.py
Labels: Maintenance
