Repository matplotlib/matplotlib, pull requests merged in 2022-11, with the labels that each got.

#24325 Backport PR #24095 on branch v3.6.x (nb/webagg: Move mouse events to outer canvas div)
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI: nbagg, GUI: webagg

#23119 Small cleanups to QuiverKey.
  lib/matplotlib/quiver.py
Labels: status: waiting for other PR, Maintenance, topic: arrow

#24310 show axes changing in animate decay example
  examples/animation/animate_decay.py
Labels: Documentation

#24303 Simplify generate_fontconfig_pattern.
  lib/matplotlib/_fontconfig_pattern.py
Labels: Maintenance

#24305 Unify logic of ConnectionStyle._Base.{_clip,_shrink}.
  doc/api/next_api_changes/deprecations/24305-AL.rst
  lib/matplotlib/patches.py
Labels: API: changes

#24282 Fix some minor docstring typos
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/widgets.py
Labels: Documentation

#24330 Backport PR #24282 on branch v3.6.x (Fix some minor docstring typos)
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/widgets.py
Labels: Documentation

#24238 Update example and docstring to encourage the use of functools.partial in FuncAnimation
  doc/api/animation_api.rst
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#24336 Backport PR #24335 on branch v3.6.x (Fix missing word in ImageMagickWriter docstring.)
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#23914 Add shading of Poly3DCollection
  doc/users/next_whats_new/shade_poly3dcollection.rst
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#24337 Backport PR #24238 on branch v3.6.x (Update example and docstring to encourage the use of functools.partial in FuncAnimation)
  doc/api/animation_api.rst
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#24314 Minor improvements to Annotations Tutorial
  tutorials/text/annotations.py
Labels: Documentation, topic: annotation

#24338 DOC: Group pyplot commands by category
  doc/api/pyplot_summary.rst
Labels: Documentation

#24339 DOC: Minor cleanup in "Writing documentation"
  doc/devel/documenting_mpl.rst
Labels: Documentation

#24279 Cleanup BboxImage example.
  examples/images_contours_and_fields/demo_bboximage.py
Labels: Documentation

#24344 Add test for colorbar extend alpha
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_extend_alpha.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: testing, topic: color/colorbar

#24346 Backport PR #24344 on branch v3.6.x (Add test for colorbar extend alpha)
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_extend_alpha.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: testing, topic: color/colorbar

#24343 Emit "axes not compatible with tight_layout" in a single place.
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/layout_engine.py
Labels: topic: geometry manager, Maintenance

#24353 Backport PR #24343 on branch v3.6.x (Emit "axes not compatible with tight_layout" in a single place.)
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/layout_engine.py
Labels: topic: geometry manager, Maintenance

#24354 DOC: clarify rc_context resets all rcParams changes
  lib/matplotlib/__init__.py
Labels: Documentation

#24358 Backport PR #24354 on branch v3.6.x (DOC: clarify rc_context resets all rcParams changes)
  lib/matplotlib/__init__.py
Labels: Documentation

#24257 Load style files from third-party packages.
  .github/workflows/tests.yml
  doc/api/next_api_changes/development/24257-AL.rst
  doc/devel/dependencies.rst
  doc/users/next_whats_new/styles_from_packages.rst
  environment.yml
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
  requirements/testing/minver.txt
  setup.py
  tutorials/introductory/customizing.py
Labels: New feature, topic: styles

#24355 Expire unused positional parameters in canvas subclasses
  doc/api/next_api_changes/removals/24355-OG.rst
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_template.py
Labels: API: changes

#24356 Expire QuadMesh old signature deprecation
  doc/api/next_api_changes/removals/24356-OG.rst
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: API: changes, topic: collections and mappables

#24368 DOC: Install dev dependencies before building matplotlib
  doc/devel/development_setup.rst
Labels: Documentation

#24252 Change default rotation mode for 3D labels to 'anchor'
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d

#22230 FIX: add support for imshow extent to have units
  doc/users/next_whats_new/imshow_extent_units.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_axes/extent_units.png
  lib/matplotlib/tests/test_axes.py
Labels: topic: units and array ducktypes

#24370 Backport PR #24368 on branch v3.6.x (DOC: Install dev dependencies before building matplotlib)
  doc/devel/development_setup.rst
Labels: Documentation

#24307 DOC: Organize Axes3D methods into sections
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/toolkits/mplot3d.rst
  doc/api/toolkits/mplot3d/axes3d.rst
  doc/users/prev_whats_new/whats_new_3.4.0.rst
  examples/mplot3d/stem3d_demo.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, topic: mplot3d

#24375 DOC: Group pyplot plotting commands
  doc/api/pyplot_summary.rst
Labels: Documentation

#24366 DOC: Improve Image Slices Viewer example
  examples/event_handling/image_slices_viewer.py
  lib/matplotlib/backend_bases.py
Labels: Documentation

#24378 DOC: Cleanup spines usage in examples
  doc/sphinxext/gallery_order.py
  examples/showcase/integral.py
  examples/showcase/xkcd.py
  examples/spines/spines.py
  examples/spines/spines_bounds.py
  examples/spines/spines_dropped.py
  examples/statistics/customized_violin.py
  examples/ticks/tick-formatters.py
  examples/ticks/tick-locators.py
Labels: Documentation

#24382 Backport PR #24378 on branch v3.6.x (DOC: Cleanup spines usage in examples)
  doc/sphinxext/gallery_order.py
  examples/showcase/integral.py
  examples/showcase/xkcd.py
  examples/spines/spines.py
  examples/spines/spines_bounds.py
  examples/spines/spines_dropped.py
  examples/statistics/customized_violin.py
  examples/ticks/tick-formatters.py
  examples/ticks/tick-locators.py
Labels: Documentation

#24381 Backport PR #24366 on branch v3.6.x (DOC: Improve Image Slices Viewer example)
  examples/event_handling/image_slices_viewer.py
  lib/matplotlib/backend_bases.py
Labels: Documentation

#24377 DOC: Cleanup Spine placement example
  examples/spines/spine_placement_demo.py
  lib/matplotlib/spines.py
Labels: Documentation

#23267 Add location keyword argument to Colorbar
  doc/users/next_whats_new/colorbar_has_location_argument.rst
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#24384 Backport PR #24377 on branch v3.6.x (DOC: Cleanup Spine placement example)
  examples/spines/spine_placement_demo.py
  lib/matplotlib/spines.py
Labels: Documentation

#24385 Backport PR #24377 on branch v3.6.2-doc (DOC: Cleanup Spine placement example)
  examples/spines/spine_placement_demo.py
  lib/matplotlib/spines.py
Labels: Documentation

#24380 DOC: Remove the example "Pythonic Matplotlib"
  doc/users/explain/api_interfaces.rst
  examples/misc/pythonic_matplotlib.py
Labels: Documentation

#24392 Backport PR #24380 on branch v3.6.2-doc (DOC: Remove the example "Pythonic Matplotlib")
  doc/users/explain/api_interfaces.rst
  examples/misc/pythonic_matplotlib.py
Labels: Documentation

#24391 Backport PR #24380 on branch v3.6.x (DOC: Remove the example "Pythonic Matplotlib")
  doc/users/explain/api_interfaces.rst
  examples/misc/pythonic_matplotlib.py
Labels: Documentation

#24329 Kill FontconfigPatternParser.
  doc/api/fontconfig_pattern_api.rst
  doc/api/index.rst
  lib/matplotlib/_fontconfig_pattern.py
  lib/matplotlib/fontconfig_pattern.py
Labels: Maintenance

#24399 Fix docstring of Figure.subfigures.
  lib/matplotlib/figure.py
Labels: Documentation

#24400 Backport PR #24399 on branch v3.6.x (Fix docstring of Figure.subfigures.)
  lib/matplotlib/figure.py
Labels: Documentation

#24407 Reword "Reordering is not commutative" phrase in tutorial.
  tutorials/colors/colors.py
Labels: Documentation

#24411 Backport PR #24407 on branch v3.6.x (Reword "Reordering is not commutative" phrase in tutorial.)
  tutorials/colors/colors.py
Labels: Documentation

#24412 Backport PR #24407 on branch v3.6.2-doc (Reword "Reordering is not commutative" phrase in tutorial.)
  tutorials/colors/colors.py
Labels: Documentation

#24415 made f2tfont error message explicit that it needs path to file
  lib/matplotlib/tests/test_font_manager.py
  src/ft2font_wrapper.cpp
Labels: Documentation, topic: text/fonts

#24426 Backport PR #24422 on branch v3.6.x (Make QT_API a link in the qt embedding example.)
  examples/user_interfaces/embedding_in_qt_sgskip.py
Labels: Documentation, GUI: Qt

#24427 Backport PR #24422 on branch v3.6.2-doc (Make QT_API a link in the qt embedding example.)
  examples/user_interfaces/embedding_in_qt_sgskip.py
Labels: Documentation, GUI: Qt

#24423 Tighten the Qt binding selection docs.
  doc/api/backend_gtk3_api.rst
  doc/api/backend_gtk4_api.rst
  doc/api/backend_qt_api.rst
  doc/api/backend_wx_api.rst
  doc/users/explain/backends.rst
  doc/users/faq/environment_variables_faq.rst
  doc/users/prev_whats_new/whats_new_3.5.0.rst
Labels: Documentation, GUI: Qt

#24215 Add :shows-source-link: option to Sphinx plot directive
  doc/users/next_whats_new/show_source_links_directive_option.rst
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
Labels: Documentation: build

#23101 Move show() to somewhere naturally inheritable / document what pyplot expects from a backend.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_gtk.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backend_template.py
Labels: topic: canvas and figure manager

#24443 Add valid values to `get_*axis_transform` docstring
  lib/matplotlib/axes/_base.py
Labels: Documentation

#24447 Factor out error generation for function calls with wrong nargs.
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/contour.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/quiver.py
  lib/matplotlib/tests/test_quiver.py
Labels: API: argument checking, Maintenance

#24430 MNT: Issue a warning instead of logging if RGB(A) passed to scatter(..., c)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: Maintenance

#24402 DOC: Fix title formats in backend api docs
  doc/api/backend_agg_api.rst
  doc/api/backend_bases_api.rst
  doc/api/backend_cairo_api.rst
  doc/api/backend_gtk3_api.rst
  doc/api/backend_gtk4_api.rst
  doc/api/backend_managers_api.rst
  doc/api/backend_mixed_api.rst
  doc/api/backend_nbagg_api.rst
  doc/api/backend_pdf_api.rst
  doc/api/backend_pgf_api.rst
  doc/api/backend_ps_api.rst
  doc/api/backend_qt_api.rst
  doc/api/backend_svg_api.rst
  doc/api/backend_template_api.rst
  doc/api/backend_tk_api.rst
  doc/api/backend_tools_api.rst
  doc/api/backend_webagg_api.rst
  doc/api/backend_wx_api.rst
Labels: Documentation

#24434 Fix pyplot.figlegend docstring
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#24458 Backport PR #24434 on branch v3.6.x (Fix pyplot.figlegend docstring)
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#24459 removed unused variable and fixed text in doc
  examples/text_labels_and_annotations/legend_demo.py
Labels: Documentation

#24463 Backport PR #24459 on branch v3.6.x (removed unused variable and fixed text in doc)
  examples/text_labels_and_annotations/legend_demo.py
Labels: Documentation

#24462 Don't pass unused xdescent to _get_packed_offsets.
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: Maintenance

#24460 Define autoscale() based on autoscale_None().
  lib/matplotlib/colors.py
Labels: topic: collections and mappables

#24466 Backport PR #24460 on branch v3.6.x (Define autoscale() based on autoscale_None().)
  lib/matplotlib/colors.py
Labels: topic: collections and mappables

#24455 Draw RadioButtons using scatter to ensure circular buttons.
  doc/api/next_api_changes/deprecations/24455-AL.rst
  lib/matplotlib/tests/baseline_images/test_widgets/check_bunch_of_radio_buttons.png
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#24429 DOC: Clarify transparency in colors
  tutorials/colors/colors.py
Labels: Documentation

#24469 Backport PR #24429 on branch v3.6.2-doc (DOC: Clarify transparency in colors)
  tutorials/colors/colors.py
Labels: Documentation

#24467 [DOC] swapped params in fig_compare_error msg
  lib/matplotlib/testing/decorators.py
Labels: Documentation, topic: testing

#24472 [DOC] removed flake8 from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation, Maintenance

#24468 Backport PR #24429 on branch v3.6.x (DOC: Clarify transparency in colors)
  tutorials/colors/colors.py
Labels: Documentation

#24444 DOC: AnnotationBbox keyword descriptions
  examples/text_labels_and_annotations/demo_annotation_box.py
  lib/matplotlib/offsetbox.py
Labels: Documentation

#24478 Backport PR #24444 on branch v3.6.x (DOC: AnnotationBbox keyword descriptions)
  examples/text_labels_and_annotations/demo_annotation_box.py
  lib/matplotlib/offsetbox.py
Labels: Documentation

#24475 DOC: Fix examples gallery layout issues
  requirements/doc/doc-requirements.txt
Labels: PR: dependencies, Documentation: build

#24439 Remove custom polar behaviour in LogLocator
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: polar, topic: transforms and scales

#24481 Fix floating-point drift in oscilloscope example
  examples/animation/strip_chart.py
Labels: Documentation

#24485 Backport PR #24481 on branch v3.6.x (Fix floating-point drift in oscilloscope example)
  examples/animation/strip_chart.py
Labels: Documentation

#24488 Update for pydata-sphinx-theme 0.12.0
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#24487 Update tests to run with 3.11 (not rc)
  .github/workflows/cibuildsdist.yml
  .github/workflows/tests.yml
Labels: Run cibuildwheel

#24490 DOC: Remove text rotation example
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
  examples/text_labels_and_annotations/text_rotation.py
Labels: Documentation

#24492 Backport PR #24481 on branch v3.6.2-doc (Fix floating-point drift in oscilloscope example)
  examples/animation/strip_chart.py
Labels: Documentation

#24495 Update adding of google analytics key for docs
  doc/conf.py
Labels: Documentation

#24496 Backport PR #24495 on branch v3.6.x (Update adding of google analytics key for docs)
  doc/conf.py
Labels: Documentation

#24500 DOC: Removed matplotlib from mission statement title
  doc/users/project/mission.rst
Labels: Documentation

#24502 Remove link from demo_floating_axes title.
  examples/axisartist/demo_floating_axes.py
Labels: Documentation, topic: mpl_toolkit

#24482 Use relative frame path in HTMLWriter
  lib/matplotlib/animation.py
Labels: topic: animation

#24507 Backport PR#24488 to v3.6.2-doc
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#24506 Backport of PR#24488 (Update for pydata-sphinx-theme 0.12.0)
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation

#24505 Backport PR #24482 on branch v3.6.x (Use relative frame path in HTMLWriter)
  lib/matplotlib/animation.py
Labels: topic: animation

#24504 Backport PR #24502 on branch v3.6.2-doc (Remove link from demo_floating_axes title.)
  examples/axisartist/demo_floating_axes.py
Labels: Documentation, topic: mpl_toolkit

#24503 Backport PR #24502 on branch v3.6.x (Remove link from demo_floating_axes title.)
  examples/axisartist/demo_floating_axes.py
Labels: Documentation, topic: mpl_toolkit

#24491 Make Path3DCollection store indexed offset, and only apply z-ordered offset during draw
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
Labels: topic: mplot3d

#24512 Tweak markup in toolkits tutorials.
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation, topic: mpl_toolkit

#24516 Backport PR #24512 on branch v3.6.2-doc (Tweak markup in toolkits tutorials.)
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation, topic: mpl_toolkit

#24515 Backport PR #24512 on branch v3.6.x (Tweak markup in toolkits tutorials.)
  tutorials/toolkits/axes_grid.py
  tutorials/toolkits/axisartist.py
  tutorials/toolkits/mplot3d.py
Labels: Documentation, topic: mpl_toolkit

#24513 Modernize a bit floating_axes tests.
  lib/mpl_toolkits/axisartist/tests/test_floating_axes.py
Labels: topic: mpl_toolkit, topic: testing

#24218 Document what pyplot expects from a backend.
  doc/users/explain/backends.rst
  doc/users/explain/index.rst
  doc/users/explain/writing_a_backend_pyplot_interface.rst
Labels: Documentation

#24520 Doc: Fix grammar and spelling
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/sankey.py
  lib/matplotlib/spines.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/text.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/matplotlib/widgets.py
Labels: Documentation

#24517 DOC: improve grammar and consistency
  lib/matplotlib/artist.py
  lib/matplotlib/axis.py
  lib/matplotlib/bezier.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
  lib/matplotlib/dviread.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/layout_engine.py
Labels: Documentation

#24523 [Doc] fix more spelling and grammar
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tri/_tricontour.py
  lib/matplotlib/tri/_triinterpolate.py
  lib/matplotlib/tri/_trirefine.py
  lib/matplotlib/tri/_tritools.py
Labels: Documentation

#24521 Doc: improve spelling and grammar
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axisartist/axisline_style.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, topic: mplot3d, topic: mpl_toolkit

#24514 Fix potential issue in contour
  lib/matplotlib/contour.py
Labels: topic: contour

#24532 Backport PR #24520 on branch v3.6.x (Doc: Fix grammar and spelling)
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/sankey.py
  lib/matplotlib/spines.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/text.py
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
  lib/matplotlib/widgets.py
Labels: Documentation

#24534 Backport PR #24521 on branch v3.6.x (Doc: improve spelling and grammar)
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axisartist/axisline_style.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, topic: mplot3d, topic: mpl_toolkit

#24519 MNT: remove unused arguments to private methods and minor doc fixes
  lib/matplotlib/legend_handler.py
Labels: Documentation, topic: legend, Maintenance

#24274 Animation Tutorial
  tutorials/introductory/animation_tutorial.py
Labels: topic: animation, Documentation: overhaul

#21831 FIX: pre-composite animation frames to white background
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: topic: animation

#24527 Fix testing of whether backends use the new pyplot_show API.
  doc/api/next_api_changes/removals/XXXXX-AL.rst
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backend_template.py
Labels: topic: pyplot API

#24431 FIX: Support passing one alpha per event sequence to eventplot()
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: Maintenance

#24304 Simplify some patches path definitions.
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
Labels: Maintenance

#24529 Transform ParasiteAxesBase._update_viewlim into standard callback.
  doc/api/prev_api_changes/api_changes_3.6.0/removals.rst
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: topic: mpl_toolkit, Maintenance

#23692 Add `Axes.get_tick_params()` method.
  doc/api/axis_api.rst
  doc/users/next_whats_new/view_current_axis_format.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axes.py
Labels: status: needs comment/discussion

#24539 Fix misnamed api changes entry.
  doc/api/next_api_changes/removals/24257-AL.rst
Labels: Documentation

#23417 Consistently set label on axis with units
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/testing/jpl_units/UnitDbl.py
  lib/matplotlib/tests/baseline_images/test_patches/units_rectangle.png
  lib/matplotlib/tests/test_units.py
Labels: topic: units and array ducktypes

#24558 In mplot3d, fix a doc typo and autogen zaxis_inverted.
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, topic: mplot3d, Maintenance

#24299 Rework style sheet reference example to cycle props
  examples/style_sheets/style_sheets_reference.py
Labels: Documentation

#24559 Backport PR #24299 on branch v3.6.x (Rework style sheet reference example to cycle props)
  examples/style_sheets/style_sheets_reference.py
Labels: Documentation

#24560 Backport PR #24299 on branch v3.6.2-doc (Rework style sheet reference example to cycle props)
  examples/style_sheets/style_sheets_reference.py
Labels: Documentation

#24540 DOC: add note about enabling c++11 support for old gcc
  doc/devel/dependencies.rst
Labels: Documentation

#24561 Backport PR #24540 on branch v3.6.x (DOC: add note about enabling c++11 support for old gcc)
  doc/devel/dependencies.rst
Labels: Documentation

#24562 Backport PR #24540 on branch v3.6.2-doc (DOC: add note about enabling c++11 support for old gcc)
  doc/devel/dependencies.rst
Labels: Documentation

#24556 Fix incorrect window_extent of AxesImage
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: mpl_toolkit
