Repository matplotlib/matplotlib, pull requests merged in 2022-02, with the labels that each got.

#22359 Slightly refactor TeX source generation.
  lib/matplotlib/texmanager.py
Labels: topic: text/usetex, Maintenance

#19214 Improve autoscaling for high order Bezier curves
  doc/api/next_api_changes/behavior/19214-DS.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_axes/pie_ccw_true.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_center_radius.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_default.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_frame_grid.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_linewidth_0.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_linewidth_2.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_no_label.png
  lib/matplotlib/tests/baseline_images/test_axes/pie_rotatelabels_true.png
  lib/matplotlib/tests/test_axes.py
Labels: status: needs review, topic: path handling

#22368 Pin dependencies to fix CI
  .appveyor.yml
  .circleci/config.yml
Labels: Documentation, Build

#21352 Refactor hexbin().
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#22370 Replace tabs with spaces in C code.
  src/_macosx.m
  src/_tkmini.h
Labels: Maintenance

#21597 FIX: Remove the deepcopy override from transforms
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/transforms.py
Labels: status: needs review, topic: transforms and scales

#21877 DOC: attempt to explain the main different APIs
  doc/conf.py
  doc/users/explain/api_interfaces.rst
  doc/users/explain/index.rst
Labels: Documentation: website

#22383 TST: fix doc build
  doc/api/next_api_changes/deprecations/22345-JK.rst
Labels: Documentation, topic: testing

#22394 Tweak Axes3D docstrings that refer to 2D plotting methods.
  lib/matplotlib/axes/_base.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#22397 Axes capitalization in widgets and axes3d
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#21442 Factor out common limits handling for x/y/z axes.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_image.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#22406 [DOC]: Removed a redundant 'The'
  README.rst
Labels: Documentation

#22423 Avoid indiscriminate glob-remove in xpdf_distill.
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps, Maintenance

#22419 Remove "Matplotlib version" from docs issue template
  .github/ISSUE_TEMPLATE/documentation.yml
Labels: Maintenance

#22396 Clarify note in get_cmap()
  lib/matplotlib/cm.py
Labels: Documentation

#22427 Backport PR #22396 on branch v3.5.x (Clarify note in get_cmap())
  lib/matplotlib/cm.py
Labels: Documentation

#22420 Update plt.figure() docstring.
  lib/matplotlib/pyplot.py
Labels: Documentation

#22428 Backport PR #22368 on branch v3.5.x (Pin dependencies to fix CI)
  .appveyor.yml
  .circleci/config.yml
Labels: Documentation, Build

#22434 DOC: imbalanced backticks.
  lib/matplotlib/ticker.py
Labels: Documentation

#22433 Fix ambiguous link targets in docs.
  lib/matplotlib/axes/_base.py
Labels: Documentation

#22431 Update Scipy intersphinx inventory link
  doc/conf.py
  doc/devel/documenting_mpl.rst
Labels: Documentation

#22430 fix method name in doc
  examples/misc/zorder_demo.py
Labels: Documentation

#22437 Backport PR #22431 on branch v3.5.1-doc (Update Scipy intersphinx inventory link)
  doc/conf.py
  doc/devel/documenting_mpl.rst
Labels: Documentation

#22439 Backport PR #22430 on branch v3.5.1-doc (fix method name in doc)
  examples/misc/zorder_demo.py
Labels: Documentation

#22438 Backport PR #22430 on branch v3.5.x (fix method name in doc)
  examples/misc/zorder_demo.py
Labels: Documentation

#22436 Backport PR #22431 on branch v3.5.x (Update Scipy intersphinx inventory link)
  doc/conf.py
  doc/devel/documenting_mpl.rst
Labels: Documentation

#22441 Backport PR #22434 on branch v3.5.x (DOC: imbalanced backticks.)
  lib/matplotlib/ticker.py
Labels: Documentation

#22234 Partial fix for grid alpha
  lib/matplotlib/axis.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: ticks axis labels

#22194 Drop support for Python 3.7
  .appveyor.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  doc/api/next_api_changes/development/22205-ES.rst
  doc/devel/coding_guide.rst
  doc/devel/dependencies.rst
  doc/devel/min_dep_policy.rst
  doc/devel/testing.rst
  lib/matplotlib/tests/test_ticker.py
  requirements/testing/extra.txt
  requirements/testing/minver.txt
  setup.py
  tox.ini
Labels: Maintenance, PR: dependencies

#22422 Deprecate backend_ps.convert_psfrags.
  doc/api/next_api_changes/deprecations/22422-AL.rst
  lib/matplotlib/backends/backend_ps.py
Labels: backend/ps

#22415 Make emit and auto args of set_{x,y,z}lim keyword only.
  doc/api/next_api_changes/deprecations/22415-AL.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/projections/polar.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: API: changes

#22449 Small cleanup to quiver.
  lib/matplotlib/quiver.py
Labels: Maintenance

#22079 Share FigureManager class between gtk3 and gtk4.
  lib/matplotlib/backends/_backend_gtk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI/gtk, Maintenance

#21634 TST: Add future dependency tests as a weekly CI job
  .github/workflows/tests.yml
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
Labels: status: needs review, topic: testing

#22375 Re-enable cibuildwheel on push
  .github/workflows/cibuildwheel.yml
Labels: Build, Run cibuildwheel

#22456 Backport PR #22375 on branch v3.5.x (Re-enable cibuildwheel on push)
  .github/workflows/cibuildwheel.yml
Labels: Build, Run cibuildwheel

#22413 Remove some trivial private getters/setters in axisartist
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/tests/test_axisartist_axis_artist.py
Labels: topic: mpl_toolkit, Maintenance

#22454 move `_toolbar_2` from webagg_core to webagg
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: Release critical, topic: toolbar

#22457 Copy arrowprops argument to FancyAnnotationBbox.
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: Maintenance

#22421 Make most params to figure()/Figure() kwonly.
  doc/api/next_api_changes/deprecations/22421-AL.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: API: changes

#22458 Fix Radar Chart Gridlines for Non-Circular Charts
  examples/specialty_plots/radar_chart.py
Labels: Documentation, topic: polar

#22463 Backport PR #22458 on branch v3.5.1-doc (Fix Radar Chart Gridlines for Non-Circular Charts)
  examples/specialty_plots/radar_chart.py
Labels: Documentation, topic: polar

#22464 Small improvements related to radar_chart example.
  examples/specialty_plots/radar_chart.py
  lib/matplotlib/projections/polar.py
Labels: Documentation, topic: polar

#21267 Cleanup AnnotationBbox.
  lib/matplotlib/offsetbox.py
Labels: Maintenance

#22465 Deprecate unused AddList.
  doc/api/next_api_changes/removals/22465-AL.rst
  lib/mpl_toolkits/axes_grid1/axes_size.py
Labels: topic: mpl_toolkit

#22411 Move cbook._define_aliases() to _api.define_aliases()
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/collections.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#22474 Clarify secondary_axis documentation
  lib/matplotlib/axes/_secondary_axes.py
Labels: Documentation

#22475 Backport PR #22474 on branch v3.5.x (Clarify secondary_axis documentation)
  lib/matplotlib/axes/_secondary_axes.py
Labels: Documentation

#21178 Add asinh axis scaling (*smooth* symmetric logscale)
  doc/api/colors_api.rst
  doc/users/next_whats_new/asinh_scale.rst
  examples/images_contours_and_fields/colormap_normalizations_symlognorm.py
  examples/scales/asinh_demo.py
  examples/scales/symlog_demo.py
  lib/matplotlib/colors.py
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_scale.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels, status: needs comment/discussion, status: needs workflow approval

#22467 Small cleanup to font handling in agg.
  lib/matplotlib/backends/backend_agg.py
Labels: topic: text, backend/agg, Maintenance

#22477 Un-pyplot some examples which were already explicitly referencing axes.
  examples/axes_grid1/make_room_for_ylabel_using_axesgrid.py
  examples/widgets/buttons.py
  examples/widgets/check_buttons.py
  examples/widgets/radio_buttons.py
  examples/widgets/range_slider.py
  examples/widgets/slider_demo.py
  examples/widgets/slider_snap_demo.py
Labels: Documentation

#22469 Improve readability of mathtext internal structures.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#22204 Cleanup _mathtext internal API
  doc/api/next_api_changes/behavior/22204-AL.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/mathtext.py
Labels: topic: text/mathtext, Maintenance

#22480 Remove _point_size_reduction.
  lib/matplotlib/markers.py
Labels: Maintenance, topic: markers

#22240 Add minimum macosx version
  .github/workflows/cibuildwheel.yml
  doc/devel/dependencies.rst
  doc/users/next_whats_new/min_macos_version.rst
  src/_macosx.m
Labels: OS/Apple, Build, Run cibuildwheel

#22485 Change string representation of AxesImage
  doc/api/next_api_changes/behavior/22485-TH.rst
  lib/matplotlib/image.py
Labels: topic: images

#22483 Tweak arrow demo size.
  examples/text_labels_and_annotations/arrow_demo.py
Labels: Documentation

#22491 Linewrap setupext to 79 character lines.
  .flake8
  setupext.py
Labels: Build, Maintenance

#22490 Deprecate unused, untested Affine2D.identity().
  doc/api/next_api_changes/deprecations/22490-AL.rst
  lib/matplotlib/transforms.py
Labels: topic: transforms and scales

#22468 Turn _mathtext.ship into a plain function.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#22487 Don't key MathTextParser cache off a mutable FontProperties.
  lib/matplotlib/mathtext.py
Labels: topic: text/mathtext

#22497 Remove entries of MathTextParser._backend_mapping deprecated in 3.4.
  lib/matplotlib/mathtext.py
Labels: topic: text/mathtext

#22496 Fix units in quick start example
  tutorials/introductory/quick_start.py
Labels: Documentation

#22500 Backport PR #22496 on branch v3.5.x (Fix units in quick start example)
  tutorials/introductory/usage.py
Labels: Documentation

#22504 Simplify FontProperties init.
  lib/matplotlib/font_manager.py
Labels: topic: text/fonts, Maintenance

#22512 Increase coverage
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_text.py
Labels: topic: testing

#22486 Expire deprecations in lines and patches
  doc/api/next_api_changes/removals/22486-OG.rst
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
Labels: API: changes, Maintenance

#22412 Turn _get_axis_map() into a property and remove _get_axis_list()
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#22417 Support passing rgbaFace as an array to agg's draw_path.
  lib/matplotlib/tests/test_agg.py
  src/py_converters.cpp
Labels: backend/agg

#22534 Fix issue with manual clabel
  lib/matplotlib/contour.py
Labels: Release critical, topic: contour

#22366 Deprecation removal/updates in axes3d
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: status: needs review, API: changes, Maintenance

#22542 Backport PR #22534 on branch v3.5.x (Fix issue with manual clabel)
  lib/matplotlib/contour.py
Labels: Release critical, topic: contour

#20071 Document, test, and simplify impl. of auto_adjustable_area.
  doc/api/next_api_changes/deprecations/20071-AL.rst
  examples/axes_grid1/make_room_for_ylabel_using_axesgrid.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit

#22502 Cleanup unused imports and variables in backends
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_qt5agg.py
  lib/matplotlib/backends/backend_qt5cairo.py
  lib/matplotlib/backends/backend_qtagg.py
  lib/matplotlib/backends/backend_tkagg.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
  lib/matplotlib/backends/backend_wxcairo.py
  lib/matplotlib/backends/qt_compat.py
Labels: Maintenance

#22540 Reorder text api docs.
  doc/api/text_api.rst
Labels: Documentation

#22539 Deprecate toplevel mpl.text.get_rotation; normalize rotations early.
  doc/api/next_api_changes/deprecations/22539-AL.rst
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: topic: text

#22548 Backport PR #22540 on branch v3.5.x (Reorder text api docs.)
  doc/api/text_api.rst
Labels: Documentation

#22550 Require sphinx>=3 & numpydoc>=1.0 for building docs.
  doc/api/next_api_changes/development/22550-AL.rst
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation, Build

#22552 Tweak dependency checking in doc/conf.py.
  doc/conf.py
Labels: Documentation, Build

#22549 Really fix wheel building on CI
  .github/workflows/cibuildwheel.yml
Labels: Build

#22557 Backport PR #22549 on branch v3.5.x (Really fix wheel building on CI)
  .github/workflows/cibuildwheel.yml
Labels: Build

#22514 Expire deprecations in cbook.deprecation
  doc/api/next_api_changes/removals/22514-OG.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cbook/deprecation.py
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_pyplot.py
Labels: API: changes, Maintenance

#22561 FIX: Handle stopped animation figure resize
  lib/matplotlib/animation.py
Labels: topic: animation

#22568 Rename qhull source to _qhull_wrapper.cpp.
  setupext.py
  src/_qhull_wrapper.cpp
Labels: Maintenance
