Repository matplotlib/matplotlib, pull requests merged in 2022-04, with the labels that each got.

#22750 Backport PR #22743: Fix configure_subplots with tool manager
  lib/matplotlib/backends/_backend_gtk.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_wx.py
Labels: MEP: MEP22

#22756 Use system distutils instead of the setuptools copy
  azure-pipelines.yml
Labels: Build, Run cibuildwheel

#22751 BLD: do not put an upper bound on pyparsing
  setup.py
Labels: Build

#22766 FIX: account for constant deprecations in Pillow 9.1
  azure-pipelines.yml
  lib/matplotlib/animation.py
  lib/matplotlib/backends/backend_pdf.py
Labels: Release critical

#22776 Fix colorbar stealing from a single axes and with panchor=False.
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: Release critical, topic: color/colorbar

#22779 Improve mlab documentation (and example)
  examples/lines_bars_and_markers/csd_demo.py
  lib/matplotlib/mlab.py
Labels: Documentation

#22774 Remove outdated doc for pie chart
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#22782 Backport PR #22774 on branch v3.5.x (Remove outdated doc for pie chart)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#22781 Backport PR #22776 on branch v3.5.x (Fix colorbar stealing from a single axes and with panchor=False.)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: Release critical, topic: color/colorbar

#22780 Backport PR #22766 on branch v3.5.x (FIX: account for constant deprecations in Pillow 9.1)
  azure-pipelines.yml
  lib/matplotlib/backends/backend_pdf.py
Labels: Release critical

#22764 Backport PR #22756 on branch v3.5.x (Use system distutils instead of the setuptools copy)
  azure-pipelines.yml
Labels: Build, Run cibuildwheel

#22732 FIX: maybe improve renderer dance
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/layout_engine.py
Labels: Release critical, topic: geometry manager

#22778 Fix LaTeX formatting in examples
  examples/mplot3d/projections.py
  examples/scales/asinh_demo.py
  lib/matplotlib/scale.py
Labels: Documentation

#22748 Backport PR #22628 on branch v3.5.x (Add RuntimeWarning guard around division-by-zero)
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#22784 Fix 'misspelled' transform variable
  examples/misc/demo_agg_filter.py
  examples/misc/svg_filter_line.py
  lib/matplotlib/tests/test_agg.py
Labels: Documentation, Maintenance

#22786 add ipympl website links
  doc/users/explain/backends.rst
  doc/users/explain/interactive.rst
Labels: Documentation

#22787 Backport PR #22786 on branch v3.5.x (add ipympl website links)
  doc/users/explain/backends.rst
  doc/users/explain/interactive.rst
Labels: Documentation

#22788 Backport PR #22786 on branch v3.5.1-doc (add ipympl website links)
  doc/users/explain/backends.rst
  doc/users/explain/interactive.rst
Labels: Documentation

#22447 Improve bar_label annotation
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: status: needs workflow approval

#22791 Tweak _ConverterError reporting.
  lib/matplotlib/testing/compare.py
Labels: topic: testing, status: waiting for other PR

#22795 Replace "marker simplification" by "marker subsampling" in docs.
  doc/users/explain/performance.rst
Labels: Documentation

#22797 Deprecate functions in backends
  doc/api/next_api_changes/deprecations/22797-OG.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
Labels: API: changes

#22794 Fix ps export of colored hatches with no linewidth
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/baseline_images/test_backend_ps/coloredhatcheszerolw.eps
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend/ps, topic: hatch

#22712 Use repr in error messages
  lib/matplotlib/axes/_base.py
  lib/matplotlib/collections.py
  lib/matplotlib/patches.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: Maintenance

#22613 DOC: Add links to explicit vs implicit API everywhere "OO" is used
  doc/api/index.rst
  doc/users/project/history.rst
  examples/misc/pythonic_matplotlib.py
  examples/subplots_axes_and_figures/multiple_figs_demo.py
  lib/matplotlib/__init__.py
  lib/matplotlib/pyplot.py
  tutorials/introductory/images.py
  tutorials/introductory/lifecycle.py
  tutorials/introductory/pyplot.py
  tutorials/introductory/quick_start.py
  tutorials/text/text_intro.py
Labels: Documentation

#22702 Doc tweak transform tutorial
  tutorials/advanced/transforms_tutorial.py
Labels: Documentation, status: needs revision

#22767 Fixed bug in find_nearest_contour
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

#22707 Proposed ENH: Allow user to turn off breaking of streamlines in streamplot (rebased)
  doc/users/next_whats_new/no_broken_streamlines.rst
  examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_maxlength_no_broken.png
  lib/matplotlib/tests/test_streamplot.py
Labels: status: needs review, status: needs workflow approval

#22832 Backport PR #22767 on branch v3.5.x (Fixed bug in find_nearest_contour)
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

#22845 Backport PR #22199 on branch v3.5.x (DOC: git:// is deprecated.)
  doc/devel/gitwash/development_workflow.rst
  doc/devel/gitwash/following_latest.rst
  doc/devel/gitwash/maintainer_workflow.rst
  doc/devel/gitwash/patching.rst
  doc/devel/gitwash/set_up_fork.rst
Labels: Documentation

#22284 Specify font number for TTC font subsetting
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/tests/test_backend_pdf.py
Labels: backend/pdf, topic: text/fonts

#22841 Fix Tk error when updating toolbar checkbutton images
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22846 Backport PR #22284 on branch v3.5.x (Specify font number for TTC font subsetting)
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/tests/test_backend_pdf.py
Labels: backend/pdf, topic: text/fonts

#22850 Simplify tick creation
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
Labels: Maintenance

#22855 Remove non-needed remove_text=False.
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_subplots.py
  lib/matplotlib/tests/test_units.py
Labels: topic: testing, Maintenance

#22802 MNT: make Axes.cla an alias for Axes.clear in all cases
  doc/api/next_api_changes/removals/22738-JL.rst
  examples/misc/custom_projection.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/axes_grid1/mpl_axes.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: axes

#22857 Slightly simplify twin axes detection in MEP22 zoom.
  lib/matplotlib/backend_tools.py
Labels: MEP: MEP22, Maintenance

#22730 Fix removed cross-references
  doc/api/prev_api_changes/api_changes_0.91.0.rst
  doc/api/prev_api_changes/api_changes_0.98.x.rst
  doc/api/prev_api_changes/api_changes_0.99.x.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_1.5.0.rst
  doc/api/prev_api_changes/api_changes_2.2.0.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/users/explain/interactive_guide.rst
  doc/users/prev_whats_new/whats_new_3.5.0.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
Labels: Documentation, Maintenance

#22609 Improve usability of dviread.Text by third parties.
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_usetex.py
  lib/matplotlib/textpath.py
Labels: topic: text/usetex

#21448 Use named groups in mathtext parser.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: Performance, topic: text/mathtext

#22824 Remove some unnecessary extra boundaries for colorbars with extensions.
  examples/specialty_plots/leftventricle_bulleye.py
  tutorials/colors/colorbar_only.py
Labels: Documentation, topic: color/colorbar

#21374 Snap selectors
  doc/users/next_whats_new/snap_selector.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: New feature, status: needs review, topic: widgets/UI

#22560 Improve pandas/xarray/... conversion
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/dates.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/conftest.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/units.py
  requirements/testing/extra.txt
Labels: third-party integration: pandas

#22844 Backport PR #22313 on branch v3.5.x (Fix colorbar exponents)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_colorbar.py
  tutorials/introductory/usage.py
Labels: Release critical, topic: color/colorbar

#22871 Fix year offset not always being added
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: topic: date handling

#22878 Backport PR #22871 on branch v3.5.x (Fix year offset not always being added)
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: topic: date handling

#22877 Small cleanups to mathtext.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#22883 Tweak argument checking in tripcolor().
  doc/api/next_api_changes/deprecations/22883-AL.rst
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tri/tripcolor.py
Labels: API: argument checking

#22890 DOC: add ipykernel to list of optional dependencies
  doc/devel/dependencies.rst
Labels: Documentation

#22896 Remove python-dateutil as test requirement
  requirements/testing/all.txt
Labels: topic: testing

#22892 Remove support for IPython<4.
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/pyplot.py
Labels: third-party integration: jupyter

#22906 Clarify logic for repl displayhook.
  lib/matplotlib/pyplot.py
Labels: Maintenance

#22899 Fix documentation markup issues
  doc/api/next_api_changes/removals/22107-OG.rst
  doc/devel/MEP/MEP27.rst
  doc/users/explain/interactive_guide.rst
Labels: Documentation

#22911 Clarify docstring of [un]install_repl_displayhook()
  lib/matplotlib/pyplot.py
Labels: Documentation

#22002 Fix TkAgg memory leaks and test for memory growth regressions
  environment.yml
  lib/matplotlib/_pylab_helpers.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
  requirements/testing/all.txt
Labels: GUI/tk

#22933 Adjusted wording in pull request guidelines
  doc/devel/coding_guide.rst
Labels: Documentation: website

#22928 ENH: Add option to disable raising the window for macosx
  lib/matplotlib/backends/backend_macosx.py
  src/_macosx.m
Labels: GUI/MacOSX

#22898 Only set Tk scaling-on-map for Windows systems
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22941 Backport PR #22898 on branch v3.5.x (Only set Tk scaling-on-map for Windows systems)
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI/tk

#22942 Backport PR #22933 on branch v3.5.x (Adjusted wording in pull request guidelines)
  doc/devel/coding_guide.rst
Labels: Documentation

#22876 Backport PR #22560 on branch v3.5.x (Improve pandas/xarray/... conversion)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/dates.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/conftest.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/units.py
Labels: third-party integration: pandas

#22923 Fixed _upcast_err docstring and comments in _axes.py
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#22907 Fix quad mesh cursor data
  lib/matplotlib/collections.py
Labels: status: needs workflow approval

#22943 Backport PR #22923 on branch v3.5.x (Fixed _upcast_err docstring and comments in _axes.py)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#22944 Backport PR #22907 on branch v3.5.x (Fix quad mesh cursor data)
  lib/matplotlib/collections.py
Labels: status: needs workflow approval

#22875 Remove Forward definitions where possible.
  lib/matplotlib/_mathtext.py
Labels: Performance, topic: text/mathtext
