Repository matplotlib/matplotlib, pull requests merged in 2022-08, with the labels that each got.

#23469 Inline _init_axis_artists & _init_gridlines into clear.
  doc/api/next_api_changes/deprecations/23469-AL.rst
  lib/mpl_toolkits/axes_grid1/mpl_axes.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: topic: mpl_toolkit, Maintenance

#23501 Let Axes.clear iterate over Axises.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#23453 Add more tests for mplot3d
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/contour3d_extend3d.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, topic: testing

#23532 Add test for RGBAxes
  lib/mpl_toolkits/tests/baseline_images/test_axes_grid1/rgb_axes.png
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit, topic: testing

#23538 Fix imprecise docs re: backend dependencies.
  doc/users/explain/backends.rst
Labels: Documentation

#23140 [Features] Allow setting legend title alignment
  doc/users/next_whats_new/legend_align.rst
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: API: consistency, topic: legend

#23537 Move the deprecated RendererGTK{3,4}Cairo to a single place.
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4cairo.py
Labels: backend/cairo, Maintenance

#23526 DOC: make "family" less ambiguous in FontProperties docs
  lib/matplotlib/font_manager.py
Labels: Documentation, topic: text/fonts

#23539 Small improvements to WebAgg example
  examples/user_interfaces/embedding_webagg_sgskip.py
Labels: Documentation

#23546 Simplify impl. of functions optionally used as context managers.
  lib/matplotlib/pyplot.py
Labels: Maintenance

#23535 Make margins error as claimed in doc-string
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, topic: axes

#23533 Add tests for sankey and minor fixes
  lib/matplotlib/sankey.py
  lib/matplotlib/tests/test_sankey.py
Labels: topic: testing, topic: sankey

#23500 Move the common implementation of Axes.set_x/y/zscale to Axis.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#23434 Fix array-like linewidth for 3d scatter
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/scatter3d_linewidth.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#23409 Provide axis('equal') for Axes3D (replaces PR #23017)
  doc/users/next_whats_new/3d_plot_aspects.rst
  examples/mplot3d/surface3d_2.py
  examples/mplot3d/voxels_numpy_logo.py
  examples/mplot3d/voxels_rgb.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/aspects.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#22950 Simplify definition of mathtext symbols & correctly end tokens in mathtext parsing
  doc/api/next_api_changes/behavior/22950-AL.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_77.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_77.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_77.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_77.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_77.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_77.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_77.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_77.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_77.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_77.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_77.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_77.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_77.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_77.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_77.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: status: needs review, Performance, topic: text/mathtext, PR: bugfix

#23444 Deduplicate common parts in LatexManager.{__init__,_setup_latex_process}
  doc/api/next_api_changes/deprecations/23444-AL.rst
  lib/matplotlib/backends/backend_pgf.py
Labels: backend/pgf

#22566 Add rcparam for figure label size and weight
  doc/users/next_whats_new/figure_label_rcparams.rst
  lib/matplotlib/figure.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_figure.py
Labels: status: needs review, topic: rcparams

#20740 Implement Font-Fallback in Matplotlib
  .circleci/config.yml
  doc/api/ft2font.rst
  doc/api/index.rst
  doc/users/next_whats_new/font_fallback.rst
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_ft2font.py
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
Labels: Release critical, backend/agg, topic: text/fonts

#23196 Unify set_pickradius argument
  doc/api/axis_api.rst
  lib/matplotlib/axis.py
  lib/matplotlib/collections.py
  lib/matplotlib/lines.py
Labels: API: consistency, Maintenance

#23550 Change exception types, improve argument checking, and cleanups in mpl_toolkits
  doc/api/next_api_changes/behavior/23550-OG.rst
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit, API: changes, Maintenance

#23558 MNT: Use UTF-8 string in macosx backend
  src/_macosx.m
Labels: GUI/MacOSX

#23567 Remove noop setattr_cm.
  lib/matplotlib/patches.py
Labels: Maintenance

#23575 Cleanup parasite_simple example.
  examples/axes_grid1/parasite_simple.py
Labels: Documentation, topic: mpl_toolkit

#23577 apply_aspect cleanups
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#22452 ENH: add ability to remove layout engine
  lib/matplotlib/figure.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager

#20718 Circle: Build docs in parallel.
  .circleci/config.yml
Labels: Documentation, status: needs revision, Build

#23549 Don't clip colorbar dividers
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/extend_drawedges.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#23582 Cleanup axis3d.Axis.draw
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d, Maintenance

#23561 Clean up code in tri
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/tripcolor.py
Labels: Maintenance, topic: tri

#23593 STY: Fix whitespace error from new flake8
  lib/matplotlib/tests/test_figure.py
Labels: Maintenance

#23591 Backport PR #23549 on branch v3.5.x (Don't clip colorbar dividers)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/extend_drawedges.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#23574 Move colorbar() doc to method itself.
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
Labels: Documentation, topic: color/colorbar

#23435 Add conda env to setup instructions
  doc/devel/development_setup.rst
Labels: Documentation, mentored: sprint

#23594 Expire deprecation on passing bytes to FT2Font.set_text
  doc/api/next_api_changes/removals/23594-OG.rst
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts, Maintenance

#23596 Minor cleanup of axes_grid1
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/mpl_axes.py
Labels: topic: mpl_toolkit

#23557 BLD: update the manylinux versions used
  .github/workflows/cibuildwheel.yml
Labels: Release critical, Run cibuildwheel

#23559 re-base of font fallback for pdf and eps output + SVG support
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/testing/_markers.py
  lib/matplotlib/tests/baseline_images/test_backend_pdf/multi_font_type3.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/multi_font_type42.pdf
  lib/matplotlib/tests/baseline_images/test_backend_ps/multi_font_type3.eps
  lib/matplotlib/tests/baseline_images/test_backend_ps/multi_font_type42.eps
  lib/matplotlib/tests/baseline_images/test_backend_svg/bold_font_output_with_none_fonttype.svg
  lib/matplotlib/tests/baseline_images/test_backend_svg/multi_font_aspath.svg
  lib/matplotlib/tests/baseline_images/test_backend_svg/multi_font_astext.svg
  lib/matplotlib/tests/baseline_images/test_text/text_as_text_opacity.svg
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/tests/test_ft2font.py
  lib/matplotlib/textpath.py
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
Labels: backend/ps, backend/pdf, topic: text/fonts

#23556 Migrate cibuildwheel workflow to macos-11
  .github/workflows/cibuildwheel.yml
Labels: Build, Run cibuildwheel

#23600 DOC: view_init docstring for 3d axes primary view angles
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#23602 Editing "issues for new contributors"
  doc/devel/contributing.rst
Labels: Documentation

#23497 Avoid gridspec in more examples
  examples/images_contours_and_fields/plot_streamplot.py
  examples/lines_bars_and_markers/linestyles.py
  examples/lines_bars_and_markers/psd_demo.py
  examples/text_labels_and_annotations/demo_text_rotation_mode.py
Labels: Documentation

#23609 print version number when building docs
  doc/conf.py
Labels: Maintenance

#23355 Revert "Try to unbreak CI by xfailing OSX Tk tests"
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: Maintenance

#23618 [Doc]: Document the position parameter in apply_aspect()
  lib/matplotlib/axes/_base.py
Labels: Documentation

#23605 Fix issues in examples, docs, and tutorials
  doc/api/artist_api.rst
  doc/users/installing/index.rst
  examples/lines_bars_and_markers/linestyles.py
  examples/ticks/centered_ticklabels.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/tricontour.py
  setup.py
  tutorials/intermediate/artists.py
  tutorials/introductory/customizing.py
Labels: Documentation

#23387 Remove setuptools_scm_git_archive dependency and add sdist test
  .git_archival.txt
  .github/workflows/cibuildsdist.yml
  ci/check_version_number.py
  setup.py
Labels: Release critical, Build, Run cibuildwheel

#23206 Change exception type for incorrect SVG date metadata
  doc/api/next_api_changes/behavior/23206-OG.rst
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: topic: testing

#23628 Change Title Case to Upper lower in templates
  doc/api/next_api_changes/behavior/00001-ABC.rst
  doc/api/next_api_changes/development/00001-ABC.rst
  doc/api/next_api_changes/removals/00001-ABC.rst
  doc/users/next_whats_new/README.rst
  doc/users/next_whats_new/font_fallback.rst
  doc/users/next_whats_new/inset_axes_improvements.rst
  doc/users/next_whats_new/windows_arm64.rst
Labels: Documentation

#23620 Doc update deps
  doc/devel/dependencies.rst
Labels: Documentation, Release critical

#23632 Add discouraged admonitions
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
Labels: Documentation

#23637 BLD: Add Python 3.11 builds to CI
  .github/workflows/cibuildwheel.yml
Labels: Run cibuildwheel

#23631 Leave out `barh` from the basic plot types.
  plot_types/basic/bar.py
Labels: Documentation

#23621 DOC: update and extend fonts explanation
  doc/users/explain/fonts.rst
  tutorials/text/text_props.py
Labels: Documentation, topic: text/fonts

#23643 Enable wheels for PyPy 3.8+
  .github/workflows/cibuildwheel.yml
Labels: Build, Run cibuildwheel

#23641 Fix doc bugs found in 3.5.3
  doc/conf.py
  doc/devel/MEP/MEP14.rst
  doc/devel/MEP/MEP29.rst
  doc/devel/dependencies.rst
  doc/devel/style_guide.rst
  doc/devel/triage.rst
  doc/sphinxext/custom_roles.py
  doc/sphinxext/redirect_from.py
  doc/users/faq/troubleshooting_faq.rst
  doc/users/prev_whats_new/changelog.rst
  examples/images_contours_and_fields/shading_example.py
  examples/user_interfaces/web_application_server_sgskip.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/tests/test_quiver.py
Labels: Documentation

#23647 Allow any color format to be used for axis3d.Axis.set_pane_color
  doc/api/next_api_changes/deprecations/23647-OG.rst
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d, API: changes

#23652 Backport PR #23641 on branch v3.5.3-doc (Fix doc bugs found in 3.5.3)
  doc/devel/MEP/MEP14.rst
  doc/devel/MEP/MEP29.rst
  doc/devel/dependencies.rst
  doc/devel/style_guide.rst
  doc/devel/triage.rst
  doc/sphinxext/custom_roles.py
  doc/sphinxext/redirect_from.py
  doc/users/faq/troubleshooting_faq.rst
  doc/users/prev_whats_new/changelog.rst
  examples/images_contours_and_fields/shading_example.py
  examples/user_interfaces/web_application_server_sgskip.py
Labels: Documentation

#23651 Backport PR #23641 on branch v3.5.x (Fix doc bugs found in 3.5.3)
  doc/devel/MEP/MEP14.rst
  doc/devel/MEP/MEP29.rst
  doc/devel/dependencies.rst
  doc/devel/style_guide.rst
  doc/devel/triage.rst
  doc/sphinxext/custom_roles.py
  doc/sphinxext/redirect_from.py
  doc/users/faq/troubleshooting_faq.rst
  doc/users/prev_whats_new/changelog.rst
  examples/images_contours_and_fields/shading_example.py
  examples/user_interfaces/web_application_server_sgskip.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/tests/test_quiver.py
Labels: Documentation

#23656 Fix broken link to MathML torture tests.
  lib/matplotlib/tests/test_mathtext.py
Labels: Documentation

#23657 Add eps to extension list in image triager
  tools/triage_tests.py
Labels: Maintenance

#23658 Increase tolerance on multi-font tests
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: topic: testing, topic: text/fonts

#23655 Merge branch v3.5.x into main
  doc/_static/zenodo_cache/6982547.svg
  doc/api/prev_api_changes/api_changes_3.5.3.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.5.2.rst
  doc/users/prev_whats_new/whats_new_3.5.2.rst
  doc/users/project/citing.rst
  doc/users/release_notes.rst
  tools/cache_zenodo_svg.py
Labels: Maintenance

#23661 Remove unused fontsize argument from private mathtext _get_info.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#23654 Reverts macosx change to ARC
  setupext.py
  src/_macosx.m
Labels: Release critical, GUI/MacOSX

#23662 Add tolerance to test failing on ppc64le
  lib/matplotlib/tests/test_figure.py
Labels: topic: testing

#23663 Small cleanups to _find_fonts_by_props.
  lib/matplotlib/font_manager.py
Labels: topic: text/fonts, Maintenance

#23659 Simplify/fix save_diff_image.
  lib/matplotlib/testing/compare.py
Labels: topic: testing

#23554 MNT: Remove unused imports
  .flake8
  doc/api/tri_api.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backends/backend_gtk3cairo.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_gtk4cairo.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/lines.py
  lib/matplotlib/style/__init__.py
  lib/matplotlib/tests/conftest.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/__init__.py
  lib/mpl_toolkits/axes_grid1/__init__.py
  lib/mpl_toolkits/axisartist/axes_divider.py
  lib/mpl_toolkits/axisartist/axes_rgb.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/__init__.py
  lib/mpl_toolkits/tests/conftest.py
Labels: Maintenance

#23667 Fix flake8 errors introduced by crossed PRs
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
Labels: Maintenance

#23525 Add functionality to label individual bars with Axes.bar()
  doc/users/next_whats_new/bar_plot_labels.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: New feature

#23666 MNT: Deprecate macosx prepare subplots tool
  doc/api/next_api_changes/deprecations/23665-GL.rst
  lib/matplotlib/backends/backend_macosx.py
Labels: GUI/MacOSX

#23563 Fix issue with drawing 3D lines where points are from nparray
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#23644 Standardize edge-on axis locations when viewing primary 3d axis planes
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_primary_views.png
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/axes3d_rotated.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#23670 Add bar color demo.
  examples/lines_bars_and_markers/bar_colors.py
Labels: Documentation

#23677 TST: Use article class when checking for pgf
  lib/matplotlib/testing/__init__.py
Labels: topic: testing, backend/pgf

#23676 MNT: Get rcParams from mpl
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d, Maintenance

#23675 Deprecate helper functions in axis3d
  doc/api/next_api_changes/deprecations/23675-OG.rst
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d, API: changes

#23634 make.bat: Don't override SPHINXOPTS/O from the environment
  doc/devel/documenting_mpl.rst
  doc/make.bat
Labels: Documentation, OS/Microsoft

#23562 Fix issue with get_edgecolor and get_facecolor in 3D plots
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#22506 Replace MathtextBackend mechanism.
  doc/api/next_api_changes/deprecations/22506-AL.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/mathtext.py
Labels: topic: text/mathtext

#23673 DOC: Highlight information about avoiding labels in legend
  lib/matplotlib/axes/_axes.py
  tutorials/intermediate/legend_guide.py
Labels: Documentation, topic: legend

#23571 Simplify _bind_draw_path_function.
  lib/matplotlib/patches.py
Labels: Maintenance

#23678 Get rcParams from mpl
  examples/text_labels_and_annotations/custom_legends.py
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colors.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/lines.py
  lib/matplotlib/markers.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/spines.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/texmanager.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: Maintenance

#23682 Fix generated documentation for deprecated modules
  doc/api/afm_api.rst
  doc/api/docstring_api.rst
  doc/api/prev_api_changes/api_changes_0.91.0.rst
  doc/api/tight_bbox_api.rst
  doc/api/tight_layout_api.rst
  doc/api/type1font.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
Labels: Documentation

#23555 Uncamelcase offsetTrans in draw_path_collection.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/backends/backend_template.py
Labels: Maintenance

#23636 FIX: macosx flush_events should process all events
  src/_macosx.m
Labels: GUI/MacOSX

#23665 Harmonize docstrings for boxstyle/connectionstyle/arrowstyle.
  lib/matplotlib/patches.py
Labels: Documentation

#23049 Add `minor` keyword argument to `plt.x/yticks`
  doc/users/next_whats_new/plt_xyticks_support_minor.rst
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: API: consistency, topic: pyplot API

#23695 Document polar handling of _interpolation_steps.
  lib/matplotlib/projections/polar.py
Labels: Documentation, topic: polar, topic: transforms and scales

#23705 DOC: Added link to class under discussion
  tutorials/text/annotations.py
Labels: Documentation

#23706 Backport PR #23705 on branch v3.6.x (DOC: Added link to class under discussion)
  tutorials/text/annotations.py
Labels: Documentation

#23696 Backport PR #23695 on branch v3.6.x (Document polar handling of _interpolation_steps.)
  lib/matplotlib/projections/polar.py
Labels: Documentation, topic: polar, topic: transforms and scales

#23710 Fix cmap deprecations
  doc/api/next_api_changes/behavior/23710-ES.rst
  lib/matplotlib/cm.py
  lib/matplotlib/tests/test_colors.py
Labels: Documentation, topic: color/color & colormaps

#23708 Loosen up test_Normalize test
  lib/matplotlib/tests/test_colors.py
Labels: topic: testing

#23713 Backport PR #23710 on branch v3.6.x (Fix cmap deprecations)
  doc/api/next_api_changes/behavior/23710-ES.rst
  lib/matplotlib/cm.py
  lib/matplotlib/tests/test_colors.py
Labels: Documentation, topic: color/color & colormaps

#23715 Backport PR #23708 on branch v3.6.x (Loosen up test_Normalize test)
  lib/matplotlib/tests/test_colors.py
Labels: topic: testing

#23711 Fix deprecation messages for vendoring unused things
  lib/matplotlib/__init__.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/testing/decorators.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: Maintenance

#23727 Backport PR #23724 on branch v3.6.x (Fix/harmonize spacing in dependencies.rst.)
  doc/devel/dependencies.rst
Labels: Documentation

#23722 Restore deprecation class aliases in cbook
  doc/api/matplotlib_configuration_api.rst
  doc/api/next_api_changes/deprecations/23720-RS.rst
  doc/api/next_api_changes/removals/22514-OG.rst
  doc/api/prev_api_changes/api_changes_3.5.0/behaviour.rst
  doc/devel/contributing.rst
  lib/matplotlib/cbook/__init__.py
Labels: Release critical, Maintenance

#23728 Backport PR #23722 on branch v3.6.x (Restore deprecation class aliases in cbook)
  doc/api/matplotlib_configuration_api.rst
  doc/api/next_api_changes/deprecations/23720-RS.rst
  doc/api/next_api_changes/removals/22514-OG.rst
  doc/api/prev_api_changes/api_changes_3.5.0/behaviour.rst
  doc/devel/contributing.rst
  lib/matplotlib/cbook/__init__.py
Labels: Release critical, Maintenance

#23733 DOC: Update theme configuration for upcoming changes
  doc/conf.py
Labels: Documentation, Release critical

#23734 Backport PR #23733 on branch v3.6.x (DOC: Update theme configuration for upcoming changes)
  doc/conf.py
Labels: Documentation, Release critical

#23639 Adding the new contributor meeting
  doc/devel/contributing.rst
Labels: Documentation

#23712 FIX: do not try to help CPython with garbage collection
  lib/matplotlib/_pylab_helpers.py
Labels: Release critical

#23739 Backport PR #23712 on branch v3.6.x (FIX: do not try to help CPython with garbage collection)
  lib/matplotlib/_pylab_helpers.py
Labels: Release critical

#23738 Backport PR #23639 on branch v3.6.x (Adding the new contributor meeting)
  doc/devel/contributing.rst
Labels: Documentation

#23674 Re-rename builtin seaborn styles to not include a dot.
  doc/api/next_api_changes/deprecations/22317-AL.rst
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-bright.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-colorblind.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-dark-palette.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-dark.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-darkgrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-deep.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-muted.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-notebook.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-paper.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-pastel.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-poster.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-talk.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-ticks.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-white.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-whitegrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8.mplstyle
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
  tutorials/colors/colors.py
Labels: Release critical, topic: styles

#23741 Backport PR #23674 on branch v3.6.x (Re-rename builtin seaborn styles to not include a dot.)
  doc/api/next_api_changes/deprecations/22317-AL.rst
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-bright.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-colorblind.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-dark-palette.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-dark.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-darkgrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-deep.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-muted.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-notebook.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-paper.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-pastel.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-poster.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-talk.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-ticks.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-white.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8-whitegrid.mplstyle
  lib/matplotlib/mpl-data/stylelib/seaborn-v0_8.mplstyle
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
  tutorials/colors/colors.py
Labels: Release critical, topic: styles

#23721 3d plot view angle documentation
  doc/_static/mplot3d_view_angles.png
  doc/api/toolkits/mplot3d.rst
  doc/api/toolkits/mplot3d/view_angles.rst
  examples/mplot3d/view_planes_3d.py
Labels: Documentation, topic: mplot3d

#23746 DOC: add numpydoc docstring + commentary to Axis.get_ticklocs
  lib/matplotlib/axis.py
Labels: Documentation

#23747 Backport PR #23721 on branch v3.6.x (3d plot view angle documentation)
  doc/_static/mplot3d_view_angles.png
  doc/api/toolkits/mplot3d.rst
  doc/api/toolkits/mplot3d/view_angles.rst
  examples/mplot3d/view_planes_3d.py
Labels: Documentation, topic: mplot3d

#23748 Backport PR #23746 on branch v3.6.x (DOC: add numpydoc docstring + commentary to Axis.get_ticklocs)
  lib/matplotlib/axis.py
Labels: Documentation

#23735 Correctly handle Axes subclasses that override cla
  doc/api/next_api_changes/deprecations/23735-ES.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical, topic: axes

#23749 Backport PR #23735 on branch v3.6.x (Correctly handle Axes subclasses that override cla)
  doc/api/next_api_changes/deprecations/23735-ES.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Release critical, topic: axes

#23750 Fix rcParams documentation
  doc/sphinxext/custom_roles.py
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#23752 Backport PR #23750 on branch v3.6.x (Fix rcParams documentation)
  doc/sphinxext/custom_roles.py
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#23754 Backport PR #23750 on branch v3.5.3-doc (Fix rcParams documentation)
  doc/sphinxext/custom_roles.py
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#23753 Backport PR #23750 on branch v3.5.x (Fix rcParams documentation)
  doc/sphinxext/custom_roles.py
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#23742 FIX: unbreak ipympl
  examples/user_interfaces/embedding_webagg_sgskip.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/tests/test_backend_webagg.py
Labels: Release critical

#23569 Fix hidden xlabel bug in colorbar
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_keeping_xlabel.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#23755 Backport PR #23742 on branch v3.6.x (FIX: unbreak ipympl)
  examples/user_interfaces/embedding_webagg_sgskip.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/tests/test_backend_webagg.py
Labels: Release critical

#23756 Backport PR #23569 on branch v3.6.x (Fix hidden xlabel bug in colorbar)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_keeping_xlabel.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar

#23590 Changing bar examples to tea and coffee
  examples/lines_bars_and_markers/bar_label_demo.py
  examples/lines_bars_and_markers/bar_stacked.py
  examples/lines_bars_and_markers/barchart.py
  examples/units/bar_unit_demo.py
Labels: Documentation

#23762 FIX: legend handler warning too liberal
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: Release critical

#23765 Backport PR #23762 on branch v3.6.x (FIX: legend handler warning too liberal)
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: Release critical

#23772 3d plots what's new cleanups
  doc/users/next_whats_new/3d_plot_aspects.rst
  doc/users/next_whats_new/3d_plot_focal_length.rst
  doc/users/next_whats_new/3d_plot_roll_angle.rst
Labels: Documentation, topic: mplot3d

#23773 Backport PR #23772 on branch v3.6.x (3d plots what's new cleanups)
  doc/users/next_whats_new/3d_plot_aspects.rst
  doc/users/next_whats_new/3d_plot_focal_length.rst
  doc/users/next_whats_new/3d_plot_roll_angle.rst
Labels: Documentation, topic: mplot3d

#23774 Correct rcParams-name in AutoDateFormatter doc-string
  lib/matplotlib/dates.py
Labels: Documentation

#23552 Provide `adjustable='box'` to 3D axes aspect ratio setting
  doc/users/next_whats_new/3d_plot_aspects_adjustable_keyword.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/aspects_adjust_box.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d

#23782 Remove `Axes.cla` from examples
  examples/animation/animation_demo.py
  examples/event_handling/data_browser.py
Labels: Documentation

#23781 ci: Add plot types to sphinx-gallery artifacts
  .circleci/config.yml
Labels: Documentation, Build

#23737 Update grammar
  doc/users/explain/backends.rst
  doc/users/explain/interactive.rst
  doc/users/faq/troubleshooting_faq.rst
Labels: Documentation

#23786 DOC: fontfallback works for most of the backends
  doc/users/next_whats_new/font_fallback.rst
Labels: Documentation

#23789 Backport PR #23786 on branch v3.6.x (DOC: fontfallback works for most of the backends)
  doc/users/next_whats_new/font_fallback.rst
Labels: Documentation
