Repository matplotlib/matplotlib, pull requests merged in 2022-10, with the labels that each got.

#24059 Backport PR #23638 on branch v3.6.x (FIX: correctly handle generic font families in svg text-as-text mode)
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: backend: svg

#24069 Clarification of marker size in scatter
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24070 DOC: colorbar may steal from array of axes
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
Labels: Documentation

#24073 Backport PR #24070 on branch v3.6.x (DOC: colorbar may steal from array of axes)
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
Labels: Documentation

#24072 Backport PR #24069 on branch v3.6.x (Clarification of marker size in scatter)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24047 Revert #22360: Let TeX handle multiline strings itself
  lib/matplotlib/dates.py
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/baseline_images/test_usetex/eqnarray.png
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_usetex.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/text.py
Labels: topic: text/usetex

#24078 Backport PR #24047 on branch v3.6.x (Revert #22360: Let TeX handle multiline strings itself)
  lib/matplotlib/dates.py
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/baseline_images/test_usetex/eqnarray.png
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/tests/test_usetex.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/text.py
Labels: topic: text/usetex

#24066 Simplify svg font expansion logic.
  lib/matplotlib/backends/backend_svg.py
Labels: backend: svg, Maintenance

#24084 Revert argument checking for label_mode
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: topic: mpl_toolkit

#24087 Backport PR #24084 on branch v3.6.x (Revert argument checking for label_mode)
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: topic: mpl_toolkit

#23684 Fix rectangle and hatches for colorbar
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/contourf_extend_patches.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar, topic: contour, topic: hatch

#24103 Backport PR #23684 on branch v3.6.x (Fix rectangle and hatches for colorbar)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_colorbar/contourf_extend_patches.png
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar, topic: contour, topic: hatch

#24088 MNT: make orphaned colorbar deprecate versus raise
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_colorbar.py
Labels: Release critical

#24067 README.rst to README.md
  README.md
  README.rst
  setup.py
Labels: status: needs comment/discussion

#24109 DOC: add API change note for colorbar deprecation
  doc/api/next_api_changes/deprecations/24088-JMK.rst
Labels: Documentation, Release critical

#24112 Backport PR #24109 on branch v3.6.x (DOC: add API change note for colorbar deprecation)
  doc/api/next_api_changes/deprecations/24088-JMK.rst
Labels: Documentation, Release critical

#24110 test readme rendering
  .github/workflows/cibuildsdist.yml
Labels: Maintenance, Run cibuildwheel

#24115 Fix mask lookup in fill_between for NumPy 1.24+
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#24116 Backport PR #24115 on branch v3.6.x (Fix mask lookup in fill_between for NumPy 1.24+)
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#23592 Polar errcaps
  doc/users/next_whats_new/polar_errorbar_caps.rst
  examples/pie_and_polar_charts/polar_error_caps.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/mixed_errorbar_polar_caps.png
  lib/matplotlib/tests/test_axes.py
Labels: New feature, topic: polar

#24126 Bump version when invalid hatches error
  lib/matplotlib/hatch.py
Labels: API: consistency, topic: hatch

#24130 DOC: align contour parameter doc with implementation
  lib/matplotlib/contour.py
  lib/matplotlib/tri/tricontour.py
Labels: Documentation, topic: contour, topic: tri

#24134 Backport PR #24130 on branch v3.6.x (DOC: align contour parameter doc with implementation)
  lib/matplotlib/contour.py
  lib/matplotlib/tri/tricontour.py
Labels: Documentation, topic: contour, topic: tri

#23449 Add pan and zoom toolbar handling to 3D Axes (Replaces PR#22614)
  doc/api/next_api_changes/deprecations/23449-SS.rst
  doc/users/next_whats_new/3d_plot_pan_zoom.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, topic: widgets/UI

#23907 Inherit OffsetBox.get_window_extent.
  lib/matplotlib/offsetbox.py
Labels: Maintenance

#24128 Expire deprecations in dates and ticker
  doc/api/next_api_changes/removals/24128-OG.rst
  doc/api/prev_api_changes/api_changes_3.3.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.3.1.rst
  lib/matplotlib/dates.py
  lib/matplotlib/pylab.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/ticker.py
Labels: API: changes, topic: date handling

#24143 Add QuadContourSet.remove.
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

#24140 Replace ClabelText by set_transform_rotates_text.
  doc/api/next_api_changes/deprecations/24140-AL.rst
  lib/matplotlib/contour.py
Labels: Maintenance, topic: contour

#24091 MNT: Clean up code in SecondaryAxis
  lib/matplotlib/axes/_secondary_axes.py
Labels: Maintenance

#24165 Backport PR #24164 on branch v3.6.x (Fix argument order in hist() docstring.)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24158 Fix Qt with PySide6 6.4.0
  .github/workflows/tests.yml
  lib/matplotlib/backends/qt_compat.py
Labels: GUI: Qt

#24172 Backport PR #24158 on branch v3.6.x (Fix Qt with PySide6 6.4.0)
  .github/workflows/tests.yml
  lib/matplotlib/backends/qt_compat.py
Labels: GUI: Qt

#24171 Fix example where wrong variable was used
  examples/subplots_axes_and_figures/subplots_demo.py
Labels: Documentation

#24162 windows doc build parity
  doc/make.bat
Labels: Documentation, OS: Microsoft, Build

#24144 Deprecate some label-related attributes on ContourLabeler.
  doc/api/next_api_changes/deprecations/24144-AL.rst
  lib/matplotlib/contour.py
Labels: topic: contour

#24174 Backport PR #24171 on branch v3.6.x (Fix example where wrong variable was used)
  examples/subplots_axes_and_figures/subplots_demo.py
Labels: Documentation

#24000 Generalize validation that pyplot commands are documented
  doc/api/next_api_changes/deprecations/24000-TH.rst
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: Maintenance

#24157 test only PR milestoning guidance
  doc/devel/coding_guide.rst
Labels: Documentation, Maintenance

#24179 MNT: Refactor `Renderer.get_text_width_height_descent`
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_agg.py
Labels: Maintenance

#24186 Backport PR #24157 on branch v3.6.x (test only PR milestoning guidance)
  doc/devel/coding_guide.rst
Labels: Documentation, Maintenance

#24192 Backport PR #24187 on branch v3.6.x (DOC: Fix toc structure in explain/interactive)
  doc/users/explain/interactive.rst
Labels: Documentation

#24193 DOC: Explain gridsize in hexbin()
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24201 Backport PR #24194 on branch v3.6.x (DOC: Improve plot_directive documentation)
  lib/matplotlib/sphinxext/plot_directive.py
Labels: Documentation, topic: sphinx extension

#24200 Backport PR #24193 on branch v3.6.x (DOC: Explain gridsize in hexbin())
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24129 Expire cursor-related deprecations
  doc/api/next_api_changes/removals/24129-OG.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_qt5.py
  lib/matplotlib/backends/backend_wx.py
Labels: API: changes, topic: widgets/UI

#24198 Deprecate unused backend_ps.{PsBackendHelper,ps_backend_helper}.
  doc/api/next_api_changes/deprecations/24198-AL.rst
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps

#24156 Automatically update rebase label
  .github/workflows/conflictcheck.yml
Labels: Maintenance

#24169 [DOC]: added parent link for `FuncAnimation` and `ArtistAnimation`
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#24214 Backport PR #24169 on branch v3.6.x ([DOC]: added parent link for `FuncAnimation` and `ArtistAnimation`)
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#24208 Deprecate backend_webagg.ServerThread.
  doc/api/next_api_changes/deprecations/24208-AL.rst
  lib/matplotlib/backends/backend_webagg.py
Labels: GUI: webagg

#24211 Backport PR #24202 on branch v3.6.x (Bump pypa/cibuildwheel from 2.10.2 to 2.11.1)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, Run cibuildwheel

#24210 Small cleanups to axislines docs.
  lib/mpl_toolkits/axisartist/axislines.py
Labels: Documentation, topic: mpl_toolkit

#24184 Add tests for ToolManager
  lib/matplotlib/backend_managers.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: topic: testing

#23995 DOC: Lowercase some parameter names
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/tripcolor.py
Labels: Documentation

#24219 Backport PR #23995 on branch v3.6.x (DOC: Lowercase some parameter names)
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/tripcolor.py
Labels: Documentation

#23683 Simplify/add pyparsing error messages on mathtext/fontconfig errors.
  doc/api/next_api_changes/development/23683-AL.rst
  doc/devel/dependencies.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/_fontconfig_pattern.py
  lib/matplotlib/_mathtext.py
  requirements/testing/minver.txt
  setup.py
Labels: topic: text/fonts, topic: text/mathtext, Maintenance

#24223 Backport PR #24184 on branch v3.6.x (Add tests for ToolManager)
  lib/matplotlib/backend_managers.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: topic: testing

#24182 MNT: Remove redundant method, fix signature and add doc-string to `draw_tex`
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_svg.py
Labels: Documentation, Maintenance

#24122 Add textcolor to legend based on labelcolor string
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#24065 Fixed the positioning of cursor in Textbox: no approximation
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#23985 Improve rubberband rendering in wx and tk
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI: wx, GUI: tk

#24233 Backport PR #23985 on branch v3.6.x (Improve rubberband rendering in wx and tk)
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI: wx, GUI: tk

#23796 Remove useless semicolons in "Introductory / Basic Usage" tutorial
  tutorials/introductory/quick_start.py
Labels: Documentation

#24141 Set figure options dynamically
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: topic: widgets/UI, GUI: Qt

#24241 Small animation docs/style fixes.
  lib/matplotlib/animation.py
Labels: topic: animation

#24243 Improve documentation for ticker
  lib/matplotlib/ticker.py
Labels: Documentation

#23536 Improve mpl_toolkit documentation
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axes_rgb.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
Labels: Documentation, topic: mpl_toolkit, Maintenance

#24244 Clarify that z must be finite for tricountour(f)
  lib/matplotlib/tri/tricontour.py
Labels: Documentation, topic: tri

#24240 Deprecate unit_cube-related methods in Axes3D
  doc/api/next_api_changes/deprecations/24240-OG.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d, API: changes

#24258 Backport PR #24108 on branch v3.6.x (Add 3D plots to plot_types doc page)
  doc/sphinxext/gallery_order.py
  plot_types/3D/README.rst
  plot_types/3D/scatter3d_simple.py
  plot_types/3D/surface3d_simple.py
  plot_types/3D/trisurf3d_simple.py
  plot_types/3D/voxels_simple.py
  plot_types/3D/wire3d_simple.py
Labels: Documentation, topic: mplot3d

#24253 Expire deprecation of grid argument name
  doc/api/next_api_changes/removals/24253-OG.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#24261 Fix pie chart in demo_agg_filter.py
  examples/misc/demo_agg_filter.py
Labels: Documentation

#24267 Backport PR #24261 on branch v3.6.x (Fix pie chart in demo_agg_filter.py)
  examples/misc/demo_agg_filter.py
Labels: Documentation

#24265 Restore (and warn on) seaborn styles in style.library
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
Labels: API: consistency, API: changes, Maintenance

#24266 TST: Increase fp tolerance on more tests for new NumPy
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_streamplot.py
Labels: Maintenance

#24160 sample versioning directives, empty + description
  lib/matplotlib/axes/_axes.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
Labels: Documentation, Maintenance

#24271 Backport PR #24266 on branch v3.6.x (TST: Increase fp tolerance on more tests for new NumPy)
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_streamplot.py
Labels: Maintenance

#24270 Backport PR #24265 on branch v3.6.x (Restore (and warn on) seaborn styles in style.library)
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
Labels: API: consistency, API: changes, Maintenance

#24251 Expire deprecation for `auto_add_to_figure=True` in `Axes3D`
  doc/api/next_api_changes/removals/24251-OG.rst
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_collections.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: topic: mplot3d, API: changes

#24220 Simplify and tighten parse_fontconfig_pattern.
  doc/api/next_api_changes/deprecations/24220-AL.rst
  lib/matplotlib/_fontconfig_pattern.py
  lib/matplotlib/tests/test_fontconfig_pattern.py
Labels: topic: text/fonts

#24031 Add rcParams for 3D pane color
  doc/users/next_whats_new/3d_pane_color_rcparams.rst
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/baseline_images/test_mplot3d/panecolor_rcparams.png
  lib/mpl_toolkits/tests/test_mplot3d.py
Labels: New feature, topic: mplot3d, topic: rcparams

#24013 Deprecate matplotlib.tri.* submodules
  .flake8
  doc/api/next_api_changes/deprecations/24013-TH.rst
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tri/__init__.py
  lib/matplotlib/tri/_triangulation.py
  lib/matplotlib/tri/_tricontour.py
  lib/matplotlib/tri/_trifinder.py
  lib/matplotlib/tri/_triinterpolate.py
  lib/matplotlib/tri/_tripcolor.py
  lib/matplotlib/tri/_triplot.py
  lib/matplotlib/tri/_trirefine.py
  lib/matplotlib/tri/_tritools.py
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/trifinder.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/tripcolor.py
  lib/matplotlib/tri/triplot.py
  lib/matplotlib/tri/trirefine.py
  lib/matplotlib/tri/tritools.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: API: changes, Maintenance

#24161 Versioning directives policy
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/coding_guide.rst
Labels: Documentation, Maintenance

#24278 Use oldest-supported-numpy for build
  pyproject.toml
Labels: Build, Run cibuildwheel

#24062 Replaced std::random_shuffle with std::shuffle in tri
  doc/api/next_api_changes/behavior/24062-tb.rst
  src/tri/_tri.cpp
  src/tri/_tri.h
Labels: topic: tri

#24291 Rely on builtin round() instead of manual rounding.
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/streamplot.py
Labels: Maintenance

#24289 Cleanup image_zcoord example.
  examples/images_contours_and_fields/image_zcoord.py
Labels: Documentation

#24302 MNT: Remove redundant int after round
  examples/statistics/time_series_histogram.py
  lib/matplotlib/colors.py
  lib/matplotlib/image.py
  lib/matplotlib/patches.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#24295 Remove unnecessary np.{,as}array / astype calls.
  examples/event_handling/path_editor.py
  examples/subplots_axes_and_figures/secondary_axis.py
  examples/units/basic_units.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/image.py
  lib/matplotlib/patches.py
  lib/matplotlib/sankey.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_sankey.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/tests/test_axes_grid1.py
Labels: Maintenance

#24306 Remove unnecessary/replaceable explicit str calls.
  examples/event_handling/pong_sgskip.py
  examples/units/basic_units.py
  examples/user_interfaces/toolmanager_sgskip.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_png.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axisartist/angle_helper.py
  setupext.py
Labels: Maintenance

#24125 Expire miscellaneous deprecations from 3.5
  doc/api/blocking_input_api.rst
  doc/api/index.rst
  doc/api/next_api_changes/removals/24125-OG.rst
  doc/api/prev_api_changes/api_changes_0.98.0.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/toolkits/axisartist.rst
  doc/users/explain/interactive_guide.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/blocking_input.py
  lib/matplotlib/cbook/__init__.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/dviread.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/text.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axisartist/axes_grid.py
  lib/mpl_toolkits/axisartist/clip_path.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/tests/baseline_images/test_axisartist_clip_path/clip_path.png
  lib/mpl_toolkits/tests/test_axisartist_clip_path.py
Labels: API: changes

#23606 added offset section & restructured annotations tutorial
  tutorials/text/annotations.py
Labels: Documentation, Documentation: overhaul, topic: annotation

#24239 Fix mathtext rendering of `\|` and sizing of `|` and `\|`
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_68.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_68.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_68.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_68.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_68.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_68.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_68.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_68.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_68.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_68.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_68.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_68.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_68.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_68.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_68.svg
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#24320 DOC: add warning note to imsave
  lib/matplotlib/image.py
Labels: Documentation

#24095 nb/webagg: Move mouse events to outer canvas div
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI: nbagg, GUI: webagg
