Repository matplotlib/matplotlib, pull requests merged in 2022-12, with the labels that each got.

#24570 FIX: VPacker and HPacker bottom/top alignment
  doc/api/next_api_changes/behavior/24570-GL.rst
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: PR: bugfix

#24575 Use std::isnan and fix compiler warning
  src/_path.h
Labels: Maintenance

#24581 Simplify implementation of _is_sorted.
  src/_path.h
  src/_path_wrapper.cpp
Labels: Maintenance

#24579 Add explicit permissions to GitHub Actions
  .circleci/config.yml
  .github/workflows/cibuildsdist.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/circleci.yml
  .github/workflows/clean_pr.yml
  .github/workflows/conflictcheck.yml
  .github/workflows/nightlies.yml
  .github/workflows/pr_welcome.yml
  .github/workflows/reviewdog.yml
  .github/workflows/tests.yml
Labels: topic: testing, Maintenance, Run cibuildwheel

#24580 Update the polar transform information in doc #24499
  tutorials/advanced/transforms_tutorial.py
Labels: Documentation, topic: polar

#24594 Backport PR #24580 on branch v3.6.2-doc (Update the polar transform information in doc #24499)
  tutorials/advanced/transforms_tutorial.py
Labels: Documentation, topic: polar

#24593 Backport PR #24580 on branch v3.6.x (Update the polar transform information in doc #24499)
  tutorials/advanced/transforms_tutorial.py
Labels: Documentation, topic: polar

#24600 Fix: Gracefully fail the string validator for tuple inputs
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: rcparams

#24582 Shorten demo_axes_grid example.
  examples/axes_grid1/demo_axes_grid.py
Labels: Documentation, topic: mpl_toolkit

#24595 ci: Stop building wheels on AppVeyor
  .appveyor.yml
Labels: topic: testing, Maintenance

#24598 Check for errors/warnings on failed doc-builds
  .circleci/config.yml
Labels: Documentation: build

#24611 Backport PR #23868 on branch v3.6.2-doc (Show errors and warnings in doc CI after build.)
  .circleci/config.yml
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/images_contours_and_fields/pcolormesh_levels.py
Labels: Documentation

#24614 Backport PR #24598 on branch v3.6.2-doc (Check for errors/warnings on failed doc-builds)
  .circleci/config.yml
Labels: Documentation: build

#24612 Backport PR #23868 on branch v3.6.x (Show errors and warnings in doc CI after build.)
  .circleci/config.yml
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/images_contours_and_fields/pcolormesh_levels.py
Labels: Documentation

#24609 Backport PR #24595 on branch v3.6.x (ci: Stop building wheels on AppVeyor)
  .appveyor.yml
Labels: topic: testing, Maintenance

#24601 Backport PR #24600 on branch v3.6.x (Fix: Gracefully fail the string validator for tuple inputs)
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: rcparams

#23588 Refactoring gitwash
  doc/devel/coding_guide.rst
  doc/devel/contributing.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/devel/gitwash/branch_dropdown.png
  doc/devel/gitwash/configure_git.rst
  doc/devel/gitwash/dot2_dot3.rst
  doc/devel/gitwash/following_latest.rst
  doc/devel/gitwash/forking_button.png
  doc/devel/gitwash/forking_hell.rst
  doc/devel/gitwash/git_development.rst
  doc/devel/gitwash/git_install.rst
  doc/devel/gitwash/git_intro.rst
  doc/devel/gitwash/git_links.inc
  doc/devel/gitwash/git_resources.rst
  doc/devel/gitwash/index.rst
  doc/devel/gitwash/known_projects.inc
  doc/devel/gitwash/links.inc
  doc/devel/gitwash/patching.rst
  doc/devel/gitwash/pull_button.png
  doc/devel/gitwash/set_up_fork.rst
  doc/devel/gitwash/this_project.inc
  doc/devel/index.rst
  doc/devel/maintainer_workflow.rst
Labels: Documentation: overhaul

#24619 ENH: Allow RGB(A) arrays for pcolormesh
  doc/users/next_whats_new/rgba_pcolormesh.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_collections.py
Labels: topic: pcolor/pcolormesh

#24592 DOC: Don't try to link paths that are on a different drive
  doc/conf.py
Labels: Documentation: build

#24633 Backport PR #24592 on branch v3.6.x (DOC: Don't try to link paths that are on a different drive)
  doc/conf.py
Labels: Documentation: build

#24522 Use pybind11 for tri module
  .appveyor.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yml
  lib/matplotlib/tests/test_triangulation.py
  lib/matplotlib/tri/_triangulation.py
  pyproject.toml
  setupext.py
  src/tri/_tri.cpp
  src/tri/_tri.h
  src/tri/_tri_wrapper.cpp
Labels: Run cibuildwheel

#24641 Fix that font files never pass the test on Win
  lib/matplotlib/font_manager.py
Labels: topic: text/fonts

#24635 Remove unneeded _update_transScale calls in _init_axis.
  examples/misc/custom_projection.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
Labels: Maintenance, topic: transforms and scales

#24645 Removed 'above' wording from Input hook integration docs (#24632)
  doc/users/explain/interactive_guide.rst
Labels: Documentation

#24528 BUG: Warn when an existing layout manager changes to tight layout
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager

#24640 Small TransformWrapper cleanups.
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
Labels: Maintenance, topic: transforms and scales

#24653 Directly call _long_axis()._set_axes_scale in Colorbar.
  lib/matplotlib/colorbar.py
Labels: topic: color/colorbar, Maintenance

#24249 Add legend tests for 3D plots
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_legend3d/fancy.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_legend3d/legend_bar.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_legend3d/legend_plot.png
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: topic: mplot3d, topic: legend

#24596 ENH: Add ellipse class for annotation box styles
  doc/missing-references.json
  doc/users/next_whats_new/ellipse_annotation.rst
  lib/matplotlib/patches.py
  lib/matplotlib/tests/baseline_images/test_arrow_patches/boxarrow_test_image.png
  tutorials/text/annotations.py
Labels: topic: annotation

#24670 Tiny capitalization fix.
  tutorials/provisional/mosaic.py
Labels: Documentation

#24669 Doc: clarify preferred image comparison test settings
  doc/devel/testing.rst
Labels: Documentation

#24672 Backport PR #24669 on branch v3.6.2-doc (Doc: clarify preferred image comparison test settings)
  doc/devel/testing.rst
Labels: Documentation

#24671 Backport PR #24669 on branch v3.6.x (Doc: clarify preferred image comparison test settings)
  doc/devel/testing.rst
Labels: Documentation

#24667 Test scroll zoom bbox update
  lib/matplotlib/tests/test_axes.py
Labels: topic: testing, topic: axes

#24675 TST: set style in mpl_toolkits to ease later transition
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: topic: mpl_toolkit, topic: testing

#24686 Backport PR #24003 on branch v3.6.2-doc: Fix wording and links lifecycle tutorial
  tutorials/introductory/lifecycle.py
Labels: Documentation

#24687 Backport PR #24003 on branch v3.6.x (Fix wording and links lifecycle tutorial)
  tutorials/introductory/lifecycle.py
Labels: Documentation

#24684 Backport PR #24654: Don't manually invalidate cached lines in _update_transScale
  lib/matplotlib/axes/_base.py
Labels: Maintenance, topic: transforms and scales

#24526 [Doc] Fix spelling and grammar in tutorials
  tutorials/advanced/blitting.py
  tutorials/advanced/path_tutorial.py
  tutorials/advanced/transforms_tutorial.py
  tutorials/colors/colormapnorms.py
  tutorials/colors/colormaps.py
  tutorials/intermediate/arranging_axes.py
  tutorials/intermediate/artists.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/tight_layout_guide.py
  tutorials/introductory/lifecycle.py
  tutorials/introductory/pyplot.py
  tutorials/introductory/quick_start.py
  tutorials/provisional/mosaic.py
  tutorials/text/annotations.py
  tutorials/text/text_intro.py
Labels: Documentation

#24692 Avoid rgba8888->argb32 conversion if qt can do it for us.
  lib/matplotlib/backends/backend_qtagg.py
  lib/matplotlib/cbook/__init__.py
Labels: GUI: Qt

#24694 Backport PR #24692 on branch v3.6.x (Avoid rgba8888->argb32 conversion if qt can do it for us.)
  lib/matplotlib/backends/backend_qtagg.py
  lib/matplotlib/cbook/__init__.py
Labels: GUI: Qt

#24705 Cleanup a few examples.
  examples/misc/demo_ribbon_box.py
  examples/shapes_and_collections/collections.py
  examples/shapes_and_collections/line_collection.py
Labels: Documentation

#24367 STY: Update macosx zoom rect styling
  src/_macosx.m
Labels: GUI: MacOSX

#24509 Factor out & improve accuracy of derivatives calculations in axisartist.
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/axisartist/tests/test_grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, Maintenance

#24710 Drop support for Qt<5.10.
  doc/api/next_api_changes/development/24710-AL.rst
  doc/devel/min_dep_policy.rst
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_qtagg.py
  lib/matplotlib/backends/backend_qtcairo.py
  lib/matplotlib/backends/qt_compat.py
Labels: GUI: Qt

#24720 FIX: be more forgiving in default draw wrapper
  lib/matplotlib/artist.py
  lib/matplotlib/tests/test_artist.py
Labels: status: confirmed bug

#24652 Offsetbox default arguments
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: Maintenance

#24731 DOC: Post warnings as reviews on PRs
  .circleci/config.yml
  .circleci/fetch_doc_logs.py
  .github/workflows/circleci.yml
Labels: Documentation, Maintenance, Documentation: build

#24408 Fix: restore make_axes to accept a tuple of axes
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_colorbar.py
Labels: API: consistency, topic: color/colorbar

#24735 Correct note about aspect
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, topic: mplot3d

#24732 Use masked stack to preserve mask info
  lib/matplotlib/collections.py
  lib/matplotlib/tests/baseline_images/test_collections/test_check_masked_offsets.png
  lib/matplotlib/tests/test_collections.py
Labels: topic: units and array ducktypes, PR: bugfix

#24668 Add test for remaining axis options
  lib/matplotlib/tests/baseline_images/test_axes/axis_options.png
  lib/matplotlib/tests/test_axes.py
Labels: topic: testing, topic: axes

#22273 Improve inheritance diagrams
  doc/_static/mpl.css
  doc/conf.py
Labels: Documentation

#24738 Backport PR #24735 on branch v3.6.x (Correct note about aspect)
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, topic: mplot3d

#24739 Backport PR #24732 on branch v3.6.x (Use masked stack to preserve mask info)
  lib/matplotlib/collections.py
  lib/matplotlib/tests/baseline_images/test_collections/test_check_masked_offsets.png
  lib/matplotlib/tests/test_collections.py
Labels: topic: units and array ducktypes, PR: bugfix

#24740 Minor redundancy cleanup of code which sets 3D aspect 3D
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#24362 Allow bool-like values for sharex/sharey
  lib/matplotlib/gridspec.py
  lib/matplotlib/tests/test_subplots.py
Labels: API: consistency

#24120 don't try to start a new event loop in WebAgg when in an ipykernel
  lib/matplotlib/backends/backend_webagg.py
Labels: GUI: webagg

#24737 MNT: make fig.colorbar(..., ax=INPUT) even more forgiving
  lib/matplotlib/colorbar.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_colorbar.py
Labels: API: consistency, topic: color/colorbar

#24734 Support masked dates
  lib/matplotlib/dates.py
  lib/matplotlib/tests/test_dates.py
Labels: topic: date handling, topic: units and array ducktypes

#19763 Remove visibility changes in draw for *Cursor widgets
  doc/api/next_api_changes/deprecations/19763-ES.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#22700 MAINT: Move docstring of `LogLocator` to class
  lib/matplotlib/ticker.py
Labels: Documentation, status: needs review

#24736 DOC: simplify CheckButton example
  examples/widgets/check_buttons.py
Labels: Documentation

#24760 Remove unused dicts from backend_cairo.
  lib/matplotlib/backends/backend_cairo.py
Labels: backend: cairo, Maintenance

#24761 Don't set the never-used Line2D._contains in set_picker.
  lib/matplotlib/lines.py
Labels: Maintenance

#24764 DOC: `subplot_mosaic` tutorial - clarify ratios keywords used directly
  tutorials/provisional/mosaic.py
Labels: Documentation

#24766 Backport PR #24764 on branch v3.6.2-doc (DOC: `subplot_mosaic` tutorial - clarify ratios keywords used directly)
  tutorials/provisional/mosaic.py
Labels: Documentation

#24765 Backport PR #24764 on branch v3.6.x (DOC: `subplot_mosaic` tutorial - clarify ratios keywords used directly)
  tutorials/provisional/mosaic.py
Labels: Documentation

#24751 DOC: Update Artist inheritance diagram
  doc/api/artist_api.rst
Labels: Documentation

#24774 DOC: fix strip_chart example with numpy 1.24
  examples/animation/strip_chart.py
Labels: Documentation

#24772 Fix Left ventricle bullseye example
  examples/specialty_plots/leftventricle_bulleye.py
Labels: Documentation

#24775 Backport PR #24774 on branch v3.6.x (DOC: fix strip_chart example with numpy 1.24)
  examples/animation/strip_chart.py
Labels: Documentation

#24776 Backport PR #24774 on branch v3.6.2-doc (DOC: fix strip_chart example with numpy 1.24)
  examples/animation/strip_chart.py
Labels: Documentation

#24538 [Doc] Document legend_handles and legend_handlers
  doc/api/next_api_changes/deprecations/24538-OG.rst
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_legend.py
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: Documentation, topic: legend

#24777 Backport PR #24772 on branch v3.6.x (Fix Left ventricle bullseye example)
  examples/specialty_plots/leftventricle_bulleye.py
Labels: Documentation

#24778 Backport PR #24772 on branch v3.6.2-doc (Fix Left ventricle bullseye example)
  examples/specialty_plots/leftventricle_bulleye.py
Labels: Documentation

#24724 Run delvewheel on Windows for wheels
  .github/workflows/cibuildwheel.yml
  doc/api/next_api_changes/development/24724-ES.rst
Labels: OS: Microsoft, Run cibuildwheel

#24785 Fix random generation of single floats
  examples/animation/bayes_update.py
  examples/animation/strip_chart.py
Labels: Documentation

#24791 Backport PR #24785 on branch v3.6.x (Fix random generation of single floats)
  examples/animation/bayes_update.py
  examples/animation/strip_chart.py
Labels: Documentation

#24792 Backport PR #24785 on branch v3.6.2-doc (Fix random generation of single floats)
  examples/animation/bayes_update.py
  examples/animation/strip_chart.py
Labels: Documentation

#24756 DOC: Simplify some table markup
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/quiver.py
  lib/matplotlib/style/core.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axes_grid1/axes_rgb.py
  tutorials/toolkits/axes_grid.py
Labels: Documentation

#24758 MNT: Simplify code related to masked arrays
  lib/matplotlib/ticker.py
  lib/matplotlib/transforms.py
Labels: Maintenance

#21661 Fix plot directive with func calls
  doc/api/next_api_changes/removals/21661-TAC.rst
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
  lib/matplotlib/tests/tinypages/range6.py
  lib/matplotlib/tests/tinypages/some_plots.rst
Labels: topic: sphinx extension

#24757 Allow using masked in `set_offsets`
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: topic: units and array ducktypes

#24750 Fix deprecations of *Cursor widget event handlers
  lib/matplotlib/widgets.py
Labels: Release critical, topic: widgets/UI, Maintenance

#23576 Soft deprecate the textpath module (import from text instead)
  doc/api/index.rst
  doc/api/text_api.rst
  doc/api/textpath_api.rst
  examples/lines_bars_and_markers/multivariate_marker_plot.py
  examples/misc/logos2.py
  examples/text_labels_and_annotations/demo_text_path.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/markers.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
Labels: Documentation, topic: text, API: consistency

#24262 Fix issue with space allocated for single tick that should not be there
  lib/matplotlib/spines.py
  lib/matplotlib/tests/baseline_images/test_colorbar/colorbar_keeping_xlabel.png
  lib/matplotlib/tests/baseline_images/test_spines/black_axes.pdf
  lib/matplotlib/tests/baseline_images/test_spines/black_axes.png
  lib/matplotlib/tests/baseline_images/test_spines/black_axes.svg
  lib/matplotlib/tests/test_spines.py
Labels: Release critical

#24807 Axes.stem docstring document orientation as literals
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24806 Deprecate 'x' argument for widgets.TextBox.begin_typing
  doc/api/next_api_changes/deprecations/24806-KS.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI, Maintenance

#24808 Backport PR #24807 on branch v3.6.x (Axes.stem docstring document orientation as literals)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24769 Improve matplotlib.axes documentation
  doc/_templates/autosummary_class_only.rst
  doc/api/axes_api.rst
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#24752 DOC: Change event handling table into a tab set
  doc/_static/mpl.css
  doc/users/explain/event_handling.rst
Labels: Documentation

#24699 Implement nested four-level TeX cache
  lib/matplotlib/texmanager.py
Labels: topic: text/usetex, Performance

#24730 Data access API for rcParams
  doc/api/next_api_changes/deprecations/24730-TH.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_widgets.py
Labels: API: changes, Maintenance

#22329 Enforce that Line data modifications are sequences
  examples/animation/multiple_axes.py
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: API: argument checking

#22316 Arbitrary figure customization hooks.
  doc/users/next_whats_new/figure_hooks.rst
  examples/user_interfaces/images/eye-symbolic.svg
  examples/user_interfaces/images/eye.pdf
  examples/user_interfaces/images/eye.png
  examples/user_interfaces/images/eye.svg
  examples/user_interfaces/images/eye_large.png
  examples/user_interfaces/mplcvd.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_pyplot.py
Labels: New feature, topic: toolbar

#24465 Reparametrize offsetbox calculations in terms of bboxes.
  doc/api/next_api_changes/deprecations/24465-AL.rst
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Maintenance

#24811 removed casting handles to list in legend
  lib/matplotlib/legend.py
Labels: Maintenance

#24826 space in version added for reverse in legend
  lib/matplotlib/legend.py
Labels: Documentation

#24824 Fix incorrect method in doc
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#24831 [Doc] Fix ndarray-links for arguments
  lib/matplotlib/category.py
  lib/matplotlib/cm.py
  lib/matplotlib/collections.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/quiver.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#24835 Delay nightly wheel builds by 2 hours
  .github/workflows/tests.yml
Labels: Maintenance

#24829 Simplify shape-checking in QuadMesh.set_array.
  doc/api/next_api_changes/behavior/24829-AL.rst
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: Maintenance

#24832 [MNT] Improve variable naming in bar
  lib/matplotlib/axes/_axes.py
Labels: Maintenance

#23457 Add blitting support to button widgets
  doc/users/next_whats_new/widget_blitting.rst
  lib/matplotlib/widgets.py
Labels: New feature, topic: widgets/UI

#24131 Deprecate attributes and expire deprecation in animation
  doc/api/next_api_changes/behavior/24131-OG.rst
  doc/api/next_api_changes/deprecations/24131-OG.rst
  doc/missing-references.json
  examples/animation/animate_decay.py
  examples/animation/rain.py
  examples/animation/strip_chart.py
  examples/animation/unchained.py
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: Release critical, API: changes, topic: animation

#24604 Enh/extend mosaic kwargs
  doc/users/next_whats_new/per_subplot_mosaic.rst
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_figure.py
  tutorials/provisional/mosaic.py
Labels: Release critical

#24837 DOC: Replace .format by f-strings in examples
  examples/event_handling/resample.py
  examples/images_contours_and_fields/contour_corner_mask.py
  examples/images_contours_and_fields/image_annotated_heatmap.py
  examples/lines_bars_and_markers/eventplot_demo.py
  examples/lines_bars_and_markers/filled_step.py
  examples/misc/table_demo.py
  examples/pie_and_polar_charts/pie_and_donut_labels.py
  examples/scales/asinh_demo.py
  examples/specialty_plots/topographic_hillshading.py
  examples/subplots_axes_and_figures/axes_margins.py
  examples/text_labels_and_annotations/font_table.py
  examples/text_labels_and_annotations/legend_demo.py
  examples/ticks/custom_ticker1.py
  examples/units/basic_units.py
  examples/user_interfaces/embedding_webagg_sgskip.py
  examples/user_interfaces/fourier_demo_wx_sgskip.py
  examples/user_interfaces/svg_histogram_sgskip.py
  examples/user_interfaces/svg_tooltip_sgskip.py
  examples/user_interfaces/wxcursor_demo_sgskip.py
Labels: Maintenance

#24839 Move geo/polar projections to their own pages
  doc/api/projections/geo.rst
  doc/api/projections/polar.rst
  doc/api/projections_api.rst
Labels: Documentation

#24848 `Collection.set_linestyle`: remove redundant string handling
  lib/matplotlib/collections.py
  lib/matplotlib/tests/test_collections.py
Labels: Maintenance

#24846 Promote pending cm deprecations to full deprecations
  doc/api/next_api_changes/deprecations/24846-ES.rst
  lib/matplotlib/cm.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, Maintenance

#24763 Allow polar scales where zero is not in valid interval
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar

#24843 Show that fill_between and span_where provide similar functionalities.
  examples/lines_bars_and_markers/span_regions.py
Labels: Documentation
