Repository matplotlib/matplotlib, pull requests merged in 2023-11, with the labels that each got.

#27244 Clarify semantics of plt.matshow(..., fignum=...).
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: pyplot API

#26703 moved communications guidelines from governance, updated and clarified process
  doc/_static/mpl.css
  doc/devel/coding_guide.rst
  doc/devel/communication_guide.rst
  doc/devel/index.rst
  doc/devel/release_guide.rst
  doc/users/project/code_of_conduct.rst
  doc/users/release_notes.rst
Labels: governance, Documentation: devdocs

#27246 Backport PR #27244 on branch v3.8.x (Clarify semantics of plt.matshow(..., fignum=...).)
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: pyplot API

#27247 Backport PR #26703 on branch v3.8.x (moved communications guidelines from governance, updated and clarified process )
  doc/_static/mpl.css
  doc/devel/coding_guide.rst
  doc/devel/communication_guide.rst
  doc/devel/index.rst
  doc/devel/release_guide.rst
  doc/users/project/code_of_conduct.rst
  doc/users/release_notes.rst
Labels: governance, Documentation: devdocs

#27248 Backport PR #26703 on branch v3.8.1-doc (moved communications guidelines from governance, updated and clarified process )
  doc/_static/mpl.css
  doc/devel/coding_guide.rst
  doc/devel/communication_guide.rst
  doc/devel/index.rst
  doc/devel/release_guide.rst
  doc/users/project/code_of_conduct.rst
  doc/users/release_notes.rst
Labels: governance, Documentation: devdocs

#27219 Updated axes_box_aspect.py and angle_annotation.py to regularize formatting
  galleries/examples/subplots_axes_and_figures/axes_box_aspect.py
  galleries/examples/text_labels_and_annotations/angle_annotation.py
Labels: Documentation: examples

#27250 Backport PR #27219 on branch v3.8.x (Updated axes_box_aspect.py and angle_annotation.py to regularize formatting)
  galleries/examples/subplots_axes_and_figures/axes_box_aspect.py
  galleries/examples/text_labels_and_annotations/angle_annotation.py
Labels: Documentation: examples

#26669 [DOC] debug backends
  doc/users/faq.rst
  galleries/users_explain/figure/backends.rst
  galleries/users_explain/figure/figure_intro.rst
  galleries/users_explain/figure/interactive.rst
  galleries/users_explain/quick_start.py
  lib/matplotlib/figure.py
Labels: Documentation: user guide

#27252 Backport PR #26669 on branch v3.8.x ([DOC] debug backends)
  doc/users/faq.rst
  galleries/users_explain/figure/backends.rst
  galleries/users_explain/figure/figure_intro.rst
  galleries/users_explain/figure/interactive.rst
  galleries/users_explain/quick_start.py
  lib/matplotlib/figure.py
Labels: Documentation: user guide

#27255 Backport PR #27253 on branch v3.8.x (Copy-edit the standalone colorbar tutorial)
  galleries/users_explain/colors/colorbar_only.py
Labels: Documentation, topic: color/colorbar

#27251 webagg: Don't resize canvas if WebSocket isn't connected
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI: webagg

#27254 Remove redundant axes_grid colorbar examples.
  galleries/examples/axes_grid1/demo_colorbar_of_inset_axes.py
  galleries/examples/axes_grid1/demo_colorbar_with_axes_divider.py
  galleries/examples/axes_grid1/demo_colorbar_with_inset_locator.py
  galleries/examples/axes_grid1/simple_colorbar.py
  galleries/users_explain/toolkits/axes_grid.rst
Labels: Documentation, topic: mpl_toolkit, topic: color/colorbar

#27249 DOC: reasoning for communications guidelines
  doc/devel/communication_guide.rst
  doc/users/project/mission.rst
Labels: Documentation: devdocs

#27258 Backport PR #27249 on branch v3.8.x (DOC: reasoning for communications guidelines)
  doc/devel/communication_guide.rst
  doc/users/project/mission.rst
Labels: Documentation: devdocs

#27259 Backport PR #27249 on branch v3.8.1-doc (DOC: reasoning for communications guidelines)
  doc/devel/communication_guide.rst
  doc/users/project/mission.rst
Labels: Documentation: devdocs

#27213 DOC: consolidated coding guide and added naming conventions table
  doc/api/next_api_changes/README.rst
  doc/devel/coding_guide.rst
  doc/devel/contribute.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/users/next_whats_new/README.rst
Labels: Documentation: devdocs

#27268 Copy-edit various examples.
  galleries/examples/color/README.txt
  galleries/examples/color/named_colors.py
  galleries/examples/images_contours_and_fields/image_demo.py
  galleries/examples/images_contours_and_fields/pcolor_demo.py
  galleries/examples/text_labels_and_annotations/accented_text.py
  galleries/examples/text_labels_and_annotations/annotation_demo.py
  galleries/examples/text_labels_and_annotations/font_file.py
  galleries/examples/text_labels_and_annotations/legend_demo.py
  galleries/users_explain/axes/constrainedlayout_guide.py
  galleries/users_explain/axes/legend_guide.py
  galleries/users_explain/axes/tight_layout_guide.py
  galleries/users_explain/colors/colormap-manipulation.py
  galleries/users_explain/colors/colormaps.py
  galleries/users_explain/text/text_intro.py
Labels: Documentation, Documentation: examples

#27271 DOC: minor fixes to dev workflow
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#27273 Backport PR #27271 on branch v3.8.1-doc (DOC: minor fixes to dev workflow)
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#27272 Backport PR #27271 on branch v3.8.x (DOC: minor fixes to dev workflow)
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#27279 Tweak a few docstrings.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/colors.py
  lib/matplotlib/legend.py
  lib/matplotlib/projections/polar.py
Labels: Documentation

#27280 DOC: added rest of licenses to license page
  doc/_static/mpl.css
  doc/users/project/license.rst
Labels: Documentation

#27283 Backport PR #27280 on branch v3.8.x (DOC: added rest of licenses to license page)
  doc/_static/mpl.css
  doc/users/project/license.rst
Labels: Documentation

#27286 Various cleanups
  lib/matplotlib/contour.py
  lib/matplotlib/dviread.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: Maintenance

#27288 Use int.from_bytes instead of implementing the conversion ourselves.
  lib/matplotlib/dviread.py
Labels: topic: text/usetex, Maintenance

#27275 MAINT: fix .yml in tag issue template
  .github/ISSUE_TEMPLATE/tag_proposal.yml
Labels: Maintenance, Documentation: tags

#27290 Ensure GIL while releasing buffer
  src/_macosx.m
Labels: Release critical, GUI: MacOSX

#27293 Backport PR #27290 on branch v3.8.x (Ensure GIL while releasing buffer)
  src/_macosx.m
Labels: Release critical, GUI: MacOSX

#27300 Remove idiosyncratic get_tick_iterator API.
  doc/api/next_api_changes/deprecations/27300-AL.rst
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit

#26794 Use pybind11 in _c_internal_utils module
  src/_c_internal_utils.c
  src/_c_internal_utils.cpp
  src/meson.build
Labels: Maintenance

#27184 Use pybind11 for qhull wrapper
  src/_qhull_wrapper.cpp
  src/meson.build
Labels: topic: tri

#27312 Doc: Step redirect
  galleries/plot_types/basic/stairs.py
Labels: Documentation: website, Documentation: plot types

#27315 Backport PR #27312 on branch v3.8.1-doc (Doc: Step redirect)
  galleries/plot_types/basic/stairs.py
Labels: Documentation: website, Documentation: plot types

#27314 Backport PR #27312 on branch v3.8.x (Doc: Step redirect)
  galleries/plot_types/basic/stairs.py
Labels: Documentation: website, Documentation: plot types

#27313 FIX: allow re-shown Qt windows to be re-destroyed
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#27324 Backport PR #27323 on branch v3.8.x ([DOC] Minor fixes for savefig-docstring)
  lib/matplotlib/figure.py
Labels: Documentation: API

#27306 Simplify GridSpec setup in make_axes_gridspec.
  lib/matplotlib/colorbar.py
Labels: topic: geometry manager, Maintenance

#26907 Removal of deprecations for Contour
  doc/api/artist_api.rst
  doc/api/next_api_changes/removals/26907-DCH.rst
  lib/matplotlib/contour.py
  lib/matplotlib/contour.pyi
Labels: mentored: hackathon, Maintenance, topic: contour

#27299 [MNT] swap xkcd script for humor sans
  .circleci/config.yml
  .devcontainer/devcontainer.json
  doc/devel/dependencies.rst
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/textpath.py
Labels: topic: text/fonts, Maintenance, Documentation: build

#27339 Backport PR #27299 on branch v3.8.x ([MNT] swap xkcd script for humor sans)
  .circleci/config.yml
  .devcontainer/devcontainer.json
  doc/devel/dependencies.rst
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/textpath.py
Labels: topic: text/fonts, Maintenance, Documentation: build

#27340 Fix CI on v3.7.x branch
  .github/workflows/cibuildwheel.yml
  azure-pipelines.yml
  doc/users/github_stats.rst
Labels: Maintenance, CI: Run cibuildwheel, CI: testing

#27332 Backport PR #27290 on branch v3.7.x (Ensure GIL while releasing buffer)
  src/_macosx.m
Labels: Release critical, GUI: MacOSX

#27215 Add `@QtCore.Slot()` decorations to `NavigationToolbar2QT`
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#26992 Convert TkAgg utilities to pybind11
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/_tkagg.pyi
  lib/matplotlib/tests/test_backend_tk.py
  src/_tkagg.cpp
  src/meson.build
Labels: GUI: tk

#27357 [DOC]: Update 3d axis limits whats new
  doc/users/next_whats_new/3d_axis_limits.rst
Labels: Documentation, topic: mplot3d

#27353 Refactor AxisArtistHelpers
  lib/mpl_toolkits/axisartist/axislines.py
Labels: topic: mpl_toolkit

#27211 Add test_hlines to test_datetimes.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27360 Fix removal of colorbars on nested subgridspecs.
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: geometry manager, topic: color/colorbar

#27367 Fix _find_fonts_by_props docstring
  lib/matplotlib/font_manager.py
Labels: Documentation: API

#19011 Simplify tk tooltip setup.
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI: tk, Maintenance

#27365 [DOC]: Fix menu example
  galleries/examples/widgets/menu.py
Labels: Documentation: examples

#27369 Backport PR #27365 on branch v3.8.x ([DOC]: Fix menu example)
  galleries/examples/widgets/menu.py
Labels: Documentation: examples

#27335 DOC: clarify stackplot limits
  galleries/examples/lines_bars_and_markers/stackplot_demo.py
Labels: Documentation: examples

#27384 Backport PR #27377 on branch v3.8.x (TST: Make test_movie_writer_invalid_path locale-agnostic)
  lib/matplotlib/tests/test_animation.py
Labels: topic: testing, topic: animation

#27386 Doc: add a "please use dev version" to top of contribute docs
  doc/devel/index.rst
Labels: Documentation: devdocs

#27403 Backport PR #27386 on branch v3.8.x (Doc: add a "please use dev version" to top of contribute docs)
  doc/devel/index.rst
Labels: Documentation: devdocs

#27404 Backport PR #27386 on branch v3.8.2-doc (Doc: add a "please use dev version" to top of contribute docs)
  doc/devel/index.rst
Labels: Documentation: devdocs
