Repository matplotlib/matplotlib, pull requests merged in 2023-01, with the labels that each got.

#24852 Backport PR #24843 on branch v3.6.x (Show that fill_between and span_where provide similar functionalities.)
  examples/lines_bars_and_markers/span_regions.py
Labels: Documentation

#24853 Backport PR #24843 on branch v3.6.2-doc (Show that fill_between and span_where provide similar functionalities.)
  examples/lines_bars_and_markers/span_regions.py
Labels: Documentation

#24850 Improve PolarAffine docstring
  lib/matplotlib/projections/polar.py
Labels: Documentation, topic: polar

#24858 Backport PR #24856 on branch v3.6.2-doc (fix typo)
  doc/devel/dependencies.rst
Labels: Documentation

#24857 Backport PR #24856 on branch v3.6.x (fix typo)
  doc/devel/dependencies.rst
Labels: Documentation

#24840 Simplify/robustify segment-point distance calculation.
  examples/event_handling/poly_editor.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: Maintenance

#24862 Fix argument checking in `Axes3D.quiver`
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#24845 Fix toggling of MultiCursor.{horizOn,vertOn}
  doc/api/next_api_changes/deprecations/19763-ES.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#24873 Copy-edit fonts docs.
  doc/users/explain/fonts.rst
Labels: Documentation, topic: text/fonts

#24877 Backport PR #24873 on branch v3.6.2-doc (Copy-edit fonts docs.)
  doc/users/explain/fonts.rst
Labels: Documentation, topic: text/fonts

#24863 Add parameter doc to PolarTransform
  lib/matplotlib/projections/polar.py
Labels: Documentation, topic: polar

#24876 Backport PR #24873 on branch v3.6.x (Copy-edit fonts docs.)
  doc/users/explain/fonts.rst
Labels: Documentation, topic: text/fonts

#24880 Minor cleanups to named colors example.
  examples/color/named_colors.py
Labels: Documentation, topic: color/color & colormaps

#24882 Backport PR #24880 on branch v3.6.2-doc (Minor cleanups to named colors example.)
  examples/color/named_colors.py
Labels: Documentation, topic: color/color & colormaps

#24881 Backport PR #24880 on branch v3.6.x (Minor cleanups to named colors example.)
  examples/color/named_colors.py
Labels: Documentation, topic: color/color & colormaps

#24786 Increase a few test tolerances on some arches
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: testing

#24870 Better default bool contour levels.
  doc/api/next_api_changes/behavior/24870-AL.rst
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tri/_tricontour.py
Labels: topic: contour

#24879 Document "." as a filled marker.
  examples/lines_bars_and_markers/marker_reference.py
  lib/matplotlib/markers.py
  lib/matplotlib/tests/test_lines.py
Labels: Documentation, topic: markers

#24888 update install instructions for conda
  doc/index.rst
  doc/users/getting_started/index.rst
Labels: Documentation

#24895 add new & improved doc notices to what's new
  doc/users/next_whats_new/documentation.rst
Labels: Documentation

#24894 DOC: explain clipbox a bit better
  lib/matplotlib/artist.py
Labels: Documentation

#24896 changed contribute docs link to writing docs
  doc/devel/index.rst
Labels: Documentation

#24887 [MNT] Bump NumPy to 1.20
  doc/api/next_api_changes/development/24887-OG.rst
  doc/devel/dependencies.rst
  doc/devel/min_dep_policy.rst
  environment.yml
  lib/matplotlib/__init__.py
  requirements/testing/minver.txt
  setup.py
Labels: Maintenance, Run cibuildwheel

#19743 ENH: allow fig.legend outside axes...
  doc/users/next_whats_new/legend-figure-outside.rst
  examples/text_labels_and_annotations/figlegend_demo.py
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
  tutorials/intermediate/legend_guide.py
Labels: New feature, Release critical, topic: geometry manager, topic: legend

#24085 Set facecolor of FilledArrow axisline style and fix tight layout
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/axisline_style.py
  lib/mpl_toolkits/axisartist/tests/baseline_images/test_axislines/axisline_style.png
  lib/mpl_toolkits/axisartist/tests/baseline_images/test_axislines/axisline_style_size_color.png
  lib/mpl_toolkits/axisartist/tests/baseline_images/test_axislines/axisline_style_tight.png
  lib/mpl_toolkits/axisartist/tests/baseline_images/test_axislines/subplotzero_ylabel.png
  lib/mpl_toolkits/axisartist/tests/test_axislines.py
Labels: Release critical, topic: mpl_toolkit, topic: testing

#24902 Remove provisional note from pyplot.subplot_mosaic
  lib/matplotlib/pyplot.py
Labels: Documentation

#24841 changed method in animation tutorial table of methods
  tutorials/introductory/animation_tutorial.py
Labels: Documentation

#22314 Add a helper to generate xy coordinates for AxisArtistHelper.
  doc/api/next_api_changes/deprecations/22314-AL.rst
  lib/mpl_toolkits/axisartist/axislines.py
Labels: topic: mpl_toolkit, Maintenance

#24905 Remove some long-obsolete commented code in grid_helper_curvelinear.
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/axisartist/tests/test_axis_artist.py
Labels: topic: mpl_toolkit, Maintenance

#24904 Deprecate AxisArtistHelpers with inconsistent loc/nth_coord.
  doc/api/next_api_changes/deprecations/24904-AL.rst
  lib/mpl_toolkits/axisartist/axislines.py
Labels: topic: mpl_toolkit, API: argument checking

#24911 Backport PR #24904 on branch v3.7.x (Deprecate AxisArtistHelpers with inconsistent loc/nth_coord.)
  doc/api/next_api_changes/deprecations/24904-AL.rst
  lib/mpl_toolkits/axisartist/axislines.py
Labels: topic: mpl_toolkit, API: argument checking

#24920 Add --only-binary to nightly pip install
  .github/workflows/tests.yml
Labels: Maintenance

#24925 DOC: Improve documentation for set_loglevel
  lib/matplotlib/__init__.py
Labels: Documentation

#24926 Backport PR #24925 on branch v3.7.x (DOC: Improve documentation for set_loglevel)
  lib/matplotlib/__init__.py
Labels: Documentation

#24927 DOC: Remove space after directive name, before double-colon
  lib/matplotlib/image.py
  src/ft2font_wrapper.cpp
Labels: Documentation

#24923 Cleanup cbook deprecations and layout
  doc/api/next_api_changes/removals/24923-ES.rst
  lib/matplotlib/cbook.py
Labels: Maintenance

#24928 Backport PR #24927 on branch v3.7.x (DOC: Remove space after directive name, before double-colon)
  lib/matplotlib/image.py
  src/ft2font_wrapper.cpp
Labels: Documentation

#24924 Fix toggling layout engines
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_tightlayout.py
Labels: topic: geometry manager

#24929 Small unrelated cleanups/style fixes.
  lib/matplotlib/cbook.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Maintenance

#23390 FIX: colorbar contour with log norm should default to log locator and formatter...
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_log_locator.svg
  lib/matplotlib/tests/test_contour.py
Labels: topic: color/colorbar

#24936 Backport PR #24927 on branch v3.6.x (DOC: Remove space after directive name, before double-colon)
  lib/matplotlib/image.py
  src/ft2font_wrapper.cpp
Labels: Documentation

#24938 Backport PR #23390 on branch v3.7.x (FIX: colorbar contour with log norm should default to log locator and formatter...)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_log_locator.svg
  lib/matplotlib/tests/test_contour.py
Labels: topic: color/colorbar

#24939 Backport PR #23390 on branch v3.6.x (FIX: colorbar contour with log norm should default to log locator and formatter...)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_log_locator.svg
  lib/matplotlib/tests/test_contour.py
Labels: topic: color/colorbar

#24937 Backport PR #24470 on branch v3.7.x ([ENH] hatch keyword for pie + some pie documentation)
  doc/users/next_whats_new/pie_hatch.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: New feature, topic: hatch, topic: plotting methods

#24655 Update font_manager to only use registry on Win
  doc/api/next_api_changes/behavior/24655-AK.rst
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: Release critical, status: needs revision

#24941 Backport PR #24655 on branch v3.7.x (Update font_manager to only use registry on Win)
  doc/api/next_api_changes/behavior/24655-AK.rst
  lib/matplotlib/font_manager.py
  lib/matplotlib/tests/test_font_manager.py
Labels: Release critical

#24943 Remove special casing for PyPy not required anymore
  src/_c_internal_utils.c
  src/_macosx.m
  src/_path.h
  src/ft2font_wrapper.cpp
Labels: Maintenance, Run cibuildwheel

#24940 [MNT] specify which gallery sections come last
  doc/sphinxext/gallery_order.py
Labels: Documentation: build

#24945 Backport PR #24940 on branch v3.7.x ([MNT] specify which gallery sections come last)
  doc/sphinxext/gallery_order.py
Labels: Documentation: build

#24942 Expire module deprecations
  doc/api/next_api_changes/removals/24XXX-OG.rst
  lib/matplotlib/afm.py
  lib/matplotlib/docstring.py
  lib/matplotlib/fontconfig_pattern.py
  lib/matplotlib/tight_bbox.py
  lib/matplotlib/tight_layout.py
  lib/matplotlib/type1font.py
Labels: Maintenance

#24919 Remove support for python 3.8
  .appveyor.yml
  .circleci/config.yml
  .github/workflows/cibuildsdist.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/circleci.yml
  .github/workflows/reviewdog.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  doc/api/next_api_changes/development/24919-KS.rst
  doc/devel/dependencies.rst
  lib/matplotlib/tests/test_getattr.py
  requirements/testing/extra.txt
  requirements/testing/minver.txt
  setup.py
Labels: Run cibuildwheel

#22999 CI: Add a Cygwin run to GHA CI.
  .github/workflows/cygwin.yml
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/tests/test_preprocess_data.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/tests/test_sphinxext.py
  src/mplutils.h
Labels: Build, Run cygwin

#24955 Cleanup bullseye plot example.
  examples/specialty_plots/leftventricle_bullseye.py
Labels: Documentation

#24956 Backport PR #24955 on branch v3.7.x (Cleanup bullseye plot example.)
  examples/specialty_plots/leftventricle_bullseye.py
Labels: Documentation

#24254 Expire deprecations in widgets and keyword only arguments for Selectors
  doc/api/next_api_changes/deprecations/24254-OG.rst
  doc/api/next_api_changes/removals/24254-OG.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical, API: changes, topic: widgets/UI, Maintenance

#24825 Allow non-default scales on polar axes
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_log.png
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar

#24948 Remove remaining deprecations from 3.5
  doc/api/next_api_changes/removals/24948-ES.rst
  doc/api/prev_api_changes/api_changes_3.5.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.5.0/removals.rst
  doc/api/testing_api.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/category.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/scale.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_category.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/units.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: Release critical

#24960 Backport PR #24825 on branch v3.7.x (Allow non-default scales on polar axes)
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_log.png
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar

#24912 Remove contour warning for "no-valid-levels".
  doc/api/next_api_changes/behavior/24912-AL.rst
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

#24959 Backport PR #24254 on branch v3.7.x (Expire deprecations in widgets and keyword only arguments for Selectors)
  doc/api/next_api_changes/deprecations/24254-OG.rst
  doc/api/next_api_changes/removals/24254-OG.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical, API: changes, topic: widgets/UI, Maintenance

#24961 Backport PR #24948 on branch v3.7.x (Remove remaining deprecations from 3.5)
  doc/api/next_api_changes/removals/24948-ES.rst
  doc/api/prev_api_changes/api_changes_3.5.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.5.0/removals.rst
  doc/api/testing_api.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/category.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/scale.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_category.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/units.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: Release critical

#24963 Backport PR #24912 on branch v3.7.x (Remove contour warning for "no-valid-levels".)
  doc/api/next_api_changes/behavior/24912-AL.rst
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

#24965 Remove additional deprecations from 3.5
  doc/api/next_api_changes/removals/24948-ES.rst
  doc/api/next_api_changes/removals/24965-ES.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Maintenance

#24966 Backport PR #24965 on branch v3.7.x (Remove additional deprecations from 3.5)
  doc/api/next_api_changes/removals/24948-ES.rst
  doc/api/next_api_changes/removals/24965-ES.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Maintenance

#24970 FIX: Handle uint8 indices properly for colormap lookups
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps

#24907 DOC/BUILD add ability for conf to skip whole sections
  .gitignore
  doc/Makefile
  doc/conf.py
  doc/devel/documenting_mpl.rst
  doc/make.bat
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: Documentation: build

#24977 Backport PR #24970 on branch v3.7.x (FIX: Handle uint8 indices properly for colormap lookups)
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps

#25001 Backport PR #25000 on branch v3.7.x (Update matplotlibrc urls)
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#24989 Suppress pyparsing warning
  lib/matplotlib/_fontconfig_pattern.py
Labels: Release critical

#24978 Simplify handling of out-of-bound values `Colormap.__call__`.
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#25008 Backport PR #25004 on branch v3.7.x (Bump pypa/cibuildwheel from 2.11.4 to 2.12.0)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, Run cibuildwheel

#25010 Backport PR #24989 on branch v3.7.x (Suppress pyparsing warning)
  lib/matplotlib/_fontconfig_pattern.py
Labels: Release critical

#25013 Clarify/shorten gca management in colorbar().
  lib/matplotlib/figure.py
Labels: topic: color/colorbar, Maintenance

#24990 Make arguments other than `renderer` keyword-only for `get_tightbbox`
  doc/api/next_api_changes/deprecations/24990-OG.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: API: consistency, Maintenance

#25022 DOC: tweak array indexing in constrained layout tutorial
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#25017 Capitalize headings in example Gallery
  examples/axes_grid1/README.txt
  examples/axisartist/README.txt
  examples/pyplots/README.txt
  examples/specialty_plots/README.txt
Labels: Documentation

#25026 Backport PR #25017 on branch v3.7.x (Capitalize headings in example Gallery)
  examples/axes_grid1/README.txt
  examples/axisartist/README.txt
  examples/pyplots/README.txt
  examples/specialty_plots/README.txt
Labels: Documentation

#25019 Tweak titles pyplot examples.
  .flake8
  examples/pyplots/axline.py
  examples/pyplots/pyplot_mathtext.py
  examples/pyplots/pyplot_simple.py
  examples/pyplots/pyplot_text.py
  examples/pyplots/pyplot_three.py
  examples/pyplots/pyplot_two_subplots.py
  tutorials/text/mathtext.py
Labels: Documentation

#25029 Backport PR #25019 on branch v3.7.x (Tweak titles pyplot examples.)
  .flake8
  examples/pyplots/axline.py
  examples/pyplots/pyplot_mathtext.py
  examples/pyplots/pyplot_simple.py
  examples/pyplots/pyplot_text.py
  examples/pyplots/pyplot_three.py
  examples/pyplots/pyplot_two_subplots.py
  tutorials/text/mathtext.py
Labels: Documentation

#24981 ENH: pad_inches='layout' for savefig
  doc/users/next_whats_new/savefig_bbox_layout.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/figure.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/tests/baseline_images/test_bbox_tight/bbox_inches_tight_layout.png
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/transforms.py
Labels: New feature, topic: geometry manager

#25028 seperate out folders in gallery ordering
  doc/sphinxext/gallery_order.py
Labels: Documentation: build

#25007 Minor refactoring of Axes3D
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, Maintenance

#24812 [Doc] expanded basic pie example
  examples/pie_and_polar_charts/pie_features.py
Labels: Documentation, topic: plotting methods

#25034 Backport PR #24812 on branch v3.7.x ([Doc] expanded basic pie example)
  examples/pie_and_polar_charts/pie_features.py
Labels: Documentation, topic: plotting methods

#24992 Bump NumPy to 1.21
  doc/api/next_api_changes/development/24919-KS.rst
  doc/devel/dependencies.rst
  doc/devel/min_dep_policy.rst
  environment.yml
  lib/matplotlib/__init__.py
  requirements/testing/minver.txt
  setup.py
Labels: Maintenance, PR: dependencies

#24995 Improve 3D quiver test
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/quiver3d.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/quiver3d_pivot_middle.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/quiver3d_pivot_tail.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#25018 Simplify "artist reference" example.
  examples/shapes_and_collections/artist_reference.py
  examples/shapes_and_collections/patch_collection.py
Labels: Documentation

#25037 Backport PR #25018 on branch v3.7.x (Simplify "artist reference" example.)
  examples/shapes_and_collections/artist_reference.py
  examples/shapes_and_collections/patch_collection.py
Labels: Documentation

#25035 ci: Only attempt to upload nightlies from successful builds
  .github/workflows/nightlies.yml
Labels: Maintenance

#25047 Remove dead code from deprecated-and-removed block
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI, Maintenance

#25046 ci: Re-add the login shell to nightlies jobs
  .github/workflows/nightlies.yml
Labels: Maintenance

#25049 Backport PR #25047 on branch v3.7.x (Remove dead code from deprecated-and-removed block)
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI, Maintenance

#25055 Reword awkward sentence in FAQ.
  doc/users/faq/howto_faq.rst
Labels: Documentation

#25056 Backport PR #25055 on branch v3.7.x (Reword awkward sentence in FAQ.)
  doc/users/faq/howto_faq.rst
Labels: Documentation

#24838 Add styling support to Check and Radio buttons
  doc/users/next_whats_new/widget_button_styling.rst
  examples/widgets/check_buttons.py
  examples/widgets/radio_buttons.py
  lib/matplotlib/tests/baseline_images/test_widgets/check_radio_buttons.png
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: New feature, topic: widgets/UI

#24999 DOC: figure explanation
  doc/users/explain/figures.rst
  doc/users/explain/index.rst
  lib/matplotlib/figure.py
Labels: Documentation

#25065 Backport PR #24838 on branch v3.7.x (Add styling support to Check and Radio buttons )
  doc/users/next_whats_new/widget_button_styling.rst
  examples/widgets/check_buttons.py
  examples/widgets/radio_buttons.py
  lib/matplotlib/tests/baseline_images/test_widgets/check_radio_buttons.png
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: New feature, topic: widgets/UI

#25066 Backport PR #24999 on branch v3.7.x (DOC: figure explanation)
  doc/users/explain/figures.rst
  doc/users/explain/index.rst
  lib/matplotlib/figure.py
Labels: Documentation

#25039 Updated WebAgg JS to check and send request over wss if using HTTPS
  lib/matplotlib/backends/web_backend/all_figures.html
  lib/matplotlib/backends/web_backend/single_figure.html
Labels: GUI: webagg

#25072 Merge v3.6.x into v3.7.x
  .github/workflows/cibuildwheel.yml
  doc/_static/zenodo_cache/7162185.svg
  doc/_static/zenodo_cache/7275322.svg
  doc/_static/zenodo_cache/7527665.svg
  doc/api/prev_api_changes/api_changes_3.6.1.rst
  doc/devel/development_setup.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.6.0.rst
  doc/users/prev_whats_new/github_stats_3.6.1.rst
  doc/users/prev_whats_new/github_stats_3.6.2.rst
  doc/users/project/citing.rst
  doc/users/release_notes.rst
  lib/matplotlib/backends/web_backend/js/mpl.js
  tools/cache_zenodo_svg.py
Labels: Maintenance, Run cibuildwheel

#25079 FIX: Only send one update signal when autoscaling norms
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/colorbar, topic: transforms and scales

#25074 Revert "Use system distutils instead of the setuptools copy"
  azure-pipelines.yml
Labels: OS: Microsoft, Maintenance

#25084 DOC: Fix typos in GitHub stats
  doc/users/github_stats.rst
Labels: Documentation, Maintenance

#25082 Backport PR #25079 on branch v3.7.x (FIX: Only send one update signal when autoscaling norms)
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/colorbar, topic: transforms and scales

#25083 Backport PR #25074 on branch v3.7.x (Revert "Use system distutils instead of the setuptools copy")
  azure-pipelines.yml
Labels: OS: Microsoft, Maintenance

#25087 feat: add new SI prefixes to ticker
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

#24994 Use `_axis_map` instead of `getattr` in `Axes` and `Figure`
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
Labels: status: needs rebase, Maintenance

#25088 DOC: Fix broken cross-reference when building PDF
  doc/users/explain/figures.rst
Labels: Documentation

#25089 Backport PR #25088 on branch v3.7.x (DOC: Fix broken cross-reference when building PDF)
  doc/users/explain/figures.rst
Labels: Documentation

#24967 Rewrite bullseye example to use bar() instead of pcolormesh().
  examples/pie_and_polar_charts/nested_pie.py
  examples/specialty_plots/leftventricle_bullseye.py
Labels: Documentation

#25092 Fix distribution of test data
  setupext.py
Labels: Build

#25093 Backport PR #25092 on branch v3.7.x (Fix distribution of test data)
  setupext.py
Labels: Build

#25023 Update Release guide to current practices
  .flake8
  doc/devel/release_guide.rst
  tools/cache_zenodo_svg.py
  tools/github_stats.py
Labels: Documentation, Maintenance

#23442 Remove need to detect math mode in pgf strings
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend: pgf

#24749 Support only positional args in contour. Error if no positional argument.
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: API: argument checking, topic: contour, PR: bugfix

#25104 tk blitting to destroyed canvases should be a noop, not a segfault.
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/tests/test_backend_tk.py
Labels: GUI: tk

#24985 Deprecate unused/undocumented functions in proj3d
  doc/api/next_api_changes/deprecations/24985-OG.rst
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Maintenance

#25110 Stop recommending `ncol` in legend examples
  examples/lines_bars_and_markers/horizontal_barchart_distribution.py
  examples/text_labels_and_annotations/legend_demo.py
  examples/user_interfaces/mplcvd.py
  examples/userdemo/simple_legend01.py
  tutorials/intermediate/legend_guide.py
Labels: Documentation

#24638 MNT: Remove auto-flattening of input data to pcolormesh
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_collections.py
Labels: topic: pcolor/pcolormesh

#25111 Backport PR #25110 on branch v3.7.x (Stop recommending `ncol` in legend examples)
  examples/lines_bars_and_markers/horizontal_barchart_distribution.py
  examples/text_labels_and_annotations/legend_demo.py
  examples/user_interfaces/mplcvd.py
  examples/userdemo/simple_legend01.py
  tutorials/intermediate/legend_guide.py
Labels: Documentation

#24866 write addfont example
  lib/matplotlib/font_manager.py
Labels: Documentation, topic: text/fonts, status: needs comment/discussion

#25113 Fix outdated comment re: _update_label_position.
  lib/matplotlib/axis.py
Labels: Maintenance

#25118 Backport PR #25113 on branch v3.7.x (Fix outdated comment re: _update_label_position.)
  lib/matplotlib/axis.py
Labels: Maintenance
