Repository matplotlib/matplotlib, pull requests merged in 2023-12, with the labels that each got.

#27412 ci: Block PyQt6 6.6.0 on Ubuntu
  .github/workflows/tests.yml
Labels: GUI: Qt, CI: testing

#27405 Check that xerr/yerr values are not None in errorbar
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: argument checking

#27419 DOC: Add AsinhScale to list of built-in scales
  lib/matplotlib/axis.py
  lib/matplotlib/colorbar.py
Labels: Documentation

#27421 Backport PR #27325 on branch v3.8.2-doc (Fixing Sentence Case on Section Titles in users_explain)
  galleries/users_explain/animations/animations.py
  galleries/users_explain/artists/patheffects_guide.py
  galleries/users_explain/axes/autoscale.py
  galleries/users_explain/axes/axes_ticks.py
  galleries/users_explain/axes/colorbar_placement.py
  galleries/users_explain/axes/constrainedlayout_guide.py
  galleries/users_explain/axes/legend_guide.py
  galleries/users_explain/axes/tight_layout_guide.py
  galleries/users_explain/colors/colorbar_only.py
  galleries/users_explain/colors/colormap-manipulation.py
  galleries/users_explain/colors/colormapnorms.py
  galleries/users_explain/colors/colormaps.py
  galleries/users_explain/toolkits/axes_grid.rst
  galleries/users_explain/toolkits/axisartist.rst
Labels: Documentation: user guide

#27420 Backport PR #27325 on branch v3.8.x (Fixing Sentence Case on Section Titles in users_explain)
  galleries/users_explain/animations/animations.py
  galleries/users_explain/artists/patheffects_guide.py
  galleries/users_explain/axes/autoscale.py
  galleries/users_explain/axes/axes_ticks.py
  galleries/users_explain/axes/colorbar_placement.py
  galleries/users_explain/axes/constrainedlayout_guide.py
  galleries/users_explain/axes/legend_guide.py
  galleries/users_explain/axes/tight_layout_guide.py
  galleries/users_explain/colors/colorbar_only.py
  galleries/users_explain/colors/colormap-manipulation.py
  galleries/users_explain/colors/colormapnorms.py
  galleries/users_explain/colors/colormaps.py
  galleries/users_explain/toolkits/axes_grid.rst
  galleries/users_explain/toolkits/axisartist.rst
Labels: Documentation: user guide

#27411 DOC: multilevel tick example
  galleries/examples/ticks/multilevel_ticks.py
Labels: topic: ticks axis labels, Documentation: examples

#27422 TST: Cache available interactive backends
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing

#27430 Backport PR #27411 on branch v3.8.2-doc (DOC: multilevel tick example)
  galleries/examples/ticks/multilevel_ticks.py
Labels: topic: ticks axis labels, Documentation: examples

#27429 Backport PR #27411 on branch v3.8.x (DOC: multilevel tick example)
  galleries/examples/ticks/multilevel_ticks.py
Labels: topic: ticks axis labels, Documentation: examples

#27440 Fix get_path for 3d artists
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#27409 Fix setting `_selection_completed` in `SpanSelector` when spanselector is initialised using `extents`
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#27423 Add test for fill_between in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27033 Add test_bar in test_datetime
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: date handling

#27343 Fix draggable annotations on subfigures.
  lib/matplotlib/artist.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: topic: figures and subfigures, topic: annotation

#27135 Added smoke test for Axes.stem
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27222 [TST] Added test_annotate in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27428 Added test for broken_barh to test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27390 Add test_bxp in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: date handling

#27425 Added test_fill_betweenx in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27454 Backport PR #27434 on branch v3.8.2-doc (FIX: Expand stairs plot-type entry intro (reattempt))
  galleries/plot_types/basic/stairs.py
Labels: Documentation: plot types

#27410 Add test_vlines to test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: date handling

#27431 Added test for Axes.bar_label
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: date handling

#27426 DOC: normalizing histograms
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_features.py
  galleries/examples/statistics/histogram_normalization.py
Labels: Documentation: examples

#27316 DOC: Synchronize LICENSE_STIX files
  LICENSE/LICENSE_STIX
Labels: governance

#27395 DOC: Moved dependencies under install because they're version dependent
  doc/devel/development_setup.rst
  doc/devel/index.rst
  doc/users/installing/dependencies.rst
  doc/users/installing/index.rst
Labels: Documentation: devdocs, Documentation: user guide

#27471 Doc: visualizing_tests and `triage_tests` tools
  doc/devel/testing.rst
  doc/users/installing/dependencies.rst
Labels: topic: testing, Documentation: devdocs

#27481 Fixing Pylab documentation in API interface overview
  galleries/users_explain/figure/api_interfaces.rst
Labels: Documentation: user guide

#27484 Backport PR #27481 on branch v3.8.x (Fixing Pylab documentation in API interface overview)
  galleries/users_explain/figure/api_interfaces.rst
Labels: Documentation: user guide

#25905 Use annotate coordinate systems to simplify label_subplots.
  galleries/examples/text_labels_and_annotations/label_subplots.py
Labels: Documentation, topic: text

#27466 Add test_eventplot to test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27282 DOC: add collection-fontsrecommended to dependencies
  doc/users/installing/dependencies.rst
Labels: Documentation: devdocs

#27498 Remove unnecessary del local variables at end of Gcf.destroy.
  lib/matplotlib/_pylab_helpers.py
Labels: Maintenance

#27497 Clarify that set_axisbelow doesn't move grids below images.
  lib/matplotlib/axes/_base.py
Labels: Documentation

#27501 Backport PR #27496 on branch v3.8.x (Bump actions/setup-python from 4 to 5)
  .github/workflows/cibuildwheel.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mypy-stubtest.yml
  .github/workflows/reviewdog.yml
  .github/workflows/tests.yml
Labels: PR: dependencies

#27013 Add test_contour under test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27504 DOC: correct return type for axline
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
Labels: Documentation

#27506 Backport PR #27504 on branch v3.8.x (DOC: correct return type for axline)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
Labels: Documentation

#27267 Fix/restore secondary axis support for Transform-type functions
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/secondary_xy.png
  lib/matplotlib/tests/test_axes.py
Labels: topic: ticks axis labels

#27511 TST: Add tests for Affine2D
  lib/matplotlib/tests/test_transforms.py
Labels: topic: testing, topic: transforms and scales

#27513 Fix docs and add tests for transform and deprecate `BboxTransformToMaxOnly`
  doc/api/next_api_changes/deprecations/27513-OG.rst
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
Labels: API: changes, topic: testing, Documentation: API

#27447 TST: Compress some hist geometry tests
  lib/matplotlib/tests/test_axes.py
Labels: topic: testing, Maintenance

#27519 [Doc] Improve/correct docs for 3D
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, Documentation: API

#27518 Micro-optimizations related to list handling
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: topic: mpl_toolkit, Performance

#27505 Download Qhull source from Github, not Qhull servers, in meson build
  subprojects/packagefiles/qhull-8.0.2/meson.build
  subprojects/qhull.wrap
Labels: Build

#27528 FIX: Remove runloop execution while waiting for stdin
  src/_macosx.m
Labels: GUI: MacOSX

#27530 Backport PR #27528 on branch v3.8.x (FIX: Remove runloop execution while waiting for stdin)
  src/_macosx.m
Labels: GUI: MacOSX

#27534 Clarify AxLine Params
  lib/matplotlib/lines.py
Labels: Documentation: API

#27536 Backport PR #27534 on branch v3.8.x (Clarify AxLine Params)
  lib/matplotlib/lines.py
Labels: Documentation: API

#27520 [Doc] Minor consistency changes and correction of Marker docs
  lib/matplotlib/markers.py
  lib/matplotlib/markers.pyi
Labels: topic: markers, Documentation: API

#27535 Update ax.legend input types
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
Labels: topic: typing, Documentation: API

#27537 Backport PR #27535 on branch v3.8.x (Update ax.legend input types)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
Labels: topic: typing, Documentation: API

#27517 Best-legend-location microoptimization
  lib/matplotlib/legend.py
Labels: Performance, topic: legend

#27527 FIX: Add macos timers to the main thread
  src/_macosx.m
Labels: GUI: MacOSX

#27544 Backport PR #27527 on branch v3.8.x (FIX: Add macos timers to the main thread)
  src/_macosx.m
Labels: GUI: MacOSX

#27265 DOC: reorganizing contributing docs to clean up toc, better seperate topics
  doc/devel/api_changes.rst
  doc/devel/coding_guide.rst
  doc/devel/contribute.rst
  doc/devel/index.rst
  doc/devel/license.rst
  doc/devel/pr_guide.rst
  doc/devel/triage.rst
Labels: Documentation: devdocs

#27514 Improve check for bbox
  doc/api/next_api_changes/behavior/27514-OG.rst
  doc/api/next_api_changes/deprecations/27514-OG.rst
  lib/matplotlib/transforms.py
Labels: API: argument checking, topic: transforms and scales

#27546 MNT: Clean up some style exceptions
  .flake8
  lib/matplotlib/__init__.py
  lib/matplotlib/_animation_data.py
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_cm.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/axes/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/image.py
  lib/matplotlib/pyplot.py
  lib/mpl_toolkits/axisartist/__init__.py
  lib/pylab.py
Labels: Maintenance

#27548 DOC: typo fix in contribute doc
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#27200 DOC: Add role for custom informal types like color
  doc/sphinxext/custom_roles.py
  lib/matplotlib/widgets.py
Labels: Documentation, Documentation: build

#27363 ci: Improve coverage for compiled code
  .appveyor.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: testing

#27373 Transpose grid_finder tick representation.
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, Maintenance

#27105 Use Axes instead of axes core library code
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/_layoutgrid.py
  lib/matplotlib/_tight_layout.py
  lib/matplotlib/animation.py
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/legend.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/__init__.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/sankey.py
  lib/matplotlib/table.py
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_skew.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/tests/test_tightlayout.py
  lib/matplotlib/text.py
  lib/matplotlib/ticker.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation, status: needs review, Maintenance

#27566 DOC: changed tag `plot type` to `plot-type`
  doc/devel/tag_glossary.rst
  galleries/examples/subplots_axes_and_figures/multiple_figs_demo.py
Labels: Documentation: tags

#27578 Fix polar labels with negative theta limit
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar

#27586 Backport PR #27578 on branch v3.8.x (Fix polar labels with negative theta limit)
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar
