Repository matplotlib/matplotlib, pull requests merged in 2023-10, with the labels that each got.

#26956 Backport PR #26955 on branch v3.8.x (Fix incorrect skip check in test_backend_ps.)
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: Release critical, topic: testing, backend: ps

#26964 Backport PR #26952 on branch v3.8.x (FIX 2-tuple of colors in to_rgba_array)
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, PR: bugfix

#26939 Backport PR #26937 on branch v3.8.x (Add ArrayLike to scatter c arg type hint)
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
Labels: topic: typing

#26959 Move papersize="auto" deprecation to backend_bases.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps

#26909 deprecated api tri
  doc/api/next_api_changes/removals/26909-VV.rst
  lib/matplotlib/tri/triangulation.py
  lib/matplotlib/tri/tricontour.py
  lib/matplotlib/tri/trifinder.py
  lib/matplotlib/tri/triinterpolate.py
  lib/matplotlib/tri/tripcolor.py
  lib/matplotlib/tri/triplot.py
  lib/matplotlib/tri/trirefine.py
  lib/matplotlib/tri/tritools.py
Labels: mentored: hackathon, Maintenance, topic: tri

#26967 Minor cleanups.
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/quiver.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axisartist/grid_finder.py
Labels: Maintenance

#26960 Deprecate backend_ps.get_bbox_header, and split it for internal use.
  doc/api/next_api_changes/deprecations/26960-AL.rst
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps

#26917 Deprecate ContourLabeler.add_label_clabeltext.
  doc/api/next_api_changes/behavior/26917-AL.rst
  doc/api/next_api_changes/deprecations/26917-AL.rst
  lib/matplotlib/contour.py
Labels: topic: contour

#26979 Backport PR #26959 on branch v3.8.x (Move papersize="auto" deprecation to backend_bases.)
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps

#26928 [TYP] Add tool for running stubtest
  .github/workflows/mypy-stubtest.yml
  ci/mypy-stubtest-allowlist.txt
  doc/devel/contribute.rst
  tools/stubtest.py
Labels: topic: typing

#26987 Backport PR #26985 on branch v3.8.x (Reformatted documentation under toolkits and tutorials directory )
  galleries/tutorials/index.rst
  galleries/users_explain/toolkits/axes_grid.rst
Labels: Documentation

#26988 Backport PR #26985 on branch v3.8.0-doc (Reformatted documentation under toolkits and tutorials directory )
  galleries/tutorials/index.rst
  galleries/users_explain/toolkits/axes_grid.rst
Labels: Documentation

#26850 DOC: Fix missing-reference generation on Windows
  doc/missing-references.json
  doc/sphinxext/missing_references.py
Labels: status: needs merge, Documentation: build

#26997 Backport PR #26850 on branch v3.8.x (DOC: Fix missing-reference generation on Windows)
  doc/missing-references.json
  doc/sphinxext/missing_references.py
Labels: Documentation: build

#26940 Add typing to pyplot.show() to avoid errors with mypy --strict.
  lib/matplotlib/pyplot.py
Labels: topic: typing

#26982 Backport PR #26976 on branch v3.8.x (Bump pypa/cibuildwheel from 2.16.0 to 2.16.1)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#27000 Backport PR #26605 on branch v3.8.x (ci: Install GTK4 from brew on macOS)
  .github/workflows/tests.yml
Labels: OS: Apple, GUI: gtk, CI: testing

#26999 Backport PR #26940 on branch v3.8.x (Add typing to pyplot.show() to avoid errors with mypy --strict.)
  lib/matplotlib/pyplot.py
Labels: topic: typing

#13401 New clear() method for Radio and Check buttons
  doc/users/next_whats_new/widget_button_clear.rst
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
  lib/matplotlib/widgets.pyi
Labels: topic: widgets/UI

#26951 Clarify that explicit ticklabels are used without further formatting.
  lib/matplotlib/axis.py
Labels: Documentation, topic: ticks axis labels

#27009 Backport PR #27006 on branch v3.8.x (DOC: Fix resizing of animation examples)
  galleries/examples/animation/bayes_update.py
  galleries/examples/animation/double_pendulum.py
Labels: Documentation: examples

#27010 Backport PR #27006 on branch v3.8.0-doc (DOC: Fix resizing of animation examples)
  galleries/examples/animation/bayes_update.py
  galleries/examples/animation/double_pendulum.py
Labels: Documentation: examples

#26961 DOC: made "open PR on MPL" a section in contribute guide
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#27019 Backport PR #26961 on branch v3.8.0-doc (DOC: made "open PR on MPL" a section in contribute guide)
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#27018 Backport PR #26961 on branch v3.8.x (DOC: made "open PR on MPL" a section in contribute guide)
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#27020 CI: Update scientific-python/upload-nightly-action to 0.2.0
  .github/workflows/nightlies.yml
Labels: CI: testing

#26754 DOC: seperate and clarify axisartist default tables
  doc/devel/document.rst
  galleries/users_explain/toolkits/axisartist.rst
Labels: topic: mpl_toolkit, Documentation: user guide

#27022 BLD: Remove development dependencies from sdists
  .github/workflows/cibuildwheel.yml
Labels: Build, CI: Run cibuildwheel

#27015 ValueError exception added to handle mix of {} and % string in colorbar format
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: API: argument checking, topic: ticks axis labels

#27004 Warning if handles and labels have a len mismatch
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: API: argument checking, topic: legend

#27031 Backport PR #27015 on branch v3.8.x (ValueError exception added to handle mix of {} and % string in colorbar format)
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_colorbar.py
Labels: API: argument checking, topic: ticks axis labels

#27017 DOC: clarify usetex versus mathtext
  doc/users/prev_whats_new/whats_new_3.8.0.rst
  galleries/users_explain/text/mathtext.py
Labels: Documentation, Documentation: user guide

#27034 Backport PR #27017 on branch v3.8.x (DOC: clarify usetex versus mathtext)
  doc/users/prev_whats_new/whats_new_3.8.0.rst
  galleries/users_explain/text/mathtext.py
Labels: Documentation, Documentation: user guide

#27021 Add a section to Highlight past winners for JDH plotting contest in docs
  doc/users/resources/index.rst
Labels: Documentation: user guide

#26908 `allsegs` and `allkinds` return individual segments
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: Release critical, topic: contour

#27041 Backport PR #26908 on branch v3.8.x (`allsegs` and `allkinds` return individual segments)
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: Release critical, topic: contour

#27037 add test_plot_date in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: units and array ducktypes

#27059 ci: Clean up Python 3.12 builds
  .github/workflows/cibuildwheel.yml
  .github/workflows/tests.yml
Labels: Build, CI: Run cibuildwheel

#27057 Backport PR #27040 on branch v3.8.x (Bump pypa/cibuildwheel from 2.16.1 to 2.16.2)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#27060 Backport PR #27059: ci: Clean up Python 3.12 builds
  .github/workflows/cibuildwheel.yml
  .github/workflows/tests.yml
Labels: Build, CI: Run cibuildwheel

#26943 ci: Run mypy against typed cycler
  .github/workflows/reviewdog.yml
  pyproject.toml
Labels: topic: typing, CI: testing

#26890 Removing deprecated api from patches
  doc/api/next_api_changes/removals/26889-GC.rst
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
Labels: mentored: hackathon, Maintenance

#27028 Added test_hist in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: units and array ducktypes

#26830 Update stix table with Unicode names
  lib/matplotlib/_mathtext_data.py
Labels: topic: text/mathtext

#26954 add a mypy pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
Labels: topic: typing

#27082 MAINT: Update environment.yml to match requirements files
  environment.yml
Labels: Maintenance

#27086 Rename py namespace to mpl in extension code
  src/_backend_agg.cpp
  src/_backend_agg.h
  src/_backend_agg_basic_types.h
  src/_backend_agg_wrapper.cpp
  src/_image_wrapper.cpp
  src/_path.h
  src/_path_wrapper.cpp
  src/_ttconv.cpp
  src/ft2font.cpp
  src/numpy_cpp.h
  src/py_adaptors.h
  src/py_converters.cpp
  src/py_converters_11.cpp
  src/py_converters_11.h
  src/py_exceptions.h
  src/tri/_tri_wrapper.cpp
Labels: Maintenance

#27090 Restore figaspect() API documentation
  doc/api/figure_api.rst
Labels: Documentation, Documentation: API

#27066 Tweak array_view to be more like pybind11
  lib/matplotlib/tests/test_transforms.py
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
  src/_path.h
  src/_path_wrapper.cpp
  src/_qhull_wrapper.cpp
  src/array.h
  src/mplutils.h
  src/numpy_cpp.h
Labels: Maintenance

#27095 Deprecate nth_coord parameter from FixedAxisArtistHelper.new_fixed_axis.
  doc/api/next_api_changes/deprecations/27095-AL.rst
  doc/api/next_api_changes/removals/27095-AL.rst
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, Maintenance

#27039 Formatted docs
  doc/users/project/index.rst
  doc/users/release_notes.rst
Labels: Documentation

#27113 Backport PR #27039 on branch v3.8.x (Formatted docs)
  doc/users/project/index.rst
  doc/users/release_notes.rst
Labels: Documentation

#27109 TST: Use importlib for subprocess tests
  lib/matplotlib/testing/__init__.py
Labels: topic: testing

#26921 MNT: clarify path.sketch rcparam format + test validate_sketch
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: rcparams, topic: testing, Maintenance, Documentation: API

#27111 BLD: Fix setting FreeType build type in extension
  lib/matplotlib/__init__.py
  src/ft2font_wrapper.cpp
  src/meson.build
Labels: Build

#27127 BLD: use python3 for shebang consistent with pep-394
  tools/generate_matplotlibrc.py
Labels: Build

#27110 DOC: Move figure member sections one level down
  doc/api/figure_api.rst
Labels: Documentation, Documentation: API

#27084 Add test_barh to test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27132 changed automated tests from subsection to section in workflow
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#27114 add test_stackplot in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27133 Backport PR #27132 on branch v3.8.x (changed automated tests from subsection to section in workflow)
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#27134 Backport PR #27132 on branch v3.8.0-doc (changed automated tests from subsection to section in workflow)
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#26882 Add scatter test for datetime units
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27064 Close all plot windows of a blocking show() on Ctrl+C
  lib/matplotlib/backends/qt_compat.py
Labels: GUI: Qt

#26900 #26865 removing deprecations to patches.py and axislines.py
  doc/api/next_api_changes/removals/26900-jf.rst
  lib/mpl_toolkits/axisartist/axislines.py
Labels: API: changes

#27024 Add test_contourf in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing, topic: date handling

#26906 Fix masking for Axes3D.plot()
  lib/matplotlib/cbook.py
  lib/matplotlib/cbook.pyi
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#27053 Added info for getting compilation output from meson on autorebuild
  doc/conf.py
  doc/devel/development_setup.rst
  doc/devel/troubleshooting.rst
  pyproject.toml
Labels: Documentation: devdocs

#27058 DOC: concise dependency heading + small clarifications
  doc/devel/dependencies.rst
  doc/devel/development_setup.rst
  doc/users/installing/index.rst
Labels: Documentation: devdocs

#27153 Link xkcd color survey in named colors example
  galleries/examples/color/named_colors.py
Labels: Documentation, Documentation: examples

#27155 Backport PR #27153 on branch v3.8.0-doc (Link xkcd color survey in named colors example)
  galleries/examples/color/named_colors.py
Labels: Documentation, Documentation: examples

#27154 Backport PR #27153 on branch v3.8.x (Link xkcd color survey in named colors example)
  galleries/examples/color/named_colors.py
Labels: Documentation, Documentation: examples

#27139 added test_axhspan in test_datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27094 MNT: move pytest.ini configs to .toml
  pyproject.toml
  pytest.ini
Labels: Maintenance, CI: testing

#27130 added test_axvspan in test.datetime.py
  lib/matplotlib/tests/test_datetime.py
Labels: topic: testing

#27045 Ensure valid path mangling for ContourLabeler
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_disconnected_segments.png
  lib/matplotlib/tests/test_contour.py
Labels: Release critical

#27197 Backport PR #27045 on branch v3.8.x (Ensure valid path mangling for ContourLabeler)
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_disconnected_segments.png
  lib/matplotlib/tests/test_contour.py
Labels: Release critical

#27199 DOC: clean up links under table formatting docs
  doc/devel/document.rst
Labels: Documentation: devdocs

#27175 Deprecate mixing positional and keyword args for legend(handles, labels)
  doc/api/next_api_changes/deprecations/27175-AL.rst
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#26970 FIX: Add PyOS_InputHook back to macos backend
  src/_macosx.m
Labels: Release critical, GUI: MacOSX

#27164 docs: adding explanation for color in `set_facecolor`
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/text.py
Labels: Documentation: API

#27207 Backport PR #26970 on branch v3.8.x (FIX: Add PyOS_InputHook back to macos backend)
  src/_macosx.m
Labels: Release critical, GUI: MacOSX

#26989 MNT: print fontname in missing glyph warning
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_ft2font.py
  lib/matplotlib/tests/test_text.py
  src/ft2font.cpp
  src/ft2font.h
Labels: topic: text/fonts, Maintenance

#27217 Fix type hints for undeprecated contour APIs
  ci/mypy-stubtest-allowlist.txt
  lib/matplotlib/contour.pyi
  lib/matplotlib/path.pyi
Labels: topic: typing

#27221 FIX: Enable interrupts on macosx event loops
  lib/matplotlib/backends/backend_macosx.py
  src/_macosx.m
Labels: GUI: MacOSX

#27204 BLD: Use NumPy nightly wheels for non-release builds
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel

#27227 Backport PR #27221 on branch v3.8.x (FIX: Enable interrupts on macosx event loops)
  lib/matplotlib/backends/backend_macosx.py
  src/_macosx.m
Labels: GUI: MacOSX

#27226 DOC: link out to troubleshooting guide in install
  doc/devel/development_setup.rst
Labels: Documentation: devdocs

#27083 DOC: Add tags infrastructure for gallery examples
  .gitignore
  doc/_static/mpl.css
  doc/conf.py
  environment.yml
  galleries/examples/README.txt
  galleries/examples/animation/animated_histogram.py
  galleries/examples/animation/multiple_axes.py
  galleries/examples/event_handling/resample.py
  requirements/doc/doc-requirements.txt
Labels: Documentation: build

#27158 First attempt for individual hatching styles for stackplot
  doc/users/next_whats_new/stackplot_hatch.rst
  lib/matplotlib/pyplot.py
  lib/matplotlib/stackplot.py
  lib/matplotlib/stackplot.pyi
  lib/matplotlib/tests/test_axes.py
Labels: New feature

#27239 Backport PR #27237 on branch v3.8.x (DOC: Add command to install appropriate `requirements.txt` during dev venv setup)
  doc/devel/development_setup.rst
Labels: Maintenance, Documentation: devdocs

#27240 Backport PR #27237 on branch v3.8.0-doc (DOC: Add command to install appropriate `requirements.txt` during dev venv setup)
  doc/devel/development_setup.rst
Labels: Maintenance, Documentation: devdocs
