Repository matplotlib/matplotlib, pull requests merged in 2023-06, with the labels that each got.

#25473 ci: Merge sdist and wheel building workflows
  .github/workflows/cibuildsdist.yml
  .github/workflows/cibuildwheel.yml
  ci/check_version_number.py
  ci/check_wheel_licenses.py
  ci/export_sdist_name.py
  ci/silence
Labels: CI: Run cibuildwheel

#26021 Backport PR #26005 on branch v3.7.x (Fix backend tests on CI)
  .github/workflows/tests.yml
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: CI: testing

#26018 good first issue bot rewording
  .github/workflows/good-first-issue.yml
Labels: Documentation, Maintenance

#26009 Backport PR #25978 on branch v3.7.x (Fix subslice optimization for long, fully nan lines.)
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_lines.py
  src/_path.h
  src/_path_wrapper.cpp
Labels: Release critical, topic: path handling

#26028 Better document the semantics of get_text_width_height_descent.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#26026 Simplify delaxes.
  lib/matplotlib/cbook.py
  lib/matplotlib/figure.py
Labels: topic: ticks axis labels, Maintenance

#26019 Backport PR #25985 on branch v3.7.x (Drop metadata table when subsetting fonts)
  lib/matplotlib/backends/_backend_pdf_ps.py
Labels: topic: text/fonts

#26003 added alias to gray and grey match same colormaps
  lib/matplotlib/cm.py
Labels: topic: color/color & colormaps

#26033 removed wrapping from first-issue-bot
  .github/workflows/good-first-issue.yml
Labels: Good first issue, Maintenance

#26020 Let AxesGrid support Axes subclasses that don't override axis().
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit

#26034 ci: Skip PySide6 6.5.1 on another environment
  .github/workflows/tests.yml
Labels: CI: testing

#26025 MNT: Use commit SHA of cibuildwheel action release
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel

#26038 subsubsection titles for backend tables
  galleries/users_explain/figure/backends.rst
Labels: Documentation

#26040 Backport PR #26038 on branch v3.7.1-doc (subsubsection titles for backend tables)
  doc/users/explain/backends.rst
Labels: Documentation

#26039 Backport PR #26038 on branch v3.7.x (subsubsection titles for backend tables)
  doc/users/explain/backends.rst
Labels: Documentation

#26036 Cleanup AxesGrid
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: topic: mpl_toolkit, Maintenance

#25775 Support customizing antialiasing for text and annotation
  doc/api/next_api_changes/behavior/25775-HZ.rst
  doc/users/next_whats_new/antialiasing_text_annotation.rst
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
Labels: topic: text, API: consistency

#26048 Backport PR #26044 on branch v3.7.x (DOC: add steering council email to triage page + remove unactionable instructions)
  doc/devel/triage.rst
Labels: Documentation

#25515 DOC/BLD: plot directive srcset
  doc/api/index.rst
  doc/api/sphinxext_figmpl_directive_api.rst
  doc/conf.py
  doc/users/next_whats_new/plot_directive_srcset.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  lib/matplotlib/sphinxext/figmpl_directive.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
  lib/matplotlib/tests/tinypages/conf.py
  lib/matplotlib/tests/tinypages/index.rst
  lib/matplotlib/tests/tinypages/nestedpage/index.rst
  lib/matplotlib/tests/tinypages/nestedpage2/index.rst
Labels: status: needs review, Documentation: build

#25542 ENH: offset parameter for MultipleLocator
  doc/users/next_whats_new/multiplelocator_offset.rst
  galleries/examples/ticks/tick-locators.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
  lib/matplotlib/ticker.pyi
Labels: New feature, status: needs review, topic: ticks axis labels

#26052 Improve Qt compatibility
  .github/workflows/tests.yml
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#25993 Modify rainbow_text() function to use annotate() function
  galleries/examples/text_labels_and_annotations/rainbow_text.py
Labels: Documentation, topic: annotation

#26042 Further simplify AxesGrid._init_locators.
  lib/mpl_toolkits/axes_grid1/axes_grid.py
Labels: topic: mpl_toolkit, Maintenance

#26058 Don't show type hints in rendered docs
  doc/conf.py
Labels: Documentation, Release critical

#26057 Further cleanup rainbow_text example.
  galleries/examples/text_labels_and_annotations/rainbow_text.py
Labels: Documentation, topic: annotation

#26073 Cleanup date tick locators and formatters
  galleries/examples/ticks/date_formatters_locators.py
Labels: Documentation

#26055 Backport PR #26052 on branch v3.7.x (Improve Qt compatibility)
  .github/workflows/tests.yml
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#26064 add ishikawa diagram to examples
  galleries/examples/specialty_plots/ishikawa_diagram.py
Labels: Documentation

#26080 Deprecate unused "frac" key in annotate() arrowprops.
  doc/api/next_api_changes/deprecations/26780-AL.rst
  lib/matplotlib/text.py
Labels: topic: annotation

#26065 Install extra requirements when testing with 3.11 on GH
  .github/workflows/tests.yml
Labels: CI: testing

#26070 Factor out common checks for set_data in various Image subclasses.
  lib/matplotlib/image.py
Labels: topic: images, Maintenance

#25381 ENH: switch mpl_toolkits to implicit namespace package (PEP 420)
  doc/users/next_whats_new/mpl_toolkit_pep420.rst
  lib/mpl_toolkits/__init__.py
  setup.py
Labels: topic: mpl_toolkit, CI: Run cibuildwheel

#26024 Add missing operators code
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/tests/test_mathtext.py
Labels: New feature, topic: text/mathtext

#26096 FIX: Handle masked arrays for RGBA input with ScalarMappables
  doc/api/next_api_changes/behavior/26096-GL.rst
  lib/matplotlib/cm.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: pcolor/pcolormesh

#26101 Correct bounding box calculation for text markers
  lib/matplotlib/markers.py
  lib/matplotlib/tests/test_marker.py
Labels: topic: text/mathtext, topic: markers

#25779 Adding ellipse_arrow.py example and closes #25477
  doc/users/next_whats_new/get_vertices_co_vertices.rst
  galleries/examples/shapes_and_collections/ellipse_arrow.py
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/tests/test_patches.py
Labels: New feature

#26117 Backport PR #26006 on branch v3.7.1-doc (DOC: Use scientific-python-nightly-wheels for nightly build index)
  doc/users/installing/index.rst
Labels: Documentation

#26116 Backport PR #26006 on branch v3.7.x (DOC: Use scientific-python-nightly-wheels for nightly build index)
  doc/users/installing/index.rst
Labels: Documentation

#25555 Let widgets/clabel better handle overlapping axes.
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#25824 pdf: Use explicit palette when saving indexed images
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_agg_filter/agg_filter_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_axes/imshow.pdf
  lib/matplotlib/tests/baseline_images/test_axes/imshow_clip.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/grayscale_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_image/bbox_image_inverted.pdf
  lib/matplotlib/tests/baseline_images/test_image/figimage.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_interps.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_placement.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_shift.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.pdf
  lib/matplotlib/tests/baseline_images/test_image/log_scale_image.pdf
  lib/matplotlib/tests/baseline_images/test_image/no_interpolation_origin.pdf
  lib/matplotlib/tests/baseline_images/test_image/rotate_image.pdf
  lib/matplotlib/tests/baseline_images/test_patheffects/patheffect1.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_colormap.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout5.pdf
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_image.py
Labels: backend: pdf, topic: images

#26113 Fixes #12926 - inconsistency upon passing C in hexbin
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: status: needs tests

#25623 Use classic style in old what's new entries
  doc/users/prev_whats_new/whats_new_0.99.rst
  doc/users/prev_whats_new/whats_new_1.1.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
Labels: Documentation

#26060 Mnt: GUI tests
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: widgets/UI, topic: testing, GUI: webagg

#26120 Fix new warnings in compiled extensions
  src/py_converters.cpp
Labels: Build

#25068 Fix pgf tests with TeXLive 2022
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_pdflatex.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_rcupdate1.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_rcupdate2.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_xelatex.pdf
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend: pgf, Maintenance

#24666 Setting color of legend shadow
  doc/users/next_whats_new/legend_shadow_colors.rst
  lib/matplotlib/legend.py
  lib/matplotlib/legend.pyi
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/baseline_images/test_legend/shadow_argument_types.png
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#26127 Backport PR #25068 on branch v3.7.x (Fix pgf tests with TeXLive 2022)
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_pdflatex.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_rcupdate1.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_rcupdate2.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pgf/pgf_xelatex.pdf
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend: pgf, Maintenance

#25926 DOC: restore navigation documentation
  galleries/users_explain/figure/interactive.rst
Labels: Documentation, topic: widgets/UI

#26129 Remove outdated comment in `Artist.__getstate__`
  lib/matplotlib/artist.py
Labels: Documentation

#26128 Add missing spacer in tk toolmanager toolbar.
  lib/matplotlib/backends/_backend_tk.py
Labels: MEP: MEP22, GUI: tk

#26084 added note about python 3 to venv
  doc/devel/development_setup.rst
Labels: Documentation

#26125 Stop building universal2 and win32 wheels
  .github/workflows/cibuildwheel.yml
  doc/api/next_api_changes/development/25475-ES.rst
Labels: CI: Run cibuildwheel

#26132 MNT: remove test images from mathtext tests that have been removed
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_22.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_22.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_22.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_34.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_34.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_34.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_67.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_67.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_cm_67.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_22.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_22.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_22.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_34.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_34.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_34.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_67.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_67.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavusans_67.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_22.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_22.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_22.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_34.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_34.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_34.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_67.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_67.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_dejavuserif_67.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_22.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_22.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_22.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_34.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_34.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_34.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_67.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_67.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stix_67.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_22.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_22.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_22.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_34.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_34.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_34.svg
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_67.pdf
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_67.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathtext_stixsans_67.svg
Labels: topic: text/mathtext, CI: testing

#26133 Backport PR #26084 on branch v3.7.x (added note about python 3 to venv)
  doc/devel/development_setup.rst
Labels: Documentation

#26134 Backport PR #26084 on branch v3.7.1-doc (added note about python 3 to venv)
  doc/devel/development_setup.rst
Labels: Documentation

#26135 TST: xfail Tk test on Python 3.9 Azure macOS also
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: OS: Microsoft, GUI: tk

#25548 FIX: macosx keep track of mouse up/down for cursor hand changes
  src/_macosx.m
Labels: GUI: MacOSX

#26137 Add codespaces configuration
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Labels: Maintenance

#26089 Add public method to update `Legend` object's loc property .
  doc/users/next_whats_new/set_loc.rst
  lib/matplotlib/legend.py
  lib/matplotlib/legend.pyi
  lib/matplotlib/tests/test_legend.py
Labels: New feature, topic: legend

#26102 Start basing mathtext tutorial on mathtext parser
  doc/sphinxext/math_symbol_table.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
Labels: Documentation, topic: text/mathtext

#26110 DOC: fix levels in user/explain/figure
  galleries/users_explain/artists/artist_intro.rst
  galleries/users_explain/artists/index.rst
  galleries/users_explain/axes/axes_intro.rst
  galleries/users_explain/axes/index.rst
  galleries/users_explain/figure/figure_intro.rst
  galleries/users_explain/figure/index.rst
Labels: Documentation

#26141 Doc cards user explain
  galleries/users_explain/animations/README.txt
  galleries/users_explain/colors/README.txt
  galleries/users_explain/index.rst
  galleries/users_explain/text/README.txt
Labels: Documentation: overhaul

#26148 Clarify how to get data from Line3D and fix formatting issue
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: Documentation, topic: mplot3d

#26149 Backport PR #26148 on branch v3.7.x (Clarify how to get data from Line3D and fix formatting issue)
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: Documentation, topic: mplot3d

#25913 DOC: contributing and documenting clean ups + community for incubator invites
  doc/devel/contribute.rst
  doc/devel/document.rst
  doc/devel/index.rst
Labels: Documentation

#26153 Restrict pyparsing version
  .github/workflows/tests.yml
  environment.yml
  setup.py
Labels: Release critical, PR: dependencies

#26158 Backport PR #26153 on branch v3.7.x (Restrict pyparsing version)
  .github/workflows/tests.yml
  environment.yml
  setup.py
Labels: Release critical, PR: dependencies

#26136 Backport PR #26135 on branch v3.7.x (TST: xfail Tk test on Python 3.9 Azure macOS also)
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: OS: Microsoft, GUI: tk

#26159 DOC: Remove unused static images
  doc/_static/John-hunter-crop-2.jpg
  doc/_static/adjustText.png
  doc/_static/animatplot.png
  doc/_static/basemap_contour1.png
  doc/_static/blume_table_example.png
  doc/_static/brokenaxes.png
  doc/_static/cartopy_hurricane_katrina_01_00.png
  doc/_static/color_zorder_A.png
  doc/_static/color_zorder_B.png
  doc/_static/contents.png
  doc/_static/demo_axes_grid.png
  doc/_static/dna_features_viewer_screenshot.png
  doc/_static/eeg_large.png
  doc/_static/eeg_small.png
  doc/_static/figpager.png
  doc/_static/geoplot_nyc_traffic_tickets.png
  doc/_static/ggplot.png
  doc/_static/gif_attachment_example.png
  doc/_static/gold_on_carbon.jpg
  doc/_static/highlight_text_examples.png
  doc/_static/holoviews.png
  doc/_static/icon.png
  doc/_static/logo2.png
  doc/_static/logo2_compressed.svg
  doc/_static/logo_sidebar.png
  doc/_static/logo_sidebar_horiz.png
  doc/_static/matplotlib-icon.svg
  doc/_static/matplotlib_iterm2_demo.png
  doc/_static/mpl-interactions-slider-animated.png
  doc/_static/mpl-scatter-density.png
  doc/_static/mpl_template_example.png
  doc/_static/navigation.png
  doc/_static/numfocus_badge.png
  doc/_static/numpngw_animated_example.png
  doc/_static/pgf_fonts.pdf
  doc/_static/pgf_fonts.png
  doc/_static/pgf_texsystem.pdf
  doc/_static/pgf_texsystem.png
  doc/_static/plotnine.png
  doc/_static/probscale_demo.png
  doc/_static/ridge_map_white_mountains.png
  doc/_static/seaborn.png
  doc/_static/sviewgui_sample.png
  doc/_static/wcsaxes.jpg
  doc/_static/yellowbrick.png
Labels: Documentation

#25933 Relational Operators for mathtext
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
Labels: New feature, status: needs review, topic: text/mathtext

#26142 [Doc] alphabetize mathtext symbols by unicode
  doc/sphinxext/math_symbol_table.py
Labels: Documentation, topic: text/mathtext

#25714 Fix ffmpeg framerates
  lib/matplotlib/animation.py
Labels: topic: animation

#26188 Add note to remove texts in baselines when they are regenerated.
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: testing

#26190 Deprecate removal of explicit legend handles whose label starts with _.
  doc/api/next_api_changes/deprecations/26190-AL.rst
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend

#17497 Dedupe some C++ templates
  setup.py
  src/_image_resample.h
  src/_image_wrapper.cpp
Labels: topic: images, Maintenance

#26086 reorganize contributing landing page
  doc/devel/contribute.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/devel/index.rst
  doc/devel/triage.rst
Labels: Documentation

#26197 CI: Add pre-release installs to upcoming tests
  .github/workflows/tests.yml
Labels: CI: testing

#26199 ci: Fix typo for nightly builds
  .github/workflows/tests.yml
Labels: CI: testing

#26189 Factor out legend/figlegend nargs validation.
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend, Maintenance

#26171 precommit warns on main + instructions for fix
  .github/workflows/clean_pr.yml
  .pre-commit-config.yaml
  doc/devel/development_workflow.rst
Labels: Maintenance

#26200 [Doc] Add note about (str, alpha) version added
  galleries/users_explain/colors/colors.py
Labels: Documentation

#25247 Turn ContourSet into a standard Collection artist.
  doc/api/next_api_changes/deprecations/25247-AL.rst
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_image.py
  galleries/examples/images_contours_and_fields/contours_in_optimization_demo.py
  galleries/examples/misc/patheffect_demo.py
  galleries/examples/misc/tickedstroke_demo.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/contour.pyi
  lib/matplotlib/path.py
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.pdf
  lib/matplotlib/tests/baseline_images/test_axes/contour_colorbar.svg
  lib/matplotlib/tests/baseline_images/test_axes/contour_hatching.svg
  lib/matplotlib/tests/baseline_images/test_lines/line_collection_dashes.png
  lib/matplotlib/tests/baseline_images/test_lines/line_collection_dashes.svg
  lib/matplotlib/tests/baseline_images/test_patheffects/collection.pdf
  lib/matplotlib/tests/baseline_images/test_patheffects/collection.png
  lib/matplotlib/tests/baseline_images/test_patheffects/collection.svg
  lib/matplotlib/tests/baseline_images/test_patheffects/patheffect2.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_patheffects.py
  lib/mpl_toolkits/axisartist/tests/baseline_images/test_axislines/ParasiteAxesAuxTrans_meshplot.png
  lib/mpl_toolkits/axisartist/tests/test_axislines.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/contour3d.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/tricontour.png
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: Release critical, API: consistency, status: needs revision, API: changes, topic: contour

#26210 Re-export textpath types in text
  lib/matplotlib/text.pyi
Labels: topic: types

#26198 Limit Forward references in Mathtext parser
  lib/matplotlib/_mathtext.py
  lib/matplotlib/mathtext.pyi
Labels: topic: text/mathtext

#26212 Avoid deprecated typing hints
  lib/matplotlib/_path.pyi
  lib/matplotlib/cbook.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/typing.py
Labels: topic: types

#26186 [Doc] Improve documentation types
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/sankey.py
  lib/matplotlib/scale.py
  lib/matplotlib/table.py
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  lib/matplotlib/widgets.py
Labels: Documentation

#26211 Backport PR #25704 on branch v3.7.x (FIX: don't round image sizes to pixel if meant to be unsampled)
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_backend_pdf/grayscale_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_backend_svg/noscale.pdf
  lib/matplotlib/tests/baseline_images/test_backend_svg/noscale.svg
  lib/matplotlib/tests/baseline_images/test_image/image_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_alpha.svg
  lib/matplotlib/tests/baseline_images/test_image/image_placement.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_placement.svg
  lib/matplotlib/tests/baseline_images/test_image/image_shift.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_shift.svg
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.svg
  lib/matplotlib/tests/baseline_images/test_image/interp_nearest_vs_none.svg
  lib/matplotlib/tests/baseline_images/test_image/no_interpolation_origin.pdf
  lib/matplotlib/tests/baseline_images/test_image/no_interpolation_origin.svg
  lib/matplotlib/tests/baseline_images/test_image/rotate_image.pdf
  lib/matplotlib/tests/baseline_images/test_image/rotate_image.svg
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout5.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout5.svg
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#26218 moved minimum dependencies to maintainance section
  doc/devel/index.rst
  doc/devel/min_dep_policy.rst
Labels: Documentation

#26068 Rewrite Tick formatters example
  galleries/examples/ticks/tick-formatters.py
  lib/matplotlib/ticker.py
Labels: Documentation

#26215 Backport PR #25824 on branch v3.7.x (pdf: Use explicit palette when saving indexed images)
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_agg_filter/agg_filter_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_axes/imshow.pdf
  lib/matplotlib/tests/baseline_images/test_axes/imshow_clip.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/grayscale_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_image/bbox_image_inverted.pdf
  lib/matplotlib/tests/baseline_images/test_image/figimage.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_interps.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_placement.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_shift.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.pdf
  lib/matplotlib/tests/baseline_images/test_image/log_scale_image.pdf
  lib/matplotlib/tests/baseline_images/test_image/no_interpolation_origin.pdf
  lib/matplotlib/tests/baseline_images/test_image/rotate_image.pdf
  lib/matplotlib/tests/baseline_images/test_patheffects/patheffect1.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_colormap.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout5.pdf
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_image.py
Labels: backend: pdf, topic: images

#26216 Backport PR #26126 on branch v3.7.x (Revert "Merge pull request #24555 from parthpankajtiwary/symlog-warn")
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_scale.py
Labels: topic: transforms and scales

#26185 Set transform for offset text in 3d
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/surface3d_label_offset_tick_position.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, status: needs comment/discussion

#26214 Auto backport of pr 26186 on v3.7.x
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_template.py
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/sankey.py
  lib/matplotlib/scale.py
  lib/matplotlib/table.py
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/text.py
  lib/matplotlib/textpath.py
  lib/matplotlib/widgets.py
Labels: Documentation

#26184 FIX: AnnotationBbox extents before draw
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_offsetbox.py
Labels: PR: bugfix, topic: annotation
