Repository matplotlib/matplotlib, pull requests merged in 2023-04, with the labels that each got.

#25414 DOC: add a note about linewidth to scatter docs
  lib/matplotlib/axes/_axes.py
Labels: Documentation, status: needs review

#25609 Use _api.nargs_error in more places
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/legend.py
  lib/matplotlib/rcsetup.py
Labels: API: argument checking, Maintenance

#25615 TST: Avoid broken nbconvert
  environment.yml
  requirements/testing/extra.txt
Labels: topic: testing, CI: testing

#25619 TST: Unbreak pyside65 by installing libxcb-cursor0
  .github/workflows/tests.yml
Labels: topic: testing, CI: testing

#25621 Backport PR #25619 on branch v3.7.x (TST: Unbreak pyside65 by installing libxcb-cursor0)
  .github/workflows/tests.yml
Labels: topic: testing, CI: testing

#25624 FIX: correctly unset the layout engine in Figure.tight_layout
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager

#25620 Backport PR #25615 on branch v3.7.x (TST: Avoid broken nbconvert)
  environment.yml
  requirements/testing/extra.txt
Labels: topic: testing, CI: testing

#25610 DOC: Update user_explain\text\README.txt to reference example page
  galleries/users_explain/text/README.txt
Labels: Documentation

#25626 Backport PR #25624 on branch v3.7.x (FIX: correctly unset the layout engine in Figure.tight_layout)
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager

#25481 Fix 3D set_aspect error cases
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/aspects.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/aspects_adjust_box.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, PR: bugfix

#25628 Bump invalid hatch removal
  lib/matplotlib/hatch.py
Labels: topic: hatch

#25588 Rename parameters for consistency
  ci/mypy-stubtest-allowlist.txt
  doc/api/next_api_changes/deprecations/25588-KS.rst
  lib/matplotlib/axis.py
  lib/matplotlib/image.py
  lib/matplotlib/projections/geo.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/scale.py
  lib/matplotlib/scale.pyi
  lib/matplotlib/table.py
  lib/matplotlib/transforms.py
Labels: API: consistency

#25636 Ensure ImportError's have a message
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
Labels: API: consistency

#25637 Backport PR #25636 on branch v3.7.x (Ensure ImportError's have a message)
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
Labels: API: consistency

#25630 Backport PR #25481 on branch v3.7.x (Fix 3D set_aspect error cases)
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/aspects.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/aspects_adjust_box.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, PR: bugfix

#25640 pgf: Add clipping to text outputs
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend: pgf

#25663 Don't use deprecated cm.get_cmap in qt figureoptions.
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: Release critical, GUI: Qt, topic: color/color & colormaps

#25664 Fix 'can not' -> 'cannot' typo
  doc/api/toolkits/mplot3d/faq.rst
  doc/devel/MEP/MEP11.rst
  doc/devel/MEP/MEP14.rst
  doc/devel/MEP/MEP19.rst
  doc/devel/coding_guide.rst
  doc/devel/triage.rst
  doc/users/faq/troubleshooting_faq.rst
  doc/users/prev_whats_new/changelog.rst
  doc/users/prev_whats_new/dflt_style_changes.rst
  doc/users/prev_whats_new/github_stats_3.0.2.rst
  doc/users/prev_whats_new/github_stats_3.3.1.rst
  doc/users/prev_whats_new/github_stats_3.5.0.rst
  doc/users/prev_whats_new/github_stats_3.6.0.rst
  galleries/users_explain/figure/interactive.rst
  galleries/users_explain/figure/interactive_guide.rst
  galleries/users_explain/text/fonts.py
  galleries/users_explain/text/mathtext.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/animation.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/cbook.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_agg.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/mplot3d/art3d.py
  src/path_converters.h
Labels: Maintenance

#25655 Clean up FileIO type hints
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/cbook.pyi
  lib/matplotlib/figure.pyi
  lib/matplotlib/image.pyi
  lib/matplotlib/mathtext.pyi
  lib/matplotlib/pyplot.py
Labels: topic: types

#25665 Backport PR #25663 on branch v3.7.x (Don't use deprecated cm.get_cmap in qt figureoptions.)
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: Release critical, GUI: Qt, topic: color/color & colormaps

#25651 MNT: deprecate unused numdecs LogLocator param
  ci/mypy-stubtest-allowlist.txt
  doc/api/next_api_changes/deprecations/25651-REC.rst
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels, Maintenance

#25668 Fix what's new note for text
  doc/users/next_whats_new/mathtext_supports_text.rst
Labels: Documentation

#25656 DOC: update/fix autoscaling documentation
  galleries/users_explain/axes/autoscale.py
Labels: Documentation

#25690 TST: Import MatplotlibDeprecationWarning consistently
  lib/matplotlib/tests/test_api.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_widgets.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
Labels: topic: testing

#25687 More informative exception messages
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: Maintenance

#25696 Use true positional args in check_foo APIs instead of simulating them.
  lib/matplotlib/_api/__init__.py
Labels: Maintenance

#25693 Correctly hide download buttons using CSS
  doc/_static/mpl.css
Labels: Documentation

#25586 Post stubtest results to GitHub checks
  .github/workflows/mypy-stubtest.yml
Labels: topic: types, CI: testing

#25700 Backport PR #25693 on branch v3.7.x (Correctly hide download buttons using CSS)
  doc/_static/mpl.css
Labels: Documentation

#25701 Backport PR #25693 on branch v3.7.1-doc (Correctly hide download buttons using CSS)
  doc/_static/mpl.css
Labels: Documentation

#25686 Add Figure methods get_suptitle(), get_subxlabel(), get_supylabel()
  doc/users/next_whats_new/get_suptitle.rst
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/tests/test_figure.py
Labels: New feature, topic: text

#25707 CI: skip Azure Pipelines for doc-only change
  azure-pipelines.yml
  doc/devel/coding_guide.rst
Labels: CI: testing

#25710 TYP: Fix type hint (and docstring) for Bbox.intersection
  lib/matplotlib/artist.py
  lib/matplotlib/transforms.pyi
Labels: Documentation, topic: types

#25618 DOC: fix Sphinx Gallery discussion to explain mixed subddirs
  doc/devel/documenting_mpl.rst
Labels: Documentation

#25718 Improve color documentation and typing
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: types

#25721 TST: Handle missing black more resiliently
  lib/matplotlib/tests/test_pyplot.py
  tools/boilerplate.py
Labels: topic: testing

#25722 DOC: Fix duplicated words
  doc/devel/MEP/MEP13.rst
  doc/users/prev_whats_new/changelog.rst
  doc/users/prev_whats_new/github_stats_3.5.0.rst
  galleries/examples/text_labels_and_annotations/font_family_rc.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/test_dates.py
  tools/github_stats.py
Labels: Documentation

#25720 ci: Set apt to retry operations on failure
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: testing

#25719 TYP: Clean up CapStyle/FillStyle type hints
  doc/api/typing_api.rst
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/collections.pyi
  lib/matplotlib/lines.pyi
  lib/matplotlib/patches.pyi
  lib/matplotlib/typing.py
Labels: topic: types

#25713 Remove print_figure overrides in backend subclasses
  lib/matplotlib/backends/backend_qtagg.py
  lib/matplotlib/backends/backend_wx.py
Labels: GUI: Qt, GUI: wx

#25739 grammar/wording tweak for backports
  doc/devel/coding_guide.rst
Labels: Documentation

#25736 added assigning and duplicating section heading to contribute guide
  doc/devel/contributing.rst
Labels: Documentation

#25741 Backport PR #25736 on branch v3.7.1-doc (added assigning and duplicating section heading to contribute guide)
  doc/devel/contributing.rst
Labels: Documentation

#25740 Backport PR #25736 on branch v3.7.x (added assigning and duplicating section heading to contribute guide)
  doc/devel/contributing.rst
Labels: Documentation

#25359 Add bfit bolditalic tex cmd
  doc/users/next_whats_new/updated_mathtext.rst
  galleries/users_explain/text/mathtext.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_60.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_61.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_62.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_63.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_cm_64.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_60.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_61.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_62.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_63.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavusans_64.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_60.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_61.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_62.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_63.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_dejavuserif_64.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_60.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_61.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_62.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_63.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stix_64.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_60.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_61.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_62.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_63.png
  lib/matplotlib/tests/baseline_images/test_mathtext/mathfont_stixsans_64.png
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#25730 Add test for Path.contains_path
  lib/matplotlib/tests/test_path.py
Labels: topic: testing, topic: path handling

#25733 Add tests for missing text wrap cases
  lib/matplotlib/tests/test_text.py
Labels: topic: text, topic: testing

#25729 Cleanup GridHelperCurveLinear/GridFinder.
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: Documentation, topic: mpl_toolkit

#25737 Update PULL_REQUEST_TEMPLATE.md to include issue cross-reference.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#25750 Backport PR #25733 on branch v3.7.x (Add tests for missing text wrap cases)
  lib/matplotlib/tests/test_text.py
Labels: topic: text, topic: testing

#25727 Doc: Replace matplotlibrc.template
  lib/matplotlib/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/text.py
Labels: Documentation, topic: rcparams

#25754 Backport PR #25727 on branch v3.7.x (Doc: Replace matplotlibrc.template)
  lib/matplotlib/__init__.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/text.py
Labels: Documentation, topic: rcparams

#20214 Move AxisArtistHelpers to toplevel.
  doc/missing-references.json
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit, Maintenance

#25762 Backport PR #25760 on branch v3.7.1-doc (unbreak doc build with Sphinx 6.2)
  doc/sphinxext/missing_references.py
Labels: Documentation: build

#25761 Backport PR #25760 on branch v3.7.x (unbreak doc build with Sphinx 6.2)
  doc/sphinxext/missing_references.py
Labels: Documentation: build

#25759 Fix typo in api_interfaces.rst
  galleries/users_explain/figure/api_interfaces.rst
Labels: Documentation

#24661 Plots first and last minor ticks #22331
  doc/api/next_api_changes/behavior/24661-AAMW.rst
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels, PR: bugfix

#25704 FIX: don't round image sizes to pixel if meant to be unsampled
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_backend_pdf/grayscale_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_backend_svg/noscale.pdf
  lib/matplotlib/tests/baseline_images/test_backend_svg/noscale.svg
  lib/matplotlib/tests/baseline_images/test_image/image_alpha.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_alpha.svg
  lib/matplotlib/tests/baseline_images/test_image/image_placement.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_placement.svg
  lib/matplotlib/tests/baseline_images/test_image/image_shift.pdf
  lib/matplotlib/tests/baseline_images/test_image/image_shift.svg
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.svg
  lib/matplotlib/tests/baseline_images/test_image/interp_nearest_vs_none.svg
  lib/matplotlib/tests/baseline_images/test_image/no_interpolation_origin.pdf
  lib/matplotlib/tests/baseline_images/test_image/no_interpolation_origin.svg
  lib/matplotlib/tests/baseline_images/test_image/rotate_image.pdf
  lib/matplotlib/tests/baseline_images/test_image/rotate_image.svg
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout5.pdf
  lib/matplotlib/tests/baseline_images/test_tightlayout/tight_layout5.svg
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#25479 FIX: Allow different colormap name from registered name
  lib/matplotlib/cm.py
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, PR: bugfix

#25648 Remove nonfunctional Axes3D.set_frame_on and get_frame_on methods.
  doc/api/next_api_changes/removals/25648-TS.rst
  doc/api/toolkits/mplot3d/axes3d.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#23059 FIX: Decrease figure refcount on close of a macosx figure
  lib/matplotlib/backends/backend_macosx.py
  src/_macosx.m
Labels: GUI: MacOSX

#25747 Tweak axis_direction demo.
  galleries/examples/axisartist/demo_axis_direction.py
  lib/mpl_toolkits/axisartist/axislines.py
Labels: Documentation, topic: mpl_toolkit

#25753 Update, correct, and add badges/links
  README.md
Labels: Documentation

#25777 Cleanup demo_axes_divider.
  galleries/examples/axes_grid1/demo_axes_divider.py
Labels: Documentation, topic: mpl_toolkit

#25776 Doc : Updates default value for nonpositve parameter
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#25773 condensed pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#25786 DOC: Fix minor typo in API change notes
  doc/api/prev_api_changes/api_changes_3.3.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.5.0/removals.rst
Labels: Documentation

#25781 Deprecate AnchoredEllipse.
  doc/api/next_api_changes/deprecations/25781-AL.rst
  galleries/examples/axes_grid1/simple_anchored_artists.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit

#25780 Shorten anchored_artists example.
  galleries/examples/misc/anchored_artists.py
Labels: Documentation, topic: mpl_toolkit

#25783 Cleanup demo_text_path.
  galleries/examples/text_labels_and_annotations/demo_text_path.py
Labels: Documentation

#25607 Missing return type hints for Figure
  lib/matplotlib/artist.pyi
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/pyplot.py
Labels: topic: types

#25788 ci: Increase retry count on PR conflict check
  .github/workflows/conflictcheck.yml
Labels: CI: testing

#25790 Document default value of corner_mask in the corresponding example.
  galleries/examples/images_contours_and_fields/contour_corner_mask.py
Labels: Documentation, topic: contour
