Repository matplotlib/matplotlib, pull requests merged in 2023-08, with the labels that each got.

#26424 macos: Don't leak None in Timer cleanup
  src/_macosx.m
Labels: GUI: MacOSX

#26423 Fix pyparsing version check
  lib/matplotlib/_mathtext.py
Labels: Maintenance

#26427 Improve button widget examples a bit
  galleries/examples/widgets/check_buttons.py
  galleries/examples/widgets/radio_buttons.py
Labels: Documentation: examples

#26051 Type hinting developer docs
  ci/mypy-stubtest-allowlist.txt
  doc/devel/coding_guide.rst
  doc/devel/contribute.rst
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/figure.pyi
  lib/matplotlib/widgets.pyi
Labels: Documentation: contribute

#26431 MNT: Unpin pyparsing, xfail error message tests for pyparsing 3.1.0
  environment.yml
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_text.py
  setup.py
Labels: Release critical

#26418 Add next_whats_new entries for mathtext features
  doc/users/next_whats_new/mathtext_features.rst
Labels: Documentation, topic: text/mathtext

#26403 Update type hints for font manager and extension
  ci/mypy-stubtest-allowlist.txt
  lib/matplotlib/font_manager.py
  lib/matplotlib/font_manager.pyi
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/tests/test_ft2font.py
  lib/matplotlib/tests/test_mathtext.py
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts, topic: types

#25784 ps: Fix anchoring of rotated usetex text
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/baseline_images/test_usetex/rotation.eps
  lib/matplotlib/tests/baseline_images/test_usetex/rotation.pdf
  lib/matplotlib/tests/baseline_images/test_usetex/rotation.png
  lib/matplotlib/tests/baseline_images/test_usetex/rotation.svg
  lib/matplotlib/tests/test_usetex.py
Labels: backend: ps, topic: text/usetex

#25830 Specify ticks and axis label positions for 3D plots
  doc/users/next_whats_new/3d_axis_positions.rst
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/axis_positions.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: New feature, topic: mplot3d

#26376 Text antialiasing for mathtext (reopen)
  doc/users/next_whats_new/antialiasing_text_annotation.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/mathtext.pyi
  lib/matplotlib/tests/test_text.py
Labels: topic: text/mathtext

#26436 DOC: Add a warning that ticks are not persistent
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
Labels: Documentation

#26432 Backport PR #26431 on branch v3.7.x (MNT: Unpin pyparsing, xfail error message tests for pyparsing 3.1.0)
  environment.yml
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
  lib/matplotlib/tests/test_text.py
  setup.py
Labels: Release critical

#26328 [DOC]: improve consistency of plot types gallery
  doc/sphinxext/gallery_order.py
  galleries/plot_types/3D/README.rst
  galleries/plot_types/README.rst
  galleries/plot_types/arrays/README.rst
  galleries/plot_types/basic/README.rst
  galleries/plot_types/stats/README.rst
  galleries/plot_types/unstructured/README.rst
Labels: Documentation, Documentation: plot types

#26439 Backport PR #26436 on branch v3.7.x (DOC: Add a warning that ticks are not persistent)
  lib/matplotlib/axis.py
  lib/matplotlib/projections/polar.py
Labels: Documentation

#26407 Improve some smaller typing issues
  lib/matplotlib/__init__.pyi
  lib/matplotlib/animation.pyi
  lib/matplotlib/artist.py
  lib/matplotlib/artist.pyi
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backend_managers.pyi
  lib/matplotlib/colorbar.pyi
  lib/matplotlib/colors.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/font_manager.pyi
  lib/matplotlib/gridspec.pyi
  lib/matplotlib/image.pyi
  lib/matplotlib/layout_engine.pyi
  lib/matplotlib/legend.pyi
  lib/matplotlib/lines.pyi
  lib/matplotlib/offsetbox.py
  lib/matplotlib/offsetbox.pyi
  lib/matplotlib/patches.pyi
  lib/matplotlib/projections/polar.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/scale.pyi
  lib/matplotlib/spines.pyi
  lib/matplotlib/table.pyi
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/transforms.pyi
  lib/matplotlib/tri/_triangulation.py
  lib/matplotlib/tri/_triangulation.pyi
  lib/matplotlib/tri/_trifinder.py
  lib/matplotlib/tri/_trifinder.pyi
  lib/matplotlib/tri/_trirefine.pyi
  src/_image_wrapper.cpp
Labels: topic: types

#26253 Filter out inf values in plot_surface
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/surface3d_zsort_inf.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#26447 DOC: Fix accidental cases of blockquotes
  doc/api/prev_api_changes/api_changes_0.54.rst
  doc/api/prev_api_changes/api_changes_0.98.0.rst
  doc/api/prev_api_changes/api_changes_0.98.x.rst
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_1.5.0.rst
  doc/api/prev_api_changes/api_changes_3.0.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.3.0/behaviour.rst
  doc/devel/MEP/MEP11.rst
  doc/devel/MEP/MEP12.rst
  doc/devel/MEP/MEP14.rst
  doc/devel/MEP/MEP19.rst
  doc/devel/MEP/MEP25.rst
  doc/devel/MEP/MEP27.rst
  doc/devel/MEP/MEP28.rst
  doc/devel/contribute.rst
  doc/devel/dependencies.rst
  doc/devel/triage.rst
  doc/sphinxext/math_symbol_table.py
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_2.2.rst
  doc/users/prev_whats_new/whats_new_3.0.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  doc/users/project/citing.rst
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/tutorials/pyplot.py
  galleries/users_explain/artists/imshow_extent.py
  galleries/users_explain/axes/arranging_axes.py
  galleries/users_explain/figure/event_handling.rst
  galleries/users_explain/text/annotations.py
  galleries/users_explain/text/mathtext.py
  galleries/users_explain/text/pgf.py
  galleries/users_explain/toolkits/axisartist.rst
  lib/matplotlib/__init__.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/legend.py
  lib/matplotlib/sphinxext/mathmpl.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tri/_triinterpolate.py
  lib/matplotlib/widgets.py
  src/ft2font_wrapper.cpp
Labels: Documentation

#26450 Fix return value of Text.update
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
Labels: topic: types

#26448 [DOC] Update dependency documentation
  doc/devel/dependencies.rst
Labels: Documentation

#26458 Remove soon to be deprecated nan/inf aliases
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_image.py
Labels: Maintenance

#26459 Backport PR #26458 on branch v3.7.x (Remove soon to be deprecated nan/inf aliases)
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_image.py
Labels: Maintenance

#26454 Rename an internal parameter of _label_outer_x/yaxis()
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
Labels: Maintenance

#26445 [DOC]: annotation tutorial: blended artist, headers, and user demo deletes
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  galleries/examples/userdemo/annotate_simple_coord02.py
  galleries/examples/userdemo/connect_simple01.py
  galleries/users_explain/text/annotations.py
Labels: topic: annotation, Documentation: tutorials

#26466 Make annotate/OffsetFrom unaffected by later mutation of coordinates.
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: topic: text

#26451 TYP: Add several missing return type annotations
  lib/matplotlib/__init__.pyi
  lib/matplotlib/_api/__init__.pyi
  lib/matplotlib/_enums.pyi
  lib/matplotlib/animation.pyi
  lib/matplotlib/artist.pyi
  lib/matplotlib/axes/__init__.pyi
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/axes/_secondary_axes.pyi
  lib/matplotlib/axis.py
  lib/matplotlib/axis.pyi
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backend_managers.pyi
  lib/matplotlib/cm.pyi
  lib/matplotlib/collections.pyi
  lib/matplotlib/colorbar.pyi
  lib/matplotlib/dviread.pyi
  lib/matplotlib/gridspec.pyi
  lib/matplotlib/image.pyi
  lib/matplotlib/mathtext.pyi
  lib/matplotlib/mlab.pyi
  lib/matplotlib/patches.pyi
  lib/matplotlib/path.pyi
  lib/matplotlib/patheffects.pyi
  lib/matplotlib/projections/polar.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/sankey.pyi
  lib/matplotlib/scale.pyi
  lib/matplotlib/spines.pyi
  lib/matplotlib/table.pyi
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
  lib/matplotlib/ticker.pyi
  lib/matplotlib/transforms.pyi
  lib/matplotlib/tri/_triangulation.pyi
  lib/matplotlib/tri/_tripcolor.pyi
  lib/matplotlib/widgets.pyi
  tools/boilerplate.py
Labels: topic: types

#26467 MNT: Adjust for upcoming numpy repr changes
  lib/matplotlib/_type1font.py
  lib/matplotlib/backends/backend_pgf.py
Labels: Maintenance

#26402 Restructure interface section of API Reference index page
  doc/api/index.rst
  lib/matplotlib/pylab.py
Labels: Documentation

#26472 Do not close figures on backend switch.
  doc/api/next_api_changes/deprecations/26472-AL.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/testing/conftest.py
  lib/matplotlib/tests/test_backend_bases.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_pyplot.py
Labels: topic: pyplot API

#25785 Deprecate papersize=auto in PostScript
  doc/api/next_api_changes/deprecations/25784-ES.rst
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend: ps

#26473 Fix codespaces setup.sh script
  .devcontainer/setup.sh
Labels: Maintenance

#25966 Fix support for Ctrl-C on the macosx backend.
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/qt_compat.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_backends_interactive.py
  src/_macosx.m
Labels: GUI: MacOSX

#26476 Remove auto from supported ps.papersizes in matplotlibrc.
  doc/api/next_api_changes/deprecations/25785-ES.rst
  lib/matplotlib/mpl-data/matplotlibrc
Labels: topic: rcparams, backend: ps

#26480 [DOC] Documentation fixes
  lib/matplotlib/axes/_base.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: Documentation

#26474 [DOC]: filter non-gui backend warnings when building docs
  doc/conf.py
Labels: Documentation: build

#26481 Clarify behavior of norm clipping
  lib/matplotlib/colors.py
Labels: Documentation

#26443 BLD: stop skipping musl wheel builds
  .github/workflows/cibuildwheel.yml
  doc/api/next_api_changes/development/26443-TAC.rst
  pyproject.toml
Labels: Release critical, CI: Run cibuildwheel

#26326 Only do pchanged and set stale when value changes + doc consistency
  lib/matplotlib/artist.py
  lib/matplotlib/container.py
Labels: Documentation

#24379 DOC: Update dropped splines example
  galleries/examples/spines/spine_placement_demo.py
  galleries/examples/spines/spines_dropped.py
Labels: Documentation

#26469 Deprecate PdfPages(keep_empty=True).
  doc/api/next_api_changes/deprecations/26469-AL.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_pgf.py
Labels: backend: pdf

#26479 ps: Add option to use figure size as paper size
  doc/api/next_api_changes/behavior/26479-ES.rst
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_backend_ps.py
Labels: backend: ps

#26482 [DOC]: print pydata sphinx/mpl theme versions
  doc/conf.py
Labels: Documentation: build

#26483 Improve legend(loc='best') warning and test
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: testing, topic: legend, Maintenance

#26487 DOC: Remove unused image rotator
  doc/_static/image-rotator.js
  doc/conf.py
Labels: Documentation

#26489 Backport PR #26487 on branch v3.8.x (DOC: Remove unused image rotator)
  doc/_static/image-rotator.js
  doc/conf.py
Labels: Documentation

#26502 TST: Increase some tolerances for non-x86 arches
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: testing

#26503 Backport PR #26502 on branch v3.8.x (TST: Increase some tolerances for non-x86 arches)
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: testing

#26516 Replace reference to %pylab by %matplotlib.
  lib/matplotlib/backend_bases.py
Labels: Documentation

#26173 Synchronize mathtext docs and handling
  doc/sphinxext/math_symbol_table.py
  doc/users/next_whats_new/mathtext_documentation.rst
  doc/users/next_whats_new/mathtext_relation_operators.rst
  doc/users/next_whats_new/mathtext_spacing.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
Labels: Documentation, topic: text/mathtext

#26527 Backport PR #26173 on branch v3.8.x (Synchronize mathtext docs and handling)
  doc/sphinxext/math_symbol_table.py
  doc/users/next_whats_new/mathtext_documentation.rst
  doc/users/next_whats_new/mathtext_relation_operators.rst
  doc/users/next_whats_new/mathtext_spacing.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
Labels: Documentation, topic: text/mathtext

#26528 Backport PR #26504 on branch v3.8.x (TYP: Add overload to specify output of Colormap.__call__ when possible)
  lib/matplotlib/colors.pyi
Labels: topic: types

#26509 Update/tweak SpanSelector docs.
  lib/matplotlib/widgets.py
Labels: Documentation, topic: widgets/UI

#26530 Backport PR #26509 on branch v3.8.x (Update/tweak SpanSelector docs.)
  lib/matplotlib/widgets.py
Labels: Documentation, topic: widgets/UI

#26533 Backport PR #26526 on branch v3.8.x (Bump pypa/cibuildwheel from 2.14.1 to 2.15.0)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#26529 Fix MathText antialiasing
  lib/matplotlib/_mathtext.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/baseline_images/test_text/antialiased.png
  lib/matplotlib/tests/test_text.py
Labels: topic: text/mathtext

#26537 Backport PR #26529 on branch v3.8.x (Fix MathText antialiasing)
  lib/matplotlib/_mathtext.py
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/baseline_images/test_text/antialiased.png
  lib/matplotlib/tests/test_text.py
Labels: topic: text/mathtext

#26514 Clarify interaction between params of get_path_collection_extents.
  lib/matplotlib/path.py
Labels: Documentation

#26548 Backport PR #26514 on branch v3.8.x (Clarify interaction between params of get_path_collection_extents.)
  lib/matplotlib/path.py
Labels: Documentation

#26546 Backport PR #26201 on branch v3.8.x (DOC: Add documentation on codespaces usage)
  .devcontainer/devcontainer.json
  doc/devel/codespaces.md
  doc/devel/contribute.rst
Labels: Documentation

#26547 Backport PR #26493 on branch v3.8.x (Disable ``add_html_cache_busting`` on Sphinx 7.1+)
  doc/conf.py
Labels: Documentation: build

#26549 Backport PR #26545 on branch v3.7.x (Fix size inferral when using cairocffi)
  lib/matplotlib/backends/backend_cairo.py
Labels: backend: cairo

#26550 Backport PR #26545 on branch v3.8.x (Fix size inferral when using cairocffi)
  lib/matplotlib/backends/backend_cairo.py
Labels: backend: cairo

#26554 Remove NumPy abs overrides from pylab
  lib/matplotlib/pylab.py
Labels: Maintenance

#26552 Backport PR #26493: Disable ``add_html_cache_busting`` on Sphinx 7.1+
  doc/conf.py
Labels: Documentation: build

#26556 Backport PR #26554 on branch v3.8.x (Remove NumPy abs overrides from pylab)
  lib/matplotlib/pylab.py
Labels: Maintenance

#26555 Backport PR #26554 on branch v3.7.x (Remove NumPy abs overrides from pylab)
  lib/matplotlib/pylab.py
Labels: Maintenance

#26519 Fix mathtext mismatched braces
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#26543 Add ninja to Cygwin builder
  .github/workflows/cygwin.yml
Labels: CI: Run cygwin

#26563 Backport PR #26519 on branch v3.8.x (Fix mathtext mismatched braces)
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext

#26462 Boxplot fix median line extending past box boundaries #19409
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/boxplot.pdf
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_autorange_false_whiskers.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_autorange_true_whiskers.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_custom_capwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_mod_artists_after_plotting.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_no_inverted_whisker.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.pdf
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_sym.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_sym2.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_with_CIarray.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_baseline.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custom_capwidth.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custom_capwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custombox.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customcap.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customoutlier.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custompatchartist.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custompositions.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customwhisker.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_horizontal.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_no_flier_stats.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_nobox.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_nocaps.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_patchartist.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_percentilewhis.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_rangewhis.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_scalarwidth.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_with_xlabels.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_with_ylabels.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withmean_custompoint.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withmean_line.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withmean_point.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withnotch.png
  lib/matplotlib/tests/test_axes.py
Labels: PR: bugfix

#26564 Backport PR #26543 on branch v3.8.x (Add ninja to Cygwin builder)
  .github/workflows/cygwin.yml
Labels: CI: Run cygwin

#26568 Backport PR #26462 on branch v3.8.x (Boxplot fix median line extending past box boundaries #19409)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_axes/boxplot.pdf
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_autorange_false_whiskers.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_autorange_true_whiskers.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_custom_capwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_mod_artists_after_plotting.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_no_inverted_whisker.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.pdf
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_sym.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_sym2.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_with_CIarray.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_baseline.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custom_capwidth.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custom_capwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custombox.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customcap.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customoutlier.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custompatchartist.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_custompositions.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customwhisker.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_customwidths.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_horizontal.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_no_flier_stats.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_nobox.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_nocaps.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_patchartist.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_percentilewhis.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_rangewhis.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_scalarwidth.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_with_xlabels.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_with_ylabels.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withmean_custompoint.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withmean_line.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withmean_point.png
  lib/matplotlib/tests/baseline_images/test_axes/bxp_withnotch.png
  lib/matplotlib/tests/test_axes.py
Labels: PR: bugfix

#26570 Backport PR #26569 on branch v3.7.x (refactor: constant "ncols" to variables)
  examples/color/named_colors.py
Labels: Documentation: examples

#26574 Backport PR #26571 on branch v3.7.x ([Doc]: match 3D plot types with others)
  plot_types/3D/scatter3d_simple.py
  plot_types/3D/surface3d_simple.py
  plot_types/3D/trisurf3d_simple.py
  plot_types/3D/voxels_simple.py
  plot_types/3D/wire3d_simple.py
Labels: Documentation: plot types

#26573 [DOC]: codespace link in contribute index
  doc/devel/index.rst
Labels: Documentation: devdocs

#26575 Backport PR #26573 on branch v3.8.x ([DOC]: codespace link in contribute index)
  doc/devel/index.rst
Labels: Documentation: devdocs

#26579 Backport PR #26572 on branch v3.8.x ([DOC]: clarify pre-commits and editing workflow)
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#26578 MAINT: add __pycache__/ to .gitignore
  .gitignore
Labels: Maintenance

#26581 Deduplicate test for toolbar button icon LA mode.
  lib/matplotlib/tests/test_backends_interactive.py
Labels: MEP: MEP22, topic: testing

#26576 Use sys.platform over os.name
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_backend_webagg.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_matplotlib.py
Labels: OS: Microsoft, CI: Run cygwin

#26583 Backport PR #26578 on branch v3.8.x (MAINT: add __pycache__/ to .gitignore)
  .gitignore
Labels: Maintenance

#26585 Backport PR #26576 on branch v3.8.x (Use sys.platform over os.name)
  lib/matplotlib/dviread.py
  lib/matplotlib/tests/test_animation.py
  lib/matplotlib/tests/test_backend_webagg.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_matplotlib.py
Labels: OS: Microsoft, CI: Run cygwin

#26584 Backport PR #26581 on branch v3.8.x (Deduplicate test for toolbar button icon LA mode.)
  lib/matplotlib/tests/test_backends_interactive.py
Labels: MEP: MEP22, topic: testing

#26591 Fix ToolBase.figure property setter.
  lib/matplotlib/backend_tools.py
Labels: MEP: MEP22

#26595 Backport PR #26591 on branch v3.8.x (Fix ToolBase.figure property setter.)
  lib/matplotlib/backend_tools.py
Labels: MEP: MEP22

#26606 [Doc] Revise histogram features example (Closes #26604)
  galleries/examples/statistics/histogram_features.py
Labels: Documentation

#26605 ci: Install GTK4 from brew on macOS
  .github/workflows/tests.yml
Labels: OS: Apple, GUI: gtk, CI: testing

#26607 Backport PR #26606 on branch v3.8.x ([Doc] Revise histogram features example (Closes #26604))
  galleries/examples/statistics/histogram_features.py
Labels: Documentation

#24711 Test with Python 3.12
  .github/workflows/tests.yml
Labels: CI: testing

#26609 Cleanup AutoMinorLocator implementation.
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels, Maintenance

#26614 Properly disconnect machinery when removing child axes.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: axes

#26598 FIX: array labelcolor for Tick
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axis.py
Labels: PR: bugfix

#26615 Backport PR #26614 on branch v3.8.x (Properly disconnect machinery when removing child axes.)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: axes

#26616 Backport PR #26598 on branch v3.7.x (FIX: array labelcolor for Tick)
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axis.py
Labels: PR: bugfix

#26617 Backport PR #26598 on branch v3.8.x (FIX: array labelcolor for Tick)
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axis.py
Labels: PR: bugfix

#26622 [Doc] Improve DSP-related examples
  galleries/examples/images_contours_and_fields/specgram_demo.py
  galleries/examples/lines_bars_and_markers/cohere.py
  galleries/examples/lines_bars_and_markers/csd_demo.py
  galleries/examples/lines_bars_and_markers/psd_demo.py
  galleries/examples/lines_bars_and_markers/spectrum_demo.py
  galleries/examples/lines_bars_and_markers/xcorr_acorr_demo.py
Labels: Documentation: examples

#26625 Backport PR #26622 on branch v3.8.x ([Doc] Improve DSP-related examples)
  galleries/examples/images_contours_and_fields/specgram_demo.py
  galleries/examples/lines_bars_and_markers/cohere.py
  galleries/examples/lines_bars_and_markers/csd_demo.py
  galleries/examples/lines_bars_and_markers/psd_demo.py
  galleries/examples/lines_bars_and_markers/spectrum_demo.py
  galleries/examples/lines_bars_and_markers/xcorr_acorr_demo.py
Labels: Documentation: examples

#26619 [DOC] Clarify some tick-related docstrings
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
Labels: Documentation, Documentation: API

#26540 TYP: Add overloads for FT2Font.get_sfnt_table
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_mathtext.py
  src/ft2font_wrapper.cpp
Labels: topic: types

#26631 Backport PR #26619 on branch v3.8.x ([DOC] Clarify some tick-related docstrings)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
Labels: Documentation, Documentation: API

#26632 Backport PR #26540 on branch v3.8.x (TYP: Add overloads for FT2Font.get_sfnt_table)
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_mathtext.py
  src/ft2font_wrapper.cpp
Labels: topic: types

#26633 [Doc] Shorten documentation links in widgets
  lib/matplotlib/widgets.py
Labels: Documentation, topic: widgets/UI

#24209 List the webagg_core module in the sphinx docs.
  doc/api/backend_webagg_core_api.rst
  doc/api/index_backend_api.rst
  doc/api/prev_api_changes/api_changes_2.1.0.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: Documentation, GUI: webagg

#26636 [Doc] Improve set_layout_engine docs
  lib/matplotlib/figure.py
Labels: Documentation

#26638 Backport PR #26633 on branch v3.8.x ([Doc] Shorten documentation links in widgets)
  lib/matplotlib/widgets.py
Labels: Documentation, topic: widgets/UI

#26640 Backport PR #24209 on branch v3.8.x (List the webagg_core module in the sphinx docs.)
  doc/api/backend_webagg_core_api.rst
  doc/api/index_backend_api.rst
  doc/api/prev_api_changes/api_changes_2.1.0.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_webagg.py
  lib/matplotlib/backends/backend_webagg_core.py
Labels: Documentation, GUI: webagg

#26641 [Doc] Add ACCEPTS for some Axes set methods
  lib/matplotlib/axes/_base.py
Labels: Documentation

#26643 Backport PR #26636 on branch v3.8.x ([Doc] Improve set_layout_engine docs)
  lib/matplotlib/figure.py
Labels: Documentation

#26582 MNT: Enable wheels for Python 3.12
  .github/workflows/cibuildwheel.yml
Labels: Maintenance, CI: Run cibuildwheel

#26521 Replaced list with tuple in pyplot for axes
  lib/matplotlib/pyplot.py
Labels: Documentation

#26635 [MNT] Do not configure axes properties via subplots(..., subplot_kw={...})
  galleries/examples/shapes_and_collections/ellipse_demo.py
Labels: Maintenance, Documentation: examples

#26348 Test some untested Locator code
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: testing

#26644 Backport PR #26641 on branch v3.8.x ([Doc] Add ACCEPTS for some Axes set methods)
  lib/matplotlib/axes/_base.py
Labels: Documentation

#26650 Backport PR #26635 on branch v3.8.x ([MNT] Do not configure axes properties via subplots(..., subplot_kw={...}))
  galleries/examples/shapes_and_collections/ellipse_demo.py
Labels: Maintenance, Documentation: examples

#26646 Use standard method for closing QApp when last window is closed.
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt, Maintenance

#26647 Backport PR #26582 on branch v3.8.x (MNT: Enable wheels for Python 3.12)
  .github/workflows/cibuildwheel.yml
Labels: Maintenance, CI: Run cibuildwheel

#26649 [DOC] Remove "Discouraged" notices that have been superseded by deprecation
  lib/matplotlib/figure.py
Labels: Documentation, Documentation: API

#26652 Backport PR #26646 on branch v3.8.x (Use standard method for closing QApp when last window is closed.)
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt, Maintenance

#26655 Backport PR #26649 on branch v3.8.x ([DOC] Remove "Discouraged" notices that have been superseded by deprecation)
  lib/matplotlib/figure.py
Labels: Documentation, Documentation: API

#26608 Removed unnecessary origin keywords
  galleries/examples/images_contours_and_fields/contourf_demo.py
Labels: Documentation: examples

#26470 [DOC]: mathtext tutorial-consolidate explain and notes
  galleries/users_explain/text/mathtext.py
Labels: topic: text/mathtext, Documentation: tutorials

#26651 Backport PR #26348 on branch v3.8.x (Test some untested Locator code)
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: testing

#26656 TYP: Fix some small bugs
  lib/matplotlib/_pylab_helpers.pyi
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/legend.py
  lib/matplotlib/legend.pyi
  lib/matplotlib/pyplot.py
Labels: topic: types

#26542 TST: Ensure test_webagg subprocess is terminated
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing, GUI: webagg

#26658 Backport PR #26608 on branch v3.8.x (Removed unnecessary origin keywords)
  galleries/examples/images_contours_and_fields/contourf_demo.py
Labels: Documentation: examples

#26659 Backport PR #26470 on branch v3.8.x ([DOC]: mathtext tutorial-consolidate explain and notes)
  galleries/users_explain/text/mathtext.py
Labels: topic: text/mathtext, Documentation: tutorials

#26660 Backport PR #26656 on branch v3.8.x (TYP: Fix some small bugs)
  lib/matplotlib/_pylab_helpers.pyi
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/legend.py
  lib/matplotlib/legend.pyi
  lib/matplotlib/pyplot.py
Labels: topic: types

#26657 DOC: Fix some small issues
  galleries/examples/text_labels_and_annotations/line_with_text.py
  galleries/examples/userdemo/connectionstyle_demo.py
  galleries/users_explain/artists/paths.py
  galleries/users_explain/axes/arranging_axes.py
  galleries/users_explain/axes/axes_scales.py
  galleries/users_explain/figure/figure_intro.rst
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
Labels: Documentation

#26541 TYP: Add typing on mathtext internals
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/mathtext.pyi
  lib/matplotlib/textpath.pyi
Labels: topic: types

#26666 Backport PR #26657 on branch v3.8.x (DOC: Fix some small issues)
  galleries/examples/text_labels_and_annotations/line_with_text.py
  galleries/examples/userdemo/connectionstyle_demo.py
  galleries/users_explain/artists/paths.py
  galleries/users_explain/axes/arranging_axes.py
  galleries/users_explain/axes/axes_scales.py
  galleries/users_explain/figure/figure_intro.rst
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
Labels: Documentation

#26668 Backport PR #26541 on branch v3.8.x (TYP: Add typing on mathtext internals)
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_mathtext_data.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/mathtext.pyi
  lib/matplotlib/textpath.pyi
Labels: topic: types
