Repository matplotlib/matplotlib, pull requests merged in 2023-02, with the labels that each got.

#25120 Consistently document shapes as (M, N), not MxN.
  examples/lines_bars_and_markers/scatter_custom_symbol.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/colors.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/transforms.py
  src/_backend_agg_wrapper.cpp
  src/_path.h
  src/mplutils.h
  src/py_converters.cpp
  tutorials/colors/colormap-manipulation.py
Labels: Documentation, Maintenance

#25121 Inline ContourSet._make_paths.
  lib/matplotlib/contour.py
Labels: Maintenance, topic: contour

#24964 Minor cleanup and optimization of Sketch
  src/path_converters.h
Labels: Performance

#24993 [DOC] GitHub spelling and links
  doc/devel/contributing.rst
  doc/devel/dependencies.rst
  doc/devel/development_workflow.rst
  doc/devel/maintainer_workflow.rst
  doc/devel/triage.rst
Labels: Documentation

#25132 Backport PR #24993 on branch v3.7.x ([DOC] GitHub spelling and links)
  doc/devel/contributing.rst
  doc/devel/dependencies.rst
  doc/devel/development_workflow.rst
  doc/devel/maintainer_workflow.rst
  doc/devel/triage.rst
Labels: Documentation

#24486 Minor cleanup and add test for offsetbox
  lib/matplotlib/tests/baseline_images/test_offsetbox/paddedbox.png
  lib/matplotlib/tests/test_offsetbox.py
Labels: topic: testing

#25100 add section on annotating an artist using axes.annotate
  tutorials/text/annotations.py
Labels: Documentation, topic: annotation

#25135 Whisker length, more precise description
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#25143 Don't special-case getSaveFileName in qt_compat anymore.
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/qt_compat.py
Labels: GUI: Qt, Maintenance

#25142 Minor style tweaks to freetype build.
  setupext.py
Labels: Build, Maintenance

#25151 Increase timeout to GitHub API
  examples/lines_bars_and_markers/timeline.py
Labels: Documentation

#25154 Backport PR #25151 on branch v3.7.x (Increase timeout to GitHub API)
  examples/lines_bars_and_markers/timeline.py
Labels: Documentation

#25131 FIX: Correctly report command keypress on mac for Tk + Gtk
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/cbook.py
Labels: GUI: gtk, GUI: MacOSX, GUI: tk

#25150 DOC: use 'none' in set_layout_engine
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#25129 Undeprecate Cursor event handlers
  examples/event_handling/cursor_demo.py
  examples/widgets/annotated_cursor.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical

#25156 On macOS, limit symbols exported by extension modules linking FreeType.
  setupext.py
Labels: Build, GUI: MacOSX

#25160 Backport PR #25129 on branch v3.7.x (Undeprecate Cursor event handlers)
  examples/event_handling/cursor_demo.py
  examples/widgets/annotated_cursor.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical

#25122 FIX: scaling factor for window with negative value
  lib/matplotlib/mlab.py
  lib/matplotlib/tests/test_mlab.py
Labels: topic: spectral

#25167 Backport PR #25122 on branch v3.7.x (FIX: scaling factor for window with negative value)
  lib/matplotlib/mlab.py
  lib/matplotlib/tests/test_mlab.py
Labels: topic: spectral

#25145 BLD: only doc CI build
  .github/workflows/cygwin.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  doc/devel/coding_guide.rst
Labels: CI: testing

#25152 Group shape/dtype validation logic in image_resample.
  lib/matplotlib/tests/test_image.py
  src/_image_wrapper.cpp
Labels: topic: images, Maintenance

#25144 FIX: improve CL description and remove constrained_layout text
  examples/subplots_axes_and_figures/colorbar_placement.py
  tutorials/intermediate/constrainedlayout_guide.py
Labels: Documentation

#25125 Use "array" instead of "numpy array" except when emphasis is needed.
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cbook.py
  lib/matplotlib/colors.py
  lib/matplotlib/dates.py
  lib/matplotlib/figure.py
  lib/matplotlib/patches.py
  lib/matplotlib/path.py
  lib/matplotlib/textpath.py
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/mplot3d/art3d.py
  src/_image_wrapper.cpp
Labels: Documentation

#25175 BLD: Unbreak github tests workflow
  .github/workflows/tests.yml
Labels: CI: testing

#25174 Accept LA icons for the toolbar
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: toolbar

#25182 Backport PR #25052 on branch v3.7.x (Support both Bbox and list for bbox to table/Table)
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_table.py
Labels: topic: table, PR: bugfix

#25085 FIX: only try to update blit caches if the canvas we expect
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical

#25157 Small tweak in chapter sorting of the example gallery
  doc/sphinxext/gallery_order.py
  examples/axes_grid1/README.txt
  examples/axisartist/README.txt
  examples/pyplots/README.txt
Labels: Documentation

#25184 Backport PR #25174 on branch v3.7.x (Accept LA icons for the toolbar)
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: toolbar

#25188 Backport PR #25085 on branch v3.7.x (FIX: only try to update blit caches if the canvas we expect)
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: Release critical

#25166 Clean + comment MaxNLocator
  lib/matplotlib/ticker.py
Labels: Maintenance

#25177 Add locator API links to tick-locators example
  examples/ticks/tick-locators.py
Labels: Documentation

#24781 DOC: restore SHA to footer
  doc/conf.py
  requirements/doc/doc-requirements.txt
Labels: Documentation: website

#24849 Stripey `LineCollection`
  lib/matplotlib/collections.py
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_collections.py
Labels: New feature, API: consistency, topic: collections and mappables

#25196 Add deprecation for setting data with non sequence type in `Line2D`
  doc/api/next_api_changes/deprecations/25196-EP.rst
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_lines.py
Labels: Release critical

#25200 Don't handle unknown_symbols in `\operatorname`.
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext, Maintenance

#25201 Backport PR #25196 on branch v3.7.x (Add deprecation for setting data with non sequence type in `Line2D`)
  doc/api/next_api_changes/deprecations/25196-EP.rst
  lib/matplotlib/lines.py
  lib/matplotlib/tests/test_lines.py
Labels: Release critical

#25202 DOC: reorder CI control guidance
  doc/devel/coding_guide.rst
Labels: Documentation

#25203 Replace checking Number with Real
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/colors.py
  lib/matplotlib/lines.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
Labels: Maintenance

#25198 DOC: remove constrained_layout kwarg from examples
  examples/axisartist/simple_axisartist1.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/image_antialiasing.py
  examples/images_contours_and_fields/image_nonuniform.py
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/lines_bars_and_markers/barchart.py
  examples/lines_bars_and_markers/curve_error_band.py
  examples/lines_bars_and_markers/markevery_demo.py
  examples/lines_bars_and_markers/psd_demo.py
  examples/lines_bars_and_markers/scatter_hist.py
  examples/lines_bars_and_markers/timeline.py
  examples/misc/rasterization_demo.py
  examples/scales/asinh_demo.py
  examples/scales/scales.py
  examples/shapes_and_collections/hatch_style_reference.py
  examples/spines/spines.py
  examples/statistics/barchart_demo.py
  examples/statistics/time_series_histogram.py
  examples/style_sheets/style_sheets_reference.py
  examples/subplots_axes_and_figures/axes_box_aspect.py
  examples/subplots_axes_and_figures/colorbar_placement.py
  examples/subplots_axes_and_figures/demo_constrained_layout.py
  examples/subplots_axes_and_figures/figure_title.py
  examples/subplots_axes_and_figures/gridspec_multicolumn.py
  examples/subplots_axes_and_figures/mosaic.py
  examples/subplots_axes_and_figures/secondary_axis.py
  examples/subplots_axes_and_figures/subfigures.py
  examples/text_labels_and_annotations/arrow_demo.py
  examples/text_labels_and_annotations/date.py
  examples/text_labels_and_annotations/figlegend_demo.py
  examples/text_labels_and_annotations/label_subplots.py
  examples/text_labels_and_annotations/legend_demo.py
  examples/text_labels_and_annotations/titles_demo.py
  examples/ticks/date_concise_formatter.py
  examples/ticks/date_index_formatter.py
  examples/ticks/date_precision_and_epochs.py
  examples/ticks/ticks_too_many.py
  examples/units/units_sample.py
  examples/user_interfaces/gtk4_spreadsheet_sgskip.py
  examples/userdemo/connectionstyle_demo.py
  examples/widgets/rectangle_selector.py
Labels: Documentation, topic: geometry manager

#25207 Add mpl_round_to_int
  src/_backend_agg.h
  src/mplutils.h
  src/path_converters.h
Labels: Maintenance

#25215 Backport PR #25198 - DOC: remove constrained_layout kwarg from examples
  examples/axisartist/simple_axisartist1.py
  examples/images_contours_and_fields/contourf_demo.py
  examples/images_contours_and_fields/image_antialiasing.py
  examples/images_contours_and_fields/image_nonuniform.py
  examples/images_contours_and_fields/pcolormesh_grids.py
  examples/lines_bars_and_markers/barchart.py
  examples/lines_bars_and_markers/curve_error_band.py
  examples/lines_bars_and_markers/markevery_demo.py
  examples/lines_bars_and_markers/psd_demo.py
  examples/lines_bars_and_markers/scatter_hist.py
  examples/lines_bars_and_markers/timeline.py
  examples/misc/rasterization_demo.py
  examples/scales/asinh_demo.py
  examples/scales/scales.py
  examples/shapes_and_collections/hatch_style_reference.py
  examples/spines/spines.py
  examples/statistics/barchart_demo.py
  examples/statistics/time_series_histogram.py
  examples/style_sheets/style_sheets_reference.py
  examples/subplots_axes_and_figures/axes_box_aspect.py
  examples/subplots_axes_and_figures/colorbar_placement.py
  examples/subplots_axes_and_figures/demo_constrained_layout.py
  examples/subplots_axes_and_figures/figure_title.py
  examples/subplots_axes_and_figures/gridspec_multicolumn.py
  examples/subplots_axes_and_figures/mosaic.py
  examples/subplots_axes_and_figures/secondary_axis.py
  examples/subplots_axes_and_figures/subfigures.py
  examples/text_labels_and_annotations/arrow_demo.py
  examples/text_labels_and_annotations/date.py
  examples/text_labels_and_annotations/figlegend_demo.py
  examples/text_labels_and_annotations/label_subplots.py
  examples/text_labels_and_annotations/legend_demo.py
  examples/text_labels_and_annotations/titles_demo.py
  examples/ticks/date_concise_formatter.py
  examples/ticks/date_index_formatter.py
  examples/ticks/date_precision_and_epochs.py
  examples/ticks/ticks_too_many.py
  examples/units/units_sample.py
  examples/user_interfaces/gtk4_spreadsheet_sgskip.py
  examples/userdemo/connectionstyle_demo.py
  examples/widgets/rectangle_selector.py
Labels: Documentation

#25213 DOC: correct default value of pcolormesh shading
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#25217 Backport PR #25213 on branch v3.7.x (DOC: correct default value of pcolormesh shading)
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#25195 DOC: explain how to make a fixed-size axes
  examples/axes_grid1/demo_fixed_size_axes.py
  tutorials/intermediate/arranging_axes.py
Labels: Documentation

#25236 Re-enable CI buildwheel and cygwin labels
  .github/workflows/cibuildsdist.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/cygwin.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin

#25240 Avoid calling vars() on arbitrary third-party manager_class.
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#25249 DOC: remove constrained_layout kwarg from tutorials and user guide
  doc/users/faq/howto_faq.rst
  tutorials/colors/colormap-manipulation.py
  tutorials/colors/colormapnorms.py
  tutorials/intermediate/arranging_axes.py
  tutorials/intermediate/constrainedlayout_guide.py
  tutorials/intermediate/legend_guide.py
Labels: Documentation

#25192 Expire wx canvas param deprecation
  doc/api/next_api_changes/behavior/25192-DS.rst
  lib/matplotlib/backends/backend_wx.py
Labels: GUI: wx

#25246 Backport PR #25240 on branch v3.7.x (Avoid calling vars() on arbitrary third-party manager_class.)
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#25234 added layout="compressed" for pyplot #25223
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: geometry manager, API: consistency

#25260 Backport PR #25234 on branch v3.7.x (added layout="compressed" for pyplot #25223)
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: geometry manager, API: consistency

#25262 CI: Pin reviewdog eslint to use node 18.13
  .github/workflows/reviewdog.yml
Labels: CI: testing

#25245 Backport PR #25236: Re-enable CI buildwheel and cygwin labels
  .github/workflows/cibuildsdist.yml
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin

#25264 Backport PR #25262 on branch v3.7.x (CI: Pin reviewdog eslint to use node 18.13)
  .github/workflows/reviewdog.yml
Labels: CI: testing

#25261 [CI] Skip tests on doc-only changes
  .github/workflows/tests.yml
Labels: CI: testing

#25243 Cleanup wx docstrings.
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/backend_wxagg.py
  lib/matplotlib/backends/backend_wxcairo.py
Labels: Documentation, GUI: wx

#25211 Em dashes instead of consecutive hyphens.
  README.md
Labels: Documentation

#25252 Support make_compound_path concatenating only empty paths.
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_path.py
Labels: topic: path handling

#25268 Fix import of styles with relative path
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
Labels: topic: styles

#25277 Backport PR #25268 on branch v3.7.x (Fix import of styles with relative path)
  lib/matplotlib/style/core.py
  lib/matplotlib/tests/test_style.py
Labels: topic: styles

#25283 CI: unpin reviewdog eslint
  .github/workflows/reviewdog.yml
Labels: CI: testing

#25280 Fix setting CSS with latest GTK4
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI: gtk

#25284 Backport PR #25283 on branch v3.7.x (CI: unpin reviewdog eslint)
  .github/workflows/reviewdog.yml
Labels: CI: testing

#25282 Simplify transforms invalidation system.
  doc/api/next_api_changes/deprecations/25282-AL.rst
  lib/matplotlib/transforms.py
Labels: topic: transforms and scales

#25286 DOC: add cache-busting query to switcher json url
  doc/conf.py
Labels: Documentation: build

#25285 Backport PR #25280 on branch v3.7.x (Fix setting CSS with latest GTK4)
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI: gtk

#25290 Backport PR #25286 on branch v3.7.0-doc (DOC: add cache-busting query to switcher json url)
  doc/conf.py
Labels: Documentation: build

#25155 Fix lasso unresponsive issue by adding a lock release event
  examples/event_handling/lasso_demo.py
Labels: Documentation, status: needs review, topic: widgets/UI

#25296 Remove straggler 3.7 release notes
  doc/api/next_api_changes/behavior/24655-AK.rst
  doc/api/next_api_changes/behavior/24912-AL.rst
  doc/api/next_api_changes/deprecations/24254-OG.rst
  doc/api/next_api_changes/deprecations/24904-AL.rst
  doc/api/next_api_changes/deprecations/25196-EP.rst
  doc/api/next_api_changes/development/24893-KS.rst
  doc/api/next_api_changes/removals/24254-OG.rst
  doc/api/next_api_changes/removals/24948-ES.rst
  doc/api/next_api_changes/removals/24965-ES.rst
Labels: Documentation

#25289 Backport PR #25286 on branch v3.7.x (DOC: add cache-busting query to switcher json url)
  doc/conf.py
Labels: Documentation: build

#25293 Backport PR #25155 on branch v3.7.x (Fix lasso unresponsive issue by adding a lock release event)
  examples/event_handling/lasso_demo.py
Labels: Documentation, status: needs review, topic: widgets/UI

#25288 Backport PR #25279 on branch v3.7.x (Fix Lasso line cleanup)
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#25295 Increase timeout for interactive backend tests
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing, CI: testing

#25238 Check file path for animation and raise if it does not exist
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: topic: animation, API: argument checking

#25297 Backport PR #25295 on branch v3.7.x (Increase timeout for interactive backend tests)
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing, CI: testing

#25299 Backport PR #25238 on branch v3.7.x (Check file path for animation and raise if it does not exist)
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: topic: animation, API: argument checking

#25304 Add import sorting to `/plot_types`
  .pre-commit-config.yaml
  plot_types/3D/surface3d_simple.py
  plot_types/3D/trisurf3d_simple.py
  plot_types/3D/wire3d_simple.py
  plot_types/basic/bar.py
Labels: CI: testing

#25302 Cleanup gradient_bar example.
  examples/lines_bars_and_markers/gradient_bar.py
Labels: Documentation

#25310 Backport PR #25302 on branch v3.7.0-doc (Cleanup gradient_bar example.)
  examples/lines_bars_and_markers/gradient_bar.py
Labels: Documentation

#25309 Backport PR #25302 on branch v3.7.x (Cleanup gradient_bar example.)
  examples/lines_bars_and_markers/gradient_bar.py
Labels: Documentation

#25313 Backport PR #25308 on branch v3.7.0-doc (DOC: add include source to a 3.7 whats new)
  doc/users/prev_whats_new/whats_new_3.7.0.rst
Labels: Documentation

#25312 Backport PR #25308 on branch v3.7.x (DOC: add include source to a 3.7 whats new)
  doc/users/prev_whats_new/whats_new_3.7.0.rst
Labels: Documentation

#25258 Document PowerNorm parameters
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: Documentation

#24878 [Doc]: Add alt-text to images in 3.6 release notes #24844
  doc/users/prev_whats_new/whats_new_3.6.0.rst
Labels: Documentation, accessibility

#25315 Backport PR #24878 on branch v3.7.x ( [Doc]: Add alt-text to images in 3.6 release notes #24844 )
  doc/users/prev_whats_new/whats_new_3.6.0.rst
Labels: Documentation, accessibility

#25305 DOC: add layout='none' option to Figure constructor
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#25319 Backport PR #25305 on branch v3.7.x (DOC: add layout='none' option to Figure constructor)
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
Labels: Documentation

#25316 Use setattr_cm more.
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
Labels: Maintenance

#25320 DOC: fix typo
  galleries/examples/lines_bars_and_markers/fill_between_demo.py
Labels: Documentation

#25321 Backport PR #25320 on branch v3.7.x (DOC: fix typo)
  examples/lines_bars_and_markers/fill_between_demo.py
Labels: Documentation

#25322 Backport PR #25320 on branch v3.7.0-doc (DOC: fix typo)
  examples/lines_bars_and_markers/fill_between_demo.py
Labels: Documentation

#25327 Fix doc-string issues identified by velin
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/text.py
  lib/matplotlib/transforms.py
  lib/matplotlib/widgets.py
Labels: Documentation

#25163 GitHub: auto set inactive label
  .github/workflows/stale.yml
Labels: CI: testing

#25331 Backport PR #25327 on branch v3.7.x (Fix doc-string issues identified by velin)
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_managers.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/colors.py
  lib/matplotlib/figure.py
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/layout_engine.py
  lib/matplotlib/text.py
  lib/matplotlib/widgets.py
Labels: Documentation

#25311 Make draggable legends picklable.
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_pickle.py
Labels: topic: pickle

#25337 Backport PR #25311 on branch v3.7.x (Make draggable legends picklable.)
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/test_pickle.py
Labels: topic: pickle

#25332 Support pickling of figures with aligned x/y labels.
  lib/matplotlib/cbook.py
  lib/matplotlib/tests/test_pickle.py
Labels: status: needs revision, topic: pickle

#25341 TST: Increase test_set_line_coll_dash_image tolerance slightly.
  lib/matplotlib/tests/test_lines.py
Labels: topic: testing

#25340 Fix RangeSlider.set_val when outside existing value
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#25342 Backport PR #25341 on branch v3.7.x (TST: Increase test_set_line_coll_dash_image tolerance slightly.)
  lib/matplotlib/tests/test_lines.py
Labels: topic: testing

#25343 Backport PR #25340 on branch v3.7.x (Fix RangeSlider.set_val when outside existing value)
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#25346 FIX: use wrapped text in Text._get_layout
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: topic: text, topic: geometry manager, PR: bugfix

#25325 Clean up legend loc parameter documentation
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
Labels: Documentation

#25348 Backport PR #25325 on branch v3.7.x (Clean up legend loc parameter documentation)
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
Labels: Documentation

#25350 Backport PR #25346 on branch v3.7.x (FIX: use wrapped text in Text._get_layout)
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
Labels: topic: text, topic: geometry manager, PR: bugfix
