Repository matplotlib/matplotlib, pull requests merged in 2024-10, with the labels that each got.

#28911 MNT: Fix double evaluation of _LazyTickList
  doc/users/next_whats_new/axes_creation_speedup.rst
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

#28913 DOC: Fix Axis.set_label reference
  doc/api/axis_api.rst
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels, Documentation: API

#27349 [ENH] Implement dynamic clipping to axes limits for 3D plots
  doc/missing-references.json
  doc/users/next_whats_new/3d_clip_to_axis_limits.rst
  galleries/examples/mplot3d/axlim_clip.py
  galleries/users_explain/toolkits/mplot3d.rst
  lib/matplotlib/text.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: New feature, topic: mplot3d, topic: text, Documentation: examples

#28869 ci: Bump build image on AppVeyor to MSVC 2019
  .appveyor.yml
Labels: OS: Microsoft, CI: testing

#28933 Switch AxLine.set_xy{1,2} to take a single argument.
  doc/api/next_api_changes/deprecations/28933-AL.rst
  lib/matplotlib/lines.py
  lib/matplotlib/lines.pyi
  lib/matplotlib/tests/test_lines.py
Labels: API: consistency

#28900 DOC: Improve fancybox demo
  galleries/examples/shapes_and_collections/fancybox_demo.py
Labels: Documentation: examples

#28942 In colorbar docs, add ref from 'boundaries' doc to 'spacing' doc.
  lib/matplotlib/colorbar.py
Labels: Documentation, topic: color/colorbar, topic: color/color & colormaps

#28935 DOC: Fix invalid rcParam references
  doc/api/prev_api_changes/api_changes_2.2.0.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  doc/api/prev_api_changes/api_changes_3.2.0/removals.rst
  doc/api/prev_api_changes/api_changes_3.3.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.5.0/removals.rst
  doc/api/prev_api_changes/api_changes_3.8.0/behaviour.rst
  doc/devel/MEP/MEP23.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  doc/users/prev_whats_new/whats_new_1.5.rst
  doc/users/prev_whats_new/whats_new_3.1.0.rst
  doc/users/prev_whats_new/whats_new_3.3.0.rst
  doc/users/prev_whats_new/whats_new_3.6.0.rst
  doc/users/prev_whats_new/whats_new_3.8.0.rst
  lib/matplotlib/axis.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/dates.py
Labels: Documentation, topic: rcparams, topic: date handling, topic: ticks axis labels, topic: collections and mappables, topic: contour, Documentation: devdocs, Documentation: user guide, Documentation: API

#28943 DOC: Clarify the returned line of axhline()/axvline()
  lib/matplotlib/axes/_axes.py
Labels: Documentation: API

#28925 TST: handle change in pytest.importorskip behavior
  lib/matplotlib/tests/test_rcparams.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28926 Backport PR #28689 on branch v3.9.x (ci: Enable testing on Python 3.13)
  .github/workflows/tests.yml
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_contour.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Maintenance, CI: testing

#28887 Backport PR #28883 on branch v3.9.x (Only check X11 when running Tkinter tests)
  lib/matplotlib/_c_internal_utils.pyi
  lib/matplotlib/cbook.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_rcparams.py
  src/_c_internal_utils.cpp
Labels: topic: testing

#28874 Remove remaining 3.8 deprecations
  doc/api/next_api_changes/removals/28874-ES.rst
  doc/api/prev_api_changes/api_changes_3.6.0/behaviour.rst
  doc/api/prev_api_changes/api_changes_3.7.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.9.0/removals.rst
  doc/api/toolkits/axisartist.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backend_tools.pyi
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/cbook.py
  lib/matplotlib/cbook.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/path.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/rcsetup.py
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_pgf.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/tests/test_table.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/text.py
  lib/matplotlib/transforms.py
  lib/matplotlib/transforms.pyi
  lib/matplotlib/widgets.py
  lib/matplotlib/widgets.pyi
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_divider.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axes_grid1/tests/baseline_images/test_axes_grid1/insetposition.png
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
  lib/mpl_toolkits/axisartist/axes_divider.py
  lib/mpl_toolkits/axisartist/axes_grid.py
  lib/mpl_toolkits/axisartist/axes_rgb.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/meson.build
  lib/mpl_toolkits/mplot3d/axis3d.py
Labels: topic: mplot3d, Release critical, topic: text, topic: widgets/UI, topic: rcparams, GUI: Qt, backend: pgf, backend: agg, topic: path handling, backend: ps, backend: pdf, topic: pyplot API, topic: toolbar, topic: legend, topic: transforms and scales, topic: table, topic: figures and subfigures, topic: canvas and figure manager

#28856 Convert remaining code to pybind11
  src/_backend_agg_basic_types.h
  src/_backend_agg_wrapper.cpp
  src/_path.h
  src/_path_wrapper.cpp
  src/mplutils.h
  src/numpy_cpp.h
  src/path_converters.h
  src/py_adaptors.h
  src/py_converters_11.h
Labels: backend: agg, topic: path handling, Maintenance

#28904 Agg: Remove 16-bit limits
  doc/users/next_whats_new/increased_figure_limits.rst
  extern/agg24-svn/include/agg_rasterizer_cells_aa.h
  lib/matplotlib/tests/test_agg.py
  src/_backend_agg.cpp
  src/_backend_agg.h
  src/_image_resample.h
Labels: backend: agg, Performance, topic: images

#28857 Pybind11 cleanup
  .github/workflows/tests.yml
  pyproject.toml
  requirements/dev/build-requirements.txt
  requirements/testing/mypy.txt
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
  src/_image_wrapper.cpp
  src/_path.h
  src/_path_wrapper.cpp
  src/ft2font_wrapper.cpp
  src/meson.build
  src/mplutils.h
  src/numpy_cpp.h
  src/py_adaptors.h
  src/py_converters.cpp
  src/py_converters.h
  src/py_converters_11.cpp
  src/py_converters_11.h
  src/py_exceptions.h
Labels: backend: agg, topic: path handling, topic: images, topic: text/fonts

#28948 Raise ValueError for RGB values outside the [0, 1] range in rgb_to_hsv function
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#28963 Remove refs to outdated writers in animation.py.
  lib/matplotlib/animation.py
Labels: Documentation, topic: animation

#28964 FIX macos: Use the agg buffer_rgba rather than private attribute
  src/_macosx.m
Labels: Release critical, GUI: MacOSX

#28965 Suggest imageio_ffmpeg to provide ffmpeg as animation writer.
  galleries/users_explain/animations/animations.py
Labels: Documentation, Documentation: user guide

#28702 [MNT]: #28701 separate the generation of polygon vertices in fill_between to enable resampling
  doc/missing-references.json
  doc/users/next_whats_new/fill_between_poly_collection.rst
  galleries/examples/event_handling/resample.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_collections.py
Labels: topic: pyplot API, topic: collections and mappables, Documentation: examples

#28971 DOC: correct linestyle example and reference rcParams
  galleries/examples/lines_bars_and_markers/linestyles.py
Labels: Documentation: examples

#28841 Make mplot3d mouse rotation style adjustable
  doc/api/toolkits/mplot3d/view_angles.rst
  doc/users/next_whats_new/mouse_rotation.rst
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, topic: rcparams, Documentation: API

#28978 CI: Resolve mypy stubtest build errors
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_gtk3.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_basic.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_pickle.py
Labels: CI: testing

#28568 added tags to mplot3d examples
  galleries/examples/mplot3d/2dcollections3d.py
  galleries/examples/mplot3d/3d_bars.py
  galleries/examples/mplot3d/bars3d.py
  galleries/examples/mplot3d/box3d.py
  galleries/examples/mplot3d/contour3d.py
  galleries/examples/mplot3d/contour3d_2.py
  galleries/examples/mplot3d/contour3d_3.py
  galleries/examples/mplot3d/contourf3d.py
  galleries/examples/mplot3d/contourf3d_2.py
  galleries/examples/mplot3d/custom_shaded_3d_surface.py
  galleries/examples/mplot3d/errorbar3d.py
  galleries/examples/mplot3d/hist3d.py
  galleries/examples/mplot3d/imshow3d.py
  galleries/examples/mplot3d/intersecting_planes.py
  galleries/examples/mplot3d/lines3d.py
  galleries/examples/mplot3d/lorenz_attractor.py
  galleries/examples/mplot3d/mixed_subplots.py
  galleries/examples/mplot3d/offset.py
  galleries/examples/mplot3d/pathpatch3d.py
  galleries/examples/mplot3d/polys3d.py
  galleries/examples/mplot3d/projections.py
  galleries/examples/mplot3d/quiver3d.py
  galleries/examples/mplot3d/rotate_axes3d_sgskip.py
  galleries/examples/mplot3d/scatter3d.py
  galleries/examples/mplot3d/stem3d_demo.py
  galleries/examples/mplot3d/subplot3d.py
  galleries/examples/mplot3d/surface3d.py
  galleries/examples/mplot3d/surface3d_2.py
  galleries/examples/mplot3d/surface3d_3.py
  galleries/examples/mplot3d/surface3d_radial.py
  galleries/examples/mplot3d/text3d.py
  galleries/examples/mplot3d/tricontour3d.py
  galleries/examples/mplot3d/tricontourf3d.py
  galleries/examples/mplot3d/trisurf3d.py
  galleries/examples/mplot3d/trisurf3d_2.py
  galleries/examples/mplot3d/view_planes_3d.py
  galleries/examples/mplot3d/voxels.py
  galleries/examples/mplot3d/voxels_numpy_logo.py
  galleries/examples/mplot3d/voxels_rgb.py
  galleries/examples/mplot3d/voxels_torus.py
  galleries/examples/mplot3d/wire3d.py
  galleries/examples/mplot3d/wire3d_animation_sgskip.py
  galleries/examples/mplot3d/wire3d_zero_stride.py
Labels: topic: mplot3d, mentored: sprint, Documentation: examples, Documentation: tags

#28975 Set guiEvent where applicable for gtk4.
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI: gtk

#20866 Remove ttconv and implement Type-42 embedding using fontTools
  doc/api/next_api_changes/removals/20866-JKS.rst
  extern/meson.build
  extern/ttconv/meson.build
  extern/ttconv/pprdrv.h
  extern/ttconv/pprdrv_tt.cpp
  extern/ttconv/pprdrv_tt2.cpp
  extern/ttconv/truetype.h
  extern/ttconv/ttutil.cpp
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/tests/baseline_images/test_backend_pdf/truetype-conversion.pdf
  lib/matplotlib/tests/meson.build
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_ttconv.py
  src/_ttconv.cpp
  src/meson.build
Labels: backend: ps, backend: pdf

#28984 DOC / BUG: Better example for 3D axlim_clip argument
  doc/users/next_whats_new/3d_clip_to_axis_limits.rst
  galleries/examples/mplot3d/axlim_clip.py
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: topic: mplot3d, PR: bugfix, Documentation: examples

#28986 DOC: Add tags for 3D fill_between examples
  galleries/examples/mplot3d/fillbetween3d.py
  galleries/examples/mplot3d/fillunder3d.py
Labels: topic: mplot3d, Documentation: examples

#28987 Fix: Do not use numeric tolerances for axline special cases
  lib/matplotlib/lines.py
Labels: PR: bugfix

#28972 Switch macOS 12 runner images to macOS 13
  .github/workflows/cibuildwheel.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: Run cibuildwheel, CI: testing

#28989 Backport PR #28972 on branch v3.9.x (Switch macOS 12 runner images to macOS 13)
  .github/workflows/cibuildwheel.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: Run cibuildwheel, CI: testing

#28947 Backport PR #28925 on branch v3.9.x (TST: handle change in pytest.importorskip behavior)
  lib/matplotlib/tests/test_rcparams.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28988 Backport PR #28987 on branch v3.9.x (Fix: Do not use numeric tolerances for axline special cases)
  lib/matplotlib/lines.py
Labels: PR: bugfix

#28819 Mark all extensions as free-threading safe
  .github/workflows/cibuildwheel.yml
  doc/users/next_whats_new/freethreading.rst
  src/_backend_agg_wrapper.cpp
  src/_c_internal_utils.cpp
  src/_image_wrapper.cpp
  src/_path_wrapper.cpp
  src/_qhull_wrapper.cpp
  src/_tkagg.cpp
  src/ft2font_wrapper.cpp
  src/tri/_tri_wrapper.cpp
Labels: GUI: tk, backend: agg, topic: path handling, topic: images, topic: text/fonts, topic: contour, CI: Run cibuildwheel, topic: tri

#28966 Fix polar error bar cap orientation
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_errorbar.png
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
  lib/matplotlib/transforms.pyi
Labels: topic: transforms and scales

#28354 Add Quiverkey zorder option
  doc/api/next_api_changes/behavior/28354-YN.rst
  lib/matplotlib/quiver.py
  lib/matplotlib/quiver.pyi
  lib/matplotlib/tests/test_quiver.py
Labels: API: consistency

#28890 MNT: Add missing dependency to environment.yml
  environment.yml
Labels: PR: dependencies

#28992 DOC: Refresh transform tree example
  doc/_static/transforms.png
  doc/api/transforms.dot
  doc/conf.py
  lib/matplotlib/transforms.py
Labels: Documentation, topic: transforms and scales, Documentation: build, Documentation: API

#28993 FIX: contourf hatches use multiple edgecolors
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contourf_hatch_colors.png
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour, PR: bugfix

#29006 Backport PR #28993 on branch v3.9.x (FIX: contourf hatches use multiple edgecolors)
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contourf_hatch_colors.png
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour, PR: bugfix

#29001 Cycler signature code format fix
  lib/matplotlib/axes/_base.py
  lib/matplotlib/rcsetup.py
Labels: topic: rcparams, topic: axes

#28478 bugfix for `PathSimplifier`
  lib/matplotlib/tests/test_simplification.py
  src/path_converters.h
Labels: topic: path handling

#28861 Break Artist._remove_method reference cycle
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: axes

#29007 MNT: Deprecate changing Figure.number
  doc/api/next_api_changes/deprecations/28007-TH.rst
  lib/matplotlib/_pylab_helpers.py
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/tests/test_figure.py
Labels: topic: pyplot API, topic: figures and subfigures

#29012 Bump required pybind11 to 2.13
  doc/install/dependencies.rst
  environment.yml
  meson.build
  pyproject.toml
Labels: Build

#28658 New data → color pipeline
  doc/api/.gitignore
  doc/api/cm_api.rst
  doc/api/colorizer_api.rst
  doc/api/colors_api.rst
  doc/api/index.rst
  doc/conf.py
  doc/missing-references.json
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/cm.py
  lib/matplotlib/cm.pyi
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/colorbar.py
  lib/matplotlib/colorbar.pyi
  lib/matplotlib/colorizer.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/contour.py
  lib/matplotlib/contour.pyi
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/image.py
  lib/matplotlib/image.pyi
  lib/matplotlib/meson.build
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/use_colorizer_keyword.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colors.py
  tools/boilerplate.py
Labels: topic: pyplot API, topic: color/color & colormaps, topic: images, topic: collections and mappables, topic: contour, topic: axes, topic: figures and subfigures, Documentation: build, Documentation: API, mentored: GSOC

#28842 FT2Font extension improvements
  doc/api/next_api_changes/deprecations/28842-ES.rst
  galleries/examples/misc/font_indexing.py
  galleries/examples/misc/ftface_props.py
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/mathtext.py
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/tests/test_ft2font.py
  lib/matplotlib/textpath.py
  src/_enums.h
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
  src/meson.build
Labels: topic: text, backend: agg, backend: ps, backend: pdf, topic: text/fonts, topic: text/mathtext, Documentation: examples

#29016 DOC: Better explain suptitle / supxlabel / supylabel naming
  lib/matplotlib/figure.py
Labels: Documentation, topic: figures and subfigures

#28967 Fix MSVC cast warnings
  doc/api/next_api_changes/deprecations/28967-ES.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/ft2font.pyi
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
  src/_image_resample.h
  src/ft2font_wrapper.cpp
  src/tri/_tri.cpp
  src/tri/_tri.h
Labels: backend: agg, topic: images, topic: text/fonts, topic: text/mathtext, topic: tri

#28653 Mnt/generalize plot varargs
  lib/matplotlib/axes/_base.py
Labels: topic: axes

#29019 Update requirements to add PyStemmer to doc-requirements and environment
  environment.yml
  requirements/doc/doc-requirements.txt
Labels: Documentation

#27167 ENH: add long_axis property to colorbar
  lib/matplotlib/colorbar.py
  lib/matplotlib/colorbar.pyi
  lib/matplotlib/tests/test_colorbar.py
Labels: topic: color/colorbar, topic: color/color & colormaps

#27766 Return filename from save_figure
  doc/api/next_api_changes/behavior/27744-FM.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_macosx.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/tests/test_backend_gtk3.py
  lib/matplotlib/tests/test_backend_macosx.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_backend_tk.py
Labels: GUI: Qt, GUI: wx, GUI: gtk, GUI: MacOSX, GUI: tk, GUI: webagg, topic: canvas and figure manager

#27569 DOC: initial tags for statistics section of gallery
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples, Documentation: tags

#29031 DOC: Fix copy-paste typo in ColorSequenceRegistry
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#29036 Don't pass redundant inline=True to example clabel() calls.
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_label_demo.py
  galleries/examples/misc/demo_agg_filter.py
Labels: Documentation, Documentation: examples

#28830 Feature: Support passing DataFrames to table.table
  doc/users/next_whats_new/pass_pandasDataFrame_into_table.rst
  lib/matplotlib/cbook.py
  lib/matplotlib/table.py
  lib/matplotlib/table.pyi
  lib/matplotlib/tests/test_table.py
Labels: topic: table

#29032 Backport PR #27569 on branch v3.9.x (DOC: initial tags for statistics section of gallery)
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples, Documentation: tags

#29037 Backport PR #29036 on branch v3.9.x (Don't pass redundant inline=True to example clabel() calls.)
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_label_demo.py
  galleries/examples/misc/demo_agg_filter.py
Labels: Documentation, Documentation: examples

#29035 FIX: Don't set_wmclass on GTK3
  lib/matplotlib/backends/_backend_gtk.py
Labels: GUI: gtk

#29038 Backport PR #29036 on branch v3.9.2-doc (Don't pass redundant inline=True to example clabel() calls.)
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_label_demo.py
  galleries/examples/misc/demo_agg_filter.py
Labels: Documentation, Documentation: examples

#29033 Backport PR #27569 on branch v3.9.2-doc (DOC: initial tags for statistics section of gallery)
  galleries/examples/statistics/boxplot.py
  galleries/examples/statistics/boxplot_color.py
  galleries/examples/statistics/boxplot_demo.py
  galleries/examples/statistics/boxplot_vs_violin.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
  galleries/examples/statistics/customized_violin.py
  galleries/examples/statistics/errorbar.py
  galleries/examples/statistics/errorbar_features.py
  galleries/examples/statistics/errorbar_limits.py
  galleries/examples/statistics/errorbars_and_boxes.py
  galleries/examples/statistics/hexbin_demo.py
  galleries/examples/statistics/hist.py
  galleries/examples/statistics/histogram_bihistogram.py
  galleries/examples/statistics/histogram_cumulative.py
  galleries/examples/statistics/histogram_histtypes.py
  galleries/examples/statistics/histogram_multihist.py
  galleries/examples/statistics/histogram_normalization.py
  galleries/examples/statistics/multiple_histograms_side_by_side.py
  galleries/examples/statistics/time_series_histogram.py
  galleries/examples/statistics/violinplot.py
Labels: Documentation: examples, Documentation: tags

#29022 Fixes AIX internal CI build break.
  src/ft2font_wrapper.cpp
Labels: Release critical, topic: text/fonts, CI: Run cibuildwheel, CI: Run cygwin

#29013 FIX: auto_fmtxdate for constrained layout
  lib/matplotlib/figure.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: geometry manager, topic: date handling, topic: figures and subfigures

#28946 MNT: Deprecate plt.polar() with an existing non-polar Axes
  doc/api/next_api_changes/deprecations/28946-TH.rst
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#29041 Backport PR #29035 on branch v3.9.x (FIX: Don't set_wmclass on GTK3)
  lib/matplotlib/backends/_backend_gtk.py
Labels: GUI: gtk

#28495 ticker.EngFormatter: allow offset
  doc/users/next_whats_new/engformatter_offset.rst
  doc/users/next_whats_new/update_features.rst
  galleries/examples/ticks/engformatter_offset.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
  lib/matplotlib/ticker.pyi
Labels: topic: ticks axis labels, Documentation: examples

#28453 Stop relying on dead-reckoning mouse buttons for motion_notify_event.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_webagg_core.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/backends/web_backend/js/mpl.js
  src/_macosx.m
Labels: GUI: Qt, GUI: wx, GUI: gtk, GUI: MacOSX, GUI: tk, GUI: webagg, topic: canvas and figure manager

#28981 FIX: macos: Use standard NSApp run loop in our input hook
  src/_macosx.m
Labels: GUI: MacOSX, Performance

#29046 Backport PR #28981 on branch v3.9.x (FIX: macos: Use standard NSApp run loop in our input hook)
  src/_macosx.m
Labels: GUI: MacOSX, Performance

#29017 DOC: Document preferred figure size for examples
  doc/devel/document.rst
Labels: Documentation: devdocs

#28048 Enables setting hatch linewidth in Patches and Collections, also fixes setting hatch linewidth by rcParams
  doc/api/next_api_changes/deprecations/28048-PR.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_patches.py
Labels: backend: ps, backend: pdf, backend: svg, topic: collections and mappables, topic: canvas and figure manager

#28970 Add explicit converter setting to Axis
  doc/api/axis_api.rst
  lib/matplotlib/axis.py
  lib/matplotlib/axis.pyi
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/tests/test_dates.py
  lib/matplotlib/tests/test_units.py
Labels: GUI: Qt, topic: ticks axis labels, Documentation: API

#29053 Factor out common formats strings in LogFormatter, LogFormatterExponent.
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels, Maintenance
