Repository matplotlib/matplotlib, pull requests merged in 2024-11, with the labels that each got.

#29057 DOC/TST: lock numpy<2.1 in environment.yml
  environment.yml
Labels: Build

#29059 Cleanup converter docs and StrCategoryConverter behavior
  galleries/users_explain/axes/axes_units.py
  lib/matplotlib/category.py
  lib/matplotlib/tests/test_category.py
Labels: topic: categorical, Documentation: user guide

#29024 Fix saving animations to transparent formats
  lib/matplotlib/animation.py
Labels: topic: animation

#29068 [DOC] Fix indentation in sync_cmaps example
  galleries/examples/images_contours_and_fields/multi_image.py
Labels: Documentation: examples

#29048 DOC: integrated pr workflow from contributing guide into install and workflow
  doc/devel/contribute.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/devel/pr_guide.rst
Labels: Documentation: devdocs

#29070 Backport PR #29048 on branch v3.10.x (DOC: integrated pr workflow from contributing guide into install and workflow)
  doc/devel/contribute.rst
  doc/devel/development_setup.rst
  doc/devel/development_workflow.rst
  doc/devel/pr_guide.rst
Labels: Documentation: devdocs

#29069 Backport PR #29068 on branch v3.10.x ([DOC] Fix indentation in sync_cmaps example)
  galleries/examples/images_contours_and_fields/multi_image.py
Labels: Documentation: examples

#29061 Backport PR #29024 on branch v3.10.x (Fix saving animations to transparent formats)
  lib/matplotlib/animation.py
Labels: topic: animation

#29079 DOC: Replaced colormap for colorblindness
  galleries/examples/images_contours_and_fields/image_demo.py
Labels: Documentation: examples

#29065 DOC: Update docstring of triplot()
  lib/matplotlib/tri/_tripcolor.py
Labels: topic: tri

#29084 Backport PR #29081 on branch v3.10.x (Document "none" as color value)
  galleries/users_explain/colors/colors.py
Labels: Documentation: user guide

#29085 FIX: Update GTK3Agg backend export name for consistency
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: GUI: gtk

#29078 Document how to discourage API
  doc/devel/api_changes.rst
Labels: Documentation: devdocs

#29089 Backport PR #29065 on branch v3.10.x (DOC: Update docstring of triplot())
  lib/matplotlib/tri/_tripcolor.py
Labels: topic: tri

#29088 DOC: Format aliases in kwargs tables
  lib/matplotlib/artist.py
Labels: Documentation

#29091 Backport PR #29085 on branch v3.10.x (FIX: Update GTK3Agg backend export name for consistency)
  lib/matplotlib/backends/backend_gtk3agg.py
Labels: GUI: gtk

#29092 Backport PR #29088 on branch v3.10.x (DOC: Format aliases in kwargs tables)
  lib/matplotlib/artist.py
Labels: Documentation

#29095 Backport PR #29071 on branch v3.10.x (Bump pypa/gh-action-pypi-publish from 1.10.3 to 1.11.0 in the actions group)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#29097 ENH: add back/forward buttons to osx backend move
  src/_macosx.m
Labels: GUI: MacOSX

#29120 DOC: Switch nested pie example from cmaps to color_sequences
  galleries/examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation: examples

#29122 Backport PR #29120 on branch v3.10.x (DOC: Switch nested pie example from cmaps to color_sequences)
  galleries/examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation: examples

#29121 Backport PR #29120 on branch v3.9.x (DOC: Switch nested pie example from cmaps to color_sequences)
  galleries/examples/pie_and_polar_charts/nested_pie.py
Labels: Documentation: examples

#29074 Add "standard" Axes wrapper getters/setters for Axis invertedness.
  doc/api/axes_api.rst
  doc/api/toolkits/mplot3d/axes3d.rst
  doc/users/next_whats_new/axis_inversion.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.pyi
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, topic: axes, Documentation: API

#29125 Make ListedColormap.monochrome a property
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, Maintenance

#29128 Tweak AutoMinorLocator docstring.
  lib/matplotlib/ticker.py
Labels: Documentation, topic: ticks axis labels

#29127 MNT: Refactor matplotlib.colors.from_levels_and_colors()
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#29132 Backport PR #29128 on branch v3.10.x (Tweak AutoMinorLocator docstring.)
  lib/matplotlib/ticker.py
Labels: Documentation, topic: ticks axis labels

#29087 DOC: escape broken cross links
  galleries/users_explain/figure/event_handling.rst
Labels: Documentation: user guide

#29080 Updates the `galleries/tutorials/artists.py` file in response to issue #28920
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

#29140 Backport PR #29080 on branch v3.10.x (Updates the `galleries/tutorials/artists.py` file in response to issue #28920)
  galleries/tutorials/artists.py
Labels: Documentation: tutorials

#29066 Check pressed mouse buttons in pan/zoom drag handlers.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/tests/test_backend_bases.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, topic: canvas and figure manager

#29144 Use both TCL_SETVAR and TCL_SETVAR2 for tcl 9 support
  src/_tkagg.cpp
  src/_tkmini.h
Labels: GUI: tk

#29147 Simplify synthetic event generation in interactive pan/zoom tests.
  lib/matplotlib/tests/test_backend_bases.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Maintenance

#29135 Deprecate ListedColormap(..., N=...) parameter
  doc/api/next_api_changes/deprecations/29135-TH.rst
  lib/matplotlib/cbook.py
  lib/matplotlib/cbook.pyi
  lib/matplotlib/colors.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_cbook.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, Maintenance, topic: contour

#29149 Backport CI config updates to v3.9.x
  .github/workflows/cibuildwheel.yml
  .github/workflows/cygwin.yml
  .github/workflows/tests.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin, CI: testing

#27617 Add new num_arrows option to streamplot
  doc/users/next_whats_new/streamplot_multiple_arrows.rst
  galleries/examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.pdf
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.png
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_linewidth.svg
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_startpoints.png
  lib/matplotlib/tests/test_streamplot.py
Labels: New feature, topic: pyplot API, Documentation: examples

#29163 ci: Remove outdated pkg-config package on macOS
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: testing

#29073 Update secondary_axis tutorial
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

#29168 Backport PR #29073 on branch v3.10.x (Update secondary_axis tutorial)
  galleries/examples/subplots_axes_and_figures/secondary_axis.py
Labels: Documentation: examples

#29164 Backport PR #29163 on branch v3.10.x (ci: Remove outdated pkg-config package on macOS)
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: testing

#29165 Backport PR #29153 on branch v3.9.x (Bump codecov/codecov-action from 4 to 5 in the actions group)
  .github/workflows/tests.yml
Labels: PR: dependencies

#29166 Backport PR #29153 on branch v3.10.x (Bump codecov/codecov-action from 4 to 5 in the actions group)
  .github/workflows/tests.yml
Labels: PR: dependencies

#29154 Relax conditions for warning on updating converters
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_units.py
Labels: topic: ticks axis labels

#29170 Backport PR #29154 on branch v3.10.x (Relax conditions for warning on updating converters)
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_units.py
Labels: topic: ticks axis labels

#29148 Don't fail on equal-but-differently-named cmaps in qt figureoptions.
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI: Qt

#29178 Backport PR #29163 on branch v3.9.x (ci: Remove outdated pkg-config package on macOS)
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: testing

#29172 Minor cleanups to docstrings, comments, and error messages.
  galleries/examples/text_labels_and_annotations/dfrac_demo.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
  lib/matplotlib/ticker.py
Labels: topic: pyplot API, topic: ticks axis labels, Maintenance, Documentation: examples

#29176 Backport PR #29148 on branch v3.9.x (Don't fail on equal-but-differently-named cmaps in qt figureoptions.)
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI: Qt

#29184 Minor tweaks to image docs.
  lib/matplotlib/image.py
Labels: Documentation, topic: images

#28335 DOC: do not posting LLM output as your own work
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#28934 ci: Unpin micromamba again
  .appveyor.yml
Labels: status: upstream fix required, CI: testing

#29195 Backport PR #29191 on branch v3.9.x (ci: Simplify 3.13t test setup)
  .github/workflows/tests.yml
Labels: CI: testing

#29186 Backport PR #28335 on branch v3.10.x (DOC: do not posting LLM output as your own work)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#29187 DOC: verify your changes
  doc/devel/contribute.rst
  doc/devel/development_workflow.rst
  doc/devel/document.rst
  doc/devel/testing.rst
Labels: Documentation, Documentation: devdocs

#29189 Backport PR #28934 on branch v3.10.x (ci: Unpin micromamba again)
  .appveyor.yml
Labels: CI: testing

#29171 ci: Remove Linux & macOS from Azure
  .appveyor.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: testing

#29182 Update backend_qt.py: parent not passed to __init__ on subplottool
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#29169 Minor fixes to text intro explainer
  galleries/users_explain/text/text_intro.py
Labels: Documentation: user guide

#29207 Backport PR #29169 on branch v3.10.x (Minor fixes to text intro explainer)
  galleries/users_explain/text/text_intro.py
Labels: Documentation: user guide

#29200 Backport PR #29182 on branch v3.10.x (Update backend_qt.py: parent not passed to __init__ on subplottool)
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#29209 FIX: pcolormesh with no x y args and nearest interp
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: pcolor/pcolormesh

#29133 Creating_parse_bar_color_args to unify color handling in plt.bar with precedence and sequence support for facecolor and edgecolor
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: consistency, Maintenance

#29210 Backport PR #29209 on branch v3.10.x (FIX: pcolormesh with no x y args and nearest interp)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: pcolor/pcolormesh
