Repository matplotlib/matplotlib, pull requests merged in 2024-12, with the labels that each got.

#29214 Fix typo in _LazyTickList class comment (lis -> list)
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

#29220 DOC: Set stable version to 3.9.3
  doc/_static/switcher.json
Labels: Documentation

#29206 Skip more tests on pure-Wayland systems
  lib/matplotlib/tests/test_backends_interactive.py
Labels: CI: testing

#29226 Backport PR #29206 on branch v3.10.x (Skip more tests on pure-Wayland systems)
  lib/matplotlib/tests/test_backends_interactive.py
Labels: CI: testing

#29177 Backport PR #29148 on branch v3.10.x (Don't fail on equal-but-differently-named cmaps in qt figureoptions.)
  lib/matplotlib/backends/qt_editor/figureoptions.py
Labels: GUI: Qt

#29211 Backport PR #29133 on branch v3.10.x (Creating_parse_bar_color_args to unify color handling in plt.bar with precedence and sequence support for facecolor and edgecolor)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: API: consistency, Maintenance

#29230 Backport PR #29188 on branch v3.10.x (Bump pypa/cibuildwheel from 2.21.3 to 2.22.0 in the actions group)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#29222 TST: Simplify parts of animation tests
  lib/matplotlib/tests/test_animation.py
Labels: topic: testing

#28775 DOC: manually placing images example
  galleries/examples/images_contours_and_fields/image_exact_placement.py
Labels: Documentation: examples

#29232 Merge branch v3.9.x into v3.10.x
  .github/workflows/cibuildwheel.yml
  doc/_static/zenodo_cache/14249941.svg
  doc/project/citing.rst
  doc/users/prev_whats_new/github_stats_3.9.3.rst
  doc/users/release_notes.rst
  tools/cache_zenodo_svg.py
Labels: Maintenance, CI: Run cibuildwheel, Documentation: user guide

#29167 BUGFIX: use axes unit information in ConnectionPatch
  lib/matplotlib/category.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_units.py
Labels: topic: units and array ducktypes, topic: categorical

#29236 ANI: Reduce Pillow frames to RGB when opaque
  lib/matplotlib/animation.py
Labels: topic: animation

#29238 Backport PR #29167 on branch v3.10.x (BUGFIX: use axes unit information in ConnectionPatch )
  lib/matplotlib/category.py
  lib/matplotlib/patches.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_units.py
Labels: topic: categorical

#29239 Backport PR #29236 on branch v3.10.x (ANI: Reduce Pillow frames to RGB when opaque)
  lib/matplotlib/animation.py
Labels: topic: animation

#29240 DOC: Add plt.show() to introductory pyplot example
  lib/matplotlib/pyplot.py
Labels: Documentation

#29246 Backport PR #29240 on branch v3.10.x (DOC: Add plt.show() to introductory pyplot example)
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: pyplot API

#29243 Add quotes around [dev] in environment.yml
  environment.yml
Labels: Documentation: devdocs

#29249 [Bug Fix] Fix reverse mapping for _translate_tick_params
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axis.py
Labels: topic: ticks axis labels

#29255 Backport PR #29249 on branch v3.10.x ([Bug Fix] Fix reverse mapping for _translate_tick_params)
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axis.py
Labels: topic: ticks axis labels

#29251 Zizmor audit
  .github/workflows/cibuildwheel.yml
  .github/workflows/circleci.yml
  .github/workflows/clean_pr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflictcheck.yml
  .github/workflows/cygwin.yml
  .github/workflows/do_not_merge.yml
  .github/workflows/good-first-issue.yml
  .github/workflows/labeler.yml
  .github/workflows/mypy-stubtest.yml
  .github/workflows/pr_welcome.yml
  .github/workflows/reviewdog.yml
  .github/workflows/stale-tidy.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin

#29266 Backport PR #29251 on branch v3.10.x (Zizmor audit)
  .github/workflows/cibuildwheel.yml
  .github/workflows/circleci.yml
  .github/workflows/clean_pr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflictcheck.yml
  .github/workflows/cygwin.yml
  .github/workflows/do_not_merge.yml
  .github/workflows/good-first-issue.yml
  .github/workflows/labeler.yml
  .github/workflows/mypy-stubtest.yml
  .github/workflows/pr_welcome.yml
  .github/workflows/reviewdog.yml
  .github/workflows/stale-tidy.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
Labels: CI: Run cibuildwheel, CI: Run cygwin

#29279 Backport PR #29265 on branch v3.10.x (DOC: Slightly improve the LineCollection docstring)
  lib/matplotlib/collections.py
Labels: topic: collections and mappables

#29272 DOC: Add section on translating between Axes and pyplot interface
  galleries/users_explain/figure/api_interfaces.rst
Labels: Documentation: user guide

#29283 Backport PR #29272 on branch v3.10.x (DOC: Add section on translating between Axes and pyplot interface)
  galleries/users_explain/figure/api_interfaces.rst
Labels: Documentation: user guide

#29175 addressing issue #29156, converted ps to array before slicing
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
Labels: topic: mplot3d, PR: bugfix

#29286 Backport PR #29274 on branch v3.10.x (Bump the actions group across 1 directory with 2 updates)
  .github/workflows/cibuildwheel.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#29285 Retarget PR#29175 to main
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
Labels: topic: mplot3d

#29260 DOC: Better explanation of rcParams "patch.edgecolor" and "patch.force_edgecolor"
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#29254 DOC: Add note to align_labels()
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures, Documentation: API

#29288 Backport PR #29285 on branch v3.10.x (Retarget PR#29175 to main)
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
Labels: topic: mplot3d

#29289 Backport PR #29260 on branch v3.10.x (DOC: Better explanation of rcParams "patch.edgecolor" and "patch.force_edgecolor")
  lib/matplotlib/mpl-data/matplotlibrc
Labels: Documentation

#29290 Backport PR #29254 on branch v3.10.x (DOC: Add note to align_labels())
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures

#29295 BLD: Pin meson-python to <0.17.0
  pyproject.toml
Labels: Build, CI: Run cibuildwheel

#29297 Backport PR #29295 on branch v3.9.x (BLD: Pin meson-python to <0.17.0)
  pyproject.toml
Labels: Build

#29296 Backport PR #29295 on branch v3.10.x (BLD: Pin meson-python to <0.17.0)
  pyproject.toml
Labels: Build

#29299 Merge v3.9.x into v3.10.x
  doc/_static/zenodo_cache/14436121.svg
  doc/project/citing.rst
  doc/users/prev_whats_new/github_stats_3.9.3.rst
  doc/users/prev_whats_new/github_stats_3.9.4.rst
  doc/users/release_notes.rst
  tools/cache_zenodo_svg.py
Labels: Maintenance, Documentation: user guide

#29303 DOC: Enhance documentation on discouraged API
  doc/devel/api_changes.rst
Labels: Documentation: devdocs

#29242 DOC: Add kwdoc list to scatter() docstring
  doc/missing-references.json
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#29306 Backport PR #29242 on branch v3.10.x (DOC: Add kwdoc list to scatter() docstring)
  doc/missing-references.json
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#29308 Update cibuildwheel workflow
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel

#29309 Backport PR #29308 on branch v3.10.x (Update cibuildwheel workflow)
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel

#29314 DOC: fix footnote in choosing colormaps guide
  galleries/users_explain/colors/colormaps.py
Labels: Documentation: user guide

#29316 Backport PR #29314 on branch v3.10.0-doc (DOC: fix footnote in choosing colormaps guide)
  galleries/users_explain/colors/colormaps.py
Labels: Documentation: user guide

#29315 Backport PR #29314 on branch v3.10.x (DOC: fix footnote in choosing colormaps guide)
  galleries/users_explain/colors/colormaps.py
Labels: Documentation: user guide

#29317 FIX: pass renderer through `_auto_legend_data`
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend, PR: bugfix

#29320 Backport PR #29317 on branch v3.10.x (FIX: pass renderer through `_auto_legend_data`)
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: topic: legend, PR: bugfix

#29258 Adding font Size as default parameter
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_table.py
Labels: topic: table, PR: bugfix

#29323 DOC: Don't put quotes around coordinate system names
  galleries/users_explain/artists/transforms_tutorial.py
Labels: Documentation: user guide

#29326 Backport PR #29323 on branch v3.10.x (DOC: Don't put quotes around coordinate system names)
  galleries/users_explain/artists/transforms_tutorial.py
Labels: Documentation: user guide

#29324 Backport PR #29258 on branch v3.10.x (Adding font Size as default parameter)
  lib/matplotlib/table.py
  lib/matplotlib/tests/test_table.py
Labels: topic: table, PR: bugfix

#25870 Adds error handling around install_repl_displayhook
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: pyplot API

#29321 DOC: List min. Python version for Matplotlib 3.10
  doc/devel/min_dep_policy.rst
Labels: Documentation: devdocs

#29331 Backport PR #29321 on branch v3.10.0-doc (DOC: List min. Python version for Matplotlib 3.10)
  doc/devel/min_dep_policy.rst
Labels: Documentation: devdocs

#29330 Backport PR #29321 on branch v3.10.x (DOC: List min. Python version for Matplotlib 3.10)
  doc/devel/min_dep_policy.rst
Labels: Documentation: devdocs

#29322 DOC: Add [*Discouraged*] prefix to summary lines
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, topic: ticks axis labels, topic: axes

#29336 Backport PR #29328 on branch v3.10.x (Bump github/codeql-action from 3.27.6 to 3.27.9 in the actions group)
  .github/workflows/codeql-analysis.yml
Labels: PR: dependencies

#29345 MNT: Remove duplicate assignment
  lib/matplotlib/lines.py
Labels: Maintenance

#29340 FIX: pass renderer through adjust_bbox
  lib/matplotlib/_tight_bbox.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/tests/baseline_images/test_bbox_tight/bbox_inches_inset_rasterized.pdf
  lib/matplotlib/tests/test_bbox_tight.py
Labels: topic: geometry manager, PR: bugfix, topic: canvas and figure manager

#29346 DOC: fix typos
  doc/api/next_api_changes/removals/20866-JKS.rst
  doc/api/prev_api_changes/api_changes_3.1.0.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_widgets.py
  pyproject.toml
Labels: Documentation, topic: sphinx extension, topic: axes

#29054 Label log minor ticks if only one log major tick is drawn.
  doc/api/next_api_changes/behavior/29054-AL.rst
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: API: changes, topic: ticks axis labels

#29348 DOC: Cleanup scales examples
  galleries/examples/scales/asinh_demo.py
  galleries/examples/scales/log_bar.py
  galleries/examples/scales/logit_demo.py
  galleries/examples/scales/scales.py
Labels: Documentation: examples

#24714 Improve handling of degenerate jacobians in non-rectilinear grids.
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
  lib/mpl_toolkits/axisartist/tests/test_floating_axes.py
Labels: topic: mpl_toolkit

#29351 Backport PR #29348 on branch v3.10.x (DOC: Cleanup scales examples)
  galleries/examples/scales/asinh_demo.py
  galleries/examples/scales/log_bar.py
  galleries/examples/scales/logit_demo.py
  galleries/examples/scales/scales.py
Labels: Documentation: examples

#29352 Backport PR #29348 on branch v3.10.0-doc (DOC: Cleanup scales examples)
  galleries/examples/scales/asinh_demo.py
  galleries/examples/scales/log_bar.py
  galleries/examples/scales/logit_demo.py
  galleries/examples/scales/scales.py
Labels: Documentation: examples

#27551 Move axisartist towards untransposed transforms (operating on (N, 2) arrays instead of (2, N) arrays).
  doc/api/next_api_changes/deprecations/27551-AL.rst
  lib/mpl_toolkits/axisartist/angle_helper.py
  lib/mpl_toolkits/axisartist/axislines.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/axisartist/grid_helper_curvelinear.py
Labels: topic: mpl_toolkit

#29355 Add QtCore.Slot() decorations to FigureCanvasQT
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#29354 Use _val_or_rc in more places
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/cm.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/font_manager.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/lines.py
  lib/matplotlib/markers.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/texmanager.py
  lib/matplotlib/text.py
  lib/matplotlib/ticker.py
  lib/mpl_toolkits/axisartist/axisline_style.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, topic: text, topic: ticks axis labels, topic: color/color & colormaps, topic: images, topic: legend, topic: contour, topic: axes, topic: markers, topic: figures and subfigures, topic: canvas and figure manager

#29344 MNT: Coerce LineStyleType strings to Literal
  lib/matplotlib/typing.py
Labels: Maintenance, topic: typing

#29364 fix typo
  galleries/users_explain/axes/constrainedlayout_guide.py
Labels: Documentation: user guide

#29347 DOC: Explain parameters linthresh and linscale of symlog scale
  galleries/examples/scales/symlog_demo.py
Labels: Documentation: examples

#29366 Backport PR #29347 on branch v3.10.x (DOC: Explain parameters linthresh and linscale of symlog scale)
  galleries/examples/scales/symlog_demo.py
Labels: Documentation: examples

#29367 Backport PR #29347 on branch v3.10.0-doc (DOC: Explain parameters linthresh and linscale of symlog scale)
  galleries/examples/scales/symlog_demo.py
Labels: Documentation: examples

#29365 Backport PR #29364 on branch v3.10.x (fix typo)
  galleries/users_explain/axes/constrainedlayout_guide.py
Labels: Documentation: user guide

#29362 TYP: semantics of enums in stub files changed
  lib/matplotlib/_enums.py
  lib/matplotlib/_enums.pyi
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backend_tools.pyi
  lib/matplotlib/backends/registry.pyi
  lib/matplotlib/dviread.pyi
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/stackplot.pyi
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/style/core.pyi
  lib/matplotlib/ticker.pyi
  lib/matplotlib/tri/_triinterpolate.pyi
Labels: topic: ticks axis labels, topic: toolbar, topic: styles, topic: canvas and figure manager, topic: tri

#29353 DOC: Improve module docs of matplotlib.scale
  doc/api/scale_api.rst
  lib/matplotlib/scale.py
Labels: topic: transforms and scales, Documentation: API

#29369 Backport PR #29362 on branch v3.10.x (TYP: semantics of enums in stub files changed)
  lib/matplotlib/_enums.py
  lib/matplotlib/_enums.pyi
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backend_tools.pyi
  lib/matplotlib/backends/registry.pyi
  lib/matplotlib/dviread.pyi
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/stackplot.pyi
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/style/core.pyi
  lib/matplotlib/ticker.pyi
  lib/matplotlib/tri/_triinterpolate.pyi
Labels: topic: ticks axis labels, topic: toolbar, topic: styles, topic: canvas and figure manager, topic: tri

#29361 Backport PR #29355 on branch v3.10.x (Add QtCore.Slot() decorations to FigureCanvasQT)
  lib/matplotlib/backends/backend_qt.py
Labels: GUI: Qt

#29371 Backport PR #29353 on branch v3.10.x (DOC: Improve module docs of matplotlib.scale)
  doc/api/scale_api.rst
  lib/matplotlib/scale.py
Labels: topic: transforms and scales, Documentation: API

#29333 ENH: Streamplot control for integration max step and error
  doc/users/next_whats_new/streamplot_integration_control.rst
  galleries/examples/images_contours_and_fields/plot_streamplot.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/streamplot.py
  lib/matplotlib/streamplot.pyi
  lib/matplotlib/tests/baseline_images/test_streamplot/streamplot_integration.png
  lib/matplotlib/tests/test_streamplot.py
Labels: New feature, topic: pyplot API, Documentation: examples

#29377 DOC: change wording on new contributor path
  doc/devel/contribute.rst
Labels: Documentation: devdocs

#28104 Separates edgecolor from hatchcolor
  doc/users/next_whats_new/separated_hatchcolor.rst
  galleries/examples/shapes_and_collections/hatchcolor_demo.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/rcsetup.py
  lib/matplotlib/rcsetup.pyi
  lib/matplotlib/tests/test_patches.py
Labels: topic: rcparams, topic: collections and mappables, topic: styles, topic: canvas and figure manager, Documentation: examples
