Repository matplotlib/matplotlib, pull requests merged in 2024-02, with the labels that each got.

#27718 Backport PR #27716 on branch v3.8.x (fix default image format in gtk4 savefig dialog)
  lib/matplotlib/backends/backend_gtk4.py
Labels: GUI: gtk

#27728 Simplify Figure._suplabels.
  lib/matplotlib/figure.py
  lib/matplotlib/text.py
Labels: topic: text, Maintenance, topic: figures and subfigures

#27560 Moved /users/project to /doc/project
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  README.md
  doc/devel/contribute.rst
  doc/devel/release_guide.rst
  doc/index.rst
  doc/project/citing.rst
  doc/project/code_of_conduct.rst
  doc/project/credits.rst
  doc/project/history.rst
  doc/project/index.rst
  doc/project/license.rst
  doc/project/mission.rst
  tools/cache_zenodo_svg.py
Labels: Documentation, Documentation: devdocs

#27731 DOC: Create explict rename legend entry section in guide
  galleries/users_explain/axes/legend_guide.py
Labels: Documentation: user guide

#27736 Fix incorrect API reference in docs
  galleries/users_explain/axes/legend_guide.py
Labels: Documentation: user guide

#27692 Add method to update position of arrow patch
  doc/users/next_whats_new/update_arrow_patch.rst
  lib/matplotlib/patches.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/tests/test_patches.py
Labels: New feature, topic: arrow

#27733 ci: Simplify CodeQL setup
  .github/workflows/codeql-analysis.yml
Labels: Maintenance, CI: testing

#27631 DOC: update doc/readme.txt & remove devel/readme
  doc/README.txt
  doc/devel/README.txt
Labels: Documentation, Maintenance, Documentation: devdocs

#27729 DOC: Improve colormap normalization example
  galleries/examples/images_contours_and_fields/colormap_normalizations.py
Labels: Documentation: examples

#27755 Allow threads during macos event loop
  src/_macosx.m
Labels: GUI: MacOSX

#27759 Backport PR #27755 on branch v3.8.x (Allow threads during macos event loop)
  src/_macosx.m
Labels: GUI: MacOSX

#26965 Removal of deprecated API cm
  ci/mypy-stubtest-allowlist.txt
  doc/api/next_api_changes/removals/26965-ER.rst
  doc/api/prev_api_changes/api_changes_0.99.rst
  doc/api/prev_api_changes/api_changes_3.2.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.3.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.4.0/behaviour.rst
  doc/api/prev_api_changes/api_changes_3.6.0/behaviour.rst
  doc/api/prev_api_changes/api_changes_3.7.0/behaviour.rst
  doc/users/prev_whats_new/whats_new_1.2.rst
  doc/users/prev_whats_new/whats_new_3.4.0.rst
  doc/users/prev_whats_new/whats_new_3.5.0.rst
  galleries/examples/color/custom_cmap.py
  lib/matplotlib/_cm.py
  lib/matplotlib/cm.py
  lib/matplotlib/cm.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: pyplot API, topic: color/color & colormaps, Maintenance, Documentation: examples, Documentation: user guide

#27702 GOV: adopt EffVer
  doc/api/prev_api_changes/api_changes_1.3.x.rst
  doc/conf.py
  doc/devel/MEP/MEP13.rst
  doc/devel/api_changes.rst
  doc/devel/min_dep_policy.rst
  doc/devel/pr_guide.rst
  doc/devel/release_guide.rst
  doc/devel/triage.rst
  doc/users/prev_whats_new/whats_new_1.3.rst
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/tests/test_pyplot.py
  src/ft2font_wrapper.cpp
  tools/github_stats.py
Labels: Documentation, topic: text/fonts, governance, Documentation: build, Documentation: devdocs, Documentation: user guide, Documentation: API

#27752 Update some Meson internals
  meson.build
  meson.options
  src/meson.build
  subprojects/packagefiles/freetype-2.6.1-meson/meson.build
  subprojects/packagefiles/qhull-8.0.2/meson.build
Labels: Build

#26800 Bump minimum NumPy version to 1.23
  doc/api/next_api_changes/development/26800-OG.rst
  doc/devel/min_dep_policy.rst
  doc/users/installing/dependencies.rst
  environment.yml
  lib/matplotlib/__init__.py
  pyproject.toml
  requirements/testing/minver.txt
Labels: Maintenance, PR: dependencies, Documentation: devdocs, Documentation: user guide

#27771 Add marker-only and line+marker visuals to the plot() plot types
  galleries/plot_types/basic/plot.py
Labels: Documentation: plot types

#27777 Backport PR #27776 on branch v3.8.x (Better document the relation between figure and manager)
  lib/matplotlib/backend_bases.py
Labels: Documentation, topic: canvas and figure manager

#27779 Manual backport of dependabot cibw upgrades
  .github/workflows/cibuildwheel.yml
  .github/workflows/cygwin.yml
  .github/workflows/good-first-issue.yml
Labels: Release critical, CI: Run cibuildwheel

#27781 Simplify example: Box plots with custom fill colors
  galleries/examples/statistics/boxplot_color.py
Labels: Documentation: examples

#27785 FIX: be careful about communicating with subprocess
  lib/matplotlib/backends/backend_pgf.py
Labels: OS: Microsoft, backend: pgf

#27790 Backport PR #27785 on branch v3.8.x (FIX: be careful about communicating with subprocess)
  lib/matplotlib/backends/backend_pgf.py
Labels: OS: Microsoft, backend: pgf

#27768 MNT: deprecate draw method args and kwargs
  doc/api/next_api_changes/deprecations/27768-REC.rst
  galleries/examples/misc/demo_ribbon_box.py
  lib/matplotlib/axis.py
  lib/matplotlib/image.py
  tools/stubtest.py
Labels: topic: ticks axis labels, topic: images, Documentation: examples

#27780 Partly revert #27711
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_legend.py
Labels: Release critical

#27793 Backport crash fixes to v3.7.x
  .github/workflows/cibuildwheel.yml
  lib/matplotlib/backends/backend_pgf.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_rcparams.py
  lib/matplotlib/tests/test_ticker.py
  src/_macosx.m
Labels: OS: Microsoft, OS: Apple, backend: pgf, Maintenance, CI: Run cibuildwheel

#27767 Update handling of sequence labels for plot
  doc/api/next_api_changes/behavior/27767-REC.rst
  doc/api/next_api_changes/deprecations/27767-REC.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_legend.py
Labels: API: changes, topic: axes, topic: plotting methods

#27796 Make mypy a bit stricter
  .github/workflows/reviewdog.yml
  lib/matplotlib/__init__.pyi
  lib/matplotlib/_type1font.py
  lib/matplotlib/patheffects.pyi
  lib/matplotlib/projections/__init__.pyi
  lib/matplotlib/pyplot.py
  pyproject.toml
Labels: topic: path handling, topic: pyplot API, topic: typing

#27565 MNT: arghandling subplotspec
  lib/matplotlib/gridspec.py
  lib/matplotlib/tests/test_gridspec.py
Labels: topic: geometry manager, API: argument checking

#27794 Remove old reference to 72 DPI in figure_size_units.py
  galleries/examples/subplots_axes_and_figures/figure_size_units.py
Labels: Documentation: examples

#27798 Fix sphinx-gallery CSS
  doc/_static/mpl.css
Labels: Documentation: build

#27800 Deactivate sidebar for release notes
  doc/_templates/empty_sidebar.html
  doc/conf.py
Labels: Documentation: build

#27787 Improve documentation on boxplot and violinplot
  lib/matplotlib/axes/_axes.py
Labels: Documentation

#27799 Clarify that set_ticks() affects major/minor ticks independently
  lib/matplotlib/axis.py
Labels: Documentation, topic: ticks axis labels

#27806 Remove self._renderer from AnnotationBbox and ConnectionPatch
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
Labels: topic: pickle

#27807 Expand CI pytest reporting config to ignore xfails
  .appveyor.yml
  .github/workflows/cygwin.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: Run cygwin

#27667 Change return type of `ion` and `ioff` to fix unbound variable errors with Pyright
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API, topic: typing

#27698 Add linting and validation of all YAML files
  .appveyor.yml
  .circleci/config.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/tag_proposal.yml
  .github/codecov.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/cibuildwheel.yml
  .github/workflows/clean_pr.yml
  .github/workflows/cygwin.yml
  .github/workflows/good-first-issue.yml
  .github/workflows/nightlies.yml
  .github/workflows/stale-tidy.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .meeseeksdev.yml
  .pre-commit-config.yaml
  .yamllint.yml
  azure-pipelines.yml
  ci/schemas/README.md
  ci/schemas/appveyor.json
  ci/schemas/circleciconfig.json
  ci/schemas/codecov.json
  ci/schemas/conda-environment.json
  ci/schemas/github-funding.json
  ci/schemas/github-issue-config.json
  ci/schemas/github-issue-forms.json
  ci/schemas/pull-request-labeler-5.json
  ci/schemas/vendor_schemas.py
  environment.yml
  src/.clang-format
Labels: CI: Run cibuildwheel, CI: Run cygwin, CI: testing

#27819 MNT: remove draw method args and kwargs
  ci/mypy-stubtest-allowlist.txt
  doc/api/next_api_changes/deprecations/27768-REC.rst
  lib/matplotlib/axis.py
  lib/matplotlib/image.py
  lib/matplotlib/image.pyi
Labels: topic: ticks axis labels, topic: images

#27836 DOC: use ... for continuation prompt in docstrings
  lib/matplotlib/axis.py
  lib/matplotlib/colors.py
Labels: topic: ticks axis labels, topic: color/color & colormaps, Documentation: API
