Repository matplotlib/matplotlib, pull requests merged in 2024-05, with the labels that each got.

#28156 Don't set savefig.facecolor/edgecolor in dark_background/538 styles.
  doc/api/next_api_changes/behavior/28156-AL.rst
  lib/matplotlib/mpl-data/stylelib/dark_background.mplstyle
  lib/matplotlib/mpl-data/stylelib/fivethirtyeight.mplstyle
Labels: topic: styles

#28144 DOC: Refactor code in the fishbone diagram example
  galleries/examples/specialty_plots/ishikawa_diagram.py
Labels: Documentation: examples

#28163 Backport PR #28144 on branch v3.9.x (DOC: Refactor code in the fishbone diagram example)
  galleries/examples/specialty_plots/ishikawa_diagram.py
Labels: Documentation: examples

#28160 Backport PR #28039 on branch v3.9.x (Respect vertical_axis when rotating plot interactively)
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28169 Clarify public-ness of some ToolContainerBase APIs.
  lib/matplotlib/backend_bases.py
Labels: Documentation, MEP: MEP22, topic: canvas and figure manager

#28174 Backport PR #28169 on branch v3.9.x (Clarify public-ness of some ToolContainerBase APIs.)
  lib/matplotlib/backend_bases.py
Labels: Documentation, MEP: MEP22, topic: canvas and figure manager

#28171 Support removing absent tools from ToolContainerBase.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_wx.py
Labels: MEP: MEP22, GUI: Qt, GUI: wx, GUI: gtk, GUI: tk, topic: canvas and figure manager

#28178 Backport PR #28171 on branch v3.9.x (Support removing absent tools from ToolContainerBase.)
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_gtk4.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_wx.py
Labels: MEP: MEP22, GUI: Qt, GUI: wx, GUI: gtk, GUI: tk, topic: canvas and figure manager

#28182 Bump custom hatch deprecation expiration
  lib/matplotlib/hatch.py
Labels: topic: hatch

#28184 Backport PR #28182 on branch v3.9.x (Bump custom hatch deprecation expiration)
  lib/matplotlib/hatch.py
Labels: topic: hatch

#28103 [DOC]: Fix compatibility with sphinx-gallery 0.16
  doc/conf.py
  doc/sphinxext/gallery_order.py
  doc/sphinxext/util.py
  lib/matplotlib/tests/test_doc.py
  requirements/doc/doc-requirements.txt
Labels: Documentation: build

#28185 DOC: Bump mpl-sphinx-theme to 3.9
  requirements/doc/doc-requirements.txt
Labels: Documentation

#28188 [TST] Bump some tolerances for Macos ARM
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_patheffects.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28046 DOC: Clarify merge policy
  doc/devel/pr_guide.rst
Labels: Documentation: devdocs

#28194 Backport PR #28188 on branch v3.9.x ([TST] Bump some tolerances for Macos ARM)
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_patheffects.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28190 Backport PR #28103 on branch v3.9.x ([DOC]: Fix compatibility with sphinx-gallery 0.16)
  doc/conf.py
  doc/sphinxext/gallery_order.py
  doc/sphinxext/util.py
  lib/matplotlib/tests/test_doc.py
  requirements/doc/doc-requirements.txt
Labels: Documentation: build

#28193 Backport PR #28185 on branch v3.9.x (DOC: Bump mpl-sphinx-theme to 3.9)
  requirements/doc/doc-requirements.txt
Labels: Documentation

#28191 DOC: Use released mpl-sphinx-theme on v3.9.x
  .circleci/config.yml
Labels: Documentation

#28203 Backport PR #28164 on branch v3.9.x (CI: Ensure code coverage is always uploaded)
  .github/workflows/cygwin.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: CI: Run cygwin

#28205 TST: Fix tests with older versions of ipython
  .github/workflows/tests.yml
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/__init__.pyi
  lib/matplotlib/tests/test_backend_macosx.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: third-party integration, topic: testing

#28130 Clarify the role of out_mask and out_alpha in _make_image.
  lib/matplotlib/image.py
Labels: Documentation, topic: images

#28207 TST: Followup corrections to #28205
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/tests/test_backend_inline.py
  lib/matplotlib/tests/test_backend_macosx.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: third-party integration, topic: testing

#28206 Backport PR #28205 on branch v3.9.x (TST: Fix tests with older versions of ipython)
  .github/workflows/tests.yml
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/__init__.pyi
  lib/matplotlib/tests/test_backend_inline.py
  lib/matplotlib/tests/test_backend_macosx.py
  lib/matplotlib/tests/test_backend_qt.py
Labels: third-party integration, topic: testing

#28217 Better group logging of font handling by texmanager.
  lib/matplotlib/texmanager.py
Labels: topic: text/usetex

#27998 Add a new `orientation` parameter to Violinplot and deprecate `vert`
  doc/api/next_api_changes/deprecations/27998-TS.rst
  doc/users/next_whats_new/violinplot_orientation.rst
  galleries/examples/statistics/violinplot.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: API: consistency, topic: pyplot API, Documentation: examples

#28074 Add `orientation` parameter to Boxplot and deprecate `vert`
  doc/api/next_api_changes/deprecations/28074-TS.rst
  doc/users/next_whats_new/boxplot_orientation.rst
  galleries/examples/statistics/boxplot_demo.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.pdf
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.png
  lib/matplotlib/tests/baseline_images/test_axes/boxplot_rc_parameters.svg
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_datetime.py
Labels: API: consistency, topic: pyplot API, topic: styles, Documentation: examples

#28228 DOC: Fix typo in release_guide.rst
  doc/devel/release_guide.rst
Labels: Documentation: devdocs

#28231 DOC: we do not need the blit call in on_draw
  galleries/examples/event_handling/path_editor.py
Labels: Documentation: examples

#28233 CI: Fix font install on macOS/Homebrew
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: Maintenance, CI: testing

#28236 Backport PR #28231 on branch v3.9.x (DOC: we do not need the blit call in on_draw)
  galleries/examples/event_handling/path_editor.py
Labels: Documentation: examples

#28237 Backport PR #28233 on branch v3.9.x (CI: Fix font install on macOS/Homebrew)
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: Maintenance, CI: testing

#28241 Backport PR #28219 on branch v3.9.x (Bump the actions group with 2 updates)
  .github/workflows/cibuildwheel.yml
  .github/workflows/conflictcheck.yml
Labels: PR: dependencies, CI: Run cibuildwheel

#28243 DOC: Add more 3D plot types
  galleries/plot_types/3D/bar3d_simple.py
  galleries/plot_types/3D/plot3d_simple.py
  galleries/plot_types/3D/quiver3d_simple.py
  galleries/plot_types/3D/stem3d.py
Labels: Documentation: plot types

#28246 Backport PR #28243 on branch v3.9.x (DOC: Add more 3D plot types)
  galleries/plot_types/3D/bar3d_simple.py
  galleries/plot_types/3D/plot3d_simple.py
  galleries/plot_types/3D/quiver3d_simple.py
  galleries/plot_types/3D/stem3d.py
Labels: Documentation: plot types

#28230 Add extra imports to improve typing
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#28247 Backport PR #28230 on branch v3.9.x (Add extra imports to improve typing)
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#28232 Merge v3.9.0 release into main
  SECURITY.md
  doc/_static/switcher.json
  doc/_static/zenodo_cache/11201097.svg
  doc/project/citing.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/whats_new_3.9.0.rst
  tools/cache_zenodo_svg.py
Labels: Maintenance, Documentation: user guide

#28253 Backport PR #28252 on branch v3.9.x (DOC: Flip the imshow plot types example to match the other examples)
  galleries/plot_types/arrays/imshow.py
Labels: Documentation: plot types

#28254 [DOC] plot type heading consistency
  galleries/plot_types/arrays/README.rst
Labels: Documentation: plot types

#28255 Backport PR #28254 on branch v3.9.x ([DOC] plot type heading consistency)
  galleries/plot_types/arrays/README.rst
Labels: Documentation: plot types

#28238 DOC: Update release guide to match current automations
  doc/devel/release_guide.rst
Labels: Documentation: devdocs

#27992 Add warning for multiple pyplot.figure calls with same ID
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: topic: pyplot API

#28091 [MNT]: create build-requirements.txt and update dev-requirements.txt
  .circleci/config.yml
  azure-pipelines.yml
  requirements/dev/build-requirements.txt
  requirements/dev/dev-requirements.txt
Labels: Build, Maintenance

#28257 Clean up some Meson-related leftovers
  doc/api/prev_api_changes/api_changes_3.5.0/development.rst
  doc/install/environment_variables_faq.rst
  doc/install/index.rst
  pyproject.toml
  src/checkdep_freetype2.c
Labels: Build, topic: text/fonts, Documentation: API

#28266 Backport PR #28257 on branch v3.9.x (Clean up some Meson-related leftovers)
  doc/api/prev_api_changes/api_changes_3.5.0/development.rst
  doc/install/environment_variables_faq.rst
  doc/install/index.rst
  pyproject.toml
  src/checkdep_freetype2.c
Labels: Build, topic: text/fonts, Documentation: API

#28269 Handle GetForegroundWindow() returning NULL.
  lib/matplotlib/backends/_backend_tk.py
  src/_c_internal_utils.cpp
Labels: OS: Microsoft, GUI: tk

#28274 ci: Remove deprecated codeql option
  .github/workflows/codeql-analysis.yml
Labels: CI: testing

#28272 BLD: Move macos builders from 11 to 12
  .github/workflows/cibuildwheel.yml
Labels: Build, CI: Run cibuildwheel

#28277 Backport PR #28274 on branch v3.9.x (ci: Remove deprecated codeql option)
  .github/workflows/codeql-analysis.yml
Labels: CI: testing

#28278 Backport PR #28272 on branch v3.9.x (BLD: Move macos builders from 11 to 12)
  .github/workflows/cibuildwheel.yml
Labels: Build, CI: Run cibuildwheel

#28280 DOC: Add an example for 2D images in 3D plots
  galleries/examples/mplot3d/imshow3d.py
Labels: Documentation: examples

#28283 Backport PR #28280 on branch v3.9.x (DOC: Add an example for 2D images in 3D plots)
  galleries/examples/mplot3d/imshow3d.py
Labels: Documentation: examples

#28279 Doc/ipython dep
  doc/devel/min_dep_policy.rst
Labels: Documentation: devdocs

#28261 Correct roll angle units, issue #28256
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28294 Backport PR #28261 on branch v3.9.x (Correct roll angle units, issue #28256)
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#28303 Removed drawedges repeated definition from function doc string
  lib/matplotlib/colorbar.py
Labels: topic: color/color & colormaps

#28305 Backport PR #28303 on branch v3.9.x (Removed drawedges repeated definition from function doc string)
  lib/matplotlib/colorbar.py
Labels: topic: color/color & colormaps

#28300 Faster title alignment
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: Performance, topic: axes

#28311 Update 3D orientation indication right away
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d

#28273 CI: Add GitHub artifact attestations to package distribution
  .github/workflows/cibuildwheel.yml
  .pre-commit-config.yaml
Labels: CI: Run cibuildwheel

#27001 [TYP] Add overload of `pyplot.subplots`
  lib/matplotlib/figure.pyi
  lib/matplotlib/gridspec.pyi
  lib/matplotlib/pyplot.py
Labels: topic: geometry manager, topic: pyplot API, topic: typing, topic: figures and subfigures

#28320 Backport PR #27001 on branch v3.9.x ([TYP] Add overload of `pyplot.subplots`)
  lib/matplotlib/figure.pyi
  lib/matplotlib/gridspec.pyi
  lib/matplotlib/pyplot.py
Labels: topic: geometry manager, topic: pyplot API, topic: typing, topic: figures and subfigures
