Repository matplotlib/matplotlib, pull requests merged in 2024-09, with the labels that each got.

#28779 DOC/TST: lock numpy < 2.1
  .circleci/config.yml
  requirements/dev/build-requirements.txt
Labels: Maintenance, Documentation: build

#28783 Fix places where "auto" was not listed as valid interpolation_stage.
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/image.py
Labels: GUI: Qt, topic: images

#28765 Add tests for most of FT2Font, and fix some bugs
  lib/matplotlib/tests/test_ft2font.py
  src/ft2font.cpp
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

#28755 TYP: Add typing for internal _tri extension
  lib/matplotlib/_tri.pyi
  lib/matplotlib/tests/test_triangulation.py
  src/tri/_tri.cpp
Labels: topic: typing, topic: tri

#28706 Add Returns info to to_jshtml docstring
  lib/matplotlib/animation.py
Labels: topic: animation

#28787 Backport PR #28706 on branch v3.9.x (Add Returns info to to_jshtml docstring)
  lib/matplotlib/animation.py
Labels: topic: animation

#28767 MNT: expire `ContourSet` deprecations
  doc/api/next_api_changes/removals/28767-REC.rst
  lib/matplotlib/contour.py
  lib/matplotlib/contour.pyi
  lib/matplotlib/tests/test_contour.py
Labels: API: changes, topic: contour

#28550 Remove internal use of `Artist.figure`
  lib/matplotlib/_constrained_layout.py
  lib/matplotlib/artist.py
  lib/matplotlib/artist.pyi
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/axis.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/gridspec.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/legend_handler.py
  lib/matplotlib/lines.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/quiver.py
  lib/matplotlib/spines.py
  lib/matplotlib/table.py
  lib/matplotlib/testing/widgets.py
  lib/matplotlib/tests/test_agg.py
  lib/matplotlib/tests/test_artist.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_bases.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_widgets.py
  lib/matplotlib/text.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
  lib/mpl_toolkits/axes_grid1/parasite_axes.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/axisartist/floating_axes.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/axis3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, topic: text, topic: geometry manager, topic: widgets/UI, topic: polar, topic: pyplot API, topic: ticks axis labels, topic: images, topic: legend, topic: collections and mappables, topic: contour, topic: table, topic: axes, topic: figures and subfigures, topic: canvas and figure manager

#28790 DOC: Fix duplicate Figure.set_dpi entry
  doc/api/figure_api.rst
Labels: Documentation: API

#28792 Backport PR #28790 on branch v3.9.2-doc (DOC: Fix duplicate Figure.set_dpi entry)
  doc/api/figure_api.rst
Labels: Documentation: API

#28791 Backport PR #28790 on branch v3.9.x (DOC: Fix duplicate Figure.set_dpi entry)
  doc/api/figure_api.rst
Labels: Documentation: API

#28801 DOC: Clarify AxLine.set_xy2 / AxLine.set_slope
  lib/matplotlib/lines.py
Labels: Documentation: API

#28796 Add example of petroff10 in the style sheets to show how to use the color sequence.
  galleries/examples/style_sheets/petroff10.py
Labels: Documentation: examples

#28798 DOC: Correctly list modules that have been internalized
  doc/api/_afm_api.rst
  doc/api/_docstring_api.rst
  doc/api/_tight_bbox_api.rst
  doc/api/_tight_layout_api.rst
  doc/api/_type1font.rst
  doc/api/afm_api.rst
  doc/api/docstring_api.rst
  doc/api/index.rst
  doc/api/tight_bbox_api.rst
  doc/api/tight_layout_api.rst
  doc/api/type1font.rst
Labels: Documentation: API

#28802 Backport PR #28798 on branch v3.9.x (DOC: Correctly list modules that have been internalized)
  doc/api/_afm_api.rst
  doc/api/_docstring_api.rst
  doc/api/_tight_bbox_api.rst
  doc/api/_tight_layout_api.rst
  doc/api/_type1font.rst
  doc/api/afm_api.rst
  doc/api/docstring_api.rst
  doc/api/index.rst
  doc/api/tight_bbox_api.rst
  doc/api/tight_layout_api.rst
  doc/api/type1font.rst
Labels: Documentation: API

#28803 Backport PR #28798 on branch v3.9.2-doc (DOC: Correctly list modules that have been internalized)
  doc/api/_afm_api.rst
  doc/api/_docstring_api.rst
  doc/api/_tight_bbox_api.rst
  doc/api/_tight_layout_api.rst
  doc/api/_type1font.rst
  doc/api/afm_api.rst
  doc/api/docstring_api.rst
  doc/api/index.rst
  doc/api/tight_bbox_api.rst
  doc/api/tight_layout_api.rst
  doc/api/type1font.rst
Labels: Documentation: API

#28805 add brackets to satisfy the new sequence requirement
  galleries/examples/animation/frame_grabbing_sgskip.py
Labels: Documentation: examples

#28807 Backport PR #28805 on branch v3.9.2-doc (add brackets to satisfy the new sequence requirement)
  galleries/examples/animation/frame_grabbing_sgskip.py
Labels: Documentation: examples

#28806 Backport PR #28805 on branch v3.9.x (add brackets to satisfy the new sequence requirement)
  galleries/examples/animation/frame_grabbing_sgskip.py
Labels: Documentation: examples

#28810 Document how to obtain sans-serif usetex math.
  galleries/users_explain/text/usetex.py
Labels: Documentation, topic: text/usetex, Documentation: user guide

#28811 Backport PR #28810 on branch v3.9.x (Document how to obtain sans-serif usetex math.)
  galleries/users_explain/text/usetex.py
Labels: Documentation, topic: text/usetex, Documentation: user guide

#28812 Backport PR #28810 on branch v3.9.2-doc (Document how to obtain sans-serif usetex math.)
  galleries/users_explain/text/usetex.py
Labels: Documentation, topic: text/usetex, Documentation: user guide

#27938 feat: add dunder method for math operations on Axes Size divider
  lib/mpl_toolkits/axes_grid1/axes_size.py
Labels: topic: mpl_toolkit

#28808 DOC: Add a plot to margins() to visualize the effect
  doc/_embedded_plots/axes_margins.py
  lib/matplotlib/axes/_base.py
Labels: topic: axes

#28786 Handle single color in ContourSet
  doc/users/next_whats_new/contour_color.rst
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: API: consistency, topic: contour, PR: bugfix

#28820 DOC: Fix missing cross-reference checks for sphinx-tags
  .github/labeler.yml
  doc/sphinxext/missing_references.py
Labels: Documentation: build

#28818 Resolve configdir so that it's not a symlink when is_dir() is called
  lib/matplotlib/__init__.py
Labels: Maintenance

#27302 Tags for simple_scatter.py demo
  galleries/examples/animation/simple_scatter.py
Labels: Documentation: examples, Documentation: tags

#27567 DOC: batch of tags
  galleries/examples/animation/bayes_update.py
  galleries/examples/animation/dynamic_image.py
  galleries/examples/animation/random_walk.py
  galleries/examples/animation/strip_chart.py
  galleries/examples/lines_bars_and_markers/multivariate_marker_plot.py
  galleries/examples/subplots_axes_and_figures/geo_demo.py
  galleries/examples/subplots_axes_and_figures/subplots_demo.py
  galleries/examples/widgets/polygon_selector_simple.py
Labels: Documentation: examples, Documentation: tags

#28826 MNT: Replace _docstring.dedent_interpd by its alias _docstring.interpd
  lib/matplotlib/_docstring.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/contour.py
  lib/matplotlib/figure.py
  lib/matplotlib/legend.py
  lib/matplotlib/mlab.py
  lib/matplotlib/offsetbox.py
  lib/matplotlib/patches.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/sankey.py
  lib/matplotlib/spines.py
  lib/matplotlib/table.py
  lib/matplotlib/tri/_tricontour.py
  lib/mpl_toolkits/axes_grid1/inset_locator.py
Labels: Documentation, Maintenance

#28828 Backport PR #28818 on branch v3.9.x (Resolve configdir so that it's not a symlink when is_dir() is called)
  lib/matplotlib/__init__.py
Labels: Maintenance

#28785 Convert ft2font extension to pybind11
  doc/conf.py
  doc/missing-references.json
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_ft2font.py
  requirements/testing/mypy.txt
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
  src/meson.build
Labels: topic: text/fonts, Maintenance, CI: Run cibuildwheel, Documentation: build

#28532 TYP: Fix xycoords and friends
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/offsetbox.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/text.pyi
  lib/matplotlib/typing.py
Labels: topic: text, topic: pyplot API

#27996 Create `InsetIndicator` artist
  ci/mypy-stubtest-allowlist.txt
  doc/api/index.rst
  doc/api/inset_api.rst
  doc/api/next_api_changes/behavior/27996-REC.rst
  doc/users/next_whats_new/inset_indicator.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/inset.py
  lib/matplotlib/inset.pyi
  lib/matplotlib/meson.build
  lib/matplotlib/tests/baseline_images/test_inset/zoom_inset_connector_styles.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_inset.py
Labels: API: changes

#27218 API: finish LocationEvent.lastevent removal
  doc/api/next_api_changes/removals/27218-TAC.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
Labels: API: changes, topic: canvas and figure manager

#28836 MNT: Use __init__ parameters of font properties
  galleries/examples/text_labels_and_annotations/fonts_demo.py
  galleries/users_explain/text/text_intro.py
Labels: Maintenance, Documentation: examples, Documentation: user guide

#28839 Backport PR #28836 on branch v3.9.x (MNT: Use __init__ parameters of font properties)
  galleries/examples/text_labels_and_annotations/fonts_demo.py
  galleries/users_explain/text/text_intro.py
Labels: Maintenance, Documentation: examples, Documentation: user guide

#28845 In examples, prefer named locations rather than location numbers.
  galleries/examples/axes_grid1/inset_locator_demo.py
  galleries/examples/axes_grid1/inset_locator_demo2.py
Labels: Documentation, Documentation: examples

#27011 Convert Agg extension to pybind11
  src/_backend_agg.cpp
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
  src/meson.build
  src/py_converters.cpp
  src/py_converters.h
  src/py_converters_11.h
  src/py_exceptions.h
Labels: backend: agg

#28849 DOC: Mark subfigures as no longer provisional
  doc/users/next_whats_new/subfigures_change_order.rst
  galleries/examples/subplots_axes_and_figures/subfigures.py
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures, Documentation: examples

#28858 Fix flaky labelcolor tests
  lib/matplotlib/tests/test_legend.py
Labels: topic: testing

#28588 Fix scaling in Tk on non-Windows systems
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI: tk

#28859 Backport PR #28858 on branch v3.9.x (Fix flaky labelcolor tests)
  lib/matplotlib/tests/test_legend.py
Labels: topic: testing

#28844 DOC: Add illustration to Figure.subplots_adjust
  doc/_embedded_plots/figure_subplots_adjust.py
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures

#28825 DOC: Fix non-working code object references
  doc/api/axes_api.rst
  doc/missing-references.json
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
Labels: Documentation, topic: axes, Documentation: API

#28875 DOC: Fix documentation of hist() kwarg lists
  lib/matplotlib/axes/_axes.py
Labels: Release critical, Documentation: API

#28880 Remove 'in' from removal substitution for deprecation messages
  lib/matplotlib/_api/deprecation.py
  lib/matplotlib/_api/deprecation.pyi
  lib/matplotlib/backend_bases.py
  lib/matplotlib/hatch.py
  lib/matplotlib/legend.py
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_api.py
Labels: topic: polar, topic: legend, Maintenance, topic: hatch, topic: canvas and figure manager

#28883 Only check X11 when running Tkinter tests
  lib/matplotlib/_c_internal_utils.pyi
  lib/matplotlib/cbook.py
  lib/matplotlib/tests/test_backend_tk.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_rcparams.py
  src/_c_internal_utils.cpp
Labels: GUI: tk, topic: testing

#28886 DOC: Cross-link Axes attributes
  lib/matplotlib/axes/_base.py
  lib/matplotlib/image.py
Labels: topic: images, topic: axes

#25645 Fix issue with sketch not working on PathCollection in Agg
  src/_backend_agg.h
Labels: status: needs review, backend: agg, topic: path handling

#28879 doc: add pandas and xarray fixtures to testing API docs
  doc/api/testing_api.rst
  doc/conf.py
  lib/matplotlib/testing/conftest.py
Labels: topic: testing, Documentation: build, Documentation: API

#28896 doc: specify non-python dependencies in dev install docs
  doc/devel/development_setup.rst
  doc/install/dependencies.rst
Labels: Documentation: devdocs

#28888 DOC: Better visualization for the default color cycle example
  galleries/examples/color/color_cycle_default.py
Labels: Documentation: examples

#28795 MNT: Cleanup docstring substitution mechanisms
  lib/matplotlib/_docstring.py
  lib/matplotlib/_docstring.pyi
  lib/matplotlib/_enums.py
  lib/matplotlib/axes/_secondary_axes.py
  lib/matplotlib/cm.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/contour.py
  lib/matplotlib/legend.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patches.py
  lib/matplotlib/projections/__init__.py
  lib/matplotlib/quiver.py
  lib/matplotlib/scale.py
  lib/matplotlib/text.py
  lib/matplotlib/tri/_tricontour.py
Labels: topic: text, topic: color/color & colormaps, topic: legend, Maintenance, topic: transforms and scales, topic: contour, topic: tri

#28838 TST: Fix minor issues in interactive backend test
  lib/matplotlib/tests/test_backends_interactive.py
Labels: topic: testing, topic: backends

#28584 MNT: Prevent users from erroneously using legend label API on Axis
  galleries/examples/axes_grid1/parasite_simple.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axis.py
  lib/matplotlib/backends/qt_editor/figureoptions.py
  lib/matplotlib/tests/test_axes.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, GUI: Qt, topic: ticks axis labels, topic: axes, Documentation: examples
