Repository matplotlib/matplotlib, pull requests merged in 2025-01, with the labels that each got.

#29400 Fix/Supress more missing references
  doc/api/toolkits/axisartist.rst
  doc/api/toolkits/mplot3d.rst
  doc/missing-references.json
  galleries/users_explain/axes/axes_intro.rst
  galleries/users_explain/figure/interactive.rst
  galleries/users_explain/figure/interactive_guide.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_tools.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/dviread.py
  lib/matplotlib/image.py
  lib/matplotlib/legend.py
  lib/matplotlib/mlab.py
  lib/matplotlib/patheffects.py
  lib/matplotlib/quiver.py
  lib/matplotlib/scale.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/transforms.py
  lib/matplotlib/tri/_trirefine.py
  lib/matplotlib/widgets.py
  lib/mpl_toolkits/axes_grid1/anchored_artists.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/axes_size.py
  lib/mpl_toolkits/axisartist/axis_artist.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, topic: widgets/UI, topic: path handling, topic: color/color & colormaps, topic: toolbar, topic: images, topic: legend, topic: transforms and scales, topic: axes, topic: canvas and figure manager, topic: tri, Documentation: user guide, Documentation: API

#29402 Expand set_ticklabels warning
  lib/matplotlib/axis.py
Labels: topic: ticks axis labels

#29401 FIX: add errorbars with `add_container`
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: PR: bugfix, topic: plotting methods

#29408 Backport PR #29401 on branch v3.10.x (FIX: add errorbars with `add_container`)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/tests/test_axes.py
Labels: PR: bugfix, topic: plotting methods

#29405 DOC: Clearer wording for the installation of external dependencies
  doc/devel/development_setup.rst
Labels: Documentation: devdocs

#29363 FIX: Add version gate to GTK4 calls when necessary
  lib/matplotlib/backends/backend_gtk4.py
Labels: Release critical, GUI: gtk

#27327 Update for checking whether colors have an alpha channel
  lib/matplotlib/colors.py
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/alpha, topic: color/color & colormaps

#29412 Backport PR #29363 on branch v3.10.x (FIX: Add version gate to GTK4 calls when necessary)
  lib/matplotlib/backends/backend_gtk4.py
Labels: Release critical, GUI: gtk

#29382 Fix title position for polar plots
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_title_position.png
  lib/matplotlib/tests/test_polar.py
Labels: Release critical, topic: axes, PR: bugfix

#29416 Backport PR #29382 on branch v3.10.x (Fix title position for polar plots)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/baseline_images/test_polar/polar_title_position.png
  lib/matplotlib/tests/test_polar.py
Labels: Release critical, topic: axes, PR: bugfix

#29388 FIX: get_tick_position() should disregard major/minor ticks that are not drawn
  lib/matplotlib/axis.py
  lib/matplotlib/tests/test_axis.py
Labels: topic: ticks axis labels, PR: bugfix

#29406 DOC: Update scales overview
  doc/sphinxext/gallery_order.py
  galleries/examples/scales/scales.py
Labels: Documentation: build, Documentation: examples

#29421 Backport PR #29406 on branch v3.10.0-doc (DOC: Update scales overview)
  doc/sphinxext/gallery_order.py
  galleries/examples/scales/scales.py
Labels: Documentation: build, Documentation: examples

#29338 Use set_window_title rather than set_label to set title of webagg figure
  doc/api/next_api_changes/behavior/29256_IMT.rst
  lib/matplotlib/backends/backend_webagg_core.py
Labels: GUI: webagg

#29424 MNT: Turn Axes._axis_map into a static dict instead of a property
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.pyi
Labels: Maintenance, topic: axes

#29431 ft2font: Split named instance count from style flags
  galleries/examples/misc/ftface_props.py
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_ft2font.py
  src/ft2font_wrapper.cpp
Labels: Release critical, topic: text/fonts, Documentation: examples

#29325 Propagate Axes class and kwargs for twinx and twiny
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/tests/test_axes.py
Labels: New feature, topic: axes

#29399 plot_wireframe plotting speedup
  lib/matplotlib/_path.pyi
  lib/matplotlib/transforms.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  src/_path_wrapper.cpp
Labels: topic: mplot3d, topic: path handling, Performance, topic: transforms and scales

#29407 DOC: Improve log scale example
  galleries/examples/scales/log_demo.py
  galleries/examples/scales/semilogx_demo.py
Labels: Documentation: examples

#29436 Backport PR #29407 on branch v3.10.x (DOC: Improve log scale example)
  galleries/examples/scales/log_demo.py
  galleries/examples/scales/semilogx_demo.py
Labels: Documentation: examples

#29437 Backport PR #29407 on branch v3.10.0-doc (DOC: Improve log scale example)
  galleries/examples/scales/log_demo.py
  galleries/examples/scales/semilogx_demo.py
Labels: Documentation: examples

#29444 Backport PR #29442 on branch v3.10.x (DOC: put section headings in 3.10 whats new)
  doc/users/prev_whats_new/whats_new_3.10.0.rst
Labels: Documentation: user guide

#29441 DOC: Rename Twitter to X
  doc/devel/communication_guide.rst
Labels: Documentation: devdocs

#29449 ci: Install libnotify4 on all Ubuntu
  .github/workflows/tests.yml
Labels: CI: testing

#29451 Backport PR #29449 on branch v3.10.x (ci: Install libnotify4 on all Ubuntu)
  .github/workflows/tests.yml
Labels: CI: testing

#29411 fix #29410 Modifying Axes' position also alters the original Bbox object used for initialization
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: axes

#29452 Backport PR #29411 on branch v3.10.x (fix #29410 Modifying Axes' position also alters the original Bbox object used for initialization)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: axes

#29433 Fixes #29428 : Remove erroneous statement in multipage PDF example
  galleries/examples/misc/multipage_pdf.py
Labels: Documentation: examples

#29457 DOC: Use float instead for scalar for type descriptions in docstrings
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps, topic: canvas and figure manager, Documentation: API

#29456 DOC: Fix type descriptions in fill_between docstring
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
Labels: topic: collections and mappables, Documentation: API

#29458 Backport PR #29457 on branch v3.10.x (DOC: Use float instead for scalar for type descriptions in docstrings)
  lib/matplotlib/artist.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_mixed.py
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps, topic: canvas and figure manager

#29404 DOC: scales - built in options and custom scale usefulness
  galleries/examples/scales/custom_scale.py
  lib/matplotlib/axis.py
  lib/matplotlib/scale.py
Labels: topic: ticks axis labels, topic: transforms and scales, Documentation: examples

#29459 Backport PR #29456 on branch v3.10.x (DOC: Fix type descriptions in fill_between docstring)
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/collections.py
Labels: topic: collections and mappables

#29462 Backport PR #29404 on branch v3.10.x (DOC: scales - built in options and custom scale usefulness)
  galleries/examples/scales/custom_scale.py
  lib/matplotlib/axis.py
  lib/matplotlib/scale.py
Labels: topic: ticks axis labels, topic: transforms and scales, Documentation: examples

#29464 DOC: Add missing examples for legend outside positions
  galleries/users_explain/axes/legend_guide.py
Labels: Documentation: user guide

#29438 ft2font: Avoid undefined enum values
  lib/matplotlib/ft2font.pyi
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

#29461 DOC: Use color specification reference in matplotlib.colors docs
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps, Documentation: API

#29028 Update colormap usage documentation to prioritize string colormap names
  doc/users/prev_whats_new/whats_new_3.10.0.rst
  galleries/examples/axisartist/demo_curvelinear_grid2.py
  galleries/examples/images_contours_and_fields/contour_demo.py
  galleries/examples/images_contours_and_fields/contour_image.py
  galleries/examples/images_contours_and_fields/contourf_demo.py
  galleries/examples/images_contours_and_fields/contourf_log.py
  galleries/examples/images_contours_and_fields/image_demo.py
  galleries/examples/images_contours_and_fields/image_masked.py
  galleries/examples/images_contours_and_fields/image_nonuniform.py
  galleries/examples/images_contours_and_fields/layer_images.py
  galleries/examples/images_contours_and_fields/shading_example.py
  galleries/examples/lines_bars_and_markers/gradient_bar.py
  galleries/examples/lines_bars_and_markers/multivariate_marker_plot.py
  galleries/examples/misc/contour_manual.py
  galleries/examples/misc/demo_agg_filter.py
  galleries/examples/misc/hyperlinks_sgskip.py
  galleries/examples/misc/table_demo.py
  galleries/examples/mplot3d/contour3d.py
  galleries/examples/mplot3d/contour3d_2.py
  galleries/examples/mplot3d/contourf3d.py
  galleries/examples/mplot3d/custom_shaded_3d_surface.py
  galleries/examples/mplot3d/subplot3d.py
  galleries/examples/mplot3d/surface3d.py
  galleries/examples/mplot3d/surface3d_radial.py
  galleries/examples/mplot3d/tricontour3d.py
  galleries/examples/mplot3d/tricontourf3d.py
  galleries/examples/mplot3d/trisurf3d_2.py
  galleries/examples/pie_and_polar_charts/polar_bar.py
  galleries/examples/shapes_and_collections/dolphin.py
  galleries/examples/showcase/mandelbrot.py
  galleries/examples/specialty_plots/advanced_hillshading.py
  galleries/examples/specialty_plots/leftventricle_bullseye.py
  galleries/examples/specialty_plots/topographic_hillshading.py
  galleries/examples/statistics/hist.py
  galleries/examples/subplots_axes_and_figures/axes_box_aspect.py
  galleries/examples/text_labels_and_annotations/custom_legends.py
  galleries/examples/text_labels_and_annotations/demo_text_path.py
  galleries/examples/user_interfaces/embedding_in_wx3_sgskip.py
  galleries/plot_types/3D/surface3d_simple.py
  galleries/plot_types/3D/trisurf3d_simple.py
  galleries/users_explain/colors/colorbar_only.py
  galleries/users_explain/colors/colormapnorms.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_streamplot.py
  lib/matplotlib/tests/test_table.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Documentation: plot types, Documentation: examples, Documentation: user guide

#29372 DOC / BUG: Fix savefig to GIF format with .gif suffix
  doc/users/next_whats_new/gif_savefig.rst
  galleries/examples/lines_bars_and_markers/fill_between_alpha.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/testing/compare.py
  lib/matplotlib/testing/decorators.py
  lib/matplotlib/tests/baseline_images/test_agg_filter/agg_filter_alpha.gif
  lib/matplotlib/tests/test_agg.py
  lib/matplotlib/tests/test_agg_filter.py
Labels: backend: agg, topic: canvas and figure manager, Documentation: examples

#29445 Backport PR #29442 on branch v3.10.0-doc (DOC: put section headings in 3.10 whats new)
  doc/users/prev_whats_new/whats_new_3.10.0.rst
Labels: Documentation: user guide

#29477 ci: Add an ARM Linux test workflow
  .github/workflows/tests.yml
  lib/matplotlib/tests/test_axes.py
Labels: CI: testing

#29476 ci: Enable native ARM builders for wheels
  .github/workflows/cibuildwheel.yml
Labels: CI: Run cibuildwheel

#29375 Doc: document pending deprecation procedure
  doc/devel/api_changes.rst
Labels: Documentation: devdocs

#29498 Backport PR #29488 on branch v3.10.x (DOC: Update broken_barh example)
  galleries/examples/lines_bars_and_markers/broken_barh.py
Labels: Documentation: examples

#29499 Backport PR #29488 on branch v3.10.0-doc (DOC: Update broken_barh example)
  galleries/examples/lines_bars_and_markers/broken_barh.py
Labels: Documentation: examples

#29478 DOC: Added blurb for colorizer objects in what's new for 3.10
  doc/users/prev_whats_new/whats_new_3.10.0.rst
Labels: Documentation: user guide

#29500 Backport PR #29478 on branch v3.10.x (DOC: Added blurb for colorizer objects in what's new for 3.10)
  doc/users/prev_whats_new/whats_new_3.10.0.rst
Labels: Documentation: user guide

#29501 Backport PR #29478 on branch v3.10.0-doc (DOC: Added blurb for colorizer objects in what's new for 3.10)
  doc/users/prev_whats_new/whats_new_3.10.0.rst
Labels: Documentation: user guide

#29435 Fix `plot_wireframe` with nonequal `rstride`, `cstride`, plus additional speedups
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/wireframe3dasymmetric.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/wireframe3dzerocstride.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Performance, PR: bugfix

#29460 ENH: Add bad, under, over kwargs to Colormap
  doc/users/next_whats_new/colormap_bad_under_over.rst
  galleries/examples/specialty_plots/leftventricle_bullseye.py
  galleries/users_explain/colors/colorbar_only.py
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, Documentation: examples

#29513 Backport PR #29471 on branch v3.10.x (Fix subplot docs)
  doc/api/axes_api.rst
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API, Documentation: API

#29509 MNT: Discourage arrow()
  lib/matplotlib/axes/_axes.py
Labels: API: changes, Maintenance

#29521 Backport PR #29509 on branch v3.10.x (MNT: Discourage arrow())
  lib/matplotlib/axes/_axes.py
Labels: API: changes, Maintenance

#29526 DOC: better separation of codespace instructions
  doc/devel/development_setup.rst
Labels: Documentation: devdocs

#29520 FIX: Correct variable name from _frame to _frames in PillowWriter class
  lib/matplotlib/animation.py
  lib/matplotlib/tests/test_animation.py
Labels: topic: animation

#29529 MNT: Deprecate other capitalization than "None" in matplotlibrc
  doc/api/next_api_changes/deprecations/ 29529-TH.rst
  lib/matplotlib/rcsetup.py
Labels: API: changes, topic: rcparams, Maintenance

#29397 3D plotting performance improvements
  doc/users/next_whats_new/3d_speedups.rst
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/surface3d_masked.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Performance

#29536 Fix typo in solarized example plot.
  galleries/examples/style_sheets/plot_solarizedlight2.py
Labels: Documentation: examples

#29538 Backport PR #29536 on branch v3.10.x (Fix typo in solarized example plot.)
  galleries/examples/style_sheets/plot_solarizedlight2.py
Labels: Documentation: examples

#29533 Minor cleanups.
  lib/matplotlib/dviread.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axisartist/grid_finder.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, Maintenance

#29539 Backport PR #29536 on branch v3.10.0-doc (Fix typo in solarized example plot.)
  galleries/examples/style_sheets/plot_solarizedlight2.py
Labels: Documentation: examples

#29537 Fix: Ensure ScalarFormatter.set_useOffset properly distinguishes betw…
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

#29525 Add new method Colormap.with_alpha()
  doc/users/next_whats_new/colormap_with_alpha
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps

#29543 DOC: Minor improvement on broken_barh()
  galleries/examples/lines_bars_and_markers/broken_barh.py
Labels: Documentation: examples

#29547 Backport PR #29543 on branch v3.10.x (DOC: Minor improvement on broken_barh())
  galleries/examples/lines_bars_and_markers/broken_barh.py
Labels: Documentation: examples

#29548 Backport PR #29543 on branch v3.10.0-doc (DOC: Minor improvement on broken_barh())
  galleries/examples/lines_bars_and_markers/broken_barh.py
Labels: Documentation: examples

#29398 Speed up Collection.set_paths
  lib/matplotlib/cbook.py
  lib/matplotlib/collections.py
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_transforms.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/proj3d.py
Labels: topic: mplot3d, topic: path handling, Performance, topic: collections and mappables

#29287 Fix depth shading on 3D scatterplots
  doc/users/next_whats_new/depthshading_improvement.rst
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
  lib/matplotlib/rcsetup.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/quiver3d.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/scatter3d.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/scatter3d_color.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/scatter3d_linewidth.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_axes3d/scatter_spiral.png
  lib/mpl_toolkits/mplot3d/tests/baseline_images/test_legend3d/fancy.png
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d, topic: rcparams, topic: styles

#27304 Allow user to specify colors in violin plots with constructor method
  doc/users/next_whats_new/violinplot_colors.rst
  galleries/examples/statistics/customized_violin.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: New feature, topic: pyplot API, Documentation: examples

#29553 DOC: update active social media list
  doc/devel/communication_guide.rst
Labels: Documentation: devdocs

#29518 TST: Increase tolerance on more arches
  lib/matplotlib/tests/test_arrow_patches.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_bbox_tight.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_constrainedlayout.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_legend.py
  lib/matplotlib/tests/test_lines.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tests/test_path.py
  lib/matplotlib/tests/test_patheffects.py
  lib/matplotlib/tests/test_simplification.py
  lib/matplotlib/tests/test_skew.py
  lib/matplotlib/tests/test_subplots.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: topic: mplot3d

#28968 Implement xtick and ytick rotation modes
  doc/users/next_whats_new/xtick_ytick_rotation_modes.rst
  galleries/examples/images_contours_and_fields/image_annotated_heatmap.py
  galleries/examples/subplots_axes_and_figures/align_labels_demo.py
  lib/matplotlib/axis.py
  lib/matplotlib/tests/baseline_images/test_text/xtick_rotation_mode.png
  lib/matplotlib/tests/baseline_images/test_text/ytick_rotation_mode.png
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
Labels: topic: text, topic: ticks axis labels, Documentation: examples

#29555 Backport PR #29546 on branch v3.10.x (FIX: pyplot.matshow figure handling)
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
Labels: topic: pyplot API

#29556 Spacing for description of linecolor
  lib/matplotlib/axes/_axes.py
Labels: Documentation: API
