Repository matplotlib/matplotlib, pull requests merged in 2025-08, with the labels that each got.

#29716 ENH: Add align parameter to broken_barh()
  doc/users/next_whats_new/broken_barh_align.rst
  galleries/examples/lines_bars_and_markers/broken_barh.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: New feature, status: needs review, topic: pyplot API

#29958 ENH: ax.add_collection(..., autolim=True) updates view limits
  doc/api/next_api_changes/behavior/29958-TH.rst
  galleries/examples/lines_bars_and_markers/multicolored_line.py
  galleries/examples/shapes_and_collections/collections.py
  galleries/examples/shapes_and_collections/ellipse_collection.py
  galleries/users_explain/axes/autoscale.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.pyi
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_backend_ps.py
  lib/matplotlib/tests/test_collections.py
  lib/matplotlib/tests/test_patches.py
  lib/matplotlib/tri/_tripcolor.py
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_art3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: topic: mplot3d, topic: color/color & colormaps, topic: axes, topic: tri, Documentation: examples, Documentation: user guide

#30398 TST: Remove qt_core fixture
  lib/matplotlib/tests/test_backend_qt.py
Labels: GUI: Qt, topic: testing

#30362 {,Range}Slider: accept callable valfmt arguments
  doc/users/next_whats_new/sliders_callable_valfmt.rst
  lib/matplotlib/widgets.py
  lib/matplotlib/widgets.pyi
Labels: topic: widgets/UI

#30324 Make PyFT2Font a subclass of FT2Font
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

#30404 DOC: Scale axis parameter
  lib/matplotlib/scale.py
Labels: topic: transforms and scales, Documentation: API

#30414 DOC: update Cartopy url
  galleries/examples/subplots_axes_and_figures/geo_demo.py
Labels: Documentation: examples

#30422 DOC: remove some usages of None as explicit defaults
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/mplot3d/art3d.py
  lib/mpl_toolkits/mplot3d/axes3d.py
Labels: topic: mplot3d, Documentation: API

#29358 MNT: Registered 3rd party scales do not need an axis parameter anymore
  doc/api/next_api_changes/deprecations/29358-TH.rst
  lib/matplotlib/scale.py
  lib/matplotlib/tests/test_scale.py
Labels: API: changes, topic: transforms and scales

#30402 Update release guide
  doc/devel/release_guide.rst
Labels: Documentation: devdocs

#30440 Document relative font sizes
  galleries/examples/pie_and_polar_charts/pie_features.py
  galleries/users_explain/text/text_props.py
  lib/matplotlib/__init__.py
  lib/matplotlib/contour.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/mpl-data/stylelib/classic.mplstyle
Labels: topic: styles, topic: contour, Documentation: examples, Documentation: user guide

#30444 Small correction of a typo in the galleries: axis instead of axes
  galleries/users_explain/artists/color_cycle.py
  galleries/users_explain/axes/constrainedlayout_guide.py
Labels: Documentation: user guide

#30445 Backport PR #30444 on branch v3.10.x (Small correction of a typo in the galleries: axis instead of axes)
  galleries/users_explain/artists/color_cycle.py
  galleries/users_explain/axes/constrainedlayout_guide.py
Labels: Documentation: user guide

#30448 Backport PR #30412 on branch v3.10.x ({Check,Radio}Buttons: Improve docs of label_props)
  lib/matplotlib/widgets.py
  lib/matplotlib/widgets.pyi
Labels: topic: widgets/UI

#29876 MultiNorm class
  doc/api/colors_api.rst
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, Documentation: API

#30452 DOC: Move capture_scroll What's new note to new directory
  doc/release/next_whats_new/webagg_capture_scroll.rst
Labels: Documentation

#30451 doc: factor out quick install tab for reuse
  doc/index.rst
  doc/install/index.rst
  doc/install/quick_install.inc.rst
  doc/users/getting_started/index.rst
Labels: Documentation, Documentation: user guide

#30433 Use standard property alias machinery in contour().
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: API: argument checking, topic: contour

#30468 Let triage_tests support test modules with only figure_equals tests.
  tools/triage_tests.py
Labels: topic: testing

#30471 DOC: Fix text formatting of imshow_extent example
  galleries/users_explain/artists/imshow_extent.py
Labels: Documentation: user guide

#30476 ci: Remove cibuildwheel override for win_arm64/Py3.14
  .github/workflows/cibuildwheel.yml
  pyproject.toml
Labels: CI: Run cibuildwheel

#30394 ENH: Gracefully handle python-build-standalone ImportError with Tk
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI: tk

#30481 Backport PR #30394 on branch v3.10.x (ENH: Gracefully handle python-build-standalone ImportError with Tk)
  lib/matplotlib/backends/_backend_tk.py
Labels: GUI: tk

#30484 FIX: be more cautious about checking widget size
  lib/matplotlib/backends/backend_qt.py
  requirements/testing/all.txt
Labels: GUI: Qt

#30487 Backport PR #30484 on branch v3.10.x (FIX: be more cautious about checking widget size)
  lib/matplotlib/backends/backend_qt.py
  requirements/testing/all.txt
Labels: GUI: Qt

#30492 DOC: pytz link should be from PyPI
  doc/install/dependencies.rst
Labels: Documentation

#30494 Backport PR #30492 on branch v3.10.x (DOC: pytz link should be from PyPI)
  doc/install/dependencies.rst
Labels: Documentation

#30423 Fix Line3DCollection with autolim=True for lines of different lengths
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d
