Repository matplotlib/matplotlib, pull requests merged in 2025-09, with the labels that each got.

#30506 Backport PR #30490 on branch v3.10.x (Fix SVG rendering error in def update_background)
  lib/matplotlib/widgets.py
Labels: topic: widgets/UI

#30495 Backport PR #30492 on branch v3.10.6-doc (DOC: pytz link should be from PyPI)
  doc/install/dependencies.rst
Labels: Documentation

#30475 Fix spelling error in `contains_branch_separately` method name
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_base.py
  lib/matplotlib/collections.py
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_transforms.py
  lib/matplotlib/transforms.py
  lib/matplotlib/transforms.pyi
Labels: topic: transforms and scales, topic: collections and mappables, topic: contour, topic: axes

#30491 merge up v3.10.6
  doc/_static/switcher.json
  doc/_static/zenodo_cache/16999430.svg
  doc/project/citing.rst
  doc/release/github_stats.rst
  doc/release/prev_whats_new/github_stats_3.10.5.rst
  doc/release/release_notes.rst
  lib/matplotlib/backends/_backend_tk.py
  tools/cache_zenodo_svg.py
Labels: GUI: tk, Maintenance

#30408 MNT/DOC: Deprecate anchor in Axes3D.set_aspect
  doc/api/next_api_changes/deprecations/30364-AS.rst
  lib/mpl_toolkits/mplot3d/axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
Labels: topic: mplot3d

#29939 Parse {lua,xe}tex-generated dvi in dviread.
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/cbook.py
  lib/matplotlib/dviread.py
  lib/matplotlib/dviread.pyi
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/testing/__init__.pyi
  lib/matplotlib/tests/baseline_images/dviread/lualatex.json
  lib/matplotlib/tests/baseline_images/dviread/pdflatex.json
  lib/matplotlib/tests/baseline_images/dviread/test.dvi
  lib/matplotlib/tests/baseline_images/dviread/test.json
  lib/matplotlib/tests/baseline_images/dviread/test.tex
  lib/matplotlib/tests/baseline_images/dviread/xelatex.json
  lib/matplotlib/tests/test_dviread.py
  lib/matplotlib/textpath.py
Labels: topic: text, backend: pdf, topic: text/usetex

#30497 TST: Use a temporary directory for test_save_figure_return
  lib/matplotlib/tests/test_backend_qt.py
Labels: topic: testing

#30462 FIX: Mark shared Axes as stale when propagating adjustable
  lib/matplotlib/axes/_base.py
Labels: topic: axes

#29855 ENH: Allow to register standalone figures with pyplot
  doc/release/next_whats_new/pyplot-register-figure.rst
  lib/matplotlib/_pylab_helpers.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backends/_backend_gtk.py
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_gtk3.py
  lib/matplotlib/backends/backend_nbagg.py
  lib/matplotlib/backends/backend_qt.py
  lib/matplotlib/backends/backend_wx.py
  lib/matplotlib/figure.py
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_qt.py
  lib/matplotlib/tests/test_backends_interactive.py
  lib/matplotlib/tests/test_figure.py
  lib/matplotlib/tests/test_pyplot.py
  src/_macosx.m
Labels: GUI: Qt, GUI: wx, GUI: gtk, GUI: MacOSX, GUI: tk, GUI: nbagg, topic: pyplot API, topic: figures and subfigures, topic: canvas and figure manager

#30335 Use glyph indices for font tracking in vector formats
  doc/api/next_api_changes/behavior/30335-ES.rst
  lib/matplotlib/_mathtext.py
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_cairo.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/dviread.pyi
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_backend_svg.py
  lib/matplotlib/textpath.py
Labels: topic: text, backend: ps, backend: pdf, backend: svg, backend: cairo, topic: text/mathtext

#30566 pdf/ps: Track full character map in CharacterTracker
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps, backend: pdf

#30562 DOC: improve description of boilerplate.py
  lib/matplotlib/pyplot.py
  tools/boilerplate.py
Labels: topic: pyplot API

#30572 Backport PR #30571 on branch v3.10.x (CI: remove macos13)
  .github/workflows/tests.yml
Labels: Maintenance, CI: testing

#30577 MNT: Move all Colormap extremes setter logic into a single _set_extremes()
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps, Maintenance

#30208 Make path extension a bit safer
  src/_path.h
  src/_path_wrapper.cpp
Labels: topic: path handling, Maintenance

#30569 Copy-edit the "fonts in pdf and postscript" table.
  galleries/users_explain/text/fonts.py
Labels: Documentation, Documentation: user guide

#30586 ci: Bump Ubuntu ARM builder to 24.04
  .github/workflows/tests.yml
  lib/matplotlib/tests/test_axes.py
Labels: CI: testing

#30567 pdf: Merge loops for single byte text chunk output
  lib/matplotlib/backends/backend_pdf.py
Labels: backend: pdf

#30582 MNT: Do not use colormap setters in tests
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_colors.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_image.py
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
  lib/mpl_toolkits/mplot3d/tests/test_legend3d.py
Labels: topic: mplot3d, topic: contour

#30583 MNT: Streamline deferred initialization of Colormap
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#29794 Add language parameter to Text objects
  doc/release/next_whats_new/text_language.rst
  lib/matplotlib/_text_helpers.py
  lib/matplotlib/backends/backend_agg.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_ft2font.py
  lib/matplotlib/tests/test_text.py
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
  lib/matplotlib/textpath.py
  lib/matplotlib/textpath.pyi
  src/ft2font.cpp
  src/ft2font.h
  src/ft2font_wrapper.cpp
Labels: topic: text, topic: rcparams, backend: agg, backend: ps, backend: pdf, topic: text/fonts

#30595 ft2font: Split layouting from set_text
  src/ft2font.cpp
  src/ft2font.h
Labels: topic: text/fonts

#30573 Add os.PathLike support to FT2Font constructor, and FontManager
  lib/matplotlib/font_manager.py
  lib/matplotlib/font_manager.pyi
  lib/matplotlib/ft2font.pyi
  lib/matplotlib/tests/test_font_manager.py
  lib/matplotlib/tests/test_ft2font.py
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts

#30512 pdf: Improve text with characters outside embedded font limits
  doc/api/next_api_changes/deprecations/30512-ES.rst
  doc/release/next_whats_new/pdf_fonts.rst
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/testing/__init__.py
  lib/matplotlib/tests/test_backend_svg.py
Labels: backend: ps, backend: pdf

#30603 MNT: Fix some broken deprecations
  lib/matplotlib/patches.py
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
Labels: Release critical, topic: mpl_toolkit, Maintenance

#30606 DOC: Fix raw string in mathtext unicode example
  galleries/users_explain/text/mathtext.py
Labels: Documentation: user guide

#30616 DOC: add what's new info for violin_stats
  doc/release/next_whats_new/violin_stats.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/cbook.py
Labels: Documentation, topic: plotting methods

#30615 Use auto to remove long typedefs in dlsym/GetProcAddress calls.
  src/_c_internal_utils.cpp
Labels: Maintenance

#30614 Backport PR #30612 on branch v3.10.x (MNT: update black pin)
  environment.yml
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_pyplot.py
  requirements/testing/all.txt
Labels: topic: pyplot API
