Repository matplotlib/matplotlib, pull requests merged in 2025-03, with the labels that each got.

#29692 Backport PR #29689 on branch v3.10.x (Fix alt and caption handling in Sphinx directives)
  lib/matplotlib/sphinxext/figmpl_directive.py
  lib/matplotlib/sphinxext/plot_directive.py
  lib/matplotlib/tests/test_sphinxext.py
  lib/matplotlib/tests/tinypages/some_plots.rst
Labels: topic: sphinx extension, accessibility

#29697 MNT: remove `plot_date`
  doc/api/axes_api.rst
  doc/api/next_api_changes/removals/29697-REC.rst
  doc/api/prev_api_changes/api_changes_1.4.x.rst
  doc/api/prev_api_changes/api_changes_3.5.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.9.0/deprecations.rst
  doc/api/pyplot_summary.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/date_timezone_x.png
  lib/matplotlib/tests/baseline_images/test_axes/date_timezone_x_and_y.png
  lib/matplotlib/tests/baseline_images/test_axes/date_timezone_y.png
  lib/matplotlib/tests/baseline_images/test_axes/single_date.png
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_datetime.py
  lib/matplotlib/tests/test_pyplot.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
  tools/boilerplate.py
Labels: topic: mpl_toolkit, API: changes, topic: pyplot API, topic: plotting methods

#29705 DOC: improve dev install docs
  doc/_static/mpl.css
  doc/devel/development_setup.rst
  doc/devel/index.rst
Labels: Documentation: devdocs

#29602 MNT: Reduce the use of get_xticklabels() in examples
  galleries/examples/subplots_axes_and_figures/shared_axis_demo.py
  galleries/examples/text_labels_and_annotations/date.py
  galleries/examples/ticks/centered_ticklabels.py
  galleries/examples/ticks/date_concise_formatter.py
  galleries/examples/units/evans_test.py
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures, Documentation: examples

#29728 Backport PR #29726 on branch v3.10.1-doc (Add reference tag to Hatch style reference)
  galleries/examples/shapes_and_collections/hatch_style_reference.py
Labels: Documentation: examples

#29724 Fix SubplotSpec.get_gridspec type hint
  lib/matplotlib/gridspec.pyi
Labels: topic: geometry manager, topic: typing

#29730 Backport PR #29724 on branch v3.10.x (Fix SubplotSpec.get_gridspec type hint)
  lib/matplotlib/gridspec.pyi
Labels: topic: geometry manager, topic: typing

#29729 DOC: Improve What's new entry description
  doc/api/next_api_changes/README.rst
  doc/devel/api_changes.rst
  doc/devel/pr_guide.rst
  doc/users/next_whats_new/README.rst
Labels: Documentation: devdocs

#26774 Connect the Animation event source callback in the constructor.
  lib/matplotlib/animation.py
Labels: topic: animation

#29700 merge up v3.10.1
  doc/_static/zenodo_cache/14464227.svg
  doc/api/prev_api_changes/api_changes_3.10.0.rst
  doc/api/prev_api_changes/api_changes_3.10.0/behavior.rst
  doc/api/prev_api_changes/api_changes_3.10.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.10.0/development.rst
  doc/api/prev_api_changes/api_changes_3.10.0/removals.rst
  doc/api/prev_api_changes/api_changes_3.10.1.rst
  doc/project/citing.rst
  doc/users/github_stats.rst
  doc/users/prev_whats_new/github_stats_3.10.0.rst
  doc/users/prev_whats_new/whats_new_3.10.0.rst
  doc/users/prev_whats_new/whats_new_3.9.0.rst
  doc/users/release_notes.rst
  tools/cache_zenodo_svg.py
Labels: Documentation: user guide, Documentation: API

#29744 NEP 29 > SPEC 0 in dependency policy
  doc/devel/min_dep_policy.rst
Labels: Documentation: devdocs

#29747 Revert "NEP 29 > SPEC 0 in dependency policy"
  doc/devel/min_dep_policy.rst
Labels: Documentation: devdocs

#29721 FIX: pyplot auto-backend detection case-sensitivity fixup
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: pyplot API

#29756 Consolidate color tags
  galleries/examples/color/individual_colors_from_cmap.py
  galleries/examples/lines_bars_and_markers/scatter_demo2.py
  galleries/examples/statistics/time_series_histogram.py
Labels: Documentation: examples

#29758 DOC: consolidate tags
  galleries/examples/animation/animated_histogram.py
  galleries/examples/animation/bayes_update.py
  galleries/examples/animation/dynamic_image.py
  galleries/examples/animation/multiple_axes.py
  galleries/examples/animation/random_walk.py
  galleries/examples/event_handling/resample.py
  galleries/examples/lines_bars_and_markers/bar_colors.py
  galleries/examples/lines_bars_and_markers/hat_graph.py
  galleries/examples/lines_bars_and_markers/line_demo_dash_control.py
  galleries/examples/lines_bars_and_markers/scatter_demo2.py
  galleries/examples/lines_bars_and_markers/simple_plot.py
  galleries/examples/lines_bars_and_markers/span_regions.py
  galleries/examples/lines_bars_and_markers/timeline.py
  galleries/examples/mplot3d/stem3d_demo.py
  galleries/examples/pie_and_polar_charts/polar_scatter.py
  galleries/examples/statistics/bxp.py
  galleries/examples/statistics/confidence_ellipse.py
Labels: Documentation: examples, Documentation: tags

#29759 DOC: expand use of fun tag
  galleries/examples/animation/rain.py
  galleries/examples/animation/unchained.py
  galleries/examples/event_handling/pong_sgskip.py
  galleries/examples/images_contours_and_fields/barcode_demo.py
  galleries/examples/shapes_and_collections/dolphin.py
  galleries/examples/shapes_and_collections/donut.py
  galleries/examples/showcase/xkcd.py
Labels: Documentation: examples, Documentation: tags

#29582 Add `rasterized` option to `contourf`
  lib/matplotlib/contour.py
  lib/matplotlib/tests/baseline_images/test_contour/contour_rasterization.pdf
  lib/matplotlib/tests/test_contour.py
Labels: topic: contour

#29767 Add description to logit_demo.py script
  galleries/examples/scales/logit_demo.py
Labels: Documentation: examples

#29768 Backport PR #29767 on branch v3.10.x (Add description to logit_demo.py script)
  galleries/examples/scales/logit_demo.py
Labels: Documentation: examples

#29696 ENH: Add support for per-label padding in bar_label
  doc/users/next_whats_new/bar_label_padding_update.rst
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: New feature, topic: pyplot API

#29698 Improve tick subsampling in LogLocator.
  doc/users/next_whats_new/logticks.rst
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_colorbar.py
  lib/matplotlib/tests/test_contour.py
  lib/matplotlib/tests/test_scale.py
  lib/matplotlib/tests/test_ticker.py
  lib/matplotlib/ticker.py
Labels: topic: ticks axis labels

#29781 Fix escaping of nulls and "0" in default filenames.
  lib/matplotlib/backend_bases.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: topic: canvas and figure manager

#29784 Backport PR #29781 on branch v3.10.x (Fix escaping of nulls and "0" in default filenames.)
  lib/matplotlib/backend_bases.py
  lib/matplotlib/tests/test_backend_bases.py
Labels: topic: canvas and figure manager

#29755 DOC: Simplify annotation arrow style reference
  galleries/examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation: examples

#29786 Backport PR #29755 on branch v3.10.x (DOC: Simplify annotation arrow style reference)
  galleries/examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation: examples

#29787 Backport PR #29755 on branch v3.10.1-doc (DOC: Simplify annotation arrow style reference)
  galleries/examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation: examples

#29754 Backport PR #29721 on branch v3.10.x (FIX: pyplot auto-backend detection case-sensitivity fixup)
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_rcparams.py
Labels: topic: pyplot API

#29083 DOC: Update page to note installation for ninja library
  doc/devel/development_setup.rst
  doc/install/dependencies.rst
Labels: Documentation: devdocs

#29804 replace quansight-labs/setup-python with actions/setup-python
  .github/workflows/cibuildwheel.yml
  .github/workflows/mypy-stubtest.yml
  .github/workflows/reviewdog.yml
  .github/workflows/tests.yml
Labels: CI: Run cibuildwheel

#27972 Fix ngrids support in axes_grid.Grid().
  doc/api/next_api_changes/deprecations/27972-AL.rst
  lib/mpl_toolkits/axes_grid1/axes_grid.py
  lib/mpl_toolkits/axes_grid1/tests/test_axes_grid1.py
Labels: topic: mpl_toolkit

#29810 Declare free-threaded support in MacOS backend extension
  src/_macosx.m
Labels: GUI: MacOSX

#29817 Prepare for {xe,lua}tex support in usetex.
  doc/api/next_api_changes/deprecations/29817-AL.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/dviread.py
  lib/matplotlib/dviread.pyi
Labels: backend: pdf, topic: text/usetex

#29801 DOC: Slightly further improve arrowstyle demo
  galleries/examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation: examples

#29818 Backport PR #29801 on branch v3.10.x (DOC: Slightly further improve arrowstyle demo)
  galleries/examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation: examples

#29819 Backport PR #29801 on branch v3.10.1-doc (DOC: Slightly further improve arrowstyle demo)
  galleries/examples/text_labels_and_annotations/fancyarrow_demo.py
Labels: Documentation: examples

#29808 ENH: set default color cycle to named color sequence
  doc/users/next_whats_new/color_cycle_from_sequence.rst
  galleries/users_explain/artists/color_cycle.py
  lib/matplotlib/__init__.py
  lib/matplotlib/mpl-data/matplotlibrc
  lib/matplotlib/rcsetup.py
  lib/matplotlib/tests/test_rcparams.py
Labels: New feature, topic: rcparams, topic: color/cycle

#29821 Tweak minimal checks for GUI binding installs.
  galleries/users_explain/figure/backends.rst
Labels: Documentation, Documentation: user guide

#29776 Filter images in premultiplied alpha mode.
  lib/matplotlib/image.py
  lib/matplotlib/tests/baseline_images/test_image/downsampling_speckle.png
  lib/matplotlib/tests/baseline_images/test_image/rgba_antialias.png
  lib/matplotlib/tests/test_image.py
  lib/matplotlib/tests/test_png.py
Labels: topic: images

#29830 Fix git fetch on development workflow
  doc/devel/development_workflow.rst
Labels: Documentation: devdocs

#29798 Ensure polar plot radial lower limit remains at 0 after set_rticks + plot
  lib/matplotlib/projections/polar.py
  lib/matplotlib/tests/test_polar.py
Labels: topic: polar, PR: bugfix

#29828 Improve output of dvi debug parsing.
  lib/matplotlib/dviread.py
Labels: topic: text/usetex

#29044 Add hatchcolor parameter for Collections
  doc/users/next_whats_new/separated_hatchcolor.rst
  galleries/examples/shapes_and_collections/hatchcolor_demo.py
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
  lib/matplotlib/backends/backend_svg.py
  lib/matplotlib/collections.py
  lib/matplotlib/collections.pyi
  lib/matplotlib/legend_handler.py
  lib/matplotlib/patches.pyi
  lib/matplotlib/tests/test_axes.py
  lib/matplotlib/tests/test_backend_bases.py
  lib/matplotlib/tests/test_collections.py
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
Labels: backend: agg, backend: ps, backend: pdf, backend: svg, topic: legend, topic: collections and mappables, topic: canvas and figure manager, Documentation: examples

#29832 MNT: expire legend-related deprecations
  doc/api/next_api_changes/behavior/29832-REC.rst
  lib/matplotlib/axes/_base.py
  lib/matplotlib/legend.py
  lib/matplotlib/tests/test_legend.py
Labels: API: changes, topic: legend, topic: axes
