Repository matplotlib/matplotlib, pull requests merged in 2025-06, with the labels that each got.

#30131 DOC: Document the properties of Normalize
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps, Documentation: API

#30142 Backport PR #30119 on branch v3.10.3-doc (Add some types to _mathtext.py)
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext

#30141 Backport PR #30118 on branch v3.10.3-doc (CI: Skip jobs on forks)
  .github/workflows/cibuildwheel.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflictcheck.yml
Labels: CI: Run cibuildwheel, CI: testing

#29392 Fill hatch in PDF backend
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/tests/baseline_images/test_artist/clip_path_clipping.pdf
  lib/matplotlib/tests/baseline_images/test_artist/hatching.pdf
  lib/matplotlib/tests/baseline_images/test_axes/contour_hatching.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/hatching_legend.pdf
  lib/matplotlib/tests/baseline_images/test_image/imshow_masked_interpolation.pdf
  lib/matplotlib/tests/baseline_images/test_legend/hatching.pdf
  lib/matplotlib/tests/baseline_images/test_patches/multi_color_hatch.pdf
  lib/matplotlib/tests/baseline_images/test_patheffects/patheffect3.pdf
Labels: backend: pdf

#30140 Backport PR #30118 on branch v3.10.x (CI: Skip jobs on forks)
  .github/workflows/cibuildwheel.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflictcheck.yml
Labels: CI: Run cibuildwheel, CI: testing

#30144 js: Fix externally-controlled format strings
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI: webagg

#30146 Backport PR #30144 on branch v3.10.x (js: Fix externally-controlled format strings)
  lib/matplotlib/backends/web_backend/js/mpl.js
Labels: GUI: webagg

#28560 ENH: Add grouped_bar() method
  doc/_embedded_plots/grouped_bar.py
  doc/api/axes_api.rst
  doc/api/pyplot_summary.rst
  doc/users/next_whats_new/grouped_bar.rst
  galleries/examples/lines_bars_and_markers/barchart.py
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/baseline_images/test_axes/grouped_bar.png
  lib/matplotlib/tests/test_axes.py
  tools/boilerplate.py
Labels: New feature, status: needs review, topic: pyplot API, Documentation: examples, Documentation: API

#30067 Remove deprecations: is_bbox and more
  doc/api/next_api_changes/removals/30067-OG.rst
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/rcsetup.py
  lib/matplotlib/rcsetup.pyi
  lib/matplotlib/tests/test_backend_registry.py
  lib/matplotlib/transforms.py
  lib/matplotlib/transforms.pyi
Labels: topic: rcparams, topic: transforms and scales, topic: canvas and figure manager

#20716 Type-1 font subsetting
  .github/workflows/tests.yml
  doc/users/next_whats_new/type1_subset.rst
  lib/matplotlib/_type1font.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/dviread.py
  lib/matplotlib/dviread.pyi
  lib/matplotlib/tests/baseline_images/test_backend_pdf/font-bitstream-charter.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/font-dejavusans.pdf
  lib/matplotlib/tests/baseline_images/test_backend_pdf/font-heuristica.pdf
  lib/matplotlib/tests/test_backend_pdf.py
  lib/matplotlib/tests/test_usetex.py
Labels: backend: pdf, topic: text/usetex

#30107 Add example to histogram colorbar on galleries
  galleries/examples/color/colorbar_histogram.py
Labels: Documentation: examples

#30153 Throw exception when alpha is out of bounds
  lib/matplotlib/colors.py
Labels: topic: color/color & colormaps

#30150 Update font-related documentation
  galleries/users_explain/text/fonts.py
Labels: Documentation: user guide

#30180 DOC: expand polar example
  galleries/examples/pie_and_polar_charts/polar_demo.py
Labels: Documentation: examples

#30189 Backport PR #30180 on branch v3.10.x (DOC: expand polar example)
  galleries/examples/pie_and_polar_charts/polar_demo.py
Labels: Documentation: examples

#30191 Simplify RendererAgg::draw_markers buffers
  src/_backend_agg.h
Labels: backend: agg

#30197 DOC: Remove last userdemo example
  galleries/examples/subplots_axes_and_figures/gridspec_nested.py
  galleries/examples/userdemo/README.txt
  galleries/examples/userdemo/demo_gridspec06.py
  galleries/users_explain/axes/legend_guide.py
  pyproject.toml
Labels: Documentation: examples, Documentation: user guide

#30206 Use collections.deque to store animation cache data.
  lib/matplotlib/animation.py
Labels: topic: animation, Maintenance

#30082 Simplify dviFontInfo layout in backend pdf.
  lib/matplotlib/backends/backend_pdf.py
Labels: backend: pdf, Maintenance

#30212 [Doc]: fix bug in release notes for matplotlib v3.5.0 and v3.7.0
  doc/api/prev_api_changes/api_changes_3.5.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.7.0/removals.rst
Labels: Documentation: API

#30213 Backport PR #30212 on branch v3.10.x ([Doc]: fix bug in release notes for matplotlib v3.5.0 and v3.7.0)
  doc/api/prev_api_changes/api_changes_3.5.0/deprecations.rst
  doc/api/prev_api_changes/api_changes_3.7.0/removals.rst
Labels: Documentation: API

#30217 Backport PR #30198 on branch v3.10.x (Implement Path.__deepcopy__ avoiding infinite recursion)
  lib/matplotlib/path.py
  lib/matplotlib/path.pyi
  lib/matplotlib/tests/test_path.py
  lib/matplotlib/transforms.py
Labels: topic: path handling, topic: transforms and scales

#29988 Refactoring: Removing axis parameter from scales
  lib/matplotlib/scale.py
  lib/matplotlib/scale.pyi
Labels: topic: transforms and scales

#30202 Add explicit overloads for pyplot.{show,subplot}
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API, topic: typing

#30199 Add explicit getter / setter overloads for pyplot.{xlim,ylim}
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#30178 Abstract base class for Normalize
  doc/api/colors_api.rst
  lib/matplotlib/colorizer.py
  lib/matplotlib/colorizer.pyi
  lib/matplotlib/colors.py
  lib/matplotlib/colors.pyi
  lib/matplotlib/tests/baseline_images/test_colors/test_norm_abc.png
  lib/matplotlib/tests/test_colors.py
Labels: topic: color/color & colormaps, Documentation: API

#30223 Polar log scale: fix inner patch boundary and spine location
  lib/matplotlib/projections/polar.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_spines.py
Labels: topic: polar, PR: bugfix

#30098 Fix label_outer in the presence of colorbars.
  lib/matplotlib/axes/_base.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_subplots.py
Labels: topic: color/colorbar, topic: color/color & colormaps, topic: axes

#30227 Backport PR #30223 on branch v3.10.x (Polar log scale: fix inner patch boundary and spine location)
  lib/matplotlib/projections/polar.py
  lib/matplotlib/spines.py
  lib/matplotlib/tests/test_polar.py
  lib/matplotlib/tests/test_spines.py
Labels: topic: polar, PR: bugfix

#30228 Backport PR #30098 on branch v3.10.x (Fix label_outer in the presence of colorbars.)
  lib/matplotlib/axes/_base.py
  lib/matplotlib/colorbar.py
  lib/matplotlib/tests/test_subplots.py
Labels: topic: color/colorbar, topic: color/color & colormaps, topic: axes

#30221 BUG: fix future incompatibility with Pillow 13
  lib/matplotlib/backends/_backend_tk.py
  lib/matplotlib/backends/backend_pdf.py
Labels: GUI: tk, backend: pdf, Maintenance
