Repository matplotlib/matplotlib, pull requests merged in 2025-04, with the labels that each got.

#29838 Switch Tfm metrics to TrueType-compatible API.
  doc/api/next_api_changes/deprecations/29817-AL.rst
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/dviread.py
  lib/matplotlib/dviread.pyi
Labels: backend: pdf, topic: text/usetex

#29839 Improve docs regarding plt.close().
  doc/users/faq.rst
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: pyplot API, Documentation: user guide

#29848 Backport PR #29839 on branch v3.10.x (Improve docs regarding plt.close().)
  doc/users/faq.rst
  lib/matplotlib/pyplot.py
Labels: Documentation, topic: pyplot API, Documentation: user guide

#29850 MNT: Use Gcf.destroy(manager) instead of Gcf.destroy(manager.num)
  lib/matplotlib/_pylab_helpers.py
Labels: topic: pyplot API

#29831 Inline _calc_extents_from_path.
  lib/matplotlib/transforms.py
Labels: Maintenance, topic: transforms and scales

#29545 DOC: correctly specify return type of `figaspect`
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/pyplot.py
Labels: status: needs review, topic: pyplot API, topic: figures and subfigures

#29859 Backport PR #29545 on branch v3.10.x (DOC: correctly specify return type of `figaspect`)
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API, topic: figures and subfigures

#29773 DOC: Improve interactive figures guide / Blocking input
  galleries/users_explain/figure/interactive_guide.rst
Labels: Documentation: user guide

#29861 Backport PR #29773 on branch v3.10.x (DOC: Improve interactive figures guide / Blocking input)
  galleries/users_explain/figure/interactive_guide.rst
Labels: Documentation: user guide

#29869 Backport PR #29834 on branch v3.10.1-doc (TST: pin flake8)
  environment.yml
  requirements/testing/flake8.txt
Labels: CI: testing

#29870 doc: a grammatical error in pyplot comment
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#29612 ENH: Support units when specifying the figsize
  doc/users/next_whats_new/figsize_unit.rst
  lib/matplotlib/figure.py
  lib/matplotlib/figure.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_figure.py
Labels: topic: pyplot API, topic: figures and subfigures

#29875 DOC: Improve description of background/bbox handling for Text
  lib/matplotlib/text.py
  lib/matplotlib/text.pyi
Labels: topic: text

#29592 DOC: Remove simple_legend examples from User Demo
  galleries/examples/text_labels_and_annotations/figlegend_demo.py
  galleries/examples/text_labels_and_annotations/legend.py
  galleries/examples/text_labels_and_annotations/legend_demo.py
  galleries/examples/userdemo/simple_legend01.py
  galleries/examples/userdemo/simple_legend02.py
  galleries/users_explain/axes/legend_guide.py
Labels: Documentation: examples, Documentation: user guide

#29803 DOC: Improve FancyArrowPatch docstring
  lib/matplotlib/patches.py
Labels: Documentation: API

#29762 Use ruff instead of flake8 to check PEP8
  .flake8
  .github/workflows/reviewdog.yml
  .pre-commit-config.yaml
  doc/devel/coding_guide.rst
  doc/install/dependencies.rst
  environment.yml
  lib/mpl_toolkits/mplot3d/tests/test_axes3d.py
  pyproject.toml
  requirements/dev/dev-requirements.txt
  requirements/testing/flake8.txt
Labels: topic: mplot3d, Documentation: devdocs

#29745 Use PEP8 style method and function names from pyparsing
  doc/api/next_api_changes/development/29745-DS.rst
  doc/install/dependencies.rst
  environment.yml
  lib/matplotlib/_fontconfig_pattern.py
  lib/matplotlib/_mathtext.py
  pyproject.toml
  requirements/testing/minver.txt
  requirements/testing/mypy.txt
Labels: topic: text/mathtext

#29899 [doc] minimally document what basic units is doing
  galleries/examples/units/basic_units.py
Labels: Documentation: examples

#29903 Backport PR #29899 on branch v3.10.1-doc ([doc] minimally document what basic units is doing)
  galleries/examples/units/basic_units.py
Labels: Documentation: examples

#29902 Backport PR #29899 on branch v3.10.x ([doc] minimally document what basic units is doing)
  galleries/examples/units/basic_units.py
Labels: Documentation: examples

#29905 Remove hatchcolors parameter from draw_quad_mesh
  lib/matplotlib/backend_bases.py
  lib/matplotlib/backend_bases.pyi
  lib/matplotlib/collections.py
  src/_backend_agg.h
  src/_backend_agg_wrapper.cpp
Labels: backend: agg, topic: collections and mappables, topic: canvas and figure manager

#29907 Ensure text metric calculation always uses the text cache
  lib/matplotlib/offsetbox.py
  lib/matplotlib/tests/baseline_images/test_constrainedlayout/constrained_layout10.png
  lib/matplotlib/text.py
  lib/mpl_toolkits/axisartist/axis_artist.py
Labels: topic: text, topic: mpl_toolkit

#29892 FIX: make_image should not modify original array
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: Release critical, topic: images, PR: bugfix

#29911 Bump pre-commit versions
  .pre-commit-config.yaml
  ci/codespell-ignore-words.txt
  lib/matplotlib/figure.py
Labels: topic: figures and subfigures

#29614 add detail to doc string in Line3DCollection
  lib/mpl_toolkits/mplot3d/art3d.py
Labels: topic: mplot3d

#29929 Correct rightparen typo
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext

#29930 Backport PR #29929 on branch v3.10.x (Correct rightparen typo)
  lib/matplotlib/_mathtext.py
Labels: topic: text/mathtext

#29932 Backport PR #29920 on branch v3.10.x (Allow `None` in set_prop_cycle (in type hints))
  lib/matplotlib/axes/_base.py
  lib/matplotlib/axes/_base.pyi
Labels: topic: axes, topic: typing

#29931 Allow Python native sequences in Matplotlib `imsave()`.
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#29923 Fix signature of disabled draw methods
  lib/matplotlib/backend_bases.py
Labels: topic: canvas and figure manager

#29919 Handle MOVETO's, CLOSEPOLY's and empty paths in Path.interpolated
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_path.py
Labels: topic: path handling, PR: bugfix

#29940 Backport PR #29919 on branch v3.10.x (Handle MOVETO's, CLOSEPOLY's and empty paths in Path.interpolated)
  lib/matplotlib/path.py
  lib/matplotlib/tests/test_path.py
Labels: topic: path handling, PR: bugfix

#29943 Fix doc build on 3.10.x
  galleries/users_explain/figure/interactive_guide.rst
Labels: Documentation: user guide

#29945 Doc fixed aspect colorbar
  galleries/users_explain/axes/colorbar_placement.py
  galleries/users_explain/axes/constrainedlayout_guide.py
Labels: Documentation, Documentation: user guide

#29904 API: bump minimum supported version of Python and numpy
  .github/workflows/cibuildwheel.yml
  .github/workflows/mypy-stubtest.yml
  .github/workflows/reviewdog.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  doc/api/next_api_changes/deprecations/29904-tac.rst
  doc/devel/min_dep_policy.rst
  doc/install/dependencies.rst
  environment.yml
  lib/matplotlib/__init__.py
  pyproject.toml
  requirements/testing/extra.txt
  requirements/testing/minver.txt
  tox.ini
Labels: CI: Run cibuildwheel, Documentation: devdocs

#29946 Changed "Autoscaling axes" to "Autoscaling axes on user guide page for issue & closes #29906
  galleries/users_explain/axes/autoscale.py
  galleries/users_explain/axes/index.rst
Labels: Documentation: user guide

#29933 Backport PR #29931 on branch v3.10.x (Allow Python native sequences in Matplotlib `imsave()`.)
  lib/matplotlib/image.py
  lib/matplotlib/tests/test_image.py
Labels: topic: images

#29951 Fix doc build on 3.10.1-doc
  galleries/users_explain/figure/interactive_guide.rst
Labels: Documentation: user guide

#29956 MNT: make signature of GridSpec.update explicit
  lib/matplotlib/_api/__init__.py
  lib/matplotlib/_api/__init__.pyi
  lib/matplotlib/artist.py
  lib/matplotlib/artist.pyi
  lib/matplotlib/gridspec.py
  lib/matplotlib/gridspec.pyi
Labels: topic: geometry manager, API: consistency, Maintenance

#29954 Simplify `colored_line()` implementation in Multicolored lines example
  galleries/examples/lines_bars_and_markers/multicolored_line.py
Labels: Documentation: examples

#29965 Document Axes.spines
  doc/api/axes_api.rst
  lib/matplotlib/axes/_base.py
Labels: topic: axes, Documentation: API

#29969 Backport PR #29965 on branch v3.10.x (Document Axes.spines)
  doc/api/axes_api.rst
  lib/matplotlib/axes/_base.py
Labels: topic: axes, Documentation: API

#29970 TST: Make refcount tests more resilient to Python changes
  lib/matplotlib/tests/test_quiver.py
Labels: topic: testing

#29979 Fix typos: horizonatal -> horizontal
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#29980 Backport PR #29979 on branch v3.10.x (Fix typos: horizonatal -> horizontal)
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
Labels: topic: pyplot API

#29975 DOC: correct signature for animation update function in rain example
  galleries/examples/animation/rain.py
Labels: Documentation: examples

#29974 Backport PR #29970 on branch v3.10.x (TST: Make refcount tests more resilient to Python changes)
  lib/matplotlib/tests/test_quiver.py
Labels: topic: testing

#29972 Improve repr of mathtext internal structures; minor cleanup.
  lib/matplotlib/_mathtext.py
  lib/matplotlib/tests/test_mathtext.py
Labels: topic: text/mathtext, Maintenance

#29983 Backport PR #29975 on branch v3.10.x (DOC: correct signature for animation update function in rain example)
  galleries/examples/animation/rain.py
Labels: Documentation: examples

#29973 Use inline lambdas to define most FT2Font properties.
  src/ft2font_wrapper.cpp
Labels: topic: text/fonts, Maintenance

#29984 FIX: Typing of FuncAnimation
  lib/matplotlib/animation.py
  lib/matplotlib/animation.pyi
Labels: topic: animation, topic: typing

#29370 DOC: Improve NonUniformImage docs
  galleries/examples/images_contours_and_fields/image_nonuniform.py
  lib/matplotlib/image.py
Labels: topic: images, Documentation: examples

#29879 Adding elinestyle property to errorbar
  lib/matplotlib/axes/_axes.py
  lib/matplotlib/axes/_axes.pyi
  lib/matplotlib/pyplot.py
  lib/matplotlib/tests/test_axes.py
Labels: topic: pyplot API

#27576 Fix specifying number of levels with log contour
  doc/users/next_whats_new/log_contour_levels.rst
  lib/matplotlib/contour.py
  lib/matplotlib/tests/test_contour.py
Labels: status: needs review, topic: contour
