Repository matplotlib/matplotlib, pull requests merged in 2025-10, with the labels that each got.

#30590 MNT: Define Protocol for Animation.event_source
  ci/mypy-stubtest-allowlist.txt
  lib/matplotlib/animation.py
  lib/matplotlib/animation.pyi
Labels: API: consistency, topic: animation, topic: typing

#30589 Backport PR #29745: Use PEP8 style method and function names from
  doc/api/next_api_changes/development/29745-DS.rst
  doc/install/dependencies.rst
  environment.yml
  lib/matplotlib/_fontconfig_pattern.py
  lib/matplotlib/_mathtext.py
  pyproject.toml
  requirements/testing/minver.txt
  requirements/testing/mypy.txt
Labels: topic: text/mathtext

#30608 Prepare `CharacterTracker` for advanced font features
  lib/matplotlib/backends/_backend_pdf_ps.py
  lib/matplotlib/backends/backend_pdf.py
  lib/matplotlib/backends/backend_ps.py
Labels: backend: ps, backend: pdf

#30639 DOC: Add note about linear colorbar scale option for TwoSlopeNorm
  galleries/users_explain/colors/colormapnorms.py
Labels: Documentation: user guide
